<?php $cartCount     = (int) $this->cart()->count(); ?>
<?php $wishlistCount = (int) $this->wishlist()->count(); ?>
<?php $categories    = new Category_Model_Category_Collection(); ?>

<div class="navbar navbar-inverse apt-header clearfix">
    <div class="navbar-inner aptd">
        <div class="container-fluid">

            <a class="btn btn-navbar" id="get-mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
            </a>

            <a class="pull-left m-t3 md-visible" href="">
                <img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/logo-beta-top.png'); ?>" alt="AptDecologo" />
            </a>

            <div class="navbar md-visible sm-hidden">
                <ul class="nav pull-right">
                    <?php if ($this->isLoggedIn() && $this->messagebox()->countNewInboxMessages() > 0) : ?>
                        <li>
                            <a href="<?php echo Ikantam_Url::getUrl('user/inbox/index'); ?>">
                                <img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/new-message.gif'); ?>" alt="New Message">
                            </a>
                        </li>
                    <?php endif; ?>

                    <li>
                        <a href="<?php echo Ikantam_Url::getUrl('cart/index'); ?>">
                            <i class="apt-i-basket active"></i>
                            <?php echo ($cartCount <= 20) ? $cartCount : '20+'; ?>
                        </a>
                    </li>

                    <?php if ($this->isLoggedIn()) : ?>
                        <li>
                            <a href="<?php echo Ikantam_Url::getUrl('wishlist/index'); ?>">
                                <i class="apt-i-heart active"></i>
                                <?php echo ($wishlistCount <= 20) ? $wishlistCount : '20+'; ?>
                            </a>
                        </li>
                    <?php endif; ?>
                </ul>
            </div>  

            <div class="descktop-menu">
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li><a class="active" href="<?php echo Ikantam_Url::getUrl('product/add/new'); ?>">Sell my stuff</a></li>
                        <li><a href="<?php echo Ikantam_Url::getUrl('how-it-works/index'); ?>">How it works</a></li>
                        <li><a href="<?php echo Ikantam_Url::getUrl('blog/index'); ?>">Blog</a></li>

                        <?php if ($this->isLoggedIn()) : ?>
                            <li class="user-access pos-rlv">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    My Account <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu apt-dropdown">
                                    <li><a href="<?php echo Ikantam_Url::getUrl('user/inbox/index'); ?>">Inbox</a></li>
                                    <li><a href="<?php echo Ikantam_Url::getUrl('user/purchase/history'); ?>">My purchase history</a></li>
                                    <li><a href="<?php echo Ikantam_Url::getUrl('user/order/list'); ?>">My sold items</a></li>
                                    <li><a href="<?php echo Ikantam_Url::getUrl('user/sale/list'); ?>">All postings</a></li>
                                    <li><a href="<?php echo Ikantam_Url::getUrl('user/view'); ?>">View my profile</a></li>
                                    <li><a href="<?php echo Ikantam_Url::getUrl('user/profile/account'); ?>">Edit my profile</a></li>
                                    <li><a href="<?php echo Ikantam_Url::getUrl('user/payout'); ?>">Payout preferences</a></li>
                                    <li><a href="<?php echo Ikantam_Url::getUrl('user/logout'); ?>">Sign out</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="<?php echo Ikantam_Url::getUrl('user/sale/list'); ?>"> <i class="apt-i-list top-4"></i> My listings</a>
                            </li>
                        <?php else : ?>
                            <li><a href="<?php echo Ikantam_Url::getUrl('user/login'); ?>">Sign in</a></li>
                        <?php endif; ?>

                        <li class="user-access btn-group">
                            <?php if ($this->isLoggedIn() && $this->messagebox()->countNewInboxMessages() > 0) : ?>
                                <a href="<?php echo Ikantam_Url::getUrl('user/inbox/index'); ?>">
                                    <img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/new-message.gif'); ?>" alt="New Message">
                                </a>
                            <?php endif; ?>
                            <a href="<?php echo Ikantam_Url::getUrl('cart/index'); ?>">
                                <i class="apt-i-basket active"></i>
                                <?php echo ($cartCount <= 20) ? $cartCount : '20+'; ?>
                            </a>

                            <?php if ($this->isLoggedIn()) : ?>
                                <a href="<?php echo Ikantam_Url::getUrl('wishlist/index'); ?>">
                                    <i class="apt-i-heart active"></i>
                                    <?php echo ($wishlistCount <= 20) ? $wishlistCount : '20+'; ?>
                                </a>
                            <?php endif; ?>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mobile-menu"> 
                <div class="input-append" id="mobile-search-bar">
                    <form class="apt-form" action="<?php echo Ikantam_Url::getUrl('search/index'); ?>" method="get">
                        <input type="text" id="mobile-searchField" name="query">
                        <button class="btn apt-btn classic add-on" type="submit"><i class="icon-search"></i></button>
                    </form>
                </div>

                <nav id="mobile-secondary-menu">
                    <ul>
                        <?php foreach ($categories->getParents() as $parentCategory) : ?>
                            <li>
                                <a href="<?php echo $this->escape($parentCategory->getCategoryUrl()); ?>">
                                    <?php echo $this->escape($parentCategory->getTitle()); ?>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </nav>

                <nav id="mobile-user-menu">
                    <ul>
                        <li><a href="<?php echo Ikantam_Url::getUrl('product/add/new'); ?>">Sell your stuff</a></li>
                        <li><a href="<?php echo Ikantam_Url::getUrl('how-it-works/index'); ?>">How it works</a></li>
                        <li><a href="<?php echo Ikantam_Url::getUrl('catalog/index'); ?>">Shop</a></li>
                        <li><a href="<?php echo Ikantam_Url::getUrl('cart/index'); ?>">My cart</a></li>
                        <?php if ($this->isLoggedIn()) : ?>
                            <li><a href="<?php echo Ikantam_Url::getUrl('user/logout'); ?>">Sign out</a></li>
                        <?php else : ?>
                            <li><a href="<?php echo Ikantam_Url::getUrl('user/login'); ?>">Sign in</a></li>
                        <?php endif; ?>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

