<?php $parentsCollection = new Category_Model_Category_Collection(); ?>

<div class="container-fluid visible-desktop">
    <nav id="secondary-menu" class="secondary-menu floatedSide" style="margin-top: 10px;">
        <div class="container-fluid">
            <ul>
                <?php foreach ($parentsCollection->getParents() as $parentCategory) : ?>
                    <li>
                        <a href="<?php echo $this->escape($parentCategory->getCategoryUrl()); ?>" class="menu-<?php echo $parentCategory->getPageUrl() ?>">
                            <?php echo $this->escape($parentCategory->getTitle()); ?>
                        </a>
                    </li>
                <?php endforeach; ?>

                <?php foreach ($this->collectionMenu('main_secondary') as $collection): ?>
                    <li>
                        <a href="<?php echo Ikantam_Url::getUrl('catalog/collection/' . $collection->getPageUrl()); ?>" class="menu-<?php echo $collection->getPageUrl()?>">
                            <?php echo $this->escape($collection->getName()); ?>
                        </a>
                    </li>
                <?php endforeach; ?>

                <li class="apt-support m-0">
                    <h4 class="apt-tel"><i class="apt-i-mob top-3"></i> (646) 586-9056 </h4>
                    <a class="apt-email" href="mailto:hello@aptdeco.com">hello@aptdeco.com</a>
                </li>
            </ul>

            <div class="sub-menu-search-bar data-show-targ">
                <button type="button" class="apt-btn transparent pull-right"  data-show-targ="search-bar">
                    <i class="apt-i-search top-3"></i>
                </button>

                <div data-targ="search-bar" class="search-bar-holder hidden">
                    <div class="search-bar span3 pull-right">
                        <form class="apt-form pos-rlv top--8">
                            <div class="control-group m-0">
                                <div class="block-i search">
                                    <input type="text" class="form-field" id="sub-menu-search-field" name="query" placeholder="Search" autocomplete="off"/>
                                </div>
                                <div class="suggestions-list sub-menu-suggestions-list"> 
                                    <ul></ul>
                                </div>
                            </div>
                        </form>
                    </div> 
                </div>

            </div>
        </div>
    </nav>
</div>