<!-- Categories -->
<form id="search-filter" action="<?php echo $this->getUrl('category/index/index', array('id' => $this->category->getId())); ?>" method="get">
	<input type="hidden" name="query" value="<?php echo $this->query; ?>" />
	<input type="hidden" name="order_price" value="" />
	<input type="hidden" name="order_rating" value="" />

	<?php if ($this->categories->getSize() > 0) : ?>
		<!-- Subcategories -->
		<h3><i></i> Styles <a href="javascript:void(0);" onclick="clearStyle();" id="clear-styles" style="visibility:hidden">Clear</a></h3>
		<div class="content categories">
			<ul>
				<?php foreach ($this->categories as $category) : ?>
					<?php $isChecked = in_array($category->getId(), $this->selectedStyles); ?>
					<li>
						<div class="clear-styles check-box<?php if ($isChecked) : ?> checkedBox<?php endif; ?>">
							<input type="checkbox" name="categories[]" value="<?php echo $category->getId(); ?>" <?php if ($isChecked) : ?>checked="checked"<?php endif; ?> />
						</div>
						<?php echo $category->getTitle(); ?>
					</li>
				<?php endforeach; ?>

				</li>
			</ul>
		</div>
		<!-- Subcategories -->
	<?php endif; ?>

	<h3><i></i> Price <a href="javascript:void(0);" onclick="clearPrice();" id="clear-prices" style="visibility:hidden">Clear</a></h3>
	<div class="content categories"> 
		<div class="price-ranger">
			<div id="slider"></div>
			<span class="lft">$</span>
			<input name="min_price" type="text" class="sliderValue svlft" data-index="0" value="<?php echo $this->selectedMinPrice; ?>"/>
			<input name="max_price" type="text" class="sliderValue slidRight" data-index="1" value="<?php echo $this->selectedMaxPrice; ?>" />
			<span class="rights">$</span> </div>
		<div class="clear"></div>
	</div>

	<!-- Conditions -->
	<h3><i></i> Conditions <a href="javascript:void(0);" onclick="clearCondition();" id="clear-conditions" style="visibility:hidden">Clear</a></h3>
	<div class="content categories">
		<ul>
			<li>
				<div class="clear-conditions check-box<?php if (in_array('new', $this->selectedConditions)) : ?> checkedBox<?php endif; ?>">
					<input type="checkbox" name="conditions[]" value="new" <?php if (in_array('new', $this->selectedConditions)) : ?>checked ="checked"<?php endif; ?>>
				</div>
				New
			</li>
            
            <li>
				<div class="clear-conditions check-box<?php if (in_array('like-new', $this->selectedConditions)) : ?> checkedBox<?php endif; ?>">
					<input type="checkbox" name="conditions[]" value="like-new" <?php if (in_array('like-new', $this->selectedConditions)) : ?>checked ="checked"<?php endif; ?>>
				</div>
				Like New
			</li>
            
			<li>
				<div class="clear-conditions check-box<?php if (in_array('good', $this->selectedConditions)) : ?> checkedBox<?php endif; ?>">
					<input type="checkbox" name="conditions[]" value="good" <?php if (in_array('good', $this->selectedConditions)) : ?>checked ="checked"<?php endif; ?>>
				</div>
				Good
			</li>
			<li>
				<div class="clear-conditions check-box<?php if (in_array('satisfactory', $this->selectedConditions)) : ?> checkedBox<?php endif; ?>">
					<input type="checkbox" name="conditions[]" value="satisfactory" <?php if (in_array('satisfactory', $this->selectedConditions)) : ?>checked ="checked"<?php endif; ?>>
				</div>
				Satisfactory
			</li>
			<li>
				<div class="clear-conditions check-box<?php if (in_array('age-worn', $this->selectedConditions)) : ?> checkedBox<?php endif; ?>">
					<input type="checkbox" name="conditions[]" value="age-worn" <?php if (in_array('age-worn', $this->selectedConditions)) : ?>checked ="checked"<?php endif; ?>>
				</div>
				Age-worn
			</li>
		</ul>
	</div>
	<!-- Conditions -->

	<!-- Color -->
	<h3><i></i> Color <a href="javascript:void(0);" onclick="clearColor();" id="clear-colors" style="visibility:hidden">Clear</a></h3>
	<div class="content categories">

		<?php foreach ($this->colors as $color) : ?>
			<?php $isChecked = in_array($color->getId(), $this->selectedColors); ?>

			<div style="cursor:pointer" class="color" title="<?php echo $color->getTitle(); ?>">
				<div class="clear-colors picolors<?php if ($isChecked) : ?> pickedColors<?php endif; ?>" id="pink-1" style="background-color:<?php echo $color->getHex(); ?>">
					<input name="colors[]" type="checkbox" value="<?php echo $color->getId(); ?>" <?php if ($isChecked) : ?> checked="checked"<?php endif; ?> />
				</div>
			</div>
		<?php endforeach; ?>
	</div>
	<div class="clear"></div>

	<!-- Brands -->
	<h3><i></i> Brands <a href="javascript:void(0);" onclick="clearBrand();" id="clear-brands" style="visibility:hidden">Clear</a></h3>

	<div id="scrollbar-1" class="content categories"> 

		<div class="scrollbar">
			<div class="track">
				<div class="thumb">
					<div class="end"></div>
                </div>
            </div>
        </div>

		<div class="viewport">
			<div class="overview">
                <ul>
					<?php foreach ($this->brands as $brand) : ?>
						<?php $isChecked = in_array($brand->getId(), $this->selectedBrands); ?>
						<li>
							<div class="clear-brands check-box<?php if ($isChecked) : ?> checkedBox<?php endif; ?>">
								<input type="checkbox" name="brands[]" value="<?php echo $brand->getId(); ?>" <?php if ($isChecked) : ?>checked="checked"<?php endif; ?> />
							</div>
							<?php echo $brand->getTitle(); ?>
						</li>
					<?php endforeach; ?>
				</ul>
			</div>
		</div>
	</div>
</form>
<!-- Brands -->

<script>

	function updateOrder(element)
	{
		if ($(element).hasClass("defPrices")) {
			$("input[name='order_price']").val("asc");
			$('#order-by-rating').attr("class", "defRating")
			$("input[name='order_rating']").val("");
		} else if ($(element).hasClass("highPrices")) {
			$("input[name='order_price']").val("desc");
			$('#order-by-rating').attr("class", "defRating");
			$("input[name='order_rating']").val("");
		} else if ($(element).hasClass("lowPrices")) {
			$("input[name='order_price']").val("");
			$('#order-by-rating').attr("class", "defRating");
			$("input[name='order_rating']").val("");
		} else if ($(element).hasClass("defRating")) {
			$("input[name='order_rating']").val("asc");
			$('#order-by-price').attr("class", "defPrices");
			$("input[name='order_price']").val("");
		} else if ($(element).hasClass("highRating")) {
			$("input[name='order_rating']").val("desc");
			$('#order-by-price').attr("class", "defPrices");
			$("input[name='order_price']").val("");
		} else if ($(element).hasClass("lowRating")) {
			$("input[name='order_rating']").val("asc");
			$('#order-by-price').attr("class", "defPrices");
			$("input[name='order_price']").val("");
		}
		setTimeout("reloadProducts()", 200);
	}

	jQuery(".clear-styles").on("click", function(){
		var selected = false;
		jQuery(".clear-styles").not($(this)).each(function(){
			if ($(this).hasClass("checkedBox")) {
				selected = true;
			}
		});
		if (!$(this).hasClass("checkedBox")) {
			selected = true;
		}
		if (selected) {
			$("#clear-styles").css("visibility", "visible");
		} else {
			$("#clear-styles").css("visibility", "hidden");
		}
		setTimeout("reloadProducts()", 200);
	});
	
	jQuery(".clear-conditions").on("click", function(){
		var selected = false;
		jQuery(".clear-conditions").not($(this)).each(function(){
			if ($(this).hasClass("checkedBox")) {
				selected = true;
			}
		});
		if (!$(this).hasClass("checkedBox")) {
			selected = true;
		}
		if (selected) {
			$("#clear-conditions").css("visibility", "visible");
		} else {
			$("#clear-conditions").css("visibility", "hidden");
		}
		setTimeout("reloadProducts()", 200);
	});
	
	jQuery(".clear-brands").on("click", function(){
		var selected = false;
		jQuery(".clear-brands").not($(this)).each(function(){
			if ($(this).hasClass("checkedBox")) {
				selected = true;
			}
		});
		if (!$(this).hasClass("checkedBox")) {
			selected = true;
		}
		if (selected) {
			$("#clear-brands").css("visibility", "visible");
		} else {
			$("#clear-brands").css("visibility", "hidden");
		}
		setTimeout("reloadProducts()", 200);
	});
	
	jQuery(".clear-colors").on("click", function(){
		var selected = false;
		jQuery(".clear-colors").not($(this)).each(function(){
			if ($(this).hasClass("pickedColors")) {
				selected = true;
			}
		});
		if (!$(this).hasClass("pickedColors")) {
			selected = true;
		}
		if (selected) {
			$("#clear-colors").css("visibility", "visible");
		} else {
			$("#clear-colors").css("visibility", "hidden");
		}
		setTimeout("reloadProducts()", 200);
	});

	/*===== pick-color =====*/
	$(".pick-color button").click(function () {
		var colorisSelected = $(this).hasClass("selectedColor");
		if (!colorisSelected) {
			$(this).addClass("selectedColor");
			$(this).find(".pick-color button").addClass("selectedColor");
			var dataId = $(this).attr('data-id');
			$(this).parent().find("input[data-id='"+dataId+"']").attr("checked", true);
		} else {
			$(this).removeClass("selectedColor");
			$(this).find(".pick-color button").removeClass("selectedColor");
			var dataId = $(this).attr('data-id');
			$(this).parent().find("input[data-id='"+dataId+"']").attr("checked", false);
		}
		return false;
    });
	
	function reloadProducts()
	{
		currentPage = 1;
		$("#category .gallery-images").remove();
		$("#category .nothing-found").remove();
		loadProducts();
	}
	
	function clearPrice()
	{
		$("#slider").slider({
			range: true,
			min: <?php echo $this->minPrice; ?>,
			max: <?php echo $this->maxPrice; ?>,
			step: 5,
			values: [<?php echo $this->selectedMinPrice; ?>, <?php echo $this->selectedMaxPrice; ?>],
			slide: function(event, ui) {
				for(var i = 0; i < ui.values.length; ++i) {
					$("input.sliderValue[data-index=" + i + "]").val(ui.values[i]);
				}
			}
		});
		jQuery(".price-ranger input[name='min_price']").val("<?php echo $this->selectedMinPrice; ?>");
		jQuery(".price-ranger input[name='max_price']").val("<?php echo $this->selectedMaxPrice; ?>");
		$("#clear-prices").css("visibility", "hidden");
		reloadProducts();
	}

	function clearColor()
	{
		$("input[name='colors[]']").each(function(){
			$(this).attr("checked", false);
			$(this).parent().removeClass("pickedColors");
		});
		$("#clear-colors").css("visibility", "hidden");
		reloadProducts();
	}
	
	function clearBrand()
	{
		$("input[name='brands[]']").each(function(){
			$(this).attr("checked", false);
			$(this).parent().removeClass("checkedBox");
		});
		$("#clear-brands").css("visibility", "hidden");
		reloadProducts();
	}
	
	function clearStyle()
	{
		$("input[name='categories[]']").each(function(){
			$(this).attr("checked", false);
			$(this).parent().removeClass("checkedBox");
		});
		$("#clear-styles").css("visibility", "hidden");
		reloadProducts();
	}
	
	function clearCondition()
	{
		$("input[name='conditions[]']").each(function(){
			$(this).attr("checked", false);
			$(this).parent().removeClass("checkedBox");
		});
		$("#clear-conditions").css("visibility", "hidden");
		reloadProducts();
	}
	
	function clearAll()
	{
		$("input[name='colors[]']").each(function(){
			$(this).attr("checked", false);
			$(this).parent().removeClass("pickedColors");
		});
		$("#clear-colors").css("visibility", "hidden");
		
		$("input[name='brands[]']").each(function(){
			$(this).attr("checked", false);
			$(this).parent().removeClass("checkedBox");
		});
		$("#clear-brands").css("visibility", "hidden");
		
		$("input[name='categories[]']").each(function(){
			$(this).attr("checked", false);
			$(this).parent().removeClass("checkedBox");
		});
		$("#clear-styles").css("visibility", "hidden");
		
		$("input[name='conditions[]']").each(function(){
			$(this).attr("checked", false);
			$(this).parent().removeClass("checkedBox");
		});
		$("#clear-conditions").css("visibility", "hidden");
		
		clearPrice();
	}

	/*===== price-ranger ==========*/
	$("#slider").slider({
        range: true,
        min: <?php echo $this->minPrice; ?>,
        max: <?php echo $this->maxPrice; ?>,
        step: 5,
        values: [<?php echo $this->selectedMinPrice; ?>, <?php echo $this->selectedMaxPrice; ?>],
        slide: function(event, ui) {
            for(var i = 0; i < ui.values.length; ++i) {
                $("input.sliderValue[data-index=" + i + "]").val(ui.values[i]);
            }
        },
		stop: function(event, ui) {
			$("#clear-prices").css("visibility", "visible");
			reloadProducts();
		}
    });

    $("input.sliderValue").change(function() {
        $("#slider").slider("values", $(this).data("index"), $(this).val());
		$("#clear-prices").css("visibility", "visible");
		reloadProducts();
    });

	jQuery(".clear-styles").each(function(){
		if ($(this).hasClass("checkedBox")) {
			$("#clear-styles").css("visibility", "visible");
			return;
		}
	});
	
	jQuery(".clear-brands").each(function(){
		if ($(this).hasClass("checkedBox")) {
			$("#clear-brands").css("visibility", "visible");
			return;
		}
	});
	
	jQuery(".clear-conditions").each(function(){
		if ($(this).hasClass("checkedBox")) {
			$("#clear-conditions").css("visibility", "visible");
			return;
		}
	});
		
	jQuery(".clear-colors").each(function(){
		if ($(this).hasClass("pickedColors")) {
			$("#clear-colors").css("visibility", "visible");
			return;
		}
	});
</script>

<script>
    jQuery(document).ready(function(){
        $('.check-box').click(function() {
            $(this).find(':checkbox').prop('checked', !$(this).find(':checkbox').prop('checked')).trigger('change');
            $(this).toggleClass('checkedBox');
        });
    });
</script>
