	
<div class="container-fluid" id="container">
    <button type="button" class="filter-by hidden-desktop">Filter by <i></i></button>

	<!-- sidebar -->
	<div id="sideWrapper">
		<aside id="sidebar" class="floatedSide">
			<h3 class="catName"><?php echo $this->category->getTitle(); ?></h3>
			<button type="button" class="filter-title cats">Filter by <i></i></button>

			<button type="button" class="closeSidebar"></button>
			<a href="javascript:void(0);" onclick="clearAll();" class="clearall">Clear all</a> 

			<!-- accordion -->
			<div id="accordion">
				<?php echo $this->partial('index/filter_sidebar.phtml', 'category', $this); ?>
			</div>    <!--/ accordion -->

		</aside>  <!--/ sidebar -->
	</div>    <!--/ sidebarWrapper --> 

	<!-- mainContent -->
	<div class="mainContent" id="category">
		<?php /*
		  <!-- sorting -->
		  <div class="sorting">
		  <button class="defPrices">Price         <i></i></button>
		  <button class="defRating">Seller Rating <i></i></button>
		  </div>
		  <!--/ sorting -->
		 */ ?>

		<?php echo $this->partial('search/search_items.phtml', 'default', $this); ?>

	</div>
	<!--/ mainContent -->

</div>
<!--/ container-fluid -->
<div class="clear"></div>

<script>

	var currentPage = 2;
	var inProcess = false;
	
	
	function loadProducts()
	{
		if (inProcess) {
			//return;
		}
		jQuery.ajax({
			type: "get",
			url: "<?php echo $this->getUrl('category/index/ajax', array('id' => $this->category->getId())); ?>" + "/page/" + currentPage,
			data: jQuery("#search-filter").serialize(),
			success: function(data) {
				data = JSON.parse(data);

				if (data.success && data.template) {
					var items = $(data.template);
						
					$(items).each(function(){
						if ($(this).prop('tagName')) {
							$('#category').append($(this));
							$(this).hide().fadeIn(2000);
						}
					});
						
					currentPage++;
				}
			},
			cache: false,  
			timeout: 5000,  
			beforeSend: function()
			{
				inProcess = true;
			},
			error: function()  
			{  
				//alert("error");
			},  
			complete: function()  
			{ 
				inProcess = false;
			} 
		});
	}
	
	

	$(window).scroll(function () {

		if ($(window).scrollTop() + $(window).height() == $(document).height()) {
			
			if (inProcess) {
				return;
			}
			
			loadProducts();

			return false;
		}
	});

</script>