<div class="container-fluid" id="container">
    <div class="apt-container push-header sidebar-main">

        <a href="#show-filter" class="show-mid apt-btn transparent menu-mid">
            <strong>Filter</strong>
            <i class="apt-i-tringle top-3 m-l5"></i>
        </a>

        <aside id="show-filter" class="sidebar cat-sidebar hide-mid">
            <a href="#show-filter" class="show-mid apt-btn transparent menu-mid m-t20">
                <strong>Filter</strong>
                <i class="apt-i-tringle top-3 m-l5"></i>
            </a>

            <?php echo $this->form; ?>
            <div class="m-b30 clearfix">
                <a id="alert-link" href="<?php echo $this->getUrl('product/alert/popup', array('category_id' => $this->category->getId()))?>" class="apt-btn classic show">
                    <span class="text-mute"><i class="apt-i-bell small"></i> Save as product alert</span>
                </a>
            </div>
            <?php if (!Newsletter_Model_Email::isUserSubscribed()): ?>
                <form class="form-subscription apt-form" method="get" action="<?php echo Ikantam_Url::getUrl('newsletter/index/subscribe'); ?>">
                    <div class="field-n-btn widget-sidebar">
                        <h3>
                            Join our mailing list for exclusive offers
                        </h3>                
                        <input name="email" class="form-field" type="text" placeholder="Your email">
                        <button class="apt-btn primary" type="submit">Sign up</button>                
                    </div>  
                </form>          
            <?php endif; ?>
            <div class="widget-sidebar">
                <?php echo $this->thirdPartyWidget('friendbuy.refer_friend'); ?>
            </div>
        </aside>

        <div class="main">
            <div class="sorting">
                <button id="order-by-price" onclick="updateOrder(this)" class="defPrices">Price<i></i></button>
                <button id="order-by-rating" onclick="updateOrder(this)" class="defRating">Seller Rating<i></i></button>
                <button id="order-by-date" onclick="updateOrder(this)"   class="defDate">Newest / Oldest<i></i></button>
                <ul>
                    <li>
                        <input type="checkbox" class="aptdeco-styled-checkbox" id="toggle-only-available">
                        Show only available items
                    </li>
                </ul>
            </div>

            <div class="clear"></div>

            <?php echo $this->partial('search/search_items.phtml', 'default', $this); ?>
        </div>
    </div>
</div>

<div class="clear"></div>

<?php echo $this->partial('index/js.phtml', 'category', $this); ?>

<div class="loader-overlay"></div>
<div class="loader-container"><img src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" /></div>