<?php if ($this->appendHeader === true) : ?>
    <div class="nothing-found">
        <?php /* <p>Looks like there are currently no products available for sale that meet your criteria. 
          If you are looking for something particular make sure to sign up for an <alert>.
          Also try to broaden your filter for better results</p> */ ?>
        <p>Looks like there are currently no products available for sale that meet your criteria. 
            Try to broaden your filter for better results</p>
        <?php /* <h3>Other products</h3> */ ?>
    </div>
<?php endif; ?>

<?php foreach ($this->products as $product) : ?>
    <?php $cache       = Zend_Registry::get('output_cache'); ?>
    <?php $cachePrefix = Zend_Registry::get('config')->cachePrefix; ?>
    <?php $cacheId     = $cachePrefix . 'search_item_' . $product->getId(); ?>

    <?php if (!($cache->start($cacheId))) : ?>

        <?php $seller = $product->getSeller(); ?>

        <div class="gallery-images">




            <div class="item-image">



                <?php if ($product->getIsSold()) : ?>
                    <span class="sale_marker">
                        Sold
                    </span>
                <?php elseif ($product->getExpireAt() || $product->getAvailableTill()) : ?>

                    <?php $expTime = null; ?>
                    <?php $expAt   = (int) $product->getExpireAt(); ?>
                    <?php $aTill   = (int) $product->getAvailableTill(); ?>

                    <?php if ($expAt > 0 && $aTill > 0) : ?>
                        <?php $expTime = ($expAt < $aTill) ? $expAt : $aTill; ?>
                    <?php elseif ($expAt > 0) : ?>
                        <?php $expTime = $expAt; ?>
                    <?php elseif ($aTill > 0) : ?>
                        <?php $expTime = $aTill; ?>
                    <?php endif; ?>

                    <?php if ($expTime) : ?>
                        <?php if ($expTime > strtotime('+2 days') && $expTime < strtotime('+3 days')) : ?>
                            <span class="sale_marker">
                                3 days left
                            </span>
                        <?php elseif ($expTime > strtotime('+1 day') && $expTime < strtotime('+2 days')) : ?>
                            <span class="sale_marker">
                                2 days left
                            </span>
                        <?php elseif ($expTime > time() && $expTime < strtotime('+1 day')) : ?>
                            <span class="sale_marker">
                                1 day left
                            </span>
                        <?php elseif ($expTime < time()) : ?>
                            <span class="sale_marker end">
                                Sale Ended
                            </span>
                        <?php endif; ?>
                    <?php endif; ?>
                <?php endif; ?>

                <a href="<?php echo $product->getProductUrl(); ?>">
                    <img src="<?php echo $product->getMainImage()->getS3Url(360, 300, 'frame'); ?>" alt="<?php echo $product->getTitle(); ?>" />
                </a>
            </div>

            <figcaption>
                <p class="item-price-n-name truncate"> 
                    <a title="<?php echo $product->getTitle(); ?>" href="<?php echo $product->getProductUrl(); ?>"><?php echo $product->getTitle(); ?></a> 
                    <br />
                    <span><?php echo $this->currency($product->getPrice()); ?></span> 
                </p>

                <p class="useRating"> 
                    <a title="<?php echo $seller->getFirstName(); ?>" href="<?php echo $seller->getProfileUrl(); ?>">
                        <img src="<?php echo $seller->getAvatarUrl(); ?>" alt="<?php echo $seller->getFirstName(); ?>" />
                    </a> 

                    <?php for ($i = 0; $i < $seller->getRating(); $i++) : ?>
                        <span class="star"></span>
                    <?php endfor; ?>
                </p>
            </figcaption>
        </div>

        <?php $cache->end(array('search_items'), 86400); ?>
    <?php endif; ?>
<?php endforeach; ?>