<!--welcome-modal-->
<div id="welcome-modal" class="modal apt-modal lrg-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <button type="button" class="apt-btn transparent x-btn" data-dismiss="modal" aria-hidden="true">
        <i class="apt-i-x"></i>
    </button>
    <aside class="modal-banner side">
        <img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/src/popup-banner.jpg'); ?>" alt="Welcome to AptDeco" />
    </aside>

    <div class="apt-modal-header text-center">
        <h2 class="apt-modal-title">Welcome to AptDeco!</h2>
    </div>

    <div class="apt-modal-body">
        <div class="text-center">
            <h3 class="apt-sub-title">4 things before you get started:</h3>
        </div>

        <div class="apt-modal-pane">
            <h3 class="apt-title section">
                <span class="circle primary">1</span>
                <span class="text-primary"><strong>We are a community of  real buyers & sellers</strong></span>
            </h3>
            <p class="text-sm text-dgrey">No more fake listings, spam or scams!</p>
        </div>

        <div class="apt-modal-pane">
            <h3 class="apt-title section">
                <span class="circle primary">2</span>
                <span class="text-primary"><strong>We curate</strong></span>
            </h3>
            <p class="text-sm text-dgrey">Featuring the best pre-owned furniture up to 90% off</p>
        </div>

        <div class="apt-modal-pane">
            <h3 class="apt-title section">
                <span class="circle primary">3</span>
                <span class="text-primary"><strong>We deliver in NYC!</strong></span>
            </h3>
            <p class="text-sm text-dgrey">
                That&rsquo;s right&nbsp;&mdash; we&nbsp;deliver in&nbsp;the 5&nbsp;boroughs of&nbsp;NYC for a&nbsp;flat rate of
                $65! Just pick the dates &amp;&nbsp;times that work for you. If&nbsp;you&rsquo;re a&nbsp;fan of
                manual labor you can also select to&nbsp;pick it&nbsp;up&nbsp;yourself!
            </p>
        </div>

        <div class="apt-modal-pane">
            <h3 class="apt-title section">
                <span class="circle primary">4</span>
                <span class="text-primary"><strong>We provide secure payments</strong></span>
            </h3>
            <p class="text-sm text-dgrey">
                No more awkward cash exchanges
            </p>
        </div>

        <div class="clear"></div>
        <div class="m-0 apt-modal-footer text-center">
            <button class="apt-btn primary lrg close-modal" type="button">
                <strong>Start Shopping</strong>
            </button>
            <button class="apt-btn primary lrg start-selling" type="button">
                <strong>Start Selling</strong>
            </button>
        </div>
    </div>
</div>
<!--welcome-modal-->

<script type="text/javascript">
    (function($, doc) {
        $(doc).ready(function() {

            jQuery("#welcome-modal button.close-modal").on("click", function() {
                window.location.href = "<?php echo Ikantam_Url::getUrl('catalog/index'); ?>";
            });

            jQuery("#welcome-modal button.start-selling").on("click", function() {
                window.location.href = "<?php echo Ikantam_Url::getUrl('product/add/new'); ?>";
            });

            var exptime = jQuery.cookie('exptime');

            if (!exptime || exptime < (new Date().getTime())) {
                setTimeout(showModal, 3000);
                jQuery.cookie('exptime', new Date().getTime() + (1000 * 60 * 60 * 24 * 365), {expires: 365, path: '/'}); //next request after 365 days
            }

            function showModal()
            {
                jQuery("#welcome-modal").modal("toggle");
            }
        });
    })(jQuery, document)
</script>