<script type="text/javascript">

    /**
     * Colors tooltip
     */
    jQuery(document).ready(function(){

        var ttContent = $('<div class="ttip-content"></div>').appendTo('html');

        $('.ttip').hover(function () {
            var tooltipValue = $(this).data('tooltip');
            if (!tooltipValue) {
                ttContent.hide();
            } else {
                ttContent.text(tooltipValue).show();
            }

        }, function () {
            ttContent.hide();
        });


        $(document).mousemove(function (event) {
            var mx = event.pageX - 15,
                my = event.pageY + 20;
            ttContent.css({
                "left": mx + "px",
                "top" : my + "px"
            });
        });
    });


    jQuery(function($){
        /**
         * Displays revenue value
         */
        var delayed = null;
        (function($priceInput, $revenueDisplay, $sellingType, getData){
            var request = function(){
                if (delayed !== null) {
                    clearTimeout(delayed);
                }
                var data = getData();
                delayed = setTimeout(function(){
                    if (data.price) {
                        $.get(
                            "<?php echo Ikantam_Url::getUrl('product/add/get-revenue'); ?>",
                            data,
                            function (response) {
                                if (response.success) {
                                    $revenueDisplay.text(response.revenue);
                                }
                            }
                        );
                    }

                }, 800)
            };
            $priceInput.bind('keyup', request);
            $sellingType.bind('change', request());

        })($('#price'), $('#display_revenue'), $('input[name="selling_type"]'), function(){
            return {
                is_set: +$('#selling_type-set').prop('checked'),
                items_count: parseInt($('#qty').val()),
                price: $('#price').val()
            }
        });

        // switching selling type labels
        var $sellingTypeLabels = $('.selling-type-helper'),
            sellingLabelTexts = {
                individual_item: 'per item',
                set: 'per set'
            };

        $sellingTypeLabels .on('selling_type_change', function(e, type){
            $(this).text(sellingLabelTexts[type]);
        });

        $('input[name="selling_type"]').on('change', function(){
            $sellingTypeLabels.trigger('selling_type_change', $(this).val());
        }).filter(':checked').trigger('change');

        // show/hide shipping fee absorb block
        $('#absorb_shipping').on('ifChanged', function(){
            var $container = $('#absorb_shipping_container'),
                actions = {
                    'false': function(){
                        $container.slideUp();
                    },
                    'true': function(){
                        $container.hide().removeClass('hidden').slideDown();
                    }
                };
            actions[$(this).prop('checked').toString()]();
        });

        <?php if ($this->form->getSubForm('pickup_address')->getElement('absorb_shipping')->getValue()): ?>
        $('#absorb_shipping').iCheck('check');
        <?php endif; ?>

        // highlight error fields
        $('.error').closest('.control-group').addClass('error');

        var $conditionHidden = $(
            '<input>',
            {type: 'hidden', id: 'condition_hidden', name: $('#condition_select').attr('name')}
        );

        $('#condition_select')
            .after($conditionHidden)
            .removeAttr('name')
            .on('change', function(){
                $conditionHidden.val($(this).val()).trigger('change');
            }).trigger('change');

        // "has scratches" affects on condition
        $('#has_scratches').on('ifChanged', function(){
            var $conditionSelect = $('#condition_select');
                actions = {
                'true': function(){
                    $conditionSelect
                        .val('satisfactory')
                        .attr('disabled', true);
                },
                'false': function(){
                    $conditionSelect.removeAttr('disabled');
                }
            };
            actions[$(this).prop('checked').toString()]();
            $conditionSelect.trigger('change');
        }).trigger('ifChanged');

        // jQuery form validation
        iKantam.when('app_config', function(config){
            var vo = $.parseJSON(config.jquery_validation_json),
                isRequired = function(){
                    return iKantam.storage.get('submit_form_action') === 'publish'
                        || !!config.product_published
                        || !!config.validation_show_required;
                };

            $.each(vo.rules, function(name, rules){
                if (rules.required) {
                    vo.rules[name].required = isRequired;
                }
            });

            iKantam.addModule('jquery_validation_object', vo);
        });

        // this will run validation to show required fields
        iKantam.when('product_form_validation', 'app_config', function(fv, config){
            if (!!config.validation_show_required) {
                iKantam.storage.set('submit_form_action', 'publish')
                if (fv.form.valid()) {
                    fv.form.submit();
                }
            }
        });

        // delegate unhighlight errors
        $('.radio-btn').click(function(){
            $elem = $(this).find('input:first');
            iKantam.when('product_form_validation', function(){
                $elem.valid();
            });
        });

        <?php if (!User_Model_Session::instance()->isLoggedIn()): ?>
        iKantam.when('aptdeco_login', function(aptdeco_login){
            var AptdecoLogin = aptdeco_login({
                afterAll: function(AL, result) {
                    $(window).trigger('resize'); //!
                    if (result.success) {
                        $('#form_login_container').remove();
                        $.get('<?php echo Ikantam_Url::getUrl('product/add/user-info'); ?>')
                            .done(function(response){
                                if (response.show_quiz === false) {
                                   iKantam.storage.set('avoid_quiz', true);
                                }
                                if (response.addresses_html) {
                                    $('#addresses_container')
                                        .hide()
                                        .html(response.addresses_html)
                                        .fadeIn();
                                    $(window).trigger('resize'); //!
                                }
                                if (response.addresses) {
                                    pickupAddresses = response.addresses;
                                    if (!$.isEmptyObject(pickupAddresses) && !$('#full_name').val()) {
                                        $('#address_fields').addClass('hidden');
                                    }
                                }
                            });
                    }
                }
            });
            $('#form_login_button').on('click', function(){
                AptdecoLogin.show();
                return false;
            });
        });
        <?php endif; ?>

        // highlight current address
        var $addressIdElement = $('#address_id');
        if ($addressIdElement.val()){
            setPickupAddress($addressIdElement.val());
        }

        $('#addresses_container').on('click', '#add_address', function(){
            var $fieldsContainer = $('#address_fields');

            $fieldsContainer.find('input, select').val('');
            $addressIdElement.val('');
            $fieldsContainer.hide().removeClass('hidden').fadeIn();
        });

    });




</script>

<script type="text/javascript">

var pickupAddresses = JSON.parse('<?php echo str_replace("'", "\'", $this->pickupAddresses); ?>');
$(function() {

    var countriesSource = <?php echo Application_Model_Country_Collection::getAsJQueryAutocompleteSource(); ?>;
    iKantam.addModule('countries', countriesSource);

    $('#manufacturer').autocomplete({
        source: "<?php echo Ikantam_Url::getUrl('manufacturer/async/find'); ?>",
        minLength: 1
    });

    $('#country').autocomplete({
        source: function(request, response) {
        var results = $.ui.autocomplete.filter(countriesSource, request.term);
        response(results.slice(0, 10));
    },
        minLength: 1,
        select: function( event, ui ) {
            $('#country_code').val(ui.item.id);
            $(this).val(ui.item.label);
            return false;
        }
    })
        .after($('<input>', {type: 'hidden', name: $('#country').attr('name'), id: 'country_code'}))
        .attr('name', '')
        .val(function(){
            var val = $(this).val(),
                country = iKantam.firstMatched(countriesSource, function(item){
                    return item.id === val;
                });

            $('#country_code').val(val);
            return country ? country.label : val;
        });


});
jQuery(function() {
    var options = {
        delete_url: '<?php echo $this->imageEndpoints->delete; ?>',
        default_url: '<?php echo $this->imageEndpoints->setAsDefault; ?>',
        rotate_url: '<?php echo $this->imageEndpoints->rotate; ?>',
        upload_url: '<?php echo Ikantam_Url::getUrl('product/add/upload-image', array('product_id' => $this->product->getId())); ?>'
        <?php if (isset($this->additionalImageUploaderOptions)): ?>,
        additionalPostData : <?php echo $this->additionalImageUploaderOptions; ?>
        <?php endif; ?>
    };

    var imagesContainer = jQuery("#photo_container").imagesContainer();


    <?php foreach ($this->productImages as $image) : ?>
    imagesContainer.addImage(
        <?php echo $image->getId(); ?>,
        "<?php echo $image->getS3Url(500, 500, 'crop'); ?>",
        <?php echo $image->getIsMain(); ?>,
        <?php echo $image->getIsLocked(); ?>,
        <?php echo $this->hasLockedImage; ?>,
        options,
        imagesContainer,
        {image_spec: '<?php echo $image->getDescription() ;?>'}
    );
    <?php endforeach; ?>

    jQuery('.new-item-photos').imagesUploader(imagesContainer, options);

});
function saveProduct()
{
    var $form = $("#submit-form");
    $form.data('action', 'save');
    jQuery("#action_type").val("save");
    iKantam.storage.set('submit_form_action', 'save');
    $("#submit-form").submit();

}

function submitProduct()
{
    var $form = $("#submit-form");
    $form.data('action', 'publish');
    jQuery("#action_type").val("publish");
    iKantam.storage.set('submit_form_action', 'publish');

    iKantam.when('product_form_validation', function(){
        $form.submit();
    });
}

//get datepicker
$("#datepicker, #datepicker2, #datepicker3, #datepicker4").datepicker({
    dateFormat: 'M dd, yy',
    showOtherMonths: true,
    selectOtherMonths: true,
    showOn: "both",
    buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
    buttonImageOnly: true,
    prevText: "",
    nextText: "",
    minDate: "<?php echo date('M d, Y', strtotime('+1 day')); ?>",
    maxDate: "<?php echo date('M d, Y', strtotime('+2 years')); ?>"
});
var categories = JSON.parse('<?php echo $this->catsConfig; ?>');
function setPickupAddress(id)
{
    if (!pickupAddresses[id]) {
        return;
    }

    var address = pickupAddresses[id];

    $("input[name=\"pickup_address[full_name]\"]").val(address['full_name']).trigger('change');
    $("input[name=\"pickup_address[address_line1]\"]").val(address['address_line1']);
    $("input[name=\"pickup_address[address_line2]\"]").val(address['address_line2']);
    $("input[name=\"pickup_address[city]\"]").val(address['city']);
    $("input[name=\"pickup_address[state]\"]").val(address['state']);
    $("input[name=\"pickup_address[postal_code]\"]").val(address['postcode']);
    $("input[name=\"pickup_address[country_code]\"]").val(address['country_code']);
    $("input[name=\"pickup_address[telephone_number]\"]").val(address['phone_number']);

    iKantam.when('product_form_validation', $.debounce(function(){
        $('#address_fields input').valid();
    }));

    iKantam.when('countries', function(countries){
        var country = iKantam.firstMatched(countries, function(item){
            return item.id === address['country_code'];
        });
        if (country) {
            //$('#country').val(country.label);
            $('#country_code').val(country.id);
        }
    });

    $('#addresses_container .success').removeClass('success');

    var $addressFields = $('#address_fields');
    if ($addressFields.hasClass('hidden')) {
        $('#address_id').val(id);
    }

    $addressFields.find('input').each(function(){
        var $el = $(this);
        if ($el.val()) {
            $el.closest('.control-group.error').removeClass('error');
        }
    });

    $('#address_' + id).addClass('success');

}

function removeAddress(addressId, element)
{
    jQuery.ajax({
        type: "post",
        url: "<?php echo Ikantam_Url::getUrl('user/profile/delete-address'); ?>",
        data: {id: addressId},
        success: function(data) {
            data = JSON.parse(data);
            if (data.success) {
                $(element).parent().fadeOut('slow');
            }
        },
        cache: false,
        timeout: 5000
    });
}


jQuery(document).ready(function() {
    var subcategoriesElement = jQuery("#subcategory_id");
    var subcategoriesWrapper = subcategoriesElement.parent();
    subcategoriesWrapper.hide();
    function updateSubcategory() {

        var selectedCategory = document.getElementById("category_id").value;
        if (!categories[selectedCategory]) {
            return;
        }
        var category = categories[selectedCategory];
        if (!category.subcategories) {
            return;
        }

        var selectedSubcategory = document.getElementById("subcategory_id").value;
        subcategoriesElement.html("");
        var count = 0;
        $.each(category.subcategories, function(title, id){
            var selected = (selectedSubcategory == id) ? true : false;
            subcategoriesElement.append(jQuery("<option></option>", {"value": id, "text": title, "selected": selected}));
            count++;
        });

        if (count > 1) {
            subcategoriesElement.prepend(jQuery("<option></option>", {"value": '', "text": "-- Select --", "selected": !selectedSubcategory}));
            subcategoriesWrapper.show();
        }
    }
    updateSubcategory();

    $('#category_id').on('change', function(e, isPartial) {
        if (!isPartial) {
            subcategoriesWrapper.hide();
        }

        if (!categories[this.value]) {
            return;
        }
        var category = categories[this.value],
            $isUnder15Pounds = jQuery("input[name='is_under_15_pounds']");

        if (!category.subcategories) {
            return;
        }

        if (category.title !== "Sofas" && category.title !== "Beds") {
            $isUnder15Pounds.closest("li").removeClass("hidden");
        } else {
            $isUnder15Pounds
                .prop('checked', false)
                .trigger('ifChanged')
                .closest("li")
                .addClass("hidden");
        }

        if (isPartial) {
            return;
        }

        subcategoriesElement.html("");
        var count = 0;
        $.each(category.subcategories, function(title, id){
            subcategoriesElement.append(jQuery("<option></option>", {"value": id, "text": title}));
            count++;
        });

        if (count > 1) {
            subcategoriesElement.prepend(jQuery("<option></option>", {"value": '', "text": "-- Select --", "selected": true}));
            subcategoriesWrapper.show();
        }
    }).trigger('change', true);

    // Shows days that fall within our delivery days
    var $datePickerFrom = $('#datepicker'),
        $datePickerTill = $('#datepicker2');


    $('#datepicker, #datepicker2, #is_under_15_pounds').on('change ifChanged', $.debounce(function(){
        $('#delivery_days').addClass('hidden');
        if ($datePickerFrom.val() || $datePickerTill.val()) {
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                data: {
                    from: $datePickerFrom.val() || '+2 days',
                    till: $datePickerTill.val() || '+1 year',
                    sizing: $('#is_under_15_pounds').prop('checked') ? 'small' : 'default'
                },
                url: '<?php echo Ikantam_Url::getUrl('product/delivery/days-fall-within-delivery'); ?>',
                success: function (response) {
                    if (typeof response.count !== 'undefined') {
                        $('#delivery_days').text("There are "+ response.count +" potential delivery days" +
                                " based on your items availability, increase this number by extending the window.")
                            .removeClass('hidden');
                    } else {
                        $('#delivery_days').addClass('hidden');
                    }
                    $(window).trigger('resize'); //!
                }

            });
        }
    }, 750))
        .trigger('change');


    // selected values
    $('input[name="color_id"]:checked').closest('.picolor').addClass('pickedColor');

    <?php $aditional = $this->form->getValue('additional_details'); ?>

    <?php if (!empty($aditional['available_from'])): ?>
    $('#datepicker').datepicker("setDate", "<?php echo $this->dateString($aditional['available_from']); ?>");
    <?php endif; ?>
    <?php if (!empty($aditional['available_till'])): ?>
    $('#datepicker2').datepicker("setDate", "<?php echo $this->dateString($aditional['available_till']); ?>");
    <?php endif; ?>

});
jQuery("#qty").parent()
    .append('<button type="button" class="increase"><i></i></button>')
    .append('<button type="button" class="decrease"><i></i></button>');
jQuery("#product-subcategory").parents(".control-group").hide();
$('#qty').spinIt({
    parent: '.qty-form',
    up: '.increase',
    down: '.decrease',
    min: 1,
    readOnly: true
});



$('input[type="checkbox"]').not('.hidden').iCheck({
    checkboxClass: 'check-box',
    checkedClass: 'checkedBox'
});

</script>