        <div class="aptd-alert success affix-widget"> 
            <i class="apt-icon-warning orange v-top"></i>
            <p>
                <a target="_blank" href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>?q=fees">
                    <span> Is posting on AptDeco free?</span>
                </a>
            </p>
        </div> 