<?php /* @var $alert Product_Model_Alert */ ?>
<?php $alert = $this->alert ?>
<html>
<body>
<!-- alert email -->
<div>
    <!-- header -->
    <div style="height: 28px; padding: 14px; background: #333; margin-bottom: 20px;">
        <a href="<?php echo $this->getUrlWithGaParams(BASE_ORDER_URL); ?>"> <img src="<?php echo BASE_ORDER_URL . '/images/new-logo.png'; ?>" alt="AptDeco" /> </a> <!--/ logo -->
    </div>
    <!-- container -->
    <div style="padding: 20px;">
        <!-- message box -->
        <div style="padding: 23px; background: #f5f5f5; margin-bottom: 27px;">
            <p style="color: #666; font: normal 15px/1.5 Arial, sans-serif; margin: 0; padding: 0;">Hey<?php if ($alert->getUserId()) echo ' ' . $alert->getUser()->getFirstName() ?>,</p>
            <p style="color: #666; font: normal 14px/1.5 Arial, sans-serif; margin: 0; padding: 0;">


                <br/>Here are new arrivals that match your parameters:
                <br />
                <?php echo $alert->renderCriteria()?>
            </p>
            <br/>
            <table style="background: #f9f9f9; width: 100%; margin: 0 0 25px 0; border: 1px solid #DFDEDE; border-collapse: collapse; border-space: 0; vertical-align: top;">
                <?php foreach ($alert->getProductsCollection() as $_product): ?>
                    <?php /* @var $_product Product_Model_Product */ ?>

                    <tr>
                        <td style="background: #fff; width: 30%; padding: 20px; border: 1px solid #DFDEDE;  vertical-align: top;">
                            <img src="<?php echo $this->escape($_product->getMainImage()->getS3Url(360, 300, 'frame')); ?>" alt="product name" style="max-width: 100%; width: 100%; height: auto;" />
                        </td>
                        <td style="width: 70%; padding: 20px; border: 1px solid #DFDEDE; ">
                            <a style="color: #B19046; text-decoration: none; font: normal 14px/100% Arial, sans-serif" href="<?php echo BASE_ORDER_URL . ($_product->getPageUrl() ? ('/catalog/' . $_product->getPageUrl()) : ('/product/view/index/id/' . $_product->getId())) ?>"><?php echo $this->escape($_product->getTitle()) ?></a>
                            <span style="color: #666; font: normal 12px/100% Arial, sans-serif; display: block; margin-top:8px;">
                                <?php echo $this->escape($_product->getSeller()->getFirstName()) ?>
                            </span>
                            <span style="color: #666; font: normal 12px/100% Arial, sans-serif; display: block; margin-top:8px;">
                                <?php echo $this->currency($_product->getPrice()) ?>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding: 10px; background: #f5f5f5; border: 1px solid #f5f5f5; border-bottom: 1px solid #DFDEDE"></td>
                    </tr>
                <?php endforeach ?>
            </table>
            Want to remove the alert?
            <?php if ($alert->getUserId()): ?>
                <span  style="color: #B19046; text-decoration: none; font: normal 12px/100% Arial, sans-serif">Manage your alerts from your <a href="<?php echo $this->getUrlWithGaParams(BASE_ORDER_URL . '/product/alert/index') ?>">dashboard</a></span>
            <?php else: ?>
                <a href="<?php echo $this->getUrlWithGaParams(BASE_ORDER_URL . '/product/alert/delete-by-code/code/' .  $alert->getDeleteCode()) ?>" style="color: #B19046; text-decoration: none; font: normal 12px/100% Arial, sans-serif">Click here</a>
            <?php endif ?>
        </div>
    </div>
</div>
<!-- footer -->
<div style="padding: 0 23px;">
    <span style="color: #b6b6b6; font: normal 12px/100% Arial, sans-serif; display: block; margin-bottom:8px;">
    Thanks,<br/>The AptDeco Team</span>
</div>

</body>
</html>