<table>
    <?php foreach ($this->wishlist->getAllItems() as $item) : ?>
        <?php $_product = $item->getProduct(); ?>
        <tr>
            <td class="cart-thumb">
                <div class="fieldwrap">
                    <div class="check-box checkedBox">
                        <input type="checkbox" checked="checked" name="items[]" value="<?php echo $item->getId(); ?>">
                    </div>
                    <button class="removeitem" onclick="return removeItem(<?php echo $item->getId(); ?>, this)"><i></i></button>
                </div>

                <img style="width:113px;" src="<?php echo $_product->getMainImage()->getS3Url(200, 200, 'crop'); ?>" alt="item" />

                <button class="addTocart" onclick="window.location = '<?php echo $_product->getAddToCartUrl(); ?>'; return false;">
                    <i></i> Add to cart
                </button>
            </td>

            <td>
                <h3><a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getTitle(); ?></a></h3>
                <ul>
                    <li><p>Seller: <a href="<?php echo $_product->getSeller()->getProfileUrl(); ?>"><?php echo $_product->getSeller()->getFirstName(); ?></a></p></li>
                    <li><p>Condition: <?php echo $_product->getConditionLabel(); ?></p></li>
                </ul>
            </td>

            <td class="item-cost">
                <h4><?php echo $this->currency($_product->getPrice()); ?></h4>
            </td>

            <td class="pickup-or-delivery">
                <p>
                    <i></i>
                    <?php if ($_product->getIsDeliveryAvailable() && $_product->getIsPickUpAvailable()) : ?>
                        <span>Pick up by customer</span> or <span>Delivery</span>
                    <?php elseif ($_product->getIsDeliveryAvailable()) : ?>
                        <span>Delivery</span>
                    <?php elseif ($_product->getIsPickUpAvailable()) : ?>
                        <span>Pick up by customer</span>
    <?php endif; ?>
                </p>
            </td>
        </tr>
<?php endforeach; ?>
</table>


<script type="text/javascript">



    function removeItem(id, element)
    {
        jQuery.ajax({
            type: "post",
            url: "<?php echo Ikantam_Url::getUrl('wishlist/index/remove-item'); ?>",
            data: {id: id},
            success: function (data) {
                data = JSON.parse(data);
                if (data.success && data.message) {
                    jQuery("div.alert").html(data.message).show();
                    jQuery(element).parent().parent().parent().remove();
                } else {
                    alert(data.error);
                    jQuery(element).children("i").removeClass("loading");
                    jQuery(element).attr("disabled", false);
                }
            },
            cache: false,
            timeout: 5000,
            beforeSend: function ()
            {
                jQuery(element).children("i").addClass("loading");
                jQuery(element).attr("disabled", true);
            },
            error: function ()
            {
                alert("error");

                jQuery(element).children("i").removeClass("loading");
                jQuery(element).attr("disabled", false);
            },
            complete: function ()
            {

            }
        });
        return false;
    }
</script>