<?php foreach ($this->userAddresses as $address) : ?>
    <div class="aptd-alert address-to-set <?php if ($address->getId() == $this->cart->getShippingAddressId()) : ?>active<?php else : ?>std<?php endif; ?>">
        <ul>
            <li><?php echo $this->escape($address->getFullName()); ?></li>
            <li><?php echo $this->escape($address->getAddressLine1()); ?> <?php echo $this->escape($address->getAddressLine2()); ?></li>
            <li><?php echo $this->escape($address->getCity()); ?>, <?php echo $this->escape($address->getState()); ?> <?php echo $this->escape($address->getPostcode()); ?></li>
            <li><?php echo $this->escape($address->getPhoneNumber()); ?></li>
        </ul>
        <a class="apt-btn classic m-t5 set-address" href="javascript:void(0);" onclick="setAddress(this, <?php echo $address->getId(); ?>)">
            <i class="apt-i-bold-arr white"></i>
            Use this address
        </a>
        <?php /*<a class="stick dark top-right" href="#">Edit</a>*/ ?>
    </div>
<?php endforeach; ?>