<?php //EMAIL_TEMPLATE: RED ?>
<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>

    <body>


    <div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="confirmation-listing">
        <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">
            <div style="padding: 10px 20px;">
                <p style="font-family: Arial, sans-serif; font-size: 12px;color:#333333">Payment Sent - <a href="<?php echo $this->product->getProductUrl(); ?>" style="color: #D85927;text-decoration:none;"><?php echo $this->product->getTitle(); ?></a></p>
            </div>
            <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
                <span>ALERT | Payment Sent</span>
                <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
            </div>
            <div style="margin: 30px 20px;"><a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"><img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/aptdeco-logo.png') ?>" alt="AptDeco" /></a></div>
            <div style="background: #f5f5f5; margin: 0 20px 30px 20px; padding: 20px;">
                Hi <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->seller->getId()));?>" style="color: #D85927;text-decoration:none;"><?php echo $this->seller->getFirstName(); ?></a>
                <br />
                Hooray! Your payout of <?php echo $this->currency($this->payout->getTotalPaid()); ?> has been sent to your bank account for your
                <a href="<?php echo $this->product->getProductUrl(); ?>" style="color: #D85927;text-decoration:none;"><strong style="font-weight: bold;"><?php echo $this->product->getTitle(); ?></strong></a>. Please allow up to 2 business days for your bank to process the deposit.
            </div>
            <div style="background: #fff; margin: 0 20px 0 0; padding: 20px;">

                <p>Below are your payment details and receipt: </p>
                <br />
                <table style="width: 300px;border-collapse:collapse;border-spacing:0;background-color: #f5f5f5; margin: 0 0 20px 0;">
                    <tr style="border-bottom: 1px solid #cccccc">
                        <td style="padding: 10px; ">Selling Price</td>
                        <td style="padding: 10px; text-align: right"><?php echo $this->currency($this->item->getRowTotal()); ?></td>
                    </tr>
                    <tr style="border-bottom: 1px solid #ebebeb">
                        <td style="padding: 10px; ">AptDeco fee</td>
                        <td style="padding: 10px; text-align: right"><?php echo (int)$this->payout->getComission(); ?>%</td>
                    </tr>

                    <?php if ($coverage = $this->payout->getExpenses()): ?>
                    <tr style="border-bottom: 1px solid #ebebeb">
                        <td style="padding: 10px; ">Shipping coverage</td>
                        <td style="padding: 10px; text-align: right"><?php echo $this->currency($coverage * -1); ?></td>
                    </tr>
                    <?php endif; ?>

                    <tr style="background-color: #ebebeb;">
                        <td style="padding: 10px; "><strong style="font-weight: bold;">Your sale proceeds</strong></td>
                        <td style="padding: 10px; text-align: right;"><strong style="font-weight: bold;"><?php echo $this->currency($this->payout->getTotalPaid()); ?></strong></td>
                    </tr>
                </table>
            </div>

            <div style="padding: 0 20px 20px 20px;">
       <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 20px 0 0 0;">
      Cheers, <br />
      The AptDeco Team </span>
                <br />
                <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/order/list')); ?>" style="color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #DA5B29; text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;">
                    <strong style="font-weight: bold;">My Sales History</strong>
                </a>
                <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/payout')); ?>" style="color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #7f7f7f; text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;">
                    <strong style="font-weight: bold;">My Payout Preferences</strong>
                </a>
            </div>
        </div>
    </div>


    </body>
</html>