<div class="mainContent">
    <div class="alert alert-success noti-ce">
        <p style="text-align: center; top: 5px; position: relative; font-size: 15px;">
            Publication period for "<?php echo $this->product->getTitle(); ?>" 
            was extended to <strong><?php echo $this->product->getExpiryDateString('M, d Y'); ?></strong>.
            You will automatically <strong>redirect</strong> to your sale list <strong>after <span id="time-left"><?php echo $this->redirectDelay; ?></span> seconds</strong>.    
        </p>
    </div>
</div>
<div class="clear"></div> 
<script type="text/javascript">
    (function(doc, $) {
        $(doc).ready(function() {
            $time = $('#time-left');
            setInterval(function() {
                var currentTime = parseInt($time.text());
                if (currentTime <= 0)
                {
                    window.location = '<?php echo Ikantam_Url::getUrl('user/sale/list') ?>';
                } else
                {
                    $time.text(currentTime - 1);
                }
            }, 1000);
        });
    })(document, jQuery)
</script>