<?php echo $this->partial('sale_list_js.phtml', 'user', array('till' => $this->till, 'from' => $this->from)); ?>
<?php
$statuses = array(
    'all'             => 'All Statuses',
    'published'       => 'Published',
    'not-published'   => 'Unpublished',
    'rejected'        => 'Rejected',
    'sold'            => 'Sold',
    'need-to-approve' => 'Approval pending'
);
$dates    = array(
    'all'   => 'All',
    'week'  => 'Week',
    'month' => 'Month'
);
?>
<div class="container-fluid" id="container">
    <div class="apt-container sidebar-main">
        <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>
        <div class="main all-posts">
            <header class="page-heading clearfix">
                <h2 class="pull-left"> <a href="#show-sidebar" class="show-mid apt-btn pull-left menu-mid"> <i class="ico-bars"></i></a> All postings</h2>
                <div class="pull-right">
                    <a href="javascript:void(0)" class="apt-btn classic m-r10" onclick="showSharePopup('<?php echo $this->getUrl('user/share/popup', array('is_user' => 1)) ?>')"><i class="ico-share top-2"></i> <span class="sm-tbl-hidden">Share my profile</span></a>
                    <a href="<?php echo $this->getUrl('product/add/new') ?>" class="apt-btn primary"><strong>+</strong> <span class="sm-tbl-hidden">Add new item</span></a> </div>
            </header>
            <div class="toolbar m-b20">
                <form method="get" name="filters" id="filterForm"  class="apt-form" action="<?php echo Ikantam_Url::getUrl('user/sale/list'); ?>">

                    <div  class="hidden">
                        <select name="status" id="status">
                            <?php foreach ($statuses as $_value => $_label): ?>
                                <option value="<?php echo $_value ?>" <?php if ($this->status == $_value): ?> selected="selected" <?php endif ?>><?php echo $_label ?></option>
                            <?php endforeach ?>
                        </select>
                        <select name="category" id="category">
                            <option value="0">All Categories</option>
                            <?php foreach ($this->categories as $_category): ?>
                                <?php /* @var $_category Category_Model_Category  */ ?>
                                <option value="<?php echo $_category->getId() ?>" <?php if ($this->currentCategory->getId() == $_category->getId()): ?> selected="selected" <?php endif ?>><?php echo $_category->getTitle() ?></option>
                            <?php endforeach ?>
                        </select>
                        <select name="date" id="date">
                            <?php foreach ($dates as $_value => $_label): ?>
                                <option value="<?php echo $_value ?>" <?php if ($this->date == $_value): ?> selected="selected" <?php endif ?>><?php echo $_label ?></option>
                            <?php endforeach ?>
                        </select>
                    </div>

                    <div class="control-group pull-left">
                        <div class="form-group" >
                            <input type="text" name="search" id="filter-items" autocomplete="off"  class="form-field block-field field-i search right" />
                            <div id="scrollbar-5" class="cityParent">

                                <div class="scrollbar">
                                    <div class="track">
                                        <div class="thumb">
                                            <div class="end"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="viewport">
                                    <div id="mysales-items" class="overview">
                                        <ul id="suggestions-list">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <ul class="inline">
                            <li class="pos-rlv"> <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="selected-title"> <?php echo $this->currentCategory->getTitle() ? $this->currentCategory->getTitle() : 'All Categories' ?> </span><span class="caret top-7 pos-rlv"></span></a>
                                <ul class="dropdown-menu apt-dropdown">
                                    <li><a href="javascript:void(0)"  onclick="applyFilter('category', '0')">All Categories</a></li>
                                    <?php foreach ($this->categories as $category): ?>
                                        <li><a href="javascript:void(0)"  onclick="applyFilter('category', '<?php echo $category->getId() ?>')" ><?php echo $category->getTitle(); ?></a></li>
                                    <?php endforeach ?>
                                </ul>
                            </li>
                            <li class="m-r10  pos-rlv"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> <?php echo $statuses[$this->status] ?> <span class="caret top-7 pos-rlv"></span></a>
                                <ul class="dropdown-menu apt-dropdown">
                                    <li class="text-center"><a href="javascript:void()"><?php echo $statuses[$this->status] ?></a></li>
                                    <li class="divider"></li>
                                    <?php foreach ($statuses as $_value => $_label): ?>
                                        <li><a href="javascript:void()"  onclick="applyFilter('status', '<?php echo $_value ?>')"><?php echo $_label ?></a></li>
                                    <?php endforeach ?>
                                </ul>
                            </li>
                            <li class="m-r10 pos-rlv">
                                <div class="sm-tbl-visible"> <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown"> <?php echo $dates[$this->date] ?> <span class="caret top-7 pos-rlv"></span></a>
                                    <ul class="dropdown-menu apt-dropdown">
                                        <?php foreach ($dates as $_value => $_label): ?>
                                            <?php if ($this->date != $_value): ?>
                                                <li><a class="<?php echo $this->date == $_value ? 'sm-tbl-hidden' : 'text-primary sm-tbl-hidden dark' ?>"  href="javascript:void()" onclick="applyFilter('date', '<?php echo $_value ?>')"><strong><?php echo $_label ?></strong></a></li>
                                            <?php endif ?>
                                        <?php endforeach ?>
                                    </ul>
                                </div>
                            </li>
                            <?php foreach ($dates as $_value => $_label): ?>
                                <li><a class="<?php echo $this->date == $_value ? 'sm-tbl-hidden' : 'text-primary sm-tbl-hidden dark' ?>"   href="javascript:void()" onclick="applyFilter('date', '<?php echo $_value ?>')"><strong><?php echo $_label ?></strong></a></li>
                            <?php endforeach ?>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="clear"></div>

            <?php echo $this->partial('sale/order_items.phtml', 'user', $this); ?>

            <?php foreach ($this->products as $product): ?>
                <?php /* @var $product Product_Model_Product */ ?>
                <div class="posted-product">
                    <div class="product-image"><img style="width:113px !important; max-height: 113px !important;" src="<?php echo $product->getMainImageUrl(); ?>" alt="<?php echo $product->getTitle(); ?>" /></div>
                    <div class="added-post-wrap">
                        <div class="added-post-desc">
                            <h3><a href="<?php echo $product->getProductUrl() ?>"><?php echo $this->escape($product->getTitle()) ?></a></h3>
                            <ul class="h-list">
                                <li><?php echo $this->categoryObj->getById($product->getCategoryId())->getTitle(); ?></li>
                                <li>
                                    <?php if ($product->getIsPickUpAvailable() == '1' && $product->getIsDeliveryAvailable() == '1'): ?>
                                        Pick up by customer or Delivery
                                    <?php elseif ($product->getIsPickUpAvailable() == '1'): ?>
                                        Pick up by customer
                                    <?php elseif ($product->getIsDeliveryAvailable() == '1'): ?>
                                        Delivery
                                    <?php endif; ?>
                                </li>
                                <li><?php echo $this->currency($product->getPrice()); ?></li>
                                <?php //if($product->getIsPublished()) : ?>
                                <?php if ($product->getExpiryDateString() && !$product->isExpired()): ?>
                                    <li id="date<?php echo $product->getId(); ?>">
                                        Sale period expires on <?php echo $product->getExpiryDateString(); ?>.

                                        <?php if ($product->isAvailableToExtendExpirationPeriod()): ?>
                                            <div>
                                                <a class="extend-publication dark-orange" href="#" data-id="<?php echo $product->getId(); ?>">
                                                    Extend sale period by 30 days
                                                </a>
                                            </div>
                                        <?php endif; ?>

                                    </li>
                                <?php endif; ?>

                                <?php if ($product->isExpired() && $product->getExpireAt() > 0): ?>
                                    <li id="date<?php echo $product->getId(); ?>">
                                        Sale period expired on <?php echo $product->getExpiryDateString(); ?>.
                                    </li>
                                <?php endif; ?>
                                <?php //endif; ?>
                            </ul>
                            <div class="clear"></div>

                            <?php if ($product->getIsPublished()): ?>
                                <ul class="inline">
                                    <li title="Clicks shows number of views">
                                        <i class="apt-i-view top-2"></i>
                                        <?php echo $product->popularity(Product_Model_Popularity::TYPE_VIEW)->getCount(0); ?>
                                    </li>
                                    <li title="Added to cart shows number of buyers that have added to the cart, but haven't completed a purchase">
                                        <i class="apt-i-shopping-cart"></i>
                                        <?php echo $product->popularity(Product_Model_Popularity::TYPE_CART)->getCount(0); ?>
                                    </li>
                                    <li title="Added to wishlist shows number of buyers that are following the item, but haven't added to cart or completed a purchase">
                                        <i class="apt-i-heart"></i>
                                        <?php echo $product->popularity(Product_Model_Popularity::TYPE_WISHLIST)->getCount(0); ?>
                                    </li>
                                </ul>
                            <?php endif; ?>
                        </div>
                        <div class="added-post-status">
                            <?php if ($product->getIsSold()) : ?>
                                <i class="ico-cross"></i>
                                Sold
                            <?php elseif ($product->getIsApproved() == -1): ?>
                                <i class="ico-rejected"></i>
                                Rejected
                            <?php elseif ($product->getIsApproved() == 0 && $product->getIsPublished() == 0): ?>
                                <i class="ico-saved"></i>
                                Saved
                            <?php elseif ($product->getIsApproved() == 0 && $product->getIsPublished() == 1): ?>
                                <i class="ico-wheel"></i>
                                Approval pending
                            <?php elseif ($product->getIsPublished() == 1): ?>
                                <i class="ico-checkmark"></i>
                                Published
                            <?php elseif ($product->getIsPublished() == 0): ?>
                                <i class="ico-cross"></i>
                                Unpublished
                            <?php endif; ?>
                        </div>
                        <div class="added-post-action">
                            <?php if (!$product->getIsSold()): ?>
                                <div class="control-group">
                                    <div class="block-fields pull-right">
                                        <select name="actions"
                                                onchange="selectMenu(this)"
                                                class="form-field filled"
                                                data-product_id="<?php echo $product->getId(); ?>"
                                                data-price="<?php echo round($product->getPrice(), 4) ?>"
                                                data-is_published="<?php echo $product->getIsPublished() ?>"
                                                data-is_approved="<?php echo $product->getIsApproved() ?>"
                                                data-parent-category="<?php echo $this->categoryObj->getParent()->getTitle(); ?>"
                                                data-original-price="<?php echo round($product->getOriginalPrice(), 4); ?>"
                                                >
                                            <option class="placeholder" value="">Select Action</option>
                                            <?php if ($product->getIsApproved() == -1): ?>
                                                <option value="resubmit">Resubmit</option>
                                            <?php else: ?>
                                                <?php if ($product->getIsPublished() == 1): ?>
                                                    <option value="unpublish">Unpublish</option>
                                                <?php else: ?>
                                                    <option  value="publish">Publish</option>
                                                <?php endif ?>
                                                <?php if ($product->getIsApproved() == 1): ?>
                                                    <option  value="edit-price">Edit price</option>
                                                <?php endif ?>
                                            <?php endif ?>
                                            <option data-url="<?php echo $product->getEditUrl(); ?>" value="edit">Edit listing</option>
                                            <?php /* <option data-url="<?php echo Ikantam_Url::getUrl('user/sales/delete-item', array('id' => $product->getId())); ?>" value="delete">Remove Listing</option> */ ?>
                                        </select>
                                    </div>
                                </div>
                            <?php else: ?>
                                <?php /* <a href="<?php echo Ikantam_Url::getUrl('user/sales/delete-item', array('id' => $product->getId())); ?>"  class="apt-btn classic remove-listing">Remove Listing</a> */ ?>
                            <?php endif; ?>

                        </div>
                    </div>
                </div>
            <?php endforeach; ?>

            <!-- pagination -->
            <div class="pagination pagination-right">
                <?php echo $this->paginationControl($this->paginator, null, 'purchase_sales_pagination_control.phtml', array('params' => $this->paginationParams)); ?>
            </div>
            <!--/ pagination -->
            <div class="callout-box highlight m-t30 text-center product-alert" style="cursor: pointer" onclick="showSharePopup('<?php echo $this->getUrl('user/share/popup', array('is_user' => 1)) ?>')">
                <div class="center-it clearfix">
                    <div class="ico-col"><i class="apt-i-share"></i></div>
                    <div class="cont-col">
                        <h2 class="pos-rlv top-7">Sell faster by sharing your profile with friends!</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="clear"></div>
<div id="edit-price" class="modal apt-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <button type="button" class="apt-btn transparent x-btn" data-dismiss="modal" aria-hidden="true"> <i class="apt-i-x"></i> </button>
    <h2>Edit price</h2>
    <form class="m-0" action="<?php echo $this->getUrl('user/sales/change-price') ?>" method="post">
        <div class="apt-form apt-v-last">
            <div class="control-group">
                <div class="form-group ">
                    <div class="form-field-block pull-left">
                        <input type="hidden" name="product_id" />
                        <div class="pricing">
                            <span class="form-label-inner">Listing price*</span>
                            <div class="input-prepend pull-left m-r10">
                                <cite class="add-on">$</cite>
                                <input class="form-field m-0" type="text" name="price" id="price">
                            </div>
                            <span class="text-mute p-t12 show">per item</span>
                        </div>
                        <div class="pricing pricing-revenue">
                            <span class="form-label-inner">Your revenue</span>
                            <p class="p-t11" id="revenue-holder">
                                <strong class="text-std" id="revenue">0.00</strong>
                                <span class="text-mute">per item</span>
                            </p>
                        </div>
                    </div>
                    <small style="color:#ff6666 !important;" id="err_helper" class="field-helper hidden"></small>
                </div>
            </div>
        </div>

        <div class="apt-modal-action apt-modal-footer text-right">
            <button type="submit" class="apt-btn prime lrg">Confirm new price</button>
            <a class="text-sm text-mute text-ul" href="" data-dismiss="modal" aria-hidden="true">Cancel</a>
        </div>
    </form>
</div>
<div class="loader-overlay"></div>
<div class="loader-container"><img src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" /></div>
<script>
    //$("#datepicker4,#datepicker5").hide();
    $("#datepicker4,#datepicker5").mask('99/99/9999');

    $("#datepicker4").datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        showOn: "both",
        buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
        buttonImageOnly: true,
        prevText: "",
        nextText: "",
        onSelect: function(dateText, inst) {
            //$("#datepicker4").show();
            filters.submit();
            //$(".filter-myitems .ui-datepicker-trigger").css('top','-3px');
        }
    });

    $("#datepicker5").datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        showOn: "both",
        buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
        buttonImageOnly: true,
        prevText: "",
        nextText: "",
        onSelect: function(dateText, inst) {
            //$("#datepicker5").show();
            filters.submit();
            //$(".filter-myitems .ui-datepicker-trigger").css('top','-3px');
        }
    });
<?php if (isset($this->discountProduct)): ?>
        (function() {
            var oldPrice = '<?php echo $this->currency($this->discountProduct->getPrice()); ?>',
                    newPrice = '<?php echo $this->currency($this->discountProduct->getPercentOfPrice(100 - $this->discountPercent)); ?>';

            iKantam.putToCallQueue('showModal', [
                null,
                'Please confirm the price changes.',
                'Price will be changed from ' + oldPrice + ' to ' + newPrice + ' (<?php echo $this->discountPercent; ?>% discount)',
                function($modal) {
                    $modal.find('#product-name').text('<?php echo $this->discountProduct->getTitle(); ?>');
                    $modal.find('#modal-image').attr('src', '<?php echo $this->discountProduct->getMainImageUrl('autocomplete'); ?>');
                    $modal.find('#modal-accept-button').on('click', function() {
                        iKantam.redirect(
                                '<?php echo Ikantam_Url::getUrl('product/edit/reduce-price'); ?>',
                                {
                                    id: <?php echo $this->discountProduct->getId(); ?>,
                                    signature: '<?php echo $this->discountProduct->getHashSignature(); ?>',
                                    percent: <?php echo $this->discountPercent; ?>
                                }
                        );
                    }).text('Set price of ' + newPrice);
                }
            ]);
        })();

<?php endif; ?>

    function applyFilter(selectId, value) {
        $('#' + selectId).val(value);
        $('#filterForm').submit();
    }

    function selectMenu(select) {
        $select = $(select);
        $selectedOption = $select.children(':selected');
        switch ($select.val()) {
            case 'publish':
                if (updateProduct($select.data('product_id'), 'publish')) {
                    if ($select.data('is_approved') == '1') {
                        text = '<i class="ico-checkmark"></i> Published'
                    } else {
                        text = '<i class="ico-wheel"></i> Approval pending';
                    }
                    $select.closest('.posted-product').find('.added-post-status').html(text);
                    $selectedOption.val('unpublish').text('Unpublish');
                } else {
                    iKantam.when('aptdeco_overlay', function(ov) {
                        ov.show();
                    });
                    iKantam.redirect(iKantam.BASE_URL + 'product/edit/' + $select.data('product_id') + '?publish=1');
                }
                break;

            case 'unpublish':
                if (updateProduct($select.data('product_id'), 'unpublish')) {
                    if ($select.data('is_approved') == '1') {
                        text = '<i class="ico-cross"></i> Unpublished';
                    } else {
                        text = '<i class="ico-saved"></i> Saved';
                    }
                    $select.closest('.posted-product').find('.added-post-status').html(text);
                    $selectedOption.val('publish').text('Publish');
                }
                break;
            case 'resubmit':
                if (updateProduct($select.data('product_id'), 'resubmit')) {
                    if ($select.data('is_published') == '1') {
                        text = '<i class="ico-wheel"></i> Approval pending';
                        $selectedOption.val('unpublish').text('Unpublish');
                    } else {
                        text = '<i class="ico-saved"></i> Saved';
                        $selectedOption.val('publish').text('Publish');
                    }
                    $select.closest('.posted-product').find('.added-post-status').html(text);

                }
                break;

            case 'edit':
                window.location.href = $selectedOption.data('url');
                break;

            case 'delete':
                if (confirm('Are you sure?')) {
                    window.location.href = $selectedOption.data('url');
                }
                break;

            case 'edit-price':
                $('#edit-price input[name="product_id"]').val($select.data('product_id'));
                $('#edit-price input[name="price"]')
                        .val($select.data('price'))
                        .data('max_value', $select.data('original-price'));
                $('#price').data('min_value', (function(category) {
                    return (category === 'décor' || category === 'decor') ? 1 : 50;
                })($select.data('parent-category').toLowerCase())).trigger('keyup');
                $('#edit-price').modal();
                break;

        }
        $selectedOption.prop('selected', false);
    }

    $(document).ready(function() {
        $('.remove-listing').on('click', function() {
            if (!confirm('Are you sure?')) {
                return false;
            }
        })
    });

    var revenueHolderEl = $("#revenue-holder");
    var revenueEl = $("#revenue");

    jQuery("#price").on('keyup', $.debounce(function() {
        if (jQuery(this).val()) {
            jQuery.ajax({
                type: "post",
                url: "<?php echo Ikantam_Url::getUrl('product/add/get-revenue'); ?>",
                data: {price: jQuery(this).val()},
                success: function(data) {
                    if (data.success) {
                        revenueEl.html(data.revenue);
                        revenueHolderEl.removeClass("hidden");
                    } else {
                        revenueEl.html("");
                        revenueHolderEl.addClass("hidden");
                    }
                },
                cache: false,
                timeout: 5000,
                error: function() {
                    revenueEl.html("");
                    revenueHolderEl.addClass("hidden");
                }
            });
        } else {
            revenueEl.html("");
            revenueHolderEl.addClass("hidden");
        }

        var $price = $(this),
                $submit = $price.closest('form').find('button[type="submit"]'),
                $controlGroup = $price.closest('.control-group'),
                minValue = $price.data('min_value'),
                maxValue = $price.data('max_value'),
                value = $price.val(),
                $errHelper = $('#err_helper'),
                validators = [
                    function() {
                        if (value < minValue) {
                            return 'Price must be greater than or equal to $' + minValue;
                        }
                        return false;
                    },
                    function() {
                        if (maxValue && value > maxValue) {
                            return 'Price must be less than or equal to original price $' + maxValue;
                        }
                        return false;
                    },
                    function() {
                        if (!$.isNumeric(value)) {
                            return 'Invalid value specified.'
                        }
                        return false;
                    }
                ],
                error = $.grep($.map(validators, function(V) {
                    return V();
                }), function(result) {
                    return result;
                }).join(' ');


        if (error) {
            $errHelper.text(error);
            $controlGroup.addClass('error');
            $errHelper.removeClass('hidden');
            $submit.attr('disabled', true);

        } else {
            $controlGroup.removeClass('error');
            $errHelper.addClass('hidden');
            $submit.removeAttr('disabled');
        }

    }, 500));

    function showOverlay() {
        $(".loader-overlay, .loader-container").show();
    }

    function hideOverlay() {
        $(".loader-overlay, .loader-container").fadeOut('slow');
    }

</script>