<?php foreach ($this->transactionsNeedConfirmation as $orderItem): ?>
    <?php
    /* @var $product Product_Model_Product */
    $product = $orderItem->getProduct();
    ?>
    <div class="posted-product">
        <div class="product-image"><img style="width:113px !important; max-height: 113px !important;" src="<?php echo $product->getMainImageUrl(); ?>" alt="<?php echo $product->getTitle(); ?>" /></div>
        <div class="added-post-wrap">
            <div class="added-post-desc">
                <h3><a href="<?php echo $product->getProductUrl()?>"><?php echo $this->escape($product->getTitle())?></a></h3>
                <ul class="h-list">
                    <li><?php echo $this->categoryObj->getById($product->getCategoryId())->getTitle(); ?></li>
                    <li>
                        <?php if ($product->getIsPickUpAvailable() == '1' && $product->getIsDeliveryAvailable() == '1'): ?>
                            Pick up by customer or Delivery
                        <?php elseif ($product->getIsPickUpAvailable() == '1'): ?>
                            Pick up by customer
                        <?php elseif ($product->getIsDeliveryAvailable() == '1'): ?>
                            Delivery
                        <?php endif; ?>
                    </li>
                    <li><?php echo $this->currency($product->getPrice()); ?></li>
                    <?php //if($product->getIsPublished()) : ?>

                </ul>
                <div class="clear"></div>

                <?php if ($product->getIsPublished()): ?>
                    <ul class="inline">
                        <li title="Clicks shows number of views">
                            <i class="apt-i-view top-2"></i>
                            <?php echo $product->popularity(Product_Model_Popularity::TYPE_VIEW)->getCount(0); ?>
                        </li>
                        <li title="Added to cart shows number of buyers that have added to the cart, but haven't completed a purchase">
                            <i class="apt-i-shopping-cart"></i>
                            <?php echo $product->popularity(Product_Model_Popularity::TYPE_CART)->getCount(0); ?>
                        </li>
                        <li title="Added to wishlist shows number of buyers that are following the item, but haven't added to cart or completed a purchase">
                            <i class="apt-i-heart"></i>
                            <?php echo $product->popularity(Product_Model_Popularity::TYPE_WISHLIST)->getCount(0); ?>
                        </li>
                    </ul>
                <?php endif; ?>
            </div>
            <div class="added-post-status">
                    <i class="ico-wheel"></i>
                    Confirmation Pending
            </div>
            <div class="added-post-action">

                    <div class="control-group">
                        <div class="block-fields pull-right">
                            <button
                                onclick="window.location = '<?php echo Ikantam_Url::getUrl('user/order/order', array('id' => $orderItem->getId()));; ?>'"
                                class="publish" type="button">Confirm/Decline Request</button>
                        </div>
                    </div>


            </div>
        </div>
    </div>
<?php endforeach; ?>