<div class="container-fluid" id="container">
    
    <div class="mainContent">
            <button id='addTitleProductText' class='btn btn-primary'>Insert 'Item name' in SMS Text</button>
            <button id='addFirstNameText' class='btn btn-primary'>Insert 'First name' in SMS Text</button>
        <?php echo $this->form; ?>
    </div>
    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>
</div>
<script>
    $(function(){
        $('#addTitleProductText').on('click', function(){
            var currentText = $('#smsText').val();
           $('#smsText').val(currentText+' [item name] '); 
        })
        
        $('#addFirstNameText').on('click', function(){
            var currentText = $('#smsText').val();
           $('#smsText').val(currentText+' [first name] '); 
        }) 
    });
</script>


