<div class="container-fluid" id="container">
    
    <div class="mainContent">
        <table class="table table-bordered">
            <tr class="success"><th>ID</th><th>Information</th><th>Action</th></tr>
                <?php foreach($this->collections as $collection): ?>  
                <?php $collection= $collection->getData(); ?>
                <tr>
                    <td><?php echo $collection['id'] ?></td>
                    <td><?php echo $collection['description'] ?></td>
                    <td>
                        <a class="btn btn-warning" href="<?php echo "/admin/sms-notification/edit/id/".$collection['id'] ?>">Edit Text SMS</a>
                    </td>
                </tr>               
            <?php endforeach; ?>
        </table>
    </div>
    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>
</div>


