<!-- container -->
<div class="container-fluid" id="container"> 

	<!-- checkout -->
	<div class="checkout">
		<h2>Wishlist</h2>

		<div class="alert" style="margin-bottom:10px;">
			<p style="padding:0;margin:0;">You have no items in your wishlist.</p>
			<?php foreach ($this->session->getMessages('error') as $message) : ?>
				<p style="padding:0;margin:0;"><?php echo $message; ?></p>
			<?php endforeach; ?>
		</div>

		<button class="proceed btn pull-right" onclick="window.location = '<?php echo Ikantam_Url::getUrl(''); ?>'">
			Continue Shopping<i></i> 
		</button>

	</div>
	<!--/ checkout -->

</div>
<!--/ container -->

<div class="clear"></div>

