<!-- container -->
<div class="container-fluid" id="container"> 

	<!-- checkout -->
	<div class="checkout">
		<h2>Wishlist</h2>

		<div id="checkall">
				<div class="check-box checkedBox" onclick="checkBoxes(this)">
					<input type="checkbox" checked="checked">
				</div> 
				<span class="selct">Unselect all</span>
			</div>
	
	
		<?php if ($this->session->getMessages('error') || $this->session->getMessages('success')) : ?>
				<div class="alert" style="font-size: 1em; padding: 4px 8px 8px 8px;">
					<?php foreach ($this->session->getMessages('error') as $message) : ?>
						<p style="padding:0;margin:0;"><?php echo $message; ?></p>
					<?php endforeach; ?>

					<?php foreach ($this->session->getMessages('success') as $message) : ?>
						<p style="padding:0;margin:0;"><?php echo $message; ?></p>
					<?php endforeach; ?>
				</div>
			<?php else : ?>
				<div class="alert" style="display: none;"></div>
			<?php endif; ?>

		<form id="wishlist-form" action="<?php echo Ikantam_Url::getUrl('wishlist/remove-product/post'); ?>" method="post">
			<?php echo $this->partial('wishlist_items.phtml', 'product', array('wishlist' => $this->wishlist)); ?>
		</form>
	
		<a id="remove-item" href="javascript:void(0);" onclick="$('#wishlist-form').submit();return false;"><i></i></a>
		<button  onclick="$('#wishlist-form').attr('action', '<?php echo Ikantam_Url::getUrl('wishlist/remove-product/add'); ?>').submit();return false;" class="proceed btn pull-right" id="add-to-cart-wlist"><i></i> Add to cart</button>
	</div>
	<!--/ checkout -->

</div>
<!--/ container -->

<div class="clear"></div>

<script type="text/javascript">
	function checkBoxes(element)
	{
		var checkBoxes = $(".cart-thumb .check-box input[type='checkbox'][name='items[]']");
		
		if (!jQuery(element).hasClass("checkedBox")) {
			checkBoxes.each(function(){
				jQuery(this).attr("checked", true);
				jQuery(this).parent().addClass("checkedBox");
				jQuery("#checkall .selct").html("Unselect all");
			});
			jQuery(element).addClass("checkedBox");
		} else {
			checkBoxes.each(function(){
				jQuery(this).attr("checked", false);
				jQuery(this).parent().removeClass("checkedBox");
				jQuery("#checkall .selct").html("Select all");
			});
			jQuery(element).removeClass("checkedBox");
		}
		
	return true;
	}
</script>