<div id="inbox" class="super-table hpage-config">
    <h4>As Seen In</h4>

    <?php echo $this->asSeenInForm; ?>

    <hr>

    <?php foreach ($this->asSeenIn as $item) : ?>
        <div style="float: left; width: 280px; border:1px solid #999;padding:10px; margin:10px;height: 400px;">
            <h4>Page URL: <?php echo $item->getPageUrl(); ?></h4>
            <h4>Title: <?php echo $item->getTitle(); ?></h4>
            <h4>Sort Order: <?php echo $item->getSortOrder(); ?></h4>

            <div style="width: 200px; height: 200px;">
                <img style="max-width: 200px; max-height: 200px" src="<?php echo $item->getImageUrl(); ?>" />
            </div>

            <br>

            <div style="text-align:right;">
                <a href="<?php echo Ikantam_Url::getUrl('admin/widgets/remove-widget', array('id' => $item->getId())); ?>">Delete</a>
            </div>
        </div>
    <?php endforeach; ?>

    <div class="clear"></div>


</div>