<div id="inbox" class="super-table hpage-config">

    <form action="<?php echo Ikantam_Url::getUrl('admin/aptdeco-pics/index'); ?>" method="post">
        <h4>AptDeco Pics</h4>

        <?php foreach ($this->featuredProducts as $featuredProduct): ?>
            <div style="float: left; width:310px;" class="featured-container">
                <input type="text" disabled="disabled" value="<?php echo $this->escape($featuredProduct->getTitle()); ?>" class="product-link"/>
                <input type="hidden" name="products[]" value="<?php echo $featuredProduct->getId(); ?>" />

                <div class="gallery adming">
                    <ul>
                        <li>
                            <div class="ovelay" id="product-overlay">
                                <a class="removeitem" href="javascript:void(0);" onclick="$(this).parents('.featured-container').remove();"><i></i></a> 		
                            </div>
                            <img id="background-preview"
                                 src="<?php echo $featuredProduct->getMainImage()->getS3Url(360, 300, 'frame'); ?>"
                                 alt="<?php echo $this->escape($featuredProduct->getTitle()); ?>"
                                 /> 
                        </li>
                    </ul>
                </div>
            </div>
        <?php endforeach; ?>

        <div id="aptdeco-pics-template" class="hidden">
            <div style="float: left; width:310px;" class="featured-container">
                <input type="text" value="" class="product-link" placeholder="Product link" />
                <input type="hidden" name="products[]" value="" />
                <div class="clear"></div>
                <div class="gallery adming">
                    <ul>
                        <li>
                            <div class="ovelay hidden-desktop">
                                <a class="removeitem" href="#"><i></i></a> 		
                            </div>
                            <img src="" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <button type="button" class="proceed btn pull-left" id="aptdeco-pics-add-product">Add product</button>

        <br><br><br>

        <button type="submit" class="proceed btn pull-left" id="aptdeco-pics-add-product">Save</button>

        <div class="clear"></div>

    </form>

    <script type="text/javascript">
        $("#aptdeco-pics-add-product").on("click", function() {
            var template = $($("#aptdeco-pics-template").html()).clone();
            $("#aptdeco-pics-template").after(template);
        });

        $(document).on("paste", ".product-link", function(e) {
            var $elem = $(this);
            setTimeout(function() {

                var text = $elem.val()
                pattern = new RegExp("(catalog|id)/(.*)/?$", "i"),
                        result = pattern.exec(text);

                if (result)
                {
                    var data = {id: result.pop()}
                    $.post('<?php echo Ikantam_Url::getUrl('admin/aptdeco-pics/add-product') ?>', data, function(res) {

                        res = $.parseJSON(res);

                        if (res.success)
                        {
                            $elem.val(res.product);
                            $elem.next().val(res.id);
                            $elem.next().next().next().find("img").attr("src", res.url);
                        } else {
                            $elem.val("Product not found.").select();
                        }

                    });
                } else
                {
                    $elem.val("Incorrect link.").select();
                }
            }, 20);
        })
    </script>

    <div class="clear"></div>

    <div id="push"></div>
</div>