<h4>Page Title</h4>

<form action="<?php echo Ikantam_Url::getUrl('admin/homepage/set-page-title'); ?>" method="post">
    <input type="text" value="<?php echo $this->pageTitle; ?>"  name="home_page_title"/>
    <button class="proceed btn" type="submit">Save</button>
</form>