<div id="inbox" class="super-table hpage-config">
    <h4>Slider</h4>
    
    <?php echo $this->sliderForm; ?>

    <hr>

    <?php foreach ($this->slides as $item) : ?>
        <div style="float: left; width: 280px; border:1px solid #999;padding:10px; margin:10px;height: 400px;">

            <h4>URL: <?php echo $this->escape($item->getUrl()); ?></h4>

            <h4>Title: <?php echo $this->escape($item->getTitle()); ?></h4>
            
            <h4>Size: <?php echo $this->escape($item->getSize()); ?></h4>

            <h4>Sort Order: <?php echo $this->escape($item->getSortOrder()); ?></h4>

            <div style="width: 200px; height: 200px;">
                <img style="max-width: 200px; max-height: 200px" src="<?php echo $this->escape($item->getImageUrl()); ?>" />
            </div>

            <br>

            <div style="text-align:right;">
                <a href="<?php echo Ikantam_Url::getUrl('admin/widgets/remove-slider-widget', array('id' => $item->getId())); ?>">Delete</a>
            </div>
        </div>
    <?php endforeach; ?>

    <div class="clear"></div>


</div>