<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>

<!-- container -->
<div class="container-fluid" id="container"> 

    <!-- checkout -->
    <div class="checkout">
        <h2>Checkout</h2>

        <?php echo $this->partial('checkout_sidebar.phtml', 'checkout', $this); ?>

        <!-- checkout -->
        <div id="checkout">
            
            <div class="alert payments-alert"> 
                <h4><i class="notificon"></i> How this works:</h4>
            
                <p>Provide your payment information below. 
                You will only be charged if the seller accepts your request. 
                They'll have 24 hours to reply.
                If the seller declines or does not respond, no charge is made. 
                Then you can browse other listings if you want.</p>

            </div>
            
            
            
            <?php echo $this->partial('checkout_process.phtml', 'checkout', $this); ?>


            <?php if ($this->session->getMessages('success')) : ?>
                <div class="alert">
                    <?php foreach ($this->session->getMessages('success') as $message) : ?>
                        <p style="padding:0;margin:0;"><?php echo $message; ?></p>
                    <?php endforeach; ?>
                </div>
            <?php else : ?>
                <div class="alert" style="display: none;"></div>
            <?php endif; ?>

            <?php foreach ($this->session->getMessages('error') as $message) : ?>
                <div class="alert alert-error">
                    <i class="in-valid"></i>
                    <p style="margin:0;"><?php echo $message; ?></p>
                    <button  style="margin-top:-20px;" type="button" class="close" data-dismiss="alert">x</button>
                </div>
            <?php endforeach ?>



            <!-- shipping-address -->
            <div class="shipping-address">


                <form class="form-horizontal" id="card-form" action="<?php echo $this->url(); ?>" method="post">

                    <h3>Payment method</h3>

                    <!-- Credit Card -->
                    <div class="control-group">
                        <label class="control-label" for="credit-cart">Credit Card*:</label>
                        <div class="controls">
                            <input type="text" id="credit-cart" name="cc_number" placeholder="0000-0000-0000-0000" />
                        </div>
                    </div>
                    <!--/ Credit Card -->

                    <!-- Expiration Date -->
                    <div class="control-group">
                        <label class="control-label" for="expiration-date">Expiration Month*:</label>
                        <div class="controls">
                            <select name="cc_expiry_month">
                                <option value="0">-- Select --</option>
                                <option value="1">01 - January</option>
                                <option value="2">02 - February</option>
                                <option value="3">03 - March</option>
                                <option value="4">04 - April</option>
                                <option value="5">05 - May</option>
                                <option value="6">06 - June</option>
                                <option value="7">07 - July</option>
                                <option value="8">08 - August</option>
                                <option value="9">09 - September</option>
                                <option value="10">10 - October</option>
                                <option value="11">11 - November</option>
                                <option value="12">12 - December</option>
                            </select>
                        </div>
                    </div>

                    <!-- Expiration Date -->
                    <div class="control-group">
                        <label class="control-label" for="expiration-date">Expiration Year*:</label>
                        <div class="controls">
                            <select name="cc_expiry_year">
                                <option value="0">-- Select --</option>
                                <?php for ($i = date('Y'); $i <= date('Y') + 15; $i++) : ?>
                                    <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                <?php endfor; ?>
                            </select>
                            <?php /* <input type="text" id="datepicker" class="datepicker" name="cc_expiry_year" /> */ ?>
                        </div>
                    </div>

                    <!-- Security Code -->
                    <div class="control-group">
                        <label class="control-label" for="cc_security_code">Security Code*:</label>
                        <div class="controls">
                            <input type="text" id="cc_security_code" name="cc_code" />
                        </div>
                    </div>


                    <!--/ Expiration Date -->

                    <!-- Expiration Date -->
                    <div class="control-group bill-address">
                        <label class="control-label">
                            <h4>Billing address</h4>
                        </label>
                        <div class="clear"></div>
                    </div>
                    <!--/ Expiration Date -->
                </form>

                <?php foreach ($this->addresses as $address) : ?>
                    <!-- user-address -->
                    <div class="user-address new-shipping-address">
                        <a href="javascript:void(0);" onclick="setBillingAddress('<?php echo $address->getFullName(); ?>', '<?php echo $address->getAddressLine1(); ?>', '<?php echo $address->getAddressLine2(); ?>', '<?php echo $address->getCity(); ?>', '<?php echo $address->getState(); ?>', '<?php echo $address->getPostcode(); ?>', '<?php echo $address->getCountryCode(); ?>')">Use this address <i></i> </a>
                        <a href="javascript:void(0);" onclick="removeAddress('<?php echo $address->getId(); ?>', this);" class="remove-address"><i></i></a>

                        <p>
                            <?php echo $address->getFullName(); ?>
                            <br />
                            <?php echo $address->getAddressLine1(); ?> <?php echo $address->getAddressLine2(); ?>
                            <br>
                            <?php echo $address->getCity(); ?> <?php echo $address->getState(); ?> <?php echo $address->getPostcode(); ?>
                            <br>
                            <?php echo $address->getCountryCode(); ?>
                        </p>

                    </div>
                    <!--/ user-address -->
                <?php endforeach; ?>

            </div>
            <!--/ shipping-address -->


            <form class="form-horizontal" id="payment-form" action="<?php echo Ikantam_Url::getUrl('checkout/payment/post'); ?>" method="post">

                <input type="hidden" name="card_uri" value="" />
                <input type="hidden" name="last_four" value="" />
                <input type="hidden" name="brand" value="" />

                <!-- Full Name -->
                <div class="control-group<?php if ($this->session->getFormErrors('ba_full_name')) : ?> error<?php endif; ?>">
                    <label class="control-label" for="full-name">Full Name:</label>
                    <div class="controls">
                        <input type="text" id="shipping-full-name" placeholder="" name="ba_full_name" value="<?php echo $this->session->getFormData('ba_full_name'); ?>" />
                    </div>
                </div>
                <!--/ Full Name -->

                <!-- Address Line1 -->
                <div class="control-group<?php if ($this->session->getFormErrors('ba_line1')) : ?> error<?php endif; ?>">
                    <label class="control-label" for="address-line-1">Address Line1:</label>
                    <div class="controls">
                        <input type="text" id="address-line-1" placeholder=""  name="ba_line1"  value="<?php echo $this->session->getFormData('ba_line1'); ?>" />
                        <span class="help-block">Street address, P.O. box, company name, c/o</span>
                    </div>
                </div>
                <!--/ Address Line1 -->

                <!-- Address Line2 -->
                <div class="control-group<?php if ($this->session->getFormErrors('ba_line2')) : ?> error<?php endif; ?>">
                    <label class="control-label" for="address-line-2">Address Line2:</label>
                    <div class="controls">
                        <input type="text" id="address-line-2" placeholder=""   name="ba_line2"  value="<?php echo $this->session->getFormData('ba_line2'); ?>" />
                        <span class="help-block">Apartment, suite, unit, building, floor, etc.</span>
                    </div>
                </div>
                <!--/ Address Line2 -->

                <!-- City -->
                <div class="control-group<?php if ($this->session->getFormErrors('ba_city')) : ?> error<?php endif; ?>">
                    <label class="control-label" for="shipping-city">City:</label>
                    <div class="controls">
                        <input type="text" id="shipping-city" placeholder=""   name="ba_city"  value="<?php echo $this->session->getFormData('ba_city'); ?>" />
                    </div>
                </div>
                <!--/ City -->

                <!-- State/Province/Region -->
                <div class="control-group<?php if ($this->session->getFormErrors('ba_region')) : ?> error<?php endif; ?>">
                    <label class="control-label" for="shipping-state">State/Province/Region:</label>
                    <div class="controls">
                        <input type="text" id="shipping-state" placeholder=""   name="ba_region"   value="<?php echo $this->session->getFormData('ba_region'); ?>" />
                    </div>
                </div>
                <!--/ State/Province/Region -->

                <!-- ZIP -->
                <div class="control-group<?php if ($this->session->getFormErrors('ba_postcode')) : ?> error<?php endif; ?>">
                    <label class="control-label" for="shipping-zip">ZIP:</label>
                    <div class="controls">
                        <input type="text" id="shipping-zip" placeholder=""   name="ba_postcode"   value="<?php echo $this->session->getFormData('ba_postcode'); ?>" />
                    </div>
                </div>
                <!--/ ZIP -->

                <!-- Country -->
                <div class="control-group<?php if ($this->session->getFormErrors('ba_country')) : ?> error<?php endif; ?>">
                    <label class="control-label" for="shipping-country">Country:</label> 
                    <div class="controls">

                        <?php //$collection = array('US' => 'United States', 'CA' => 'Canada'); ?>
                        <?php $collection = new Application_Model_Country_Collection(); ?>
                        
                        <select name="ba_country" id="shipping-country">
                            <option value="0">-- Select --</option>
                            <?php foreach ($collection->getOptions() as $code => $name) : ?>
                                <option value="<?php echo $code; ?>"><?php echo $name; ?></option>
                            <?php endforeach; ?>
                        </select>

                    </div>
                </div>
                <!--/ Country -->

            </form>
            <!--/ shipping-form --> 

            <div class="clear"></div>
            <?php /*
              <!-- pormotions -->
              <div class="pormotions">

              <!-- payment-totals -->
              <div class="payment-totals">
              <ul>
              <li>Total <span>$300</span> </li>
              <li class="orang">Gift <span>5%</span> </li>
              <li> <p>Grand total:</p>  <span>$285</span> </li>
              </ul>
              </div>
              <!--/ payment-totals -->

              <!-- pormotion-fields -->
              <div class="pormotion-fields">
              <div class="input-append">
              <input id="gist-code" type="text" placeholder="Gift code"  />
              <button class="btn" type="button">Submit</button>
              </div>

              <div class="input-append">
              <input id="pormotion-code" type="text" placeholder="Pormotion code"  />
              <button class="btn" type="button">Submit</button>
              </div>

              </div>
              <!--/ pormotion-fields -->

              </div>
              <!--/ pormotions -->
             */ ?>
            <div class="clear"></div>

            <div class="buttons-block">
                <button class="btn" onclick="$('#payment-form').submit();">Pay and confirm order</button>
            </div>

        </div>
        <!--/ #checkout -->

    </div>
    <!--/ .checkout -->

    

</div>
<!--/ container -->

<div class="clear"></div>

<script>
    /*===== datepicker ==============*/
    $("#datepicker").datepicker({
        dateFormat: 'M / yy',
        showOtherMonths: true,
        selectOtherMonths: true,
        showOn: "button",
        buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
        buttonImageOnly: true,
        prevText: "",
        nextText: ""
    });
	
    function setBillingAddress(FullName, AddressLine1, AddressLine2, City, State, Postcode, CountryCode)
    {
        jQuery("input#shipping-full-name").val(FullName);
		
        jQuery("input#address-line-1").val(AddressLine1);
		
        jQuery("input#address-line-2").val(AddressLine2);
		
        jQuery("input#shipping-city").val(City);
		
        jQuery("input#shipping-state").val(State);
		
        jQuery("input#shipping-zip").val(Postcode);
		
        jQuery("select#shipping-country").val(CountryCode);
		
    }

</script>


<script>
    function removeAddress(addressId, element)
    {
        jQuery.ajax({
            type: "post",
            url: "<?php echo Ikantam_Url::getUrl('user/profile/delete-address'); ?>",
            data: {id : addressId},
            success: function(data) {
                data = JSON.parse(data);

                if (data.success) {
                    $(element).parent().fadeOut('slow');
                }
            },
            cache: false,  
            timeout: 5000,  
            beforeSend: function()
            {
                //inProcess = true;
                //showOverlay();
            },
            error: function()  
            {  
                //alert("error");
            },  
            complete: function()  
            { 
                //inProcess = false;
                //setTimeout(hideOverlay, 300);
            } 
        });
    }
</script>

<script type="text/javascript">
        
    balanced.init('<?php echo Ikantam_Balanced_Settings::getMarketplaceUri(); ?>');
    var $form = $("#card-form");
    
    $("#payment-form").submit(function(){
        $("#card-form input[name='cc_number']").parent().parent().removeClass('error');
        $("#card-form select[name='cc_expiry_month']").parent().parent().removeClass('error');
        $("#card-form select[name='cc_expiry_year']").parent().parent().removeClass('error');
        $("#card-form input[name='cc_code']").parent().parent().removeClass('error');
        
        var creditCardData = {
            card_number: $form.find('input[name="cc_number"]').val(),
            expiration_month: $form.find('select[name="cc_expiry_month"]').val(),
            expiration_year: $form.find('select[name="cc_expiry_year"]').val(),
            security_code: $form.find('input[name="cc_code"]:checked').val()
        };
        
        $(".alert:not(.alert-success):not(.payments-alert)").hide();
        balanced.card.create(creditCardData, responseCallbackHandler);
        return false;
    });

    function responseCallbackHandler(response) {
        
        switch (response.status) {
            case 400:
                // missing or invalid field - check response.error for details
               // console.log(response.error);
               iKantam.namespace('checkout').err = response.error; // for GA event tracking
                if (response.error.card_number) {
                    $("#card-form input[name='cc_number']").parent().parent().addClass('error');
                    response.error.card_number = 'Invalid card number or empty field.';

                }
                if (response.error.expiration || response.error.expiry) {
                    $("#card-form select[name='cc_expiry_month']").parent().parent().addClass('error');
                    $("#card-form select[name='cc_expiry_year']").parent().parent().addClass('error');

                }
                if (response.error.security_code) {
                    $("#card-form input[name='cc_code']").parent().parent().addClass('error');

                }
                $(document).scrollTop($("#card-form").position().top);
                
                break;
            case 404:
                // your marketplace URI is incorrect
                break;
            case 402:
                //card declined
                $(".alert:not(.alert-success):not(.payments-alert)").html("Opps - looks like your card is declined. Please try a different card or contact your bank for more information.").show();
                $(document).scrollTop($(".alert:not(.alert-success):not(.payments-alert)").position().top);
                break;
            case 201:

                
                $("#payment-form input[name='card_uri']").val(response.data.uri);
                $("#payment-form input[name='last_four']").val(response.data.last_four);
                $("#payment-form input[name='brand']").val(response.data.brand);
                validateAddress();
                return false;
        }
        
        iKantam.putToCallQueue('trackErrors');
    }
    
    var inProcess = false;
    
    function validateAddress()
    {
        if (inProcess) {
            return false;
        }
        
        jQuery.ajax({
            type: "post",
            url: "<?php echo Ikantam_Url::getUrl('checkout/payment/validate-address'); ?>",
            data: jQuery("#payment-form").serialize(),
            success: function(data) {
                data = JSON.parse(data);
                iKantam.namespace('checkout').err = data.error;
                if (data.success) {
                    $("#payment-form").unbind("submit").submit();
                } else {
                    if (data.error.ba_country) {
                        $("#payment-form select[name='ba_country']").parent().parent().addClass('error');
                    }
                    if (data.error.ba_postcode) {
                        $("#payment-form input[name='ba_postcode']").parent().parent().addClass('error');
                    }
                    if (data.error.ba_region) {
                        $("#payment-form input[name='ba_region']").parent().parent().addClass('error');
                    }
                    if (data.error.ba_city) {
                        $("#payment-form input[name='ba_city']").parent().parent().addClass('error');
                    }
                    if (data.error.ba_line2) {
                        $("#payment-form input[name='ba_line2']").parent().parent().addClass('error');
                    }
                    if (data.error.ba_line1) {
                        $("#payment-form input[name='ba_line1']").parent().parent().addClass('error');
                    }
                    if (data.error.ba_full_name) {
                        $("#payment-form input[name='ba_full_name']").parent().parent().addClass('error');
                    }
                    $(document).scrollTop($("#payment-form").position().top);
                }
                iKantam.putToCallQueue('trackErrors');
            },
            cache: false,  
            timeout: 5000,  
            beforeSend: function()
            {
                inProcess = true;
                //showOverlay();
            },
            error: function()  
            {  
                //alert("error");
            },  
            complete: function()  
            { 
                inProcess = false;
                //setTimeout(hideOverlay, 300);
            } 
        });
    }

</script>