<?php /* @var $user User_Model_User */ ?>
<?php $user = $this->user ?>
<?php $canFacebookPosting =  $user->canFacebookPosting() ?>
<?php $canTwitterPosting  =  $user->canTwitterPosting(); ?>
<div id="share-popup" class="modal md-modal apt-modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="apt-btn transparent x-btn" data-dismiss="modal" aria-hidden="true"> <i class="apt-i-x"></i> </button>

    <div class="text-center">
        <h2>Sell faster by sharing with friends!</h2>
    </div>
    <div>
        <form id="share-form" action="<?php echo $this->getUrl('user/share/popup-post') ?>" method="post">
            <input type="hidden" name="product_id" value="<?php echo $this->productId ?>" />
            <div class="control-group hidden-info">
                <div class="form-group">
                    <div class="social-media-accounts m-t20">

                        <div class="set-vis">
                            <textarea id="share-message" name="message" class="form-field fit-field fit" rows="5" placeholder="Enter email addresses..."><?php echo $this->default_message ?></textarea>
                        </div>
                        <div class="share-labels">
                            <p id="facebook-label-holder" <?php if (!$canFacebookPosting): ?> style="opacity: 0.5" <?php endif ?>>
                                <i class="ico-share facebook"></i>
                                <span>Facebook</span>
                            </p>
                            <p id="twitter-label-holder" <?php if (!$canTwitterPosting): ?> style="opacity: 0.5" <?php endif ?>>
                                <i class="ico-share twitter"></i>
                                <span>Twitter</span>
                            </p>
                            <p>
                                <i class="ico-share email"></i>
                                <span>Share by Email</span>
                            </p>
                        </div>

                        <div class="share-access">
                            <div class="form-group">
                                <label id="facebook-check-holder" for="facebook" <?php if (!$canFacebookPosting): ?> style="display: none" <?php endif ?> >
                                    <input type="checkbox" id="facebook" name="facebook" checked="checked" <?php if (!$canFacebookPosting): ?> disabled="disabled" <?php endif ?> />
                                                        <span class="checkbox-cover is-on">
                                                            <small class="cover-bar"></small>
                                                            <small class="cover-bar"></small>
                                                            <small class="cover-bar"></small>
                                                        </span>
                                </label>
                                <p id="facebook-login-holder" <?php if ($canFacebookPosting): ?> style="display: none" <?php endif ?>>
                                    <button type="button" class="apt-btn default" onclick="popupwindow('<?php echo $this->getUrl('user/share/facebook') ?>', 'Facebook', 600, 480)">Sign in</button>
                                </p>
                            </div>
                            <div class="form-group">
                                <label id="twitter-check-holder" for="twitter"  <?php if (!$canTwitterPosting): ?> style="display: none" <?php endif ?> >
                                    <input type="checkbox" id="twitter" name="twitter" checked="checked"  <?php if (!$canTwitterPosting): ?> disabled="disabled" <?php endif ?>/>
                                                        <span class="checkbox-cover is-on">
                                                            <small class="cover-bar"></small>
                                                            <small class="cover-bar"></small>
                                                            <small class="cover-bar"></small>
                                                        </span>
                                </label>

                                <p id="twitter-login-holder" <?php if ($canTwitterPosting): ?> style="display: none" <?php endif ?> >
                                    <button type="button" class="apt-btn default" onclick="popupwindow('<?php echo $this->getUrl('user/share/twitter') ?>', 'Twitter', 600, 480)">Sign in</button>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="email" class="get" onclick="$('#emails-holder').toggle()">
                                    <input type="checkbox" id="email" name="email"/>
                                                        <span class="checkbox-cover">
                                                            <small class="cover-bar"></small>
                                                            <small class="cover-bar"></small>
                                                            <small class="cover-bar"></small>
                                                        </span>
                                </label>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div id="emails-holder" class="set-vis" style="display: none">
                            <textarea id="emails" class="form-field fit-field fit" name="emails" rows="5" placeholder="Enter email addresses..."></textarea>
                            <p class="m-1" style="color: #999">comma separated</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="apt-modal-action apt-modal-footer text-right">
                <button type="submit" class="apt-btn prime lrg" ><strong>Share</strong></button>
                <a class="text-sm text-mute text-ul" href="" data-dismiss="modal" aria-hidden="true">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    (function($){
        $(document).ready(function(){
            $('.social-media-accounts label').on('click', function () {
                $(this).find(':checkbox').toggleCheckbox();

                if ($(this).find(':checkbox').is(':checked')) {
                    $(this).find('.checkbox-cover').addClass('is-on');
                } else {
                    $(this).find('.checkbox-cover').removeClass('is-on');
                }
                return false;
            });

            $('#share-form').on('submit', function() {
                /* validate */
                if (!$('#share-message').val()) {
                    alert('Please enter a message');
                    return false;
                }
                if ($('#email').prop('checked')) {
                    if (!$('#emails').val()) {
                        alert('Please enter an email');
                        return false;
                    }
                    if (!validateMultipleEmailsCommaSeparated('emails')) {
                        return false;
                    }
                }

                if ($('#email').prop('checked') == false && $('#facebook').prop('checked') == false &&  $('#twitter').prop('checked') == false ) {
                    alert('Please, choose at least one option of sharing');
                    return false;
                }

                $form = $(this);
                if (typeof(showOverlay) == "function") {
                    showOverlay();
                }
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    dataType: 'json',
                    data: $form.serialize(),
                    success: function(response) {
                        if (typeof(hideOverlay) == "function") {
                            hideOverlay();
                        }
                        if (response.success) {
                            popupContainerEl = $('#share-popup');
                            popupContainerEl.children('div').remove();
                            popupContainerEl.css('position', 'fixed');
                            popupContainerEl.append('<h3 class="dark-orange" style="text-align: center">' + response.message + '</h3>');
                            if (response.reload) {
                                setTimeout(function(){
                                    location.reload();
                                }, 2100);
                            } else {
                                setTimeout(function(){
                                    popupContainerEl.modal('hide');
                                }, 2100);
                            }
                        } else {
                            alert(response.message);
                        }
                    }
                });
                return false;
            });

        });
    })(jQuery);

    $.fn.toggleCheckbox = function () {
        this.prop('checked', !this.prop('checked'));
    }
    //]]>

</script>