<div class="main-container push-header">
    <div class="main-row">
        <?php echo $this->partial('static_sidebar.phtml', array('current_controller' => 'jobs')); ?>

        <div class="aptcol-sm-9" break-col="md">
            <header class="page-heading">
                <h2 class="pull-left-sm">
                    <a href="#show-sidebar" class="show-mid apt-btn pull-left menu-mid"><i class="ico-bars top-4"></i></a> 
                    Open Positions
                </h2>
            </header>

            <div class="content-block">
                <p>
                    We are small but fast growing team of entrepreneurs with great ambition to change the way people
                    buy and sell secondhand furniture.
                    We're always looking for smart men and women who are not afraid to dream with us.
                    If what we're doing excites you, 
                    shoot us an email at <a href="mailto:jobs@aptdeco.com"><strong>jobs@aptdeco.com</strong></a>
                </p>
            </div>

            <br /><br />

            <div class="blog-posts">
                <?php foreach ($this->posts as $post): ?>
                    <div>
                        <h4>
                            <a href="<?php echo Ikantam_Url::getUrl('jobs/view/', array('id' => $post['id'])); ?>">
                                <?php echo $this->escape($post['post_title']); ?>
                            </a>
                        </h4>

                        <p>
                            <?php echo $this->truncateText($post['post_content'], 70, true); ?>
                        </p>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>