<div class="main-container push-header">
    <div class="main-row">
        <?php echo $this->partial('static_sidebar.phtml', array('current_controller' => 'jobs')); ?>

        <div class="aptcol-sm-9 main apt-blog" break-col="md">
            <h2 class="visible-desktop">
                <?php echo $this->escape($this->postTitle); ?>
            </h2>

            <div class="blog-posts jobs">
                <?php echo $this->post; ?>
            </div>
        </div>
    </div>
</div>