<?php $product  = $this->product; ?>
<?php $category = $product->getCategory(); ?>
<?php $parent   = $category->getParent(); ?>

<div class="breadcrumb m-b18 hide-tablet">
    <ul>
        <li>
            <a href="<?php echo Ikantam_Url::getUrl(''); ?>">Home</a>
            <small class="rsaquo">&rsaquo;</small>
        </li>

        <li>
            <a href="<?php echo $this->escape($parent->getCategoryUrl()); ?>">
                <?php echo $this->escape($parent->getTitle()); ?>
            </a>
            <small class="rsaquo">&rsaquo;</small>
        </li>

        <?php if ($parent->getCategoryUrl() != $category->getCategoryUrl()) : ?>
            <li>
                <a href="<?php echo $this->escape($category->getCategoryUrl()); ?>">
                    <?php echo $this->escape($category->getTitle()); ?>
                </a>
                <small class="rsaquo">&rsaquo;</small>
            </li>
        <?php endif; ?>
    </ul>
</div>