<div class="about-product">

    <a href="#" class="get-info"><i class="details"></i> Details</a> 

    <div class="productInfo show">
        <p><?php echo nl2br($this->escape($this->product->getDescription())); ?></p>
    </div>

    <?php /*
      <a href="#" class="get-info"> <span class="togg-icon"><i></i></span> <i class="deliv"></i> Delivery policies</a>

      <div class="productInfo">
      <p>
      You can simply elect to&nbsp;use our pre-arranged delivery service or&nbsp;pick up&nbsp;your purchased item from
      the seller&rsquo;s home directly. When you add the desired item to&nbsp;cart and proceed to&nbsp;check out you will
      have an&nbsp;option to&nbsp;choose between delivery or&nbsp;pick&nbsp;up.
      </p>

      <p>
      Delivery: When you choose delivery, you will be&nbsp;asked to&nbsp;specify a&nbsp;delivery date
      and time once you complete your checkout. We&nbsp;have secured the most competitive delivery rates available.
      Once your select the dates and times that work best for you, we&nbsp;will confirm within 36&nbsp;hours a&nbsp;date
      and time window for your delivery. But if&nbsp;for any reason none of&nbsp;the dates work for
      you can contact&nbsp;us at&nbsp;<a href="mailto:hello@aptdeco.com">hello@aptdeco.com</a> and we&nbsp;will work
      with you to&nbsp;find a&nbsp;convenient date and time. We&nbsp;work with our delivery partner and
      take care of&nbsp;coordinating the pick up&nbsp;from the seller&rsquo;s home and all the paperwork
      required to&nbsp;make the delivery happen. All you have to&nbsp;do&nbsp;is&nbsp;wait for our delivery
      partner during the confirmed delivery date and time window.
      </p>

      <p>
      Pick Up: If&nbsp;you choose to&nbsp;pick up&nbsp;your product directly from the seller, you will
      have the opportunity to&nbsp;message the seller once you complete your
      checkout to&nbsp;coordinate date, time and place to&nbsp;meet. The seller is&nbsp;required to&nbsp;respond
      to&nbsp;your message within 36&nbsp;hours but in&nbsp;the rare event that you don&rsquo;t hear back from
      the seller, just let&nbsp;us know by&nbsp;contacting&nbsp;us at&nbsp;<a href="mailto:hello@aptdeco.com">hello@aptdeco.com</a>.
      </p>
      </div>
     */ ?>
</div>