<div class="carousel widget">
    <div class="midSlid">
        <?php if ($this->product->getIsVerified()) : ?>
            <a title="This product has been verified by an AptDeco Team member for authenticity and quality." target="_blank" href="<?php echo Ikantam_Url::getUrl('aptdeco-verified/index') ?>">
                <i class="apt-i-variation verified stick tr"></i>
            </a>
        <?php endif; ?>

        <?php if (!$this->product->getIsSold() && ($this->product->getExpireAt() || $this->product->getAvailableTill())) : ?>

            <?php $expTime = null; ?>
            <?php $expAt   = (int) $this->product->getExpireAt(); ?>
            <?php $aTill   = (int) $this->product->getAvailableTill(); ?>

            <?php if ($expAt > 0 && $aTill > 0) : ?>
                <?php $expTime = ($expAt < $aTill) ? $expAt : $aTill; ?>
            <?php elseif ($expAt > 0) : ?>
                <?php $expTime = $expAt; ?>
            <?php elseif ($aTill > 0) : ?>
                <?php $expTime = $aTill; ?>
            <?php endif; ?>

            <?php if ($expTime) : ?>
                <?php if ($expTime > strtotime('+2 days') && $expTime < strtotime('+3 days')) : ?>
                    <span class="apt-sale-label">3 days left</span>
                <?php elseif ($expTime > strtotime('+1 day') && $expTime < strtotime('+2 days')) : ?>
                    <span class="apt-sale-label">2 days left</span>
                <?php elseif ($expTime > time() && $expTime < strtotime('+1 day')) : ?>
                    <span class="apt-sale-label">1 day left</span>
                <?php endif; ?>
            <?php endif; ?>
        <?php endif; ?>

        <span class='zoom' id='ex1'>
            <img src="<?php echo $this->escape($this->product->getMainImage()->getS3Url(1500, 1500, 'frame')); ?>" />
        </span>
    </div>



    <?php if ($this->product->getAllImages()->getSize() > 0) : ?>

    <div id="product-carousel" class="m-carousel" data-carousel="default">
        <div class="mc-thumbnails">
            <ul>
                <li>
                    <img src="<?php echo $this->escape($this->product->getMainImage()->getS3Url(1500, 1500, 'frame')); ?>" />
                </li>

                <?php foreach ($this->product->getAllImages() as $image) : ?>
                    <li>
                        <img src="<?php echo $this->escape($image->getS3Url(1500, 1500, 'frame')); ?>" />
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>

        <div class="control">
            <?php if ($this->product->getAllImages()->getSize() > 3) : ?>
                <button class="prev" onclick="slideLeft();"></button>
                <button class="next" onclick="slideRight();"></button>
            <?php endif; ?>
        </div>
    </div>
    <div class="clear"></div>
    <?php endif; ?>
</div>

<script>
    jQuery(function($){
        $('#product-carousel').mCarousel({step: 50});
    });
</script>