<?php $isInCart = false; ?>

<?php foreach ($this->cart->getAllItems() as $item) : ?>
    <?php if ($item->getProductId() == $this->product->getId()) : ?>
        <?php $isInCart = true; ?>
    <?php endif; ?>
<?php endforeach; ?>
<?php
$defaultPostcode = $this->session->getEstimatedPostcode() ;
if (!$defaultPostcode) {
    try {
        if ($this->currentUser && $this->currentUser->getId()) {
            $addresses = $this->currentUser->getAddresses();
            if (count($addresses) && $addresses->getFirstItem()->getId()) {
                $defaultPostcode =  $addresses->getFirstItem()->getPostcode();
            }
        }

    } catch (Exception $e) {

    }
}

?>
<div class="container-fluid">
    <div class="apt-container main-sidebar">

        <div class="main product-essential">
            <div class="product-view">
                <?php echo $this->partial('view/breadcrumbs.phtml', 'product', $this); ?>
                <?php echo $this->partial('view/gallery.phtml', 'product', $this); ?>
            </div>

            <div class="product-info">

                <?php echo $this->partial('view/social.phtml', 'product', $this); ?>

                <div class="clear"></div>

                <h1><?php echo $this->escape($this->product->getTitle()); ?></h1>

                <div class="clear"></div>

                <ul>
                    <li> 
                        <span class="labl">Quantity:</span>  
                        <span class="descripo"><?php echo $this->escape($this->product->getQty(1)); ?></span>
                    </li>

                    <li> 
                        <span class="labl">Brand:</span>  
                        <span class="descripo"><?php echo $this->escape($this->product->getManufacturer()->getTitle()); ?></span>
                    </li>

                    <li> 
                        <span class="labl">Conditions:</span>  
                        <span class="descripo"><?php echo $this->escape($this->product->getConditionLabel()); ?></span>
                    </li>

                    <li> 
                        <span class="labl">Color:</span>
                        <span class="descripo">
                            <?php $colorObject = $this->product->getColor(); ?>

                            <?php $id          = ''; ?>
                            <?php if ($colorObject->getTitle() == 'White' || $colorObject->getTitle() == 'Silver') : ?>
                                <?php $id = 'id="white-1"'; ?>
                            <?php elseif ($colorObject->getTitle() == 'Pattern') : ?>
                                <?php $id = 'id="pattren-1'; ?>
                            <?php endif; ?>

                            <?php $style = sprintf('style="background-color:%s"', $colorObject->getHex()); ?>
                            <?php $title = sprintf('title="%s"', $colorObject->getTitle()); ?>

                            <i class="productColor" <?php echo $id, $style, $title; ?>></i>
                        </span>
                    </li>

                    <li>
                        <?php echo $this->partial('view/price.phtml', 'product', $this); ?>
                    </li>


                    <?php $pp    = $this->product->getPickupPostcode(); ?>
                    <?php $pc    = $this->product->getPickupCity(); ?>
                    <?php $ps    = $this->product->getPickupState(); ?>

                    <li> 
                        <?php if ($this->product->getIsPickUpAvailable()) : ?>
                            Local pick up available from : 
                        <?php else : ?>
                            Delivery available from:
                        <?php endif; ?>
                        <a href="https://maps.google.com/?q=<?php echo urlencode($pp . ' ' . $pc . ' ' . $ps); ?>&z=14" target="_blank"> 
                            <i class="apt-icon-pin m-l3"></i> <?php printf('%s, %s, %s', $this->escape($pc), $this->escape($ps), $this->escape($pp)); ?>
                        </a>
                    </li>


                    <?php if ($this->product->getIsDeliveryAvailable()) : ?>
                        <li>
                            <span id="estimate-delivery-text">
                                <?php if ($defaultPostcode): ?>
                                    Estimated delivery fee of <?php echo $this->currency($this->product->estimateDelivery(array('postcode' => $defaultPostcode))) ?> to <?php echo $defaultPostcode ?><br />
                                <?php else: ?>
                                    Flat-rate local delivery provided. Additional fees may apply.
                                <?php endif ?>
                            </span>
                            <a id="estimate-delivery-action" href="javascript:void(0)" onclick="$('#estimate-delivery-popup').modal()">
                                <?php if ($defaultPostcode): ?>
                                    Calculate with new zipcode
                                <?php else: ?>
                                    Calculate delivery
                                <?php endif ?>
                            </a>
                        </li>
                    <?php endif; ?>

                    <?php if ($this->product->getAvailableFrom() && $this->product->getAvailableTill()) : ?>
                        <li>
                            <?php if ($this->product->getIsDeliveryAvailable() && $this->product->getIsPickUpAvailable()) : ?>
                                <?php $message = 'This product is available for pick up or delivery between %s and %s'; ?>
                            <?php elseif ($this->product->getIsDeliveryAvailable()) : ?>
                                <?php $message = 'This product is available for delivery between %s and %s'; ?>
                            <?php else : ?>
                                <?php $message = 'This product is available for pick up between %s and %s'; ?>
                            <?php endif; ?>

                            <?php printf($message, date('m/d/Y', $this->product->getAvailableFrom()), date('m/d/Y', $this->product->getAvailableTill())); ?>
                        </li>
                    <?php endif; ?>

                    <li> 
                        <span class="labl">Materials:</span> 
                        <span class="descripo">
                            <i class="apt-icon-cube m-r14"></i> <?php echo $this->escape($this->product->getMaterial()->getTitle()); ?>
                        </span>
                    </li>

                    <?php if ($this->product->getWidth() > 0 || $this->product->getHeight() > 0 || $this->product->getDepth() > 0) : ?>
                        <li>
                            <span class="labl">Dimensions:</span>

                            <span class="descripo">
                                <i class="apt-icon-unit m-r14"></i> 
                                <?php if ($this->product->getWidth() > 0) : ?>
                                    Width: <?php printf('%d', $this->product->getWidth()); ?>"
                                <?php endif; ?>

                                <?php if ($this->product->getDepth() > 0) : ?>
                                    Depth: <?php printf('%d', $this->product->getDepth()); ?>"
                                <?php endif; ?>

                                <?php if ($this->product->getHeight() > 0) : ?>
                                    Height:<?php printf('%d', $this->product->getHeight()); ?>"
                                <?php endif; ?>
                            </span>
                        </li>
                    <?php endif; ?>

                    <li> 
                        <span class="labl">Years Old:</span>  
                        <span class="descripo">
                            <i class="apt-icon-duration m-r14 top--3"></i> <?php echo $this->escape($this->product->getAgeLabel()); ?>
                        </span>
                    </li>

                    <?php if (!is_null($this->product->getPetInHome())) : ?>
                        <li> 
                            <span class="labl">Pets:</span>  
                            <span class="descripo">
                                <i class="apt-i-cat m-r14 top--3"></i> <?php echo $this->product->getPetInHomeLabel(); ?> </span>
                        </li>
                    <?php endif; ?>

                    <?php if (!is_null($this->product->getIsSmokeFree())) : ?>
                        <li> 
                            <span class="labl">Smoking:</span>  
                            <span class="descripo">
                                <i class="apt-i-cigaret m-r14 top--3"></i> <?php echo ($this->product->getIsSmokeFree()) ? 'Smoke free home' : 'Yes'; ?> </span>
                        </li>
                    <?php endif; ?>
                </ul>

                <div class="aptd-alert success">
                    <a class="text-primary dark text-ul none" href="<?php echo Ikantam_Url::getUrl('returns/index'); ?>" target="_blank">
                        Learn about our refund and return policy
                    </a>
                </div>
            </div>

            <div class="clear"></div>

            <?php echo $this->partial('view/description.phtml', 'product', $this); ?>
        </div>

        <?php echo $this->partial('view/seller_sidebar.phtml', 'product', $this); ?>
    </div>

    <div id="push"></div>
</div>

<div id="estimate-delivery-popup" class="modal apt-modal delivery-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <button type="button" class="apt-btn transparent x-btn" data-dismiss="modal" aria-hidden="true"> <i class="apt-i-x"></i> </button>
    <div class="apt-modal-header text-center">
        <h2 class="apt-modal-title">Delivery Estimate</h2>
    </div>
    <form class="apt-form apt-v-last m-0" action="<?php echo Ikantam_Url::getUrl('product/view/estimate-delivery') ?>" method="post" id="estimate-delivery-form">
        <input type="hidden" name="product_id" value="<?php echo $this->product->getId() ?>"/>
        <p>Enter your shipping zip code</p>
        <div class="field-n-btn clearfix m-b15">
            <input name="postcode" class="form-field " type="text" placeholder="zipcode" maxlength="5" value="<?php echo $defaultPostcode ?>">
            <button class="apt-btn primary" type="submit">Estimate</button>
        </div>
        <div id="estimate-delivery-result">
        </div>
    </form>

    <div class="clear"></div>
    <div>
        <div class="apt-modal-action m-tb10">
            <?php if (!$isInCart && $this->product->isSaleable() && $this->product->isAvailable() && $this->product->getUserId() != $this->currentUser->getId()): ?>
                <button type="button" class="apt-btn primary lrg" onclick="window.location = '<?php echo $this->product->getAddToCartUrl(); ?>/num/1'">Add to Cart</button>
                <button type="button" class="apt-btn def lrg" onclick="window.location = '<?php echo $this->product->getAddToCartUrl(); ?>/num/1/redirect/checkout'" >One Step Checkout</button>
            <?php endif ?>
        </div>
        <div class="clear"></div>
        <?php if (!$this->isLoggedIn()): ?>
            <p>
                <small><a href="<?php echo Ikantam_Url::getUrl('user/login/index', array('redirect-success' => urlencode($this->product->getProductUrl())))?>" class="text-primary dark">Sign in</a> to your account</small>
            </p>
        <?php endif ?>
    </div>
</div>
<div class="loader-overlay"></div>
<div class="loader-container"><img src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" /></div>
<script type="text/javascript">
    function slideRight() {
        var left = parseInt(jQuery(".jCarouselLite ul").css("left"));
        left = left - 52;

        if (left < (8 - jQuery(".jCarouselLite ul").children().length) * 52) {
            left = (8 - jQuery(".jCarouselLite ul").children().length) * 52;
        }

        jQuery(".jCarouselLite ul").animate({"left": left}, 200);
    }

    function slideLeft() {
        var left = parseInt(jQuery(".jCarouselLite ul").css("left"));
        left = left + 52;

        if (left > 0) {
            left = 0;
        }

        jQuery(".jCarouselLite ul").animate({"left": left}, 200);
    }

    $('#estimate-delivery-form').on('submit', function() {
        $form = $(this);
        showOverlay();
        $postcode = $form.find('input[name="postcode"]');
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: $form.serialize(),
            success: function(response) {
                $('#estimate-delivery-result').html(response.message);
                if(response.success){
                    $postcode.removeClass('invalid');
                    $('#estimate-delivery-text').html('Estimated delivery fee of ' + response.formatted_price + ' to ' + response.postcode + '<br />');
                    $('#estimate-delivery-action').html('Calculate with new zipcode');
                } else {
                    $postcode.addClass('invalid');
                }
                hideOverlay();
            }
        });
        return false;
    });

    function showOverlay() {
        $(".loader-overlay, .loader-container").show();
    }

    function hideOverlay() {
        $(".loader-overlay, .loader-container").fadeOut('slow');
    }

</script>
<?php if ($this->isShowSharePopup): ?>
    <script type="text/javascript">
        $(document).ready(function() {
            showSharePopup('<?php echo $this->getUrl('user/share/popup', array('product_id' => $this->product->getId())) ?>')
        });
    </script>
<?php endif ?>
