<?php $isInCart = false; ?>

<?php foreach ($this->cart->getAllItems() as $item) : ?>
    <?php if ($item->getProductId() == $this->product->getId()) : ?>
        <?php $isInCart = true; ?>
    <?php endif; ?>
<?php endforeach; ?>

<div class="price-block">

    <?php if ($shippingOfferLabel = $this->product->getShippingOfferLabel()): ?>
        <div class="box-header">
            <p class="text-primary text-std">
                <i class="apt-icon-aptcar"></i>
                <strong><?php echo $shippingOfferLabel; ?></strong>
            </p>
        </div>
    <?php endif; ?>

    <?php if ($this->product->getOriginalPrice()) : ?>
        <div class="col-3 m-0">
            <h3>
                <?php echo $this->currency($this->product->getPrice()); ?>
                <?php if ($this->product->isReducedPrice()): ?>
                    <small class="price-tag left-arr is-reduced top--12"><strong>Reduced</strong></small>
                <?php endif ?>
                <strike class="old-price pos-rlv top--10"><?php echo $this->currency($this->product->getOriginalPrice()); ?></strike>
            </h3>
        </div>
    <?php else : ?>
        <div class="col-3 m-0">
            <h3><?php echo $this->currency($this->product->getPrice()); ?></h3>
        </div>
    <?php endif; ?>

    <?php if (!$isInCart && $this->product->getQty(1) > 1 && $this->product->getUserId() != $this->currentUser->getId()): ?>
        <div class="col-2">
            <p class="text-grey m-r10 hidden-mobile">Qty</p>

            <div class="qty-form">
                <button type="button" class="decrease"><i></i></button>
                <input type="text" name="qty" id="qty" value="1" />
                <button type="button" class="increase"><i></i></button>
            </div>
        </div>
    <?php else: ?>
        <input type="hidden" id="qty" value="1"/>
    <?php endif; ?>

    <div class="clear"></div>

    <?php if ($isInCart) : ?>
        <button class="apt-btn primary mid add-to-cart"><i class="apt-icon-cart"></i> In your cart</button>
    <?php elseif ($this->product->getUserId() == $this->currentUser->getId()) : ?>
        <?php //nothing to show here ?>
    <?php elseif ($this->product->isSaleable()) : ?>
        <?php if ($this->product->isAvailable()) : ?>
            <button class="apt-btn primary mid add-to-cart" onclick="window.location = '<?php echo $this->product->getAddToCartUrl(); ?>/num/' + $('#qty').val();"><i class="apt-icon-cart"></i> Add to cart</button>
        <?php else : ?>
            <button class="apt-btn primary mid add-to-cart"><i class="apt-icon-cart"></i> Sale Ended</button>
        <?php endif; ?>
    <?php elseif (!$this->product->isSaleable() && $this->product->getIsSold()) : ?>
        <button class="apt-btn primary mid add-to-cart"><i class="apt-icon-cart"></i> Sold</button>
    <?php endif; ?>

    <?php if ($this->currentUser->getId() && $this->product->getUserId() !== $this->currentUser->getId()) : ?>
        <a class="apt-btn transparent" href="<?php echo $this->escape($this->product->getAddToWishlistUrl()); ?>"><i class="apt-icon-eye top-2"></i> Add to Wishlist</a>
    <?php endif; ?>

    <div class="clear"></div>
</div>

<script type="text/javascript">
    (function($) {
        $('#qty').spinIt({
            up: '.increase',
            down: '.decrease',
            parent: '.qty-form',
            readOnly: true,
            min: 1,
            max: <?php echo $this->escape($this->product->getQty(1)); ?>});
    })(jQuery)
</script>