<?php $seller = $this->product->getSeller(); ?>

<aside class="sidebar product-sidebar">

    <div class="publisher-info">
        <div class="avatar-holder">
            <div class="avatar mid m-b15">
                <a href="<?php echo $this->escape($seller->getProfileUrl()); ?>">
                    <img src="<?php echo $this->escape($seller->getAvatarUrl()); ?>" alt="<?php echo $this->escape($seller->getFirstName()); ?>" />
                </a>
            </div>
        </div>

        <div class="publisher-details">
            <a href="<?php echo $this->escape($seller->getProfileUrl()); ?>" class="show text-primary dark text-mid m-b20"><?php echo $this->escape($seller->getFirstName()); ?></a>
            <?php //<p class="text-small text-dgrey m-t3">Albany New York</p> @TODO ?>

            <?php if ($seller->getRating()) : ?>
                <div class="rating m-b14"> 
                    <?php for ($i = 0; $i < $seller->getRating(); $i++) : ?>
                        <span></span> 
                    <?php endfor; ?>
                </div>
            <?php endif; ?>

            <a href="<?php echo $this->escape($seller->getReviewsUrl()); ?>" class="dark-grey" target="_blank">
                <i class="apt-i-chat"></i>
                Customer Reviews (<?php echo $seller->getReviews()->getSize(); ?>)
            </a>

            <?php if ($this->currentUser->canSendMessagesTo($seller)) : ?>
                <a href="<?php echo Ikantam_Url::getUrl('user/inbox/create', array('id' => $seller->getId(), 'product' => $this->product->getPageUrl(), )); ?>" class="apt-btn primary mid show  m-t8">
                    <i class="apt-icon-email"></i>
                    Contact me
                </a>
            <?php endif; ?>
        </div>
    </div>

    <div class="m-t15 m-b13 sidebar-cats">
        <ul class="apt-list">
            <li>Shop my home:</li>
            <li>
                <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $seller->getId())); ?>"> All </a>
            </li>

            <?php foreach ($seller->getCategories() as $category) : ?>
                <li>
                    <a href="<?php echo $this->escape($seller->getCategoryUrl($category)); ?>">
                        <?php printf('%s (%d)', $this->escape($category->getTitle()), $category->getProductsCount()); ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>

    <div class="clear"></div>

    <div id="target" class="cible visible-desktop">
        <?php $count         = 0; ?>
        <?php $itemsPerSlide = 4; ?>
        <?php foreach ($this->products as $_product) : ?>
            <?php if ($count++ % $itemsPerSlide == 0) : ?>
                <div class="slida<?php if ($count == 1): ?> active<?php endif; ?>">
                    <ul>
                    <?php endif; ?>

                    <li><a href="<?php echo $this->escape($_product->getProductUrl()); ?>">
                            <img onerror="src='<?php echo Ikantam_Url::getPublicUrl('images/broken.png'); ?>'" style="width:57px;max-height:57px;" src="<?php echo $this->escape($_product->getMainImageUrl()); ?>" alt="slide" />
                        </a>
                    </li>

                    <?php if ($count % $itemsPerSlide == 0 || $count == $this->products->getSize()) : ?>
                    </ul>
                </div>
            <?php endif; ?>

        <?php endforeach; ?>
    </div>

    <?php if ($this->products->getSize() > $itemsPerSlide) : ?>
        <div class="slida-nav visible-desktop">
            <button id="prev-slida"><i></i></button>
            <button id="next-slida"><i></i></button>
        </div>
    <?php endif; ?>
</aside>