<?php $pageUrl  = urlencode($this->product->getProductUrl()); ?>
<?php $imageUrl = urlencode($this->product->getMainImage()->getS3Url(1500, 1500, 'frame')); ?>
<?php $tweet    = urlencode('Loving the ' . $this->product->getTitle() . ' on @AptDeco:'); ?> 

<ul class="inline-list social-share hidden-mobile">
    <li><a href="https://twitter.com/share?url=<?php echo $pageUrl; ?>&text=<?php echo $tweet; ?>" target="_blank"><i class="apt-social-media"></i></a></li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $pageUrl; ?>" target="_blank"><i class="apt-social-media fb"></i></a></li>
    <li><a href="https://plus.google.com/share?hl=en-US&url=<?php echo $pageUrl; ?>" target="_blank"><i class="apt-social-media gp"></i></a></li>
    <li><a href="//pinterest.com/pin/create/button/?url=<?php echo $pageUrl; ?>&media=<?php echo $imageUrl; ?>" target="_blank"><i class="apt-social-media pt"></i></a></li>
</ul>