<div class="main-container push-header">
    <div class="main-row">
        <?php echo $this->partial('static_sidebar.phtml', array('current_controller' => 'faq')); ?>

        <div  class="aptcol-sm-9 main apt-blog" break-col="md">
            <h2 class="visible-desktop">FAQ</h2>

            <?php foreach ($this->questions as $_question): ?>
                <a href="#" class="get-info" rel="nofollow" <?php if ($isSet = isset($this->markers[$_question['post_title']])): ?> id="<?php echo $this->markers[$_question['post_title']]['title']; ?>" <?php endif; ?>>
                    <span class="togg-icon"><i></i></span>
                    <?php echo $this->escape($_question['post_title']); ?>
                </a>

                <div class="productInfo" <?php if ($isSet): ?> id="<?php echo $this->markers[$_question['post_title']]['body']; ?>" <?php endif; ?>>
                    <div class="content-block">
                        <div class="mceContentBody">
                            <p>
                                <?php echo str_replace('&nbsp;', '<br>', $_question['post_content']); ?>
                            </p>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>

<?php if ($query = $this->query) : ?>
    <script>
        $(document).ready(function() {
            var $elem = $("a#<?php echo $query; ?>-title span");
            if ($elem.length) {
                $("a#<?php echo $query; ?>-title span").addClass("opned");
                $("#<?php echo $query; ?>-body").show();
                $(document).scrollTop($elem.position().top);
            }
        });
    </script>
<?php endif; ?>