<div class="container-fluid" id="container"> 
	<?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

	<div class="mainContent" id="messages">
		<div id="user-actions">
			<h2>New message</h2>

			<?php foreach ($this->session->getMessages('success') as $message) : ?>
				<div class="alert alert-success" style="height:auto;"> <i></i>  
					<?php echo $message; ?>
					<button type="button" class="close" data-dismiss="alert">x</button>
				</div>
			<?php endforeach; ?>

			<div class="user-block">
				<h5>Me <i></i></h5>
				<a href="<?php echo $this->user->getProfileUrl(); ?>">
					<img src="<?php echo $this->user->getAvatarUrl(); ?>" alt="<?php echo $this->user->getFirstName(); ?>">
					<?php echo $this->user->getFirstName(); ?>
				</a>
				<div class="clearfix"></div>

				<form action="<?php echo Ikantam_Url::getUrl('user/inbox/create-post', array('id' => $this->user->getId())); ?>" method="post">

					<input type="text" name="subject" placeholder="Subject" value="<?php echo $this->session->getFormData('subject'); ?>" />

					<?php if ($this->session->getFormErrors('subject')) : ?>
						<p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('subject'); ?></p>
					<?php endif; ?>

					<textarea name="text" placeholder="Type text here"><?php echo $this->session->getFormData('text'); ?></textarea>

					<?php if ($this->session->getFormErrors('text')) : ?>
						<p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('text'); ?></p>
					<?php endif; ?>

					<div class="clearfix"></div>
					<input type="submit" value="Send" />
				</form>		
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
