<!-- container-fluid -->
<div class="container-fluid" id="container"> 

    <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

    <!-- mainContent -->
    <div class="mainContent" id="messages">

        <!-- user-actions -->
        <div id="user-actions">
            <h2>Inbox</h2>

            <div id="msg-filter">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <?php if ($this->status == 'new') : ?>
                            <span class="replacment">New</span> 
                        <?php else : ?>
                            <span class="replacment">All Messages</span> 
                        <?php endif; ?>

                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="<?php echo Ikantam_Url::getUrl('user/messages/inbox'); ?>">
                                All messages
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo Ikantam_Url::getUrl('user/messages/inbox', array('status' => 'new')); ?>">
                                Unread
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <button onclick="readMessages()" id="mark-as-read" class="btn">Mark as read</button>

            <div id="delete-msg">
                <button onclick="removeMessages()" class="removeitem"><i></i></button>
            </div>
            <!--/ delete message -->
        </div>
        <!--/ user-actions -->
        <div class="clear"></div>

        <!-- inbox -->
        <div id="inbox">

            <form id="mesages-form" action="" method="post">
                <table>
                    <thead>
                        <tr>
                            <th class="boxes">
                    <div id="checkall">
                        <div id="setsel" class="check-box">
                            <input type="checkbox" checked="checked" />
                        </div> 
                    </div>
                    </th>

                    <th>Name</th>
                    <th class="msg-title">Subject</th>
                    <th class="msg-date">Date</th>
                    </tr>
                    </thead>

                    <tbody>
                        <?php foreach ($this->messages as $message) : ?>
                            <?php $author = $message->getAuthor(); ?>
                            <tr>
                                <td class="boxes">
                                    <div class="check-box">
                                        <input type="checkbox" name="messages[]" value="<?php echo $message->getId(); ?>">
                                    </div>
                                </td>

                                <td class="myinbox-thumbs">
                                    <a href="<?php echo $author->getProfileUrl(); ?>">
                                        <img src="<?php echo $author->getAvatarUrl(); ?>" alt="username" />
                                        <?php echo $this->escape($author->getFirstName()); ?>
                                    </a>
                                </td>

                                <td>
                                    <?php if ($message->getIsNew()) : ?>
                                        <b>
                                    <?php endif; ?>
                                    
                                    <a href="<?php echo Ikantam_Url::getUrl('user/inbox/view', array('id' => $message->getId())); ?>">
                                        <?php echo $this->escape($message->getSubject()); ?>
                                    </a>
                                    
                                    <?php if ($message->getIsNew()) : ?>
                                        </b>
                                    <?php endif; ?>
                                </td>
                                
                                <td class="msg-date"><?php echo date('d M Y', $message->getCreatedAt()); ?></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </form>
            <div class="clear"></div>

            <?php if ($this->totalPages > 1) : ?>
                <div class="pagination pagination-right">
                    <ul>
                        <?php if ($this->currentPage > 1) : ?>
                            <li class="old-msgs">
                                <?php $url = Ikantam_Url::getUrl('user/messages/inbox', array('page' => ($this->currentPage - 1), 'status' => $this->status)); ?>
                                <a href="<?php echo $url; ?>">
                                    <i></i>
                                </a>
                            </li>
                        <?php endif; ?>

                        <?php $start = $this->currentPage - 2; ?>
                        <?php if ($start < 1) : ?>
                            <?php $start = 1; ?>
                        <?php endif; ?>

                        <?php for ($i = $start; $i < $this->currentPage; $i++) : ?>
                            <?php $url = Ikantam_Url::getUrl('user/messages/inbox', array('page' => $i, 'status' => $this->status)); ?>

                            <li>
                                <a href="<?php echo $url; ?>">
                                    <?php echo $i; ?>
                                </a>
                            </li>
                        <?php endfor; ?>

                        <?php if ($i + 1 < $this->currentPage) : ?>
                            <li><a href="javascript:void(0);">...</a></li>
                        <?php endif; ?>


                        <li><a href="javascript:void(0);"><?php echo $this->currentPage; ?></a></li>

                        <?php $finish = $this->currentPage + 2; ?>
                        <?php if ($finish > $this->totalPages) : ?>
                            <?php $finish = $this->totalPages; ?>
                        <?php endif; ?>

                        <?php for ($i = $this->currentPage + 1; $i <= $finish; $i++) : ?>
                            <?php $url = Ikantam_Url::getUrl('user/messages/inbox', array('page' => $i, 'status' => $this->status)); ?>

                            <li>
                                <a href="<?php echo $url; ?>">
                                    <?php echo $i; ?>
                                </a>
                            </li>
                        <?php endfor; ?>

                        <?php if ($this->currentPage < $this->totalPages) : ?>
                            <li class="new-msgs">
                                <?php $url = Ikantam_Url::getUrl('user/messages/inbox', array('page' => ($this->currentPage + 1), 'status' => $this->status)); ?>
                                <a href="<?php echo $url; ?>">
                                    <i></i>
                                </a>
                            </li>
                        <?php endif; ?>
                    </ul>    
                </div>
            <?php endif; ?>
        </div>
        <!--/ inbox -->

    </div>
    <!--/ mainContent -->

    <div class="clear"></div>





</div>
<!--/ container-fluid -->
<div class="clear"></div>

<script>

    $("#setsel").click(function() {
        if (!$(this).hasClass("checkedBox")) {
            $(this).addClass("checkedBox");
            $("input[name='messages[]']").each(function(){
                $(this).attr("checked", true);
                $(this).parent().addClass("checkedBox");
            });
        } else {
            $(this).removeClass("checkedBox");
            $("input[name='messages[]']").each(function(){
                $(this).attr("checked", false);
                $(this).parent().removeClass("checkedBox");
            });
        }
    });
 
	 
    function readMessages()
    {
        $("#mesages-form").attr("action", "<?php echo Ikantam_Url::getUrl('user/messages/read'); ?>").submit();
    }
	
    function removeMessages()
    {
        $("#mesages-form").attr("action", "<?php echo Ikantam_Url::getUrl('user/messages/delete'); ?>").submit();
    }
</script>