<div class="container-fluid" id="container"> 
	<?php echo $this->partial('sidebar.phtml', 'user', $this); ?>
	<div class="mainContent" id="messages">
		<div id="user-actions">
			<h2>You can not send messages to this user.</h2>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>