<!-- container-fluid -->
<div class="container-fluid" id="container"> 

    <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

    <!-- mainContent -->
    <div class="mainContent" id="messages">

        <!-- user-actions -->
        <div id="user-actions">
            <h2>Sent Messages</h2>

            <div id="delete-msg">
                <button onclick="removeMessages()" class="removeitem"><i></i></button>
            </div>
            <!--/ delete message -->
        </div>
        <!--/ user-actions -->
        <div class="clear"></div>

        <!-- inbox -->
        <div id="inbox">

            <form id="mesages-form" action="" method="post">
                <table class="hidden-phone">
                    <thead>
                        <tr>
                            <th class="boxes">
                    <div id="checkall">
                        <div id="setsel" class="check-box">
                            <input type="checkbox" checked="checked" />
                        </div> 
                    </div>
                    </th>

                    <th>Name</th>
                    <th class="msg-title">Subject</th>
                    <th class="msg-date">Date</th>
                    </tr>
                    </thead>

                    <tbody>
                        <?php foreach ($this->messages as $message) : ?>
                            <?php $conversation = $message->getConversation(); ?>
                            <?php foreach ($conversation->getUsers() as $cUser) : ?>
                                <?php if ($message->getAuthor()->getId() != $cUser->getId()) : ?>
                                    <?php $author = $cUser; ?>
                                <?php endif; ?>
                            <?php endforeach; ?>
                            
                            <tr>
                                <td class="boxes"><div class="check-box"><input type="checkbox" name="messages[]" value="<?php echo $message->getId(); ?>"></div></td>
                                <td class="myinbox-thumbs"><a href="<?php echo $author->getProfileUrl(); ?>">
                                        <img src="<?php echo $author->getAvatarUrl(); ?>" alt="username" />
                                        <?php echo $this->escape($author->getFirstName()); ?>
                                    </a>
                                </td>
                                <td>
                                    <a href="<?php echo Ikantam_Url::getUrl('user/inbox/view', array('id' => $message->getId())); ?>">
                                        <?php echo $this->escape($conversation->getSubject()); ?>
                                    </a>
                                </td>
                                <td class="msg-date"><?php echo date('d M Y', $message->getCreatedAt()); ?></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
                <div class="clear"></div>
                <!-- Mobile Table
        ================================================== -->
                <table class="visible-phone mob-sent">
                    <!-- table header -->
                    <tr>
                        <th class="boxes"> 
                    <div id="checkall">
                        <div id="setsel-1" class="check-box">
                            <input type="checkbox" checked="checked">
                        </div>
                    </div>
                    </th>
                    <th class="msg-title">&nbsp;</th>
                    </tr>
                    <!--/ table header -->

                    <?php foreach ($this->messages as $message) : ?>
                        <?php $conversation = $message->getConversation(); ?>
                        <?php foreach ($conversation->getUsers() as $cUser) : ?>
                            <?php if ($message->getAuthor()->getId() != $cUser->getId()) : ?>
                                <?php $author = $cUser; ?>
                            <?php endif; ?>
                        <?php endforeach; ?>

                        
                        <tr>
                            <td class="boxes"><div class="check-box"><input type="checkbox" name="messages[]" value="<?php echo $message->getId(); ?>"></div></td>

                            <td  class="msg-date">
                                <p>
                                    <a href="<?php echo $author->getProfileUrl(); ?>">
                                        <img src="<?php echo $author->getAvatarUrl(); ?>" alt="username">
                                        <?php echo $this->escape($author->getFirstName()); ?>
                                    </a>
                                </p>

                                <h4>
                                    <a href="<?php echo Ikantam_Url::getUrl('user/inbox/view', array('id' => $message->getId())); ?>">
                                        <?php echo $this->escape($conversation->getSubject()); ?>
                                    </a>
                                </h4>

                                <p><?php echo date('d M Y', $message->getCreatedAt()); ?></p>
                            </td>

                        </tr>
                    <?php endforeach; ?>

                </table>
                <div class="clear"></div>
                <!-- Mobile Table
                ================================================== -->
            </form>


            <?php if ($this->totalPages > 1) : ?>
                <div class="pagination pagination-right">
                    <ul>
                        <?php if ($this->currentPage > 1) : ?>
                            <li class="old-msgs">
                                <?php $url = Ikantam_Url::getUrl('user/inbox/sent', array('page' => ($this->currentPage - 1))); ?>
                                <a href="<?php echo $url; ?>">
                                    <i></i>
                                </a>
                            </li>
                        <?php endif; ?>

                        <?php $start = $this->currentPage - 2; ?>
                        <?php if ($start < 1) : ?>
                            <?php $start = 1; ?>
                        <?php endif; ?>

                        <?php for ($i = $start; $i < $this->currentPage; $i++) : ?>
                            <?php $url = Ikantam_Url::getUrl('user/inbox/sent', array('page' => $i)); ?>

                            <li>
                                <a href="<?php echo $url; ?>">
                                    <?php echo $i; ?>
                                </a>
                            </li>
                        <?php endfor; ?>

                        <?php if ($i + 1 < $this->currentPage) : ?>
                            <li><a href="javascript:void(0);">...</a></li>
                        <?php endif; ?>


                        <li><a href="javascript:void(0);"><?php echo $this->currentPage; ?></a></li>

                        <?php $finish = $this->currentPage + 2; ?>
                        <?php if ($finish > $this->totalPages) : ?>
                            <?php $finish = $this->totalPages; ?>
                        <?php endif; ?>

                        <?php for ($i = $this->currentPage + 1; $i <= $finish; $i++) : ?>
                            <?php $url = Ikantam_Url::getUrl('user/inbox/sent', array('page' => $i)); ?>

                            <li>
                                <a href="<?php echo $url; ?>">
                                    <?php echo $i; ?>
                                </a>
                            </li>
                        <?php endfor; ?>

                        <?php if ($this->currentPage < $this->totalPages) : ?>
                            <li class="new-msgs">
                                <?php $url = Ikantam_Url::getUrl('user/inbox/sent', array('page' => ($this->currentPage + 1))); ?>
                                <a href="<?php echo $url; ?>">
                                    <i></i>
                                </a>
                            </li>
                        <?php endif; ?>
                    </ul>    
                </div>
            <?php endif; ?>
        </div>
        <!--/ inbox -->

    </div>
    <!--/ mainContent -->

    <div class="clear"></div>





</div>
<!--/ container-fluid -->
<div class="clear"></div>

<script>

    $("[id*='setsel']").click(function() {
        if (!$(this).hasClass("checkedBox")) {
            $(this).addClass("checkedBox");
            $("input[name='messages[]']").each(function(){
                $(this).attr("checked", true);
                $(this).parent().addClass("checkedBox");
            });
        } else {
            $(this).removeClass("checkedBox");
            $("input[name='messages[]']").each(function(){
                $(this).attr("checked", false);
                $(this).parent().removeClass("checkedBox");
            });
        }
    });
 
	 
    function readMessages()
    {
        $("#mesages-form").attr("action", "<?php echo Ikantam_Url::getUrl('user/inbox/read'); ?>/redirect/sent").submit();
    }
	
    function removeMessages()
    {
        $("#mesages-form").attr("action", "<?php echo Ikantam_Url::getUrl('user/inbox/delete'); ?>/redirect/sent").submit();
    }
</script>