<div class="container-fluid" id="container"> 

	<?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

	<div class="mainContent" id="messages">
		<div id="user-actions">
			<h2><?php echo $this->conversation->getSubject(); ?></h2>

			<?php foreach ($this->conversation->getMessagesByUserId($this->session->getUserId()) as $message) : ?>
				<div class="single-msg">
					<a href="<?php echo $message->getAuthor()->getProfileUrl(); ?>">
						<?php echo $message->getAuthor()->getFirstName(); ?>
					</a>
					
					<p><?php echo $message->getText(); ?></p>

					<div class="single-msg-action">
						<span><?php echo date('d M Y h:i A', $message->getCreatedAt()); ?></span>
						<button class="removeitem" onclick="window.location='<?php echo Ikantam_Url::getUrl('user/inbox/delete-message', array('id' => $message->getId()))?>'"><i></i></button>
					</div>
				</div>

			<?php endforeach; ?>

			<div class="clear"></div>

			<div class="user-block" id="replay-msg">
				<?php $participants = $this->conversation->getUsers(); ?>
				<?php foreach ($participants as $participant) : ?>
					<?php if ($this->session->getUserId() !== $participant->getId()) : ?>
					<?php $names[] = $participant->getFirstName(); ?>
				<?php endif; ?>
				<?php endforeach; ?>
				
				<h5>Me <i></i> <span><?php echo implode(',', $names); ?></span></h5>
				<form class="clearfix p-b30" action="<?php echo Ikantam_Url::getUrl('user/inbox/conversation-post', array('id' => $this->conversation->getId())); ?>" method="post">
					<textarea name="text" placeholder="Type text here"></textarea>
					<div class="clearfix"></div>
					<?php if ($this->session->getFormErrors('text')) : ?>
						<p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('text'); ?></p>
					<?php endif; ?>
					<input type="submit" value="Send">
				</form>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>