<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6008487659099&amp;value=0.01&amp;currency=USD" /></noscript>

<?php /* @var $order Order_Model_Order */ ?>
<?php $order = $this->order; ?>
<?php echo $this->thirdPartyWidget('friendbuy.track_purchase', array('order' => $order)); ?>
<script type="text/javascript">
    iKantam.namespace('checkout').err = <?php echo Zend_Json::encode($this->session->getMessages('error')); ?>;
</script>
<!-- container -->
<div class="container-fluid" id="container">
    <div class="success-post-container clearfix">

        <div class="success-post-main">
            <div class="text-center">
                <img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/marker.png') ?>" alt="AptDeco" />
                <h1>
                    Your purchase request has <br />
                    been sent to the seller
                </h1>
                You can expect a response within 24 hours. If the seller accepts, the sale will be confirmed. You will only be charged once the sale is confirmed.
            </div>
            <hr />
            <?php if (!$order->getUserId()): ?>
                <h3>Create a Password</h3>
                <span class="text-std text-mute">
                    Enter a password to sign up for an account.
                    Sign up for easy checkout, tracking purchases and sales, auto-calculation of shipping costs and other features.
                </span>
                <form class="apt-form apt-v-last" action="<?php echo $this->getUrl('registration/post') ?>" method="post">
                    <input type="hidden" name="terms" value="1" />
                    <div class="row m-t17">
                        <div class="span6">
                            <div class="control-group">
                                <div class="block-fields">
                                    <input type="text" class="form-field" placeholder="Name" name="full_name"  value="<?php echo $order->getUserFullName() ?>"/>
                                </div>
                            </div>

                            <div class="control-group m-0">
                                <div class="block-fields">
                                    <input type="email" class="form-field" placeholder="Email" name="email" value="<?php echo $order->getUserEmail() ?>" />
                                </div>
                            </div>
                        </div>

                        <div class="span6">
                            <div class="control-group">
                                <div class="block-fields">
                                    <input type="password" class="form-field" placeholder="Password" name="password" />
                                </div>
                            </div>
                            <div class="control-group m-0">
                                <div class="block-fields">
                                    <input type="password" class="form-field" placeholder="Confirm password" name="password_confirm" />
                                </div>
                            </div>
                            <div class="clear"></div>
                            <button type="submit" class="apt-btn primary pull-right md">Sign up</button>
                        </div>
                    </div>
                </form>
                <hr />
            <?php endif ?>
            <div class="text-center">
                <a href="<?php echo $this->getUrl('') ?>" class="apt-btn primary text-uc lrg fit">CONTINUE SHOPPING</a>
            </div>

        </div>

        <div class="success-post-sidebar"
             >
            <div class="purchased-item">
                <h4>Purchased item(s)</h4>
                <ul>
                    <?php foreach ($order->getAllItems() as $item): ?>
                        <?php $_product = $item->getProduct(); ?>

                        <li>
                            <div class="small-thumb">
                                <a href="<?php echo $_product->getProductUrl() ?>">
                                    <img src="<?php echo $_product->getMainImage()->getS3Url(200, 200, 'crop'); ?>" alt="item" />
                                </a>
                            </div>
                            <div class="product-info">
                                <a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->escape($_product->getTitle()); ?></a>
                                <span><br /> <?php echo $item->getQty() ?> item(s) - <?php echo $this->currency($item->getProductPrice()) ?></span>
                            </div>
                        </li>
                    <?php endforeach ?>
                </ul>

                <hr />
                <?php if ($item->getBuyerDates()): ?>
                    <h4>Selected Delivery Dates</h4>
                    <?php foreach ($item->getBuyerDates() as $date) : ?>
                        <p><?php echo $this->formatDate($date); ?></p>
                    <?php endforeach; ?>
                    <hr />
                <?php endif ?>

                <?php $shAddr = $order->getShippingAddress(); ?>
                <?php if ($shAddr->getId()) : ?>
                    <h4>Delivery Information</h4>
                    <p class="text-primary dark">
                        <?php echo $this->BBCode()->only('paragraph')->parse($this->escape($this->formatAddress($shAddr, $this->addressDecorator))); ?>
                    </p>
                    <hr />
                <?php endif; ?>

                <div class="clearfix">
                    <h4 class="pull-left p-t8">Price paid</h4>
                    <span class="paid-price"><?php echo $this->currency($order->getTotalAmount()) ?></span>
                </div>
            </div>


            <div class="sidebar-share-widget socials">
                <h4 class="m-b10">Share with your friends</h4>
                <div class="clear"></div>
                <a href="javascript:void()" onclick="popupwindow('http://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($this->getUrl('')) ?>', 'facebook', '600', '400')" ><i class="ico-socials facebook"></i></a>
                <a href="javascript:void()" onclick="popupwindow('https://twitter.com/share?url=<?php echo urlencode($this->getUrl('')) ?>', 'twitter', '600', '400')" ><i class="ico-socials twitter"></i>
                    <a href="javascript:void()" onclick="popupwindow('https://plus.google.com/share?hl=en-US&amp;url=<?php echo urlencode($this->getUrl('')) ?>', 'google', '600', '400')" ><i class="ico-socials google-plus"></i>
                        </div>

                        </div>

                        </div>
                        </div>

                        <div class="clear"></div>
                        <script type="text/javascript">
                            iKantam.storage.set('stepsComplete', true);
                        </script>
                        <?php if (APPLICATION_ENV == 'live') : ?>
                            <script type="text/javascript">
                                var _gaq = _gaq || [];
                                _gaq.push(['_setAccount', 'UA-37297503-1']);
                                //    _gaq.push(['_trackPageview']);
                                _gaq.push(['_addTrans',
                                    '<?php echo $order->getId() ?>', // transaction ID - required
                                    'AptDeco', // affiliation or store name
                                    '<?php echo $order->getTotalAmount() ?>', // total - required
                                    '0', // tax
                                    '<?php echo $order->getShippingAmount() ?>', // shipping
                                    '<?php echo $order->getBillingAddress()->getCity() ?>', // city
                                    '<?php echo $order->getBillingAddress()->getStateName() ?>', // state or province
                                    '<?php echo $order->getBillingAddress()->getCountryCode() ?>'  // country
                                ]);

                                // add item might be called for every item in the shopping cart
                                // where your ecommerce engine loops through each item in the cart and
                                // prints out _addItem for each

    <?php foreach ($order->getAllItems() as $_item): ?>
                                    _gaq.push(['_addItem',
                                        '<?php echo $_item->getOrderId() ?>', // transaction ID - required
                                        '<?php echo $_item->getProductId() ?>', // SKU/code - required
                                        '<?php echo $_item->getProductTitle() ?>', // product name
                                        '<?php echo $_item->getProduct()->getCategory()->getTitle() ?>', // category or variation
                                        '<?php echo $_item->getProductPrice() ?>', // unit price - required
                                        '<?php echo $_item->getQty() ?>'                                 // quantity - required
                                    ]);
    <?php endforeach ?>

                                _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers
                                (function () {
                                    var ga = document.createElement('script');
                                    ga.type = 'text/javascript';
                                    ga.async = true;
                                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                                    var s = document.getElementsByTagName('script')[0];
                                    s.parentNode.insertBefore(ga, s);
                                })();
                            </script>

                            <script type="text/javascript">
                                _kmq.push(['record', 'purchased', {'order #': '<?php echo $order->getId() ?>'}]);
                            </script>
                        <?php endif ?>
                        <?php /*
                          <!-- Begin Curebit integration code -->
                          <script>
                          //<![CDATA[
                          var _curebitq = _curebitq || [];
                          _curebitq.push(['init', {
                          site_id: 'aptdeco-3c47343a-ba21-4494-a85e-4931b0961070', // REQUIRED - Curebit Site ID
                          server: 'https://www.curebit.com' // OPTIONAL - Use your own domain (enterprise only)
                          }]);


                          var _curebit_order_details = {
                          order_number: '<?php echo $this->order->getId(); ?>', /* REQUIRED - Order number *//*
                          order_date: '<?php echo date('Y-m-d H:i:s'); ?>', /* REQUIRED - Order Date and Time (in UTC time zone, or as a timestamp with timezone information) *//*
                          email: '<?php echo $this->session->getUser()->getMainEmail(); ?>', /* REQUIRED - Customer Email Address *//*
                          subtotal: '<?php echo $this->order->getTotal(); ?>', /* REQUIRED - Purchase Subtotal *//*
                          coupon_code: '', /* REQUIRED - Coupon code used at checkout *//*
                          customer_id: '<?php echo $this->session->getUserId(); ?>', /* Optional - Set to your internal customer ID for tracking *//*
                          custom_field: null, /* Optional - Any custom order data you might need *//*
                          campaign_tags: ['default'], /* Optional - Campaign tags used to target specific campaign for offer *//*
                          dont_redeem: false, /* Optional - Tell curebit that this purchase should not be redeemed *//*
                          first_name: '', /* Optional - Customer First Name *//*
                          last_name: '' /* Optional - Customer Last Name *//*
                          };
                          _curebitq.push(['register_purchase', _curebit_order_details]);

                          //]]>
                          </script>
                          <script src="//d2jjzw81hqbuqv.cloudfront.net/assets/api/all-0.6.js" type="text/javascript"></script>
                          <!-- End Curebit integration code -->
                         */ ?>