<?php //EMAIL_TEMPLATE: RED ?>
<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>

    <body>

    <div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="confirmation-listing">
        <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">
            <div style="padding: 10px 20px;">
                <p style="font-family: Arial, sans-serif; font-size: 12px;color:#333333">Your Billing Receipt - Order #<?php echo $this->item->getOrderId(); ?>:  <a href="<?php echo $this->product->getProductUrl(); ?>" style="color: #D85927;text-decoration:none;"><?php echo $this->product->getTitle(); ?></a></p>
            </div>
            <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
                <span>Billing Receipt</span>
                <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
            </div>
            <div style="margin: 30px 20px;"><a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"><img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/aptdeco-logo.png') ?>" alt="AptDeco" /></a></div>
            <div style="background: #fff; margin: 0 20px; padding: 20px;">
                <p style="text-align: center;">
                    YOUR RECEIPT
                    <br>
                    Thanks for shopping with us. Here is your receipt for your recent purchase.
                </p>
            </div>

            <table style="width: 300px;border-collapse:collapse;border-spacing:0;background-color: #f5f5f5; margin: 20px;">

                <thead>
                <tr style="border-bottom: 1px solid #cccccc">
                    <th colspan="2" style="padding: 10px; "><?php echo $this->product->getTitle(); ?></th>
                </tr>
                </thead>
                <tbody><tr style="border-bottom: 1px solid #ebebeb">
                    <td style="padding: 10px; ">Price</td>
                    <td style="padding: 10px; text-align: right"><?php echo $this->currency($this->item->getRowTotal()); ?></td>
                </tr>
              <?php if ($this->item->getShippingMethodId() === Order_Model_Order::ORDER_SHIPPING_METHOD_DELIVERY) : ?>
                <tr style="border-bottom: 1px solid #ebebeb">
                    <td style="padding: 10px; ">Delivery</td>
                    <td style="padding: 10px; text-align: right"><?php echo $this->currency($this->item->getShippingAmount()); ?></td>
                </tr>
              <?php endif; ?>
                <tr style="border-bottom: 1px solid #ebebeb">
                    <td style="padding: 10px; ">Discount</td>
                    <td style="padding: 10px; text-align: right"><?php echo $this->currency($this->item->getDiscountAmount()); ?></td>
                </tr>


                <tr style="background-color: #ebebeb;">
                    <td style="padding: 10px; "><strong style="font-weight: bold;">Subtotal</strong></td>
                    <td style="padding: 10px; text-align: right;"><strong style="font-weight: bold;"><?php echo $this->currency($this->item->getRowTotal() + $this->item->getShippingAmount() - $this->item->getDiscountAmount()); ?></strong></td>
                </tr>
                </tbody></table>

            <div style="padding: 0 20px 20px 20px;">
       <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 20px 0 0 0;">
      Cheers, <br>
      The AptDeco Team </span>
            </div>
</div>
    </div>

    </body>
</html>