<?php //EMAIL_TEMPLATE: RED ?>
<?php $deliveryDate = $this->formatDate($this->item->getBuyerDate()); ?>
<!DOCTYPE html>
<html>
<head>
    <title>AptDeco</title>
</head>

<body>

<div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="confirmation-listing">
    <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">
        <div style="padding: 10px 20px;">
            <p style="font-family: Arial, sans-serif; font-size: 12px;color:#333333">Sale Confirmed -  <a href="<?php echo $this->product->getProductUrl(); ?>" style="color: #D85927;text-decoration:none;"><?php echo $this->product->getTitle(); ?></a></p>
        </div>
        <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
            <span>DELIVERY | Sale Confirmed</span>
            <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
        </div>
        <div style="margin: 30px 20px;"><a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"><img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/aptdeco-logo.png') ?>" alt="AptDeco" /></a></div>

        <div style="background: #f5f5f5; margin: 0 20px 30px 20px; padding: 20px;">
            Hi <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->buyer->getId())); ?>" style="color: #D85927;text-decoration:none;"><?php echo $this->buyer->getFirstName(); ?></a>,
            <br><br>
            Congratulations! Your request to purchase the <a href="<?php echo $this->product->getProductUrl();?>" style="color: #D85927;text-decoration:none;"><strong style="font-weight: bold;"><?php echo $this->product->getTitle(); ?></strong></a> has been confirmed by  <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->seller->getId())); ?>" style="color: #D85927;text-decoration:none;"><strong style="font-weight: bold;"><?php echo $this->seller->getFirstName(); ?></strong></a>.
            <br><br>
            We have successfully processed the transaction and charged your card for the full amount.
            <br><br>
            You're scheduled for delivery on <strong style="font-weight: bold;"><?php echo $deliveryDate; ?></strong>
            <br><br>
            Don't forget to <a href="<?php echo Ikantam_Url::getUrl('user/purchase/history'); ?>" style="color: #D85927;">confirm delivery</a> once the item has been delivered!
            <br>
            <a href="<?php echo Ikantam_Url::getUrl('user/purchase/history'); ?>" style="border: 0; color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #DA5B29; text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;"> <strong style="font-weight: bold;"> Confirm Delivery</strong></a>
        </div>



        <div style="padding: 0 20px 20px 20px;">
       <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 20px 0 0 0;">
      Cheers, <br>
      The AptDeco Team </span>
        </div>
    </div>
</div>

</body>
</html>