<?php /* @var $_item Admin_Model_Order_Item */ ?>
<?php $_item = $this->item ?>
<input type="hidden" name="id" value="<?php echo $_item->getId()?>" />
<td>
    <a href="<?php echo $_item->getUrl() ?>" target="_blank"><?php echo $_item->getProductTitle() ?></a>
</td>
<td>
    #<?php echo $_item->getOrderId() ?>
</td>
<td>
    <?php echo nl2br($this->escape($this->formatAddress($_item->getProduct()))); ?>

</td>
<td>
    <?php $shippingAddress = $_item->getOrder()->getShippingAddress(); ?>
    <?php echo nl2br($this->escape($this->formatAddress($shippingAddress))); ?>
</td>
<td>
    <?php echo $this->formatDate($_item->getSellerDates()) ?>
</td>
<td>
    <div class="item_view">
        <?php echo $_item->getCarrierWorkNumber() ?>
    </div>

    <div class="item_edit">
        <input type="text" name="carrier_work_number" class="w-90" title="Dumbo Work #" value="<?php echo $_item->getCarrierWorkNumber() ?>" placeholder="Dumbo Work #" />
    </div>
</td>
<td>
    <div class="item_view">
        <?php
        switch ($_item->getShippingStatus()) {
            case 'outstanding' : $className = 'in-progress';
                break;
            case 'complete'    : $className = 'recived';
                break;
            case 'cancelled'   : $className = 'text-error';
                break;
            default : $className = '';
                break;
        }
        ?>
        <span class="status <?php echo $className?>">  <?php echo $_item->getShippingStatus() ?></span>
    </div>
    <div class="item_edit">
        <select name="shipping_status" class="w-113" title="Shipping Status">
            <?php foreach ($_item->getShippingStatuses() as $_status): ?>
                <option value="<?php echo $_status ?>" <?php if ($_status == $_item->getShippingStatus()): ?> selected="selected" <?php endif ?>><?php echo $_status?></option>
            <?php endforeach ?>
        </select>
    </div>
</td>
<td>
    <div class="item_view">
        <?php echo $_item->getFollowUp() ?>
    </div>
    <div class="item_edit">
        <textarea name="follow_up" placeholder="Follow Up" class="w-113" title="Follow Up"><?php echo $_item->getFollowUp() ?></textarea>
    </div>
</td>
<td>
    <div class="item_view">
        <button type="button" class="apt-btn primary m-tb10" onclick="shipping.showEditItem(this)">Edit</button>
    </div>
    <div class="item_edit">

        <button type="button" class="apt-btn primary m-tb10" onclick="shipping.saveItem(this)">Save</button>

        <a href="javascript:return false" class="cancel" onclick="shipping.hideEditItem(this)">Cancel</a>
        <!--                            <button type="button" class="apt-btn ">Cancel</button>-->

    </div>

</td>
