<div class="container-fluid" id="container">
    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>
    <div class="mainContent" id="messages">
        <div id="shipping">
            <div class="review-counter">
                <a href="<?php echo Ikantam_Url::getUrl('admin/shipping/edit-carrier') ?>">Edit Dumbo Email</a>
            </div>
            <div id="calendar"></div>

            <div>
                <?php echo $this->form; ?>
            </div>

            <div class="clear"></div>

            <div id="shipping-container">
                <?php echo $this->partial('shipping/items.phtml', 'admin', $this); ?>
            </div>  
        </div>
    </div>
    <div class="clear"></div>
</div>
<script>
    function Shipping(url, elementId, changeItemUrl)
    {
        this.url = url;
        this.container = $('#' + elementId);
        this.changeItemUrl = changeItemUrl;
        this.getItems = function(dataJson) {
            this.showLoader();
            var container = this.container;
            jQuery.ajax({
                url: this.url,
                data: dataJson,
                success: function(data) {
                    container.html(data);
                }
            })
        };
        this.showLoader = function() {
            $('#overlay, #loader-container').show();
        };
        this.hideLoader = function() {
            $('#overlay, #loader-container').hide();
        };
        this.showEditItem = function(el) {
            var $tr = $(el).closest('tr');
            $tr.find('.item_view').fadeOut(400, function() {
                $tr.find('.item_edit').fadeIn(400);
            }
            );
        };
        this.hideEditItem = function(el) {
            var $tr = $(el).closest('tr');
            $tr.find('.item_edit').fadeOut(400, function() {
                $tr.find('.item_view').fadeIn(400);
            }
            );
        };
        this.saveItem = function(el)
        {
            obj = this;
            obj.showLoader();
            var url = this.changeItemUrl;
            var $tr = $(el).closest('tr');
            var elements = $tr.find('select, input, textarea');
            var data = {};
            elements.each(function() {
                $this = $(this);
                data[$this.attr('name')] = $this.val();
            });
            $.ajax({
                url: url,
                type: 'post',
                data: data,
                success: function(data) {
                    obj.hideLoader();
                    $tr.addClass('success').html(data);
                }
            });
            return false;
        }
    }
</script>

<script>
    $(document).ready(function() {
        shipping = new Shipping('<?php echo Ikantam_Url::getUrl('admin/shipping/ajax') ?>', 'shipping-container', '<?php echo Ikantam_Url::getUrl('admin/shipping/change-ajax') ?>');

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            theme: true,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month, agendaWeek,agendaDay, basicWeek,basicDay'
            },
            editable: false,
            selectable: true,
            events: <?php echo $this->events ?>,
            select: function(start, end, allDay) {
                var startDate = start.getFullYear() + '-'
                        + ('0' + (start.getMonth() + 1)).slice(-2) + '-'
                        + ('0' + start.getDate()).slice(-2);

                var endDate = end.getFullYear() + '-'
                        + ('0' + (end.getMonth() + 1)).slice(-2) + '-'
                        + ('0' + end.getDate()).slice(-2);
                shipping.getItems({start_date: startDate, end_date: endDate});
            },
            eventClick: function(event) {
                if (event.url) {
                    window.open(event.url);
                    return false;
                }
            }
        });

        $('#shippnig-filter').click(function() {
            var startDate = $('#datepicker4').attr('value');
            var endDate = $('#datepicker5').attr('value');
            if ((startDate == "") || (endDate == "")) {
                alert('Please select a time interval');
            } else {
                shipping.getItems({start_date: startDate, end_date: endDate});
            }
        });
    });
</script>
<script>
    $("#datepicker4, #datepicker5").datepicker({
        dateFormat: 'M dd, yy',
        showOtherMonths: true,
        selectOtherMonths: true,
        showOn: "both",
        buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
        buttonImageOnly: true,
        prevText: "",
        nextText: ""
    });
</script> 
