<h3>
    <?php echo date('F j, Y', $this->startDate); ?>
    <?php if (($this->endDate - $this->startDate) >= 86400): ?>
        - <?php echo date('F j, Y', $this->endDate); ?>
    <?php endif; ?>
</h3>

<?php if (count($this->items)) : ?>
    <h4>
        <a href="<?php echo Ikantam_Url::getUrl('admin/shipping/export', array('start_date' => $this->startDate, 'end_date' => $this->endDate)); ?>">
            Download .csv
        </a>
    </h4>

    <div id="inbox" class="users-table">
        <form action="" method="post">
            <table>
                <tr>
                    <th>Pick Up / Drop Off</th>
                    <th class="padding-none">AD PO</th>
                    <th>Title</th>
                    <th>Address</th>
                    <th>Pick Up Date</th>
                    <th>Drop Off Date</th>
                    <th>Link</th>
                    <th>Flights</th>
                    <th>Neighborhood</th>
                    <th>Notes</th>
                    <th>Delivery Cost</th>
                    <th>Condition</th>
                    <th>Photo</th>
                    <th>Dumbo Work #</th>
                    <th>Shipping Status</th>
                    <th>Follow Up</th>
                    <th>&nbsp;</th>
                </tr>
                <?php foreach ($this->items as $_item) : ?>
                    <?php /* @var $_item Admin_Model_Order_Item */ ?>
                    <?php $pickUpPostalCode   = $_item->getProduct()->getPickupPostcode(); ?>
                    <?php $dropOffPostalCode  = $_item->getOrder()->getShippingAddress()->getPostalCode(); ?>
                    <?php $itemShippingAmount = new Cart_Model_Totals_Shipping(); ?>

                    <?php //Pick Up ?>
                    <tr>
                        <td>Pick Up</td>
                        <td>
                            <input type="hidden" name="id" value="<?php echo $_item->getId() ?>" />
                            <?php echo $_item->getOrderId() ?>
                        </td>

                        <td>
                            <a href="<?php echo $_item->getUrl() ?>" target="_blank"><?php echo $_item->getProductTitle() ?></a>
                        </td>

                        <td>
                            <?php echo nl2br($this->escape($this->formatAddress($_item->getProduct()))); ?>
                        </td>

                        <td class="w-90">
                            <?php echo str_replace(',', ',</br>', $this->formatDate($_item->getSellerDates(), 'short')) ?>
                        </td>
                        <td class="w-90">
                            <?php echo str_replace(',', ',</br>', $this->formatDate($_item->getBuyerDate())) ?>
                        </td>

                        <td>
                            <a style="width:90px;word-wrap: break-word;" href="<?php echo $this->escape($_item->getProduct()->getProductUrl()); ?>">
                                <?php echo $this->escape($_item->getProduct()->getProductUrl()); ?>
                            </a>
                        </td>

                        <?php $sellerOptions      = $_item->getSellerDeliveryOptions(); ?>

                        <td>
                            <?php echo $sellerOptions['building_type'] == 'walkup' ? $sellerOptions['flights_of_stairs'] : 'elevator'; ?>
                        </td>


                        <?php
                        $dbh                = Application_Model_DbFactory::getFactory()->getConnection();
                        $sql                = 'SELECT `name` FROM `boroughs` '
                                . 'JOIN `postal_codes` ON `boroughs`.`id` = `postal_codes`.`borough_id` '
                                . 'WHERE `postal_codes`.`code` = :postal_code';

                        $stmt = $dbh->prepare($sql);

                        //
                        $stmt->bindParam(':postal_code', $pickUpPostalCode);
                        $stmt->execute();
                        $res                 = $stmt->fetch(PDO::FETCH_ASSOC);
                        $pickUpNeighbourhood = isset($res['name']) ? $res['name'] : 'N/A';

                        $stmt->closeCursor();
                        ?>

                        <td>
                            <?php echo $pickUpNeighbourhood; ?>
                        </td>

                        <td>
                            <?php echo $_item->getNotes(); ?>
                        </td>

                        <td>
                            <?php echo $this->currency($itemShippingAmount->collectTotalsForOrderItem($_item->getOrder())); ?>
                        </td>

                        <td>
                            <?php echo $_item->getProduct()->getCondition(); ?>
                        </td>

                        <td>
                            <img src="<?php echo $_item->getProduct()->getMainImage()->getS3Url(360, 300, 'frame'); ?>" />
                        </td>

                        <td>
                            <div class="item_view">
                                <?php echo $_item->getCarrierWorkNumber() ?>
                            </div>

                            <div class="item_edit">
                                <input type="text" name="carrier_work_number" class="w-90" title="Dumbo Work #" value="<?php echo $_item->getCarrierWorkNumber() ?>" placeholder="Dumbo Work #" />
                            </div>
                        </td>

                        <td>
                            <div class="item_view">
                                <?php
                                switch ($_item->getShippingStatus()) {
                                    case 'outstanding' : $className = 'in-progress';
                                        break;
                                    case 'complete' : $className = 'recived';
                                        break;
                                    case 'cancelled' : $className = 'text-error';
                                        break;
                                    default : $className = '';
                                        break;
                                }
                                ?>
                                <span class="status <?php echo $className ?>">  <?php echo $_item->getShippingStatus() ?></span>
                            </div>

                            <div class="item_edit">
                                <select name="shipping_status" class="w-113" title="Shipping Status">
                                    <?php foreach ($_item->getShippingStatuses() as $_status): ?>
                                        <option value="<?php echo $_status ?>" <?php if ($_status == $_item->getShippingStatus()): ?> selected="selected" <?php endif ?>><?php echo $_status ?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </td>

                        <td>
                            <div class="item_view">
                                <?php echo $_item->getFollowUp() ?>
                            </div>

                            <div class="item_edit">
                                <textarea name="follow_up" placeholder="Follow Up" class="w-113" title="Follow Up"><?php echo $_item->getFollowUp() ?></textarea>
                            </div>
                        </td>

                        <td>
                            <div class="item_view">
                                <button type="button" class="apt-btn primary m-tb10" onclick="shipping.showEditItem(this)">Edit</button>
                            </div>

                            <div class="item_edit">
                                <button type="button" class="apt-btn primary m-tb10" onclick="shipping.saveItem(this)">
                                    Save
                                </button>

                                <a href="javascript:return false" class="cancel" onclick="shipping.hideEditItem(this)">
                                    Cancel
                                </a>
                            </div>
                        </td>
                    </tr>

                    <?php //Drop Off ?>
                    <tr>
                        <td>Drop Off</td>
                        <td>
                            <input type="hidden" name="id" value="<?php echo $_item->getId() ?>" />
                            <?php echo $_item->getOrderId() ?>
                        </td>

                        <td>
                            <a href="<?php echo $_item->getUrl() ?>" target="_blank"><?php echo $_item->getProductTitle() ?></a>
                        </td>

                        <td>
                            <?php $shippingAddress      = $_item->getOrder()->getShippingAddress(); ?>
                            <?php echo nl2br($this->escape($this->formatAddress($shippingAddress))); ?>
                        </td>

                        <td class="w-90">
                            <?php echo str_replace(',', ',</br>', $this->formatDate($_item->getSellerDates(), 'short')) ?>
                        </td>

                        <td class="w-90">
                            <?php echo str_replace(',', ',</br>', $this->formatDate($_item->getBuyerDate())) ?>
                        </td>

                        <td>
                            <a style="width:90px;word-wrap: break-word;" href="<?php echo $this->escape($_item->getProduct()->getProductUrl()); ?>">
                                <?php echo $this->escape($_item->getProduct()->getProductUrl()); ?>
                            </a>
                        </td>

                        <td>
                            <?php echo ($shippingAddress->getBuildingType() == 'walkup') ? $shippingAddress->getNumberOfStairs() : 'elevator'; ?>
                        </td>


                        <?php
                        $stmt->bindParam(':postal_code', $dropOffPostalCode);
                        $stmt->execute();
                        $res                  = $stmt->fetch(PDO::FETCH_ASSOC);
                        $dropOffNeighbourhood = isset($res['name']) ? $res['name'] : 'N/A';
                        ?>

                        <td>
                            <?php echo $dropOffNeighbourhood; ?>
                        </td>

                        <td>
                            <?php echo $_item->getNotes(); ?>
                        </td>

                        <td>
                            <?php echo $this->currency($itemShippingAmount->collectTotalsForOrderItem($_item->getOrder())); ?>
                        </td>

                        <td>
                            <?php echo $_item->getProduct()->getCondition(); ?>
                        </td>

                        <td>
                            <img src="<?php echo $_item->getProduct()->getMainImage()->getS3Url(360, 300, 'frame'); ?>" />
                        </td>

                        <td>
                            <div class="item_view">
                                <?php echo $_item->getCarrierWorkNumber() ?>
                            </div>

                            <div class="item_edit">
                                <input type="text" name="carrier_work_number" class="w-90" title="Dumbo Work #" value="<?php echo $_item->getCarrierWorkNumber() ?>" placeholder="Dumbo Work #" />
                            </div>
                        </td>

                        <td>
                            <div class="item_view">
                                <?php
                                switch ($_item->getShippingStatus()) {
                                    case 'outstanding' : $className = 'in-progress';
                                        break;
                                    case 'complete' : $className = 'recived';
                                        break;
                                    case 'cancelled' : $className = 'text-error';
                                        break;
                                    default : $className = '';
                                        break;
                                }
                                ?>
                                <span class="status <?php echo $className ?>">  <?php echo $_item->getShippingStatus() ?></span>
                            </div>

                            <div class="item_edit">
                                <select name="shipping_status" class="w-113" title="Shipping Status">
                                    <?php foreach ($_item->getShippingStatuses() as $_status): ?>
                                        <option value="<?php echo $_status ?>" <?php if ($_status == $_item->getShippingStatus()): ?> selected="selected" <?php endif ?>><?php echo $_status ?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </td>

                        <td>
                            <div class="item_view">
                                <?php echo $_item->getFollowUp() ?>
                            </div>

                            <div class="item_edit">
                                <textarea name="follow_up" placeholder="Follow Up" class="w-113" title="Follow Up"><?php echo $_item->getFollowUp() ?></textarea>
                            </div>
                        </td>

                        <td>
                            <div class="item_view">
                                <button type="button" class="apt-btn primary m-tb10" onclick="shipping.showEditItem(this)">Edit</button>
                            </div>

                            <div class="item_edit">
                                <button type="button" class="apt-btn primary m-tb10" onclick="shipping.saveItem(this)">
                                    Save
                                </button>

                                <a href="javascript:return false" class="cancel" onclick="shipping.hideEditItem(this)">
                                    Cancel
                                </a>
                            </div>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </form>
        <div class="clear"></div>
    </div>
<?php else : ?>
    <h3>No items found</h3>
<?php endif; ?>

<div id="overlay"></div>
<div id="loader-container"><img src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" /></div>

