<?php echo $this->partial('send_invitations_js.phtml', 'admin'); ?>
<!-- container-fluid -->
<div class="container-fluid" id="container"> 

    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

    <!-- mainContent -->
    <div class="mainContent" id="messages"> 



        <!-- user-actions -->
        <div id="user-actions">
            <h2>Invites handling</h2>
            
            <?php foreach ($this->session->getMessages('success') as $message) : ?>
                <p style="margin:20px;font-size:14px;"><?php echo $this->escape($message); ?></p>
            <?php endforeach; ?>
                
            <?php /*<div class="alert alert-success" <?php if (!$this->isSend): ?>style="display: none;"<?php endif; ?>> 
                <i></i> Invites have been sent<button type="button" class="close" data-dismiss="alert">x</button>
            </div>*/ ?>

            <!-- msg-filter -->
            <div id="msg-filter"> 

                <!-- search my items --><form name="search" method="get" action="<?php echo Ikantam_Url::getUrl('admin/invite/handling'); ?>">
                    <div class="input-append" id="filter-my-items">

                        <input type="text" name="search"  id="filter-items" autocomplete="off" />

                        <i class="icon-search"></i> 
                        <!-- items-to-filter -->
                        <div class="items-to-filter">
                            <div id="wrapitems">
                                <div id="scrollitems"></div>
                            </div>
                            <div id="mysales-items">
                                <ul>
                                </ul>
                            </div>
                        </div>
                        <!--/ items-to-filter --> 

                    </div> </form>
                <!--/ search my items -->

            </div>
            <!--/ msg-filter -->

        </div>
        <form method="post" action="<?php echo Ikantam_Url::getUrl('admin/invite/send'); ?>"> 
            <!--!!!!!!!!!!!-->
            <input type="submit" id="sendselected" class="btn send-inv" value="Send invite"/>
            <select class="pull-right" style="width: 180px">
                <option onclick="window.location='<?php echo $this->url(array('sort' => 0)); ?>'" label="sort by"> Sort by </option>
                <option <?php if ($this->sort == 1) : ?>selected="selected"<?php endif; ?> onclick="window.location='<?php echo $this->url(array('sort' => 1)); ?>'" label="date">Date - newer first</option>
                <option <?php if ($this->sort == 2) : ?>selected="selected"<?php endif; ?> onclick="window.location='<?php echo $this->url(array('sort' => 2)); ?>'" label="date">Date - older first</option>
                <option <?php if ($this->sort == 3) : ?>selected="selected"<?php endif; ?> onclick="window.location='<?php echo $this->url(array('sort' => 3)); ?>'" label="status">Status - waiting first</option>
                <option <?php if ($this->sort == 4) : ?>selected="selected"<?php endif; ?> onclick="window.location='<?php echo $this->url(array('sort' => 4)); ?>'" label="status">Status - processed first</option>
            </select>
            <!--/ user-actions -->
            <div class="clear"></div>

            <!-- inbox -->
            <div id="inbox" class="super-table invitations">

                <table>
                    <!-- table header -->
                    <tr>
                        <th class="boxes"> <div id="checkall">
                        <div id="setsel" class="check-box">
                            <input type="checkbox" checked="checked">
                        </div>
                    </div>
                    </th>
                    <th class="ordr-numb">E-mail</th>
                    <th class="prod-name">&nbsp;</th>
                    <th class="prod-price">&nbsp;</th>
                    <th class="cent">Date</th>
                    <th class="cent">Status</th>
                    <th>&nbsp;</th>
                    </tr>
                    <!--/ table header -->
                    <?php foreach ($this->requests as $rqst): ?>
                        <tr>
                            <td class="boxes">
                                <?php if (!$rqst->getIsProcessed()): ?>
                                    <div class="check-box">            
                                        <input name="invitations[]"  value="<?php echo $rqst->getId(); ?>" type="checkbox">
                                    </div>
                                <?php else: ?>
                                    &nbsp;
                                <?php endif; ?>
                            </td>
                            <td><?php echo $rqst->getEmail(); ?></td>
                            <td class="prod-name"><a href="#">&nbsp;</a></td>
                            <td class="prod-price">&nbsp;</td>
                            <td class="ordr-date cent"><?php echo date('d M Y', $rqst->getCreatedAt()); ?></td>
                            <?php if ($rqst->getIsProcessed()): ?>
                                <td class="ordr-date cent">Invite sent</td>
                                <td class="msg-date blft">&nbsp;</td>
                            <?php else: ?>
                                <td class="ordr-date cent"><p class="status waiting">Waiting</p></td>
                                <td class="msg-date blft"><button class="btn sndinv">Send invite <i></i></button></td>            
                            <?php endif; ?>
                        </tr>
                    <?php endforeach; ?>

                </table>
                <div class="clear"></div>
                <?php echo $this->paginationControl($this->paginator, null, 'pagination_control_invite.phtml', array('params' => $this->params)); ?>
            </div>
            <input type="hidden" name="cpage" value="<?php echo $this->cpage; ?>" />
        </form>
        <!--/ inbox --> 

    </div>
    <!--/ mainContent -->
</div>
