



  
<!-- container-fluid -->
<div class="container-fluid" id="container"> 

	<?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

    <!-- mainContent -->
    <div class="mainContent" id="messages"> 

		<!-- user-actions -->
		<div id="user-actions">
			<h2>Send Invitations</h2>
            
            <?php foreach ($this->session->getMessages('success') as $message) : ?>
                <p style="margin:20px;font-size:14px;"><?php echo $this->escape($message); ?></p>
            <?php endforeach; ?>
            
			<?php echo $this->form; ?>
		</div>
		<!--/ user-actions -->
		<div class="clear"></div>
	    
    </div>
    <!--/ mainContent -->

    <div class="clear"></div>
</div>
<!--/ container-fluid -->
<div class="clear"></div>


