<?php //EMAIL_TEMPLATE: RED ?>
<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>
    <body>


    <div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="confirmation-listing">
        <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">
            <div style="padding: 10px 20px;">
                <p style="font-family: Arial, sans-serif; font-size: 12px;color:#333333">Purchase Request Cancelled - <a href="<?php echo $this->product->getProductUrl(); ?>" style="color: #D85927;text-decoration:none;"><?php echo $this->product->getTitle(); ?></a></p>
            </div>
            <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
                <span>CANCELLATION | Purchase Request</span>
                <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
            </div>
            <div style="margin: 30px 20px;"><a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"><img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/aptdeco-logo.png') ?>" alt="AptDeco" /></a></div>
            <div style="background: #f5f5f5; margin: 0 20px 30px 20px; padding: 20px;">

            <div style="background: #f5f5f5; margin: 20px; padding: 20px;">
                Hi <a href="" style="color: #D85927;text-decoration:none;"><?php echo $this->buyer->getFirstName(); ?></a>,
                <br />
                We're sorry to let you know that your purchase request for the
                <a href="<?php echo $this->product->getProductUrl(); ?>" style="color: #D85927;text-decoration:none;"><strong style="font-weight: bold;"><?php echo $this->product->getTitle(); ?></strong></a> has been cancelled because we were unable to confirm availability with the seller. You were not charged for this request.
                <br />
                Please note, it may take up to 2 business days for your bank to clear the hold from your account.
            </div>


        </div>
            <div style="padding: 0 20px 20px 20px;">
                In rare cases, sellers fail to confirm a sale within the 24 hour period. Here are some reasons why this might happen:
                <p>- The seller decided to keep the item</p>
                <p>- The item has sold through another channel and the seller failed to unpublish it in time</p>
                <p>- The seller made an error in their listing</p>
                FYI - to ensure a positive experience for all parties, sellers who repeatedly cancel sales will be blocked from our system.
       <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 20px 0 0 0;">
      Cheers, <br />
      The AptDeco Team </span>
                <a href="<?php echo Ikantam_Url::getUrl(""); ?>" style="border: 0; color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #DA5B29; text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;"> <strong style="font-weight: bold;">Continue Shopping</strong> </a>
            </div>
    </div>


    </body>
</html>
