<div id="featBrand"></div>

<div class="container-fluid mid-wrapper home-cols feat-brands" id="brands"> 
    <hr class="dashs"></hr>
    <h4 class="ti-tle">Featured brands</h4>

    <?php $index = 2; ?>
    <?php foreach ($this->brands as $brand): ?>
        <div<?php if ($index == 3): $index = 0; ?> class="midBlock"<?php endif; ?>>     
            <a href="<?php echo $this->escape($brand->getManufacturerUrl()); ?>">
                <h2><?php echo $this->escape($brand->getTitle()); ?></h2>
                <i class="togoarr"></i>
                <?php if ($path = $brand->getHomeImageUrl()): ?> 
                    <img  src="<?php echo $this->escape($path); ?>" alt="<?php echo $this->escape($brand->getAlt($brand->getTitle())); ?>" />
                <?php endif; ?>
            </a>
        </div>
    
        <?php $index++; ?>        
    <?php endforeach; ?>
</div>