<div id="featProdus"></div>

<div class="container-fluid mid-wrapper home-cols feat-produs" id="categories"> 
    <hr class="dashs"/>
    <h4 class="ti-tle">Shop by category</h4>

    <?php $index = 2; ?>
    <?php foreach ($this->categories as $category): ?>
        <div<?php if ($index == 3): $index = 0; ?> class="midBlock"<?php endif; ?>>
            <a href="<?php echo $this->escape($category->getCategoryUrl()); ?>">
                <h2><?php echo $this->escape($category->getTitle()); ?></h2>

                <i class="togoarr"></i>

                <?php if ($path = $category->getHomeImageUrl()): ?> 
                    <img src="<?php echo $this->escape($path); ?>" alt="<?php echo $this->escape($category->getAlt($category->getTitle())); ?>" />
                <?php endif; ?>
            </a>
        </div>

        <?php $index++; ?>        
    <?php endforeach; ?>

    <?php foreach ($this->collectionMenu('homepage_tile') as $collection): ?>
        <div<?php if ($index == 3): $index = 0; ?> class="midBlock"<?php endif; ?>>     
            <a href="<?php echo $this->escape(Ikantam_Url::getUrl('catalog/collection/' . $collection->getPageUrl())); ?>">
                <h2><?php echo $this->escape($collection->getName()); ?></h2>

                <i class="togoarr"></i>

                <?php if ($collection_img_url = $collection->getImageUrlIfExists()): ?>
                    <img src="<?php echo $this->escape($collection_img_url); ?>" alt="<?php echo $this->escape($collection->getName()); ?>" />
                <?php endif; ?>    
            </a>
        </div>

        <?php $index++; ?>        
    <?php endforeach; ?>  
</div>