<div class="section-block cats-section sm-tbl-visible">
    <div class="container lv-container">

        <div class="sm-tbl-visible">
            <header class="section-heading text-center">
                <h2><a href="<?php echo Ikantam_Url::getUrl('product/add/new'); ?>">Sell My Stuff</a></h2>
            </header>
        </div>

        <div class="sm-tb-collapse">
            <header class="section-heading text-center">
                <h2 data-section="shop-by-cats" class="is-active">
                    Shop by Category <i class="ico-arr pull-right top-15"></i>
                </h2>
            </header>
        </div>

        <div class="apt-categories sm-section-collapse is-active" id="shop-by-cats">
            <?php foreach ($this->categories as $category): ?>
                <div class="category-col">
                    <div class="cat-thumb">
                        <a href="<?php echo $this->escape($category->getCategoryUrl()); ?>">
                            <img src="<?php echo $this->escape($category->getHomeImageUrl()); ?>"
                                 alt="<?php echo $this->escape($category->getAlt($category->getTitle())); ?>" />
                        </a>
                    </div>

                    <span class="text-uc">
                        <a href="<?php echo $this->escape($category->getCategoryUrl()); ?>">
                            <?php echo $this->escape($category->getTitle()); ?>
                        </a>
                    </span>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>


<div class="container lv-container">
    <div class="sm-tb-collapse sm-tbl-visible">
        <header class="section-heading text-center">
            <h2 data-section="features">Features <i class="ico-arr pull-right top-15"></i></h2>
        </header>
    </div>
</div>





<div class="apt-slider-holder">
    <div class="apt-slider sm-section-collapse" id="features">
        <div class="apt-slider-layer-holder">

            <?php foreach ($this->slides as $sort_order => $slides) : ?>
                <?php if (1 || $slide->getType() == 'image') : ?>

                    <div class="apt-slider-layer">

                        <?php foreach ($slides as $slide) : ?>

                            <?php if ($slide->getUrl()) : ?>
                                <a href="<?php echo $this->escape($slide->getUrl()); ?>" data-picture>
                                <?php else : ?> 
                                    <div data-picture>
                                    <?php endif; ?>


                                    <?php $cl = ''; ?>

                                    <?php
                                    switch ($slide->getSize()) {
                                        case 'large':
                                            $cl = 'data-src-lrg';
                                            break;

                                        case 'standard':
                                            $cl = 'data-src-std';
                                            break;

                                        case 'small':
                                            $cl = 'data-src-sm';
                                            break;

                                        case 'extra_small':
                                            $cl = 'data-src-xs';
                                            break;
                                    }
                                    ?>

                                    <div class="slider-image" <?php echo $cl; ?> style="background-image: url(<?php echo $this->escape($slide->getImageUrl()); ?>)"></div>


                                    <?php if ($slide->getUrl()) : ?>
                                </a>
                            <?php else : ?> 
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>

            <?php else : ?>
                <div class="apt-slider-layer" data-src="<?php echo $this->escape($slide->getImageUrl()); ?>">
                    <h2><?php echo $this->escape($slide->getTitle()); ?></h2>

                    <button type="button" id="play" class="btn btn-link">
                        <img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/play-button.png'); ?>" alt="Play" />
                    </button>

                    <div class="media-window">
                        <div class="video-overlay"></div>

                        <div class="popup-video">
                            <button type="button"><i></i></button>
                            <iframe src="<?php echo $this->escape($slide->getVideoUrl()); ?>"
                                    width="500" height="281" frameborder="0"
                                    webkitallowfullscreen mozallowfullscreen allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>
</div>

<div class="container-holder">
    <div class="container lv-container">
        <div class="section-block">
            <div class="sm-tb-collapse sm-tbl-visible">
                <header class="section-heading text-center">
                    <h2 data-section="apt-picks">AptDeco Picks <i class="ico-arr pull-right top-15"></i></h2>
                </header>
            </div>
            <header class="section-heading text-center sm-tbl-hidden">
                <h2>AptDeco Picks</h2>
            </header>

            <div class="apt-picks-holder sm-section-collapse" id="apt-picks">
                <div class="apt-picks">

                    <?php foreach ($this->featuredProducts as $featuredProduct) : ?>
                        <div class="apt-col">
                            <div class="image-holder">
                                <div>
                                    <a href="<?php echo $this->escape($featuredProduct->getProductUrl()); ?>">
                                        <img src="<?php echo $this->escape($featuredProduct->getMainImage()->getS3Url(360, 300, 'frame')); ?>"
                                             alt="<?php echo $this->escape($featuredProduct->getTitle()); ?>"
                                             class="fit"/>
                                    </a>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div>
                                <h2>
                                    <a href="<?php echo $this->escape($featuredProduct->getProductUrl()); ?>">
                                        <?php echo $this->escape($featuredProduct->getTitle()); ?>
                                    </a>
                                </h2>

                                <span class="publisher">
                                    by
                                    <a href="<?php echo $this->escape($featuredProduct->getSeller()->getProfileUrl()); ?>">
                                        <?php echo $this->escape($featuredProduct->getSeller()->getFirstName()); ?>
                                    </a>
                                </span>

                                <?php if ($featuredProduct->getSeller()->getRating()) : ?>
                                    <div class="rating">
                                        <?php for ($i = 0; $i < $featuredProduct->getSeller()->getRating(); $i++) : ?>
                                            <span class="ico-star is-active"></span>
                                        <?php endfor; ?>
                                    </div>
                                <?php endif; ?>
                            </div>

                            <div class="item-price">
                                <span><?php echo $this->currency($featuredProduct->getPrice()); ?></span>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="section-block">
            <div class="sm-tb-collapse sm-tbl-visible">
                <header class="section-heading text-center">
                    <h2 data-section="as-seen" class="m-r0">As Seen In <i class="ico-arr pull-right top-15"></i></h2>
                </header>    
            </div>
            <header class="section-heading text-center sm-tbl-hidden">
                <h2>As Seen In</h2>
            </header>    

            <div class="as-seen sm-section-collapse" id="as-seen">
                <?php foreach ($this->asSeenIn as $item) : ?>
                    <div class="as-seen-td">
                        <a href="<?php echo $this->escape($item->getPageUrl()); ?>" title="<?php echo $this->escape($item->getTitle()); ?>">
                            <img src="<?php echo $this->escape($item->getImageUrl()); ?>" alt="<?php echo $this->escape($item->getTitle()); ?>" />
                        </a>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>

        <div class="clear"></div>

        <div class="section-block">
            <div class="featured-block">
                <div class="ft-row">

                    <div class="sm-tb-collapse sm-tbl-visible">
                        <header class="section-heading text-center">
                            <h2 data-section="ft-seller" class="m-r0">Featured Seller <i class="ico-arr pull-right top-15"></i></h2>
                        </header>
                    </div>

                    <div class="featured-col sm-section-collapse" id="ft-seller">
                        <a class="featured-img show"
                           href="<?php echo $this->escape($this->seller->getProfileUrl()); ?>"
                           data-src="<?php echo $this->background; ?>"
                           style="background-position: 0;">
                        </a>

                        <div class="featured-avatar">
                            <a href="<?php echo $this->escape($this->seller->getProfileUrl()); ?>">
                                <img src="<?php echo $this->escape($this->seller->getAvatarUrl()); ?>" alt="<?php echo $this->escape($this->seller->getFirstName()); ?>" />
                            </a>
                             <i class="ico-check-mark"></i> 
                        </div>

                        <h2>
                            <a href="<?php echo $this->escape($this->seller->getProfileUrl()); ?>">
                                <?php echo $this->escape($this->seller->getFirstName()); ?>
                            </a>
                        </h2>

                        <a href="<?php echo $this->escape($this->seller->getProfileUrl()); ?>" class="apt-btn primary text-uc">
                            FEATURED SELLER
                        </a>

                        <div class="clear"></div>

                        <?php if ($this->seller->getRating()) : ?>
                            <div class="rating">
                                <?php for ($i = 0; $i < $this->seller->getRating(); $i++) : ?>
                                    <i class="ico-star"></i>
                                <?php endfor; ?>
                            </div>
                        <?php endif; ?>
                    </div>

                    <div class="sm-tb-collapse sm-tbl-visible">
                        <header class="section-heading text-center">
                            <h2 data-section="blog" class="m-r0">Editorial and Blog <i class="ico-arr pull-right top-15"></i></h2>
                        </header>
                    </div>

                    <div class="featured-col sm-section-collapse" id="blog">
                        <a class="featured-img show"
                           href="<?php echo $this->escape(Ikantam_Url::getUrl('blog/' . $this->featuredBlogPost['post_name'])); ?>"
                           data-src="<?php echo $this->escape($this->featuredBlogPostBg); ?>"
                           style="background-position: 0;">
                        </a>

                        <h2>
                            <a href="<?php echo $this->escape(Ikantam_Url::getUrl('blog/' . $this->featuredBlogPost['post_name'])); ?>">
                                <?php echo $this->escape($this->featuredBlogPost['post_title']); ?>
                            </a>
                        </h2>

                        <a href="<?php echo Ikantam_Url::getUrl('blog/index'); ?>" class="apt-btn primary text-uc">
                            New on blog
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <?php /* <div class="clear"></div>

      <div class="section-block brands-section">
      <div class="container lv-container">
      <div class="sm-tb-collapse sm-tbl-visible">
      <header class="section-heading text-center">
      <h2 data-section="brands">Shop by Category <i class="ico-arr pull-right top-15"></i></h2>
      </header>
      </div>

      <header class="section-heading text-center sm-tbl-hidden">
      <h2>Shop by Category</h2>
      </header>
      <div class="brands sm-section-collapse" id="brands">
      <?php foreach ($this->categories as $category): ?>
      <div class="brand-col">
      <a href="<?php echo $this->escape($category->getCategoryUrl()); ?>">
      <img src="<?php echo $this->escape($category->getHomeImageUrl()); ?>" alt="<?php echo $this->escape($category->getAlt($category->getTitle())); ?>" />
      </a>
      <span class="text-uc"><?php echo $this->escape($category->getTitle()); ?></span>
      </div>
      <?php endforeach; ?>
      </div>
      </div>
      </div> */ ?>

    <div class="clear"></div>

    <div class="section-block brands-section">
        <div class="container lv-container">
            <div class="sm-tb-collapse sm-tbl-visible">
                <header class="section-heading text-center">
                    <h2 data-section="brands">Shop by Brand <i class="ico-arr pull-right top-15"></i></h2>
                </header>
            </div>

            <header class="section-heading text-center sm-tbl-hidden">
                <h2>Shop by Brand</h2>
                <p>Find your favorite brand here</p>
            </header>
            <div class="brands sm-section-collapse" id="brands">
                <?php foreach ($this->brands as $brand): ?>
                    <div class="brand-col">
                        <a href="<?php echo $this->escape($brand->getManufacturerUrl()); ?>">
                            <img src="<?php echo $this->escape($brand->getHomeImageUrl()); ?>" alt="<?php echo $this->escape($brand->getTitle()); ?>" />
                        </a>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>

</div>