<div class="featured-video">
    <div class="video-holder"></div>
    <div class="video-cover">
        <img src="<?php echo Ikantam_Url::getPublicUrl('images/video-cover.png'); ?>" alt="Check us out!" />
        <button id="play" type="button"></button>
    </div>
    <div class="clear"></div>
    <p>Introducing AptDeco</p>
</div>

<div class="media-window">
    <div class="video-overlay"></div>
    <div class="popup-video">
        <button type="button"><i></i></button>
        <iframe src="https://player.vimeo.com/video/72745061?byline=0&amp;portrait=0&amp;color=ff9933" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>

<script type="text/javascript">
    $('#play').on('click', function() {
        $('.media-window').addClass('ison');
    });
    $('.media-window button, .video-overlay').on('click', function() {
        $('.media-window').removeClass('ison');
    });
</script>