<?php $parentsCollection = new Category_Model_Category_Collection(); ?>

<div class="container-fluid visible-desktop">
    <nav id="secondary-menu" class="secondary-menu floatedSide">
        <div class="container-fluid">
            <ul>
                <?php foreach ($parentsCollection->getParents() as $parentCategory) : ?>
                    <li>
                        <a href="<?php echo $parentCategory->getCategoryUrl(); ?>">
                            <?php echo $parentCategory->getTitle(); ?>
                        </a>
                    </li>
                <?php endforeach; ?>

                <?php foreach ($this->collectionMenu('main_secondary') as $collection): ?>
                    <li>
                        <a href="<?php echo Ikantam_Url::getUrl('catalog/collection/' . $collection->getPageUrl()); ?>">
                            <?php echo $collection->getName(); ?>
                        </a>
                    </li>
                <?php endforeach; ?>

                <li class="apt-support m-0">
                    <h4 class="apt-tel"><i class="apt-i-mob top-3"></i> (646) 586-9056 </h4>
                    <a class="apt-email" href="mailto:hello@aptdeco.com">hello@aptdeco.com</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
