<?php $categories = new Category_Model_Category_Collection(); ?>

<!--<div class="sub-cats clearfix">
    <div class="shop-menu">
        <a href="#" id="next" class="control-btn next"><i class="apt-i-arrow right"></i></a>

        <div class="list-cols list-cor clearfix">
            <?php foreach ($categories->getParents() as $parentCategory) : ?>
                <ul>
                    <li>
                        <a href="<?php echo $parentCategory->getCategoryUrl(); ?>" class="category-menu">
                            <?php echo $parentCategory->getTitle(); ?>
                        </a>
                    </li>

                    <?php foreach ($parentCategory->getSubCategories() as $category) : ?>
                        <li>
                            <a href="<?php echo $category->getCategoryUrl(); ?>">
                                <?php echo $category->getTitle(); ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>    
            <?php endforeach; ?>

            <?php foreach ($this->collectionMenu('main_secondary') as $collection): ?>
                <ul>
                    <li>
                        <a href="<?php echo Ikantam_Url::getUrl('catalog/collection/' . $collection->getPageUrl()); ?>" class="category-menu">
                            <?php echo $collection->getName(); ?>
                        </a>
                    </li>

                    <?php foreach ($collection->getProductCategories() as $category) : ?>
                        <li>
                            <a href="<?php echo $category->getCategoryUrl(); ?>">
                                <?php echo $category->getTitle(); ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            <?php endforeach; ?>
        </div>

        <a href="#" id="prev" class="control-btn prev"> <i class="apt-i-arrow left"></i> </a> </div>
</div>-->
