<div class="container-fluid" id="container">

    <div class="mainContent">
        <h1><?php echo $this->error; ?></h1>
    </div>
    
    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>
</div>
