<?php echo $this->partial('sidebar.phtml', 'user'); ?>
<!-- mainContent -->
<form name="messages" method="post" action="<?php echo Ikantam_Url::getUrl('messagebox/index/post'); ?>">
<div class="mainContent" id="messages">

<!-- user-actions -->
 <div id="user-actions">
 <h2>Inbox</h2>

  <!-- msg-filter -->
  <div id="msg-filter">
    <div class="btn-group">
  <button class="btn dropdown-toggle" data-toggle="dropdown">
  <span class="replacment">
  <?php if($this->status === Messagebox_Model_Message_Collection::MESSAGES_STATUS_NEW):?>
  No readed
  <input type="hidden" name="status" value="new"/>
  <?php else:?>
  All messages
  <?php endif; ?>
  </span> 
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="<?php echo Ikantam_Url::getUrl('messagebox/view/inbox', array('status' => 'all')); ?>">All messages</a></li>
        <li><a href="<?php echo Ikantam_Url::getUrl('messagebox/view/inbox', array('status' => 'new')); ?>">No readed</a></li>
      </ul>
    </div>
</div>
<!--/ msg-filter -->

<!-- mark as read -->
  <button name="mark_read" value="1"  id="mark-as-read" class="btn">Mark as read</button>
<!--/ mark as read -->

<!-- delete message -->
<div id="delete-msg">
  <button name="delete" value="1" class="removeitem"><i></i></button>
</div>
<!--/ delete message -->
</div>
<!--/ user-actions -->
<div class="clear"></div>

<!-- inbox -->
<div id="inbox">

  <table>
    <!-- table header -->
    <tr>
      <th class="boxes">
      <div id="checkall">
      <div id="setsel" class="check-box"><input type="checkbox" checked="checked"/></div> 
      </div>
      </th>
      <th>Name</th>
      <th class="msg-title">Subject</th>
      <th class="msg-date">Date</th>
    </tr>
    <!--/ table header -->
    <?php foreach($this->messagebox->getCollection()->getItems() as $message): ?>
    <tr>
      <td class="boxes"><div class="check-box"><input type="checkbox"  name="messages[]" value="<?php echo $message->getId();?>"/></div></td>
      <td><a href="#">
      <img src="
      <?php echo Ikantam_Url::getPublicUrl($this->avatar->getByUserId($message->getAuthorId())->getPath());?>"
       alt="avatar"/> <?php echo $this->user->getById($message->getAuthorId())->getFirstName(); ?></a></td>
      <?php if((bool)$message->getIsNew()): ?>
      <td><b><?php echo $message->getSubject(); ?></b></td>
      <?php else: ?>
      <td><?php echo $message->getSubject(); ?></td>
      <?php endif; ?>
      
      <td class="msg-date"><?php echo date('d M Y', $message->getCreatedAt()) ; ?></td>
    </tr>

    <?php endforeach;?>

  </table>
  <?php if($this->messagebox->getCurrentPageNumber()): ?>
  <input  type="hidden" name="page" value="<?php echo $this->messagebox->getCurrentPageNumber();?>"/>
  <?php endif; ?>
  </form>

  <div class="clear"></div>

  <div class="pagination pagination-right">
  <ul>
    <?php
  echo $this->paginationControl($this->messagebox()->getPaginator(),null,'pagination_controll.phtml');
  ?>
   
  </div>

</div>
<!--/ inbox -->

</div>
<!--/ mainContent -->