<!-- container-fluid -->
<div class="container-fluid" id="container"> 

	<!-- sidebar -->
	<div id="sideWrapper">
		<aside id="sidebar" class="floatedSide">
			<a href="#" class="clearall">Clear all</a>

			<!-- accordion -->
			<div id="accordion">

				<!-- Subcategories -->
				<?php if ($this->subCategories): ?>
					<h3><i></i> Subcategories <a href="#">Clear</a></h3>
					<div class="content categories">
						<ul>
							<?php foreach ($this->subCategories as $category): ?>
								<li> <div class="check-box" data-category="<?php echo $category->getId(); ?>"><input type="checkbox"></div><?php echo $category->getTitle(); ?></li>
							<?php endforeach; ?>
						</ul>
					</div>
				<?php endif; ?>
				<input type="hidden" data-category="<?php echo $this->id; ?>"/>
				<!-- Subcategories -->

				<!-- Price -->
				<h3><i></i> Price  <a href="#" id="priceClear">Clear</a></h3>
				<div class="content categories">

					<!-- price-ranger -->
					<div class="price-ranger">
						<div id="slider"></div>
						<input type="text" class="sliderValue svlft" data-index="0" value="1000"/>
						<span class="lft">$</span>
						<input type="text" class="sliderValue slidRight" data-index="1" value="4000" />
						<span class="rights">$</span>
						<div style="float:none;clear:both;"></div>
					</div>
					<!--/ price-ranger -->



				</div>
				<!-- Price -->

				<!-- Conditions -->
				<h3><i></i> Conditions <a href="#">Clear</a></h3>
				<div class="content categories">
					<ul>
						<li> <div class="check-box" data-condition="new"><input type="checkbox"></div> New</li>
						<li> <div class="check-box" data-condition="good"><input type="checkbox"></div> Good</li>
						<li> <div class="check-box" data-condition="satisfactory"><input type="checkbox"></div> Satisfactory</li>
						<li> <div class="check-box" data-condition="age-worn"><input type="checkbox"></div> Age-worn</li>
					</ul>
				</div>
				<!-- Conditions -->

				<!-- Color -->
				<h3><i></i> Color <a href="#">Clear</a></h3>
				<div class="content categories">
					<div class="pick-color">

						<?php foreach ($this->colors as $color): ?>
							<button style="background-color:<?php echo $color->getHex(); ?>;" title="<?php echo $color->getTitle(); ?>" data-color="<?php echo $color->getId() ?>"></button>
						<?php endforeach; ?>

					</div>
				</div>
				<!-- Color -->


				<!-- Brands -->
				<?php if ($this->brands): ?>
					<h3><i></i> Brands <a href="#">Clear</a></h3>
					<div class="content categories">
						<!-- custom scrollbar -->
						<div class="parent">
							<div class="scrollbar"></div>
							<div class="scrollable">

								<ul>
									<?php foreach ($this->brands as $brand): ?>
										<li> <div class="check-box" data-brand="<?php echo $brand->getId(); ?>"><input type="checkbox"></div> <?php echo $brand->getTitle(); ?> </li>
									<?php endforeach; ?>

								</ul>
							</div>
						</div>
						<!--/ custom scrollbar -->
					</div>
				<?php endif; ?>
				<!-- Brands -->

			</div>    <!--/ accordion -->
		</aside>  <!--/ sidebar -->
	</div>    <!--/ sidebarWrapper --> 

	<!-- mainContent -->
	<div class="mainContent" id="category">

		<!-- sorting -->
		<div class="sorting">
			<button class="defPrices">Price         <i></i></button>
			<button class="defRating">Seller Rating <i></i></button>
		</div>
		<!--/ sorting -->

		<?php echo $this->partial('search/search_items.phtml', 'default', $this); ?>
	</div>
	<!--/ mainContent -->

</div>
<!--/ container-fluid -->
<div class="clear"></div>


<script>
	function postFilter(replace, page)
    {
        var postData = prepareFilterData(page);
		
        $.post(
		"<?php echo Ikantam_Url::getUrl('category/async/index'); ?>",
		{'data':{
				'category':postData['category'],
				'brand':postData['brand'],
				'condition':postData['condition'],
				'color':postData['color'],
				'price':postData['price'],
				'page':postData['page'],
				'sort':sortBy,
				'direction':sortDirection}
		},
		function(answ){
			data =  $.parseJSON(answ);
			var products = new Products(data);    
			products.build($('#products'), replace);
			products.clear();
		});
    }
</script>