  <div class="container-fluid" id="container"> 

    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

    <div class="mainContent" > 

        <div id="user-actions">
            <h2>Settings</h2>

            <?php /*
              <div class="alert alert-success"> <i></i> 15 users's status marked as "blocked" <a href="#">Cancel </a>
              <button type="button" class="close" data-dismiss="alert">x</button>
              </div>
             */ ?>
            <?php echo $this->form; ?>
        </div>
    </div>

    <div class="clear"></div>
</div>

<div class="clear"></div>