<?php $url  = 'http://www.facebook.com/dialog/oauth/?client_id=%s&redirect_uri=%s&state=%s&scope=%s'; ?>
<?php $fUrl = sprintf($url, $this->appId, $this->redirectUrl, '', $this->scope); ?>

<h3 class="apt-title section">
    <span class="circle prim"><?php echo $this->stepCounter; ?></span>
    <span>Checkout Method</span>
</h3>

<div class="control-group">
    <ul class="h-inline-list show-targets">
        <li>
            <div class="radio-btn checkedRadio show-targ" data-targ="to-guest">
                <input type="radio" name="checkout_method" value="guest" checked="checked" />
            </div>
            <span>Guest</span>
        </li>
        <li>
            <div class="radio-btn show-targ" data-targ="to-register">
                <input type="radio" name="checkout_method" value="signup" />
            </div>
            <span>Register</span>
        </li>
        <li>
            <div class="radio-btn show-targ" data-targ="to-account">
                <input type="radio" name="checkout_method" value="login" />
            </div>
            <span>I have an account</span>
        </li>
    </ul>
</div>

<div class="to-account hidden">
    <div class="control-group col-2">
        <div class="block-fields single">

            <?php /* <a href="<?php echo $fUrl; ?>" class="fb-sign"> <i></i>Sign in with Facebook</a> */ ?>

            <?php /* <button type="button" class="apt-btn social-btn fb">
              <i class="apt-i-fb white"></i>
              <span>Sign in via Facebook</span>
              </button> */ ?>

            <a href="<?php echo $fUrl; ?>" type="button" class="apt-btn social-btn fb">
                <i class="apt-i-fb white"></i>
                <span>Sign in via Facebook</span>
            </a>


            <p><small>or</small></p>

            <input class="form-field" name="login[email]" type="email" placeholder="Your E-mail Address" />

            <p class="validator" style="display:none;">
                <i class="apt-icon-warning top--1"></i>
                <span id="email-error"></span>
            </p>

            <input class="form-field" name="login[password]" type="password" placeholder="Password">

            <p class="validator" style="display:none;">
                <i class="apt-icon-warning top--1"></i>
                <span id="password-error"></span>
            </p>

            <button type="button" class="apt-btn prime pull-right mid after-sign">Sign in</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        /*$('.after-sign').on('click', function() {
         $('.to-account,.as-a-guest').addClass('hidden');
         $('.to-register, .to-guest, .has-signed').removeClass('hidden');
         });*/
    });

    var inProgress = false;

    jQuery(".to-account button.after-sign").on("click", function() {

        if (inProgress) {
            return;
        }
        
        var loginUrl = "<?php echo Ikantam_Url::getUrl('checkout/onestep/login'); ?>";

        $.ajax({
            dataType: "json",
            url: loginUrl,
            data: jQuery('[name*="login"]').serialize(),
            async: true,
            type: "POST",
            beforeSend: function() {
                inProgress = true;
                jQuery("#email-error").html("").parent().hide();
                jQuery("#password-error").html("").parent().hide();
                jQuery("#error-login p").html("").parent().hide();
                jQuery("#email-error").parent().parent().removeClass("has-error");
            },
            success: function(data) {
                if (data.success && !data.error) {
                    window.location.reload();
                } else if (data.error) {
                    
                    jQuery("#email-error").parent().parent().addClass("has-error");
                    
                    if (data.message.email) {
                        jQuery("#email-error").html(data.message.email).parent().show();
                        jQuery("#email-error").parent().parent().addClass("inp-1st");
                    }

                    if (data.message.password) {
                        jQuery("#password-error").html(data.message.password).parent().show();
                        jQuery("#email-error").parent().parent().addClass("inp-2nd");
                    }

                    if (data.message.login) {
                        jQuery("#error-login p").html(data.message.login).parent().show();
                    }
                }
            },
            error: function() {
                jQuery("#error-login p").html("Unable to log in. Please, try again later.").parent().show();
            },
            complete: function() {
                inProgress = false;
            }
        });


    });


</script>
