<h3 class="apt-title section">
    <span class="circle prim"><?php echo $this->stepCounter; ?></span>
    <span>Delivery Method</span>
</h3>

<div class="control-group">
    <table class="apt-table">

        <?php foreach ($this->cart->getItemsForCheckout() as $item) : ?>
            <tr>
                <td class="highlight lrg">
                    <?php if ($item->getProduct()->getIsPickUpAvailable()) : ?>
                        <p>
                            <i class="apt-icon-sm-car"></i>
                            <strong>
                                Do you want it delivered or will you pick it up yourself?
                            </strong>
                        </p>

                        <ul class="v-list push-list">
                            <li>
                                <input type="radio" <?php if ($item->getShippingMethodId() == 'delivery') : ?> checked="checked"<?php endif; ?> name="cart_items[<?php echo $item->getId(); ?>][shipping_method]" value="delivery">
                                <span>
                                    I want it delivered
                                </span>
                            </li>

                            <li>
                                <input type="radio" <?php if ($item->getShippingMethodId() == 'pickup') : ?> checked="checked"<?php endif; ?>name="cart_items[<?php echo $item->getId(); ?>][shipping_method]" value="pickup">
                                <span>
                                    I'll pick it up myself
                                </span>
                            </li>
                            
                            <li>
                                Make sure your furniture fits before you buy. <a href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>?q=fit" target="_blank" class="text-primary dark">How?</a>
                            </li>
                        </ul>
                    <?php else : ?>
                        <p><i class="apt-icon-sm-car"></i> I want it delivered</p>
                        
                        <ul class="v-list push-list">
                            <li>
                                Make sure your furniture fits before you buy. <a href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>?q=fit" target="_blank" class="text-primary dark">How?</a>
                            </li>
                        </ul>
                    <?php endif; ?>
                </td>

                <td class="std">
                    <div class="item-thumbnail">
                        <?php $url = $item->getProduct()->getMainImage()->getS3Url(200, 200, 'crop'); ?>
                        <?php $alt = $item->getProduct()->getTitle(); ?>
                        <img src="<?php echo $this->escape($url); ?>" alt="<?php echo $this->escape($alt); ?>" />
                    </div>

                    <div class="item-info">
                        <ul class="v-list">
                            <li><?php echo $this->escape($item->getProduct()->getTitle()); ?></li>
                            <li><?php echo $this->escape($item->getProduct()->getManufacturer()->getTitle()); ?></li>  
                            <li><?php echo $this->currency($item->getProduct()->getPrice()); ?> x <?php echo $item->getQty(); ?></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
</div>

<script type="text/javascript">
    $(function() {

        var checkedClass = "checkedRadio";

        jQuery("input[name*='cart_items']").each(function() {
            var tagClass = jQuery(this).prop("checked") ? "radio-btn " + checkedClass : "radio-btn";
            jQuery(this).wrap(jQuery("<div></div>", {"class": tagClass}));
        });

        /* radio-btn ================================================= */
        $(".radio-btn").on("click", function() {
            var _this = $(this);
            var block = _this.parent().parent();
            block.find('input:radio').attr('checked', false);
            block.find(".radio-btn").removeClass(checkedClass);
            _this.addClass(checkedClass);
            _this.find('input:radio').attr('checked', true).change();
        });

        var billingSameAsShipping = jQuery("input[type='checkbox'][name='billing_address[same_as_shipping]']");

        $('input[type="radio"][name*="cart_items"]').on("change", function() {
            var data = jQuery('input[type="radio"][name*="cart_items"]').add('[name="shipping_address[postal_code]"]').serialize();
        
            $.ajax({
                dataType: "json",
                url: "<?php echo Ikantam_Url::getUrl('checkout/onestep/set-method'); ?>",
                data: data,
                async: true,
                type: "POST",
                beforeSend: function() {
                    //beforeSend();
                },
                success: function(data) {
                    if (data.success && !data.error) {
                        if (data.update.sidebar) {
                            jQuery(".sidebar").replaceWith(data.update.sidebar);
                            placeSidebar();
                        }
                        if (data.update.shipping) {
                            jQuery("#shipping-title").show().next().show();
                            //guest
                            jQuery("#guest-shipping-address").show();
                            jQuery("#guest-delivery-dates").show();
                            jQuery("#guest-shipping-title").show();
                            
                            jQuery("#guest-shipping-step-title").html("Shipping Info");
                        } else {
                            jQuery("#shipping-title").hide().next().hide();
                            //guest
                            jQuery("#guest-shipping-address").hide();
                            jQuery("#guest-delivery-dates").hide();
                            jQuery("#guest-shipping-title").hide();
                            jQuery("#guest-shipping-step-title").html("Your Info");
                        }
                        if (data.update.billing) {
                            jQuery("#billing_address").removeClass("hidden");
                            billingSameAsShipping.parents("ul.v-list").hide();
                        } else {
                            billingSameAsShipping.parents("ul.v-list").show();
                            if (billingSameAsShipping.attr("checked")) {
                                jQuery("#billing_address").addClass("hidden");
                            }
                        }
                        if (data.update.delivery_dates) {
                            shippingDates = data.update.delivery_dates;
                            clearSelect();
                            toggleDateTime();
                        }
                    } else if (data.error) {
                        if (data.message) {
                            alert(data.message);
                        } else {
                            alert("Cannot delete the image.");
                        }
                    }
                },
                error: function() {
                    alert("Cannot delete the image.");
                },
                complete: function() {
                    //complete();
                }
            });
        });

<?php if (!$this->cart->hasItemsForDelivery()) : ?>
            jQuery("#shipping-title").hide().next().hide();
            //guest
            jQuery("#guest-shipping-address").hide();
            jQuery("#guest-delivery-dates").hide();
            jQuery("#guest-shipping-title").hide();
            jQuery("#guest-shipping-step-title").html("Your Info");

            jQuery("#billing_address").removeClass("hidden");
            billingSameAsShipping.parents("ul.v-list").hide();
<?php endif; ?>
    });
</script>

