<div class="hidden-info-text">
    <a href="#" class="get text-primary dark">
        <small>Why do I have to provide 3 dates?</small>
    </a>

    <p class="set-vis hidden text-mute sub-title text-small">
        Coordinating the busy schedules of&nbsp;two New Yorkers + a&nbsp;moving company is&nbsp;not so&nbsp;easy.
        Providing a&nbsp;few options allows&nbsp;us to&nbsp;find a&nbsp;date &amp;&nbsp;time that works for everyone.

        <br><br>

        Why are no&nbsp;delivery dates available?
        Most likely this is&nbsp;because the seller has a&nbsp;tight &quot;desired sale window&quot; that
        does not give&nbsp;us many options for delivery.
        If&nbsp;this happens, contact&nbsp;us &amp;&nbsp;we&rsquo;ll expand the window.
    </p>
</div>

<script type="text/javascript">
    jQuery('.hidden-info-text .get').on('click', function() {
        jQuery(this).closest('.hidden-info-text').find('.set-vis').toggleClass('hidden');
        return false;
    });
</script>