<div class="container-fluid" id="container"> 

    <div class="apt-container m-t40 main-sidebar">

        <form action="<?php echo Ikantam_Url::getUrl('checkout/onestep/index'); ?>" class="apt-form" method="post" id="onestep-order-form">

            <?php echo $this->partial('onestep/progress.phtml', 'checkout'); ?>

            <div class="aptd-alert error" id="error-login" style="display:none;">
                <i class="apt-icon-warning"></i>
                <p></p>
                <button data-dismiss="alert" class="dismiss" type="button">x</button>
            </div>

            <?php if ($this->message) : ?>
                <div class="aptd-alert error">
                    <i class="apt-icon-warning"></i>
                    <p><?php echo $this->message; ?></p>
                    <button type="button" class="dismiss" data-dismiss="alert">x</button>
                </div> 
            <?php endif; ?>

            <div class="main apt-checkout">
                <?php if (!$this->isLoggedIn()) : ?>
                    <?php echo $this->partial('onestep/checkout-method.phtml', 'checkout', $this); ?>
                    <?php $this->stepCounter++; ?>
                <?php endif; ?>

                <div class="to-register to-guest">
                    <?php echo $this->partial('onestep/delivery-method.phtml', 'checkout', $this); ?>
                    <?php $this->stepCounter++; ?>

                    <?php if (!$this->isLoggedIn()) : ?>
                        <?php echo $this->partial('onestep/shipping-method-guest.phtml', 'checkout', $this); ?>
                    <?php else : ?>
                        <?php echo $this->partial('onestep/shipping-method-user.phtml', 'checkout', $this); ?>
                    <?php endif; ?>
                    <?php $this->stepCounter++; ?>

                    <?php echo $this->partial('onestep/payment-method.phtml', 'checkout', $this); ?>
                </div>
            </div>

            <div class="to-register to-guest">
                <?php echo $this->partial('onestep/sidebar.phtml', 'checkout', $this); ?>

                <div class="clear"></div>

                <div class="apt-form-action mw-930">
                    <button class="apt-btn prime lrg x--lrg" id="onestep-confirm-order" type="submit">
                        <strong>Pay and Confirm Order</strong>
                        <i class="apt-i-arr white"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="clear"></div>

<script type="text/javascript">
    jQuery("button#onestep-confirm-order").on("click", function() {
        jQuery(this).attr("disabled", true).find("strong").html("Saving order. Please wait...");
        jQuery("form#onestep-order-form").submit();
    });

    var $sidebar = jQuery(".stick-sidebar"),
            $window = jQuery(window),
            offset = jQuery(".stick-sidebar").offset(),
            topPadding = 15;

    jQuery(window).scroll(function() {
        placeSidebar();
    });

    function placeSidebar()
    {
        jQuery(".stick-sidebar").css('margin-top',
                ($window.scrollTop() > offset.top && $window.width() > 998) ? ($window.scrollTop() - offset.top + topPadding) : 0
                );
    }

    var terms = jQuery("input[type='checkbox'][name='accept_agreement']");
    if (terms.length) {
        if (terms.hasClass("error-field")) {
            $("label[for=" + terms.attr('id') + "]").css('color', '#FF6666');
        }
        terms.wrap(jQuery("<div></div>", {"class": "check-box " + (terms.prop('checked') ? 'checkedBox': '')}));
        terms.parent().on('click', function(){
            $(this).find(':checkbox').prop('checked', !$(this).find(':checkbox').prop('checked')).trigger('change');
            $(this).toggleClass('checkedBox');
        });
    }
</script>
