<h3 class="apt-title section">
    <span class="circle prim"><?php echo $this->stepCounter; ?></span>
    <span>Payment Info</span>
</h3>

<div class="control-group col-2">

    <p class="text-mute sub-title">
        <strong>How this works:</strong>
        you will only be charged if the seller accepts your request.
        They'll have 24 hours to confirm.
        If the seller declines or does not respond, no charge is made.  
    </p>

    <div class="clear"></div>

    <div class="block-fields">

        <?php foreach ($this->form->getSubform('payment')->getElements() as $element) : ?>
            <?php echo $element; ?>
        <?php endforeach; ?>

        <div class="clear"></div>
        <img class="m-t12" src="<?php echo Ikantam_Url::getPublicUrl('assets/images/src/payment-balanced.png'); ?>" alt="Payment Secured By Balanced" />

        <?php foreach ($this->form->getSubform('how_did_you_hear_about_us')->getElements() as $element) : ?>
            <?php echo $element; ?>
        <?php endforeach; ?>

        <?php foreach ($this->form->getSubform('terms')->getElements() as $element) : ?>
            <?php echo $element; ?>
        <?php endforeach; ?>
    </div>

    <div class="block-fields">
        <?php foreach ($this->form->getSubform('billing_address')->getElements() as $element) : ?>
            <?php echo $element; ?>
        <?php endforeach; ?>
    </div>
</div>

<script type="text/javascript">
    function toggleHeard()
    {
        var $this = $('.select-el'),
                _selectVal = $this.find('select').val(),
                _fieldVal = $this.find('.select-field').attr('data-option');

        if (_selectVal == _fieldVal) {
            $('.select-field').removeClass('hidden');
        } else {
            $('.select-field').addClass('hidden');
        }
    }

    $('.select-el').on('change', function() {
        toggleHeard();
    });

    toggleHeard();

    var sameAsShipping = jQuery("input[type='checkbox'][name='billing_address[same_as_shipping]']");
    sameAsShipping.wrap(jQuery("<div></div>", {"class": "check-box"}));

    jQuery(".check-box").on("click", function(e) {
        if (this !== e.target) {
            return;
        }
        $(this).find(':checkbox').prop('checked', !$(this).find(':checkbox').prop('checked')).trigger('change');
    });

    function toggleBillingAddress()
    {
        if (sameAsShipping.is(':checked')) {
            jQuery("#billing_address").addClass("hidden");
            sameAsShipping.parent().addClass("checkedBox");
        } else {
            jQuery("#billing_address").removeClass("hidden");
            sameAsShipping.parent().removeClass("checkedBox");
        }
    }

    sameAsShipping.on("change", function() {
        toggleBillingAddress();
    });

    toggleBillingAddress();


    var states = <?php echo $this->states ?>;

    function toggleState(onchange)
    {
        var selectedCountry = jQuery("select[name='billing_address[country_code]']").val();

        if (onchange) {
            if (states[selectedCountry]) {
                jQuery("select[name='billing_address[state_code]']")
                        .show()
                        .html("")
                        .append(jQuery("<option></option>", {value: "", text: "-- State --"}));

                for (code in states[selectedCountry]) {
                    var selected = (states[selectedCountry][code] === jQuery("input[name='billing_address[state_name]']").val());

                    jQuery("select[name='billing_address[state_code]']")
                            .append(jQuery("<option></option>", {value: code, text: states[selectedCountry][code], selected: selected}));
                }

                jQuery("input[name='billing_address[state_name]']")
                        .val("").hide();
            } else {
                jQuery("input[name='billing_address[state_name]']")
                        .show();

                if (!jQuery("input[name='billing_address[state_name]']").val()) {
                    jQuery("input[name='billing_address[state_name]']")
                            .val(jQuery("select[name='billing_address[state_code]'] option:selected").html());
                }

                jQuery("select[name='billing_address[state_code]']")
                        .hide()
                        .html("");
            }
        } else {

            if (states[selectedCountry]) {
                var selectedState = jQuery("select[name='billing_address[state_code]']").val();

                jQuery("select[name='billing_address[state_code]']").html("").append(jQuery("<option></option>", {value: "", text: "-- State --"}));

                for (code in states[selectedCountry]) {
                    var selected = (code === selectedState);

                    jQuery("select[name='billing_address[state_code]']")
                            .append(jQuery("<option></option>", {value: code, text: states[selectedCountry][code], selected: selected}));
                }

                jQuery("select[name='billing_address[state_code]']").show();
                jQuery("input[name='billing_address[state_name]']").hide();
            } else {
                jQuery("input[name='billing_address[state_name]']").show();
                jQuery("select[name='billing_address[state_code]']").hide();
            }
        }
    }

    jQuery("select[name='billing_address[country_code]']").on("change", function() {
        toggleState(true);
    });

    toggleState(false);
</script>