<!-- ====== apt-progress ====== -->
<div class="apt-progress m-b60">
    <ul>
        <li class="visited">
            <a href="<?php echo Ikantam_Url::getUrl('cart/index'); ?>">Cart</a> 
            <small class="triangle"></small>
            <i class="triangle z"></i>
        </li>
        
        <li class="active">
            Checkout 
            <small class="triangle"></small>
            <i class="triangle z"></i>
        </li>
        
        <li>
            Done 
            <small class="triangle"></small>
        </li>
    </ul>
</div>
<!-- ====== apt-progress ====== -->

<div class="clear"></div>