<h3 class="apt-title section">
    <span class="circle prim"><?php echo $this->stepCounter; ?></span>
    <span id="guest-shipping-step-title">Shipping Info</span>
</h3>

<div class="control-group col-2">

    <div class="block-fields">
        <div class="as-a-guest">
            <label class="block-lable title" id="guest-shipping-title">
                <strong>Your Info</strong>
            </label>

            <?php foreach ($this->form->getSubform('guest')->getElements() as $element) : ?>
                <?php echo $element; ?>
            <?php endforeach; ?>
        </div>
    </div>

    <div class="block-fields" id="guest-shipping-address">
        <div class="as-a-guest w-318">
            <label class="block-lable title">
                <strong>Shipping address</strong>
            </label>

            <?php foreach ($this->form->getSubform('shipping_address')->getElements() as $element) : ?>
                <?php echo $element; ?>
            <?php endforeach; ?>
        </div>
    </div>

    <div class="clear"></div>

    <div class="block-fields as-a-guest" id="guest-delivery-dates">
        <label class="block-lable title">
            <strong>Delivery Dates</strong>
        </label>

        <?php if ($this->numberOfRequiredDeliveryDates):?>
            <?php if ($this->numberOfRequiredDeliveryDates == 1): ?>
                <p class="text-mute sub-title">Select at least 1 delivery date / time that work for you</p>
            <?php else: ?>
                <p class="text-mute sub-title">Select <?php echo $this->numberOfRequiredDeliveryDates; ?> delivery dates / times that work for you</p>
            <?php endif; ?>
        <?php endif; ?>

        <?php foreach ($this->form->getSubform('delivery_date')->getSubForms() as $subForm) : ?>
            <?php echo $subForm; ?>
            <div class="clear"></div>
        <?php endforeach; ?>

        <?php echo $this->partial('onestep/delivery-tips.phtml', 'checkout'); ?>
    </div>
</div>

<?php echo $this->partial('onestep/shipping-method-scripts.phtml', 'checkout', $this); ?>

<script type="text/javascript">
    jQuery("input[name='shipping_address[full_name]']").addClass("hidden");

    jQuery("input[name='guest[full_name]']").on("blur", function() {
        if (!jQuery("input[name='shipping_address[full_name]']").val()) {
            jQuery("input[name='shipping_address[full_name]']").val(jQuery("input[name='guest[full_name]']").val());
        }
    });

    function calcShipping(noClearDateSelect)
    {
        var setAddressUrl = "<?php echo Ikantam_Url::getUrl('checkout/onestep/set-address-info'); ?>";

        $.ajax({
            dataType: "json",
            url: setAddressUrl,
            data: jQuery('[name="shipping_address[postal_code]"], [name="shipping_address[building_type]"], [name="shipping_address[number_of_stairs]"]').serialize(),
            async: true,
            type: "POST",
            beforeSend: function() {
                //beforeSend();
            },
            success: function(data) {
                if (data.success && !data.error) {
                    if (data.update.sidebar) {
                        jQuery(".sidebar").replaceWith(data.update.sidebar);
                        placeSidebar();
                    }

                    if (data.update.delivery_dates && !noClearDateSelect) {
                        shippingDates = data.update.delivery_dates;
                        clearSelect();
                        toggleDateTime();
                    }

                } else if (data.error) {
//                     alert("Cannot use this ZIP code.");
                }
                if (data.message) {
                    alert(data.message);
                }
            },
            error: function() {
                alert("One or more conditions don't match. Check subtotal, category and zip");
            },
            complete: function() {
                //complete();
            }
        });
    }

    jQuery("input[name='shipping_address[postal_code]']").on("blur", function() {
        calcShipping();
    });

    jQuery("#building_type, #number_of_stairs").on('change', function()
    {
        calcShipping();
    });

    calcShipping(true);

    /* for only guest */
    $('#onestep-order-form').on('submit', function(){

    });
</script>
