<h3 class="apt-title section" id="shipping-title">
    <span class="circle prim"><?php echo $this->stepCounter; ?></span>
    <span>Shipping Info</span>
</h3>

<div class="control-group col-2">
    <div class="block-fields">
        <div class="has-signed">
            <label class="block-lable title">
                <strong>Shipping address</strong>
            </label>
            <br />
            <div class="user-addresses w-318">
                <?php if ($this->userAddresses->isExists()): ?>
                    <?php echo $this->partial('onestep/shipping/address-template.phtml', 'checkout', $this); ?>

                <?php endif; ?>
                <button class="apt-btn classic pull-right add-new-address<?php if (!$this->userAddresses->isExists()): ?> hidden<?php endif; ?>" type="button">Add New Address</button>      


                <br>
                <br>

                <div class="new-address<?php if ($this->userAddresses->isExists()): ?> hidden<?php else: ?> m--t9<?php endif; ?>">
                    <?php if ($this->userAddresses->isExists()): ?>
                        <label class="block-lable title">
                            <strong>Shipping address</strong>
                        </label>
                    <?php endif; ?>
                    <?php foreach ($this->form->getSubform('shipping_address')->getElements() as $element) : ?>
                        <?php echo $element; ?>
                    <?php endforeach; ?>

                    <div class="clear"></div>

                    <div class="apt-form-action brdr-0 p-0">
                        <button class="apt-btn prime m-r5" onclick="return saveAddress()">Save Address</button>
                        <a class="cancel-na" href="#">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-fields">
        <div class="has-signed">
            <label class="block-lable title">
                <strong>Delivery Dates</strong>
            </label>

            <?php if ($this->numberOfRequiredDeliveryDates):?>
                <?php if ($this->numberOfRequiredDeliveryDates == 1): ?>
                    <p class="text-mute sub-title">Select at least 1 delivery date / time that work for you</p>
                    <?php else: ?>
                    <p class="text-mute sub-title">Select <?php echo $this->numberOfRequiredDeliveryDates; ?> delivery dates / times that work for you</p>
                 <?php endif; ?>
            <?php endif; ?>


            <?php foreach ($this->form->getSubform('delivery_date')->getSubForms() as $subForm) : ?>
                <?php echo $subForm; ?>
                <div class="clear"></div>
            <?php endforeach; ?>

            <?php echo $this->partial('onestep/delivery-tips.phtml', 'checkout'); ?>
        </div>
    </div>
    <div class="clear"></div>
</div>

<?php echo $this->partial('onestep/shipping-method-scripts.phtml', 'checkout', $this); ?>

<script type="text/javascript">
                            jQuery('.add-new-address').on('click', function() {
                                jQuery('.new-address').removeClass('hidden');
                                jQuery("input[name='shipping_address[id]']").val("");
                                return false;
                            });

                            jQuery('.user-addresses a.cancel-na').on('click', function() {
                                jQuery('.new-address').addClass('hidden');
                                return false;
                            });

                            function setAddress(element, id) {
                                jQuery('.address-to-set').removeClass('active').addClass('std');
                                jQuery(element).parent('.address-to-set').addClass('active').removeClass('std');
                                jQuery("input[name='shipping_address[id]']").val(id);

                                var setAddressUrl = "<?php echo Ikantam_Url::getUrl('checkout/onestep/set-address'); ?>";

                                $.ajax({
                                    dataType: "json",
                                    url: setAddressUrl,
                                    data: jQuery('[name="shipping_address[id]"]').serialize(),
                                    async: true,
                                    type: "POST",
                                    beforeSend: function() {
                                        //beforeSend();
                                    },
                                    success: function(data) {
                                        if (data.success && !data.error) {
                                            iKantam.storage.set('use_shipping_address', data.id);
                                            if (data.update.sidebar) {
                                                jQuery(".sidebar").replaceWith(data.update.sidebar);
                                                placeSidebar();
                                            }
                                            if (data.update.delivery_dates) {
                                                shippingDates = data.update.delivery_dates;
                                                clearSelect();
                                                toggleDateTime();
                                            }
                                        } else if (data.error) {
                                            alert("Cannot use this address.");
                                        }
                                        if (data.message) {
                                            alert(data.message);
                                        }
                                    },
                                    error: function() {
                                        alert("Cannot save the address. Please try again later.");
                                    },
                                    complete: function() {
                                        //complete();
                                    }
                                });

                                return false;
                            }

                            function saveAddress()
                            {
                                var saveAddressUrl = "<?php echo Ikantam_Url::getUrl('checkout/onestep/save-address'); ?>";
                                $.ajax({
                                    dataType: "json",
                                    url: saveAddressUrl,
                                    data: jQuery('[name*="shipping_address"]').serialize(),
                                    async: true,
                                    type: "POST",
                                    beforeSend: function() {
                                        jQuery('[name="shipping_address[full_name]"]').removeClass("error-field");
                                        jQuery('[name="shipping_address[address_line1]"]').removeClass("error-field");
                                        jQuery('[name="shipping_address[address_line2]"]').removeClass("error-field");
                                        jQuery('[name="shipping_address[city]"]').removeClass("error-field");
                                        jQuery('[name="shipping_address[state_code]"]').removeClass("error-field");
                                        jQuery('[name="shipping_address[postal_code]"]').removeClass("error-field");
                                        jQuery('[name="shipping_address[building_type]"]').removeClass("error-field");
                                        jQuery('[name="shipping_address[number_of_stairs]"]').removeClass("error-field");
                                        jQuery('[name="shipping_address[telephone_number]"]').removeClass("error-field");
                                    },
                                    success: function(data) {
                                        if (data.success && !data.error) {
                                            var element = $(data.template);
                                            jQuery("button.add-new-address").before(element);
                                            jQuery('[name*="shipping_address"]').val("");
                                            jQuery('[name="shipping_address[city]"]').val("New York");
                                            jQuery('[name="shipping_address[state_code]"]').val("NY");
                                            jQuery("select[name='shipping_address[number_of_stairs]']").addClass('hidden');
                                            jQuery('.new-address').addClass('hidden');
                                            if (element.length) {
                                                setAddress($(element[0]).find('.set-address'), data.id);
                                            }
                                        } else if (data.error) {
                                            if (data.errors.full_name) {
                                                jQuery('[name="shipping_address[full_name]"]').addClass("error-field");
                                            }
                                            if (data.errors.address_line1) {
                                                jQuery('[name="shipping_address[address_line1]"]').addClass("error-field");
                                            }
                                            if (data.errors.address_line2) {
                                                jQuery('[name="shipping_address[address_line2]"]').addClass("error-field");
                                            }
                                            if (data.errors.city) {
                                                jQuery('[name="shipping_address[city]"]').addClass("error-field");
                                            }
                                            if (data.errors.state_code) {
                                                jQuery('[name="shipping_address[state_code]"]').addClass("error-field");
                                            }
                                            if (data.errors.postal_code) {
                                                jQuery('[name="shipping_address[postal_code]"]').addClass("error-field");
                                            }
                                            if (data.errors.building_type) {
                                                jQuery('[name="shipping_address[building_type]"]').addClass("error-field");
                                            }
                                            if (data.errors.number_of_stairs) {
                                                jQuery('[name="shipping_address[number_of_stairs]"]').addClass("error-field");
                                            }
                                            if (data.errors.telephone_number) {
                                                jQuery('[name="shipping_address[telephone_number]"]').addClass("error-field");
                                            }
                                        }
                                    },
                                    error: function() {
                                        alert("Cannot save the address. Please try again later");
                                    },
                                    complete: function() {
                                        //complete();
                                    }
                                });

                                return false;
                            }
</script>
