<aside class="sidebar stick-sidebar">
    <div class="widget check-out">
        <ul>
            <li>
                <span>Subtotal:</span>
                <span><?php echo $this->currency($this->cart->getSubtotalAmount()); ?></span>
            </li>
            <li>
                <span>Shipping:</span>
                <span><?php echo $this->currency($this->cart->getShippingAmount()); ?></span>
            </li>
            <li>
                <span>Total Savings:</span>
                <span><?php echo $this->currency($this->cart->getDiscountAmount()); ?></span>
                <?php if ($this->cart->getCouponId()): ?>
                    <div style="clear: both; float:none; padding-top: 1px; text-align: right;">
                        <a href="javascript:void(0)" class="get text-primary m-t5 show" title="Cancel Coupon" onclick="cancelCoupon()"><small>Cancel Coupon</small></a>
                    </div>
                <?php endif ?>
            </li>
            <li>
                <strong>
                    <span>Grand Total:</span>
                    <span><?php echo $this->currency($this->cart->getTotalAmount()); ?></span>
                </strong>    
            </li>

            <?php if (!$this->cart->getCouponId()) : ?>

                <li>
                    <div class="field-n-btn hidden-info">
                        <p class="get set-vis">Have a promo code? <a href="#" class="get text-primary m-t5 show">Click here to enter it</a></p>
                        <input name="coupon_code" class="form-field set-vis  hidden" type="text" placeholder="Promotion code"  onkeydown="$(this).removeClass('error-field'); $('#coupon-errors').fadeOut();"/>
                        <button class="apt-btn def set-vis hidden" type="button" id="set-coupon-button">Submit</button>
                    </div>
                    <div class="clear"></div>
                    <div id="coupon-errors" class="aptd-alert error m-t5" style="display: none">
                        <i class="apt-icon-warning"></i>
                        <p id="coupon-errors-messages"></p>
                    </div>
                </li>
            <?php endif; ?>
        </ul>
    </div>
</aside>

<script type="text/javascript">

    /* / hidden-info / */
    $('.hidden-info .get').on('click', function() {
        var $this = $(this);
        $this.closest('.hidden-info').find('.set-vis').toggleClass('hidden');
        return false;
    });

    jQuery("#set-coupon-button").on("click", function() {
        $('#coupon-errors').fadeOut();
        $('input[name="coupon_code"]').removeClass('error-field');
        $.ajax({
            dataType: "json",
            url: "<?php echo Ikantam_Url::getUrl('checkout/onestep/set-coupon'); ?>",
            data: {coupon_code: jQuery("input[name='coupon_code']").val(), postal_code: jQuery("input[name='shipping_address[postal_code]']").val()} ,
            async: true,
            type: "POST",
            beforeSend: function() {
                //beforeSend();
            },
            success: function(data) {
                if (data.success && !data.error) {
                    if (data.update.sidebar) {
                        jQuery(".sidebar").replaceWith(data.update.sidebar);
                        placeSidebar();
<?php if (!$this->isLoggedIn()) : ?>
                            calcShipping();
<?php endif; ?>
                    }
                } else if (data.error) {
                    $('input[name="coupon_code"]').addClass('error-field');
                    if (data.message) {
                        $('#coupon-errors').fadeIn().find('#coupon-errors-messages').html(data.message);
                    } else {
                        alert("Cannot apply this promotion code.");
                    }
                }
            },
            error: function() {
                alert("Cannot apply this promotion code.");
            },
            complete: function() {
                //complete();
            }
        });
    });

    function cancelCoupon()
    {
        $.ajax({
            dataType: "json",
            url: "<?php echo Ikantam_Url::getUrl('checkout/onestep/set-coupon'); ?>",
            data: {cancel_coupon: true},
            async: true,
            type: "POST",
            beforeSend: function() {
                //beforeSend();
            },
            success: function(data) {
                if (data.success && !data.error) {
                    if (data.update.sidebar) {
                        jQuery(".sidebar").replaceWith(data.update.sidebar);
                        placeSidebar();
<?php if (!$this->isLoggedIn()) : ?>
                            calcShipping();
<?php endif; ?>
                    }
                } else if (data.error) {
                    if (data.message) {
                        alert(data.message);
                    } else {
                        alert("Cannot cancel coupon.");
                    }
                }
            },
            error: function() {
                alert("Cannot cancel coupon.");
            },
            complete: function() {
                //complete();
            }
        });
    }
</script>
