

<div class="apt-container container-fluid sidebar-main">
    <?php echo $this->partial('sidebar.phtml', 'admin'); ?>
    <div class="main apt-container">

        <h2 class="apt-title page">Edit "<?php echo $this->product->getTitle(); ?>"</h2>

        <?php foreach ((array)$this->messages as $message) : ?>
            <div class="aptd-alert error">
                <i class="apt-icon-warning"></i>
                <p><?php echo $message; ?></p>
                <button type="button" class="dismiss" data-dismiss="alert">x</button>
            </div>
        <?php endforeach; ?>

        <?php echo $this->form; ?>


        <div class="clear"></div>

        <div class="apt-form-action">
            <button class="apt-btn prime" type="submit" onclick="document.getElementById('submit-form').submit();">Save</button>
            <button class="apt-btn prime" type="submit" id="save_n_approve" >Save &amp; Approve</button>
            <script>
                $(function(){
                    $('#save_n_approve').bind('click', function(){
                        $('#submit-form').append('<input type="hidden" name="approve" value="1">').submit();
                    });
                });
            </script>
        </div>

    </div>
    <!--/ apt-container (new container) -->

    <div class="clear"></div>
    <div id="push"></div>
</div>
<?php echo $this->partial('add/add.new.js.phtml', 'product');?>
<?php echo $this->partial('edit-product/add_edit.bottom.js.phtml', 'admin', $this);?>