<div class="brdr sma"></div>

<h4>Pick up Location</h4>

<p class="dd-title dl-address"> 
    <i class="pin-address"></i> 
    
    <?php $product = $this->item->getProduct(); ?>
    
    <?php if ($product->getPickupAddressLine2()) : ?>
        <?php $adr = sprintf('%s, %s, %s, %s %s %s', 
                $product->getPickupAddressLine1(), 
                $product->getPickupAddressLine2(), 
                $product->getPickupCity(), 
                $product->getPickupState(), 
                $product->getPickupPostcode(), 
                $product->getPickupCountryCode()); ?>
    <?php else : ?>
        <?php $adr = sprintf('%s, %s, %s %s %s', 
                $product->getPickupAddressLine1(), 
                $product->getPickupCity(), 
                $product->getPickupState(), 
                $product->getPickupPostcode(), 
                $product->getPickupCountryCode()); ?>
    <?php endif; ?>

    <?php echo $this->escape($adr); ?>
</p>

<?php if ($this->item->getShippingMethod() == Order_Model_Order::ORDER_SHIPPING_METHOD_PICK_UP) : ?>

    <div class="item-vailability">

        <h4>Is this product available now?</h4>

        <form id="availability-form" action="<?php echo Ikantam_Url::getURl('user/order/set-available', array('id' => $this->item->getId())); ?>" method="post">
            <input name="availabitily" value="1" type="hidden" />
            <button type="submit">Yes</button>
            <a href="javascript:void(0)" onclick="setNotAvailable();">No</a>
        </form>

        <script>
                function setNotAvailable()
                {
                    $('#availability-form input').val("0");
                    $('#availability-form').submit();
                }
        </script>
    </div>

<?php elseif ($this->item->getShippingMethod() == Order_Model_Order::ORDER_SHIPPING_METHOD_DELIVERY) : ?>

    <form action="<?php echo Ikantam_Url::getUrl('user/order/set-available', array('id' => $this->item->getId())); ?>" method="post">

        <div class="item-vailability">
            <h4>Is this product available now?</h4>
            <ul class="lis-pickd">
                <li>
                    <div class="radio-btn item-available checkedRadio">
                        <input type="radio" value="1" name="availabitily" checked="checked">
                    </div>
                    Yes                                           
                </li>

                <li>
                    <div class="radio-btn item-not-available ">
                        <input type="radio" value="0" name="availabitily">
                    </div>
                    No                                           
                </li>
            </ul>
        </div>

        <div id="order-item-params">
            <p>We also need some information for our delivery partner.</p>

            <h4>Pick up Date</h4>

            <p>Select date and time when we can pick up this product</p>

            <ul class="lis-pickd">
                <?php foreach ($this->orderedDates as $orderedDate) : ?>
                    <li>
                        <div class="radio-btn">
                            <input type="radio" name="date" value="<?php echo $orderedDate; ?>" />
                        </div>
                        <?php echo $this->formatDate($orderedDate); ?>
                    </li>
                <?php endforeach; ?>
            </ul>

            <h4>What is the best number we can reach you on to confirm delivery?</h4>

            <p class="dd-title">
                <input type="text" name="phone_number" placeholder="(___) ___ ____" class="numb-format delivery-phone-number">
            </p>
            <div class="clear"></div>

            <h4>Building Type</h4>

            <ul class="lis-pickd">
                <li><div class="radio-btn elevator checkedRadio"><input checked="checked" type="radio" name="building_type" value="elevator"></div>Elevator</li>
                <li><div class="radio-btn walk-up"><input type="radio" name="building_type" value="walk_up"></div> Walk up</li>
            </ul>
            <div class="clear"></div>

            <div class="stairs" style="display: none;">
                <p class="dd-title">How many flights of stairs</p>
                <select name="flights_of_stairs">
                    <?php for ($i = 1; $i < 11; $i++) : ?>
                        <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                    <?php endfor; ?>
                </select>
            </div>
            <div class="clear"></div>

            <p class="dd-title">Does your building require any paperwork for delivery?</p>
            <div class="doc-req">
                <div class="pull-left"> <div class="radio-btn"><input type="radio"></div> Yes </div>
                <div class="pull-left"> <div class="radio-btn checkedRadio"><input type="radio" checked="checked"></div> No </div>
                <div class="clear"></div>
                <div class="provide-more-info">
                    <p class="dd-title">If yes, please provide some more info</p>
                    <input type="text" name="paperwork_info">
                </div>
            </div>
            <div class="brdr smalast"></div>
        </div>

        <button class="pull-right" type="submit"><i></i>Confirm pick up details</button>
        
        <div class="clear"></div>
    </form>
<?php endif; ?>

<div class="clear"></div>