<div class="brdr sma"></div>

<?php if ($this->item->getShippingMethodId() == Order_Model_Order::ORDER_SHIPPING_METHOD_PICK_UP) : ?>

    <div class="item-vailability product-info">

        <h4>Is this product available now?</h4>

        <div class="buyer-info">
            <form class="item-vailability" id="availability-form" action="<?php echo Ikantam_Url::getUrl('user/order/set-available', array('id' => $this->item->getId())); ?>" method="post">
                <input name="availabitily" value="1" type="hidden" />
                <button type="submit">Yes</button>
                <a href="javascript:void(0)" onclick="setNotAvailable();">No</a>
            </form>
        </div>

        <script>
                    var isSubmitted = false;
                    var message = "Saving pick up details. Wait...";

                    function setNotAvailable()
                    {
                        $('#availability-form input').val("0");
                        $('#availability-form').submit();
                    }

                    jQuery("form#availability-form").on("submit", function() {
                        if (!isSubmitted) {
                            isSubmitted = true;
                        } else {
                            return false;
                        }

                        if (jQuery('#availability-form input').val() === "1") {
                            jQuery("form#availability-form button[type='submit']").html(message);
                            jQuery("form#availability-form a").hide();
                        } else {
                            jQuery("form#availability-form a").html(message);
                            jQuery("form#availability-form button[type='submit']").hide();
                        }

                        return true;
                    });
        </script>
    </div>

<?php elseif ($this->item->getShippingMethodId() == Order_Model_Order::ORDER_SHIPPING_METHOD_DELIVERY) : ?>

    <form id="availability-form" action="<?php echo Ikantam_Url::getUrl('user/order/set-available', array('id' => $this->item->getId())); ?>" method="post">

        <div class="item-vailability product-info">
            <h4>Is this product available now?</h4>
            <ul class="lis-pickd">
                <li>
                    <div class="radio-btn item-available checkedRadio">
                        <input type="radio" value="1" name="availabitily" checked="checked">
                    </div>
                    Yes                                           
                </li>

                <li>
                    <div class="radio-btn item-not-available ">
                        <input type="radio" value="0" name="availabitily">
                    </div>
                    No                                           
                </li>
            </ul>
        </div>

        <div id="order-item-params" class="product-info">
            <p>We also need some information for our delivery partner.</p>

            <h4>Pick up Date</h4>
            <?php if ($err = $this->session->getFormErrors('date')): ?>
                <p class="invalid"><i></i><?php echo $err; ?></p>
            <?php endif; ?>
            <p>Select date and time when we can pick up this product</p>

            <ul class="lis-pickd">
                <?php if (is_array($this->orderedDates)) : ?>
                    <?php foreach ($this->orderedDates as $orderedDate) : ?>
                        <li>
                            <div class="radio-btn">
                                <input type="radio" name="date" value="<?php echo $orderedDate; ?>" />
                            </div>
                            <?php echo $this->formatDate($orderedDate); ?>
                        </li>
                    <?php endforeach; ?>
                <?php else : ?>
                    <li>N/A</li>
                <?php endif; ?>
            </ul>
            <?php if ($err = $this->session->getFormErrors('phone_number')): ?>
                <p class="invalid"><i></i><?php echo $err; ?></p>
            <?php endif; ?>
            <h4>What is the best number we can reach you on to confirm delivery?</h4>

            <p class="dd-title">
                <input type="text" name="phone_number" value="<?php echo $this->item->getProduct()->getPickupPhone(); ?>" placeholder="(___) ___ ____" class="numb-format delivery-phone-number">
            </p>
            <div class="clear"></div>

            <h4>Building Type</h4>

            <ul class="lis-pickd">
                <li><div class="radio-btn elevator checkedRadio"><input checked="checked" type="radio" name="building_type" value="elevator"></div>Elevator</li>
                <li><div class="radio-btn walk-up"><input type="radio" name="building_type" value="walkup"></div> Walk up</li>
            </ul>
            <div class="clear"></div>

            <div class="stairs" style="display: none;">
                <p class="dd-title">How many flights of stairs</p>
                <select name="flights_of_stairs">
                    <?php for ($i = 1; $i < 11; $i++) : ?>
                        <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                    <?php endfor; ?>
                </select>
            </div>
            <div class="clear"></div>

            <p class="dd-title">Does your building require any paperwork for delivery?</p>
            <div class="doc-req">
                <div class="pull-left"> <div class="radio-btn"><input type="radio"></div> Yes </div>
                <div class="pull-left"> <div class="radio-btn checkedRadio"><input type="radio" checked="checked"></div> No </div>
                <div class="clear"></div>
                <div class="provide-more-info">
                    <p class="dd-title">If yes, please provide some more info</p>
                    <input type="text" name="paperwork_info">
                </div>
            </div>
            <div class="brdr smalast"></div>
        </div>

        <button class="pull-right publish" type="submit"><i></i>Confirm pick up details</button>

        <div class="clear"></div>
    </form>

    <script type="text/javascript">
        jQuery("form#availability-form").on("submit", function() {
            var submitButton = jQuery("form#availability-form button[type='submit']");
            submitButton.prop("disabled", true);
            submitButton.html("Saving pick up details. Wait...");
            return true;
        });
    </script>
<?php endif; ?>

<div class="clear"></div>

