<?php if ($this->product): ?>
    <?php $product = $this->product; ?>

    <table class="table-block">
        <tr>
            <td class="product-thumbnail">
                <div class="thumbnail-holder">
                    <img src="<?php echo $this->escape($product->getMainImageUrl('squared')); ?>" alt="<?php echo $this->escape($product->getTitle()); ?>" />
                </div>
            </td>

            <td>
                <ul class="inline-labels">
                    <li>
                        <span class="as-label">Product:</span>
                        <a href="<?php echo $this->escape($product->getProductUrl()); ?>">
                            <?php echo $this->escape($product->getTitle()); ?>
                        </a>
                    </li>

                    <li>
                        <span class="as-label">Buyer:</span>

                        <?php if ($this->buyer->getId()) : ?>
                            <a href="<?php echo $this->escape($this->buyer->getProfileUrl()); ?>"><?php echo $this->escape($this->buyer->getFirstName()); ?></a>
                        <?php else : ?>
                            <?php echo $this->escape($this->buyer->getFirstName()); ?>
                        <?php endif; ?>

                        <?php if ($this->loggedInUser->canSendMessagesTo($this->buyer)) : ?>
                            <?php $cUrl = Ikantam_Url::getUrl('user/inbox/create', array('id' => $this->buyer->getId())); ?>
                            <div class="contact-buyer">
                                <button type="button" onclick="window.location = '<?php echo $cUrl; ?>'"><i></i> Send message</button>
                            </div>
                        <?php endif; ?>
                    </li>

                    <li>
                        <span class="as-label">Price:</span>
                        <span><?php echo $this->currency($product->getPrice()); ?></span>
                    </li>

                    <li>
                        <span class="as-label">Qty:</span>
                        <span><?php echo $this->escape($this->item->getQty()); ?></span>
                    </li>

                    <li>
                        <span class="as-label">Condition:</span>
                        <span><?php echo $this->escape($product->getShortConditionLabel()); ?></span>
                    </li>

                    <li>
                        <span class="as-label">Delivery:</span>
                        <span>
                            <i class="deliv"></i>
                            <?php echo $this->escape($this->shipping); ?>
                        </span>
                    </li>

                    <li>
                        <span class="as-label">Order date:</span>
                        <span><?php echo date('d M Y', $this->order->getCreatedAt()); ?></span>
                    </li>

                    <li>
                        <span class="as-label">Status:</span>
                        <span class="text-status in-progress">
                            <?php if ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_CANCELED) : ?>
                                Cancelled
                            <?php elseif ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_PENDING || $this->item->getStatus() == Order_Model_Order::ORDER_STATUS_ON_HOLD): ?>
                                In progress
                            <?php elseif ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_COMPLETE) : ?>
                                Received
                            <?php endif; ?>
                        </span>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
<?php endif; ?>