<?php echo $this->partial('order_list_js.phtml', 'user', array('till' => $this->till, 'from' => $this->from)); ?>
<script type="text/javascript">
    $(document).ready(function() {
        if ($.browser.webkit) {
            $('select').on('change', function(e) {
                $(this).find('option:selected').trigger('click');
            });
        }
    });
</script>
<div class="container-fluid" id="container"> 
    <div class="apt-container sidebar-main">
    <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

    <div class="main m-0"  id="messages">

        <!-- user-actions -->
        <div id="user-actions">

            <h2>My Sales</h2>


            <!-- msg-filter -->
            <form method="post" name="filters"  action="<?php echo Ikantam_Url::getUrl('user/order/list'); ?>">
                <div id="msg-filter">

                    <!-- search my items -->
                    <div class="input-append" id="filter-my-items">
                        <input type="text" name="search"  id="filter-items" autocomplete="off" />     
                        <i class="icon-search"></i>
                        <input type="submit" style="width: 0; height:0; margin: 0; padding: 0; border: none; background: none;"/>


                        <?php if ($this->status == 'received'): ?>
                            <input type="hidden" name="status" value="received" />
                        <?php elseif ($this->status == 'in-progress'): ?>
                            <input type="hidden" name="status" value="in-progress" />
                        <?php endif; ?>

                        <!-- items-to-filter -->
                        <div id="scrollbar-5" class="cityParent"> 

                            <div class="scrollbar">
                                <div class="track">
                                    <div class="thumb">
                                        <div class="end"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="viewport">
                                <div id="mysales-items" class="overview">

                                    <?php /*
                                      <div class="items-to-filter">
                                      <div id="wrapitems">
                                      <div id="scrollitems"></div>
                                      </div>
                                      <div id="mysales-items"> */ ?>
                                    <ul id="suggestions-list">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--/ items-to-filter -->

                    </div>
                    <!--/ search my items -->


                    <div class="btn-group" id="purchase-history">

                        <button name="status" id="received" value="received" style="display: none;" type="submit"></button>
                        <button name="status" id="inprogress" value="in-progress" style="display: none;"></button>
                        <button name="status" id="allstatuses" value="all" style="display: none;"></button>

                        <select name="select_status">
                            <option onclick="document.getElementById('allstatuses').click();" value="all" <?php if ($this->status == 'all') : ?>selected="selected"<?php endif; ?>>All Order Statuses</option>
                            <option onclick="document.getElementById('received').click();" value="received" <?php if ($this->status == 'received') : ?>selected="selected"<?php endif; ?>>Received</option>
                            <option onclick="document.getElementById('inprogress').click();" value="in-progress" <?php if ($this->status == 'in-progress') : ?>selected="selected"<?php endif; ?>>In delivery</option>
                        </select>
                    </div>


                </div>
                <!--/ msg-filter -->


                <!-- my-items-datefilter -->
                <div class="filter-myitems">
                    <ul>  
                        <li<?php if ($this->date == 'all'): ?> class="filterd"<?php endif; ?>>
                            <?php /* <button class="invisible-button" name="date" value="all"><a href="#">All</a></button> */ ?>
                            <button class="invisible-button" name="date" value="all">All</button>
                        </li>

                        <li<?php if ($this->date == 'month'): ?> class="filterd"<?php endif; ?>>
                            <?php /* <button class="invisible-button" name="date" value="month"><a href="#">Month</a></button> */ ?>
                            <button class="invisible-button" name="date" value="month">Month</button>
                        </li>

                        <li<?php if ($this->date == 'year'): ?> class="filterd"<?php endif; ?>>
                            <?php /* <button class="invisible-button" name="date" value="year"><a href="#">Year</a></button> */ ?>
                            <button class="invisible-button" name="date" value="year">Year</button>
                        </li>

                        <li>

                            <input type="hidden" name="cdate" value="<?php echo $this->date; ?>" />

                            <input type="text" name="from" id="datepicker4" onchange="filters.submit();" class="datepicker" />
                            <span class="mdash">&#8212;</span>
                            <input type="text" name="till" id="datepicker5" onchange="filters.submit();" class="datepicker" />
                            <input type="hidden" name="cfrom" value="<?php echo $this->from; ?>" />
                            <input type="hidden" name="ctill" value="<?php echo $this->till; ?>" />



                        </li>

                    </ul>
                </div></form>
            <!--/ my-items-datefilter -->

        </div>
        <!--/ user-actions -->
        <div class="clear"></div>

        <?php if (count($this->products)): ?>
            <!-- table for descktop & tablet -->
            <table id="my-items-table" class="visible-desktop purchase-history">

                <tr class="table-title">
                    <th></th>
                    <th></th>
                    <th class="txt-lft">Order Date</th>
                    <th class="txt-lft">Delivery Preference</th>
                    <th>Status</th>
                </tr>
                <?php foreach ($this->products as $product): ?>
                    <tr>
                        <td class="cart-thumb">
                            <img style="width:113px !important;max-height:113px !important;" src="<?php echo $this->escape($product->getMainImageUrl()); ?>" alt="<?php echo $this->escape($product->getTitle()); ?>" />
                        </td>

                        <td class="nobrdr-it">
                            <?php /* <h3><a href="<?php echo Ikantam_Url::getUrl('user/order/order', array('id' => $product->getOrderId())); ?>">Order: #<?php echo $product->getOrderId(); ?></a></h3> */ ?>
                            <h3><a href="<?php echo Ikantam_Url::getUrl('user/order/order', array('id' => $product->getOrderItemId())); ?>"><?php echo $this->escape($product->getTitle()); ?></a></h3>
                            <ul>
                                <?php /* <li><?php echo $product->getProductLink(); ?></li> */ ?>
                                <?php $item  = new Order_Model_Item($product->getOrderItemId()); ?>
                                <?php $buyer = $item->getOrder()->getUser(); ?>

                                <?php if ($buyer->getId()) : ?>
                                    <li>
                                        <a href="<?php echo $this->escape($buyer->getProfileUrl()); ?>">
                                            <?php echo $this->escape($buyer->getFirstName()); ?>
                                        </a>
                                    </li>
                                <?php else : ?>
                                    <li>
                                        <?php echo $this->escape($buyer->getFirstName()); ?>
                                    </li>
                                <?php endif; ?>

                                <li><?php echo $this->currency($product->getPrice()); ?></li>
                                <li>Quantity: <?php echo $item->getQty(1); ?></li>
                            </ul>
                        </td>

                        <td class="nobrdr-it date-del-method"><p><?php echo date('d M Y', $product->getOrderDate()); ?></p></td>

                        <td class="date-del-method">
                            <p><?php echo ($item->getShippingMethodId() == Order_Model_Order::ORDER_SHIPPING_METHOD_DELIVERY) ? 'Delivery by AptDeco partner' : 'Pick up by customer'; ?></p>

                            <?php $itemUrl = Ikantam_Url::getUrl('user/order/order', array('id' => $item->getId())); ?>

                            <?php if ($item->getShippingMethodId() == Order_Model_Order::ORDER_SHIPPING_METHOD_DELIVERY) : ?>
                                <?php if ($item->getStatus() == Order_Model_Order::ORDER_STATUS_ON_HOLD) : ?> 
                                    <button onclick="window.location = '<?php echo $itemUrl; ?>'" class="publish" type="button">Confirm/Decline Request</button>
                                <?php elseif ($item->getStatus() == Order_Model_Order::ORDER_STATUS_PENDING) : ?>
                                    <p><a href="<?php echo $itemUrl; ?>">View pick up date</a></p>
                                <?php endif; ?>
                            <?php else : ?>
                                <?php if ($item->getStatus() == Order_Model_Order::ORDER_STATUS_ON_HOLD) : ?> 
                                    <button onclick="window.location = '<?php echo $itemUrl; ?>'" class="publish" type="button">Confirm/Decline Request</button>
                                <?php endif; ?>
                            <?php endif; ?>
                        </td>

                        <?php if ($product->getIsProductAvailable() === '0') : ?>
                            <td class="status in-nprogress"><p style="color:#FF0000 !important;">Cancelled</p></td>
                        <?php elseif ((int) $product->getIsReceived() === 0): ?>  
                            <td class="status in-progress"><p>In progress</p></td>
                        <?php else: ?>
                            <td class="status recived"><p>Received</p></td>
                        <?php endif; ?>


                    </tr>
                <?php endforeach; ?>


            </table>
            <!--/ table for descktop & tablet -->
        <?php endif; ?>

        <?php if (count($this->products)): ?>

            <!-- table for mobile -->
            <table id="myitems-table" class="hidden-desktop">

                <?php foreach ($this->products as $product): ?>
                    <?php $item    = new Order_Model_Item($product->getOrderItemId()); ?>
                    <tr>
                        <td>
                            <img style="width:113px !important;max-height:113px  !important;" src="<?php echo $product->getMainImageUrl(); ?>" alt="<?php echo $product->getTitle(); ?>" />
                        </td>

                        <td rowspan="2">
                            <?php /* <h3><a href="<?php echo Ikantam_Url::getUrl('user/order/order', array('id' => $product->getOrderId())); ?>">Order: #<?php echo $product->getOrderId(); ?></a></h3> */ ?>
                            <h3><a href="<?php echo Ikantam_Url::getUrl('user/order/order', array('id' => $product->getOrderItemId())); ?>"><?php echo $product->getTitle(); ?></a></h3>
                            <ul>
                                <li><?php echo ($product->getShippingMethodId() == 'delivery') ? 'Delivery by AptDeco partner' : 'Pick up by customer'; ?></li>

                                <li>
                                    <?php $itemUrl = Ikantam_Url::getUrl('user/order/order', array('id' => $item->getId())); ?>

                                    <?php if ($item->getShippingMethodId() == Order_Model_Order::ORDER_SHIPPING_METHOD_DELIVERY) : ?>
                                        <?php if ($item->getStatus() == Order_Model_Order::ORDER_STATUS_ON_HOLD) : ?> 
                                            <button onclick="window.location = '<?php echo $itemUrl; ?>'" class="publish" type="button">Confirm/Decline Request</button>
                                        <?php elseif ($item->getStatus() == Order_Model_Order::ORDER_STATUS_PENDING) : ?>
                                            <a href="<?php echo $itemUrl; ?>">View pick up dates</a>
                                        <?php endif; ?>
                                    <?php else : ?>
                                        <?php if ($item->getStatus() == Order_Model_Order::ORDER_STATUS_ON_HOLD) : ?> 
                                            <button onclick="window.location = '<?php echo $itemUrl; ?>'" class="publish" type="button">Confirm/Decline Request</button>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </li>

                                <li><?php echo $this->currency($product->getPrice()); ?></li>
                                <li>Quantity: <?php echo $item->getQty(1); ?></li>
                                <li><?php echo date('d M Y', $product->getOrderDate()); ?></li>

                                <?php if ($product->getIsAvailable() === '0') : ?>
                                    <li class="status in-nprogress" style="text-align:left"><p style="color:#FF0000 !important;">Cancelled</p></li>
                                <?php elseif ((int) $product->getIsReceived() === 0): ?>  
                                    <li class="status in-progress" style="text-align:left">In progress</li>
                                <?php else: ?>
                                    <li class="status recived" style="text-align:left">Received</li>
                                <?php endif; ?>
                            </ul>    
                        </td>
                    </tr>

                    <tr></tr><!--/ breaker -->
                <?php endforeach; ?>
            </table>
        <?php endif; ?>

        <div class="pagination pagination-right">
            <?php echo $this->paginationControl($this->paginator, null, 'purchase_sales_pagination_control.phtml', array('params' => $this->paginationParams)); ?>
        </div> 

    </div>
    </div>
</div>

<div class="clear"></div>

<script>
    //$("#datepicker4,#datepicker5").hide();

    $("#datepicker4").datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        showOn: "both",
        buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
        buttonImageOnly: true,
        prevText: "",
        nextText: "",
        onSelect: function(dateText, inst) {
            //$("#datepicker4").show();
            filters.submit();
            //$(".filter-myitems .ui-datepicker-trigger").css('top','-3px');
        }
    });

    $("#datepicker5").datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        showOn: "both",
        buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
        buttonImageOnly: true,
        prevText: "",
        nextText: "",
        onSelect: function(dateText, inst) {
            //$("#datepicker5").show();
            filters.submit();
            //$(".filter-myitems .ui-datepicker-trigger").css('top','-3px');
        }
    });
</script>