<div class="container-fluid" id="container"> 
    <div class="apt-container sidebar-main">

        <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

        <div class="main m-0">

            <?php if ($this->session->getMessages('success')) : ?>
                <div class="alert alert-success noti-ce"><i></i>
                    <?php echo current($this->session->getMessages('success')); ?>
                    <button type="button" class="close" data-dismiss="alert">x</button>
                </div>
            <?php endif; ?>

            <?php if (count($this->session->getMessages('error'))) : ?>
                <?php foreach ($this->session->getMessages('error') as $message) : ?>
                    <div class="aptd-alert error">
                        <i class="apt-icon-warning"></i>
                        <p><?php echo $message; ?></p>
                        <button data-dismiss="alert" class="dismiss" type="button">x</button>
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>

            <div id="user-actions">
                <h2>Order: #<?php echo $this->escape($this->orderId); ?></h2>

                <?php if ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_ON_HOLD) : ?>
                    <div class="aptd-alert success">
                        <i class="apt-i-warning"></i>
                        <p> Confirm pick up details.</p>
                    </div>
                <?php endif; ?>
            </div>

            <div class="clear"></div>

            <?php echo $this->partial('order/item_info.phtml', 'user', $this); ?>

            <?php if ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_ON_HOLD) : ?>
                <?php if ($this->item->getShippingMethodId() == Order_Model_Order::ORDER_SHIPPING_METHOD_PICK_UP) : ?>
                    <?php echo $this->partial('order/availability_forms/pick_up.phtml', 'user', $this); ?>
                <?php else : ?>
                    <?php echo $this->partial('order/availability_forms/delivery.phtml', 'user', $this); ?>
                <?php endif; ?>
            <?php endif; ?>

            <?php if ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_PENDING || $this->item->getStatus() == Order_Model_Order::ORDER_STATUS_COMPLETE) : ?>
                <?php echo $this->partial('order/pickup_info.phtml', $this); ?>
            <?php endif; ?>
        </div>
    </div>
</div>

<div class="clear"></div>