<?php $product = $this->item->getProduct(); ?>
<?php $adress1 = $product->getPickupAddressLine1(); ?>
<?php $adress2 = $product->getPickupAddressLine2(); ?>
<?php $city    = $product->getPickupCity(); ?>
<?php $state   = $product->getPickupState(); ?>
<?php $zip     = $product->getPickupPostcode(); ?>
<?php $country = $product->getPickupCountryCode(); ?>

<?php if ($adress2) : ?>
    <?php $adr = sprintf('%s, %s, %s, %s %s %s', $adress1, $adress2, $city, $state, $zip, $country); ?>
<?php else : ?>
    <?php $adr = sprintf('%s, %s, %s %s %s', $adress1, $city, $state, $zip, $country); ?>
<?php endif; ?>

<?php $caUrl           = Ikantam_Url::getUrl('user/order/change-pickup-address', array('id' => $this->item->getId())); ?>
<?php $sdo             = $this->item->getSellerDeliveryOptions(); ?>
<?php $buildingType    = isset($sdo['building_type']) ? $sdo['building_type'] : null; ?>
<?php $flightsOfStairs = isset($sdo['flights_of_stairs']) ? $sdo['flights_of_stairs'] : null; ?>

<div class="callout-box highlight m-t30">
    <form class="apt-form m-0" action="<?php echo $caUrl; ?>" method="post" id="set-new-address-form">        

        <h4><strong>Pick up Address</strong></h4>

        <div class="hidden-info">
            <p class="text-primary dark m-b30 set-vis">
                <i class="pin-address"></i>
                <?php echo $this->escape($adr); ?>
                <a class="text-primary dark text-ul get setnew-address" href="javascript:void(0);">Change</a>
            </p>

            <div class="hidden change-d-addrss">

                <div class="control-group">
                    <div class="block-fields">
                        <input class="form-field" type="text" name="address[full_name]"
                               value="<?php echo $this->escape($product->getPickupFullName()); ?>" placeholder="Full Name" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="block-fields">
                        <input type="text" class="form-field field-i key right" name="address[address_line1]"
                               value="<?php echo $this->escape($product->getPickupAddressLine1()); ?>" placeholder="Building &amp; Street Name" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="block-fields">
                        <input type="text" class="form-field field-i key right" name="address[address_line2]"
                               value="<?php echo $this->escape($product->getPickupAddressLine2()); ?>" placeholder="Apt #" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="eq-fields">
                        <input type="text" class="form-field m-r7" name="address[city]"
                               value="<?php echo $this->escape($product->getPickupCity()); ?>" placeholder="City" />

                        <input type="text" name="address[state]" class="form-field"
                               value="<?php echo $this->escape($product->getPickupState()); ?>" placeholder="State" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="block-fields">
                        <div class="eq-fields">
                            <input type="text" class="form-field m-r7" name="address[postcode]"
                                   value="<?php echo $this->escape($product->getPickupPostcode()); ?>" placeholder="ZIP">

                            <select class="form-field m-r0" name="address[building_type]">
                                <option value="">--Building Type--</option>
                                <option value="elevator"<?php if ($buildingType == 'elevator') : ?> selected="selected"<?php endif; ?>>Elevator</option>
                                <option value="walkup"<?php if ($buildingType == 'walkup') : ?> selected="selected"<?php endif; ?>>Walk up</option>
                            </select>

                            <div class="clear"></div>

                            <select class="form-field pull-right m-t8 m-r0" name="address[flights_of_stairs]">
                                <option value="">Number of stairs</option>
                                <?php for ($i = 1; $i < 11; $i++) : ?>
                                    <option value="<?php echo $i; ?>"<?php if ($flightsOfStairs == $i) : ?> selected="selected"<?php endif; ?>><?php echo $i; ?></option>
                                <?php endfor; ?>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <div class="block-fields">
                        <input type="text" class="form-field field-i tel left numb-format" name="address[phone_number]"
                               value="<?php echo $this->escape($product->getPickupPhone()); ?>" placeholder="Your Phone" />
                    </div>
                </div>

                <div class="text-left m-b20">
                    <button onclick="save()" class="apt-btn prime m-r5">Save Address</button>
                    <a href="javascript:void(0);" class="cancel-na" onclick="cancel()">Cancel</a>
                </div>
            </div>
        </div>
    </form>

    <?php if ($this->item->getSellerDeliveryOptions()) : ?>
        <h4><strong>Pick up Info:</strong></h4>

        <div class="control-group">
            <?php if ($buildingType) : ?>
                <?php if ($buildingType == 'walkup' && ($flightsOfStairs > 0 && $flightsOfStairs < 11)) : ?>
                    <p>Walk up, flight #<?php echo $this->escape($flightsOfStairs); ?></p>
                <?php else : ?>
                    <p>Elevator</p>
                <?php endif; ?>
            <?php endif; ?>

            <?php if (!empty($sdo['phone_number'])) : ?>
                <p><i class="apt-i-phone m-r10"></i><?php echo $this->escape($sdo['phone_number']); ?></p>
            <?php endif; ?>

            <?php if (!empty($sdo['paperwork_info'])) : ?>
                <p><i class="apt-i-msg"></i><?php echo nl2br($this->escape($sdo['paperwork_info'])); ?></p>
            <?php endif; ?>
        </div>
    <?php endif; ?>

    <?php if ($this->item->getSellerDates()) : ?>
        <div class="control-group m-t20">
            <h4><strong>Pick up Date:</strong></h4>
            <small><?php echo $this->formatDate($this->item->getSellerDates()); ?></small>
        </div>
    <?php endif; ?>
</div>

<script type="text/javascript">
    function toggleFlights() {
        if (jQuery('select[name="address[building_type]"]').val() === "walkup") {
            jQuery('select[name="address[flights_of_stairs]"]').show('slow');
        } else {
            jQuery('select[name="address[flights_of_stairs]"]').hide('slow');
        }
    }

    jQuery('select[name="address[building_type]"]').on('change', toggleFlights);

    toggleFlights();

    $('.setnew-address').on('click', function() {
        $('.change-d-addrss').hide().removeClass("hidden").slideDown();
        $(this).parent().slideUp();
        return false;
    });

    function cancel() {
        $('.change-d-addrss').slideUp(function() {
            $('.change-d-addrss').addClass("hidden").show()
        });

        $('.setnew-address').parent().slideDown();
    }

    function save() {
        jQuery("form#set-new-address-form").submit();
    }
</script>