/*! 
 *  Written for   : https://aptdeco.com/
 *  Author        : @IkantamCorp - @ElmahdiMahmoud
 *  Updated       : 27.02.14
 *  Further changes : @ElmahdiMahmoud
 */

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.vertically-aligned {
    display:table;
    width:100%;
    height:100%;
}

div.vertically-aligned div{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color:#FF0000;
}

.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }

.dropdown a, .dropdown a:visited { font-size:14px; font-weight: normal; color:#000; text-decoration:none; outline:none;}
.dropdown a:hover { color:#000;}

.dropdown dt a:hover { color:#000; border: 1px solid #F07746;}

.dropdown dt {
    position:relative;
}

.dropdown.material dt div {
    left: 11px;
    position: absolute;
    top: 7px;
    float:left;
    width:20px;
    height:20px;
    background:#FFFFFF url(../images/material.png) no-repeat scroll left center;
}

.dropdown.age dt div {
    left: 10px;
    position: absolute;
    top: 5px;
    float:left;
    width:20px;
    height:20px;
    background:#FFFFFF url(../images/age.png) no-repeat scroll left center;
}

.dropdown dt a {background:#FFFFFF url(../images/arrow2.png) no-repeat scroll right center; display:block;
    border:1px solid #CFCFCF; width:248px; padding:4px 25px 4px 15px;}

.dropdown.material dt a {
    padding:6px 5px 6px 35px;
}

.dropdown.age dt a {
    padding:6px 5px 6px 35px;
}

.dropdown dt a span {cursor:pointer; display:block;}
.dropdown dd ul { /*max-height: 300px;*/ z-index:1;
    /*overflow-y: scroll;*/
    background:#FFFFFF none repeat scroll 0 0; border:1px solid #CFCFCF; color:#C5C0B0; display:none;
    left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; min-width:288px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;}
.dropdown dd ul li a:hover { background-color:#F07746;}
.dropdown {margin-bottom: 0;margin-top:0;}

.manufacturersLiveSearchLine {
    padding:2px;
}

h2.search-found {
    padding: 0;
    color: #333333;
    font: 200 30px/100% 'Raleway',sans-serif;
}

.requesting-invite .alert-success {
    background: #FDFBF5;
    border-color: #FFD789;
    border-radius: 0;
    color: #666;
    line-height: 32px;
    height: 32px;
    padding: 0 9px;
    text-shadow: none;
}

.requesting-invite .alert-success i {
    background: url('../images/sprite.png') no-repeat -183px -144px;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 13px;
}

.loader-overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99998;
    background-color:#808080;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.35;
    -khtml-opacity: 0.35;
    opacity: 0.35;
    display:none;
}

.loader-container {
    position:fixed;
    top:50%;
    left:50%;
    width:100px;
    height:100px;
    z-index:99999;
    display:none;
}
.invisible-button{border: none; background: none; margin: 0; padding: 0;}
.m-l37 { margin-left: 37px; }
.p-t10 { padding-top: 10px; }
.p-l80 { padding-left: 80px; }
.top--3,
.icon-details.p--tr { top: -3px; }
.right--2,
.icon-details.p--tr { right: -2px; }

/*[class^="icon-"],
[class*="icon-"] {
    display: inline-block;
    margin-top: 1px;
    margin-right: .3em;
    line-height: 14px;
    position: relative;
    vertical-align: text-top;
    background: url('../images/sprite.png');
    background-position: 0 0;
    background-repeat: no-repeat;
}*/

.icon-details { background-position: -1px -104px; width: 11px; height: 17px; }
.icon-eye     { background-position: -91px -126px; height: 10px; width: 17px; }
.icon-cart    { background-position: -93px -143px; height: 14px;  width: 15px; }

.lbls li:before,
.lbls li:after { display: table; line-height: 0; content: ""; }
.lbls li:after { clear: both; }
.lbls li { display: block; clear: both; }

.lbls li span { float: left; width: 30px; }
.lbls li span + span { width: 50px;  }

.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #999999;
    background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
}
.ui-helper-hidden-accessible {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-menu .ui-menu-item a {
    display: block;
    font-weight: normal;
    line-height: 1.5;
    min-height: 0;
    padding: 2px 0.4em;
    text-decoration: none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-menu .ui-menu-item {
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    margin: 0;
    padding: 0;
    width: 100%;
}
.ui-widget-content {
    background: url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #222222;
}
.ui-menu {
    display: block;
    list-style: none outside none;
    margin: 0;
    outline: medium none;
    padding: 2px;
}
.ui-autocomplete {
    cursor: default;
    left: 0;
    position: absolute;
    top: 0;
}
/* sorting Newest / Oldest */
.sorting button.defDate i {
    display: inline-block;
    background: url('../images/sprite.png') no-repeat -29px -69px;
    width: 7px;
    height: 10px;
    margin: 0 0 0 5px;
    position: relative;
    top: 2px;
}
.sorting button.newestDate i {
    display: inline-block;
    background: url('../images/sprite.png') no-repeat -78px -141px;
    width: 7px;
    height: 4px;
    margin: 0 0 0 5px;
    position: relative;
}

.sorting button.oldestDate i {
    display: inline-block;
    background: url('../images/sprite.png') no-repeat -67px -141px;
    width: 7px;
    height: 4px;
    margin: 0 0 0 5px;
    position: relative;
    top: -2px;
}

#shipping #overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000000;
    display: none;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.4;
}
#shipping #loader-container {
    position: absolute;
    top: 47%;
    left: 47%;
    display: none;
}
#shipping #shipping-container {
    position: relative;
}
#shipping-container tr.success {
    background-color: rgba(5, 255, 0, 0.04) !important;
}
#shipping-container tr.success:hover {
    background-color: #f8fcf5 !important;
}

#shipping-container tr.error {
    background-color: salmon;
}
#shipping-container td { position: relative; }
#shipping-container .item_edit {display: none}
#shipping-container .item_edit a.cancel {
    position: absolute;
    top: 1em;
}
.autocomplete-suggestions {
    overflow: auto;
    border: 1px solid #999;
    background: #FFF;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    cursor: default;
}
.autocomplete-suggestion {
    overflow: hidden;
    padding: 2px 5px;
    white-space: nowrap;
}
.autocomplete-selected {
    background: #F0F0F0;
}
.autocomplete-suggestions strong {
    color: #3399FF;
    font-weight: normal;
}
#new-alert-popup #brands {
    display: none;
    float: left;
}
#new-alert-popup #subcategories {
    overflow-y: scroll;
    max-height: 200px;
}

ul.specific.disabled li {
    color: #ccc;
}
ul.specific.disabled, .control-group.disabled {
    /*opacity: 0.5;*/
    display: none;
}
ul.specific.disabled li .check-box {
    cursor: default;
}

#table-slider2.admin,
#table-slider2.admin #delivery-dates-table,
#table-slider2.admin #delivery-dates-table ul {
    width: auto;
}

#table-slider2.admin .period-holder {
    padding: 0;
    width: 124px;
    height: auto;
}
#table-slider2.admin .period-holder .not-small {
    padding: 15px 0 9px 37px;
}
#table-slider2.admin .period-holder .small {
    padding: 15px 2px 15px 13px;
    background: #f9f9f9;
}
#table-slider2.admin .ddt-time .time .subheading {
    float: right;
    margin-right: 5px;
}

.apt-uploader .overlay .uploads-action .top-right.rotate-left {
    right: 40px;
}
.apt-uploader .overlay .uploads-action .top-right.x {
    right: 70px;
}
.apt-icon-curved-arr.left {
    background-position: -168px -282px;
}

.delivery-date select option:disabled {
    color: lightgrey;
}

.dark-orange {
    color: #B19046;
}

input#title:disabled {
     color: #d3d3d3;
 }

.dec-form label {
    display: block;
    margin: 0 0 10px 0;
    padding: 0;
    color: #666666;
    font-weight: bold;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    line-height: 100%;
}

.dec-form p.description {
    font-size: 12px;
    color: #999;
}

.ico-cross {
    width: 16px;
    height: 16px;
    background-position: -85px -77px;
}
.ico-saved {
    width: 16px;
    height: 16px;
    background-position: -86px -56px;
}

#share-popup .ico-share {
    width: 30px;
    height: 30px;
}

#my-items-table.admin.manage-pricing {
    border: none;
    background: none;
    color: #999;
}
#my-items-table.admin.manage-pricing tbody tr{
    border: 1px solid #DFDEDE;
}
#my-items-table.admin.manage-pricing tbody tr:first-child:hover {
    border: 1px solid #DFDEDE !important;
}
#my-items-table.admin.manage-pricing td, #my-items-table.admin.manage-pricing th {
    border: none;
}
#edit-price-popup.admin .ui-datepicker-trigger {
    top: 13px;
}
.m-t120 {
    margin-top: 120px;
}
#container .apt-container.sidebar-main .apt-accordion {
    width: 230px;
}
.cursor-default {
    cursor: default !important;
}
.sub-menu-search-bar {
     width: auto;
 }

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}
div.courier {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 3px;
    margin: 3px 0;
}
ul.sortable {
    padding: 3px;
    margin: 3px 0;
    min-height: 50px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
ul.sortable > li {
    background: #ffffff;
    display: block;
    margin: 3px 0;
    padding: 5px 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
}


table#admin-pickup-and-delivery tr.row2  {
    border-bottom: 2px solid #ccc;
}

table#admin-pickup-and-delivery td {
    border: 1px dotted #ccc;
    vertical-align: middle;
    text-align: center;
}

table#admin-pickup-and-delivery tr.row1 td:nth-child(odd) {
    border-right: 2px solid #ccc;
}

table#admin-pickup-and-delivery tr.row2 td:nth-child(even) {
    border-right: 2px solid #ccc;
}

table#admin-pickup-and-delivery td.not-small {
    width: 100px;
}

.admin #slideTop2 {
    top: 77px
}

.edit-address-form select[name="shipping_address[number_of_stairs]"] {
    float: left;
    margin-left: 163px;
}

.aptd-alert.active .apt-btn.set-address {
    cursor: default;
}

.aptd-alert a.stick.top-right.delete-address {
    right: 50px;
    color: #999;
}

.address-to-set:not(.active) .primary-address-button {
    display: none;
}
.address-to-set.active .set-primary-address-button {
    display: none;
}