/*------------------------------------------------------------------
                         >> Structure Table <<
01. Typography
        + Open+Sans
        + Raleway
        + fonts.css
02. Gloabl
        + Body
        + Body, html
        + UL style
        + Main wrapper / #wrap
        + Link style
        + Multiple selectors 
          - Underline / .underline 
          - Input field
          - Display none / .display-none
          - Focus fields / :focus ( textarea, input )
03. Header
        + Change state/city / .state
        + User access / .user-access
        + Search bar / #search-bar
04. Colors
        + Dark grey   (text): #656565
        + Dark orange (link): #B19046
        + Item colors [id*="colorname-"]
          - Red          /  (red     )    #ff0000
          - Brown        /  (brown   )    #93370d
          - Blue         /  (blue    )    #0000ff
          - Black        /  (black   )    #000000
          - Grey         /  (black   )    #c5c7c4
          - Green        /  (green   )    #6ba601
          - Pink         /  (pink    )    #ff00ff
          - Turkuaz      /  (turkuaz )    #00ffff
          - Yellow       /  (yellow  )    #ffff00
          - light blue   /  (litblue )    #00ccff
          - light green  /  (litgreen)    #00ff00
          - light brown  /  (litbrown)    #bf9c61
          - Orange       /  (orange  )    #ff9900
          - White        /  (white   )    #ffffff 
05. Footer
        + Footer / #footer
06. Intro
        + Intro (index, registration, login, password recovery) / .intro-pattren
07. Sign box
        + Sign box / #sign-box
08. Coming Soon
        + Coming soon / .coming-soon-block
09. Sidebar
        + Sidebar
          - #sidebar
          - #sidebar-user
          - Fixed / .floatedSide.fixed
10. Widgets & Plugins
        + Accordion / #accordion
        + Datepicker / .datepicker
        + Icons / background(url/sprite.png)
        + Custom radio button / .radio-btn
        + Custom checkbox / .check-box
11. Secondary menu
        + Secondary menu / #secondary-menu
-------------------------------------------------------------------*/