/* DIN-Regular */
@font-face { 
			font-family: 'DIN-Regular'; 
			src: url('fonts/dinregular.eot'); 
			src: url('fonts/dinregular.eot?#iefix') format('embedded-opentype'),  
				url('fonts/dinregular.woff') format('woff'),  
				url('fonts/dinregular.ttf') format('truetype'),  
				url('fonts/dinregular.svg#dinregular') format('svg'); 
				font-weight: normal; 
				font-style: normal; 
			}

@font-face {
    font-family: 'museo_slab500';
    src: url('fonts/museo_slab-webfont.eot');
    src: url('fonts/museo_slab-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo_slab-webfont.woff') format('woff'),
         url('fonts/museo_slab-webfont.ttf') format('truetype'),
         url('fonts/museo_slab-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}