/*! 
 *  Written for   : https://aptdeco.com/
 *  Author        : @IkantamCorp - @ElmahdiMahmoud
 *  Updated       : 18.07.14
 *  Further changes : @ElmahdiMahmoud
 */ 

/* ============[ Social icons ]============ */
.fb-sign i {
		background: url('../images/sprite.png') no-repeat 0 0;
		display: inline-block;
		height: 27px;
		left: 20px;
		position: absolute;
		top: 9px;
		width: 27px;
}
.verify-by-fb span i {
		background: url('../images/sprite.png') no-repeat no-repeat 0 -4px;
		width: 9px;
		height: 19px;
		display: inline-block;
		position: relative;
		top: 6px;
}
.fbook {
		background: url('../images/sprite.png') no-repeat -23px -246px;
		width: 32px;
		height: 32px;
}
.twr {
		background: url('../images/sprite.png') no-repeat -62px -246px;
		width: 32px;
		height: 32px;
}
.lin {
		background: url('../images/sprite.png') no-repeat -102px -246px;
		width: 32px;
		height: 32px;
}
.face-book {
		background: url('../images/sprite.png') no-repeat -24px -222px;
		width: 17px;
		height: 17px;
}
.go-ogle {
		background: url('../images/sprite.png') no-repeat -48px -223px;
		width: 16px;
		height: 16px;
}
.like-us {
		background: url('../images/sprite.png') no-repeat -71px -222px;
		width: 17px;
		height: 17px;
}
/* ============[ Sidebars icons ]============ */
#accordion h3.activepenl i {
		background: url('../images/sprite.png') no-repeat -24px -63px;
		height: 4px;
		margin: 5px 0 0 0 !important;
		width: 7px;
}
.sidebar-accordion a.opendPanel i {
		background: url('../images/sprite.png') no-repeat -56px -138px;
		width: 7px;
		height: 4px;
		margin: 5px 5px 10px 0;
		top: 0;
}
.price-ranger .ui-slider-handle {
		background: url('../images/sprite.png') no-repeat -1px -43px !important;
		width: 16px !important;
		height: 17px !important;
		border: 0 !important;
		padding: 0 !important;
		position: relative;
		top: -6px;
		margin: 0;
		z-index: 100;
		display: inline-block;
}
#accordion h3 i {
		background: url('../images/sprite.png') no-repeat -3px -258px;
		display: inline-block;
		height: 7px;
		left: 8px;
		margin: 3px 0 0 0 !important;
		position: absolute;
		width: 4px;
}
.inbox {
		background: url('../images/sprite.png') no-repeat -185px -1px;
		display: inline-block;
		height: 11px;
		margin: 0 9px 0 0;
		position: relative;
		top: 1px;
		width: 15px;
}
.purchase {
		background: url('../images/sprite.png') no-repeat -185px -15px;
		display: inline-block;
		height: 16px;
		margin: 0 9px 0 0;
		position: relative;
		top: 2px;
		width: 12px;
}
.sales {
		background: url('../images/sprite.png') no-repeat -184px -35px;
		display: inline-block;
		height: 9px;
		margin: 0 9px 0 0;
		position: relative;
		width: 15px;
}
.account {
		background: url('../images/sprite.png') no-repeat -184px -48px;
		display: inline-block;
		height: 15px;
		margin: 0 9px 0 0;
		position: relative;
		width: 16px;
}
.useRating .star,
.rates i,
.rated,
.dl-horizontal .rates span,
.rating span {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -116px -66px;
		width: 12px;
		height: 12px;
		margin: 10px 0 0 0;
		float: right;
}
.sidebar-accordion a i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -42px -136px;
		width: 4px;
		height: 7px;
		margin: 5px 7px 10px 0;
		position: relative;
		float: left;
}
.sidebar-menu i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -24px -63px;
		width: 7px;
		height: 4px;
		position: relative;
		top: -2px;
		left: 3px;
}
aside.checkout-sidebar .alert i,
.warning-icon,
#seller-stuff .alert-success i {
		background: url('../images/sprite.png') no-repeat -161px -160px;
		width: 16px;
		height: 16px;
		display: inline-block;
		float: left;
		margin: 0 10px 10px 0;
}
.noti-ce i,
i.suieu {
		background: url('../images/sprite.png') no-repeat -161px -160px !important;
		width: 16px !important;
		height: 16px !important;
		display: inline-block;
		float: left;
		margin: 6px 10px 0 0 !important;
}
i.suieu { margin: 0 4px 0 0 !important; }
#seller-stuff .alert-success i {
		top: 7px;
		position: relative;
		margin: 0 10px 35px 0;
}
.closeSidebar {
		position: absolute;
		top: 14px;
		right: 14px;
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -163px -146px;
		width: 11px;
		height: 11px;
		border: 0;
		padding: 0;
}
.ie8 .closeSidebar { display: none; }
/* ============[ Header icons ]============ */
#search-bar .add-on .icon-search,
.mainContent .icon-search,
#mobile-search-bar .add-on .icon-search {
		background: url('../images/sprite.png') no-repeat -79px -160px;
		height: 13px;
		position: relative;
		top: 4px;
		width: 13px;
}
#search-suggestions i {
		display: block;
		position: absolute;
		top: -5px;
		left: 15px;
		background: url('../images/sprite.png') no-repeat -81px -149px;
		width: 7px;
		height: 4px;
}
.user-access span.caret {
		background: url('../images/sprite.png') no-repeat -24px -45px;
		border: 0;
		height: 4px;
		width: 7px;
		margin: 0 0 0 5px;
}
/* .next i,
.prev i {
		background: url('../images/sprite.png') no-repeat;
		display: block;
		height: 62px;
		margin: auto;
		position: absolute;
		top: 35%;
		width: 29px;
} */
.earth {
		background: url('../images/sprite.png') no-repeat -181px -67px;
		display: inline-block;
		height: 16px;
		margin: 0 10px 0 0;
		position: relative;
		top: 2px;
		width: 17px;
}
.change {
		background: url('../images/sprite.png') no-repeat -163px -2px;
		display: inline-block;
		height: 15px;
		position: relative;
		top: 2px;
		width: 16px;
}
/* ============[ Catalog icons ]============ */
.sorting button.defPrices i,
.sorting button.defRating i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -29px -69px;
		width: 7px;
		height: 10px;
		margin: 0 0 0 5px;
		position: relative;
		top: 2px;
}
.sorting button.highPrices i,
.sorting button.highRating i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -67px -141px;
		width: 7px;
		height: 4px;
		margin: 0 0 0 5px;
		position: relative;
		top: -2px;
}
.sorting button.lowPrices i,
.sorting button.lowRating i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -78px -141px;
		width: 7px;
		height: 4px;
		margin: 0 0 0 5px;
		position: relative;
}
/* ============[ Product & item icons ]============ */
.new-msgs i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -144px -121px;
		width: 6px;
		height: 9px;
}
.new-msgs:hover i { background: url('../images/sprite.png') no-repeat -39px -105px; }
#pick-material .caret.cube {
		background: url('../images/sprite.png') no-repeat -139px -83px;
		border: 0;
		height: 15px;
		margin: 3px 8px 0 0;
		width: 15px;
}
#pick-material .caret.arr {
		background: url('../images/sprite.png') no-repeat -24px -63px;
		border: 0;
		height: 4px;
		margin: 8px -5px 0 10px;
		width: 7px;
}
#years-old .alarm-icon {
		background: url('../images/sprite.png') no-repeat -117px -80px;
		border: 0;
		height: 17px;
		margin: 0 5px 0 0;
		width: 14px;
}
.ui-datepicker-next {
		position: absolute;
		right: 13px;
		top: 15px;
		background: url('../images/sprite.png') no-repeat -85px -87px;
		width: 10px;
		height: 7px;
}
.ui-datepicker-prev {
		position: absolute;
		left: 13px;
		top: 15px;
		background: url('../images/sprite.png') no-repeat -68px -87px;
		width: 10px;
		height: 7px;
}
/* ============[ Checkout icons ]============ */
.counting .arr {
		background: url('../images/sprite.png') no-repeat -2px -32px;
		display: inline-block;
		height: 7px;
		left: -4px;
		position: absolute;
		top: 7px;
		width: 4px;
}
#delivery-method p i,
.pickup-or-delivery p i,
.delv-car {
		background: url('../images/sprite.png') no-repeat -71px -70px;
		display: inline-block;
		height: 14px;
		margin: 0 10px 0 0;
		position: relative;
		top: 5px;
		width: 17px;
}
.breadcrumb ul li span {
		background: url('../images/sprite.png') no-repeat -56px -68px;
		width: 3px;
		height: 5px;
		margin: 0 4px;
		position: relative;
		top: -2px;
		display: inline-block;
}
.add-to-cart i,
#add-to-cart-wlist i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -114px -122px;
		width: 15px;
		height: 14px;
}
.add-to-wlist i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -91px -126px;
		width: 17px;
		height: 10px;
}
.added-to-cart .remove-from-cart,
.added-to-wlist .remove-from-wlist {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -97px -65px;
		width: 16px;
		height: 15px;
}
#checkout .checkout-process ul li i {
		display: inline-block;
		position: absolute;
		right: -17px;
		top: 0;
		background: url('../images/sprite.png') no-repeat -3px -193px;
		width: 17px;
		height: 28px;
		z-index: 1;
}
#checkout .buttons-block button i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -37px -122px;
		width: 10px;
		height: 7px;
}
#shipping-details h3.detailHead i {
		background: url('../images/sprite.png') no-repeat -3px -269px !important;
		width: 4px;
		height: 7px;
		display: inline-block;
}
#shipping-details h3.detailHead span {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -159px -79px;
		width: 19px;
		height: 19px;
		position: absolute;
		left: 145px;
		top: 7px;
}
#shipping-details h3.detailsPanel i { background: url('../images/sprite.png') no-repeat -26px -53px; }
#shipping-details h3 i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -3px -258px;
		width: 4px;
		height: 7px;
		margin: 0 7px 0 0;
}
#checkout .checkout-process ul li:last-child i {
		background: url('../images/sprite.png') no-repeat -3px -225px;
		width: 15px;
		height: 28px;
		right: -15px;
}
#checkout .checkout-process ul li.active-process i.aftr-tringle { background: url('../images/sprite.png') no-repeat -80px -187px; }
#checkout .checkout-process ul li.active-process i.be4-tringle {
		left: 0;
		background: url('../images/sprite.png') no-repeat -99px -187px;
		width: 16px;
		height: 28px;
}
.cart i {
		background: url('../images/sprite.png') no-repeat -93px -143px;
		display: inline-block;
		height: 14px;
		margin: 0 5px 0 0;
		width: 15px;
}
.cart span,
.wishlist span {
		background: url('../images/sprite.png') no-repeat -50px -68px;
		display: inline-block;
		height: 11px;
		float: right;
		margin: 5px 0 0 7px;
		width: 1px;
}
.wishlist i {
		background: url('../images/sprite.png') no-repeat -91px -126px;
		display: inline-block;
		height: 10px;
		margin: 0 5px 0 0;
		width: 17px;
}
.removeitem i,
#remove-item i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -97px -65px;
		width: 16px;
		height: 15px;
		margin: 0;
}
.user-address a i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -23px -141px;
		width: 10px;
		height: 7px;
}
.addTocart i {
		background: url('../images/sprite.png') no-repeat -93px -143px;
		width: 15px;
		height: 14px;
		display: inline-block;
		position: relative;
		top: 1px;
}
.addnitem i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -55px -121px;
		width: 10px;
		height: 10px;
}
.proceed i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -37px -122px;
		width: 10px;
		height: 7px;
}
.paypal i {
		background: url('../images/sprite.png') no-repeat -24px -150px;
		width: 51px;
		height: 32px;
}
.visa i {
		background: url('../images/sprite.png') no-repeat -24px -187px;
		width: 51px;
		height: 32px;
}
.rotate i {
		background: url('../images/sprite.png') no-repeat -182px -282px;
		width: 14px;
		height: 14px;
		display: inline-block;
}
/* ============[ Content icons ]============ */
.title h3 i {
		background: url('../images/sprite.png') no-repeat -160px -22px;
		display: inline-block;
		height: 19px;
		left: -5px;
		position: relative;
		top: 3px;
		width: 19px;
}
.static-content .get-info .togg-icon i {
		background: url('../images/sprite.png') no-repeat -137px -148px;
		width: 17px;
		height: 17px;
		display: inline-block;
		position: relative;
		top: 0;
}
.static-content .get-info .togg-icon.opned i {
		background: url('../images/sprite.png') no-repeat -115px -148px;
		width: 17px;
		height: 17px;
		display: inline-block;
		top: 0;
		position: relative;
}
.posts-paginations span {
		background: url('../images/sprite.png') no-repeat -11px -261px;
		width: 1px;
		height: 13px;
		margin: 0 16px;
		display: inline-block;
		position: relative;
		top: 2px;
}
/* ============[ Custom icons ]============ */
.radio-btn {
		background: url('../images/sprite.png') no-repeat -43px -81px;
		border-radius: 100%;
		cursor: pointer;
		height: 19px;
		float: left;
		margin: 10px 8px 0 0;
		width: 18px;
}
.checkedRadio { background: url('../images/sprite.png') no-repeat -22px -81px; }
.check-box {
		background: url('../images/sprite.png') no-repeat -1px -63px;
		cursor: pointer;
		display: inline-block;
		height: 18px;
		margin: 0 10px 0 0;
		width: 16px;
}
.checkedBox {
		background: url('../images/sprite.png') no-repeat 0 -83px;
		height: 18px;
		width: 16px;
}
.dimen {
		background: url('../images/sprite.png') no-repeat -138px -70px;
		display: inline-block;
		height: 9px;
		margin: 3px 5px 0 0;
		width: 16px;
}
.aperiod {
		background: url('../images/sprite.png') no-repeat -99px -83px;
		display: inline-block;
		height: 13px;
		width: 13px;
}
.sep {
		background: url('../images/sprite.png') no-repeat -9px -30px;
		display: inline-block;
		height: 11px;
		position: relative;
		top: 20px;
		width: 1px;
}
.invalid i,
.in-valid {
		background: url('../images/sprite.png') no-repeat -162px -62px;
		display: inline-block;
		height: 16px;
		float: left;
		margin: 0 13px 15px 0;
		width: 16px;
}
.upper-arr {
		display: inline-block;
		position: absolute;
		top: 14px;
		left: 10px;
		background: url('../images/sprite.png') no-repeat -81px -149px;
		width: 7px;
		height: 4px;
}
i.materiaL {
		background: url('../images/sprite.png') no-repeat -139px -83px;
		width: 15px;
		height: 15px;
		display: inline-block;
		position: relative;
		top: 3px;
		margin: 0 14px 0 0;
}
.alarmIcon {
		background: url('../images/sprite.png') no-repeat -117px -80px;
		width: 14px;
		height: 17px;
		border: 0;
		margin: 0 14px 0 0;
		display: inline-block;
}
i.deliv {
		background: url('../images/sprite.png') no-repeat -71px -70px;
		width: 17px;
		height: 14px;
		display: inline-block;
		margin: 0 14px 0 0;
		position: relative;
		top: 3px;
}
#getvideo {
		border: 0;
		position: absolute;
		left: 50%;
		background: url('../images/comin-soon.png') no-repeat -330px 0;
		width: 68px;
		height: 68px;
		display: block;
		z-index: 250;
		top: 89%;
		margin: 0 0 0 -34px;
}
.delitem i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -97px -65px;
		width: 16px;
		height: 15px;
		margin: 0;
		position: relative;
		top: 2px;
}
.success-signup i,
.mainContent .alert-success i,
.rit-col .alert-success i {
		background: url('../images/sprite.png') no-repeat -183px -144px;
		display: inline-block;
		height: 12px;
		position: relative;
		top: 2px;
		width: 13px;
}
.mrk-rit {
		background: url('../images/sprite.png') no-repeat -183px -144px;
		display: inline-block;
		height: 12px;
		position: relative;
		top: 2px;
		width: 13px;
		margin: 0 7px 0 0;
}
.rit-col .alert-success .close {
		background: url('../images/sprite.png') no-repeat -163px -146px;
		display: inline-block;
		font-size: 0;
		height: 11px;
		right: 0;
		top: 10px;
		text-indent: -9999;
		width: 11px;
} 
footer ul li p i {
		background: url('../images/sprite.png') no-repeat -162px -180px;
		display: inline-block;
		height: 16px;
		width: 16px;
}
.carousel.widget button.prev {
		position: absolute;
		left: -5px;
		bottom: 0;
		z-index: 10;
		background: url('../images/sprite.png') no-repeat -132px -121px;
		width: 6px;
		height: 9px;
		padding: 0;
		border: 0;
}
.carousel.widget button.next {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 10;
		background: url('../images/sprite.png') no-repeat -144px -121px;
		width: 6px;
		height: 9px;
		padding: 0;
		border: 0;
}
#one-product button.next { right: 20px; }
i.custom-reviews {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -79px -104px;
		width: 16px;
		height: 13px;
		float: left;
		margin: 3px 7px 0 0;
}
i.direct-question {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -55px -103px;
		width: 16px;
		height: 12px;
		float: left;
		margin: 3px 7px 7px 0;
}
.slida-nav button i {
		display: block;
		width: 6px;
		height: 9px;
		background: url('../images/sprite.png') no-repeat;
}
.get-info .togg-icon i {
		background: url('../images/sprite.png') no-repeat -99px -103px;
		width: 14px;
		height: 14px;
		display: inline-block;
		position: relative;
		top: 3px;
}
#slideTop i,
#slideTop2 i {
		background: url('../images/sprite.png') no-repeat -99px -167px;
		width: 9px;
		height: 6px;
		display: block;
		margin: auto;
}
#slideTop:hover i,
#slideTop2:hover i { background: url('../images/sprite.png') no-repeat -99px -220px; }
#slideBottom i,
#slideBottom2 i {
		display: block;
		margin: auto;
		background: url('../images/sprite.png') no-repeat -99px -176px;
		width: 9px;
		height: 6px;
}
#slideBottom:hover i,
#slideBottom2:hover i { background: url('../images/sprite.png') no-repeat -99px -229px; }
.remove-selected {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -93px -143px;
		width: 15px;
		height: 14px;
		border: 0;
		padding: 0;
		position: relative;
		top: -1px;
		float: right;
		margin: 0 5px 0 0;
}
.filter-by i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -84px -177px;
		width: 4px;
		height: 7px;
}
.filter-title i {
		background: url('../images/sprite.png') no-repeat -144px -173px;
		width: 7px;
		height: 4px;
		display: inline-block;
		position: relative;
		top: -1px;
}
.dateButton {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -24px -283px;
		width: 14px;
		height: 14px;
		border: 0;
}
.carousel.widget button.prev:hover { background-position: -132px -132px; }
.carousel.widget button.next:hover { background-position: -144px -132px; }

.ie8 .carousel.widget button.prev { left: -6px; }
.ie8 .carousel.widget button.next { right: 0; }

.get-info .togg-icon.opned i {
		background: url('../images/sprite.png') no-repeat -119px -109px;
		width: 14px;
		height: 2px;
		display: inline-block;
		position: relative;
		top: -3px;
}
.details {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -1px -104px;
		width: 11px;
		height: 17px;
		margin:  0 10px 0 0;
}
.email-address i {
		background: url('../images/sprite.png') no-repeat -55px -103px;
		width: 16px;
		height: 12px;
}
.teleph-number i {
		background: url('../images/sprite.png') no-repeat -182px -161px;
		width: 17px;
		height: 12px;
}
/* ============[ Dashboard icons ]============ */
.sentMsg i {
		background: url('../images/sprite.png') no-repeat -162px -44px;
		display: inline-block;
		float: left;
		height: 16px;
		margin: 0 13px 15px 0;
		width: 16px;
}
.unrated {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -21px -123px;
		width: 12px;
		height: 12px;
}
.user-block h5 i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -143px -107px;
		width: 10px;
		height: 7px;
		margin: 0 5px;
}
.old-msgs i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -132px -121px;
		width: 6px;
		height: 9px;
}
.old-msgs:hover i { background: url('../images/sprite.png') no-repeat -24px -105px; }
.verify-by-phone span i {
		background: url('../images/sprite.png') no-repeat -185px -121px;
		width: 10px;
		height: 17px;
		display: inline-block;
		position: relative;
		top: 3px;
}
.verify-by-linkin span i {
		background: url('../images/sprite.png') no-repeat no-repeat -160px -123px;
		width: 17px;
		height: 15px;
		display: inline-block;
		position: relative;
		top: 3px;
}
.success-veriation,
.noti-ce-success i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -183px -144px !important;
		width: 13px !important;
		height: 12px !important;
		margin: 0 0 0 17px;
}
.noti-ce-success i { margin: 7px 7px 0 0 !important; }
.not-verified {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat no-repeat -163px -146px;
		width: 11px;
		height: 11px;
		margin: 0 0 0 17px;
}
#vphoneModal .close,
#changeImage .close,
#to-publish .close {
		position: absolute;
		top: 10px;
		right: 12px;
		background: url('../images/sprite.png') no-repeat -163px -146px;
		width: 11px;
		height: 11px;
}
.seller-profile .photo span i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -118px -170px;
		width: 13px;
		height: 12px;
		position: absolute;
		left: 3px;
		top: 4px;
}
.seller-side-info button i,
.contact-buyer button i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -182px -179px;
		width: 16px;
		height: 12px;
}
.mobile-number i {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -187px -197px;
		width: 10px;
		height: 17px;
		position: relative;
		top: 1px;
		margin: 0 10px 0 1px;
}
.seller-item-side .dropdown-toggle i {
		display: inline-block;
		position: absolute;
		right: 14px;
		top: 14px;
		background: url('../images/sprite.png') no-repeat -24px -63px;
		width: 7px;
		height: 4px;
}
.avdates {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -47px -283px;
		width: 14px;
		height: 14px;
		margin: 0 9px 0 0;
		position: relative;
		top: 1px;
}
.invhan {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -74px -285px;
		width: 15px;
		height: 11px;
		margin: 0 9px 0 0;
		position: relative;
		top: 1px;
}
.dashed-arr {
		background: url('../images/sprite.png') no-repeat -111px -286px;
		width: 17px;
		height: 9px;
		display: inline-block;
		position: absolute;
}
.rat-estar {
		background: url('../images/sprite.png') no-repeat -115px -219px;
		width: 16px;
		height: 16px;
		display: inline-block;
		float: left;
		margin: 0 4px 10px 0;
}
.togoarr {
		display: inline-block;
		background: url('../images/sprite.png') no-repeat -180px -237px;
		width: 18px;
		height: 35px;
		position: absolute;
		top: 32px;
		right: 18px;
		z-index: 1;
		transition: all 600ms ease-in-out;
		-webkit-transition: all 600ms ease-in-out;
		-moz-transition: all 600ms ease-in-out;
		-o-transition: all 600ms ease-in-out;
}
.pin-address {
		background: url('../images/sprite.png') no-repeat -165px -203px;
		width: 11px;
		height: 15px;
		display: inline-block;
		float: left;
		margin: 0 7px 10px 0;
}
.key {
		background: url('../images/sprite.png') no-repeat -120px -192px;
		width: 8px;
		height: 16px;
		display: inline-block;
		margin: 0 5px 0 0;
		position: relative;
		top: 3px;
}