.entry-header {
    margin-bottom: 1.71429rem;
}
.entry-header img.wp-post-image {
    margin-bottom: 1.71429rem;
}
.entry-header .entry-title {
    font-size: 1.42857rem;
    font-weight: normal;
    line-height: 1.2;
}
.entry-header .entry-title a {
    text-decoration: none;
}
.entry-header .entry-format {
    font-weight: normal;
    margin-top: 1.71429rem;
}
.entry-header .comments-link {
    color: #757575;
    font-size: 0.928571rem;
    line-height: 1.84615;
    margin-top: 1.71429rem;
}
.comments-link a, .entry-meta a {
    color: #757575;
}
.comments-link a:hover, .entry-meta a:hover {
    color: #21759B;
}
article.sticky .featured-post {
    border-bottom: 4px double #EDEDED;
    border-top: 4px double #EDEDED;
    color: #757575;
    font-size: 0.928571rem;
    line-height: 3.69231;
    margin-bottom: 1.71429rem;
    text-align: center;
}
.entry-content, .entry-summary, .mu_register {
    line-height: 1.71429;
}
.entry-content h1, .comment-content h1, .entry-content h2, .comment-content h2, .entry-content h3, .comment-content h3, .entry-content h4, .comment-content h4, .entry-content h5, .comment-content h5, .entry-content h6, .comment-content h6 {
    line-height: 1.71429;
    margin: 1.71429rem 0;
}
.entry-content h1, .comment-content h1 {
    font-size: 1.5rem;
    line-height: 1.5;
}
.entry-content h2, .comment-content h2, .mu_register h2 {
    font-size: 1.28571rem;
    line-height: 1.6;
}
.entry-content h3, .comment-content h3 {
    font-size: 1.14286rem;
    line-height: 1.84615;
}
.entry-content h4, .comment-content h4 {
    font-size: 1rem;
    line-height: 1.84615;
}
.entry-content h5, .comment-content h5 {
    font-size: 0.928571rem;
    line-height: 1.84615;
}
.entry-content h6, .comment-content h6 {
    font-size: 0.857143rem;
    line-height: 1.84615;
}
.entry-content p, .entry-summary p, .comment-content p, .mu_register p {
    line-height: 1.71429;
    margin: 0 0 1.71429rem;
}
.entry-content ol, .comment-content ol, .entry-content ul, .comment-content ul, .mu_register ul {
    line-height: 1.71429;
    margin: 0 0 1.71429rem;
}
.entry-content ul ul, .comment-content ul ul, .entry-content ol ol, .comment-content ol ol, .entry-content ul ol, .comment-content ul ol, .entry-content ol ul, .comment-content ol ul {
    margin-bottom: 0;
}
.entry-content ul, .comment-content ul, .mu_register ul {
    list-style: disc outside none;
}
.entry-content ol, .comment-content ol {
    list-style: decimal outside none;
}
.entry-content li, .comment-content li, .mu_register li {
    margin: 0 0 0 2.57143rem;
}
.entry-content blockquote, .comment-content blockquote {
    font-style: italic;
    margin-bottom: 1.71429rem;
    padding: 1.71429rem;
}
.entry-content blockquote p:last-child, .comment-content blockquote p:last-child {
    margin-bottom: 0;
}
.entry-content code, .comment-content code {
    font-family: Consolas,Monaco,Lucida Console,monospace;
    font-size: 0.857143rem;
    line-height: 2;
}
.entry-content pre, .comment-content pre {
    border: 1px solid #EDEDED;
    color: #666666;
    font-family: Consolas,Monaco,Lucida Console,monospace;
    font-size: 0.857143rem;
    line-height: 1.71429;
    margin: 1.71429rem 0;
    overflow: auto;
    padding: 1.71429rem;
}
.entry-content pre code, .comment-content pre code {
    display: block;
}
.entry-content abbr, .comment-content abbr, .entry-content dfn, .comment-content dfn, .entry-content acronym, .comment-content acronym {
    border-bottom: 1px dotted #666666;
    cursor: help;
}
.entry-content address, .comment-content address {
    display: block;
    line-height: 1.71429;
    margin: 0 0 1.71429rem;
}
img.alignleft {
    margin: 0.857143rem 1.71429rem 0.857143rem 0;
}
img.alignright {
    margin: 0.857143rem 0 0.857143rem 1.71429rem;
}
img.aligncenter {
    margin-bottom: 0.857143rem;
    margin-top: 0.857143rem;
}
.entry-content embed, .entry-content iframe, .entry-content object, .entry-content video {
    margin-bottom: 1.71429rem;
}
.entry-content dl, .comment-content dl {
    margin: 0 1.71429rem;
}
.entry-content dt, .comment-content dt {
    font-weight: bold;
    line-height: 1.71429;
}
.entry-content dd, .comment-content dd {
    line-height: 1.71429;
    margin-bottom: 1.71429rem;
}
.entry-content table, .comment-content table {
    border-bottom: 1px solid #EDEDED;
    color: #757575;
    font-size: 0.857143rem;
    line-height: 2;
    margin: 0 0 1.71429rem;
    width: 100%;
}
.entry-content table caption, .comment-content table caption {
    font-size: 1.14286rem;
    margin: 1.71429rem 0;
}
.entry-content td, .comment-content td {
    border-top: 1px solid #EDEDED;
    padding: 6px 10px 6px 0;
}


.entry-content{
 font-family: "Open Sans",Helvetica,Arial,sans-serif;
 font-size:14px;
  margin: 0 auto;
    width: 800px;
    }
