<!-- checkout-sidebar -->
<aside class="checkout-sidebar"> 
	<!-- selected-items -->
	<div class="selected-items new-selected-items">

        <ul>
            <?php $cart = $this->session->getCart();?>
            
            <?php if(Zend_Controller_Front::getInstance()->getRequest()->getControllerName() !== 'payment'): ?>
            <?php $shipping = false; ?>
            <?php else: ?>
            <?php $shipping = $cart->calculateShippingPriceByZipCode(); ?> 
            <?php endif; ?>
                 

            
			<li>Subtotal: <span><?php echo $this->currency($cart->calculateSubTotal()); ?></span></li>
			<li>Shipping: <span><?php echo ($shipping !== false) ? $this->currency($shipping) : 'N/A'; ?></span> </li>
            <li>Transaction Fee: <span><?php echo $this->currency($cart->calculateTransactionFee()); ?></span> </li>

            <?php if($discount = $cart->calculateDiscount()):?>
                <?php if($discount === true): ?>
                <li><strong>Discount: <span>Will apply</span> </strong></li>  
                <?php else: ?>
                <li><strong>Discount: <span><?php echo $this->currency($discount); ?></span> </strong></li>                
                <?php endif; ?>

            <?php endif; ?>

			<?php /*<li>Total Savings: <span>$0</span> </li>*/ ?>

			<li class="gnew-total">
				<h4>Grand Total:</h4>
				<span><?php echo $this->currency($cart->calculateGrandTotal()); ?></span>
            </li>

            <?php /*<li><input type="text" placeholder="Git code" /><input type="submit" value="Submit" /></li>*/ ?>

            <?php if (!$discount) : ?>
                <li class="cloud-zoom-lens">
                <span>Have a promo code? Click here to enter it.</span>
                    <form class="provide-more-info" id="promo-form" action="<?php echo Ikantam_Url::getUrl('checkout/payment/set-coupon'); ?>" method="post">
                        <input type="text" placeholder="Promotion code" name="coupon" />
                        <input type="hidden" name="action" value="<?php echo $this->activeMenu; ?>" />
                        <input type="submit" value="Submit" />
                    </form>
                </li>
                <script>
                jQuery(function($){
                    $('li.cloud-zoom-lens').on('click', function(){
                        $(this).find('#promo-form')
                               .fadeIn()
                               .siblings('span')
                               .hide();
                    });
                });
                </script>
            <?php endif; ?>

        </ul>
	</div>
	<!--/ selected-items -->

	<div class="clear"></div>

	<!-- alert -->
	<div class="alert alert-success">
        <i></i>
        <a target="_blank" href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>">
            Understand our delivery process, policies and rates
        </a>
    </div>
    
    <div class="alert alert-success">
        <i></i>
        <a target="_blank" href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>?q=fit">
            How to make sure your furniture fits before you buy?
        </a>
    </div>
	<!--/ alert -->

	<?php $model = new Application_Model_Static(); ?>
	<?php $posts = $model->getFaqSidebarPosts(); ?>
	<?php if (count($posts) > 0) : ?>
		<div class="sidebar-accordion">
			<?php foreach ($posts as $post) : ?>
				<a class="sidelink" href="#">
					<i></i> <?php echo $post['post_title']; ?>
				</a>
				<div class="cont">
					<p><?php echo $post['post_content']; ?></p>
				</div>
			<?php endforeach; ?>
		</div>
	<?php endif; ?>


</aside>
<!--/ checkout-sidebar --> 