<script type="text/javascript">
    (function(){
        if(typeof iKantam === 'undefined') {
            return false;
        }
        iKantam.namespace('checkout').err = <?php echo Zend_Json::encode($this->session->getFormErrors()); ?>;
    })();

</script>

<!-- checkout-process -->
<div class="checkout-process">
	<ul>
		<li <?php if ($this->activeMenu == 'auth') : ?> class="active-process"<?php endif; ?>>
			<?php if ($this->activeMenu == 'auth') : ?><i class="be4-tringle"></i> <?php endif; ?>
			Authorization
			<i <?php if ($this->activeMenu == 'auth') : ?> class="aftr-tringle"<?php endif; ?>></i>
		</li>
		<li <?php if ($this->activeMenu == 's-method') : ?> class="active-process"<?php endif; ?>>
			<?php if ($this->activeMenu == 's-method') : ?><i class="be4-tringle"></i> <?php endif; ?>
			Shipping Method
			<i <?php if ($this->activeMenu == 's-method') : ?> class="aftr-tringle"<?php endif; ?>></i>
		</li>
        <li <?php if ($this->activeMenu == 'delivery') : ?> class="active-process"<?php endif; ?>>
			<?php if ($this->activeMenu == 'delivery') : ?><i class="be4-tringle"></i> <?php endif; ?>
			Delivery Details
			<i <?php if ($this->activeMenu == 'delivery') : ?> class="aftr-tringle"<?php endif; ?>></i>
		</li>
        
		<li <?php if ($this->activeMenu == 's-address') : ?> class="active-process"<?php endif; ?>>
			<?php if ($this->activeMenu == 's-address') : ?><i class="be4-tringle"></i> <?php endif; ?>
			Shipping Address
			<i <?php if ($this->activeMenu == 's-address') : ?> class="aftr-tringle"<?php endif; ?>></i>
		</li>
		<li <?php if ($this->activeMenu == 'payment') : ?> class="active-process"<?php endif; ?>>
			<?php if ($this->activeMenu == 'payment') : ?><i class="be4-tringle"></i> <?php endif; ?>
			Payment
			<i <?php if ($this->activeMenu == 'payment') : ?> class="aftr-tringle"<?php endif; ?>></i>
		</li>
		
	</ul>
</div>
<!--/ checkout-process -->
<div class="clear"></div>