<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>
    <body>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="background-color: #333; padding: 11px 7px">
                <div class="container-fluid">  
                    <a class="brand" href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"> <img src="<?php echo Ikantam_Url::getPublicUrl('images/new-logo.png'); ?>" alt="AptDecologo" /> </a> <!--/ logo -->
                </div>
            </div>
        </div>

        <div class="container-fluid e-mail-noti"> 
            
            <p>Dear <?php echo $this->buyer->getFirstName(); ?>,</p>
            
            <p>
                We're happy to let you know that your request to 
                purchase <?php echo $this->product->getTitle(); ?> has been sent to the 
                seller, <?php echo $this->seller->getFirstName(); ?>. We have authorized your 
                credit card for the full amount of the sale to ensure 
                that it is valid. Your credit card will only be charged 
                once the seller confirms the request. If your request is 
                denied or expires, you will not be charged. The seller 
                has up to 24 hours to reply. 
            </p>
            
            <p>
                Feel free to respond to this email with any questions or concerns.
            </p>

            <p>Cheers,<br>The AptDeco Team</p>
        </div>
    </body>
</html>
