<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>

    <body>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="background-color: #333; padding: 11px 7px">
                <div class="container-fluid">  
                    <a class="brand" href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"> <img src="<?php echo Ikantam_Url::getPublicUrl('images/new-logo.png'); ?>" alt="AptDecologo" /> </a> <!--/ logo -->
                </div>
            </div>
        </div>

        <div class="container-fluid e-mail-noti"> 

            <?php $url = Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/order/order', array('id' => $this->item->getId()))); ?>


            <p>Hi <?php echo $this->seller->getFirstName(); ?>,</p>

            <p>
                <?php echo $this->buyer->getFirstName(); ?> would like to buy 
                your <?php echo $this->product->getTitle(); ?> & requested for pick up.
            </p>

            <p>
                Please <a href="<?php echo $url; ?>">respond to the request</a> as soon as 
                possible to ensure the sale is finalized. 
                Note, this order is only valid for 24 hours, 
                if we don't hear from you within that 
                time period the request will automatically be cancelled.
            </p>

            <p>Feel free to respond to this email with any questions or concerns.</p>

            <p>Cheers,<br>The AptDeco Team</p>   
        </div>
    </body>
</html>
