<form  action="<?php echo $this->url(); ?>" class="payout apt-form" id="payout-form" method="post">
    <?php echo $this->element->ba_uri; ?>
    <div class="pull-left">
        <!-- Full Name -->
        <div id="cg-name" class="control-group<?php if (count($this->element->full_name->getMessages())) : ?> error<?php endif; ?>">
            <label class="block-lable" for="FullName">Full Name*</label>
            <div class="block-fields">
                <?php echo $this->element->full_name; ?>
            </div>
        </div>
        <!-- Full Name -->

        <!-- Routing Number -->
        <div id="cg-routing_number" class="control-group<?php if (count($this->element->routing_number->getMessages())) : ?> error<?php endif; ?>">
            <label class="block-lable" for="RoutingNumber">Routing Number*</label>
            <div class="block-fields">
                <?php echo $this->element->routing_number; ?>
            </div>
        </div>
        <!-- Routing Number -->
    </div>
    
    <div class="pull-left">
        <img src="<?php echo Ikantam_Url::getPublicUrl('images/payment-secured.png'); ?>" alt="payment-secured" />
    </div>
    
    <div class="clear"></div>
    
    <!-- Account Number -->
    <div id="cg-account_number" class="control-group<?php if (count($this->element->account_number->getMessages())) : ?> error<?php endif; ?>">
        <label class="block-lable" for="AccountNumber">Account Number*</label>
        <div class="block-fields">
            <?php echo $this->element->account_number; ?>
        </div>
    </div>
    <!-- Account Number -->

    <div class="apt-form-action">
        <button type="submit" class="apt-btn def m-w72">Save</button>
    </div>

</form>

<script type="text/javascript">
    balanced.init('<?php echo Ikantam_Balanced_Settings::getMarketplaceUri(); ?>');
    var $form = $("#payout-form");

    $form.submit(function() {
        $(this).find('.control-group').removeClass('error');

        var bankAccountData = {
            name: $form.find('input[name="full_name"]').val(),
            account_number: $form.find('input[name="account_number"]').val(),
            bank_code: $form.find('input[name="routing_number"]').val().replace(/\s/g, ""),
            account_type: $form.find('input[name="account_type"]:checked').val()
        };
        balanced.bankAccount.create(bankAccountData, responseCallbackHandler);

        return false;
    });

    function responseCallbackHandler(response) {

        switch (response.status) {
            case 400:
                // missing or invalid field - check response.error for details

                if (response.error.name) {
                    $form.find();
                    $("#cg-name").addClass('error');
                }
                if (response.error.account_number) {
                    $("#cg-account_number").addClass('error');
                }
                if (response.error.bank_code) {
                    $("#cg-routing_number").addClass('error');
                }
                if (response.error.category_code === "invalid-routing-number") {
                    $("#cg-routing_number").addClass('error');
                }

                break;
            case 404:
                // your marketplace URI is incorrect

                break;
            case 201:
                $("#payout-form input[name='account_number']").val('******' + response.data.last_four);
                $("#payout-form input[name='ba_uri']").val(response.data.uri);
                $form.unbind("submit").submit();
        }
    }

</script>