<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>

<div class="container-fluid" id="container"> 
    <div class="apt-container sidebar-main">

        <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

        <div class="main m-0"  id="messages">

            <div id="user-actions">
                <h2 class="text-uc">Payout information</h2>
                <?php /*
                  <div class="alert alert-success noti-ce"><i></i>  You’ve deleted all payout information. All you items is unpublished now. If you want sale your items  you have to configure your payout information.
                  <button data-dismiss="alert" class="close" type="button">x</button>
                  </div>
                 */ ?>  

                <?php foreach ($this->successMessages as $message) : ?>
                    <div class="aptd-alert success">
                        <i class="apt-i-check"></i>
                        <p>
                            <?php echo $message; ?>
                        </p>
                        <button type="button" class="dismiss" data-dismiss="alert">x</button>
                    </div> 
                <?php endforeach; ?>

                <?php foreach ($this->errorMessages as $message) : ?>
                    <p class="invalid" id="errors-password"><i></i><?php echo $message; ?></p>
                <?php endforeach; ?>

                <?php if (isset($this->required)) : ?>
                    <?php if ($this->required == 'product' || $this->required == 'success') : ?>
                        <div class="alert alert-success noti-ce"><i></i>
                            If you want to sale your items you have to configure your payout information.
                        </div>
                    <?php endif; ?>
                <?php endif; ?>

                <?php if (isset($this->form)) : ?>
                    <div class="aptd-alert success">
                        <i class="apt-i-warning"></i>
                        <p>
                            Add your account information below and enjoy <strong>next day</strong> payout into your bank account.
                        </p>
                    </div> 
                <?php endif; ?>

                <h3 class="account-balance">
                    Account balance: <strong><?php echo $this->currency($this->user->getAccountBalance()); ?></strong>
                </h3>

            </div>

            <div class="clear"></div>

            <?php if (isset($this->form)) : ?>
                <?php echo $this->form->setAction($this->url()); ?>
            <?php else : ?>
                <?php echo $this->partial('payout/merchant_info.phtml', 'user', $this); ?>
            <?php endif; ?>
        </div>
    </div>
</div>

<div class="clear"></div>