<?php $merchant = $this->user->getMerchant(); ?>

<form class="apt-form payout" action="<?php echo Ikantam_Url::getUrl('user/payout/edit-merchant'); ?>" method="post" id="edit-payout-preferences-form">
    <div class="pull-left">
        <div class="control-group">
            <label class="block-lable" for="FullName">Full Name</label>
            <div class="block-fields">
                <p><strong><?php echo $this->escape($merchant->getFullName()); ?></strong></p>
            </div>
        </div>

        <div class="control-group">
            <label class="block-lable" for="RoutingNumber">Routing Number</label>
            <div class="block-fields">
                <p><strong><?php echo $this->escape($merchant->getRoutingNumber()); ?></strong></p>
            </div>
        </div>
    </div>
    
    <div class="pull-left">
        <img src="<?php echo Ikantam_Url::getPublicUrl('images/payment-secured.png'); ?>" alt="payment-secured" />
    </div>
    
    <div class="clear"></div>

    <div class="control-group">
        <label class="block-lable" for="AccountNumber">Account Number</label>
        <div class="block-fields">
            <p><strong>******<?php echo  $this->escape($merchant->getAccountNumber()); ?></strong></p>
        </div>
    </div>

    <div class="apt-form-action">
        <button id="edit-payout-preferences-button" type="button" class="apt-btn def m-w72">Edit</button>
    </div>
</form>

<script type="text/javascript">
    jQuery("#edit-payout-preferences-button").on("click", function(){
        jQuery("#edit-payout-preferences-form").submit();
    });
</script>