<div class="brdr sma"></div>

<?php echo $this->form; ?>

<script type="text/javascript">
    $(document).ready(function(){

        $('#set_pickup_date, #set_delivery_date').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            showOn: "both",
            buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
            buttonImageOnly: true,
            prevText: "",
            nextText: "",
            constrainInput: false,
            dateFormat: "dd M, yy",
            minDate: "dateToday"
        });

        $('input[name="delivery_date"]').on('click', function(){
            toggleOtherDateContainer();
        });
        toggleOtherDateContainer();
    });

    function toggleOtherDateContainer(){
        if ($('input[name="delivery_date"]:checked').val() == 'other') {
            $('#container-other').slideDown();
        } else {
            $('#container-other').slideUp();
        }
    }
</script>
<div class="clear"></div>