<?php /* @var $item Admin_Model_Order_Item */ ?>
<?php $item = $this->item ?>
<div class="span6">
    <?php $buyer = $item->getBuyer(); ?>

    <ul>
        <li>
            <h4>Buyer</h4>
            <a href="<?php echo Ikantam_Url::getUrl('admin/users/view', array('id' => $buyer->getId())); ?>">
                <?php echo $this->escape($buyer->getFullName()); ?>
            </a>
        </li>
        <li>
            &nbsp; <!-- for align rows -->
        </li>
        <li>
            <p class="email-address gry">
                <i></i>
                <?php echo $this->escape($buyer->getMainEmail()); ?>
            </p>
        </li>


        <li id="delivery-container"  <?php if ($item->getShippingMethodId() != Order_Model_Order::ORDER_SHIPPING_METHOD_DELIVERY) : ?> style="display: none;"         <?php endif; ?>>
            <ul>
                <li>
                    <h4>Delivery Address <a style="font-weight:normal;" href="javascript:void(0);" onClick="editBuyerAddress()">(edit)</a></h4>
                    <div class="hidden" id="new_buyer_address">
                        <?php echo $this->partial('users/order/delivery_form.phtml', 'admin', $this); ?>
                    </div>
                    <p class="dd-title dl-address">
                        <?php $shippingAddress = $item->getOrder()->getShippingAddress(); ?>
                        <?php echo nl2br($this->escape($this->formatAddress($shippingAddress))); ?>
                    </p>
                </li>

                <li>
                    <h4>Delivery Date <a style="font-weight:normal;" href="javascript:void(0);" onClick="editBuyerDates()">(edit)</a></h4>
                    <div class="hidden clearfix" id="new_buyer_dates">
                        <?php echo $this->partial('users/order/buyer_dates_form.phtml', 'admin', $this); ?>
                    </div>
                    <div class="alert alert-success pick-upd" style="max-width: 235px;">
                        <?php if ($item->getStatus() == Order_Model_Order::ORDER_STATUS_ON_HOLD || $item->getSellerDates() == 'other') : ?>
                            <?php if (is_array($item->getBuyerDates())) : ?>
                                <?php foreach ($item->getBuyerDates() as $date) : ?>
                                    <?php echo $this->formatDate($date); ?>
                                <?php endforeach; ?>
                            <?php else : ?>
                                not specified
                            <?php endif; ?>
                        <?php endif; ?>

                        <?php if ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_PENDING && $item->getSellerDates() != 'other') : ?>
                            <?php if (is_array($item->getBuyerDates() && !$this->item->getBuyerDate())) : ?>
                                <?php foreach ($item->getBuyerDates() as $date) : ?>
                                    <?php echo $this->formatDate($date); ?>
                                <?php endforeach; ?>
                            <?php else : ?>
                                <?php echo $this->formatDate($this->item->getBuyerDate()); ?>
                            <?php endif; ?>
                        <?php endif; ?>

                        <?php if ($item->getStatus() == Order_Model_Order::ORDER_STATUS_COMPLETE && $item->getSellerDates() != 'other') : ?>
                            <?php echo $this->formatDate($item->getBuyerDate()); ?>
                        <?php endif; ?>
                    </div>
                </li>

                <?php if ($shippingAddress->getBuildingType()) : ?>
                    <li>
                        <h4>Building type</h4>

                        <?php if ($shippingAddress->getBuildingType() == 'walkup') : ?>
                            <p>Walk-up, flight #<?php echo $this->escape($shippingAddress->getNumberOfStairs()); ?></p>
                        <?php elseif ($shippingAddress->getBuildingType() == 'elevator') : ?>
                            <p>Elevator</p>
                        <?php endif; ?>
                    </li>
                <?php endif; ?>

                <?php /* if (!empty($deliveryOptions['paperwork_info'])) : ?>
                  <li>
                  <h4>Required paperwork information</h4>
                  <p><?php echo $this->escape($deliveryOptions['paperwork_info']); ?></p>
                  </li>
                  <?php endif; */ ?>
                </ul>
        </li>
    </ul>
</div>

<script type="text/javascript">
    function editBuyerAddress() {
        jQuery("#new_buyer_address").removeClass("hidden");
    }

    function editBuyerDates() {
        jQuery("#new_buyer_dates").removeClass("hidden");
    }
</script>