<?php $dates           = $this->item->getBuyerDates(); ?>
<?php $selectedDateNotFormatted = $this->item->getBuyerDate() ?>
<?php $currentDates[0] = array('date' => null, 'time' => null); ?>
<?php $currentDates[1] = array('date' => null, 'time' => null); ?>
<?php $currentDates[2] = array('date' => null, 'time' => null); ?>
<?php $c               = 0; ?>
<?php foreach ((array)$this->item->getBuyerDates() as $date) : ?>
    <?php if (strtotime(substr($date, 0, 10))) : ?>
        <?php $currentDates[$c]['date'] = date('d M, Y', strtotime(substr($date, 0, 10))); ?>
    <?php endif; ?>
    <?php if (in_array(trim(substr($date, 10)), array('7-12', '12-16', '16-20'))) : ?>
        <?php $currentDates[$c]['time'] = trim(substr($date, 10)); ?>
    <?php endif; ?>
    <?php $c++; ?>
<?php endforeach; ?>
<?php
$selectedDate['date'] = null;
$selectedDate['time'] = null;
$_date = strtotime(substr($selectedDateNotFormatted, 0, 10));
$_time = trim(substr($selectedDateNotFormatted, 10));
?>
<?php if ($_date) : ?>
    <?php  $selectedDate['date'] = $_date ?>
<?php endif ?>

<?php if (in_array($_time, array('7-12', '12-16', '16-20'))) : ?>
    <?php $selectedDate['time'] = $_time; ?>
<?php endif; ?>

<div style="margin: 10px 0;" class="clearfix">
    <form id="delivery-date-form" action="<?php echo Ikantam_Url::getUrl('admin/users/edit-buyer-dates', array('id' => $this->item->getId())); ?>" method="post">
        <div id="guest-delivery-dates" class="block-fields as-a-guest">
            <?php if (!$selectedDateNotFormatted &&  $this->item->getStatus() == 'holded'): ?>
                <div class="dp-holder to-eq pull-left">
                    <input value="<?php echo $currentDates[0]['date']; ?>" type="text" readonly="readonly" class="form-field apt-dp field-i right" id="buyer_date_1" name="buyer_dates[1][date]">
                </div>
                <div class="dp-holder to-eq pull-left">
                    <select class="form-field text-small p-6" name="buyer_dates[1][time]">
                        <option value="">Select a time window</option>
                        <option value="7-12"<?php if ($currentDates[0]['time'] == '7-12') : ?> selected="selected"<?php endif; ?>>7AM &ndash; 12PM</option>
                        <option value="12-16"<?php if ($currentDates[0]['time'] == '12-16') : ?> selected="selected"<?php endif; ?>>12PM &ndash; 4PM</option>
                        <option value="16-20"<?php if ($currentDates[0]['time'] == '16-20') : ?> selected="selected"<?php endif; ?>>4PM &ndash; 8PM</option>
                    </select>
                </div>

                <div class="clear"></div>

                <div class="dp-holder to-eq pull-left">
                    <input value="<?php echo $currentDates[1]['date']; ?>" type="text" readonly="readonly" class="form-field apt-dp field-i right" id="buyer_date_2" name="buyer_dates[2][date]">
                </div>
                <div class="dp-holder to-eq pull-left">
                    <select class="form-field text-small p-6" name="buyer_dates[2][time]">
                        <option value="">Select a time window</option>
                        <option value="7-12"<?php if ($currentDates[1]['time'] == '7-12') : ?> selected="selected"<?php endif; ?>>7AM &ndash; 12PM</option>
                        <option value="12-16"<?php if ($currentDates[1]['time'] == '12-16') : ?> selected="selected"<?php endif; ?>>12PM &ndash; 4PM</option>
                        <option value="16-20"<?php if ($currentDates[1]['time'] == '16-20') : ?> selected="selected"<?php endif; ?>>4PM &ndash; 8PM</option>
                    </select>
                </div>

                <div class="clear"></div>

                <div class="dp-holder to-eq pull-left">
                    <input value="<?php echo $currentDates[2]['date']; ?>" type="text" readonly="readonly" class="form-field apt-dp field-i right" id="buyer_date_3" name="buyer_dates[3][date]">
                </div>
                <div class="dp-holder to-eq pull-left">
                    <select class="form-field text-small p-6" name="buyer_dates[3][time]">
                        <option value="">Select a time window</option>
                        <option value="7-12"<?php if ($currentDates[2]['time'] == '7-12') : ?> selected="selected"<?php endif; ?>>7AM &ndash; 12PM</option>
                        <option value="12-16"<?php if ($currentDates[2]['time'] == '12-16') : ?> selected="selected"<?php endif; ?>>12PM &ndash; 4PM</option>
                        <option value="16-20"<?php if ($currentDates[2]['time'] == '16-20') : ?> selected="selected"<?php endif; ?>>4PM &ndash; 8PM</option>
                    </select>
                </div>
            <?php else: ?>
                <h4>Selected Buyer Date</h4>
                <div class="dp-holder to-eq pull-left">
                    <input value="<?php echo $this->datePickerInputValue($selectedDate['date']); ?>" type="text" readonly="readonly" class="form-field apt-dp field-i right" id="selected_buyer_date" name="selected_buyer_date[date]">
                </div>
                <div class="dp-holder to-eq pull-left">
                    <select class="form-field text-small p-6" name=selected_buyer_date[time]">
                        <option value="">Select a time window</option>
                        <option value="7-12"<?php if ($selectedDate['time'] == '7-12') : ?> selected="selected"<?php endif; ?>>7AM &ndash; 12PM</option>
                        <option value="12-16"<?php if ($selectedDate['time'] == '12-16') : ?> selected="selected"<?php endif; ?>>12PM &ndash; 4PM</option>
                        <option value="16-20"<?php if ($selectedDate['time'] == '16-20') : ?> selected="selected"<?php endif; ?>>4PM &ndash; 8PM</option>
                    </select>
                </div>
            <?php endif ?>
            <div class="clear"></div>
        </div>

        <button class="pull-right" type="submit"><i></i> Save new delivery dates</button>
    </form>
</div>

<hr/>

<script type="text/javascript">
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    function formatDate(date)
    {
        var month = date.getMonth() + 1;
        var day = date.getDate();
        if (month < 10) {
            month = '0' + month;
        }
        if (day < 10) {
            day = '0' + day;
        }
        return date.getFullYear() + '-' + month + '-' + day;
    }

    $('#buyer_date_1, #buyer_date_2, #buyer_date_3, #selected_buyer_date').datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        showOn: "both",
        buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
        buttonImageOnly: true,
        prevText: "",
        nextText: "",
        constrainInput: false,
        dateFormat: "dd M, yy"
    });
</script>