<?php /* @var $item Admin_Model_Order_Item */ ?>
<?php $item = $this->item ?>
<?php $address = $item->getOrder()->getShippingAddress(); ?>

<form class="form-horizontal change-d-addrss" id="delivery-address-form" action="<?php echo Ikantam_Url::getUrl('admin/users/change-delivery-address', array('id' => $this->item->getId())); ?>" method="post">
    <div class="control-group">
        <label class="control-label prodSub" for="address-line-1"> Address Line1:</label>
        <div class="controls prodScont">
            <input name="address[address_line1]" type="text" id="address-line-1" placeholder=""
                   value="<?php echo $this->escape($address->getAddressLine1()); ?>">
            <span class="help-block">Street address, P.O. box, company name, c/o</span> </div>
    </div>

    <div class="control-group">
        <label class="control-label prodSub" for="address-line-2"> Address Line2:</label>
        <div class="controls prodScont">
            <input name="address[address_line2]" type="text" id="address-line-2" placeholder=""
                   value="<?php echo $this->escape($address->getAddressLine2()); ?>">
            <span class="help-block">Apartment, suite, unit, building, floor, etc.</span> </div>
    </div>

    <div class="control-group">
        <label class="control-label prodSub" for="shipping-city">City:</label> 
        <div class="controls prodScont">
            <input name="address[city]" type="text" id="shipping-city" placeholder=""
                   value="<?php echo $this->escape($address->getCity()); ?>">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label prodSub" for="shipping-state">State/Province/Region:</label> 
        <div class="controls prodScont">
            <input name="address[state]" type="text" id="shipping-state" placeholder=""
                   value="<?php echo $this->escape($address->getStateCode()); ?>">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label prodSub" for="shipping-zip">ZIP:</label>
        <div class="controls prodScont">
            <input name="address[postcode]" type="text" id="shipping-zip" placeholder=""
                   value="<?php echo $this->escape($address->getPostalCode()); ?>">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label prodSub" for="shipping-country">Country:</label> 
        <div class="controls prodScont">
            <select name="address[country_code]" style="width: 150px !important" class="select-styled">
                <option value="0" label="-- Select Country">-- Select Country</option>
                <option value="US" label="United States" <?php if ($address->getCountryCode() == 'US') : ?>selected="selected"<?php endif; ?>>United States</option>
                <option value="CA" label="Canada" <?php if ($address->getCountryCode() == 'CA') : ?>selected="selected"<?php endif; ?>>Canada</option>
            </select>        
        </div>
    </div>
    <div class="control-group">
        <label class="control-label prodSub" for="building-type">Building Type:</label>
        <div class="controls prodScont">
            <select name="address[building_type]" id="building-type" style="width: 150px !important" class="select-styled" onchange="toggleNumberOfFlights(this)">
                <?php foreach (array('elevator' => 'Elevator', 'walkup' => 'Walk-up') as $_value => $_label): ?>
                    <option
                        value="<?php echo $_value ?>"
                        label="<?php echo $_label ?>"
                        <?php if ($_value == $address->getBuildingType()): ?>
                            selected="selected"
                        <?php endif ?>
                        ><?php echo $_label ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </div>
    <div class="control-group" id="number-of-stairs-container">
        <label class="control-label prodSub" for="number-of-stairs">Number of flights:</label>
        <div class="controls prodScont">
            <select name="address[number_of_stairs]" id="number-of-stairs" style="width: 150px !important" class="select-styled">
                <option value="" <?php if (!$address->getNumberOfStairs()): ?> selected="selected" <?php endif ?> label="Number of flights">Number of flights</option>
                <?php for ($i = 1; $i <=7; $i++): ?>
                    <option
                        value="<?php echo $i ?>"
                        <?php if ($i == $address->getNumberOfStairs()): ?>
                            selected="selected"
                        <?php endif ?>
                        label="<?php echo $i ?>"
                        ><?php echo $i ?></option>
                <?php endfor ?>
            </select>
        </div>
    </div>


    <div class="control-group ad-dress">
        <h4>Phone number</h4>
        <label class="control-label prodSub" for="phone">Phone</label>
        <div class="controls prodScont" style="width: 190px">
            <input name="address[phone_number]" type="text" placeholder="(___) ___ ____" class="numb-format verify-ur-phone"
                   value="<?php echo $this->escape($address->getTelephone()); ?>">
        </div>
    </div>

    <div class="dashs"></div>		
    <button class="pull-right" type="submit"><i></i> Save delivery address</button>
</form>


<script type="text/javascript">
    function toggleNumberOfFlights(el) {
        if ($(el).val() == 'walkup') {
            $('#number-of-stairs-container').fadeIn();
        } else {
            $('#number-of-stairs-container').fadeOut();
        }

    }
    $(document).ready(function(){
        toggleNumberOfFlights('#building-type');
    });

</script>