<form class="form-horizontal change-d-addrss" id="shipping-form" action="<?php echo Ikantam_Url::getUrl('admin/users/change-pickup-address', array('id' => $this->item->getId())); ?>" method="post">        
    <div class="control-group">
        <label class="control-label prodSub" for="address-line-1"> Address Line1:</label>
        <div class="controls prodScont">
            <input name="address[address_line1]" type="text" id="address-line-1" placeholder="" value="<?php echo $this->escape($this->item->getProduct()->getPickupAddressLine1()); ?>">
            <span class="help-block">Street address, P.O. box, company name, c/o</span> </div>
    </div>

    <div class="control-group">
        <label class="control-label prodSub" for="address-line-2"> Address Line2:</label>
        <div class="controls prodScont">
            <input name="address[address_line2]" type="text" id="address-line-2" placeholder="" value="<?php echo $this->escape($this->item->getProduct()->getPickupAddressLine2()); ?>">
            <span class="help-block">Apartment, suite, unit, building, floor, etc.</span> </div>
    </div>

    <div class="control-group">
        <label class="control-label prodSub" for="shipping-city">City:</label> 
        <div class="controls prodScont">
            <input name="address[city]" type="text" id="shipping-city" placeholder="" value="<?php echo $this->escape($this->item->getProduct()->getPickupCity()); ?>">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label prodSub" for="shipping-state">State/Province/Region:</label> 
        <div class="controls prodScont">
            <input name="address[state]" type="text" id="shipping-state" placeholder="" value="<?php echo $this->escape($this->item->getProduct()->getPickupState()); ?>">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label prodSub" for="shipping-zip">ZIP:</label>
        <div class="controls prodScont">
            <input name="address[postcode]" type="text" id="shipping-zip" placeholder="" value="<?php echo $this->escape($this->item->getProduct()->getPickupPostcode()); ?>">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label prodSub" for="shipping-country">Country:</label> 
        <div class="controls prodScont">
            <select name="address[country_code]" style="width: 150px !important" class="select-styled">
                <option value="0" label="-- Select Country">-- Select Country</option>
                <option value="US" label="United States" <?php if ($this->item->getProduct()->getPickupCountryCode() == 'US') : ?>selected="selected"<?php endif; ?>>United States</option>
                <option value="CA" label="Canada" <?php if ($this->item->getProduct()->getPickupCountryCode() == 'CA') : ?>selected="selected"<?php endif; ?>>Canada</option>
            </select>        
        </div>
    </div>

    <div class="control-group ad-dress">
        <h4>Phone number</h4>
        <label class="control-label prodSub" for="phone">Phone</label>
        <div class="controls prodScont" style="width: 190px">
            <input type="text" placeholder="(___) ___ ____" class="numb-format verify-ur-phone" name="address[phone_number]" value="<?php echo $this->escape($this->item->getProduct()->getPickupPhone()); ?>">
        </div>
    </div>

    <div class="dashs"></div>		
    <button class="pull-right" type="submit"><i></i> Save pick up address</button>
</form>