<?php echo $this->partial('users/order/pickup_to_delivery/addresses_template.phtml', 'admin', $this); ?>
<input type="hidden" id="address_id" name="address_id" value="" />
<a href="javascript:void()" onclick="addNewAddress()" class="save-address-info apt-btn classic pull-right">Add New Address</a>
<script type="text/javascript">
    function addNewAddress() {
        var $duplicate = $('#new-address-template').clone(true).insertBefore('#new-address-template');
        $duplicate.removeAttr('id')
            .addClass('new-address-template')
            .fadeIn();
        $duplicate.find('.edit-address-container')
            .show();
    }

    function toggleNumberOfStairsElement(el) {
        $this = $(el);
        $numberOfStairs =  $this.siblings('select[name="shipping_address[number_of_stairs]"]');
        if ($this.val() == 'walkup') {
            $numberOfStairs.removeClass('hidden');
        } else {
            $numberOfStairs.addClass('hidden');
        }
    }

    $(document).ready(function(){
        initOnSubmitAjaxForAddressForm();
    });

    function initOnSubmitAjaxForAddressForm() {
        $('.edit-address-form').each(function(){
            $(this).on('submit', function(){
                $form = $(this);
                showOverlay();
                $form.find('#submit-label').html('&nbsp;')
                    .removeClass('text-error');
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    success: function(response){
                        if (response.success) {
                            $form.closest('.address-to-set').replaceWith(response.template);
                            initOnSubmitAjaxForAddressForm();
                            useAddress($form.closest('.address-to-set').find('.set-primary-address-button').get(0));// set saved address
                        } else {
                            $form.find('#submit-label').html(response.message)
                                .addClass('text-error');
                        }
                        hideOverlay();
                    }
                });
                return false;
            });
        });
        $('select[name="shipping_address[building_type]"').each(function(){
            toggleNumberOfStairsElement(this);
            $(this).on('change', function(){
                toggleNumberOfStairsElement(this);
            });
        });
    }

    function showOverlay() {
        $(".loader-overlay, .loader-container").show();
    }

    function hideOverlay() {
        $(".loader-overlay, .loader-container").fadeOut('slow');
    }

    function useAddress(button) {
        $button = $(button);
        $('#address_id').val($button.data('address_id'));
        $('.address-to-set').removeClass('active');
        $('#address-container-' + $button.data('address_id')).addClass('active');
    }
</script>