<?php /* @var $item Admin_Model_Order_Item */ ?>
<?php $item     = $this->item ?>
<?php $_product = $this->item->getProduct(); ?>
<?php $imageUrl = $_product->getMainImageUrl(); ?>
<?php $style    = 'style="width:198px;max-height: 198px;"'; ?>


<?php if ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_ON_HOLD || $item->getSellerDates() == 'other') : ?>
    <?php echo $this->partial('users/order/availability_form.phtml', 'admin', $this); ?>
<?php endif; ?>




<table id="transc-his">
    <tr>
        <td class="transc-his">
            <img <?php echo $style; ?> src="<?php echo $this->escape($imageUrl); ?>" alt="<?php echo $this->escape($item->getProductTitle()); ?>" />
        </td>

        <td>
            <h3>
                <a href="<?php echo $this->escape($_product->getProductUrl()); ?>">
                    <?php echo $this->escape($item->getProductTitle()); ?>
                </a>
            </h3>

            <ul>
                <li>
                    <span class="labl gry">Price:</span>
                    <span class="descripo">
                        <p><strong><?php echo $this->currency($item->getProductPrice()); ?></strong></p>
                    </span>
                </li>

                <li>
                    <span class="labl gry">Quantity:</span>
                    <span class="descripo">
                        <p><strong><?php echo $this->item->getQty(1); ?></strong></p>
                    </span>
                </li>

                <li>
                    <span class="labl gry">Delivery:</span>
                    <span class="descripo">
                        <p>
                            <i class="deliv"></i>
                            <?php if ($this->item->getShippingMethodId() == Order_Model_Order::ORDER_SHIPPING_METHOD_PICK_UP) : ?>
                                <strong>Pick up by customer  </strong>
                                <?php if ($item->getStatus() == 'holded' || $item->getStatus() == 'pending'): ?>
                                    <a href="javascript:void()" onclick="editShippingMethod()">change</a>
                                        <div id="delivery-requirements" style="display: none;">
                                            <?php $isChangeDeliveryMethodAvailable = true; ?>
                                            <?php if (!$item->getOrder()->getShippingAddressId()): ?>
                                                <?php $isChangeDeliveryMethodAvailable = false; ?>
                                                <div class="text-error">Please input the <a href="#delivery-container">Delivery Address</a></div>
                                            <?php endif ?>
                                            <?php if ($item->getBuyerDates() === null && $item->getBuyerDate() === null): ?>
                                                <?php $isChangeDeliveryMethodAvailable = false; ?>
                                                <div  class="text-error">Please select the <a href="#delivery-container">Delivery Dates</a></div>
                                            <?php endif ?>
                                            <?php if ($item->getStatus() === 'pending' && $item->getSellerDates() == null): ?>
                                                <?php $isChangeDeliveryMethodAvailable = false; ?>
                                                <div  class="text-error">Please select the <a href="#pickup-container">Pickup Date</a></div>
                                            <?php endif ?>

                                            <?php if ($isChangeDeliveryMethodAvailable): ?>
                                                <div>
                                                    <span>Shipping Cost: <strong><?php echo $this->currency($item->getShippingPriceForOrderItem()) ?></strong></span>
                                                    <a href="<?php echo Ikantam_Url::getUrl('admin/users/change-shipping-method', array('id' => $item->getId())) ?>">Pay</a>
                                                </div>
                                            <?php endif ?>
                                        </div>
                                <?php endif ?>
                            <?php else : ?>
                                <strong>Delivery by AptDeco partner</strong>
                            <?php endif; ?>
                        </p>
                    </span>
                    <div class="clearfix"></div>
                </li>

                <li>
                    <span class="labl gry">Subtotal:</span>
                    <span class="descripo">
                        <p><strong><?php echo $this->currency($this->item->getQty(1) * $item->getProductPrice()); ?></strong></p>
                    </span>
                </li>

                <li>
                    <span class="labl gry">Shipping cost:</span>
                    <span class="descripo">
                        <p>
                            <strong>
                                <?php echo $this->currency($this->item->getShippingAmount()); ?>
                            </strong>
                            <?php if ($this->item->getShippingAmount() <= 0 && $this->item->getPayout()->getExpenses() > 0) : ?>
                                (seller pays <?php echo $this->currency($this->item->getPayout()->getExpenses()); ?>)
                            <?php endif; ?>
                        </p>
                    </span>
                </li>

                <?php if ($this->item->getOrder()->getCoupon()->getId()) : ?>
                    <?php if ($this->item->getOrder()->getCoupon()->getType() !== 'shipping') : ?>
                        <li>
                            <span class="labl gry">Discount Amount:</span>
                            <span class="descripo">
                                <p>
                                    <strong>
                                        <?php echo $this->currency($this->item->getDiscountAmount()); ?>
                                    </strong>
                                </p>
                            </span>
                        </li>
                    <?php endif; ?>

                    <li>
                        <span class="labl gry">Coupon Name:</span>
                        <span class="descripo">
                            <p><strong><?php echo $this->item->getOrder()->getCoupon()->getCode() ?></strong></p>
                        </span>
                    </li>
                <?php endif; ?>

                <li>
                    <span class="labl gry">Total Paid:</span>
                    <span class="descripo">
                        <p><strong><?php echo $this->currency($this->item->getQty(1) * $item->getProductPrice() + $this->item->getShippingAmount() - $this->item->getDiscountAmount()); ?></strong></p>
                    </span>
                </li>




                <li>
                    <span class="labl gry">Order date:</span>
                    <span class="descripo">
                        <p><strong><?php echo date('M d, Y h:i A', $this->item->getOrder()->getCreatedAt()); ?></strong></p>
                    </span>
                </li>

                <?php if ($this->item->getOrder()->getHowYouHeard()) : ?>
                    <li>
                        <span class="labl gry">How did you hear about us?</span>
                        <span class="descripo">
                            <p><strong><?php echo $this->escape($this->item->getOrder()->getHowYouHeard()); ?></strong></p>
                        </span>
                    </li>
                <?php endif; ?>

                <li>
                    <span class="labl gry">Status:</span>
                    <span class="descripo">
                        <?php if ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_ON_HOLD) : ?>
                            <p class="status in-progress">Awaiting Seller Confirmation</p>
                        <?php elseif ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_PENDING) : ?>
                            <?php if ($this->item->getSellerDates() !== 'not-selected'): ?>
                                <p class="status in-progress">Sold - In Progress</p>
                            <?php else: ?>
                                <p class="status in-progress"><span style="font-weight: bold">Sold in progress - pending delivery date</span></p>
                            <?php endif ?>

                            <form action="<?php echo Ikantam_Url::getUrl('admin/users/confirmdelivery'); ?>" method="post" style="float:left;">
                                <input type="hidden" name="item_id" value="<?php echo $this->item->getId(); ?>" />
                                <button name="confirm" class="confirm" type="submit">Confirm Delivery</button>
                            </form>

                            <form action="<?php echo Ikantam_Url::getUrl('admin/users/cancel-order'); ?>" method="post" style="float:left;margin-left:40px;">
                                <input type="hidden" name="item_id" value="<?php echo $this->item->getId(); ?>" />
                                <button name="confirm" class="confirm" style="color: #FF0000 !important;" type="submit">Cancel Order</button>
                            </form>

                            <div style="clear: both; float: none;"></div>
                        <?php elseif ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_COMPLETE) : ?>
                            <p class="status recived">Completed</p>
                        <?php elseif ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_CANCELED) : ?>
                            <p class="status recived" style="color:#FF0000 !important;">Cancelled</p>
                        <?php else : ?>
                            N/A
                        <?php endif; ?>
                    </span>
                </li>

                <?php $isComplete = $this->item->getStatus() == Order_Model_Order::ORDER_STATUS_COMPLETE; ?>
                <?php $isPaid     = $this->item->isPaid(); ?>

                <?php if ($isComplete && !$isPaid) : ?>
                    <li class="clearfix">
                        <span class="labl gry">&nbsp;</span>
                        <span class="descripo">
                            <?php $uu  = Ikantam_Url::getUrl('admin/users/create-dispute', array('item_id' => $this->item->getId())); ?>
                            <?php $uus = Ikantam_Url::getUrl('admin/users/change-dispute-seller', array('item_id' => $this->item->getId())); ?>
                            <?php $uub = Ikantam_Url::getUrl('admin/users/change-dispute-buyer', array('item_id' => $this->item->getId())); ?>

                            <?php if (!$this->item->isDisputed()) : ?>
                                <a href="<?php echo $uu; ?>" style="color: #FF00FF !important;">Initiate Dispute Case</a>
                            <?php else : ?>
                                <?php if ($this->item->getPayout()->getDisputeStatus() === Order_Model_Payout::PAYOUT_DISPUTE_INITIATED) : ?>
                                    Dispute Case Initiated

                                    <br><br>

                                    <a href="<?php echo $uus; ?>" style="color: #FF00FF !important;">Resolve dispute in favor of seller</a>

                                    <br><br>

                                    <a href="<?php echo $uub; ?>" style="color: #FF00FF !important;">Resolve dispute in favor of buyer</a>

                                <?php elseif ($this->item->getPayout()->getDisputeStatus() === Order_Model_Payout::PAYOUT_DISPUTE_SELLER) : ?>
                                    Dispute Resolved / Seller Payment processed
                                <?php elseif ($this->item->getPayout()->getDisputeStatus() === Order_Model_Payout::PAYOUT_DISPUTE_BUYER) : ?>
                                    Dispute Resolved / Buyer Refunded
                                <?php endif; ?>
                            <?php endif; ?>
                        </span>
                    </li>
                <?php endif; ?>
            </ul>
            <?php if ($item->getStatus() == Order_Model_Order::ORDER_STATUS_PENDING): ?>
                <div class="span6 m-0">
                    <h4>Shipping Info <a href="javascript:void()" onclick="editShippingInfo()">(edit)</a></p></h4>
                </div>
                <form class="form-horizontal " action="<?php echo Ikantam_Url::getUrl('admin/users/change-shipping-info') ?>" method="POST">
                    <input type="hidden" name="id" value="<?php echo $item->getId() ?>" />
                    <ul id="shipping-info" style="display: none;">
                        <li class="clearfix">
                            <span class="labl gry">Dumbo Work #:</span>
                            <span class="descripo">
                                <input type="text"   name="carrier_work_number"  value="<?php echo $item->getCarrierWorkNumber() ?>" />
                            </span>
                        </li>
                        <li class="clearfix">
                            <span class="labl gry">Shipping Status:</span>
                            <span class="descripo">
                                <select  class="m-0 p-0" name="shipping_status">
                                    <?php foreach ($item->getShippingStatuses() as $_status): ?>
                                        <option value="<?php echo $_status ?>" <?php if ($_status == $item->getShippingStatus()): ?> selected="selected" <?php endif ?>><?php echo $_status ?></option>
                                    <?php endforeach ?>
                                </select>
                            </span>
                        </li>
                        <li class="clearfix m-tb10">
                            <span class="labl gry">Follow Up:</span>
                            <span class="descripo">
                                <textarea   name="follow_up" style="min-height: 80px;"><?php echo $item->getFollowUp() ?></textarea>
                            </span>
                        </li>
                        <li class="clearfix">
                            <span class="labl gry">&nbsp;</span>
                            <span class="descripo">
                                <button name="save"  type="submit">Save</button>
                            </span>
                        </li>
                        <li>
                            <div class="dashs"></div>
                        </li>
                    </ul>
                </form>
                <ul>
                    <li class="clearfix">
                        <span class="labl gry">Dumbo Email:</span>
                        <span class="descripo">
                            <p class="inline">
                                <?php if ($item->getIsCarrierSentEmail()): ?>
                                    <strong>Email is sent</strong> <a href="<?php echo Ikantam_Url::getUrl('admin/users/send-email-to-carrier', array('id' => $item->getId())) ?>">resend to Dumbo</a>
                                <?php else: ?>
                                    <a href="<?php echo Ikantam_Url::getUrl('admin/users/send-email-to-carrier', array('id' => $item->getId())) ?>">Send Email to Dumbo</a>
                                <?php endif ?>
                            </p>
                        </span>
                    </li>
                    <li class="clearfix">
                        <span class="labl gry">Dumbo Work #:</span>
                        <span class="descripo">
                            <p class="inline"><strong><?php echo $item->getCarrierWorkNumber() ?></strong></p>
                        </span>
                    </li>


                    <li class="clearfix">
                        <span class="labl gry">Shipping Status :</span>
                        <span class="descripo">
                            <p class="inline"><strong><?php echo $item->getShippingStatus() ?></strong></p>
                        </span>
                    </li>

                    <li class="clearfix m-b10">
                        <span class="labl gry">Follow up :</span>
                        <span class="descripo">
                            <p class="inline"><strong><?php echo nl2br($item->getFollowUp()) ?></strong></p>
                        </span>
                    </li>
                </ul>
            <?php endif ?>
            <ul>
                <li class="clearfix m-b20">
                    <span class="labl gry">Notes <a href="javascript:void()" onclick="editNotes()">(edit)</a>:</span>
                    <span class="descripo">
                        <p class="inline"><strong><?php echo $this->escape(nl2br($item->getNotes())) ?></strong></p>
                    </span>
                </li>
            </ul>
            <form id="notes" action="<?php echo $this->getUrl('admin/users/change-notes') ?>" method="post" style="display: none">
                <input type="hidden" name="id" value="<?php echo $item->getId() ?>" />
                <ul>
                    <li class="clearfix">
                        <input type="text" name="notes" value="<?php echo $item->getNotes() ?>" />
                    </li>
                    <li class="clearfix">
                        <span class="labl gry">&nbsp;</span>
                        <span class="descripo">
                            <button name="save"  type="submit">Save</button>
                        </span>
                    </li>
                </ul>
            </form>
        </td>
    </tr>
</table>
<script type="text/javascript">
    function editShippingInfo() {
        $('#shipping-info').toggle();
    }
    function editNotes() {
        $('#notes').toggle();
    }
    function editShippingMethod() {
        $('#delivery-requirements').fadeIn();
        $('#delivery-container').fadeIn();
        $('#pickup-container').fadeIn();
        var  inputHtml = '<input type="hidden" name="is_show_delivery" value="1" />';
        $('#delivery-address-form').append(inputHtml);
        $('#delivery-date-form').append(inputHtml);
    }
    <?php if ($this->is_show_delivery): ?>
        $(document).ready(function(){
            editShippingMethod();
        });
    <?php endif ?>
</script>
