<?php /* @var $item Admin_Model_Order_Item */ ?>
<?php $item = $this->item ?>
<?php $seller = $item->getSeller(); ?>
<div class="span6 border-right">
    <ul>
        <li>
            <h4>Seller</h4>
            <a href="<?php echo Ikantam_Url::getUrl('admin/users/view', array('id' => $seller->getId())); ?>">
                <?php echo $this->escape($seller->getFullName()); ?>
            </a>
        </li>

        <li>
            <?php if ($item->getPayout()->getIsProcessed()) : ?>
                Seller has been <strong>paid by bank transfer</strong>
            <?php else : ?>
                <?php if ($item->getPayout()->getIsPaidByCheck()) : ?>
                    Seller will be <strong>paid by check</strong>
                    (<a href="<?php echo Ikantam_Url::getUrl('admin/users/set-check-payout', array('item_id' => $item->getId(), 'status' => 0)); ?>">
                        undo
                    </a>)
                <?php else : ?>
                    Seller will be <strong>paid by bank transfer</strong>

                    (<a href="<?php echo Ikantam_Url::getUrl('admin/users/set-check-payout', array('item_id' => $item->getId(), 'status' => 1)); ?>">
                        pay by check
                    </a>)
                <?php endif; ?>
            <?php endif; ?>
        </li>

        <li>
            <p class="email-address gry">
                <i></i>
                <?php echo $this->escape($seller->getMainEmail()); ?>
            </p>
        </li>

        <li>
            <h4>Pick up Location <a style="font-weight:normal;" href="javascript:void(0);" onClick="editSellerAddress()">(edit)</a></h4>

            <div class="hidden" id="new_seller_address">
                <?php echo $this->partial('users/order/pick_up_form.phtml', 'admin', $this); ?>
            </div>
            <p class="dd-title dl-address">
                <?php echo nl2br($this->escape($this->formatAddress($item->getProduct()))); ?>
            </p>
        </li>


        <li id="pickup-container"  <?php if ($item->getShippingMethodId() != Order_Model_Order::ORDER_SHIPPING_METHOD_DELIVERY) : ?> style="display: none;"<?php endif ?>>
            <ul>
                <li>
                    <h4>Pick up Date
                        <?php if ($item->getStatus() == Order_Model_Order::ORDER_STATUS_PENDING): ?>
                            <a style="font-weight:normal;" href="javascript:void(0);"  onClick="editDate()">(edit)</a>
                        <?php endif; ?>
                    </h4>

                    <div class="alert alert-success pick-upd" style="max-width: 235px;">
                        <?php if ($item->getSellerDates()) : ?>
                            <?php echo $this->formatDate($item->getSellerDates()); ?>
                        <?php else : ?>
                            not specified
                        <?php endif; ?>

                        <?php if ($item->getStatus() == Order_Model_Order::ORDER_STATUS_PENDING) : ?>
                            <div class="hidden" id="new_seller_date">
                                <form action="<?php echo Ikantam_Url::getUrl('admin/users/edit-seller-date'); ?>" method="post">
                                    <input type="hidden" name="id" value="<?php echo $item->getId(); ?>" />

                                    <input type="text" style="background:white;" readonly="readonly" name="new_seller_date" value="<?php echo $this->datePickerInputValue($item->getSellerDates()); ?>" />

                                    <select class="form-field text-small p-6" id="1-time" name="new_seller_time">
                                        <option value="7-12"<?php if (trim(substr($item->getSellerDates(), 10)) == '7-12'): ?> selected="selected"<?php endif; ?>>7AM &ndash; 12PM</option>
                                        <option value="12-16"<?php if (trim(substr($item->getSellerDates(), 10)) == '12-16'): ?> selected="selected"<?php endif; ?>>12PM &ndash; 4PM</option>
                                        <option value="16-20"<?php if (trim(substr($item->getSellerDates(), 10)) == '16-20'): ?> selected="selected"<?php endif; ?>>4PM &ndash; 8PM</option>
                                    </select>

                                    <input type="submit" value="Save" />
                                </form>
                            </div>
                        <?php endif; ?>
                    </div>
                </li>

                <?php $sellerDeliveryOptions = $item->getSellerDeliveryOptions(); ?>

                <?php if (!empty($sellerDeliveryOptions['building_type'])) : ?>
                    <?php $buildingType = $sellerDeliveryOptions['building_type']; ?>
                    <li>
                        <h4>Building type</h4>

                        <?php if ($buildingType == 'walkup') : ?>
                            <p>Walk-up, flight #<?php echo $this->escape($sellerDeliveryOptions['flights_of_stairs']); ?></p>
                        <?php elseif ($buildingType == 'elevator') : ?>
                            <p>Elevator</p>
                        <?php endif; ?>
                    </li>
                <?php endif; ?>

                <?php if (!empty($sellerDeliveryOptions['paperwork_info'])) : ?>
                    <li>
                        <h4>Required paperwork information</h4>
                        <p><?php echo $this->escape($sellerDeliveryOptions['paperwork_info']); ?>o</p>
                    </li>
                <?php endif; ?>


            </ul>
        </li>
    </ul>
</div>

<?php if ($item->getStatus() == Order_Model_Order::ORDER_STATUS_PENDING) : ?>
    <script type="text/javascript">
        $("input[name='new_seller_date']").datepicker({
            dateFormat: 'M dd, yy',
            showOtherMonths: true,
            selectOtherMonths: true,
            showOn: "both",
            buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
            buttonImageOnly: true,
            prevText: "",
            nextText: ""
        });

        function editDate() {
            jQuery("#new_seller_date").removeClass("hidden");
        }
    </script>
<?php endif; ?>

<script type="text/javascript">
    function editSellerAddress() {
        jQuery("#new_seller_address").removeClass("hidden");
    }
</script>