<div class="container lv-container">
    <div class="apt-container sidebar-main">
        <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

        <div class="main all-posts">
            <header class="page-heading clearfix">
                <h2 class="pull-left"> <a href="#show-sidebar" class="show-mid apt-btn pull-left menu-mid"> <i class="ico-bars"></i></a> Emails and Alerts</h2>
            </header>
            <div class="clear"></div>
            <?php foreach ($this->session->getMessages() as $_type => $_messages) : ?>
                <?php foreach ($_messages as $_message): ?>
                    <div class="aptd-alert <?php echo $_type ?>">
                        <i class="apt-i-warning"></i>
                        <p><?php echo $_message ?></p>
                        <button type="button" class="dismiss" data-dismiss="alert">x</button>
                    </div>
                <?php endforeach ?>
            <?php endforeach; ?>
            <div class="clear"></div>
            <?php echo $this->form ?>

        </div>
    </div>
</div>
<!--/ wrap -->

<div class="clear"></div>