<?php //EMAIL_TEMPLATE: RED ?>
<!DOCTYPE html>
<html>
<head>
    <title>AptDeco</title>
    <title><?php  echo $this->subject; ?></title>
</head>

<body>
<div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)">
    <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Myriad Pro, Gill Sans, Gill Sans MT, Calibri, sans-serif; font-size: 16px; color: #666; line-height: 1.5;">
        <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
            <span><?php echo $this->title ?></span>
            <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
        </div>
        <div style="margin: 30px 20px;">

            <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"><img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/aptdeco-logo.png') ?>" alt="AptDeco" /></a></div>
        <div style="background: #f5f5f5; margin: 0 20px 0 20px; padding: 20px;">
            <?php echo nl2br($this->text); ?>

            <br/>
            <table style="background: #f9f9f9; width: 100%; margin: 0 0 25px 0; border: 1px solid #DFDEDE; border-collapse: collapse; border-space: 0; vertical-align: top;">
                <tr>
                    <td style="background: #fff; width: 30%; padding: 20px; border: 1px solid #DFDEDE;  vertical-align: top;">
                        <img src="<?php  echo $this->product->getMainImageUrl(); ?>" alt="<?php echo $this->product->getTitle() ; ?>" style="max-width: 100%; width: 100%; height: auto;" />
                    </td>
                    <td style="width: 70%; padding: 20px; border: 1px solid #DFDEDE; "> <a style="color: #B19046; text-decoration: none; font: normal 14px/100% Arial, sans-serif" href=""><?php  echo $this->product->getTitle(); ?></a>
        <span style="color: #666; font: normal 12px/100% Arial, sans-serif; display: block; margin-top:8px;">
            <?php echo $this->currency($this->product->getPrice()); ?>
        </span>
                    </td>
                </tr>
            </table>

            <!-- Red button -->
            <a href="<?php  echo Ikantam_Url::getUrl('user/sale/list/', array('act' => 'discount', 'id' => $this->product->getId(), 'percent' => 30, 'signature' => $this->product->getHashSignature()));?>" style="background: #da5b29; color: #fff; font: normal 16px/100% Arial, sans-serif; text-decoration: none; padding: 13px 22px; display: inline-block; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;">
                <strong>Give customers a 30% discount</strong></a>
        </div>
        <div style="padding: 0 20px 20px 20px;">
            <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 20px 0 0 0;">
                All the best, <br />
                The AptDeco Team
            </span>
        </div>
    </div>
</div>
</body>
</html>