<?php /* Пока не нужно
  <div class="control-group" id="seller_pay_shipping">

  <label class="control-label" for="shipping_cover">
  <i class="aperiod"></i>
  <span class="getPopmsg">Do you want to pay shipping?</span>
  <div class="popup-msg">
  <h3>Special offer</h3>
  <p>You can absorb delivery fee as a special offer.</p>
  </div>

  </label>
  <div class="controls">
  <div class="flside m-l37">
  <?php $this->element->shipping_cover->setChecked((bool)$this->element->shipping_cover->getValue()); ?>
  <div class="check-box<?php if ($this->element->shipping_cover->isChecked()): ?> checkedBox<?php endif; ?>">
  <?php echo $this->element->shipping_cover; ?>
  </div>Accept
  </div>
  </div>
  </div> */
?>
