<div class="loader-overlay"></div>
<div class="loader-container"><img src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" /></div>

<div class="container-fluid" id="container">

    <div class="apt-container">
        <h2 class="apt-title page">Add new item</h2>

        <?php foreach ($this->messages as $message) : ?>
            <div class="aptd-alert error">
                <i class="apt-icon-warning"></i>
                <p><?php echo $message; ?></p>
                <button type="button" class="dismiss" data-dismiss="alert">x</button>
            </div> 
        <?php endforeach; ?>

        <?php echo $this->form; ?>
        <?php if ($this->isNeedToShowQuiz): ?>
            <?php echo $this->partial('first_product_submission_quiz.js.phtml'); ?>
        <?php endif; ?>


        <div class="clear"></div>

        <div class="apt-form-action">
            <a href="javascript:void(0);" onclick="saveProduct()">Save</a>
            <button class="apt-btn prime" onclick="submitProduct()">Publish</button>
        </div>


    </div>
    <!--/ apt-container (new container) -->

    <div class="clear"></div>
    <div id="push"></div>
</div>
<?php echo $this->partial('add/add.new.js.phtml');?>
<?php echo $this->partial('add_edit.bottom.js.phtml', $this);?>