<?php /* @var $product Product_Model_Product */ ?>
<?php $product = $this->product ?>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://ww.facebook.com/offsite_event.php?id=6008487659099&amp;value=0.01&amp;currency=USD" /></noscript>

<div class="clear"></div>
<div class="container-fluid success-block" id="container">

    <div class="apt-container success-post-container clearfix">
        <div class="success-post-main">
            <div class="text-center">
                <img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/marker.png')?>" alt="AptDeco" />
                <h1>
                    Your item was <br />
                    successfully submitted!
                </h1>
                You have submitted your  <a href="<?php echo $product->getProductUrl()?>"><?php echo $this->escape($product->getTitle()) ?></a>.
            </div>

            <hr />

            <table class="product-table">
                <tr>
                    <td class="product-thumb">
                        <a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->escape($product->getTitle()) ?>"><img src="<?php echo $product->getMainImageUrl('medium')?>" alt="<?php echo $this->escape($product->getTitle()) ?>"></a>
                    </td>
                    <td>
                        <a href="<?php echo $product->getProductUrl() ?>" class="product-title m-b7 show" title="<?php echo $this->escape($product->getTitle()) ?>"><?php echo $this->escape($product->getTitle()) ?></a>
                        <p><span>
                                <?php echo $this->currency($product->getPrice()) ?>
                                <?php if ($product->getOriginalPrice() !== null): ?>
                                    <strike><?php echo $this->currency($product->getOriginalPrice()) ?></strike>
                                <?php endif ?>
                            </span></p>
                        <p><span><?php echo $product->getQty() ?> item(s)</span></p>
                    </td>
                </tr>
            </table>

            <hr />

            <h3>What's next</h3>
            <p>
                Your item will be approved or rejected within 24 hours. You'll receive an email either way.
                In the meantime, you can start improving your listing!
            </p>

            <hr />

            <h3>Here are some tips that work</h3>
            <ul class="bullet">
                <li>
                    Add more photos <a href="https://www.aptdeco.com/blog/simpe-tips-for-taking-awesome-photos-of-your-home" target="_blank"> -  Here are some tips for taking pro pictures</a></li>
                <li>
                    Add more information to reduce buyer questions. Buyers want to see:
                    <ul>
                        <li>Dimensions</li>
                        <li>If the item is smoke-free or pet-free</li>
                        <li>Brand</li>
                        <li>A link to the manufacturer's site for more information</li>
                    </ul>
                </li>
            </ul>

            <hr />

            <div class="text-center">
                <a href="<?php echo $this->getUrl('product/add/new') ?>" class="apt-btn default text-uc lrg">Add another item</a>
                <a href="<?php echo $this->getUrl('user/sale/list') ?>" class="apt-btn primary text-uc lrg">Manage my listings</a>
            </div>

        </div>

        <?php if ($this->session->getUserId()): ?>
            <div class="success-post-sidebar">


                <div class="sidebar-share-widget" style="cursor: pointer" onclick="showSharePopup('<?php echo $this->getUrl('user/share/popup', array('is_user' => 1)) ?>')">
                    <i class="apt-i-share"></i>
                    <br /><br />
                    Sell faster by sharing your profile with friends!
                </div>

                <div class="ad-widget hidden">
                    <div class="text-center">
                        <h4>Moving Soon?</h4>
                        <p>Get an estimate via Unpakt.</p>
                    </div>
                </div>

                <div id="unpakt-move-form"></div>
                <script>
                    (function(d) {
                        window._unpakt = {
                            affiliateUuid: "8019ec82-0b83-11e4-1da7-9bc051ec224c",
                            design: "aptdeco"
                        };
                        var script = d.createElement('script');
                        script.src = "////affiliates.unpakt.com/widget_loader/widget_loader.js"; d.body.appendChild(script);
                    })(document);
                </script>

                <!--  <div class="ad-widget">
                      <div class="text-center">
                          <h4>Moving Soon?</h4>
                          <p>Get an estimate via Unpakt.</p>
                      </div>
                  </div>-->
            </div>
        <?php endif ?>
    </div>
</div>
<div class="clear"></div>
<div class="loader-overlay"></div>
<div class="loader-container"><img src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" /></div>

<script type="text/javascript">
    function showOverlay() {
        $(".loader-overlay, .loader-container").show();
    }

    function hideOverlay() {
        $(".loader-overlay, .loader-container").fadeOut('slow');
    }
</script>