<table id="cart-items">
    <tr class="table-labels">
        <th colspan="4" align="right">Unit Price</th>
        <th>Qty</th>
        <th class="last">Subtotal</th>
    </tr>

    <?php foreach ($this->cart->getItems() as $item) : ?>
        <?php $_product = $item->getProduct(); ?>
        <?php $_seller  = $_product->getSeller(); ?>

        <tr data-price="<?php echo $this->escape($item->getProductPrice()); ?>">
            <td class="valign-mid">
                <button type="button" class="apt-btn classic del-btn" onclick="return removeItem(<?php echo $item->getId(); ?>, this)">
                    <i class="apt-icon-del m-0"></i>
                </button>
                <input
                    type="checkbox"
                    class="hide"
                    <?php if ($item->getIsActive()) : ?>checked="checked"<?php endif; ?>
                    name="items[<?php echo $item->getId(); ?>][is_active]">
            </td>

            <td class="cart-thumb">
                <img
                    src="<?php echo $this->escape($_product->getMainImage()->getS3Url(200, 200, 'crop')); ?>"
                    alt="<?php echo $this->escape($_product->getTitle()); ?>" />
            </td>

            <td>
                <h3>
                    <a href="<?php echo $this->escape($_product->getProductUrl()); ?>"><?php echo $this->escape($_product->getTitle()); ?></a>
                </h3>

                <ul>
                    <li>
                        <p>
                            Seller:
                            <a href="<?php echo $this->escape($_seller->getProfileUrl()); ?>">
                                <?php echo $this->escape($_seller->getFirstName()); ?>
                            </a>
                        </p>
                    </li>

                    <li>
                        <p>Condition: <?php echo $this->escape($_product->getConditionLabel()); ?></p>
                    </li>
                    <li class="visible-mobile"><p><strong><?php echo $this->currency($item->getProductPrice()); ?></strong></p></li>
                </ul>
            </td>

            <td align="right" class="no-bb-left hidden-mobile" style="vertical-align: middle;">
                <p><?php echo $this->currency($item->getProductPrice()); ?></p>
            </td>

            <td class="pickup-or-delivery no-bb-left">
                <?php if ($_product->getQty(1) > 1): ?>
                    <div class="qty-form">
                        <button type="button" class="decrease"><i></i></button>
                        <input type="text" name="items[<?php echo $this->escape($item->getId()); ?>][qty]" data-max_qty="<?php echo $_product->getQty() ?>" value="<?php echo $this->escape($item->getQty(1)); ?>" />
                        <button type="button" class="increase"><i></i></button>
                    </div>
                <?php else: ?>
                    <input type="hidden" name="items[<?php echo $this->escape($item->getId()); ?>][qty]" value="<?php echo $this->escape($item->getQty(1)); ?>" /> <?php echo $this->escape($item->getQty(1)); ?>
                <?php endif; ?>
            </td>

            <td class="pickup-or-delivery">
                <p>
                    <strong class="product-subtotal">
                        <?php echo $this->currency($item->getRowTotal()); ?>
                    </strong>
                </p>
            </td>
        </tr>        
    <?php endforeach; ?>
</table>