<?php if (count($this->suggestions) > 0) : ?>
    <div class="new-sidebar-widget clearfix">
        <h3 class="nw-heading">
            <img class="m-r7" src="<?php echo Ikantam_Url::getPublicUrl('assets/images/aptc.png'); ?>" alt="Save on Delivery" />
            Save on Delivery
        </h3>
        <p>
            Purchase additional items from the same seller and
            only pay <?php echo $this->currency(Shipping_Model_Rate::getRateForMultipleItems()); ?> per item for shipping
        </p>

        <?php foreach ($this->suggestions as $userId => $suggestion) : ?>

            <hr />

            <div class="small-thumb-list">
                <ul>
                    <?php $c = 1; ?>
                    <?php foreach ($suggestion as $product) : ?>
                    <li<?php if ($c % 4 === 0) : ?> class="m-r0"<?php endif; ?>>
                            <a href="<?php echo $this->escape($product->getProductUrl()); ?>" class="show">
                                <img src="<?php echo $this->escape($product->getMainImage()->getS3Url(360, 300, 'frame')); ?>" alt="<?php echo $this->escape($product->getTitle()); ?>">
                            </a>
                        </li>
                        <?php if (++$c > 16) break; ?>
                    <?php endforeach; ?>
                </ul>
            </div>

            <div class="clear"></div>

            <?php $user = new User_Model_User($userId); ?>
            
            <div class="clearfix">
                <div class="usner-media pull-left">
                    <div class="avatar-holder">
                        <div class="avatar"> 
                            <a href="<?php echo $this->escape($user->getProfileUrl()); ?>">
                                <img src="<?php echo $this->escape($user->getAvatarUrl()); ?>" alt="<?php echo $this->escape($user->getFirstName()); ?>">
                            </a>
                        </div>
                        <?php /* <i class="ico-check-mark small ttip" data-tooltip="Verified user"></i> */ ?>
                    </div>

                    <div class="usner-info">
                        <h4>
                            <?php echo $this->escape($user->getFirstName()); ?>
                        </h4>

                        <a href="<?php echo $this->escape($user->getProfileUrl()); ?>">
                            <?php printf('%d item%s', count($suggestion), (count($suggestion) == 1) ? '' : 's'); ?>
                        </a>
                    </div>
                </div>

                <div class="pull-right">
                    <?php if ($user->getRating()) : ?>
                        <?php $rating = (int) 4; //$featuredProduct->getSeller()->getRating(); ?>
                        <div class="rating">
                            <?php for ($i = 0; $i < 5 - $rating; $i++) : ?>
                                <i class="m-0 apt-icon-rstar"></i>
                            <?php endfor; ?>

                            <?php for ($i = 0; $i < $rating; $i++) : ?>
                                <span class="ico-star is-active"></span>
                            <?php endfor; ?>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>