<div class="loader-overlay"></div>
<div class="loader-container"><img src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" /></div>
<div class="container-fluid" id="container">

    <div class="apt-container">
        <h2 class="apt-title page">Edit "<?php echo $this->product->getTitle(); ?>"</h2>

        <?php foreach ((array)$this->messages as $message) : ?>
            <div class="aptd-alert error">
                <i class="apt-icon-warning"></i>
                <p><?php echo $message; ?></p>
                <button type="button" class="dismiss" data-dismiss="alert">x</button>
            </div> 
        <?php endforeach; ?>

        <?php echo $this->form; ?>

        <div class="clear"></div>

        <div class="clear"></div>
        <div class="apt-form-action">
            <button class="apt-btn prime" type="submit" onclick="jQuery('#submit-form').submit();">Save</button>
        </div>
        <?php if (isset($this->popup) && ($this->popup == 'available_period')): ?>
            <div class="apt-form">
                <div id="expire" class="modal apt-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <button type="button" class="apt-btn transparent x-btn" data-dismiss="modal" aria-hidden="true"> <i class="apt-i-x"></i> </button>
                    <h2>Please modify the sales window for Product Name</h2>
                    <form action="<?php echo Ikantam_Url::getUrl('product/edit/change-available-period-post', array('id' => $this->product->getId()))?>" method="post">
                        <!-- available-period -->
                        <div class="control-group">
                            <label class="block-lable">
                                <i class="aperiod"></i>
                                <span class="getPopmsg">Available period</span>
                                <span class="popup-msg">
                                    <span class="h3">Aailiable period</span>
                                    <span class="p">Specify dates when this product will be available for sale. Leave blank if you are not sure about it.</span>
                                </span>
                            </label>
                            <div class="block-fields">
                                <div class="fit-els fit">
                                    <div class="pull-left dp-holder first">
                                        <input type="text" name="available_from" id="datepicker3" class="datepicker" readonly />
                                    </div>
                                    <div class="pull-left m-rl5">
                                        <label class="inner-label mdash"> &#8212; </label>
                                    </div>
                                    <div class="pull-left dp-holder second">
                                        <input type="text" name="available_till" id="datepicker4" class="datepicker" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ available-period -->

                        <div class="apt-modal-action text-right">
                            <button type="submit" class="apt-btn prime lrg" >Save & Publish</button>
                            <a class="text-sm text-mute" href="" data-dismiss="modal" aria-hidden="true">Skip</a>
                        </div>
                    </form>
                </div>
            </div>
            <script type="text/javascript">
                (function($){
                    $(document).ready(function(){
                        $('#expire').modal('show')
                    });
                })(jQuery);
            </script>
        <?php endif ?>
    </div>
    <!--/ apt-container (new container) -->

    <div class="clear"></div>
    <div id="push"></div>
</div>
<?php echo $this->partial('add/add.new.js.phtml');?>
<?php echo $this->partial('add_edit.bottom.js.phtml', $this);?>