<div class="container lv-container">
    <div style="margin-top: 80px;"></div>

    <div class="apt-container checkout-contr main-sidebar">

        <div class="main" style="width: 100%;">

            <div class="checkout m-0">
                <header class="page-heading clearfix">
                    <h2 class="pull-left">My Shopping Cart</h2>
                </header>

                <div class="clear"></div>


                <div class="aptd-alert success">
                    <i class="apt-i-warning orange"></i>
                    
                    <p>You have no items in your shopping cart.</p>

                    <?php foreach ($this->messages as $message) : ?>
                        <p><?php echo $message; ?></p>
                    <?php endforeach; ?>
                </div>

                <div class="clear"></div>

                <div class="text-right">
                    <div class="hidden-mobile">
                        <a class="apt-btn def big-btn m-b10" href="<?php echo Ikantam_Url::getUrl('catalog/index'); ?>">
                            Continue Shopping
                        </a>
                    </div>

                    <div class="visible-mobile">
                        <a class="apt-btn def big-btn m-b10" href="<?php echo Ikantam_Url::getUrl('catalog/index'); ?>">
                            Continue Shopping
                        </a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>