<div class="container lv-container">
    <div class="apt-container checkout-contr main-sidebar">

        <div class="main">

            <div class="checkout m-0">
                <header class="page-heading clearfix">
                    <h2 class="pull-left">My Shopping Cart</h2>

                    <a class="apt-btn primary big-btn proceed-btn v-ctr-i pull-right hidden-mobile" href="<?php echo Ikantam_Url::getUrl('checkout/onestep'); ?>">
                        Proceed to Checkout
                        <i class="apt-i-arr white"></i>
                    </a>

                    <div class="clear"></div>
                </header>

                <div class="clear"></div>

                <?php if ($this->session->getMessages('error') || $this->session->getMessages('success')) : ?>
                    <div class="aptd-alert success">
                        <i class="apt-i-warning orange"></i>
                        <?php foreach ($this->session->getMessages('error') as $message) : ?>
                            <p><?php echo $message; ?></p>
                        <?php endforeach; ?>

                        <?php foreach ($this->session->getMessages('success') as $message) : ?>
                            <p><?php echo $message; ?></p>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>

                <div class="clear"></div>

                <?php echo $this->partial('index/index/items.phtml', 'cart', $this); ?>

                <h5 id="subtotal">
                    Subtotal: <?php echo $this->currency($this->cart->getSubtotal()); ?>
                </h5>


                <div class="text-right">
                    <div class="hidden-mobile">
                        <a class="apt-btn def big-btn m-b10" href="<?php echo Ikantam_Url::getUrl('catalog/index'); ?>">
                            Continue Shopping
                        </a>

                        <a class="apt-btn primary big-btn proceed-btn v-ctr-i  m-b10" href="<?php echo Ikantam_Url::getUrl('checkout/onestep'); ?>">
                            Proceed to Checkout <i class="apt-i-arr white"></i>
                        </a>
                    </div>

                    <div class="visible-mobile">
                        <a class="apt-btn def big-btn m-b10" href="<?php echo Ikantam_Url::getUrl('catalog/index'); ?>">
                            Continue Shopping
                        </a>

                        <a class="apt-btn primary big-btn proceed-btn v-ctr-i  m-b10" href="<?php echo Ikantam_Url::getUrl('checkout/onestep'); ?>">
                            Proceed to Checkout <i class="apt-i-arr white"></i>
                        </a>
                    </div>
                </div>
                <!--/ checkout --> 

            </div> 

        </div>


        <div class="sidebar">
            <?php echo $this->partial('index/index/suggestions.phtml', 'cart', $this); ?>
        </div>

    </div>
</div>

<script type="text/javascript">
    jQuery(".styled-checkbox").each(function() {
        jQuery(this).on("change", function() {
            calculateSubtotal();
        });

        var wrapperClass = "check-box";

        if (jQuery(this).attr("checked")) {
            wrapperClass += " checkedBox";
        }

        jQuery(this).wrap(jQuery("<div></div>", {"class": wrapperClass}));
    });

    jQuery('.check-box').on("click", function() {
        $(this).toggleClass('checkedBox');
        $(this).find(':checkbox').prop('checked', !$(this).find(':checkbox').prop('checked')).trigger('change');
    });

    var lastDeletedItem;

    checkAll();

    function checkAll()
    {
        var checkBoxes = jQuery(".cart-thumb .check-box input[type='checkbox']");
        var isChecked = false;

        checkBoxes.each(function() {
            if (jQuery(this).attr("checked")) {
                isChecked = true;
                return;
            }
        });

        if (isChecked) {
            jQuery("#checkall .selct").html("Unselect all");
            jQuery("#checkall .check-box").addClass("checkedBox");
            jQuery("#checkall input[type=checkbox]").attr("checked", true);
        } else {
            jQuery("#checkall .selct").html("Select all");
            jQuery("#checkall .check-box").removeClass("checkedBox");
            jQuery("#checkall input[type=checkbox]").attr("checked", false);
        }
    }


    function checkBoxes(element)
    {
        var checkBoxes = jQuery(".cart-thumb .check-box input[type='checkbox']");

        if (!jQuery(element).hasClass("checkedBox")) {
            checkBoxes.each(function() {
                jQuery(this).attr("checked", true);
                jQuery(this).parent().addClass("checkedBox");
                jQuery("#checkall .selct").html("Unselect all");
            });
            jQuery(element).addClass("checkedBox");
        } else {
            checkBoxes.each(function() {
                jQuery(this).attr("checked", false);
                jQuery(this).parent().removeClass("checkedBox");
                jQuery("#checkall .selct").html("Select all");
            });
            jQuery(element).removeClass("checkedBox");
        }

        calculateSubtotal();
        return true;
    }

    var inProcess = false;

    jQuery(document).on("click", "a.restore", function() {
        if (inProcess) {
            return;
        }

        jQuery.ajax({
            type: "get",
            dataType: "json",
            url: $(this).attr("href"),
            cache: false,
            timeout: 5000,
            success: function(data) {
                if (data.success && data.message) {
                    if (data.template) {
                        $('.container.lv-container').replaceWith(data.template);
                    } else {
                        jQuery("div.aptd-alert").html(data.message).show();
                        jQuery(lastDeletedItem).show();

                        var myButton = jQuery(lastDeletedItem).find(".cart-thumb .fieldwrap button.removeitem").first();

                        $(myButton).attr("onclick", "return removeItem(" + data.item_id + ", this)");

                        lastDeletedItem = null;
                    }
                    calculateSubtotal(null)
                } else {
                    alert(data.error);
                    jQuery(this).show();
                }
            },
            beforeSend: function()
            {
                inProcess = true;
                jQuery(this).hide();
            },
            error: function()
            {
                alert("An error occured. Please, try again later.");
                jQuery(this).show();
            },
            complete: function()
            {
                inProcess = false;
            }
        });

        return false;
    });

    function upAndDown(input, val) {

        var $tr = $(input).closest('tr'),
                price = parseFloat($tr.data('price')),
                subtotal = price * val;

        $tr.find('.product-subtotal').text('$' + (subtotal).formatMoney(2, '.', ','));
        calculateSubtotal(null);
    }

    $(document).ready(function() {
        $('#cart-items tr').each(function() {
            var $input = $(this).find('.qty-form input[type="text"]');
            $input.spinIt({
                parent: '.qty-form',
                up: '.increase',
                down: '.decrease',
                max: $input.data('max_qty'),
                min: 1,
                readOnly: true,
                onUp: upAndDown,
                onDown: upAndDown
            });
        });
    });


    var updateCartUrl = "<?php echo Ikantam_Url::getUrl('cart/index/update-items'); ?>";
    var removeItemUrl = "<?php echo Ikantam_Url::getUrl('cart/index/remove-item'); ?>";
    var isLoading = false;



    function calculateSubtotal()
    {
        if (isLoading) {
            return;
        }

        $.ajax({
            dataType: "json",
            url: updateCartUrl,
            data: jQuery("input[name*='items']").serialize(),
            async: true,
            type: "POST",
            beforeSend: function() {
                isLoading = true;
                //beforeSend();
            },
            success: function(data) {
                if (data.success && !data.error) {
                    jQuery("#subtotal").html("Subtotal: " + data.subtotal);
                    if (data.sidebar_template) {
                        $(".sidebar").html(data.sidebar_template);
                    } else {
                        $(".sidebar").html("");
                    }
                } else if (data.error) {
                    if (data.message) {
                        alert(data.message);
                    } else {
                        alert("Cannot update your shopping cart.");
                    }
                }
            },
            error: function() {
                alert("Cannot update your shopping cart.");
            },
            complete: function() {
                isLoading = false;
                checkAll();

                //complete();
            }
        });
    }

    function removeItem(id, element)
    {
        jQuery.ajax({
            dataType: "json",
            url: removeItemUrl,
            data: {id: id},
            async: true,
            type: "POST",
            cache: false,
            timeout: 5000,
            beforeSend: function()
            {
                jQuery(element).children("i").addClass("loading");
                jQuery(element).attr("disabled", true);
            },
            success: function(data) {
                if (data.success && data.message) {
                    if (data.template) {
                        $('.container.lv-container').replaceWith(data.template);
                    }

                    jQuery("div.aptd-alert").html(data.message).show();

                    lastDeletedItem = jQuery(element).closest('tr');
                    $(lastDeletedItem).hide();
                    calculateSubtotal()
                } else {
                    alert(data.error);
                }
            },
            error: function()
            {
                alert("An error occured. Please, try again");
            },
            complete: function()
            {
                jQuery(element).children("i").removeClass("loading");
                jQuery(element).attr("disabled", false);
            }
        });
        return false;
    }
</script>