<div class="intro-pattren">
	<div class="container-fluid">
		<div class="title">
			<h1>
                            Please create a password for your administrator account. Your email: <?php echo $this->email ?>
                        </h1>

		</div>

		<div id="sign-box" > 	
			<?php echo $this->form;?>
		</div>
	</div>
</div>