<!-- container -->
<div class="container-fluid" id="container"> 

    <!-- checkout -->
    <div class="checkout">
        <h2>Checkout</h2>

        <!-- checkout -->
        <div id="checkout"> 
            <?php echo $this->partial('checkout_process.phtml', 'checkout', $this); ?>

            <!-- shipping-address -->
            <div class="shipping-address"> 


                <!-- checkout-signin -->

                <div class="checkout-signin pull-left">
                    <form class="form-signin checkoutform" method="post"  id="sign-in" action="<?php echo Ikantam_Url::getUrl('user/login/post', array('redirect-success' => urlencode('checkout/shipping-method'), 'redirect-failure' => urlencode('checkout/guest/'))); ?>">
                        <h3>Sign in</h3>
                        <a href="<?php echo $this->facebookUrl; ?>" class="fb-sign"> <i></i> Sign in with Facebook </a>
                        <div class="or"><p>OR</p></div>
                        <?php if ($this->isSignIn): ?>    
                            <?php foreach ($this->session->getMessages('error') as $message) : ?>
                                <p class="invalid"><i></i><?php echo $message; ?></p>
                            <?php endforeach; ?>  
                        <?php endif; ?>

                        <?php if ($this->isSignIn): ?>     
                            <?php if ($msg = $this->session->getFormErrors('email')): ?>
                                <p class="invalid"><i></i><?php echo $msg; ?></p>
                            <?php endif; ?> 
                        <?php endif; ?>                        
                        <input type="email" name="email" class="input-block-level" placeholder="Email" />
                        <?php if ($this->isSignIn): ?>    
                            <?php if ($msg = $this->session->getFormErrors('password')): ?>
                                <p class="invalid"><i></i><?php echo $msg; ?></p>
                            <?php endif; ?>
                        <?php endif; ?>               
                        <input type="password" name="password" class="input-block-level" placeholder="Password">
                        <div class="check-box">
                            <input type="checkbox">
                        </div>
                        <p class="terms-agreement"> Remember me <a class="fgt-pass" href="<?php echo Ikantam_Url::getUrl('user/password/forgot'); ?>">Forgot password?</a>
                        <p>
                            <label>
                                <button class="btn sign-btn" type="submit">Sign in</button>
                            </label>
                        </p>
                    </form>
                </div>
                <!--/ checkout-signin --> 

                <!-- checkout-signin -->
                <div class="checkout-signin pull-left">
                    <form class="form-signin checkoutform" method="post" action="<?php echo Ikantam_Url::getUrl('registration/post'); ?>" >
                        <h3>Sign up</h3>
                        <a href="<?php echo $this->facebookUrl; ?>" class="fb-sign"> <i></i> Sign up with Facebook </a>
                        <div class="or"><p>OR</p></div>
                        <?php /* <p class="formtit">Create your account now</p> */ ?>

                        <?php if (!$this->isSignIn): ?>    
                            <?php foreach ($this->session->getMessages('error') as $message) : ?>
                                <p class="invalid"><i></i><?php echo $message; ?></p>
                            <?php endforeach; ?>  
                        <?php endif; ?>

                        <?php if (!$this->isSignIn): ?>           
                            <?php if ($msg = $this->session->getFormErrors('full_name')): ?>
                                <p class="invalid"><i></i><?php echo $msg; ?></p>
                            <?php endif; ?> 
                        <?php endif; ?>             
                        <input type="text" class="input-block-level" name="full_name" placeholder="Full name" <?php if (!$this->isSignIn): ?>value="<?php echo $this->session->getFormData('full_name'); ?>"<?php endif; ?> />
                        <?php if (!$this->isSignIn): ?>     
                            <?php if ($msg = $this->session->getFormErrors('email')): ?>
                                <p class="invalid"><i></i><?php echo $msg; ?></p>
                            <?php endif; ?> 
                        <?php endif; ?>             
                        <input type="email" class="input-block-level" name="email" placeholder="Email" <?php if (!$this->isSignIn): ?>value="<?php
                            if (!$msg) {
                                echo $this->session->getFormData('email');
                            }
                            ?>"<?php endif; ?> />
                        <?php if (!$this->isSignIn): ?>    
                            <?php if ($msg = $this->session->getFormErrors('password')): ?>
                                <p class="invalid"><i></i><?php echo $msg; ?></p>
                            <?php endif; ?>
                        <?php endif; ?>               
                        <input type="password" class="input-block-level" name="password" placeholder="Password"  <?php if (!$this->isSignIn): ?>value="<?php
                                   if ($this->session->getFormErrors('password_confirm') === User_Form_Registration::ERROR_PASSWORD_CONFIRMATION_EMPTY) {
                                       echo $this->session->getFormData('password');
                                   }
                                   ?>"<?php endif; ?> />
                        <?php if (!$this->isSignIn): ?>    
                            <?php if ($msg = $this->session->getFormErrors('password_confirm')): ?>
                                <?php if (!$this->session->getFormErrors('password')): ?>           
                                    <p class="invalid"><i></i><?php echo $msg; ?></p>
        <?php endif; ?>                
                            <?php endif; ?>
                        <?php endif; ?>               
                        <input type="password" class="input-block-level" name="password_confirm" placeholder="Confirm password" />

                        <input type="hidden" name="checkout_sign_up" value="1" />
                        <?php if (!$this->isSignIn): ?>    
    <?php if ($msg = $this->session->getFormErrors('terms')): ?> 
                                <p class="invalid"><i></i><?php echo $msg; ?></p>     
    <?php endif; ?>               
<?php endif; ?>
                        <div class="check-box">
                            <input name="terms" value="1" type="checkbox">
                        </div>
                        <p class="terms-agreement"> Agree to <a class="fgt-pass" href="#">Terms and Conditions</a> </p>

                        <label>
                            <button class="btn sign-btn" type="submit">Sign up</button>
                        </label>
                        <div class="clear"></div>
                    </form>
                </div>
                <!--/ checkout-signin -->           


            </div>
            <!--/ shipping-address -->

            <div class="clear"></div>
        </div>
        <!--/ #checkout --> 

    </div>
    <!--/ .checkout --> 

<?php echo $this->partial('checkout_sidebar.phtml', 'checkout', $this); ?>

</div>
<!--/ container -->

<div class="clear"></div>