<!-- container-fluid -->
<div class="container-fluid" id="container">

    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>
    <!-- mainContent -->
    <div class="mainContent static-content">
        <input type="text" placeholder="Type brand here" name="brand" id="input_brand" />
        <div class="clear"></div>
        <h2 style="display: block; margin-bottom: -20px;" id="header_ascn">Association list</h2>

        <input  name="ascn" id="input_ascn" />

    </div>
    <!-- /mainContent -->
    
</div>
<!-- /container-fluid -->
<script type="text/javascript">
    (function($, doc){
        
        $(doc).ready(function(){
            
            var currentId = null,
                $headerAscn = $('#header_ascn'),
                $tagsInput = $('#input_ascn'),
                isCleared = true ;
            
            $tagsInput.tagsInput({
                width : 'auto',
                height : '350px',
                defaultText : 'add new',
                onAddTag : function (tag) {
                   if(!currentId) {
                    alert('Before you add association, please select brand.');
                    $(this).removeTag(tag);
                   } else {
                        $.ajax({
                            url : '<?php echo Ikantam_Url::getUrl('admin/association/add'); ?>',
                            type : 'post',
                            data : {id : currentId, association : tag},
                            dataType : 'json',
                            success : function( data ) {
   
                            }
                        });
                   } 
                },
                
                onRemoveTag : function (tag) {
                    if(currentId) {
                        $.post('<?php echo Ikantam_Url::getUrl('admin/association/remove'); ?>', { id:currentId , association : tag });
                    }                    
               }                

            });
            
            $('#input_brand').autocomplete({
                delay : 300,
                source : function (rqst, response) {
                    
                    if(!isCleared) {
                        $headerAscn.text('Association list');
                        currentId = null ;
                        $tagsInput.importTags('');
                        isCleared = true;
                    }
                    $.ajax({
                        url : '<?php echo Ikantam_Url::getUrl('admin/association/brand-autocomplete'); ?>',
                        dataType : 'json',
                        data : {title : rqst.term},
                        type : 'post',
                        success : function (data) {
                            response($.map(data, function(item){
                                return {
                                    id : item.id,
                                    label : item.title,
                                    value : item.title
                                }
                            }));
                        }
                        
                    });
                },
                
                select : function(event, data) {
                    
                    currentId = data.item.id ;
                    isCleared = false;
                    $headerAscn.text('Association list: ' + data.item.value);
                    $.ajax({
                        url : '<?php echo Ikantam_Url::getUrl('admin/association/list') ?>',
                        dataType : 'json',
                        type : 'post',
                        data : {id : currentId},
                        success : function( data ) {
                            $tagsInput.importTags(data.join(','));
                        }
                    });        
                }
                
            });
        });
    })(jQuery, document)
</script>