<?php /*
  <form class="form-signin" id="sign-up" action="<?php echo Ikantam_Url::getUrl('user/signup/step-one-post'); ?>" method="post">
  <h2>Sign up</h2>

  <?php foreach ($this->session->getMessages('error') as $message) : ?>
  <p class="invalid" id="errors-password"><i></i><?php echo $message; ?></p>
  <?php endforeach; ?>

  <input name="email" type="email" class="input-block-level" placeholder="Email" value="<?php echo $this->session->getFormData('email'); ?>">

  <?php if ($this->session->getFormErrors('email')) : ?>
  <p class="invalid"> <i></i><?php echo $this->session->getFormErrors('email'); ?></p>
  <?php endif; ?>

  <label class="checkbox">
  <button class="btn sign-btn" id="sig-nup" type="submit">Sign up</button>
  <input type="checkbox" value="1" name="terms" <?php if ($this->session->getFormData('terms')) : ?>checked="checked"<?php endif; ?> />
  Agree to <a href="#">Terms and<br>Conditions</a>
  <br>
  </label>

  <?php if ($this->session->getFormErrors('terms')) : ?>
  <p class="invalid"> <i></i><?php echo $this->session->getFormErrors('terms'); ?></p>
  <?php endif; ?>

  <p class="join-now"> Have an account? <a id="signin" href="<?php echo Ikantam_Url::getUrl('user/login/index'); ?>">Sign in</a> </p>
  </form>



 */ ?>


















<form class="form-signup" id="sign-up" action="<?php echo Ikantam_Url::getUrl('user/signup/step-one-post'); ?>" method="post">
	<fieldset class="form-title">
		<h2>Sign up</h2>
	</fieldset>

	<fieldset class="form-errors">
		<?php foreach ($this->session->getMessages('error') as $message) : ?>
			<p class="invalid" id="errors-password"><i></i><?php echo $message; ?></p>
		<?php endforeach; ?>
	</fieldset>

	<fieldset>
		<input name="email" type="email" class="input-block-level" placeholder="Email" value="<?php echo $this->session->getFormData('email'); ?>">

		<?php if ($this->session->getFormErrors('email')) : ?>
			<p class="invalid"> <i></i><?php echo $this->session->getFormErrors('email'); ?></p>
		<?php endif; ?>
	</fieldset>

	<fieldset>

		<div style="float:left;width:18px;">
			<input type="checkbox" value="1" name="terms" <?php if ($this->session->getFormData('terms')) : ?>checked="checked"<?php endif; ?> />
		</div>

		<div style="float:left;width:160px;padding-left:10px;">
			<label class="checkbox" style="padding:0;">
				Agree to <a target="_blank" href="<?php echo Ikantam_Url::getUrl('terms/index'); ?>">Terms and Conditions</a>
			</label>
		</div>

		<div style="float:left;width:100px;">
			<button class="btn sign-btn" id="sig-nup" type="submit">Sign up</button>
		</div>

		<div style="clear:both; float:none;"></div>



		<?php if ($this->session->getFormErrors('terms')) : ?>
			<p class="invalid"> <i></i><?php echo $this->session->getFormErrors('terms'); ?></p>
		<?php endif; ?>
	</fieldset>

	<fieldset>
		<p class="join-now"> Have an account? <a id="signin" href="<?php echo Ikantam_Url::getUrl('user/login/index'); ?>">Sign in</a> </p>

	</fieldset>
</form>