<?php $url = 'http://www.facebook.com/dialog/oauth/?client_id=%s&redirect_uri=%s&state=%s&scope=%s'; ?>
<?php $fUrl = sprintf($url, $this->appId, $this->redirectUrl, '', $this->scope); ?>


<!-- intro-pattern -->
<div class="intro-pattren">
    <div class="container-fluid">
        <div class="title regi">
            <h3> <i></i> One more step to finish the registration</h3>
        </div>

        <!-- Register -->
        <div id="sign-box"> 	
            <form action="<?php echo Ikantam_Url::getUrl('user/signup/post'); ?>" method="post">
                <h2>Registration</h2>

                <?php foreach ($this->session->getMessages('error') as $message) : ?>
                    <p class="invalid" id="errors-password"><i></i><?php echo $message; ?></p>
                <?php endforeach; ?>
                    
                <a href="<?php echo $fUrl; ?>" class="fb-sign"> <i></i>Sign up via Facebook</a>
                
                <div class="or"><p>OR</p></div>
    
                <div class="clear"></div>
                    
                <input type="hidden" name="email" value="<?php echo $this->invitation->getEmail(); ?>" />

                <input class="input-block-level" style="color:#999999" type="text" disabled="disabled" value="<?php echo $this->invitation->getEmail(); ?>" />

                <input type="text" class="input-block-level" placeholder="Full name" name="full_name" value="<?php echo $this->session->getFormData('full_name'); ?>" />

                <?php if ($this->session->getFormErrors('full_name')) : ?>
                    <p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('full_name'); ?></p>
                <?php endif; ?>

                <input type="password" class="input-block-level" placeholder="Password" name="password" />

                <?php if ($this->session->getFormErrors('password')) : ?>
                    <p class="invalid" id="errors-password"> <i></i> <?php echo $this->session->getFormErrors('password'); ?></p>
                <?php endif; ?>

                
                <input type="hidden" name="code" value="<?php echo $this->invitation->getCode(); ?>" />

                <div style="clear:both;float:none;"></div>

                <div class="custom-checkboxs">
                    <div class="check-box<?php if ($this->session->getFormData('terms') == 'agreed') : ?> checkedBox<?php endif; ?>">
                        <input type="checkbox" value="agreed" name="terms" <?php if ($this->session->getFormData('terms') == 'agreed') : ?>checked="checked"<?php endif; ?>>
                    </div>
                </div>

                <label class="checkbox">
                    <span> I agree to AptDeco's <a href="<?php echo Ikantam_Url::getUrl('terms/index'); ?>" target="_blank">Terms of Use</a>, <a href="<?php echo Ikantam_Url::getUrl('privacy/index'); ?>" target="_blank">Privacy Policy</a> and <a href="<?php echo Ikantam_Url::getUrl('agreement/index'); ?>" target="_blank">Beta Agreement</a></span>
                    <button class="btn sign-btn" type="submit">Register</button>
                </label>

                <?php if ($this->session->getFormErrors('terms')) : ?>
                    <p class="invalid" id="errors-password"> <i></i> <?php echo $this->session->getFormErrors('terms'); ?></p>
                <?php endif; ?>
            </form>

        </div>
        <!--/ Register -->


    </div>
</div>