<div class="intro-pattren">
		<div class="container-fluid">
			<div class="title"></div>
			<div id="sign-box"> 	
                
                <?php foreach ($this->messages['success'] as $message) : ?>
                    <p class="success-signup"> <i></i><?php echo $this->escape($message); ?></p>
                <?php endforeach; ?>
                <?php foreach ($this->messages['error'] as $message) : ?>
                    <p class="invalid"> <i></i><?php echo $this->escape($message); ?></p>
                <?php endforeach; ?>    
                
                <form class="form-passcode" id="sign-in" action="<?php echo Ikantam_Url::getUrl('user/signup/passcode'); ?>" method="post">
					<h2>Passcode enter</h2>
					<p>Use your passcode to enter to AptDeco</p>
					<input type="text" class="input-block-level" placeholder="Passcode" name="passcode" value="<?php echo isset($this->formData['passcode']) ? $this->formData['passcode'] : ''; ?>" />
                    
                    <?php if (isset($this->formMessages['passcode'])) : ?>
                        <p class="invalid"> <i></i><?php echo $this->escape($this->formMessages['passcode']); ?></p>
                    <?php endif; ?>
                    
                    <input type="email" class="input-block-level" placeholder="Email" name="email" value="<?php echo isset($this->formData['email']) ? $this->formData['email'] : ''; ?>" />
                    
                    <?php if (isset($this->formMessages['email'])) : ?>
                        <p class="invalid"> <i></i><?php echo $this->escape($this->formMessages['email']); ?></p>
                    <?php endif; ?>
                    
					<label class="checkbox">
						<button class="btn sign-btn" type="submit"><strong>Enter</strong></button>
					</label>
				</form>			
			</div>
		</div>
	</div>