<script type="text/javascript">
    iKantam.namespace('checkout').err = <?php echo Zend_Json::encode($this->session->getMessages('error')); ?>;
</script>
<!-- container -->
<div class="container-fluid" id="container"> 

    <!-- checkout -->
    <div class="checkout">
        <h2>Delivery details</h2>
        
        <?php echo $this->partial('checkout_sidebar.phtml', 'checkout', $this); ?>

        <!-- checkout -->
        <div id="checkout">

            <?php echo $this->partial('checkout_process.phtml', 'checkout', $this); ?>
            
            <!-- shipping-details -->
            <div id="shipping-details">

                    <div class="dp-details">
                        <h4>Delivery items</h4>
                        <ul>
                            <?php foreach ($this->items as $item) : ?>
                                <li>
                                    <?php $_product = $item->getProduct(); ?>
                                    <a href="javascript:void(0);">
                                        <img src="<?php echo $_product->getMainImage()->getS3Url(200, 200, 'crop'); ?>" alt="item" />
                                    </a>
                                    <p>
                                        <?php echo $_product->getTitle(); ?>
                                        <span><?php echo $this->currency($_product->getPrice()); ?></span>
                                    </p>
                                </li>
                            <?php endforeach; ?>
                        </ul>

                        <?php foreach ($this->session->getMessages('error') as $message) : ?>
                            <p class="invalid" id="errors-password"><i></i><?php echo $message; ?></p>
                        <?php endforeach; ?>

                        <!-- shipping-form -->
                        <form id="delivery-dates-form" action="<?php echo Ikantam_Url::getUrl('checkout/delivery/post'); ?>" method="post">

                            <h4>Delivery Date</h4>

                                <p class="invalid" style="display: none;" id="warning-msg"><i></i></p>
                                <p class="dd-title">Select up to 3 delivery dates and times when you can receive your products.</p>


                                <!-- table slider -->
                                <div id="table-slider">
                                    <!-- slide navigation buttons -->
                                    <button id="slideTop"><i></i></button> 
                                    <button id="slideBottom"><i></i></button> 
                                    <!--/ slide navigation buttons -->

                                    <!-- delivery-dates-table -->
                                    <div id="delivery-dates-table"> 

                                        <div class="ddt-time">            
                                            <p class="time" data-time="1">8AM - 12PM</p>
                                            <p class="time" data-time="2">12PM - 4PM</p>
                                            <p class="time" data-time="3">4PM - 8PM</p>
                                        </div> 

                                        <div class="clear"></div>

                                        <div id="slidsContainer">
                                            <?php $count = 1; ?>
                                            <?php $i = 0; ?>
                                            <?php foreach ($this->tableDates as $date) : ?>
                                                <?php //for ($i = 0; $i < 30; $i++) : ?>
                                                <?php if ($i % 5 == 0) : ?>
                                                    <div class="slidWrap">           
                                                        <ul>
                                                        <?php endif; ?>
                                                        <li>
                                                            <div class="get-text"><?php echo $date['stringDate']; ?></div>

                                                            <div data-key="<?php echo $count; ?>" data-time="1">
                                                                <?php if ($date[0] == 1) : ?>
                                                                    <?php $isSelected = isset($this->selectedDates[1]) && is_array($this->selectedDates[1]) && in_array(date('Y-m-d', strtotime($date['stringDate'])), $this->selectedDates[1]); ?>
                                                                    <div class="check-box<?php if ($isSelected) : ?> checkedBox<?php endif; ?>">
                                                                        <input type="checkbox"<?php if ($isSelected) : ?>checked="checked"<?php endif; ?> name="delivery_dates[1][]" value="<?php echo date('Y-m-d', strtotime($date['stringDate'])); ?>" />
                                                                    </div>
                                                                <?php else : ?>
                                                                    N/A
                                                                <?php endif; ?>
                                                            </div>

                                                            <div data-key="<?php echo $count; ?>" data-time="2">
                                                                <?php if ($date[1] == 1) : ?>
                                                                    <?php $isSelected = isset($this->selectedDates[2]) && is_array($this->selectedDates[2]) && in_array(date('Y-m-d', strtotime($date['stringDate'])), $this->selectedDates[2]); ?>
                                                                    <div class="check-box<?php if ($isSelected) : ?> checkedBox<?php endif; ?>">
                                                                        <input type="checkbox"<?php if ($isSelected) : ?>checked="checked"<?php endif; ?> name="delivery_dates[2][]" value="<?php echo date('Y-m-d', strtotime($date['stringDate'])); ?>" />
                                                                    </div>
                                                                <?php else : ?>
                                                                    N/A
                                                                <?php endif; ?>
                                                            </div>

                                                            <div data-key="<?php echo $count; ?>" data-time="3">
                                                                <?php if ($date[2] == 1) : ?>
                                                                    <?php $isSelected = isset($this->selectedDates[3]) && is_array($this->selectedDates[3]) && in_array(date('Y-m-d', strtotime($date['stringDate'])), $this->selectedDates[3]); ?>
                                                                    <div class="check-box<?php if ($isSelected) : ?> checkedBox<?php endif; ?>">
                                                                        <input type="checkbox"<?php if ($isSelected) : ?>checked="checked"<?php endif; ?> name="delivery_dates[3][]" value="<?php echo date('Y-m-d', strtotime($date['stringDate'])); ?>" />
                                                                    </div>
                                                                <?php else : ?>
                                                                    N/A
                                                                <?php endif; ?>
                                                            </div> 
                                                        </li>
                                                        <?php if ($i % 5 == 4 || $i == count($this->tableDates) - 1) : ?>	
                                                        </ul>
                                                    </div> 
                                                <?php endif; ?>
                                                <?php $count++; ?>
                                                <?php $i++; ?>
                                                <?php //endfor; ?>
                                            <?php endforeach; ?>

                                        </div>
                                    </div>
                                    <!--/ delivery-dates-table -->  
                                </div>

                                <div class="get-wat-selected">
                                    <h4>You have selected</h4> 
                                </div>

                                <div class="clear"></div>


                                <h4>What is the best number we can reach you on to confirm delivery?</h4>
                                <p class="dd-title">
                                    <input type="text" class="numb-format delivery-phone-number" name="phone_number" value="<?php echo User_Model_Session::instance()->activeData('_checkout_phone'); ?>" placeholder="(___) ___ ____" />
                                </p>
                                <div class="clear"></div>

                                <h4>Building Type</h4>
                                <ul id="b-type">
                                    <li><div class="radio-btn elevator"><input type="radio" name="building_type" value="elevator"></div> <p>Elevator</p></li>
                                    <li><div class="radio-btn walk-up checkedRadio"><input type="radio" name="building_type" value="walkup" checked="checked"></div> <p>Walk up</p></li>
                                </ul>
                                <div class="clear"></div>

                                <div  class="stairs">
                                    <p class="dd-title">How many flights of stairs</p>
                                    <select name="flights_of_stairs">
                                        <option value="" selected="selected"></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="clear"></div>

                                <p class="dd-title">Does your building require any paperwork for delivery?</p>
                                <div class="doc-req">
                                    <div class="pull-left"> <div class="radio-btn"><input type="radio"></div> Yes </div>
                                    <div class="pull-left"> <div class="radio-btn checkedRadio"><input type="radio" checked="checked"></div> No </div>
                                    <div class="clear"></div>
                                    <div class="provide-more-info">
                                        <p class="dd-title">If yes, please provide some more info</p>
                                        <input type="text" name="paperwork_info" />
                                    </div>
                                </div>
                            </form>
                            <button disabled="disabled" type="submit" onclick="$('#delivery-dates-form').submit()" class="btn confirm pull-right" id="confirm-delivery">Confirm Delivery Dates</button>
                            <div class="clear"></div>



                        <!-- test -->

                        <div class="clear"></div>
                    </div>


                    <div class="clear"></div>
             


                
            </div>
            <!--/ shipping-details -->

        </div>
        <!--/ #checkout -->

    </div>
    <!--/ .checkout -->


</div>
<!--/ container -->

<div class="clear"></div>