<!-- container-fluid -->
<div class="container-fluid" id="container">
    <!-- sideWrapper -->
    <div id="sideWrapper"> 

		<?php echo $this->partial('sidebar.phtml', 'user', $this); ?>
    </div>
    <!--/ sideWrapper --> 

    <!-- mainContent -->
    <div class="mainContent" id="messages"> 

		<!-- user-actions -->
		<div id="user-actions">
			<button class="addnitem btn pull-right" onclick="window.location='<?php echo Ikantam_Url::getUrl('product/add/index'); ?>'"><i></i> Add new item </button>
			<h2>My items for sale</h2>

			<!-- msg-filter -->
			<div id="msg-filter"> 

				<!-- search my items -->
				<div class="input-append" id="filter-my-items">
					<input type="text"  id="filter-items" />
					<i class="icon-search"></i> 
					<!-- items-to-filter -->
					<div class="items-to-filter">
						<div id="wrapitems">
							<div id="scrollitems"></div>
						</div>
						<div id="mysales-items">
							<ul>
								<li><a href="#">Brand 1</a></li>
								<li><a href="#">Brand 2</a></li>
								<li><a href="#">Brand 3</a></li>
								<li><a href="#">Brand 4</a></li>
								<li><a href="#">Brand 5</a></li>
								<li><a href="#">Brand 6</a></li>
								<li><a href="#">Brand 7</a></li>
								<li><a href="#">Brand 8</a></li>
								<li><a href="#">Brand 5</a></li>
								<li><a href="#">Brand 6</a></li>
								<li><a href="#">Brand 7</a></li>
								<li><a href="#">Brand 8</a></li>
							</ul>
						</div>
					</div>
					<!--/ items-to-filter --> 

				</div>
				<!--/ search my items -->

				<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment">All Statuses</span> <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0);">Statuses</a></li>
						<li><a href="#">Published</a></li>
						<li><a href="#">Not Published</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment">All Categories</span> <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">Statuses</a></li>
						<li><a href="#">All messages</a></li>
						<li><a href="#">Unread</a></li>
					</ul>
				</div>
			</div>
			<!--/ msg-filter --> 

			<!-- my-items-datefilter -->
			<div class="filter-myitems">
				<ul>
					<li class="filterd"><a href="#">All</a></li>
					<li><a href="#">Month</a></li>
					<li><a href="#">Year</a></li>
					<li>
						<button type="button" id="dateButton1" class="dateButton"></button>
						<input type="text" id="datepicker4" class="datepicker" />
						<span class="mdash">&#8212;</span>
						<button type="button" id="dateButton2" class="dateButton"></button>
						<input type="text" id="datepicker5" class="datepicker" />
					</li>
				</ul>
			</div>
			<!--/ my-items-datefilter --> 

		</div>
		<!--/ user-actions -->
		<div class="clear"></div>

		<!-- table for descktop & tablet -->
		<table id="my-items-table" class="visible-desktop">
			<?php foreach ($this->items as $product) : ?>
				<tr>
					<td class="cart-thumb"><img style="width:113px !important; max-height: 113px !important;" src="<?php echo $product->getMainImageUrl(); ?>" alt="item" /></td>
					<td><h3><a href="<?php echo $product->getProductUrl(); ?>">
								<?php echo $product->getTitle(); ?></a></h3>
						<ul>
							<li>Sofa</li>
							<?php if ($product->getIsPickUpAvailable() && $product->getIsDeliveryAvailable()) : ?>
								<li>Pickup or Delivery</li>
							<?php elseif ($product->getIsPickUpAvailable()) : ?>
								<li>Pickup</li>
							<?php else : ?>
								<li>Delivery</li>
							<?php endif; ?>
							<li><?php echo $this->currency($product->getPrice()); ?></li>
						</ul></td>

						
						<?php if ($product->getIsPublished()) : ?>
							<td class="act to-unpub">
								<button class="publish un-publish" type="button" onclick="window.location='<?php echo Ikantam_Url::getUrl('user/sales/unpublish-item', array('id' => $product->getId())); ?>'">
									Unpublish
								</button>
							</td>
						<?php else : ?>
							<td class="act">
								<button class="publish" type="button"  onclick="window.location='<?php echo Ikantam_Url::getUrl('user/sales/publish-item', array('id' => $product->getId())); ?>'">
									Publish
								</button>
							</td>
						<?php endif; ?>

							<td class="take-act">
                                <button class="ed-i-tem" type="button" onclick="window.location='<?php echo $product->getEditUrl(); ?>'">Edit</button>
                                <?php /*<button class="delitem" type="button"  onclick="window.location='<?php echo Ikantam_Url::getUrl('user/sales/delete-item', array('id' => $product->getId())); ?>'"><i></i></button></td>*/ ?>
				</tr>
			<?php endforeach; ?>
		</table>
		<!--/ table for descktop & tablet --> 

		<!-- table for mobile -->
		<table id="myitems-table" class="hidden-desktop">
			<tr>
				<td><img src="images/item-1.png" alt="item" /></td>
				<td rowspan="2"><h3><a href="#">Bla Station - Fatback Sofa</a></h3>
					<ul>
						<li>Sofa</li>
						<li>Pickup</li>
						<li>$ 150</li>
					</ul>
					<button class="publish" type="button">Publish</button>
					<div class="clearfix"></div>
					<button class="ed-i-tem" type="button">Edit</button>
					<button class="delitem" type="button"><i></i></button></td>
			</tr>
			<tr></tr>
			<!--/ breaker -->

			<tr>
				<td><img src="images/item-1.png" alt="item" /></td>
				<td rowspan="2"><h3><a href="#">Bla Station - Fatback Sofa</a></h3>
					<ul>
						<li>Sofa</li>
						<li>Pickup</li>
						<li>$ 150</li>
					</ul>
					<button class="publish un-publish" type="button">Unpublish</button>
					<div class="clearfix"></div>
					<button class="ed-i-tem" type="button">Edit</button>
					<button class="delitem" type="button"><i></i></button></td>
			</tr>
			<tr></tr>
			<!--/ breaker -->

			<tr>
				<td><img src="images/item-1.png" alt="item" /></td>
				<td rowspan="2"><h3><a href="#">Bla Station - Fatback Sofa</a></h3>
					<ul>
						<li>Sofa</li>
						<li>Pickup</li>
						<li>$ 150</li>
					</ul>
					<p class="pact">Waiting for delivery</p>
					<div class="clearfix"></div>
					<button class="ed-i-tem" type="button">Edit</button>
					<button class="delitem" type="button"><i></i></button></td>
			</tr>
		</table>
		<!--/ table for mobile --> 

		<?php /*
		<!-- pagination -->
		<div class="pagination pagination-right">
			<ul>
				<li class="old-msgs"><a href="#"><i></i></a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li class="new-msgs"><a href="#"><i></i></a></li>
			</ul>
		</div>
		<!--/ pagination --> 
*/ ?>
    </div>
    <!--/ mainContent -->

    <div class="clear"></div>
</div>
<!--/ container-fluid -->
<div class="clear"></div>