<!-- checkout -->
<div class="checkout">
    <button class="proceed btn pull-right">Proceed to checkout <i></i> </button>
    <h2>Cart</h2>

    <div id="checkall">
        <div class="check-box checkedBox" id="selectAll"><input type="checkbox" id="selectAllCb" checked="checked" /></div> Select all</p>
        <span class="select">Select all</span>
    </div>
    <div class="alert" style="display: none;">
        has been deleted <a class="restore" href="#">Restore</a>
    </div>
    <form id="cart" method="post" action="<?php echo Ikantam_Url::getUrl('wishlist/index/post'); ?>">
        <table>
            <?php foreach ($this->cart()->getProducts()->getItems() as $_product): ?>
                <tr class="product-row">
                    <td class="cart-thumb">
                        <div class="fieldwrap">
                            <div class="check-box checkedBox">
                                <input type="checkbox" name="products[]" value="<?= $_product->getId(); ?>" checked="checked"/>
                                <input type="hidden" name="price" value="<?= $_product->getPrice(); ?>" />
                            </div>
                            <a class="removeitem" style="display: inline-block;" href="#" data-product="<?= $_product->getId(); ?>"><i></i></a>
                        </div>
                        <img style="width:130px" 
                             src="<?php echo Ikantam_Url::getPublicUrl('upload/products/' . $_product->getMainImage()->getPath()); ?>" 
                             alt="<?= $_product->getTitle(); ?>" />

                    </td>
                    <td>
                        <h3><?= $_product->getProductLink(); ?></h3>
                        <ul>
                            <li><p>Seller: <?php echo $_product->getUserLink(); ?></p></li>
                            <li><p>Condition: <b><?php echo $_product->getConditionLabel(); ?></b>
                                    <br /><?php echo $_product->getDescription(); ?></p></li>
                        </ul>
                    </td>
                    <td class="item-cost">
                        <h4><?php echo $this->currency($_product->getPrice()); ?></h4>   
                    </td>
                    <td class="pickup-or-delivery">
                        <p>
                            <i></i>
                            <?php if ($_product->getIsDeliveryAvailable() && $_product->getIsPickUpAvailable()) : ?>
                                <span>Pick up</span> or <span>Delivery</span>
                            <?php elseif ($_product->getIsDeliveryAvailable()) : ?>
                                <span>Delivery</span>
                            <?php elseif ($_product->getIsPickUpAvailable()) : ?>
                                <span>Pick up</span>
                            <?php endif; ?>
                        </p>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>

        <h5>Subtotal: <span id="subtotal"><?= $this->currency($this->cart()->getSubtotal()); ?></span></h5>

        <button class="proceed btn pull-right">Proceed to checkout <i></i> </button></form>
</div>
<!--/ checkout -->