<?php //EMAIL TEMPLATE: RED ?>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Aptdeco notification</title>
    </head>
    <body>
        <div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="welcome">
            <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">
                <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
                    <span>WELCOME</span>
                    <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
                </div>
                
                <div style="margin: 30px 20px;">
                    <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')) ?>">
                        <img src="<?php echo Ikantam_Url::getPublicUrl('images/aptdeco-email-logo.png') ?>" alt="AptDeco" />
                    </a>
                </div>
                
                <div style="background: #f5f5f5; margin: 0 20px 30px 20px; padding: 20px;"> Hi <?php echo $this->escape($this->user->getFirstName()); ?>,
                    <br />
                    <br />
                    

                    I see that you recently signed up to AptDeco - I wanted to reach out and introduce myself personally.
                    <br />
                    I'm Sateesh, Customer Experience Manager for AptDeco and I'm here to help you get started with our site. 
                    
                    <br />
                    <br />
                    
                    At AptDeco, our goal is simple.
                    We want to significantly upgrade and simplify the buying and selling of pre-owned furniture in NYC.
                    
                    <h3 style="font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
                        color: #333333; font-size: 20px; margin: 50px 0 10px 0; line-height: 100%; padding: 0;
                        font-weight: normal;">
                        <img style="float: left; margin-right: 10px;"
                            src="<?php echo Ikantam_Url::getPublicUrl('assets/images/email-template/chair.png'); ?>" alt="shop or post" />
                        Shop or post furniture
                    </h3>
                    
                    <p> Post your item or browse listings of gently used furniture finds by category or brand.
                        OR set an alert and get notified when something you want is listed. </p>
                    
                    
                    <h3 style="font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif; color: #333333;
                        font-size: 20px; margin: 50px 0 10px 0; line-height: 100%; padding: 0;
                        font-weight: normal;">
                        <img style="float: left; margin-right: 10px;"
                            src="<?php echo Ikantam_Url::getPublicUrl('assets/images/email-template/label.png'); ?>" alt="purchase" />
                        Purchase items with more payment options
                    </h3>
                    
                    <p> Reserve a product before someone else gets to it! Sellers have 24 hours to confirm item availability. </p>
                    
                    
                    <h3 style="font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif; color: #333333;
                        font-size: 20px; margin: 50px 0 10px 0; line-height: 100%; padding: 0; font-weight: normal;">
                        <img style="float: left; margin-right: 10px;"
                             src="<?php echo Ikantam_Url::getPublicUrl('assets/images/email-template/car.png'); ?>" alt="delivery" />
                        Have it delivered or pick up it
                    </h3>
                    
                    <p>
                        At AptDeco, we give you the option of utilizing our White Glove Delivery service for $65 flat rate in NYC.
                        If you're a fan of manual labor, you can also select to pick it up yourself.
                    </p>
                    
                    <h3 style="font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif; color: #333333;
                        font-size: 20px; margin: 50px 0 10px 0; line-height: 100%; padding: 0; font-weight: normal;">
                        <img style="float: left; margin-right: 10px; margin-top: -10px;"
                             src="<?php echo Ikantam_Url::getPublicUrl('assets/images/email-template/drink.png'); ?>" alt="relax" />
                        Relax!
                    </h3>
                    
                    <p>
                        We verify items at pick up to ensure that they are as listed.
                        Although it’s rare, issues do come up. When they do, we’re here to help.
                    </p>
                    
                    <h3 style="font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
                        color: #333333; font-size: 20px; margin: 50px 0 10px 0; line-height: 100%;
                        padding: 0; font-weight: normal;"> That's AptDeco!
                    </h3>
                        
                    <a href="<?php echo Ikantam_Url::getUrl('catalog/index'); ?>" style="border: 0; color: #fff; font-size: 16px; font-family: arial, sans-serif;
                       background-color: #DA5B29; text-decoration: none;padding: 7.5px 16px; border-radius: 3px;
                       margin: 10px 16px 0 0; display: inline-block;">
                        <strong style="font-weight: bold;">
                            Shop AptDeco
                        </strong>
                    </a>
                    
                    <a href="<?php echo Ikantam_Url::getUrl('user/login/index'); ?>" style="border: 0; color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #7f7f7f;
                       text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;">
                        <strong style="font-weight: bold;">Login to My Account</strong>
                    </a>
                </div>
                
                <div style="padding: 0 20px 20px 20px;">
                    <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 20px 0 0 0;">
                        For more information, check out <a href="<?php echo Ikantam_Url::getUrl('how-it-works/index'); ?>" style="color: #DA5B29">How It Works</a>
                        or give us a call at 347.619.2783. You can also reply to this e-mail and I'll be in touch to help answer any questions.
                        <br />
                        
                        Enjoy!
                        
                        <br />
                        <br />
                        <i style="width: 30px; height: 30px; border-radius: 100%; float: left; margin-right: 10px;">
                            <img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/email-template/avatar.png'); ?>" alt="Sateesh" /> </i>
                        <cite style="position: relative; top: 5px; font-style: normal;">Sateesh</cite>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>