<?php $url = $this->getUrlWithGaParams(BASE_ORDER_URL . '/product/edit/' . $this->product->getId(), array('popup' => 'available_period')); ?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aptdeco</title>
</head>
<body>

<div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="confirmation-listing">
    <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">
        <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
            <span>ALERT | Product Expiration</span>
            <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
        </div>
        <div style="margin: 30px 20px;"><a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"><img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/aptdeco-logo.png') ?>" alt="AptDeco" /></a></div>
        <div style="background: #f5f5f5; margin: 0 20px 30px 20px; padding: 20px;">
            Hi <a href="<?php  echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->seller->getId())); ?>" style="color: #D85927;text-decoration:none;"><?php echo $this->user->getFirstName(); ?></a>,
            <br>
            Your <a href="<?php echo $this->product->getProductUrl(); ?>" style="color: #D85927;text-decoration:none;"><strong style="font-weight: bold;"><?php echo $this->product->getTitle(); ?></strong></a> sale window is scheduled to expire on <a href="<?php echo Ikantam_Url::getUrl('user/sale/list'); ?>" style="color: #D85927;text-decoration:none;"><strong style="font-weight: bold;"><?php echo date('l, F j', $this->endDate); ?></strong></a>.
            When an item expires, it  is unpublished from our site. <br>
            <br>
            If you'd like extend the sale window past this date, you can <a href="<?php echo $url; ?>" style="color: #D85927;text-decoration:none;">update your posting</a> or select a button below.
            <br>

            <a href="<?php echo Ikantam_Url::getUrl('user/sale/extend-publication-period', array('id' => $this->product->getId(), 'days' => 7)); ?>" style="color: #fff; font-size: 14px; font-family: arial, sans-serif; background-color: #DA5B29; text-decoration: none;padding: 7.5px 10px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;"> <strong style="font-weight: bold;">Extend listing by 1 week</strong> </a>
            <a href="<?php echo Ikantam_Url::getUrl('user/sale/extend-publication-period', array('id' => $this->product->getId(), 'days' => 14)); ?>" style="color: #fff; font-size: 14px; font-family: arial, sans-serif; background-color: #DA5B29; text-decoration: none;padding: 7.5px 10px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;"> <strong style="font-weight: bold;">Extend listing by 2 weeks</strong> </a>
            <a href="<?php echo Ikantam_Url::getUrl('user/sale/update', array('id' => $this->product->getId(), 'updAction' => 'unpublish')); ?>" style="color: #fff; font-size: 14px; font-family: arial, sans-serif; background-color: #7f7f7f; text-decoration: none;padding: 7.5px 10px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;"> <strong style="font-weight: bold;">Unpublish listing</strong> </a>


        </div>
        <div style="padding: 0 20px 20px 20px;">
                    <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 20px 0 0 0;">
                        Cheers,
                        <br />
                        The AptDeco Team
                    </span>
        </div>
    </div>

</div>

</body>
</html>