<?php //EMAIL TEMPLATE: RED ?>
<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>
    <body>

    <div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="confirmation-listing">
        <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">
            <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
                <span></span>
                <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
            </div>
            <div style="margin: 30px 20px;"><a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"><img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/aptdeco-logo.png') ?>" alt="AptDeco" /></a></div>
            <div style="background: #f5f5f5; margin: 0 20px 30px 20px; padding: 20px;">


        <div class="container-fluid e-mail-noti"> 
            <?php echo nl2br($this->content); ?>
        </div>
                </div></div>
    </body>
</html>
