<footer id="footer">
    <div class="container-fluid">
        <ul>
            <li>
                <a href="<?php echo Ikantam_Url::getUrl('about/index'); ?>">About</a>
            </li>
            <li>
                <a href="<?php echo Ikantam_Url::getUrl('how-it-works/index'); ?>">How it works</a>
            </li>
            <li>
                <a href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>">FAQs</a>
            </li>
            <li>
                <a href="<?php echo Ikantam_Url::getUrl('returns/index'); ?>">Returns & Refunds</a>
            </li>
            <li>
                <a href="<?php echo Ikantam_Url::getUrl('terms/index'); ?>">Terms & Conditions</a>
            </li>
            <li>
                <a href="<?php echo Ikantam_Url::getUrl('privacy/index'); ?>">Privacy Policy</a>
            </li>
            <li>
                <a href="<?php echo Ikantam_Url::getUrl('blog/index'); ?>">Blog</a>
            </li>
            <li>
                <a href="<?php echo Ikantam_Url::getUrl('jobs/index'); ?>">Jobs</a>
            </li>
            <?php if(!Newsletter_Model_Email::isUserSubscribed()): ?>
            <li class="pull-right">
                <form class="form-subscription apt-form" action="<?php echo Ikantam_Url::getUrl('newsletter/index/subscribe'); ?>" method="get">
                    <div class="field-n-btn widget-footer">              
                        <input class="form-field" name="email" type="text" placeholder="Your email">
                        <button class="apt-btn primary" type="submit">Sign up</button>
                    </div>
                 </form>   
            </li>
            <?php endif; ?>            
        </ul>
        <?php if (isset($this->additionalLink)) : ?><div style="text-align:right;"><?php echo $this->additionalLink; ?></div><?php endif; ?>
    </div>

    <div class="copyright">
        <div class="container-fluid">
            <p>
                &copy; 2014 AptDeco, Inc. All Rights Reserved.
                Designed by <a href="http://www.ikantam.com/" target="_blank">iKantam</a>
            </p>	
        </div>
    </div>
</footer>
<?php if(!Newsletter_Model_Email::isUserSubscribed()): ?>
<script>
    jQuery(function($){
        $('.form-subscription').on('submit', function(event){
            event.preventDefault();
            var $form = $(this),
                $button = $form.find('button'),
                $input = $form.find('input');
                
                $.ajax({
                    url : $(this).attr('action'),
                    type : $(this).attr('method'),
                    data : $(this).serialize(),
                    dataType : 'json',
                    beforeSend : function(){
                        $input.removeClass('error-field');
                        $button.text('wait...');  
                    },
                    success : function(response) {
                        if(response.success){
                            $button.text('Done');
                            $('.form-subscription').slideUp();
                        }else{
                            $input.addClass('error-field');
                        } 
                    },
                    complete : function(){
                        $button.text('Sign up');  
                    }
                });
            return false;
        });
    });
</script>
<?php endif; ?>
