<div id="welcome-modal" class="modal apt-modal lrg-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <button type="button" class="apt-btn transparent x-btn" data-dismiss="modal" aria-hidden="true">
        <i class="apt-i-x"></i>
    </button>

    <div class="apt-modal-header text-center">
        <h2 class="apt-modal-title" id="modal-header"></h2>
    </div>

    <div class="apt-modal-body">

        <div class="apt-modal-pane">
            <h3 class="apt-title section">
                <span class="text-primary"><strong id="modal-header2"></strong></span>
            </h3>
            <p class="text-sm text-dgrey" id="modal-body">
            </p>
        </div>
    </div>
</div>

