<?php $curCon = isset($this->current_controller) ? $this->current_controller : '' ?>

<aside id="show-sidebar" class="aptcol-sm-3 main-sidebar hide-mid">
    <a href="#show-sidebar" class="show-mid apt-btn menu-mid"><i class="ico-bars"></i></a>

    <div class="apt-sidebar static-sidebar">
        <div class="sidebar-widget">
            <div class="static-menu"> 
                <ul>
                    <li<?php if ($curCon == 'how_it_works'): ?> class="active"<?php endif; ?>><a href="<?php echo $this->url(array('controller' => 'how-it-works'), 'default', true); ?>">How it works</a> </li>
                    <li<?php if ($curCon == 'about'): ?> class="active"<?php endif; ?>><a href="<?php echo $this->url(array('controller' => 'about'), 'default', true); ?>">About us</a> </li>
                    <li<?php if ($curCon == 'faq'): ?> class="active"<?php endif; ?>><a href="<?php echo $this->url(array('controller' => 'faq'), 'default', true); ?>">FAQ</a> </li>
                    <li<?php if ($curCon == 'blog'): ?> class="active"<?php endif; ?>><a href="<?php echo $this->url(array('controller' => 'blog'), 'default', true); ?>">Blog</a> </li>
                    <li<?php if ($curCon == 'jobs'): ?> class="active"<?php endif; ?>><a href="<?php echo $this->url(array('controller' => 'jobs'), 'default', true); ?>">Jobs</a> </li>
                </ul>
                <div class="sm-block">
                    <a href="<?php echo $this->url(array('controller' => 'returns'), null, true); ?>">Return & Refunds</a>
                    <a href="<?php echo $this->url(array('controller' => 'terms'), null, true); ?>">Terms & Conditions</a>
                    <a href="<?php echo $this->url(array('controller' => 'privacy'), null, true); ?>">Privacy Policy</a>
                </div>
            </div>
        </div>
</aside>