<div class="scrollable">
	<ul>
		<li><a href="<?php echo Ikantam_Url::getUrl('about/index'); ?>">About us</a></li>
		<li><a href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>">FAQ</a></li>
		<li><a href="<?php echo Ikantam_Url::getUrl('how-it-works/index'); ?>">How it works</a></li>
		<li><a href="<?php echo Ikantam_Url::getUrl('blog/index'); ?>">Blog</a></li>
		<li><a href="<?php echo Ikantam_Url::getUrl('returns/index'); ?>">Returns & Refunds</a></li>
		<li><a href="<?php echo Ikantam_Url::getUrl('terms/index'); ?>">Terms & Conditions</a></li>
		<li><a href="<?php echo Ikantam_Url::getUrl('privacy/index'); ?>">Privacy Policy</a></li>
	</ul>
</div>