<?php echo $this->partial('_transaction_fee_js.phtml', 'admin'); ?>
<!-- container-fluid -->
<style>

div.table-container {
   margin-bottom: 50px;     
}

table  {
    margin-top: 5px;
}

.edit-btn {
    background-color: #AAAAAA !important;
    width: 51px !important;
}

.th-fixed-width {
    width: 250px;
}

#individual-fee .th-fixed-width{
    width:385px;
}

.well {
    margin-top: 5px;
}

#individual-fee a { 
color: #B19047;
display: inline-block;
font-size: 14px;
}

.well table tr th{
   text-align: left; 
}

</style>
<div class="container-fluid" id="container"> 

    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

    <!-- mainContent -->
    <div class="mainContent static-content">
    <div class="table-container">
    <span class="label">Transaction fee from sellers</span>
        <table id="seller-fee" class="table table-striped">
        <tr><th>#</th><th class="th-fixed-width">Condition:</th><th class="th-fixed-width">Value:</th><th class="th-fixed-width">% Fee:</th><th>&nbsp;</th></tr>
        <?php $i = 1; foreach($this->sellerConditions as $condition): ?>
        <tr>
        <td><?php echo $i; ?></td>
        <td><?php echo $condition['operator']; ?></td>
        <td><?php echo $condition['value']; ?></td>
        <td><?php echo $condition['fee']; ?></td>
        <td><button type="button" class="close">&times;</button><button class="btn sndinv edit-btn">Edit</button></td>
        </tr>
        <?php $i++; endforeach; ?>        

        </table>
    <div style="margin-bottom: 10px;" class="check-box<?php echo (Application_Model_NVP::option('transaction_fee_from_sellers') ? ' checkedBox' : null); ?>">
        <input id="seller-fee-shipping-condition" type="checkbox"<?php echo (Application_Model_NVP::option('transaction_fee_from_sellers') ? ' checked="checked"' : null); ?> />
    </div> Don't charge transaction fee from sellers if shipping method is pick-up
    <div class="clear"></div>        
    <button class="btn sndinv" id="add-seller-fee">Add+</button>
    <div class="clear"></div>
    <div style="margin-top: 11px;">
    <span class="label">Test box</span>
    <div class="well">
    <table style="width: 100%;">
    <tr><th>Type sum here:</th><th>% Fee:</th><th>Sum exclude fee:</th></tr>
    <tr>
    <td><input id="comission_from_seller" type="text" name="test_seller_sum" /></td>
    <td><input type="text" name="fee_amount"  disabled="disabled"/></td>
    <td><input type="text" name="result"  disabled="disabled"/></td>
    </tr>
    <tr><td colspan="3"><button class="run-test btn sndinv" data-code="comission_from_seller">Calculate</button></td></tr>
    </table>    
    </div>
    </div>
    </div>
    
    <div class="clear"></div>
    <div class="table-cntainer">   
    <span class="label">Transaction fee from buyers</span>
        <table id="buyer-fee" class="table table-striped">
        <tr><th>#</th><th class="th-fixed-width">Condition:</th><th class="th-fixed-width">Value:</th><th class="th-fixed-width">% Fee:</th><th>&nbsp;</th></tr>
        <?php $i = 1; foreach($this->buyerConditions as $condition): ?>
        <tr>
        <td><?php echo $i; ?></td>
        <td><?php echo $condition['operator']; ?></td>
        <td><?php echo $condition['value']; ?></td>
        <td><?php echo $condition['fee']; ?></td>
        <td><button type="button" class="close">&times;</button><button class="btn sndinv edit-btn">Edit</button></td>
        </tr>
        <?php $i++; endforeach; ?>        

        </table> 
    <button class="btn sndinv" id="add-buyer-fee">Add+</button>  
    <div class="clear"></div>
    <div style="margin-top: 11px;">
    <span class="label">Test box</span>
    <div class="well">
    <table style="width: 100%;">
    <tr><th>Type sum here:</th><th>% Fee:</th><th>Sum exclude fee:</th></tr>
    <tr>
    <td><input id="comission_from_buyer" type="text" name="test_seller_sum" /></td>
    <td><input type="text" name="fee_amount"  disabled="disabled"/></td>
    <td><input type="text" name="result"  disabled="disabled"/></td>
    </tr>
    <tr><td colspan="3"><button class="run-test btn sndinv" data-code="comission_from_buyer">Calculate</button></td></tr>
    </table>    
    </div>
    </div> 
       
    </div>
    
   <!-- INDIVIDUAL --> 
        <div class="clear"></div>
     <div class="table-cntainer">   
    <span class="label">Individual fee:</span>
        <table id="individual-fee" class="table table-striped">
        <tr><th>#</th><th class="th-fixed-width">Seller:</th><th class="th-fixed-width">% Fee:</th><th>&nbsp;</th></tr>
        
        <?php $i = 1; foreach($this->individualOptions as $option): ?>
        <tr data-user="<?php echo $option['user_id']; ?>">
        <td><?php echo $i; ?></td>
        <td><a href="<?php echo $option['profile_url']; ?>"><?php echo $option['full_name']; ?></a><br /><span><?php echo $option['email']; ?></span></td>
        <td><?php echo $option['fee']; ?></td>
        <td><button type="button" class="close">&times;</button><button class="btn sndinv edit-btn">Edit</button></td></tr>
        <?php $i++; ?>
        <?php endforeach; ?>

        </table> 
    <button class="btn sndinv" id="add-individual-fee">Add+</button>
       
    </div>    
    
      
    </div>
    <div class="clear"></div>
    
</div>

<div class="clear"></div>

<script>
    jQuery(document).ready(function(){
        $('.check-box').click(function() {
            $(this).find(':checkbox').prop('checked', !$(this).find(':checkbox').prop('checked')).trigger('change');
            $(this).toggleClass('checkedBox');
        });
    });
</script>
