<!-- container-fluid -->
<div class="container-fluid" id="container"> 

    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

    <!-- mainContent -->
    <div class="mainContent" id="messages"> 

        <!-- user-actions -->
        <div id="user-actions"> 
            <h2>Transaction History</h2>

            <!-- msg-filter -->
            <div id="msg-filter"> 

                <div class="input-append" id="filter-my-items">
                    <form id="transactions-form" style="margin:0" method="get" action="<?php echo Ikantam_Url::getUrl('admin/transactions/index'); ?>">
                        <input type="text" name="order_id" style="width: 130px;" autocomplete="off" value="<?php echo $this->escape($this->order_id); ?>" placeholder="Order/Transaction #" />
                        <input type="text"  id="filter-items" name="q" autocomplete="off" value="<?php echo $this->escape($this->query); ?>" />
                        <i class="icon-search"></i> 
                        
                        <select name="status">
                            <option value='all'<?php if ($this->status == 'all') : ?> selected="selected"<?php endif; ?>>All Order Statuses</option>
                            <option value='holded'<?php if ($this->status == 'holded') : ?> selected="selected"<?php endif; ?>>Awaiting Seller Confirmation</option>
                            <option value='pending'<?php if ($this->status == 'pending') : ?> selected="selected"<?php endif; ?>>Sold - In Progress</option>
                            <option value='pending-delivery-date'<?php if ($this->status == 'pending-delivery-date') : ?> selected="selected"<?php endif; ?>>Sold in progress - pending delivery date</option>
                            <option value='canceled'<?php if ($this->status == 'canceled') : ?> selected="selected"<?php endif; ?>>Cancelled</option>
                            <option value='complete'<?php if ($this->status == 'complete') : ?> selected="selected"<?php endif; ?>>Completed</option>
                            <option value='disputed'<?php if ($this->status == 'disputed') : ?> selected="selected"<?php endif; ?>>Disputed</option>
                        </select>
                        
                        <input type="submit" value="Search" />
                    </form>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <!--/ user-actions -->
        <div class="clear"></div>

        <?php if ($this->products->getSize() > 0) : ?>
            <!-- inbox -->
            <div id="inbox" class="super-table">
                <table>

                    <tr>
                        <th class="ordr-numb">Order #</th>
                        <th class="ordr-numb" style="padding-left:0;width:9%;">Transaction #</th>
                        <th class="prod-name">Product Name</th>
                        <th class="prod-price">Price</th>
                        <th class="prod-price">Quantity</th>
                        <th>Summary price</th>
                        <th>Order Date</th>
                        <th>Delivery Method</th>
                        <th>Order Status</th>
                    </tr>

                    <?php foreach ($this->products as $item) : ?>
                        <?php $orderItem = new Order_Model_Item($item->getId()); ?>
                        <tr>
                            <td class="boxes ordr-numb">
                                #<?php echo $orderItem->getOrderId(); ?>
                            </td>
                            <td class="boxes ordr-numb">
                                 #<?php echo $orderItem->getId(); ?>
                            </td>
                            <td class="prod-name"><a href="<?php echo Ikantam_Url::getUrl('admin/users/order', array('id' => $orderItem->getId())); ?>"><?php echo $this->escape($orderItem->getProductTitle()); ?></a></td>
                            <td class="prod-price"><?php echo $this->currency($orderItem->getProductPrice()); ?> </td>
                            <td class="prod-price"> <?php echo $item->getQty('n/a'); ?></td>
                            <td class="ordr-date"> <?php echo $this->currency($orderItem->getProductPrice() * $item->getQty(1)); ?></td>
                            <td class="ordr-date"><?php echo date('M d, Y h:i A', $orderItem->getOrder()->getCreatedAt()); ?></td>
                            <td class="ordr-date">
                                <?php if ($orderItem->getShippingMethodId() == 'pickup') : ?>
                                    Pick Up by Customer
                                <?php else : ?>
                                    Delivery by AptDeco Partner
                                <?php endif; ?>
                            </td>
                            <td class="msg-date">
                                <?php if ($orderItem->getStatus() === Order_Model_Order::ORDER_STATUS_ON_HOLD) : ?>
                                    <p class="status in-progress" style="color: #000;">Awaiting Seller Confirmation</p>
                                <?php elseif ($orderItem->getStatus() === Order_Model_Order::ORDER_STATUS_PENDING) : ?>
                                    <?php if ($orderItem->getSellerDates() !== 'not-selected'): ?>
                                        <p class="status in-progress">Sold - In Progress</p>
                                    <?php else: ?>
                                        <p class="status in-progress"><strong>Sold in progress - pending delivery date</strong></p>
                                    <?php endif ?>
                                <?php elseif ($orderItem->getStatus() === Order_Model_Order::ORDER_STATUS_COMPLETE) : ?>
                                    <p class="status recived">Completed</p>                                
                                <?php elseif ($orderItem->getStatus() === Order_Model_Order::ORDER_STATUS_CANCELED) : ?>
                                    <p class="status recived" style="color:#FF0000 !important;">Cancelled</p>
                                <?php else : ?>
                                    N/A
                                <?php endif; ?>
                            </td>
                        </tr>

                    <?php endforeach; ?>
                </table>
                <div class="clear"></div>

                <?php if ($this->totalPages > 1) : ?>
                    <?php echo $this->partial('transactions/pagination.phtml', 'admin', $this); ?>
                <?php endif; ?>
            </div>
        <?php endif; ?>
    </div>

    <div class="clear"></div>
</div>
</div>
<div class="clear"></div>