<?php $params = array('module' => 'admin', 'controller' => 'transactions', 'action' => 'index', 'q' => $this->query, 'status' => $this->status); ?>

<?php $pagesC = 15; ?>
<div class="pagination pagination-right">
    <ul>
        <?php if ($this->currentPage > 1) : ?>
            <li class="old-msgs">
                <a href="<?php echo $this->url($params + array('page' => $this->currentPage - 1), 'default', false); ?>">
                    <i></i>
                </a>
            </li>
        <?php endif; ?>

        <?php $start = ($this->currentPage - $pagesC > 0) ? $this->currentPage - $pagesC : 1; ?>
        <?php for ($i = $start; $i < $this->currentPage; $i++) : ?>
            <li>
                <a href="<?php echo $this->url($params + array('page' => $i), 'default', false); ?>">
                    <?php echo $i; ?>
                </a>
            </li>
        <?php endfor; ?>

        <li>
            <a href="javascript:void(0);" style="color: #fff; background-color: #333;">
                <?php echo $this->currentPage; ?>
            </a>
        </li>

        <?php $finish = ($this->currentPage + $pagesC < $this->totalPages) ? $this->currentPage + $pagesC : $this->totalPages; ?>
        <?php for ($i = $this->currentPage + 1; $i <= $finish; $i++) : ?>
            <li>
                <a href="<?php echo $this->url($params + array('page' => $i), 'default', false); ?>">
                    <?php echo $i; ?>
                </a>
            </li>
        <?php endfor; ?>

        <?php if ($this->currentPage < $this->totalPages) : ?>
            <li class="new-msgs">
                <a href="<?php echo $this->url($params + array('page' => $this->currentPage + 1), 'default', false); ?>">
                    <i></i>
                </a>
            </li>
        <?php endif; ?>
    </ul>
</div>
