<?php echo $this->partial('_shipping_fee_js.phtml', 'admin'); ?>
<!-- container-fluid -->
<style>

div.table-container {
   margin-bottom: 50px;     
}

table  {
    margin-top: 5px;
}

.edit-btn {
    background-color: #AAAAAA !important;
    width: 51px !important;
}

.th-fixed-width {
    width: 250px;
}


.well {
    margin-top: 5px;
}

#individual-fee a { 
color: #B19047;
display: inline-block;
font-size: 14px;
}

.well table tr th{
   text-align: left; 
}

#rules-description {
    opacity: .3;
}

#rules-description:hover {
    opacity: 1;
}

</style>
<div class="container-fluid" id="container"> 

    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

    <!-- mainContent -->
    <div class="mainContent static-content">
    
     <div class="table-cntainer">   
    
    <span class="label">Shipping fee:</span>
        <table id="shipping-fee"  class="table table-striped table-hover">
        <tr><th>#</th><th class="th-fixed-width">Condition:</th><th class="th-fixed-width">Subtotal:</th><th class="th-fixed-width">$ Fee:</th><th>&nbsp;</th></tr>
        <?php $i = 1; foreach($this->SFCollection as $item): ?>
        <tr>
        <td><?php echo $i ?></td>
        <td><?php echo $item->getOperator(); ?></td>
        <td><?php echo $item->getSumOrLabel(); ?></td>
        <td><?php echo $item->getFullFeeString(); ?></td>
        <td>
        <button type="button" class="close">&times;</button>
        <button class="btn sndinv edit-btn">Edit</button>
        </td>
        </tr>
        <?php $i++; endforeach; ?>


        </table> 
        
    <button class="btn sndinv" id="add-fee">Add+</button>
       
    </div>
    <div class="clear"></div>
    <div style="margin-top: 11px;">
    <span class="label">Test box</span>
    <div class="well">
    <table id="test-box" style="width: 100%;">
    <tr><th>Type sum here:</th><th>Number of items:</th><th>$ Fee:</th></tr>
    <tr>
    <td><input type="text" name="sum" /></td>
    <td><input type="text" value="1" name="num" /></td>
    <td><input type="text" name="fee"  disabled="disabled"/></td>
    </tr>
    <tr><td colspan="3"><button id="test" class="btn sndinv" >Calculate</button></td></tr>
    </table>    
    </div>
    </div> 
    
    
<div class="alert alert-info"  id="rules-description" style="width: 95%;">
<h4>Rules explanation.</h4>
<p style="margin: 5px;">
You can specify the shipping cost for multiple items by entering values separated by commas.<br />
Last value will be applied to all other items behind the specified amount of values. <br />
Single value will be used as shipping price for all items.
</p>
<h5>For example:</h5>
<dl>
<dt>30, 10</dt><dd>$30 for the first item and $10 for all others</dd>
<dt>30, 10, 0</dt><dd>$30 for the first item, $10 for the second and free for all others</dd>
<dt>50</dt><dd>only $50 shipping fee. Equivalent to (50, 0)</dd>
<dt>50, 50</dt><dd>$50 for each item</dd>
</dl>
</div>    
</div>    
    
         
    </div>
    <div class="clear"></div>


<div class="clear"></div>
