<?php echo $this->partial('deliveryDates_js.phtml', 'admin'); ?>
<div class="container-fluid" id="container" xmlns="http://www.w3.org/1999/html">
    <?php echo $this->partial('sidebar.phtml', 'admin'); ?>
    <!-- mainContent -->
    <div class="mainContent" id="messages">
        <!-- user-actions -->
        <div id="user-actions">
            <h2>Pick Up & Delivery dates</h2>
        </div>
        <!--/ user-actions -->
        <div class="clear"></div>
        <!-- table slider -->
        <div class="admin">
            <div>
                <button id="slideTop2" onclick="prevPage()"><i></i></button>
                <button id="slideBottom2" onclick="nextPage()"><i></i></button>
                <table id="admin-pickup-and-delivery">
                    <thead>
                        <tr>
                            <th class="text-center" style="vertical-align: top;">Date</th>
                            <th class="text-center"><span>7AM-12AM</span>
                            <th class="text-center">Small</th>
                            <th class="text-center"><span>12AM-4PM</span>
                            <th class="text-center">Small</th>
                            <th class="text-center"><span>5PM-8PM</span>
                            <th class="text-center">Small</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php for ($rowIndex = 0; $rowIndex < $this->limit; $rowIndex++): ?>
                            <?php $page =  floor($rowIndex /  $this->rowsPerTable )+ 1 ?>
                            <tr class="row1 page-<?php  echo $page ?>" <?php if ($page > 1 ): ?> style="display: none;" <?php endif ?>  title="Pick Up" data-string_date="<?php echo $this->tablePickupDates[$rowIndex]['stringDate']; ?>">
                                <td rowspan="2"
                                    <?php if (strpos($this->tablePickupDates[$rowIndex]['stringDate'], 'Sat') !== false
                                        || strpos($this->tablePickupDates[$rowIndex]['stringDate'], 'Sun') !== false ): ?>
                                        class="text-error"
                                    <?php endif ?>
                                    >
                                    <?php echo $this->tablePickupDates[$rowIndex]['stringDate']; ?>
                                </td>
                                <?php for ($colIndex = 0; $colIndex <= 5; $colIndex++): ?>
                                    <td class=" <?php if ($colIndex % 2 == 0): ?>  not-small <?php  else: ?>  small  <?php endif ?>">
                                        <div data-method="pickup" title="Pick Up" class="check-box<?php if ($this->tablePickupDates[$rowIndex][$colIndex]): ?> checkedBox<?php endif; ?>">
                                            <input type="checkbox" <?php if ($this->tablePickupDates[$rowIndex][$colIndex]): ?> checked="checked"<?php endif; ?>>
                                        </div>
                                    </td>
                                <?php endfor ?>
                            </tr>
                            <tr class="row2 page-<?php  echo $page ?>" <?php if ($page > 1 ): ?> style="display: none;" <?php endif ?> title="Delivery" data-string_date="<?php echo $this->tableDeliveryDates[$rowIndex]['stringDate']; ?>">
                                <?php for ($colIndex = 0; $colIndex <= 5; $colIndex++): ?>
                                    <td class=" <?php if ($colIndex % 2 == 0): ?>  not-small <?php  else: ?>  small  <?php endif ?>">
                                        <div data-method="delivery" title="Delivery" class="check-box<?php if ($this->tableDeliveryDates[$rowIndex][$colIndex]): ?> checkedBox<?php endif; ?>">
                                            <input
                                                type="checkbox" <?php if ($this->tableDeliveryDates[$rowIndex][$colIndex]): ?> checked="checked"<?php endif; ?>>
                                        </div>
                                    </td>
                                <?php endfor ?>
                            </tr>
                        <?php endfor; ?>
                    </tbody>
                </table>
            </div>
    </div>
    <!--/ mainContent -->
</div>
<!--/ container-fluid -->
<div class="clear"></div>
<script type="text/javascript">
    page = 1;
    function prevPage() {
        if (page > 1) {
            page --;
            $('#admin-pickup-and-delivery tbody tr').hide();
            $('#admin-pickup-and-delivery tbody tr.page-' + page).show();
        }
    }
    function nextPage() {
        page ++;
        $('#admin-pickup-and-delivery tbody tr').hide();
        var rows = $('#admin-pickup-and-delivery tbody tr.page-' + page);
        if (!rows.length) {
            page -- ;
            rows = $('#admin-pickup-and-delivery tbody tr.page-' + page);
        }
        rows.show();
    }
</script>