<script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/jQuery-File-Upload-master/js/vendor/jquery.ui.widget.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/jQuery-File-Upload-master/js/jquery.iframe-transport.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/jQuery-File-Upload-master/js/jquery.fileupload.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/jCrop/jquery.color.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/jCrop/jquery.Jcrop.min.js'); ?>"></script>

<?php echo $this->partial('home_page_js.phtml', 'admin'); ?>	
<!-- container-fluid -->
<div class="container-fluid" id="container">  
    <?php echo $this->partial('sidebar.phtml', 'admin'); ?>	
    <!-- mainContent -->
    <div class="mainContent" id="messages"> 

        <!-- user-actions -->
        <div id="user-actions">
            <h2>Home page config</h2>
        </div>
        <!--/ user-actions -->
        <div class="clear"></div>

        <!-- home page config -->
        <div id="inbox" class="super-table hpage-config">

            <?php echo $this->partial('homepage/index/page_title.phtml', 'admin', $this); ?>
            <hr>
            <?php echo $this->partial('homepage/index/slider.phtml', 'admin', $this); ?>
            <hr>
            <?php echo $this->partial('homepage/index/featured_products.phtml', 'admin', $this); ?>
            <hr>
            <?php echo $this->partial('homepage/index/as_seen_in.phtml', 'admin', $this); ?>

            <h4>Featured seller</h4>

            <p class="parag">Product link</p>
            <input type="text" value="<?php if ($this->product) echo $this->product->getTitle(); ?>" class="product-link" id="homepage-product-link"/>
            <div class="clear"></div>
            <div class="gallery adming">

                <ul>
                    <li>
                        <?php if (!$this->background): ?>

                            <div class="ovelay hidden-desktop" id="prod-product-overlay">
                                <a class="removeitem" href="#" id="remove-product"><i></i></a> 		
                            </div>
                            <div id="product-upload-block">
                                <p class="img-condition" id="product-message">Image should be more 1280x1000</p>
                                <div  class="fileupload fileupload-new" data-provides="product-upload">
                                    <span  class="btn btn-file"> <span class="fileupload-new">Browse image</span> <span class="fileupload-exists">Change</span>
                                        <input id="product-upload" type="file" name="files[]" data-url="<?php echo Ikantam_Url::getUrl('admin/upload-image/home-background'); ?>" accept="image/*"/>
                                    </span> <span class="fileupload-preview"></span> <a href="#" class="close fileupload-exists" data-dismiss="product-upload" style="float: none">?</a> </div>
                            </div>
                            <img id="product-wait" src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" style="display: none;"/>
                            <img id="prod-background-preview" style="display: none;" src="#" />
                        <?php else: ?>

                            <div class="ovelay" id="prod-product-overlay">
                                <a class="removeitem" href="#" id="remove-product"><i></i></a> 		
                            </div>
                            <div id="product-upload-block" style="display: none;">
                                <p class="img-condition" id="product-message">Image should be more 1280x1000</p>
                                <div  class="fileupload fileupload-new" data-provides="product-upload">
                                    <span  class="btn btn-file"> <span class="fileupload-new">Browse image</span> <span class="fileupload-exists">Change</span>
                                        <input id="product-upload" type="file" name="files[]" data-url="<?php echo Ikantam_Url::getUrl('admin/upload-image/home-background'); ?>" accept="image/*"/>
                                    </span> <span class="fileupload-preview"></span> <a href="#" class="close fileupload-exists" data-dismiss="product-upload" style="float: none">?</a> </div>
                            </div>
                            <img id="product-wait" src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" style="display: none;"/>
                            <img id="prod-background-preview"  src="<?php echo $this->background; ?>" /> 
                        <?php endif; ?>

                    </li>
                </ul>
            </div>

            <div class="clear"></div>


            <h4>Featured blog</h4>

            <p class="parag">Blogpost link</p>
            <input type="text" value="<?php if ($this->blogPost) echo $this->blogPost; ?>" class="blogpost-link" id="homepage-blog-post-link"/>
            <div class="clear"></div>
            <div class="gallery adming">

                <ul>
                    <li>
                        <?php if (!$this->blogBackground): ?>

                            <div class="ovelay hidden-desktop" id="blog-overlay">
                                <a class="removeitem" href="#" id="remove-blog"><i></i></a> 		
                            </div>
                            <div id="blog-upload-block">
                                <p class="img-condition" id="blog-message">Image should be more 1280x1000</p>
                                <div  class="fileupload fileupload-new" data-provides="blog-upload">
                                    <span  class="btn btn-file"> <span class="fileupload-new">Browse image</span> <span class="fileupload-exists">Change</span>
                                        <input id="blog-upload" type="file" name="files[]" data-url="<?php echo Ikantam_Url::getUrl('admin/upload-image/home-blog-background'); ?>" accept="image/*"/>
                                    </span> <span class="fileupload-preview"></span> <a href="#" class="close fileupload-exists" data-dismiss="blog-upload" style="float: none">?</a> </div>
                            </div>
                            <img id="blog-wait" src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" style="display: none;"/>
                            <img id="blog-background-preview" style="display: none;" src="#" />
                        <?php else: ?>

                            <div class="ovelay" id="blog-overlay">
                                <a class="removeitem" href="#" id="remove-blog"><i></i></a> 		
                            </div>
                            <div id="blog-upload-block" style="display: none;">
                                <p class="img-condition" id="blog-message">Image should be more 1280x1000</p>
                                <div  class="fileupload fileupload-new" data-provides="blog-upload">
                                    <span  class="btn btn-file"> <span class="fileupload-new">Browse image</span> <span class="fileupload-exists">Change</span>
                                        <input id="blog-upload" type="file" name="files[]" data-url="<?php echo Ikantam_Url::getUrl('admin/upload-image/home-blog-background'); ?>" accept="image/*"/>
                                    </span> <span class="fileupload-preview"></span> <a href="#" class="close fileupload-exists" data-dismiss="blog-upload" style="float: none">?</a> </div>
                            </div>
                            <img id="blog-wait" src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" style="display: none;"/>
                            <img id="blog-background-preview"  src="<?php echo $this->blogBackground; ?>" /> 

                        <?php endif; ?>

                    </li>
                </ul>
            </div>

            <div class="clear"></div>



            <h4>Category images</h4>

            <div class="container-fluid mid-wrapper home-config-cols"> 
                <div id="category-container">
                    <div class="cats-configs" style="display: none;" id="category-template">
                        <select name="categories[]">
                            <?php foreach ($this->categories as $category): ?>
                                <option value="<?php echo $category->getId(); ?>"><?php echo $category->getTitle(); ?></option>
                            <?php endforeach; ?>                
                        </select>
                        <button class="removeitem"><i></i></button>

                        <div class="for-items">
                            <img class="indicon" src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" style="display: none;" >
                            <div class="category-img-preview-block" style="display: none;">
                                <div class="sloy"></div>
                                <div class="overlay"> 				
                                    <a class="chimage" href="#">Change image</a>  
                                </div>

                                <a href="#">
                                    <?php $cI            = $this->categories->getItems(); ?>
                                    <?php $firstCategory = array_shift($cI); ?>
                                    <h2>
                                        <?php echo $this->escape($firstCategory->getTitle()); ?>
                                    </h2>
                                    <i class="togoarr"></i> 

                                    <img src="#" alt="#" />
                                </a>
                            </div>
                            <div class="template-noimage">
                                <h2><?php echo $firstCategory->getTitle(); ?></h2>
                                <i class="togoarr"></i> 
                                <p class="img-condition">Image should be more 320x320</p>
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="btn btn-file"> <span class="fileupload-new">Browse image</span> <span class="fileupload-exists">Change</span>
                                        <input type="file" name="files[]" data-url="<?php echo Ikantam_Url::getUrl('admin/upload-image/home-category'); ?>" accept="image/*"/>
                                    </span> <span class="fileupload-preview"></span> <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">?</a> </div>
                            </div>
                        </div>
                    </div>

                    <?php foreach ($this->categoryTemplates as $categoryTmpl): ?>

                        <div class="cats-configs" >
                            <select name="categories[]" data-uid="<?php echo $categoryTmpl->getTmpUid(); ?>">
                                <?php foreach ($this->categories as $category): ?>
                                    <option <?php if ($categoryTmpl->getTitle() == $category->getTitle()): ?>selected="selected"<?php endif; ?> value="<?php echo $category->getId(); ?>"><?php echo $category->getTitle(); ?></option>
                                <?php endforeach; ?>
                            </select>
                            <button class="removeitem" data-uid="<?php echo $categoryTmpl->getTmpUid(); ?>"><i></i></button>

                            <div class="for-items">
                                <img class="indicon" src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" style="display: none;" >              

                                <div class="category-img-preview-block"<?php if (!$hasImage = (bool) $categoryTmpl->getTmpUrl()): ?> style="display: none;"<?php endif; ?>>
                                    <div class="sloy"></div>
                                    <div class="overlay"> 				
                                        <a class="chimage" href="#">Change image</a>  
                                    </div>

                                    <a href="#">
                                        <h2><?php echo $categoryTmpl->getTitle(); ?></h2>
                                        <i class="togoarr"></i> 
                                        <img src="<?php echo $categoryTmpl->getTmpUrl(); ?>" alt="<?php echo $categoryTmpl->getTitle(); ?>" />
                                    </a>
                                </div>           


                                <div class="template-noimage" <?php if ($hasImage): ?>style="visibility: hidden;"<?php endif; ?>>
                                    <h2><?php echo $categoryTmpl->getTitle(); ?></h2>
                                    <i class="togoarr"></i> 
                                    <p class="img-condition">Image should be more 320x320</p>
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <span class="btn btn-file"> <span class="fileupload-new">Browse image</span> <span class="fileupload-exists">Change</span>
                                            <input data-uid="<?php echo $categoryTmpl->getTmpUid(); ?>" type="file" name="files[]" data-url="<?php echo Ikantam_Url::getUrl('admin/upload-image/home-category', array('uid' => $categoryTmpl->getTmpUid())); ?>" accept="image/*"/>
                                        </span> <span class="fileupload-preview"></span> <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">?</a> </div>
                                </div>

                            </div>

                        </div>
                    <?php endforeach; ?>

                </div>			  


                <div class="clear"></div>
                <button class="proceed btn pull-left" id="add-category-btn">Add category</button>
                <div class="clear"></div>


                <style>
                    .brand-form
                    {
                        display: inline;
                    }
                </style>			  

                <h4>Brand images</h4>
                <div id="brand-container">

                    <div class="cats-configs" style="display: none;" id="brand-template">
                        <form class="brand-form">
                            <input class="brand-ac" placeholder="Enter brand name here..." style="width: 83%;"  type="text" name="brand"/>
                            <input type="hidden" value="<?php echo $this->firstBrand->getId(); ?>" name="brands[]" />
                            <i class="icon-search"></i>
                        </form>
                        <button class="removeitem"><i></i></button>

                        <div class="for-items">
                            <img class="indicon" src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" style="display: none;" >
                            <div class="category-img-preview-block" style="display: none;">
                                <div class="sloy"></div>
                                <div class="overlay"> 				
                                    <a class="chimage" href="#">Change image</a>  
                                </div>

                                <a href="#">
                                    <h2><?php echo $this->firstBrand->getTitle(); ?></h2>
                                    <i class="togoarr"></i> 

                                    <img src="#" alt="#" />
                                </a>                 
                            </div>
                            <div class="template-noimage">
                                <h2><?php echo $this->firstBrand->getTitle(); ?></h2>
                                <i class="togoarr"></i> 
                                <p class="img-condition">Image should be more 320x320</p>
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="btn btn-file"> <span class="fileupload-new">Browse image</span> <span class="fileupload-exists">Change</span>
                                        <input type="file" name="files[]" data-url="<?php echo Ikantam_Url::getUrl('admin/upload-image/home-brand'); ?>" accept="image/*"/>
                                    </span> <span class="fileupload-preview"></span> <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">?</a> </div>
                            </div>
                        </div>
                    </div>



                    <?php foreach ($this->brandTemplates as $brand): ?>
                        <div class="cats-configs" >
                            <form class="brand-form">
                                <input class="brand-ac" placeholder="Enter brand name here..." style="width: 83%;"  type="text" name="brand"/>
                                <input type="hidden" data-uid="<?php echo $brand->getTmpUid(); ?>" value="<?php echo $brand->getId(); ?>" name="brands[]" />
                                <i class="icon-search"></i>
                            </form>
                            <button class="removeitem" data-uid="<?php echo $brand->getTmpUid(); ?>"><i></i></button>

                            <div class="for-items">
                                <img class="indicon" src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" style="display: none;" >
                                <div class="category-img-preview-block" <?php if (!$brand->getTmpUrl(false)): ?>style="display: none;"<?php endif; ?>>
                                    <div class="sloy"></div>
                                    <div class="overlay"> 				
                                        <a class="chimage" href="#">Change image</a>  
                                    </div>

                                    <a href="#">
                                        <h2><?php echo $brand->getTitle(); ?></h2>
                                        <i class="togoarr"></i> 

                                        <img src="<?php echo $brand->getTmpUrl('#'); ?>" alt="<?php echo $brand->getTitle(); ?>" />
                                    </a>                 
                                </div>
                                <div class="template-noimage" <?php if ($brand->getTmpUrl(false)): ?>style="visibility: hidden;"<?php endif; ?>>
                                    <h2><?php echo $brand->getTitle(); ?></h2>
                                    <i class="togoarr"></i> 
                                    <p class="img-condition">Image should be more 320x320</p>
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <span class="btn btn-file"> <span class="fileupload-new">Browse image</span> <span class="fileupload-exists">Change</span>
                                            <input type="file" data-uid="<?php echo $brand->getTmpUid(); ?>" name="files[]" data-url="<?php echo Ikantam_Url::getUrl('admin/upload-image/home-brand', array('uid' => $brand->getTmpUid())); ?>" accept="image/*"/>
                                        </span> <span class="fileupload-preview"></span> <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">?</a> </div>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>


                </div>

                <div class="clear"></div>
                <button class="proceed btn pull-left" id="add-brand-button">Add Brand</button>
                <div class="clear"></div> 





                <div class="buttons-block">
                    <a class="preview" href="<?php echo Ikantam_Url::getUrl('admin/homepage/preview'); ?>" target="_blank">Preview</a>
                    <button class="proceed btn" id="publish-button">Publish</button>
                </div>
            </div>

            <div class="clear"></div>

            <div id="push"></div>
        </div>
    </div>        
</div>