<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="<?php echo Ikantam_Url::getPublicUrl('favicon.png'); ?>">
<!--[if IE]><link rel="SHORTCUT ICON" href="<?php echo Ikantam_Url::getPublicUrl('favicon.ico'); ?>"/><![endif]-->
        <title>Welcome to AptDeco</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="description" content="aptdeco">
        <meta name="author" content="aptdeco">
        <link href="<?php echo Ikantam_Url::getPublicUrl('css/core.css'); ?>" rel="stylesheet">
        <link href="<?php echo Ikantam_Url::getPublicUrl('css/bootstrap.css'); ?>" rel="stylesheet" media="screen">
        <link href="<?php echo Ikantam_Url::getPublicUrl('css/bootstrap-responsive.css'); ?>" rel="stylesheet">
        <link href="<?php echo Ikantam_Url::getPublicUrl('css/additional.css'); ?>" rel="stylesheet">

     
          <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
         

        <!--[if IE 9 ]><html class="ie9"> <![endif]-->
        <!--[if IE 8 ]><html class="ie8"> <![endif]-->
       
          <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
          <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
           
   
        <script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/custom.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/bootstrap.min.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/jQuery.dPassword.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/jcarousellite.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/cloud-zoom.1.0.2.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/zoom.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/maskedinput.min.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/jquery.tinyscrollbar.min.js'); ?>"></script>
        <script type="text/javascript">
            (function($, doc){
                $(doc).ready(function(){
                    $('#category-scroll').click(function(event){ 
                        event.preventDefault();
                        $('html,body').animate({
                            scrollTop: $(this.hash).offset().top
                        }, 1000);
                        return false;        
                    }); 
       
                    $('#brand-scroll').click(function(event){
                        event.preventDefault();
                        $('html,body').animate({		  
                            scrollTop: $(this.hash).offset().top
                        }, 1000);
                        return false;        
                    });       
                })//doc ready
            })(jQuery,document);
        </script>
    </head>

        <!-- wrap -->
        <div id="wrap"> 

            <?php echo $this->partial('header.phtml', 'default'); ?>

            <!-- secondary-menu -->

            <?php echo $this->partial('menu/secondary.phtml', 'default', $this); ?>

            <!--/ secondary-menu -->

            <div class="clearfix"></div>

            <!-- sell or buy background -->
			<div class="column">
            
            <div class="mobileimage homep" <?php if($this->background): ?>style="background: url('<?php echo $this->background; ?>'); background-position: 0 -155px; background-repeat: no-repeat;  background-size: cover;"<?php endif; ?>>
			<!-- only for IE -->
            <?php if($this->background): ?>
			<img class="bkie" src="<?php echo $this->background; ?>" alt="Item"/>
            <?php endif; ?>
			<!--/ only for IE -->
			
                <!-- transparent -->
                <div class="transp transp-home toptr"></div>
                <!--/ transparent -->			

                <!-- transparent -->
                <div class="transp transp-home bottom">

                    <div class="container-fluid mid-wrapper">

                        <div>
                            <a href="<?php echo Ikantam_Url::getUrl('pickup-delivery/index'); ?>">
                                <img src="<?php echo Ikantam_Url::getPublicUrl('images/small-car.png'); ?>" alt="FREE pick up & delivery" />
                                <h2>FREE pick up & delivery</h2>
                                <em>Valid for orders over $500 within New York City only</em>
                            </a>
                        </div>
                        <div class="seamless-secure">
                            <img src="<?php echo Ikantam_Url::getPublicUrl('images/small-locker.png'); ?>" alt="Seamless & Secure Transactions" />
                            <h2>Seamless & Secure Transactions</h2>
                        </div>

                    </div>

                </div>
                <!--/ transparent -->     

                <?php if ($this->product->getId()): ?>	 
                    <div class="container-fluid mid-wrapper">

                        <div class="home-user-block">
                            <a href="<?php echo $this->product->getSeller()->getProfileUrl(); ?>">
                                <img src="<?php echo $this->seller->getAvatarUrl(); ?>" alt="<?php echo $this->seller->getFirstName(); ?>" />
                            </a>
                            <h1 style="width:330px;"><a href="<?php echo $this->product->getProductUrl(); ?>"><?php echo $this->product->getTitle(); ?></a></h1>
                            <h2><?php echo $this->seller->getFirstName(); ?></h2>
                        </div>  
                    </div>
                <?php endif; ?>      



            </div>
            <!--/ sell or buy background --> 

            <div class="container-fluid mid-wrapper home-cols"> 
                <div id="shop-by-category">
                    <a class="shop-by-category" href="#featProdus">
                        <h2>Shop by Category</h2>
                        <i class="togoarr"></i> 
                        <img src="<?php echo Ikantam_Url::getPublicUrl('images/item-6.png'); ?>" alt="item" />
                    </a>
                </div>
                <div id="shop-by-brand" class="midBlock">
                    <a class="shop-by-brand" href="#featBrand">
                        <h2>Shop by brand</h2>
                        <i class="togoarr"></i> 
                        <img src="<?php echo Ikantam_Url::getPublicUrl('images/shopby-brand.png'); ?>" alt="item" />
                    </a>
                </div>
                <div id="sell-my-stuff">
                    <a href="<?php echo Ikantam_Url::getUrl('product/add/new'); ?>">
                        <h2>Sell my stuff</h2>
                        <i class="togoarr"></i> 
                        <img class="sell-my-stuff-img" src="<?php echo Ikantam_Url::getPublicUrl('images/list.png'); ?>" alt="item" />
                        <p class="sell-my-stuff-txt">Posting items to sell on AptDeco can't get any simpler.</p>
                    </a>
                </div>

            </div>

            <div id="featProdus"></div>
            <div class="container-fluid mid-wrapper home-cols feat-produs" id="categories"> 
                <hr class="dashs"></hr>
                <h4 class="ti-tle">Shop by category</h4>

                <?php $index = 2; ?>
                <?php foreach ($this->categories as $category): ?>
                    <?php if ($index == 3): ?>
                        <?php $index = 0; ?>
                        <div class="midBlock">
                        <?php else: ?>
                            <div>
                            <?php endif; ?>      
                            <a href="<?php echo $category->getCategoryUrl(); ?>">
                                <h2><?php echo $category->getTitle(); ?></h2>
                                <i class="togoarr"></i>
                                <?php if ($path = $category->getTmpUrl()): ?> 
                                    <img src="<?php echo $path; ?>" alt="<?php echo $category->getTitle(); ?>" />
                                <?php endif; ?>
                            </a>
                        </div> <?php $index++; ?>        
                    <?php endforeach; ?>
                </div>
                <div class="clear"></div>



                <div id="featBrand"></div>
                <div class="container-fluid mid-wrapper home-cols feat-brands" id="brands"> 
                    <hr class="dashs"></hr>
                    <h4 class="ti-tle">Featured brands</h4>


                    <?php
                    $index = 2;
                    foreach ($this->brands as $brand):
                        ?>
                        <?php if ($index == 3): ?>
                            <?php $index = 0; ?>
                            <div class="midBlock">
                            <?php else: ?>
                                <div>
                                <?php endif; ?>      
                                <a href="<?php echo $brand->getManufacturerUrl(); ?>">
                                    <h2><?php echo $brand->getTitle(); ?></h2>
                                    <i class="togoarr"></i>
                                    <?php if ($path = $brand->getTmpUrl()): ?> 
                                        <img  src="<?php echo $path; ?>" alt="<?php echo $brand->getTitle(); ?>" />
                                    <?php endif; ?>
                                </a>
                            </div> <?php $index++; ?>        
                        <?php endforeach; ?>      

                    </div>
                    <div class="clear"></div>
                    <div id="push"></div>
                </div>
				</div>
                <!--/ wrap -->

                <div class="totop"><a href="#top"> <i class="apt-i-bttop"></i> </a></div>

                <!-- footer -->
                <?php echo $this->partial('footer.phtml', 'default'); ?>
                <!--/ footer -->

                </body>
                </html>
