<?php $confUrl = Ikantam_Url::getUrl('user/order/set-available', array('id' => $this->item->getId())); ?>
<?php $product = $this->item->getProduct(); ?>

<?php $adress1 = $product->getPickupAddressLine1(); ?>
<?php $adress2 = $product->getPickupAddressLine2(); ?>
<?php $city    = $product->getPickupCity(); ?>
<?php $state   = $product->getPickupState(); ?>
<?php $zip     = $product->getPickupPostcode(); ?>
<?php $country = $product->getPickupCountryCode(); ?>

<?php if ($adress2) : ?>
    <?php $adr = sprintf('%s, %s, %s, %s %s %s', $adress1, $adress2, $city, $state, $zip, $country); ?>
<?php else : ?>
    <?php $adr = sprintf('%s, %s, %s %s %s', $adress1, $city, $state, $zip, $country); ?>
<?php endif; ?>

<div class="callout-box highlight m-t30">
    <h3>Is your <?php echo $this->escape($this->item->getProductTitle()); ?> still available for sale?</h3>
    <form class="apt-form m-0" id="des-form">
        <button class="apt-btn primary lrg" type="button" onclick="toggleForm();"><strong>Yes</strong> </button>
        <button class="apt-btn default lrg" type="button" onclick="setAvailable(0);"><strong>No</strong> </button>
    </form>
</div>

<div class="callout-box highlight m-t30 hidden">
    <h3>Just a bit of info to schedule your pick up.</h3>

    <form id="availability-form" class="apt-form m-0" method="post" action="<?php echo $confUrl; ?>">
        <input name="availabitily" type="hidden" />

        <h4><strong>Pick up Address</strong></h4>

        <div class="hidden-info">
            <p class="text-primary dark set-vis">
                <i class="pin-address"></i>
                <?php echo $this->escape($adr); ?>
            </p>
        </div>

        <h4><strong>Pick up Info:</strong></h4>

        <div class="control-group">
            <div class="block-fields">
                <div class="block-i phone-key">
                    <input class="form-field numb-format" type="text" name="phone_number" placeholder="What is your phone number?" />
                </div>
            </div>
        </div>

        <div class="control-group">
            <div class="block-fields">
                <div class="eq-fields">
                    <select class="form-field" name="building_type">
                        <option value="">--Building Type--</option>
                        <option value="elevator">Elevator</option>
                        <option value="walkup">Walk up</option>
                    </select>
                    <select class="form-field m-r0" name="flights_of_stairs">
                        <option value="">Number of stairs</option>
                        <?php for ($i = 1; $i < 11; $i++) : ?>
                            <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                        <?php endfor; ?>
                    </select>
                </div>
            </div>
        </div>

        <div class="control-group m-t15">
            <div class="doc-req">
                <div>
                    <p class="dd-title">Leave additional info here</p>
                    <textarea name="paperwork_info"></textarea>
                </div>
            </div>
        </div>

        <div class="control-group m-t20">
            <h4><strong>Pick up Date:</strong></h4>
            <p>Select date and time to pick up product.</p>
            <ul class="lis-pickd">
                <?php if (is_array($this->orderedDates)) : ?>
                    <?php foreach ($this->orderedDates as $_value => $orderedDate) : ?>
                        <li>
                            <div class="radio-btn">
                                <input type="radio" name="date" value="<?php echo $_value; ?>">
                            </div>
                            <small><?php echo $this->formatDate($orderedDate); ?></small>
                        </li>
                    <?php endforeach; ?>
                <?php else : ?>
                    <li>N/A</li>
                <?php endif; ?>
            </ul>
        </div>

        <div class="m-t30">
            <button type="button" class="apt-btn primary lrg"  onclick="setAvailable(1);">
                <strong>Save</strong>
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function toggleFlights() {
        if (jQuery('select[name="building_type"]').val() === "walkup") {
            jQuery('select[name="flights_of_stairs"]').show('slow');
        } else {
            jQuery('select[name="flights_of_stairs"]').hide('slow');
        }
    }

    toggleFlights();

    jQuery('select[name="building_type"]').on('change', toggleFlights);
</script>

<script type="text/javascript">
    var isSubmitted = false;
    var available_message = "Confirming request. Wait...";
    var unavailable_message = "Declining request. Wait...";

    function setAvailable(value)
    {
        var setter = function(){
            $('#availability-form input[name="availabitily"]').val(value);
            $('#availability-form').submit();
        };

        if (value) {
            setter();
        } else {
            iKantam.when('confirmation', function(confirm){
                confirm({
                    yes: setter,
                    message:  "Are you sure you'd like to cancel this purchase request?"
                }).show();
            });
        }
    }

    jQuery("form#availability-form").on("submit", function() {
        if (!isSubmitted) {
            isSubmitted = true;
        } else {
            return false;
        }

        if (jQuery('#availability-form input[name="availabitily"]').val() === "1") {
            jQuery("form#availability-form button").prop("disabled", true).html(available_message);
        } else {
            jQuery("form#des-form button").prop("disabled", true);
            jQuery("form#des-form button:nth-child(2) strong").html(unavailable_message);
        }

        return true;
    });

    function toggleForm()
    {
        jQuery("#des-form").parent().addClass("hidden");
        $("#availability-form").parent().removeClass("hidden");
    }
</script>