<?php $confUrl = Ikantam_Url::getUrl('user/order/set-available', array('id' => $this->item->getId())); ?>

<div class="callout-box highlight m-t30">
    <h3>You have a buyer! Please confirm that you would like to sell this item.</h3>

    <form class="apt-form m-0" method="post" id="availability-form" action="<?php echo $confUrl; ?>">
        <input name="availabitily" type="hidden" />

        <div class="m-t30">
            <button type="button" class="apt-btn primary lrg" onclick="setAvailable(1);">
                <strong>Accept Request</strong>
            </button>

            <button type="button" class="apt-btn default lrg" onclick="setAvailable(0);">
                <strong>Decline Request</strong>
            </button>
        </div>
    </form>
</div>

<script>
    var isSubmitted = false;
    var available_message = "Confirming request. Wait...";
    var unavailable_message = "Declining request. Wait...";

    function setAvailable(value)
    {
        $('#availability-form input[name="availabitily"]').val(value);
        $('#availability-form').submit();
    }

    jQuery("form#availability-form").on("submit", function() {
        if (!isSubmitted) {
            isSubmitted = true;
        } else {
            return false;
        }

        jQuery("form#availability-form button").prop("disabled", true);

        if (jQuery('#availability-form input[name="availabitily"]').val() === "1") {
            jQuery("form#availability-form button:nth-child(1) strong").html(available_message);
        } else {
            jQuery("form#availability-form button:nth-child(2) strong").html(unavailable_message);
        }

        return true;
    });
</script>