<script type="text/javascript">
(function(doc, $, win){
    
var Confirmation = function (elements) {
        
        this.elements = elements;
        this._window = undefined;
        this._elements = {};
        this.location = null;                
        this._init();     
};
    
    
    Confirmation.prototype = {
         defaultBody : '<p>Do you really want to delete this user?</p>', 
     
         _template : '<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">'
                    +'<div class="modal-header">'
                    +'<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>'
                    +'<h3 id="myModalLabel">Delete confirmation</h3>'
                    +'</div>'
                    +'<div class="modal-body">'                    
                    +'</div>'
                    +'<div class="modal-footer">'
                    +'<button id="confirm" class="btn btn-danger">Delete</button>'
                    +'<button id="cancel" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>'    
                    +'</div>'
                    +'</div>',
                       
        _init : function () {
          this._createWindow();
          $(this.elements).on('click', this._runModal.bind(this));
          $(this._elements.confirmButton).on('click', this._deleteUser.bind(this));  
        },
        
        _createWindow : function () {
            
            if(!this._window) {
             this._window = $(this._template); 
             this._elements.header = $(this._window).find('.modal-header');
             this._elements.body = $(this._window).find('.modal-body');
             this._elements.header = $(this._window).find('.modal-footer');
             this._elements.closeButton = $(this._window).find('#cancel');
             this._elements.confirmButton = $(this._window).find('#confirm');  
            }         
                     
        },
        
        _getWindow : function () {
            if(!this._window) {
                this._createWindow();
            }
            
            return this._window;
        },
        
        _runModal : function(e) {
            var $element = $(e.target);
                
            this.location = $element.attr('href');
            this._elements.executable = $element;
            
            this.addInformation(this._getInformationAboutUser());
            
            $(this._getWindow()).modal().show();
            return false;
        },
        
        addInformation : function (text) {
            this._elements.body.html(this.defaultBody + text);
        },
        
        _deleteUser : function () {
            
            win.location = this.location;
        },
        
        _getInformationAboutUser : function () { 
            var result = '',
                postData = this._getData();
                this._elements.executable.text('Please wait...');
            $.ajax({
                url     : '<?php echo Ikantam_Url::getUrl('admin/users/get-info-before-delete'); ?>',
                async   : false,
                data    : postData,
                type    : 'POST',
                dataType: 'json',
                context : this,
                success : function (response) {
                        this._elements.executable.text('Delete');
                        var i = response.length;
                        if(i) {
                            result = '<div class="alert">User have products involved in the transaction.</div>' 
                                    +'<table class="table table-hover table-striped">'
                                    +'<tr><th>Product:</th><th>Order</th></tr>';   
                        } 
                        for(i; i--;) { 
                        result += '<tr><td><a target="_balnk" href="'+response[i].productUrl+'">'+response[i].title+'</a></td>'
                                  +'<td><a target="_balnk" href="'+response[i].orderUrl+'">#'+response[i].orderId+'</a></td>';
                                  +'</tr>';  
                        }
                        if(i) {
                            result += '</table>';
                        }
                }  
            });         
           
           
           return result;     
        },
        
        _getData : function () {
            
            return {id : this._elements.executable.data('id')};   
        }
        
    }; 
    
    
   $(doc).ready(function(){
     var c = new Confirmation('.delete-user');

   })//doc
})(document, jQuery, window)
</script>