<script type="text/javascript">
 (function(doc, $){
 
 
 var Fee = function( parent, options) { 

    this.table = parent;
    this.items = [];
    this.options = options;    
    this._statuses = { tableLock : false, editMode : false, editData : {}, hightlight : false};
    this._operators = { 1 : '<' , 2 : '>', 3 : '=', 4 : 'always', 5 : 'default'};
    
    this._init();
 }    

 
 Fee.prototype = {
    _init : function(data) { 
        
       this.items = this.table.find('tr:not(tr:first)');
 
       $(this.table).on('click', this.options.editButton, this._edit.bind(this)); 
       $(this.table).on('click', this.options.deleteButton, this._delete.bind(this));
       $(this.table).on('click', this.options.saveButton, this._save.bind(this));
       $(this.options.addButton).on('click', this._add.bind(this));
       $(this.table).on('change', '.select-condition', this._select.bind(this)); 

       this._hightlight();
        
    },
    
    addItem : function (item){ 
       this.items.push(item); 
    },
    
    _createRow : function () { 
        var row = document.createElement('tr');
            $(row).html(
        '<td>'+ (this.items.length + 1) +'</td><td><select class="select-condition">'+
        '<option  value="1">subtotal &lt; (less than)</option><option name="condition" value="2">subtotal &gt; (greater than)</option>'+
        '<option  value="3">subtotal = (equals to)</option>'+
        '<option  value="4">always (ignore other conditions)</option>'+
        '<option  value="5">default (if nothing found)</option>'+
        '</select></td><td><input name="cond_value" type="text" value=""/></td>'+
        '<td><input name="fee_value" type="text" value=""/></td>'+
        '<td><button style="display:none;" type="button" class="close">&times;</button><button class="btn sndinv save-fee">Save</button></td>');
        return $(row);
    },
    _edit : function (e) { 
        if(this._statuses.tableLock) {
            return false;
        }    
      var $row = $(e.target).closest('tr');        
      this._statuses.editMode = true;
      this._lockTable();
      this._transformRowForEdit($row);
    },
    
    _add : function() { 
        if(!this._statuses.tableLock) {
            var row = this._createRow();
            this.addItem(row);
            $(this.table).append(row);
            this._toggleTableLock();                
        } 

    },
    
    _select : function (e) {
      
      var option =  $(e.target).val(),
          valInput = $(e.target).closest('tr').find('input[name="cond_value"]');
          if(option == 4 || option == 5) {
            valInput.val('any').attr('disabled', 'disabled');
          } else {
            valInput.val('').attr('disabled', false);
          }
          
 
    },
    
    _delete : function (e) {
        
        var $row = $(e.target).closest('tr'),
            data = {
                        condition : {
                            operator : $row.find('td:nth-child(2)').text(),
                            value    : $row.find('td:nth-child(3)').text()
                                    },
                        code : this.options.code
                   },
            link  = this;            

            
            $.post('<?php echo Ikantam_Url::getUrl('admin/transactions/delete-shipping-fee'); ?>', data, function(response){
                response = $.parseJSON(response);
                if(response.success) {
                    $row.remove();
                    link._refreshNumbers();
                    link._hightlight();
                }
            });       

    },
    
    _save : function (e) { 

        var $row = $(e.target).closest('tr'),
            link = this,
            data = this._rowToObject($row),
            action = '<?php echo Ikantam_Url::getUrl('admin/transactions/add-shipping-fee'); ?>';
 
            if(this._statuses.editMode) {
               action = '<?php echo Ikantam_Url::getUrl('admin/transactions/edit-shipping-fee'); ?>';
               data.editData = this._statuses.editData; 
            } 
            $.post(action,
                    data,
                    function(response) { 
                        response = $.parseJSON(response);
                        if(response.success) { 
                           link._transformRow($row, data);
                           link._unlockTable(); 
                           link._statuses.editMode = false;
                           link._hightlight();
                        } 
                    }
            );//post
            return false;
        
    },
    
    _toggleTableLock : function () { 
        this._statuses.tableLock = !this._statuses.tableLock;
    },
    
    _lockTable : function () { 
        this._statuses.tableLock = true;
    },
    
    _unlockTable : function () { 
        this._statuses.tableLock = false;
    },
    
    _transformRow : function (row, data) { 
       $(row).find('select').closest('td').text(data['operator']);
       $(row).find('input[name="cond_value"]').closest('td').text(data['sum']);
       $(row).find('input[name="fee_value"]').closest('td').text(data['fee']);
       $(row).find('.save-fee').removeClass('save-fee').addClass('edit-btn').text('Edit').siblings('.close').show(); 
    },
    
    _transformRowForEdit : function (row) {
        
      var $newRow = $(this._createRow()),
          conditionValue = $(row).find('td:nth-child(3)').text(),
          $conditionInput = $newRow.find('input[name="cond_value"]') ;
      
      $newRow.find('select option[value="'+this.getKey(this._operators, $(row).find('td:nth-child(2)').text())+'"]').attr('selected', true);
      $conditionInput.val(conditionValue);
      if(conditionValue == 'any') {
        $conditionInput.attr('disabled', 'disabled');        
      }
      $newRow.find('input[name="fee_value"]').val($(row).find('td:nth-child(4)').text());
      $newRow.find('td:first').text($(row).find('td:first').text());
      this._statuses.editData = this._rowToObject($newRow);
      $(row).empty().append($newRow.children());
        
    },
    
    _refreshNumbers : function () { 
        this.items = this.table.find('tr:not(tr:first)');
        for(var i = this.items.length; i--;) {
          $(this.items[i]).find('td:first').text(i+1);
        }
    },
    
    getKey : function (object, value) {
        for(var i in object) {
            if(object[i] === value) {
                return i;
            }      
        }
       return undefined;
    },
    
    _rowToObject : function (row) { 
       var $row = row, 
           data = {
               operator : this._operators[$row.find('select option:selected').val()],
               sum : $row.find('input[name="cond_value"]').val(),
               fee : $row.find('input[name="fee_value"]').val()
                  };
       return data;            
    },
    
    _hightlight : function () { 
        var $row = this.table.find('td:contains("always")').closest('tr'),
            $default = this.table.find('td:contains("default")').closest('tr');
         
         if($default.length) {
            $default.addClass('warning');
         } else  {
            this.table.find('tr').removeClass('warning');
         }   
            
        if($row.length) { 
          this.table.find('tr').not($row).not('tr:first').find('td').css('opacity', '0.3');
          $row.addClass('success');
          this._statuses.hightlight = true;  
        } else {
            if(this._statuses.hightlight) {
                this.table.find('td').css('opacity', '1');
                this.table.find('tr').removeClass('success');
                this._statuses.hightlight = false;
            } 
        }
    }
 }//     
    
    $(doc).ready(function(){

            var shipping_fee_options = {
                   editButton : '.edit-btn', 
                   deleteButton : '.close', 
                   saveButton : '.save-fee', 
                   addButton : '#add-fee'
                   
                                    },                                    
           shipping = new Fee($('#shipping-fee'), shipping_fee_options),
           $testBox = $('#test-box');
//TEST BOX

$('#test').click(function(){
    
    $.post('<?php echo Ikantam_Url::getUrl('admin/transactions/test-shipping-fee'); ?>', {sum : $testBox.find('input[name="sum"]').val(), num : $testBox.find('input[name="num"]').val()}, function(response){
       response = $.parseJSON(response);
       $testBox.find('input[name="fee"]').val(response.fee); 
    });
});           

        
    })//doc
 })(document, jQuery)
</script>