<script type="text/javascript">
(function(doc, $){
 var Fee = function( parent, options) { 

    this.table = parent;
    this.items = [];
    this.options = options;    
    this._statuses = { tableLock : false, editMode : false, editData : {}, hightlight : false};
    this._operators = { 1 : '<' , 2 : '>', 3 : '=', 4 : 'true'};
    
    this._init();
 }
 
 Fee.prototype = {
    _init : function(data) { 
        
       this.items = this.table.find('tr:not(tr:first)');
 
       $(this.table).on('click', this.options.editButton, this._edit.bind(this)); 
       $(this.table).on('click', this.options.deleteButton, this._delete.bind(this));
       $(this.table).on('click', this.options.saveButton, this._save.bind(this));
       $(this.options.addButton).on('click', this._add.bind(this));
       $(this.table).on('change', '.select-condition', this._select.bind(this)); 

       this._hightlight();
        
    },
    
    addItem : function (item){ 
       this.items.push(item); 
    },
    
    _createRow : function () { 
        var row = document.createElement('tr');
            $(row).html(
        '<td>'+ (this.items.length + 1) +'</td><td><select class="select-condition">'+
        '<option  value="1">sum &lt; (less than)</option><option name="condition" value="2">sum &gt; (greater than)</option>'+
        '<option  value="3">sum = (equals to)</option>'+
        '<option  value="4">always (ignore other conditions)</option>'+
        '</select></td><td><input name="cond_value" type="text" value=""/></td>'+
        '<td><input name="fee_value" type="text" value=""/></td>'+
        '<td><button style="display:none;" type="button" class="close">&times;</button><button class="btn sndinv save-fee">Save</button></td>');
        return $(row);
    },
    _edit : function (e) { 
        if(this._statuses.tableLock) {
            return false;
        }    
      var $row = $(e.target).closest('tr');        
      this._statuses.editMode = true;
      this._lockTable();
      this._transformRowForEdit($row);
    },
    
    _add : function() { 
        if(!this._statuses.tableLock) {
            var row = this._createRow();
            this.addItem(row);
            $(this.table).append(row);
            this._toggleTableLock();                
        } 

    },
    
    _select : function (e) {
      
      var option =  $(e.target).val(),
          valInput = $(e.target).closest('tr').find('input[name="cond_value"]');
          if(option == 4) {
            valInput.val('any').attr('disabled', 'disabled');
          } else {
            valInput.val('').attr('disabled', false);
          }
          
 
    },
    
    _delete : function (e) {
        
        var $row = $(e.target).closest('tr'),
            data = {
                        condition : {
                            operator : $row.find('td:nth-child(2)').text(),
                            value    : $row.find('td:nth-child(3)').text()
                                    },
                        code : this.options.code
                   },
            link  = this;            

            
            $.post('<?php echo Ikantam_Url::getUrl('admin/transactions/delete-condition'); ?>', data, function(response){
                response = $.parseJSON(response);
                if(response.success) {
                    $row.remove();
                    link._refreshNumbers();
                    link._hightlight();
                }
            });       

    },
    
    _save : function (e) { 

        var $row = $(e.target).closest('tr'),
            link = this,
            data = this._rowToObject($row),
            action = '<?php echo Ikantam_Url::getUrl('admin/transactions/add-fee-condition'); ?>';
            data.code = this.options.code;
            if(this._statuses.editMode) {
               action = '<?php echo Ikantam_Url::getUrl('admin/transactions/edit-fee-condition'); ?>';
               data.editData = this._statuses.editData; 
            } 
            $.post(action,
                    data,
                    function(response) { 
                        response = $.parseJSON(response);
                        if(response.success) { 
                           link._transformRow($row, data);
                           link._unlockTable(); 
                           link._statuses.editMode = false;
                           link._hightlight();
                        } 
                    }
            );//post
            return false;
        
    },
    
    _toggleTableLock : function () { 
        this._statuses.tableLock = !this._statuses.tableLock;
    },
    
    _lockTable : function () { 
        this._statuses.tableLock = true;
    },
    
    _unlockTable : function () { 
        this._statuses.tableLock = false;
    },
    
    _transformRow : function (row, data) { 
       $(row).find('select').closest('td').text(data['operator']);
       $(row).find('input[name="cond_value"]').closest('td').text(data['condition_val']);
       $(row).find('input[name="fee_value"]').closest('td').text(data['fee_val']);
       $(row).find('.save-fee').removeClass('save-fee').addClass('edit-btn').text('Edit').siblings('.close').show(); 
    },
    
    _transformRowForEdit : function (row) {
        
      var $newRow = $(this._createRow()),
          conditionValue = $(row).find('td:nth-child(3)').text(),
          $conditionInput = $newRow.find('input[name="cond_value"]') ;
      
      $newRow.find('select option[value="'+this.getKey(this._operators, $(row).find('td:nth-child(2)').text())+'"]').attr('selected', true);
      $conditionInput.val(conditionValue);
      if(conditionValue == 'any') {
        $conditionInput.attr('disabled', 'disabled');        
      }
      $newRow.find('input[name="fee_value"]').val($(row).find('td:nth-child(4)').text());
      $newRow.find('td:first').text($(row).find('td:first').text());
      this._statuses.editData = this._rowToObject($newRow);
      $(row).empty().append($newRow.children());
        
    },
    
    _refreshNumbers : function () { 
        this.items = this.table.find('tr:not(tr:first)');
        for(var i = this.items.length; i--;) {
          $(this.items[i]).find('td:first').text(i+1);
        }
    },
    
    getKey : function (object, value) {
        for(var i in object) {
            if(object[i] === value) {
                return i;
            }      
        }
       return undefined;
    },
    
    _rowToObject : function (row) {
       var $row = row, 
           data = {
               operator : this._operators[$row.find('select option:selected').val()],
               condition_val : $row.find('input[name="cond_value"]').val(),
               fee_val : $row.find('input[name="fee_value"]').val()
                  };
       return data;            
    },
    
    _hightlight : function () { 
        var $row = this.table.find('td:contains("true")').closest('tr');
        if($row.length) { 
          this.table.find('tr').not($row).not('tr:first').find('td').css('opacity', '0.3');
          $row.addClass('success');
          this._statuses.hightlight = true;  
        } else {
            if(this._statuses.hightlight) {
                this.table.find('td').css('opacity', '1');
                this.table.find('tr').removeClass('success');
                this._statuses.hightlight = false;
            } 
        }
    }
 }//




//--------------------------------------------- 
 var IndividualFee = function(table, options) { 
    this.table = table;
    this.options = options;
    this.items = [];
    this._init();
    this._statuses = { tableLock : false, editMode : false, editData : {}, hightlight : false};
 }
    IndividualFee.prototype = {
        _init : function () { 
          this.items = this.table.find('tr:not(tr:first)'); 
          $(this.options.addButton).on('click',  this._add.bind(this)); 
          this.table.on('paste', this.options.sellerInput, this._paste.bind(this)); 
          this.table.on('click', this.options.saveButton, this._save.bind(this));
          this.table.on('click', this.options.editButton, this._edit.bind(this));
          this.table.on('click', this.options.deleteButton, this._delete.bind(this));
        },
        
        _add : function () { 
            if(this._statuses.tableLock) {
                return false;
            }
            var row = this._createRow();
            this.addItem(row);
            this._lockTable();
        },
        
        _createRow : function () { 
            var row = document.createElement('tr');
                $(row).html(
            '<td>'+ (this.items.length + 1) +'</td><td><input placeholder="Paste link to seller profile here" type="text" name="seller_link" /></td>'+
            '<td><input name="fee" type="text" value=""/></td>'+
            '<td><button style="display:none;" type="button" class="close">&times;</button><button class="btn sndinv save-fee">Save</button></td>');
            return $(row);
        },
        
        addItem : function (item){ 
           this.items.push(item);
           this.table.append(item); 
        },
        
        _toggleTableLock : function () { 
            this._statuses.tableLock = !this._statuses.tableLock;
        },
        
        _lockTable : function () { 
            this._statuses.tableLock = true;
        },
        
        _unlockTable : function () { 
            this._statuses.tableLock = false;
        },
        
        _paste : function (e) {
            
            
            var $input = $(e.target)
                link = this;
            
            setTimeout(function(){ 
                var text = $input.val(),
                    pattern = new RegExp("id/([0-9])+","i"),
                    matches = pattern.exec(text);
                    
                    if(matches) {
                        $.post('<?php echo Ikantam_Url::getUrl('admin/transactions/get-user') ?>', { id: matches[1]}, function(response){
                            response = $.parseJSON(response);
                            if(response.success) {
                                $input.closest('tr').data('user', response.id); 
                                $input.closest('td').html('<a href="'+ response.profile_url +'">'+ response.name +'</a><br/><span>'+response.email+'</span>');
                                                            
                            } else {
                                $input.val('Nothing found');
                            }  
                        });
                    } else {
                                $input.val('Invalid link');
                            }          
                
                
            }, 20); 
        },
        
        _save : function (e) {
            
        var $row = $(e.target).closest('tr'),
            link = this,
            data = {fee : $row.find('input[name="fee"]').val(), id : $row.data('user')},
            action = '<?php echo Ikantam_Url::getUrl('admin/transactions/add-individual-fee'); ?>';
            data.code = this.options.code; 
            if(this._statuses.editMode) {
               action = '<?php echo Ikantam_Url::getUrl('admin/transactions/edit-individual-fee'); ?>';
               data.editData = this._statuses.editData; 
            } 
            $.post(action,
                    data,
                    function(response) { 
                        response = $.parseJSON(response);
                        if(response.success) { 
                           link._transformRow($row, data.fee);
                           link._unlockTable(); 
                           link._statuses.editMode = false;
                        } else {
                            link._unlockTable();
                            $row.remove();
                            link._refreshNumbers();
                        }
                    }
            );//post
            return false;            
            
                
        },
        
        _transformRow : function (row, fee) {         
    
           $(row).find('input[name="fee"]').closest('td').text(fee);
           $(row).find('.save-fee').removeClass('save-fee').addClass('edit-btn').text('Edit').siblings('.close').show(); 
        },
        _edit : function (e) {      
            if(this._statuses.tableLock) {
                return false;
            }    
          var $row = $(e.target).closest('tr');        
          this._statuses.editMode = true;
          this._lockTable();
          this._transformRowForEdit($row);                            
        },
        
         _transformRowForEdit : function (row) {
            var td = $(row).find('td:nth-child(3)');
            
            $(row).find('.edit-btn').removeClass('edit-btn').addClass('save-fee').text('Save');
            $(row).find('.close').hide();
            td.html('<input name="fee" type="text" value="'+ td.text() +'"/>');
         },
         
         _delete : function (e) {
            var $row = $(e.target).closest('tr'),
                link = this,
                data = {code : this.options.code, id : $row.data('user')};
                
                $.post ('<?php echo Ikantam_Url::getUrl('admin/transactions/delete-individual-fee') ?>', data, function(response) {
                   response = $.parseJSON(response);
                   if(response.success) {
                    $row.remove();
                    link._refreshNumbers();
                   } 
                }); //post       
         },
         
        _refreshNumbers : function () { 
            this.items = this.table.find('tr:not(tr:first)');
            for(var i = this.items.length; i--;) {
              $(this.items[i]).find('td:first').text(i+1);
            }
        }               
                            
    }
    
 //**************************************************************************************************   
    $(doc).ready(function(){
        
           var seller_fee_options = {
                   editButton : '.edit-btn', 
                   deleteButton : '.close', 
                   saveButton : '.save-fee', 
                   addButton : '#add-seller-fee',
                   code : 'comission_from_seller',
                                    },
                buyer_fee_options = {
                   editButton : '.edit-btn', 
                   deleteButton : '.close', 
                   saveButton : '.save-fee', 
                   addButton : '#add-buyer-fee',
                   code : 'comission_from_buyer'                    
                    
                                    },                                    
           seller = new Fee($('#seller-fee'), seller_fee_options),
           buyer = new Fee($('#buyer-fee'), buyer_fee_options);
           
//TEST BOXES
$('.run-test').click(function(){ 
    
    var $sumInput = $('#'+$(this).data('code')); 
        data = {
            code : $(this).data('code'),
            sum  : $sumInput.val()
    };
    if(!data.sum)
        return false;
        
    $.post('<?php echo Ikantam_Url::getUrl('admin/transactions/test-fee'); ?>', data, function(response){
        response = $.parseJSON(response);
        
        if(response.fee !== undefined) { 
            $sumInput.parent().siblings().find('input[name="fee_amount"]').val(response.fee);
            $sumInput.parent().siblings().find('input[name="result"]').val(response.sum);
        }
    });
});           
//INDIVIDUAL FEE

var individual_options = {
        addButton : '#add-individual-fee',
        sellerInput : 'input[name="seller_link"]',
        saveButton : '.save-fee',
        code : 'comission_individual',
        editButton : '.edit-btn',
        deleteButton : '.close', 
    },
    individual = new IndividualFee($('#individual-fee'), individual_options);
        
    });   

    
    $(doc).ready(function(){
        $('#seller-fee-shipping-condition').on('change', function(e){            
            var value = $(this).prop('checked') ? 1 : 0; 
            $.get('<?php echo Ikantam_Url::getUrl('admin/transactions/nvp'); ?>?transaction_fee_from_sellers=' + value);
        }); 
    });
})(document, jQuery)
</script>