<!DOCTYPE html>
<html>
    <head>
        <title>aptdeco letter</title>
    </head>
    <body>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="background-color: #333; padding: 11px 7px">
                <div class="container-fluid">  
                    <a class="brand" href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl(''))?>"> <img src="<?php echo Ikantam_Url::getPublicUrl('images/new-logo.png') ?>" alt="AptDecologo" /> </a>
                </div>
            </div>
        </div>

        <div class="container-fluid e-mail-noti"> 

            Hi <?php echo $this->user->getFirstName(); ?>,

            <p>
                Thank you for posting your <?php echo $this->product->getTitle() ?> on AptDeco. 
                We really appreciate you choosing AptDeco for your home furnishing needs!
            </p>

            <p>
                At AptDeco, maintaining the highest experience levels to both buyers and sellers is our top priority. 
                Our resident interior designers asses each item posted 
                and handpick items that fit within AptDeco's clientele.
                Adopting this process ensures that all of our customers can shop and/or sell with confidence.
            </p>

            <p>
                Upon careful review of your posting, we had to make the difficult 
                decision to not display the item on AptDeco. 
                Typically items are not posted for the following reasons:
            </p>

            <p>
                - Product condition<br/>
                - Quality<br/>
                - Item category not supported by Aptdeco (e.g. Mattresses or electronics)<br/>
                - Style not befitting of buyer preference
            </p>
            <p>
                Our <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('faq/index')); ?>">FAQs</a> provide more information about our posting process.
                We want you to know that we don't take this decision lightly & 
                appreciate the time & effort you put into creating your post.
            </p>

            <p>Feel free to respond to this email with any questions, concerns or feedback.</p>

            <p>Cheers,<br/>The AptDeco Team</p>



        </div>
    </body>
</html>
