<?php /* @var $product Product_Model_Product */ ?>
<?php $product = $this->product; ?>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AptDeco notification</title>
    </head>
    <body>
        <div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="confirmation-listing">
            <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">

                <div style="margin: 30px 20px;">
                    <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')) ?>">
                        <img src="<?php echo Ikantam_Url::getPublicUrl('images/aptdeco-email-logo.png') ?>" alt="AptDeco" />
                    </a>
                </div>

                <div style="background: #f5f5f5; margin: 0 20px 30px 20px; padding: 20px;">
                    Hi <?php echo $this->escape($this->user->getFirstName()); ?>, <br />

                    Congratulations! Your <strong style="font-weight: bold;"><?php echo $this->escape($product->getTitle()) ?></strong> is now live on AptDeco.

                    We've made minor edits to ensure your product has the best chance for sale. 

                    You can check out your posting
                    here
                    <a href="<?php echo $product->getProductUrl() ?>" style="color: #D85927">
                        <?php echo $this->escape($product->getTitle()) ?>
                    </a>.
                </div>
                
                <div style="padding: 0 20px 20px 20px;">
                    <h3 style="font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
                        color: #333333; font-size: 20px; font-weight: normal;">
                        Tips to Increase Your Chance of Sale:
                    </h3>

                    <ul style="color: #666666; margin: 0; padding: 0 0 0 20px;">
                        <li style="margin-bottom: 10px;"><strong style="font-weight: bold;">
                                Share it!</strong> Share a link to your listing with friends and 
                            family on Facebook, Twitter. email, etc.
                            You never know who’s shopping for furniture as we speak!
                        </li>

                        <li style="margin-bottom: 10px;">
                            <strong style="font-weight: bold;">
                                Tell potential buyers we deliver!
                            </strong>
                            We encourage you to mention the 
                            delivery option via AptDeco. 
                            We offer $65 delivery anywhere in NYC,
                            which encourages buyers to purchase quickly.
                        </li>
                    </ul>
                    <a href="<?php echo $this->getUrlWithGaParams($product->getProductUrl(), array('share' => 1)); ?>" style="color: #fff; font-size: 16px; font-family: arial, sans-serif; 
                       background-color: #DA5B29; text-decoration: none;padding: 7.5px 16px; border-radius: 3px; 
                       margin: 10px 16px 0 0; display: inline-block;"> <strong style="font-weight: bold;">
                            Share With Friends</strong> </a>

                    <a href="<?php echo $this->getUrlWithGaParams(Ikantam_Url::getUrl('user/sale/list')); ?>" style="color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #7f7f7f;
                       text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0;
                       display: inline-block;">
                        <strong style="font-weight: bold;">
                            Go to My Listings
                        </strong>
                    </a>

                    <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 20px 0 0 0;">
                        Happy Selling! <br />
                        The AptDeco Team
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>