<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>
    <body>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="background-color: #333; padding: 11px 7px">
                <div class="container-fluid">  
                    <a class="brand" href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"> <img src="<?php echo Ikantam_Url::getPublicUrl('images/new-logo.png'); ?>" alt="AptDecologo" /> </a> <!--/ logo -->
                </div>
            </div>
        </div>

        <div class="container-fluid e-mail-noti"> 
            <p>Hey <?php echo $this->seller->getFirstName(); ?>,</p>
            
            <p>
                You have <?php echo $this->currency($this->seller->getAccountBalance()); ?> waiting
                to be deposited into your account. 
                Please update 
                your <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/payout')); ?>">Payout Preferences</a> as
                soon as you can so 
                we can release the sale proceeds to your account. 
                The funds will remain on hold until your account information is updated.
            </p>

            <p>Please let us know if you have any questions.</p>

            <p>Thanks,<br />The AptDeco Team</p>

            <p>
                P.S. Did you enjoy your experience on AptDeco? 
                If so, please help us spread the 
                word 
            <a href="http://www.facebook.com/AptDeco"><img src="<?php echo Ikantam_Url::getPublicUrl('images/facebook_logo_small.png'); ?>" alt="Facebook" /></a>
    <a href="http://www.twitter.com/AptDeco"><img src="<?php echo Ikantam_Url::getPublicUrl('images/twitter_logo_small.png'); ?>" alt="Twitter" /></a>
    <a href="http://www.pinterest.com/AptDeco"><img src="<?php echo Ikantam_Url::getPublicUrl('images/pinterest_logo_small.png'); ?>" alt="Pinterest" /></a>
    <a href="http://www.instagram.com/AptDeco"><img src="<?php echo Ikantam_Url::getPublicUrl('images/instagram_logo_small.png'); ?>" alt="Instagram" /></a>
            . 
                Also, if you have feedback, we would love to hear from you!
            </p>

        </div>
    </body>
</html>
