<footer id="footer">
	<div class="container-fluid">
		<ul>
			<li>
				<a href="<?php echo Ikantam_Url::getUrl('about/index'); ?>">About</a>
			</li>
			<li>
				<a href="<?php echo Ikantam_Url::getUrl('how-it-works/index'); ?>">How it works</a>
			</li>
			<li>
				<a href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>">FAQs</a>
			</li>
			<li>
				<a href="<?php echo Ikantam_Url::getUrl('returns/index'); ?>">Returns & Refunds</a>
			</li>
			<li>
				<a href="<?php echo Ikantam_Url::getUrl('terms/index'); ?>">Terms & Conditions</a>
			</li>
			<li>
				<a href="<?php echo Ikantam_Url::getUrl('privacy/index'); ?>">Privacy Policy</a>
			</li>
			<li>
				<a href="<?php echo Ikantam_Url::getUrl('blog/index'); ?>">Blog</a>
			</li>
		</ul>
	</div>
</footer>