<?php
$request    = Zend_Controller_Front::getInstance()->getRequest();
$module     = $request->getModuleName();
$controller = $request->getControllerName();

$menus = array(
    array('label' => 'Sell my stuff', 'url' => Ikantam_Url::getUrl('product/add/new'), 'class' => ($module == 'product' && $controller == 'add') ? 'active' : ''),
    array('label' => 'How it works', 'url' => Ikantam_Url::getUrl('how-it-works/index'), 'class' => ($module == 'default' && $controller == 'how-it-works') ? 'active' : ''),
    array('label' => 'Blog', 'url' => Ikantam_Url::getUrl('blog/index'), 'class' => ($module == 'default' && $controller == 'blog') ? 'active' : ''),
);
?>

<div class="navbar navbar-inverse apt-header clearfix">
    <div class="navbar-inner">
        <div class="container-fluid">
            <?php if ($module != 'checkout') : ?>
                <a id="get-mobile-menu" class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            <?php endif; ?>

            <a class="brand" href="<?php echo Ikantam_Url::getUrl(''); ?>">
                <img src="<?php echo Ikantam_Url::getPublicUrl('images/new-logo.png'); ?>" alt="AptDeco Marketplace Logo" />
                <em>beta</em>
            </a> 

            <?php if ($module != 'checkout') : ?>
                <div class="search-bar span3 hide-mid">
                    <form class="apt-form m-0" method="get" action="<?php echo Ikantam_Url::getUrl('search/index'); ?>">
                        <div id="search-bar" class="control-group m-0">
                            <div class="block-i search">
                                <input type="text" class="form-field" id="search-field-desktop" name="query" placeholder="Search" autocomplete="off"/>
                            </div>
                            <div id="search-suggestions" class="suggestions-list"> 
                                <ul></ul>
                            </div>
                        </div>
                    </form>
                </div>
            <?php endif; ?>

            <div class="descktop-menu"> 
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <?php foreach ($menus as $menu) : ?>
                            <li>
                                <a class="<?php echo $menu['class']; ?>" href="<?php echo $menu['url']; ?>"><?php echo $menu['label']; ?></a>
                            </li>
                        <?php endforeach; ?>

                        <?php if ($this->isLoggedInAsAdmin()) : ?>
                            <li>
                                <a href="<?php echo Ikantam_Url::getUrl('admin/invite/index'); ?>">Dashboard</a>
                            </li>
                        <?php else : ?>
                            <li>
                                <a href="<?php echo Ikantam_Url::getUrl('admin/login/index'); ?>">Sign In</a>
                            </li>
                        <?php endif; ?>

                        <li class="user-access btn-group">
                            <a href="<?php echo Ikantam_Url::getUrl('cart/index'); ?>">
                                <i class="apt-i-shopping-cart active"></i><?php printf('%d', $this->cart()->count()); ?>
                            </a>

                            <?php if ($this->isLoggedInAsAdmin()) : ?>
                                <a href="<?php echo Ikantam_Url::getUrl('wishlist/index'); ?>">
                                    <i class="apt-i-heart active"></i><?php printf('%d', $this->wishlist()->count()); ?>
                                </a>
                            <?php endif; ?>

                            <a class="dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></a>

                            <?php if ($this->isLoggedInAsAdmin()) : ?>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="<?php echo Ikantam_Url::getUrl('admin/logout/index'); ?>">Sign out</a>
                                    </li>
                                </ul>
                            <?php endif; ?>
                        </li>
                    </ul>

                    <ul class="nav">
                        <li class="state hidden">
                            <p> <i class="earth"></i><span class="replTxt">New York</span> </p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- mobile-menu -->
            <div class="mobile-menu"> 
                <!-- mobile-secondary-menu -->
                <nav id="mobile-secondary-menu">
                    <ul>
                        <li>
                            <div class="search-bar">
                                <form class="apt-form m-0" method="get" action="<?php echo Ikantam_Url::getUrl('search/index'); ?>">
                                    <div class="control-group m-0">
                                        <div class="block-i search">
                                            <input type="text" class="form-field" name="query" placeholder="Search" autocomplete="off">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li class="quick-access">
                            <?php if ($this->isLoggedInAsAdmin()) : ?>
                                <a href="<?php echo Ikantam_Url::getUrl('admin/invite/index'); ?>">Dashboard</a>
                            <?php else : ?>                       
                                <a href="<?php echo Ikantam_Url::getUrl('admin/login/index'); ?>">Sign In</a>
                            <?php endif; ?>

                            <p class="text-right">
                                <a href="<?php echo Ikantam_Url::getUrl('cart/index'); ?>">
                                    <i class="apt-i-shopping-cart active"></i><?php printf('%d', $this->cart()->count()); ?>
                                </a>

                                <?php if ($this->isLoggedInAsAdmin()) : ?>
                                    <a href="<?php echo Ikantam_Url::getUrl('wishlist/index'); ?>">
                                        <i class="apt-i-heart active"></i><?php printf('%d', $this->wishlist()->count()); ?>
                                    </a>
                                <?php endif; ?>
                            </p>
                        </li>


                        <?php $categories = new Category_Model_Category_Collection(); ?>

                        <?php foreach ($categories->getParents() as $category) : ?>
                            <li>
                                <a href="<?php echo $category->getCategoryUrl(); ?>">
                                    <?php echo $category->getTitle(); ?>
                                </a>
                            </li>
                        <?php endforeach; ?>

                        <?php foreach ($this->collectionMenu('main_secondary') as $collection): ?>
                            <li>
                                <a href="<?php echo Ikantam_Url::getUrl('catalog/collection/' . $collection->getPageUrl()); ?>">
                                    <?php echo $collection->getName(); ?>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </nav>

                <div class="clear"></div>

                <div class="state">
                    <p>
                        <i class="earth"></i>
                        <span class="mob-replace">New York</span>
                    </p>
                </div>

                <nav id="mobile-user-menu">
                    <ul>
                        <?php foreach ($menus as $menu) : ?>
                            <li>
                                <a href="<?php echo $menu['url']; ?>"><?php echo $menu['label']; ?></a>
                            </li>
                        <?php endforeach; ?>

                        <li><a href="<?php echo Ikantam_Url::getUrl('catalog/index'); ?>">Shop</a></li>
                        <li><a href="<?php echo Ikantam_Url::getUrl('cart/index'); ?>">My cart</a></li>

                        <?php if ($this->isLoggedInAsAdmin()) : ?>
                            <li><a href="<?php echo Ikantam_Url::getUrl('admin/logout/index'); ?>">Sign out</a></li>
                        <?php endif; ?>
                    </ul>
                </nav>

            </div>
            <!--/ mobile-menu --> 
        </div>
    </div>
</div>



<?php if (APPLICATION_ENV === 'live') : ?>
    <script>
        jQuery(document).ready(function() {
            jQuery("#search-field-desktop").keyup(function() {
                jQuery.ajax({
                    type: "get",
                    url: "<?php echo Ikantam_Url::getUrl('search/autocomplete'); ?>",
                    data: jQuery("#search-bar").parent().serialize(),
                    success: function(data) {
                        data = JSON.parse(data);

                        if (data.success && data.template) {
                            $("#search-suggestions ul").html(data.template);
                            $("#search-suggestions").slideDown();
                        }
                    },
                    cache: false,
                    timeout: 30000
                });
            });

            jQuery("#sub-menu-search-field").keyup(function() {
                jQuery.ajax({
                    type: "get",
                    url: "<?php echo Ikantam_Url::getUrl('search/autocomplete'); ?>",
                    data: jQuery("#sub-menu-search-field").parent().parent().parent().serialize(),
                    success: function(data) {
                        data = JSON.parse(data);

                        if (data.success && data.template) {
                            $(".sub-menu-suggestions-list ul").html(data.template);
                            $(".sub-menu-suggestions-list").slideDown();
                        }
                    },
                    cache: false,
                    timeout: 30000
                });
            });

            $('[data-show-targ]').on('click', function(e) {
                e.preventDefault();
                var $this = $(this),
                        _attr = $this.data('show-targ');
                $('[data-targ="' + _attr + '"]').removeClass('hidden');
            });

            $(document).mouseup(function(e) {
                var $target = $(".data-show-targ");
                if (!$target.is(e.target) && $target.has(e.target).length === 0) {
                    $target.find('[data-targ]').addClass('hidden');
                }
            });
        });
    </script>
<?php else : ?>


    <?php $config = \Zend_Registry::get('config')->algolia; ?>

    <?php if (APPLICATION_ENV !== 'vladimir') : ?>
        <script type="text/javascript" src="//rawgithub.com/algolia/algoliasearch-client-js/master/dist/algoliasearch.min.js"></script>
    <?php else : ?>
        <script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/algoliasearch.min.js'); ?>"></script>
    <?php endif; ?>

    <script type="text/javascript">
            var client = new AlgoliaSearch("<?php echo $config->applicationId; ?>", "<?php echo $config->seachOnlyApiKey; ?>", "https");
            var index = client.initIndex("<?php echo $config->indexes->master; ?>");
    </script>

    <script>
        function searchCallback(success, content) {
            if (success) {
                $("#search-suggestions ul").html("");

                for (var i = 0; i < content.hits.length; ++i) {
                    var li = jQuery("<li></li>", {"onclick": "location.href='" + content.hits[i].page_url + "'"});
                    var a = jQuery("<a></a>", {"href": content.hits[i].page_url});
                    var img = jQuery("<img></img>", {"src": content.hits[i].image_url, "style": "width:50px;height:50px;", "alt": content.hits[i].title});
                    var p = jQuery("<p></p>", {"style": "font-size:1em;"});
                    var a2 = jQuery("<a></a>", {"href": content.hits[i].page_url, "html": content.hits[i].title, "style": "font-size:14px;color:#000;"});
                    $("#search-suggestions ul").append(li.append(a.append(img)).append(p.append(a2)));
                }
                $("#search-suggestions").slideDown();
            } else {
                $("#search-suggestions ul").html("");
                $("#search-suggestions").slideUp();
            }
        }

        jQuery("#search-field-desktop").keyup(function() {
            index.search(jQuery("#search-field-desktop").val(), searchCallback, {"attributesToRetrieve": "title,id,page_url,image_url", "hitsPerPage": 12});
        });
    </script>
<?php endif; ?>