<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco - invite letter</title>
    </head>
    <body>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="background-color: #333; padding: 11px 7px">
                <div class="container-fluid">  
                    <a class="brand" href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"> <img src="<?php echo Ikantam_Url::getUrl('get-image/index', array('key' => $this->imageKey)); ?>" alt="AptDeco" /> </a> <!--/ logo -->
                </div>
            </div>
        </div>

        <div class="container-fluid e-mail-noti"> 



            <p>Hey there!</p>

            <p>
                Welcome! We're excited to grant you access to AptDeco - the first online 
                marketplace dedicated to buying and selling quality pre-ownded furniture. 
            </p>
            <p>
                You can use this <a href="<?php echo Ikantam_Url::getUrl('user/signup/index/', array('code' => $this->code)); ?>">invitation link</a> 
                to register your account and start exploring. 
                Have some awesome furniture to sell? Post it on AptDeco in less than 
                a minute and let us take care of the pesky details on your behalf.
            </p>

            <p>
                Please feel free to respond to this email with any questions, issues, 
                feedback or just to simply say hello. We would love to hear from you!
            </p>

            <p>Thanks,<br>The AptDeco team</p>

            <p>
                P.S. Stay up to date on our latest 
                news on 

                <a title="Facebook" href="http://www.facebook.com/AptDeco"><img src="<?php echo Ikantam_Url::getPublicUrl('images/facebook_logo_small.png'); ?>" alt="Facebook" /></a>
                <a title="Twitter" href="http://www.twitter.com/AptDeco"><img src="<?php echo Ikantam_Url::getPublicUrl('images/twitter_logo_small.png'); ?>" alt="Twitter" /></a>
                <a title="Pinterest" href="http://www.pinterest.com/AptDeco"><img src="<?php echo Ikantam_Url::getPublicUrl('images/pinterest_logo_small.png'); ?>" alt="Pinterest" /></a>
                <a title="Instagram" href="http://www.instagram.com/AptDeco"><img src="<?php echo Ikantam_Url::getPublicUrl('images/instagram_logo_small.png'); ?>" alt="Instagram" /></a>
            </p>

        </div>
    </body>
</html>
