<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco - invite letter</title>
    </head>
    <body>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="background-color: #333; padding: 11px 7px">
                <div class="container-fluid">  
                    <a class="brand" href="<?php echo Ikantam_Url::getUrlWithGaParams(BASE_ORDER_URL); ?>">
                        <img src="<?php echo BASE_ORDER_URL . '/get-image/index/key/' . $this->imageKey; ?>" alt="AptDeco" /> 
                    </a> <!--/ logo --> 
                </div>
            </div>
        </div>

        <div class="container-fluid e-mail-noti"> 

            <?php $url = Ikantam_Url::getUrlWithGaParams(sprintf(BASE_ORDER_URL . '/user/signup/index/code/%s', $this->code)); ?>

            <p>Hey there!<br/>
                We just wanted to remind you that you're AptDeco invitation is waiting for you to activate.</p>

            <p>
                We're excited to grant you access to AptDeco - the first online marketplace dedicated to buying and
                selling quality pre-owned furniture.
                You can use this <a href="<?php echo $url; ?>">invitation link</a> to register your account 
                and start exploring. Have some awesome furniture to sell? Post it on AptDeco in less than a minute 
                and let us take care of the pesky details on your behalf.
            </p>

            <p>
                Please feel free to respond to this email with any questions, issues, feedback or just to simply say 
                hello. We would love to hear from you!
            </p>

            <p>Thanks,<br>The AptDeco team</p>

            <p>
                P.S. Stay up to date on our latest news on 
                <a href="http://www.facebook.com/AptDeco"><img src="<?php echo BASE_ORDER_URL . '/images/facebook_logo_small.png'; ?>" alt="Facebook" /></a>
                <a href="http://www.twitter.com/AptDeco"><img src="<?php echo BASE_ORDER_URL . '/images/twitter_logo_small.png'; ?>" alt="Twitter" /></a>
                <a href="http://www.pinterest.com/AptDeco"><img src="<?php echo BASE_ORDER_URL . '/images/pinterest_logo_small.png'; ?>" alt="Pinterest" /></a>
                <a href="http://www.instagram.com/AptDeco"><img src="<?php echo BASE_ORDER_URL . '/images/instagram_logo_small.png'; ?>" alt="Instagram" /></a>
            </p>

        </div>
    </body>
</html>
