<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco - invite letter</title>
    </head>
    <body>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="background-color: #333; padding: 11px 7px">
                <div class="container-fluid">  
                    <a class="brand" href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"> <img src="<?php echo Ikantam_Url::getUrl('get-image/index'); ?>" alt="AptDeco" /> </a> <!--/ logo -->
                </div>
            </div>
        </div>

        <div class="container-fluid e-mail-noti"> 
            <p>
            You have been invited to sign up as website administrator. Please use the link below to complete registration
            </p>
            <a href="<?php echo Ikantam_Url::getUrl('admin/invite-admin/index/', array('code' => $this->code)); ?>">invitation link</a> 

        </div>
    </body>
</html>

