<script type="text/javascript">

(function(doc){
    $(doc).ready(function(){
var dpf="<?php echo $this->from;?>";
var dpt="<?php echo $this->till;?>";    
if(dpf){$("#datepicker4").val(dpf).show();}
if(dpt){$("#datepicker5").val(dpt).show();} 

//page reset: reset the page when new filter select.
$('.menubtn').click(function(){
    $('#pageinp').remove();
});

//AJAX (suggestions)
var timeout = null;
function getItem(object, hint)
{
    if(hint){hint = '<span style="font-size:10px;"> ('+hint+")</span>"}
    var a = document.createElement('a');
    $(a).html(object.title+hint);
    var li = document.createElement('li');
    $(a).attr('href', object.href).appendTo(li);
    return li;       
}

var list = $('#mysales-items');
var listContainer = $('.items-to-filter');

  $('#filter-items').keyup(function(k){

      var value = $(this).val();  
       if(timeout !== null)
     {
        clearTimeout(timeout);
     }
     timeout = setTimeout(function(){
        timeout = null;
        list.empty(); 
         
        $.post('<?php echo $this->getUrl("admin/products/suggestions"); ?>',{'search':value}, 
        function(data){
            
           data = $.parseJSON(data);
            
           $(data.products).each(function(k, v){            
            $(list).append(getItem(this, 'product'))
           });
           
           $(data.brands).each(function(k, v){            
            $(list).append(getItem(this, 'brand'))
           });
           
           if(list.find('li').length > 0) {
            listContainer.show()
           } else
                {
                    listContainer.hide();
                }
        });
        

     },375);
    }).keydown(function(k){if(k.keyCode == 13) { $('#searchinp').remove(); $('#pageinp').remove(); }});
//Approve\Reject
var input = doc.createElement('input');
$(input).attr('type','hidden');

    $('.publish').not('.un-publish').click(function(){
        $(input).attr({name:'approve', value:$(this).val()});
        $('#filterform').append(input).submit();

    });
    
    $('.un-publish').click(function(){
        $(input).attr({name:'reject', value:$(this).val()});
        $('#filterform').append(input).submit();

    });

    
    });//doc is ready
})(document);

</script>