<?php if(isset($this->next) || isset($this->previous)): ?>
<div class="pagination pagination-right">
    <ul>
        <li class="old-msgs">
            <?php
            if (Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'history'
                    && $_GET):
                $getData = '?search_text=' . $_GET['search_text'] . '&search_status=' . $_GET['search_status'];
            else:
                $getData = '';
            endif;
            ?>
            <!-- Previous page link -->
            <?php if (isset($this->previous)): ?>
                <a href="<?php echo $this->url(array('page' => $this->previous)) . $getData; ?>"><i></i></a> 
            <?php else: ?>
                <a href="#"><i></i></a> 
            <?php endif; ?></li>

        <!-- Page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li><a href="<?php echo $this->url(array('page' => $page)) . $getData; ?>"><?php echo $page; ?></a>
                <?php else: ?> 
                <li><a style="color: #fff; background-color: #333;" href="#"> <?php echo $page; ?>  </a></li>
            <?php endif; ?>
        <?php endforeach; ?>

        <!-- Next page link -->
        <li class="new-msgs">
            <?php if (isset($this->next)): ?>
                <a href="<?php echo $this->url(array('page' => $this->next)) . $getData; ?>"><i></i></a>
            <?php else: ?>
                <a href="#"><i></i></a> 
            <?php endif; ?></li>
    </ul>
</div>
<?php endif; ?>