<div id="sideWrapper" class="apt-sidebar">
    <aside id="sidebar-user">
    
        <div id="accordion">            
            <?php if($this->isAllowed('mvc:admin.manager-admins', 'index')): //alternate $this->isAllowed('admin/invite/index') ?>
            <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/manager-admins/index'); ?>"> 
                    <small class="purchase"></small>
                    Manage Admins
                </a> 
            </h2>
            <?php endif; ?>
            
            <?php if($this->isAllowed('mvc:admin.invite', 'index')): //alternate $this->isAllowed('admin/invite/index') ?>
            <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/invite/index'); ?>"> 
                    <small class="purchase"></small>
                    Send Invitations
                </a> 
            </h2>
            <?php endif; ?>
            
            <?php if($this->isAllowed('mvc:admin.sms-notification', 'index')): //alternate $this->isAllowed('admin/invite/index') ?>
            <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/sms-notification/index'); ?>"> 
                    <small class="purchase"></small>
                    SMS Notification
                </a> 
            </h2>
            <?php endif; ?>
            
            <?php if($this->isAllowed('mvc:admin.transactions', 'index')): ?>
            <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/transactions/index'); ?>"> 
                    <small class="purchase"></small>
                    Transaction history 
                </a> 
            </h2>
            <?php endif; ?>

            <?php if($this->isAllowed('mvc:admin.shipping', 'index')): ?>
                <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/shipping/index'); ?>">
                        <small class="purchase"></small>
                        Pick Up  & Delivery
                    </a>
                </h2>
            <?php endif; ?>

            <?php if($this->isAllowed('mvc:admin.products', 'manage')): ?>
            <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/products/manage'); ?>"> 
                    <small class="purchase"></small>
                    Products
                </a> 
            </h2>
            <?php endif; ?>
            
             <?php if($this->isAllowed('mvc:admin.collections', 'index')): ?>
            <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/collections/index'); ?>"> 
                    <small class="purchase"></small>
                    Collections
                </a> 
            </h2>
            <?php endif; ?>
            
            <?php if($this->isAllowed('mvc:admin.products', 'manage')): ?>
                <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/products/manage-pricing'); ?>">
                        <small class="purchase"></small>
                        Manage Pricing
                    </a>
                    <?php $this->managePricingCount =  \Product_Model_Product_Collection::countManagePricingProducts(); ?>
                    <a id="manage_pricing_count"
                        <?php if (!$this->managePricingCount): ?> style="display: none !important;" <?php endif; ?>
                       href="<?php echo Ikantam_Url::getUrl('admin/products/manage-pricing'); ?>" class="counting">
                        <i class="arr"></i>
                        <?php echo $this->managePricingCount; ?>
                    </a>
                </h2>
            <?php endif; ?>

            
            <?php if($this->isAllowed('mvc:admin.users', 'index')): ?>
            <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/users/index'); ?>"> 
                    <small class="purchase"></small>
                    Users
                </a> 
                <?php $users = new Application_Model_User_Collection(); ?>
                <a href="<?php echo Ikantam_Url::getUrl('admin/users/index'); ?>" class="counting">
                    <i class="arr"></i>
                    <?php echo Application_Model_User_Collection::getCountWithoutDeleted(); ?>
                </a> 
            </h2>
            <?php endif; ?>
            
            <?php if($this->isAllowed('mvc:admin.seller-verification', 'index')): ?>
            <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/seller-verification/index'); ?>"> 
                    <small class="purchase"></small>
                    Seller verification
                </a> 
                <?php $users = new Application_Model_User_Collection(); ?>
                <a href="<?php echo Ikantam_Url::getUrl('admin/seller-verification/index'); ?>" class="counting">
                    <i class="arr"></i>
                    <?php echo $users->countVerification(); ?>
                </a> 
            </h2>
            <?php endif; ?>
            
            <?php if($this->isAllowed('mvc:admin.pickup-and-delivery-date', 'index')): ?>
            <h2><a href="<?php echo Ikantam_Url::getUrl('admin/pickup-and-delivery-date/index'); ?>"><small class="avdates"></small>Pick Up & Delivery dates</a></h2>
            <?php endif; ?>
            
            <?php if($this->isAllowed('mvc:admin.invite', 'handling')): ?>
            <h2><a href="<?php echo Ikantam_Url::getUrl('admin/invite/handling'); ?>"><small class="invhan"></small>Invites handling</a></h2>
            <?php endif; ?>

            <?php if($this->isAllowed('mvc:admin.homepage', 'index')): ?>
            <h2><a href="<?php echo Ikantam_Url::getUrl('admin/homepage/index'); ?>"><small class="invhan"></small>Home page</a></h2>
            <?php endif; ?>
            
            <?php if($this->isAllowed('mvc:admin.transactions', 'fee')): ?>
            <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/transactions/fee'); ?>"> 
                    <small class="purchase"></small>
                    Transaction fee
                </a>
            </h2>
            <?php endif; ?>
            
            <?php if($this->isAllowed('mvc:admin.transactions', 'shipping-fee')): ?>
            <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/transactions/shipping-fee'); ?>"> 
                    <small class="purchase"></small>
                    Shipping fee
                </a>

            </h2>
            <?php endif; ?>
             
            <?php if($this->isAllowed('mvc:admin.association', 'index')): ?>
            <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/association'); ?>"> 
                    <small class="details"></small>
                    Brand association list
                </a>
            </h2>   
            <?php endif; ?>
            
            <?php if($this->isAllowed('mvc:admin.coupons', 'index')): ?>
            <h2>
                <a href="<?php echo Ikantam_Url::getUrl('admin/coupons'); ?>"> 
                    <small class="details"></small>
                    Discount Coupons
                </a>
            </h2>
            <?php endif; ?>
            
            <?php if($this->isAllowed('mvc:admin.abandoned', 'cart')): ?>
            <h2>
                <a href="<?php echo Ikantam_Url::getUrl('admin/abandoned/cart'); ?>">
                    <small class="details"></small>
                    Abandoned Carts
                </a>
            </h2>
            <?php endif; ?>

            <?php if($this->isAllowed('mvc:admin.abandoned', 'wishlist')): ?>
                <h2>
                    <a href="<?php echo Ikantam_Url::getUrl('admin/abandoned/wishlist'); ?>">
                        <small class="details"></small>
                        Abandoned Wishlist
                    </a>
                </h2>
            <?php endif; ?>


            <?php if($this->isAllowed('mvc:admin.notifications', 'wishlist-promo')): ?>
                <h2>
                    <a href="<?php echo Ikantam_Url::getUrl('admin/notifications/wishlist-promo'); ?>">
                        <small class="details"></small>
                        Wishlist Promo
                    </a>
                </h2>
            <?php endif; ?>


            <?php if($this->isAllowed('mvc:admin.rejected-messages', 'index')): ?>
            <h2>
                <a href="<?php echo Ikantam_Url::getUrl('admin/rejected-messages/index'); ?>"> 
                    <small class="details"></small>
                    Rejected Messages
                </a>
            </h2>
            <?php endif; ?>

            <?php if($this->isAllowed('mvc:admin.referers', 'index')): ?>
                <h2>
                    <a href="<?php echo Ikantam_Url::getUrl('admin/referers/index'); ?>">
                        <small class="details"></small>
                        Referers
                    </a>
                </h2>
            <?php endif; ?>

            <?php if($this->isAllowed('mvc:admin.order', 'cancelled-order-emails-setting')): ?>
                <h2>
                    <a href="<?php echo Ikantam_Url::getUrl('admin/order/cancelled-order-emails-setting'); ?>">
                        <small class="details"></small>
                        Cancelled Order Emails
                    </a>
                </h2>
            <?php endif; ?>
            <?php if($this->isAllowed('mvc:admin.text', 'inbox-page')): ?>
                <h2>
                    <a href="<?php echo Ikantam_Url::getUrl('admin/text/inbox-page'); ?>">
                        <small class="details"></small>
                        FAQ text to inbox page
                    </a>
                </h2>
            <?php endif; ?>
            <?php if($this->isAllowed('mvc:admin.notifications', 'seller-price-lowered')): ?>
                <h2>
                    <a href="<?php echo Ikantam_Url::getUrl('admin/notifications/seller-price-lowered'); ?>">
                        <small class="details"></small>
                        Manage pricing
                        <br><sub >Notification to seller when admin lowered price</sub>
                    </a>
                </h2>
            <?php endif; ?>
            <?php if($this->isAllowed('mvc:admin.notifications', 'seller-price-lowering-suggestion')): ?>
                <h2>
                    <a href="<?php echo Ikantam_Url::getUrl('admin/notifications/seller-price-lowering-suggestion'); ?>">
                        <small class="details"></small>
                        Manage pricing
                        <br><sub >Notification to seller. Suggestion for price lowering.</sub>
                    </a>
                </h2>
            <?php endif; ?>
        </div>
    </aside>
</div>
