<div class="account-block one-user-sales"> 

    <div class="basic-account-info"> 
        <div class="profile-image">
            <img src="<?php echo $this->user->getAvatarUrl(); ?>" alt="<?php echo $this->escape($this->user->getFullName()); ?>" /> 
        </div>

        <div class="account-info"> 
            <div class="def-account-info">
                <h3>
                    <?php echo $this->escape($this->user->getFullName()); ?>
                </h3>

                <?php if ($this->user->getPrimaryAddress()->getId()) : ?>
                    <p>
                        <?php echo $this->escape($this->user->getPrimaryAddress()->getAddressLine1()); ?>,
                        <?php echo $this->escape($this->user->getPrimaryAddress()->getCity()); ?>,
                        <?php echo $this->escape($this->user->getPrimaryAddress()->getState()); ?>
                        <?php echo $this->escape($this->user->getPrimaryAddress()->getPostcode()); ?>
                    </p>
                <?php endif; ?>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="account-block">
        <div class="control-group email-fields">
            <label class="control-label" for="birthday">Addresses:</label>
            <div class="controls">
                <?php foreach ($this->user->getAddresses() as $address) : ?>
                    <p class="def-bd-field">
                        <?php echo $address->toHtml(); ?>
                    </p>
                <?php endforeach; ?>
            </div>
        </div>
    </div>

    <div class="account-block">
        <div class="control-group email-fields">
            <label class="control-label" for="birthday">Telephone numbers:</label>
            <div class="controls">
                <?php foreach ($this->user->getPhoneCollection() as $address) : ?>
                    <p class="def-bd-field">
                        <?php echo $address->getPhone(); ?>
                        <?php if ($address->getPhone() == $this->user->getPrimaryPhone()->getPhone()) : ?>
                            (primary)
                        <?php endif; ?>
                    </p>
                <?php endforeach; ?>
            </div>
        </div>
    </div>

    <?php if ($this->user->getDateOfBirth()) : ?>
        <div class="account-block">
            <div class="control-group birthday-field">
                <label class="control-label" for="birthday">Birthday:</label>
                <div class="controls">
                    <p class="def-bd-field"> <?php echo $this->escape($this->user->getDateOfBirth()); ?> </p>
                </div>
            </div>
        </div>
    <?php endif; ?>

    <div class="clear"></div>

    <div class="account-block">
        <div class="control-group email-fields">
            <label class="control-label">E-mails:</label>
            <div class="controls">
                <?php foreach ($this->user->getEmailCollection() as $address) : ?>
                    <p class="def-email-field">
                        <?php echo $address->getEmail(); ?>
                        <?php if ($address->getEmail() == $this->user->getMainEmail()) : ?>
                            (primary)
                        <?php endif; ?>
                    </p>
                <?php endforeach; ?>
            </div>
        </div>
    </div>

    <div class="clear"></div>

    <?php if ($this->user->getDetails()) : ?>
        <div class="account-block lastCh"> 
            <div class="control-group phone-fields">
                <label class="control-label" for="e-mail">Account Details:</label>
                <div class="controls">
                    <p class="def-account-field"><?php echo nl2br($this->escape($this->user->getDetails())); ?></p>
                </div>
            </div>
        </div>
    <?php endif; ?>

</div>