<script type="text/javascript" src="<?php echo $this->getPublicUrl('js/jQuery-File-Upload-master/js/vendor/jquery.ui.widget.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->getPublicUrl('js/jQuery-File-Upload-master/js/jquery.iframe-transport.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->getPublicUrl('js/jQuery-File-Upload-master/js/jquery.fileupload.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->getPublicUrl('js/jCrop/jquery.color.js'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->getPublicUrl('js/jCrop/jquery.Jcrop.min.js'); ?>"></script>
<?php echo $this->partial('change_avatar_js.phtml', 'user'); ?>

<div class="container-fluid" id="container">
    <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>  

    <div class="mainContent" id="user-account-profile">
        <h2>Profile</h2>

        <!--  account-block -->
        <div class="account-block clearfix"> <a href="#" class="edit-user-profile" id="editBasicInfo">Edit</a> 

            <!-- basic-account-info -->
            <div class="basic-account-info"> 

                <!-- profile-image -->
                <div class="profile-image"> <img id="mainPhoto" src="<?php echo $this->user->getAvatarUrl(); ?>" alt="User image" /> 
                    <a href="#changeImage" id="test" data-toggle="modal" >Change image</a> 

                    <!-- verify your phone modal -->
                    <div id="changeImage" style="width: auto;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        

                        <div class="fileupload fileupload-new"  data-provides="fileupload">
                        <h3>Change your photo</h3>
                            <span class="btn btn-file" style="float: left;">
                                <span class="fileupload-new">Select photo</span>
                                <span class="fileupload-exists">Change</span>
                                <input id="fileupload" type="file" name="files[]" data-url="<?php echo $this->getUrl('upload-image/avatar'); ?>" accept="image/*"/>
                            </span>

                            <style>
                                #loadinprogress
                                {
                                    width: 52px;
                                    height: 14px;
                                    margin: 0 auto;
                                    display:none;
                                    border-radius: 0 !important;
                                } 

                                #avatarfail
                                {
                                    display: none;
                                } 

                                #prevImg
                                {                
                                    position: relative !important;
                                    border-radius: 0 !important;
                                    height: auto !important;
                                    width: auto !important;
                                    max-height: 230px !important;
                                    max-width: 400px !important;

                                } 

                                .linebtn 
                                {
                                    display: inline;
                                    width: 75px;
                                    height: 40px;
                                    font-size: 1.1em;
                                    font-weight: bold;
                                    margin-top: 15px;
                                    margin-left: 20px;
                                }


                                .fileupload-preview {display: none;}         
                            </style>

                            <img id="loadinprogress" width="52" height="14" src="<?php echo $this->getPublicUrl('images/up.gif'); ?>" style="display: none;" />
                            <p class="invalid" id="avatarfail">  </p>              
                            <span class="fileupload-preview">
                                <img id="prevImg"/>
                                <span>
                                    <button class="publish linebtn" id="saveAvatar">Save</button>
                                    <button class="publish un-publish linebtn" id="backToUpload">Close</button>
                                </span>
                            </span>
                        </div>

                    </div>
                    <!--/ verify your phone modal -->

                </div>
                <!--/ profile-image --> 

                <!-- account-info -->
                <div class="account-info"> 
                    <?php $hasError = false; ?>

                    <?php
                    if ($this->session->getFormErrors('full_name') ||
                            $this->session->getFormErrors('address_line1') ||
                            $this->session->getFormErrors('city') ||
                            $this->session->getFormErrors('state') ||
                            $this->session->getFormErrors('postcode')) :
                        ?>
                        <?php $hasError = true; ?>
                    <?php endif; ?>

                    <div class="def-account-info" <?php if ($hasError) : ?>style="display:none;"<?php endif; ?>>
                        <h3><?php echo $this->user->getFullName(); ?></h3>
                        <?php if ($this->user->getPrimaryAddress()->getId()) : ?>
                            <?php $address = $this->user->getPrimaryAddress(); ?>
                            <p>
                                <?php if ($address->getState()) : ?>
                                    <?php printf('%s, %s, %s %s', $address->getAddressLine1(), $address->getCity(), $address->getState(), $address->getPostcode()); ?>
                                <?php else : ?>
                                    <?php printf('%s, %s, %s', $address->getAddressLine1(), $address->getCity(), $address->getPostcode()); ?>
                                <?php endif; ?>
                                
                            </p>
                        <?php endif; ?>


                        <!-- social-blocks -->
                        <?php /* <div class="social-blocks">
                          <ul>
                          <li> <a href="#vphoneModal" data-toggle="modal" class="verify-by-phone"> <span><i></i></span> Verified by Phone </a> <i class="success-veriation"></i> </li>

                          <!-- verify your phone modal -->
                          <div id="vphoneModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <h3>Verify your phone</h3>
                          <form class="form-horizontal">
                          <div class="control-group">
                          <input type="text" class="numb-format verify-ur-phone" placeholder="(__) ____ ____" />
                          <button class="add-new-phone send-code">Send code</button>
                          </div>
                          <div class="control-group">
                          <input type="text" class="sms-code" placeholder="SMS Code" />
                          <button class="add-new-phone verify-the-code">Verify</button>
                          </div>
                          </form>
                          <div class="clear"></div>
                          <p class="invalid"> <i></i> Invalid code.</p>
                          </div>
                          <!--/ verify your phone modal -->

                          <li> <a href="#" class="verify-by-fb"> <span><i></i></span> Verified via Facebook </a> <i class="success-veriation"></i> </li>
                          <li> <a href="#" class="verify-by-linkin"> <span><i></i></span> Connect via Linkedin </a> <i class="not-verified"></i> </li>
                          </ul>
                          </div> */ ?>
                        <!--/ social-blocks --> 
                    </div>
                    <!--/ def-account-info -->
                    <div class="clear"></div>

                    <!-- edit-basic-account-info -->
                    <div class="edit-basic-account-info" <?php if ($hasError) : ?>style="display:block;"<?php endif; ?>>
                        <form method="post" action="<?php echo $this->getUrl('user/profile/editname'); ?>">
                            <div class="control-group">
                                <label class="control-label" for="first-name">Full Name</label>
                                <div class="controls">
                                    <input type="text" name="full_name" id="user-account-fn" placeholder="User" value="<?php echo $this->user->getFullName(); ?>" />
                                </div>

                                <?php if ($this->session->getFormErrors('full_name')) : ?>
                                    <p class="invalid" id="error-date"> <i></i> <?php echo $this->session->getFormErrors('full_name'); ?></p>
                                <?php endif; ?>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="full-name">Location</label>
                                <?php $address = $this->user->getPrimaryAddress(); ?>
                                <div class="controls">
                                    <?php $addressLine1 = $this->session->getFormData('address_line1') ? : $address->getAddressLine1(); ?>
                                    <?php if ($this->session->getFormErrors('address_line1')) $addressLine1 = null; ?>
                                    <input value="<?php echo $addressLine1; ?>" type="text" name="address_line1" id="user-account-location" placeholder="Street Address" />
                                </div>

                                <?php if ($this->session->getFormErrors('address_line1')) : ?>
                                    <p class="invalid" id="error-date"> <i></i> <?php echo $this->session->getFormErrors('address_line1'); ?></p>
                                <?php endif; ?>

                                <div class="controls">
                                    <?php $city = $this->session->getFormData('city') ? : $address->getCity(); ?>
                                    <?php if ($this->session->getFormErrors('city')) $city = null; ?>
                                    <input value="<?php echo $city; ?>" type="text" name="city" id="user-account-location" placeholder="City" />
                                </div>

                                <?php if ($this->session->getFormErrors('city')) : ?>
                                    <p class="invalid" id="error-date"> <i></i> <?php echo $this->session->getFormErrors('city'); ?></p>
                                <?php endif; ?>

                                <div class="controls" style="float:right;width:100%;text-align: right;">	
                                    <?php $states = new Application_Model_State_Collection(); ?>
                                    <?php $state2 = $this->session->getFormData('state') ? : $address->getState(); ?>
                                    <?php if ($this->session->getFormErrors('state')) $state2 = null; ?>
                                    <select name="state" style="width:75%;">
                                        <option value="0">-- Select State --</option>
                                        <?php foreach ($states->getByCountryCode('US') as $state) : ?>
                                            <option <?php if ($state2 == $state->getStateCode()) : ?>selected="selected"<?php endif; ?> value="<?php echo $state->getStateCode(); ?>"><?php echo $state->getName(); ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>

                                <?php if ($this->session->getFormErrors('state')) : ?>
                                    <p class="invalid" id="error-date"> <i></i> <?php echo $this->session->getFormErrors('state'); ?></p>
                                <?php endif; ?>

                                <div class="controls">
                                    <?php $postcode = $this->session->getFormData('postcode') ? : $address->getPostcode(); ?>
                                    <?php if ($this->session->getFormErrors('postcode')) $postcode = null; ?>
                                    <input value="<?php echo $postcode; ?>" type="text" name="postcode" id="user-account-location" placeholder="ZIP-code" />
                                </div>

                                <?php if ($this->session->getFormErrors('postcode')) : ?>
                                    <p class="invalid" id="error-date"> <i></i> <?php echo $this->session->getFormErrors('postcode'); ?></p>
                                <?php endif; ?>

                            </div>

                            <div class="clear"></div>
                            <button class="save-basic-info" type="submit">Save</button>
                        </form>
                    </div>
                    <!--/ edit-basic-account-info -->

                    <div class="clear"></div>

                    <!-- edit-veriations -->
                    <?php /* <div class="edit-veriations">
                      <h3>verify your identity</h3>
                      <p> Build your reputation,and validate your identity in a few easy steps by verifying your phone number and connecting your profile to popular social networks. </p>

                      <!-- social-blocks -->
                      <div class="social-blocks">
                      <ul>
                      <li> <a href="#vphoneModal" data-toggle="modal" class="verify-by-phone">
                      <span><i></i></span> Verified by Phone </a> <i class="success-veriation"></i> </li>
                      <li> <a href="#" class="verify-by-fb"> <span><i></i></span> Verified via Facebook </a> <i class="success-veriation"></i> </li>
                      <li> <a href="#" class="verify-by-linkin"> <span><i></i></span> Connect via Linkedin </a> <i class="not-verified"></i> </li>
                      </ul>
                      </div>
                      <!--/ social-blocks -->
                     */ ?>
                </div>
                <!--/ edit-veriations --> 

            </div>
            <!-- basic-account-info --> 
        </div>
        <!--/ account-block -->

        <div class="clear"></div>

        <?php /* 	<!-- birthday block -->
          <form method="post" action="<?php echo $this->GetPublicUrl('user/profile/editdateofbirth'); ?>">
          <div class="account-block"> <a href="#" class="edit-user-profile" id="editBdInfo">Edit</a>
          <div class="control-group birthday-field">
          <label class="control-label" for="birthday">Birthday:</label>
          <div class="controls">
          <p class="def-bd-field"> <?php echo date('d M Y', strtotime($this->user->getDateOfBirth())); ?> </p>
          <p class="edit-birthday-info">
          <input type="text" name="date" id="datepicker" class="datepicker" />
          <?php if ($this->session->getFormErrors('date')) : ?>
          <p class="invalid" id="error-date"> <i></i> <?php echo $this->session->getFormErrors('date'); ?></p>
          <?php endif; ?>
          <div class="clear"></div>
          <button type="submit" class="save-bd-info">Save</button>
          </p>
          </div>
          </div>
          </div></form>
          <script type="text/javascript">
          $("#datepicker,#datepicker2,#datepicker3").datepicker({
          showOtherMonths: true,
          selectOtherMonths: true,
          showOn: "button",
          buttonImage: "<?php echo $this->getPublicUrl('images/calendar.png'); ?>",
          buttonImageOnly: true,
          prevText: "",
          nextText: ""
          });
          </script>
          <!--/ birthday block --> */ ?>


        <!-- birthday block -->
        <form method="post" action="<?php echo $this->getUrl('user/profile/editdateofbirth'); ?>">
            <div class="account-block clearfix"> <a href="#" class="edit-user-profile" id="editBdInfo">Edit</a>
                <div class="control-group birthday-field">
                    <label class="control-label" for="birthday">Birthday:</label>
                    <div class="controls">
                        <?php if ($this->session->getFormErrors('date')) : ?>
                            <p class="invalid" id="error-date"> <i></i> <?php echo $this->session->getFormErrors('date'); ?></p>
                        <?php endif; ?> 
                        <p class="def-bd-field"> <?php if ($this->user->getDateOfBirth()) echo date('d M Y', strtotime($this->user->getDateOfBirth())); ?> </p>

                        <div class="edit-birthday-info">
                          <!-- <input type="text" id="datepicker" class="datepicker" /> -->

                            <!-- @new -->

                            <div class="btn-group" id="birth-day">
                                <?php if ($this->user->getDateOfBirth()) : ?>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment"><?php echo date('d', strtotime($this->user->getDateOfBirth())); ?></span> <span class="caret"></span></button>
                                <?php else : ?>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment">Day</span> <span class="caret"></span></button>
                                <?php endif; ?>

                                <ul class="dropdown-menu" id="days">
                                    <?php for ($i = 1; $i <= 31; $i++): ?>
                                        <li><a href="#" onclick="return false;"><?php echo $i; ?></a></li>
                                    <?php endfor; ?>
                                </ul>
                            </div>
                            <div class="clear"></div>

                            <div class="btn-group" id="birth-month">
                                <label class="control-label" for="birthday"></label>
                                <?php if ($this->user->getDateOfBirth()) : ?>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment"><?php echo date('M', strtotime($this->user->getDateOfBirth())); ?></span> <span class="caret"></span></button>
                                <?php else : ?>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment">Month</span> <span class="caret"></span></button>
                                <?php endif; ?>
                                <ul class="dropdown-menu" id="monthUl">
                                    <?php foreach ($this->month as $month): ?>
                                        <li><a href="#" onclick="return false;"><?php echo $month; ?></a></li>
                                    <?php endforeach; ?>                  

                                </ul>
                            </div>
                            <div class="clear"></div>
                            <div class="btn-group" id="birth-year">
                                <label class="control-label" for="birthday"></label>
                                <?php if ($this->user->getDateOfBirth()) : ?>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment"><?php echo date('Y', strtotime($this->user->getDateOfBirth())); ?></span> <span class="caret"></span></button>
                                <?php else : ?>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment">Year</span> <span class="caret"></span></button>
                                <?php endif; ?>
                                <ul class="dropdown-menu" id="yearsUl">
                                    <?php for ($i = date('Y'); $i >= 1920; $i--): ?>
                                        <li><a href="#" onclick="return false;"><?php echo $i; ?></a></li>
                                    <?php endfor; ?>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <button name="date" class="save-bd-info">Save</button>
                        </div>
                    </div>
                </div>
            </div></form>        

        <script type="text/javascript">
            (function(){
                var M = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6, 'Jul':7, 'Aug':8, 'Sep':9, 'Oct':10, 'Nov':11, 'Dec':12};   
        
                var day = $('#birth-day').find('.replacment');
                var month = $('#birth-month').find('.replacment');
                var year = $('#birth-year').find('.replacment');
        
                $('#monthUl').find('li').click(function(){updateAvailableDays(M[$(this).text()], year.text());});
                $('#yearsUl').find('li').click(function(){updateAvailableDays(M[month.text()], $(this).text());});
        
                $('.save-bd-info').mousedown(function(){
                    $(this).val(M[month.text()]+'-'+day.text()+'-'+year.text());
                });
        
                function updateAvailableDays(month, year)
                {
                    var daysInMonth = new Date(year, month, 0).getDate();         
                    var days = $('#days').find('li').removeAttr('style');
                    for(var i = 31; i > daysInMonth; i--)
                    {
                        $(days[i-1]).hide();
                    }          

                }
            
 
            })();        
        </script>
        <!--/ birthday block -->        


        <div class="clear"></div>

        <!-- email block -->
        <form method="post" action="<?php echo $this->getUrl('user/profile/editemail'); ?>"> 
            <div class="account-block clearfix"> <a href="#" class="edit-user-profile" id="editEmailInfo">Edit</a>
                <div class="control-group email-fields">
                    <label class="control-label" for="e-mail">E-mail:</label>
                    <div class="controls">

                        <?php if ($this->user->getPrimaryEmail()->getId()) : ?>
                            <p class="def-email-field"><?php echo $this->user->getPrimaryEmail()->getEmail(); ?></p>
                        <?php elseif ($this->user->getEmail()) : ?>
                            <p class="def-email-field"><?php echo $this->user->getEmail(); ?></p>
                        <?php endif; ?>

                        <!-- edit-email-field -->
                        <div class="edit-email-field"> <span>Primary:</span>
                            <ul>
                                <?php if (!$this->user->getPrimaryEmail()->getId()) : ?>
                                    <li><div class="radio-btn checkedRadio">
                                            <input name="primary" value="0"  checked="checked"  type="radio"/>
                                        </div>
                                        <?php echo $this->user->getEmail(); ?>
                                    </li>
                                <?php elseif ($this->user->getEmail()) : ?>	
                                    <li><div class="radio-btn">
                                            <input name="primary" value="0" type="radio"/>
                                        </div>
                                        <?php echo $this->user->getEmail(); ?>
                                    </li>
                                <?php endif; ?>

                                <?php foreach ($this->user->getEmailCollection()->getItems() as $email): ?>
                                    
                                        <?php if (!$email->getIsPrimary()): ?>
                                        <li>
                                            <div class="radio-btn">
                                                <input name="primary" value="<?php echo $email->getId(); ?>" type="radio"/>                      
                                            </div>
                                            <?php echo $email->getEmail(); ?>
                                            </li>
                                        <?php endif; ?>
                                        
                                    
                                <?php endforeach; ?>
                            </ul>

                            <div class="clear"></div>

                            <a href="#" class="add-email-field">+ Add e-mail</a>
                            <div class="new-email-field"> <span>New e-mail:</span>
                                <input type="text" name="email" />
                            </div>
                            <?php if ($this->session->getFormErrors('email')): ?>
                                <p class="invalid"> <i></i> <?php echo $this->session->getFormErrors('email'); ?></p>
                            <?php endif; ?>
                            <div class="clear"></div>
                        </div>
                        <button class="save-email-info" type="submit">Save</button>
                        <!--/ edit-email-field --> 

                    </div>
                </div>
            </div></form>
        <!--/ email block -->

        <div class="clear"></div>

        <!-- phone number block --><form method="post" action="<?php echo $this->GetPublicUrl('user/profile/editphone'); ?>">
            <div class="account-block clearfix"> <a href="#" class="edit-user-profile" id="editPhoneInfo">Edit</a>
                <div class="control-group phone-fields">
                    <label class="control-label" for="phone-nuumber">Phone Number:</label>
                    <div class="controls">
                        <?php if ($this->user->getPrimaryPhone()) : ?>
                            <p class="def-phone-field"><?php echo $this->user->getPrimaryPhone()->getPhone(); ?></p>
                        <?php endif; ?>

                        <!-- edit-email-field -->
                        <div class="edit-phone-field"> <span>Primary:</span>
                            <ul>
                                <?php foreach ($this->user->getPhoneCollection()->getItems() as $phone): ?>
                                    <li>
                                        <?php if ($phone->getIsPrimary()): ?>
                                            <div class="radio-btn checkedRadio">
                                                <input type="radio" checked="checked" name="primary" value="<?php echo $phone->getId(); ?>" />
                                            <?php else: ?>
                                                <div class="radio-btn">
                                                    <input type="radio" name="primary" value="<?php echo $phone->getId(); ?>" />                  
                                                <?php endif; ?>
                                            </div>
                                            <?php echo $phone->getPhone(); ?>
                                    </li>               
                                <?php endforeach; ?>

                            </ul>
                            <div class="clear"></div>
                            <a href="#" class="add-phone-field">+ Add phone number</a>
                            <div class="new-phone-field"> <span>New phone number:</span>
                                <input type="text" name="phone" class="numb-format" placeholder="(___) ___ ____" />
                                <!-- <button class="add-new-phone">Add</button> -->
                            </div>
                            <?php if ($this->session->getFormErrors('phone')): ?>
                                <p class="invalid"> <i></i> <?php echo $this->session->getFormErrors('phone'); ?></p>
                            <?php endif; ?>
                            <div class="clear"></div>
                        </div>
                        <button class="save-phone-info">Save</button>
                        <!--/ edit-email-field --> 

                    </div>
                </div>
            </div></form>
        <!--/ phone number block --> 

        <!-- account details block -->
        <form method="post" action="<?php echo $this->GetPublicUrl('user/profile/editdetails'); ?>">
            <div class="account-block clearfix"> <a href="#" class="edit-user-profile" id="editAccountDetails">Edit</a>
                <div class="control-group phone-fields">
                    <label class="control-label" for="e-mail">About Me:</label>
                    <div class="controls">
                        <p class="def-account-field"><?php echo $this->escape($this->user->getDetails()); ?></p>

                        <!-- add account detalils -->
                        <div class="edit-account-details">
                            <textarea name="details"><?php echo $this->user->getDetails(); ?></textarea>
                            <button class="save-account-details" type="submit">Save</button>
                        </div>
                        <!--/ add account detalils --> 
                    </div>
                </div>
            </div></form>
        <!--/ account details block --> 

        <?php if ($this->user->getEmail()) : //user registered via facebook does not have a password ?>
            <!-- login details block -->
            <form method="post" action="<?php echo $this->GetPublicUrl('user/profile/changepassword'); ?>">
                <div class="account-block clearfix lastCh"> <a href="#" class="edit-user-profile" id="editLoginDetails">Edit</a>
                    <div class="control-group phone-fields">
                        <label class="control-label" for="login-d">Login Details:</label>
                        <?php if ($this->session->getFormErrors('oldpassword') || $this->session->getFormErrors('newpassword')): ?>
                            <p class="invalid"> <i></i>Error occured!</p>
                        <?php endif; ?>
                        <div class="controls">
                            <p class="def-login-details"></p>

                            <!-- add account detalils -->
                            <div class="edit-login-details">
                                <ul>
                                    <li class="oldP"><span>Current password:</span>
                                        <input type="password" name="oldpassword" />
                                        <?php if ($this->session->getFormErrors('oldpassword')): ?>
                                            <span class="invalid"> <i></i> <?php echo $this->session->getFormErrors('oldpassword'); ?></span>
                                        <?php endif; ?>
                                    </li>
                                    <li><span>New password:</span>
                                        <input type="password" name="newpassword" />
                                        <?php if ($this->session->getFormErrors('newpassword')): ?>
                                            <span class="invalid"> <i></i> <?php echo $this->session->getFormErrors('newpassword'); ?></span>
                                        <?php endif; ?>
                                    </li>
                                    <li><span>Confirm password:</span>
                                        <input type="password" name="confirmation" />
                                        <?php if ($this->session->getFormErrors('confirmation')): ?>
                                            <span class="invalid"> <i></i> <?php echo $this->session->getFormErrors('confirmation'); ?></span>
                                        <?php endif; ?>
                                    </li>
                                </ul>
                                <button class="save-login-details" type="submit">Save</button>
                            </div>
                            <!--/ add account detalils --> 
                        </div>
                    </div>
                </div>
            </form>
            <!--/ login details block --> 
        <?php endif; ?>

    </div>
    <!--/ account-info --> 
</div>
<!--/ mainContent -->

<div class="clear"></div>

<script>
    /*
    $(function () {
        $('#fileupload').fileupload({
            dataType: 'json',
            done: function (e, data) {
                window.location = "<?php echo Ikantam_Url::getUrl('user/profile/account'); ?>";
                /*$.each(data.result.files, function (index, file) {
                    var parentElement = $("#images-preview li.uploading").first();
							
                    $(parentElement).removeClass('uploading').find('img').attr('src', file.url);
							
							
							
                    $("select#files").append("<option selected='selected' value='"+file.name+"'>"+file.name+"</option>");
							
                    $(parentElement).find("a.removeitem").attr("onclick", "removeItem(this, '"+file.name+"')");
                    $(parentElement).find("a.setasDef").attr("onclick", "setDefaultItem(this, '"+file.name+"')");
							
                });*//*
            },
            send: function (e, data) {
                //jQuery("#images-preview").append('<li class="uploading"><div class="overlay"><a class="setasDef" href="javascript:void(0);">Set as default</a><a class="removeitem" href="javascript:void(0);"><i></i></a></div><img src="<?php echo $this->getUrl('images/uploading.gif'); ?>" alt="item name" /></li>');
            }
        });
    });
     */	
</script>