<?php /* @var $user User_Model_User */ ?>
<?php $user = $this->user ?>
<script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/jQuery-File-Upload-master/js/vendor/jquery.ui.widget.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/jQuery-File-Upload-master/js/jquery.iframe-transport.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/jQuery-File-Upload-master/js/jquery.fileupload.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/jCrop/jquery.color.js'); ?>"></script>
<script type="text/javascript" src="<?php echo Ikantam_Url::getPublicUrl('js/jCrop/jquery.Jcrop.min.js'); ?>"></script>
<?php echo $this->partial('change_avatar_js.phtml', 'user'); ?>

<div class="container-fluid" id="container"> 
    <div class="apt-container sidebar-main">
        <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

        <div class="main all-posts">
            <h2>Profile</h2>
            <?php foreach ($this->session->getMessages() as $_type => $_messages) : ?>
                <?php foreach ($_messages as $_message): ?>
                    <div class="aptd-alert <?php echo $_type ?>">
                        <i class="apt-i-warning"></i>
                        <p><?php echo $_message ?></p>
                        <button type="button" class="dismiss" data-dismiss="alert">x</button>
                    </div>
                <?php endforeach ?>
            <?php endforeach; ?>
            <!--  account-block -->
            <div class="account-block clearfix">
                <!-- basic-account-info -->
                <div class="basic-account-info"> 

                    <!-- profile-image -->
                    <div class="profile-image"> <img id="mainPhoto" src="<?php echo $this->user->getAvatarUrl(); ?>" alt="User image" /> 
                        <a href="#changeImage" id="test" data-toggle="modal" >Change image</a> 

                        <!-- verify your phone modal -->
                        <div id="changeImage" style="width: auto;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>


                            <div class="fileupload fileupload-new"  data-provides="fileupload">
                                <h3>Change your photo</h3>
                                <span class="btn btn-file" style="float: left;">
                                    <span class="fileupload-new">Select photo</span>
                                    <span class="fileupload-exists">Change</span>
                                    <input id="fileupload" type="file" name="files[]" data-url="<?php echo Ikantam_Url::getUrl('upload-image/avatar'); ?>" accept="image/*"/>
                                </span>

                                <style>
                                    #loadinprogress
                                    {
                                        width: 52px;
                                        height: 14px;
                                        margin: 0 auto;
                                        display:none;
                                        border-radius: 0 !important;
                                    } 

                                    #avatarfail
                                    {
                                        display: none;
                                    } 

                                    #prevImg
                                    {                
                                        position: relative !important;
                                        border-radius: 0 !important;
                                        height: auto !important;
                                        width: auto !important;
                                        max-height: 230px !important;
                                        max-width: 400px !important;

                                    } 

                                    .linebtn 
                                    {
                                        display: inline;
                                        width: 75px;
                                        height: 40px;
                                        font-size: 1.1em;
                                        font-weight: bold;
                                        margin-top: 15px;
                                        margin-left: 20px;
                                    }


                                    .fileupload-preview {display: none;}         
                                </style>

                                <img id="loadinprogress" width="52" height="14" src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" style="display: none;" />
                                <p class="invalid" id="avatarfail">  </p>              
                                <span class="fileupload-preview">
                                    <img id="prevImg"/>
                                    <span>
                                        <button class="publish linebtn" id="saveAvatar">Save</button>
                                        <button class="publish un-publish linebtn" id="backToUpload">Close</button>
                                    </span>
                                </span>
                            </div>

                        </div>
                        <!--/ verify your phone modal -->

                    </div>
                    <!--/ profile-image -->
                    <div class="clear"></div>
                    <!-- account-info -->
                    <div>
                        <?php $hasError = $this->addressForm->isErrors(); ?>


                        <div class="def-account-info pos-rlv form-bundle" <?php if ($hasError) : ?>style="display:none;"<?php endif; ?>>
                            <h3><?php echo $this->user->getFullName(); ?></h3>
                            <a href="#" class="edit-user-profile m--r7" id="editBasicInfo">Edit</a>
                            <?php if ($this->user->getPrimaryAddress()->getId()) : ?>
                                <?php $address = $this->user->getPrimaryAddress(); ?>
                                <p>
                                    <?php if ($address->getState()) : ?>
                                        <?php printf('%s, %s, %s %s', $address->getAddressLine1(), $address->getCity(), $address->getState(), $address->getPostcode()); ?>
                                    <?php else : ?>
                                        <?php printf('%s, %s, %s', $address->getAddressLine1(), $address->getCity(), $address->getPostcode()); ?>
                                    <?php endif; ?>

                                </p>
                            <?php endif; ?>

                        </div>
                        <!--/ def-account-info -->
                        <div class="clear"></div>

                        <!-- edit-basic-account-info -->
                        <div class="edit-basic-account-info" <?php if ($hasError) : ?>style="display:block;"<?php endif; ?>>
                            <?php echo $this->addressForm; ?>
                        </div>
                        <!--/ edit-basic-account-info -->

                        <div class="clear"></div>

                        <!-- edit-veriations -->
                        <?php /* <div class="edit-veriations">
                          <h3>verify your identity</h3>
                          <p> Build your reputation,and validate your identity in a few easy steps by verifying your phone number and connecting your profile to popular social networks. </p>

                          <!-- social-blocks -->
                          <div class="social-blocks">
                          <ul>
                          <li> <a href="#vphoneModal" data-toggle="modal" class="verify-by-phone">
                          <span><i></i></span> Verified by Phone </a> <i class="success-veriation"></i> </li>
                          <li> <a href="#" class="verify-by-fb"> <span><i></i></span> Verified via Facebook </a> <i class="success-veriation"></i> </li>
                          <li> <a href="#" class="verify-by-linkin"> <span><i></i></span> Connect via Linkedin </a> <i class="not-verified"></i> </li>
                          </ul>
                          </div>
                          <!--/ social-blocks -->
                         */ ?>
                    </div>
                    <!--/ edit-veriations -->

                </div>
                <!-- basic-account-info -->
            </div>
            <!--/ account-block -->

            <div class="clear"></div>
            <div class="form-bundle">
                <!-- birthday block -->
                <form method="post" action="<?php echo Ikantam_Url::getUrl('user/profile/editdateofbirth'); ?>">
                    <div class="account-block clearfix"> <a href="#" class="edit-user-profile" id="editBdInfo">Edit</a>
                        <div class="control-group birthday-field">
                            <label class="control-label" for="birthday">Birthday:</label>
                            <div class="controls">
                                <?php if ($this->session->getFormErrors('date')) : ?>
                                    <p class="invalid" id="error-date"> <i></i> <?php echo $this->session->getFormErrors('date'); ?></p>
                                <?php endif; ?>
                                <p class="def-bd-field"> <?php if ($this->user->getDateOfBirth()) echo date('d M Y', strtotime($this->user->getDateOfBirth())); ?> </p>

                                <div class="edit-birthday-info">
                                  <!-- <input type="text" id="datepicker" class="datepicker" /> -->

                                    <!-- @new -->

                                    <div class="btn-group" id="birth-day">
                                        <?php if ($this->user->getDateOfBirth()) : ?>
                                            <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment"><?php echo date('d', strtotime($this->user->getDateOfBirth())); ?></span> <span class="caret"></span></button>
                                        <?php else : ?>
                                            <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment">Day</span> <span class="caret"></span></button>
                                        <?php endif; ?>

                                        <ul class="dropdown-menu" id="days">
                                            <?php for ($i = 1; $i <= 31; $i++): ?>
                                                <li><a href="#" onclick="return false;"><?php echo $i; ?></a></li>
                                            <?php endfor; ?>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>

                                    <div class="btn-group" id="birth-month">
                                        <label class="control-label" for="birthday"></label>
                                        <?php if ($this->user->getDateOfBirth()) : ?>
                                            <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment"><?php echo date('M', strtotime($this->user->getDateOfBirth())); ?></span> <span class="caret"></span></button>
                                        <?php else : ?>
                                            <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment">Month</span> <span class="caret"></span></button>
                                        <?php endif; ?>
                                        <ul class="dropdown-menu" id="monthUl">
                                            <?php foreach ($this->month as $month): ?>
                                                <li><a href="#" onclick="return false;"><?php echo $month; ?></a></li>
                                            <?php endforeach; ?>

                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="btn-group" id="birth-year">
                                        <label class="control-label" for="birthday"></label>
                                        <?php if ($this->user->getDateOfBirth()) : ?>
                                            <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment"><?php echo date('Y', strtotime($this->user->getDateOfBirth())); ?></span> <span class="caret"></span></button>
                                        <?php else : ?>
                                            <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment">Year</span> <span class="caret"></span></button>
                                        <?php endif; ?>
                                        <ul class="dropdown-menu" id="yearsUl">
                                            <?php for ($i = date('Y'); $i >= 1920; $i--): ?>
                                                <li><a href="#" onclick="return false;"><?php echo $i; ?></a></li>
                                            <?php endfor; ?>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                    <button name="date" class="save-bd-info">Save</button>
                                </div>
                            </div>
                        </div>
                    </div></form>        

                <script type="text/javascript">
                    (function() {
                        var M = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12};

                        var day = $('#birth-day').find('.replacment');
                        var month = $('#birth-month').find('.replacment');
                        var year = $('#birth-year').find('.replacment');

                        $('#monthUl').find('li').click(function() {
                            updateAvailableDays(M[$(this).text()], year.text());
                        });
                        $('#yearsUl').find('li').click(function() {
                            updateAvailableDays(M[month.text()], $(this).text());
                        });

                        $('.save-bd-info').mousedown(function() {
                            $(this).val(M[month.text()] + '-' + day.text() + '-' + year.text());
                        });

                        function updateAvailableDays(month, year)
                        {
                            var daysInMonth = new Date(year, month, 0).getDate();
                            var days = $('#days').find('li').removeAttr('style');
                            for (var i = 31; i > daysInMonth; i--)
                            {
                                $(days[i - 1]).hide();
                            }

                        }


                    })();
                </script>
                <!--/ birthday block -->        


                <div class="clear"></div>

                <!-- email block -->
                <form method="post" action="<?php echo Ikantam_Url::getUrl('user/profile/editemail'); ?>"> 
                    <div class="account-block clearfix"> <a href="#" class="edit-user-profile" id="editEmailInfo">Edit</a>
                        <div class="control-group email-fields">
                            <label class="control-label" for="e-mail">E-mail:</label>
                            <div class="controls">

                                <p class="def-email-field"><?php echo $this->user->getPrimaryEmail()->getEmail(); ?></p>


                                <!-- edit-email-field -->
                                <div class="edit-email-field"> <span>Primary:</span>
                                    <ul>    
                                        <?php foreach ($this->user->getEmailCollection()->getItems() as $email): ?>                                    

                                            <li>
                                                <div class="radio-btn<?php if ($email->getIsPrimary()): ?> checkedRadio<?php endif; ?>">
                                                    <input name="primary" <?php if ($email->getIsPrimary()): ?> checked="checked" <?php endif; ?> value="<?php echo $email->getId(); ?>" type="radio"/>                      
                                                </div>
                                                <?php echo $email->getEmail(); ?>
                                            </li>                                        


                                        <?php endforeach; ?>

                                    </ul>

                                    <div class="clear"></div>

                                    <a href="#" class="add-email-field">+ Add e-mail</a>
                                    <div class="new-email-field"> <span>New e-mail:</span>
                                        <input type="text" name="email" />
                                    </div>
                                    <?php if ($this->session->getFormErrors('email')): ?>
                                        <p class="invalid"> <i></i> <?php echo $this->session->getFormErrors('email'); ?></p>
                                    <?php endif; ?>
                                    <div class="clear"></div>
                                </div>
                                <button class="save-email-info" type="submit">Save</button>
                                <!--/ edit-email-field --> 

                            </div>
                        </div>
                    </div></form>
                <!--/ email block -->

                <div class="clear"></div>

                <!-- phone number block --><form method="post" action="<?php echo Ikantam_Url::getUrl('user/profile/editphone'); ?>">
                    <div class="account-block clearfix"> <a href="#" class="edit-user-profile" id="editPhoneInfo">Edit</a>
                        <div class="control-group phone-fields">
                            <label class="control-label" for="phone-nuumber">Phone Number:</label>
                            <div class="controls">
                                <?php if ($this->user->getPrimaryPhone()) : ?>
                                    <p class="def-phone-field"><?php echo $this->user->getPrimaryPhone()->getPhone(); ?></p>
                                <?php endif; ?>

                                <!-- edit-email-field -->
                                <div class="edit-phone-field"> <span>Primary:</span>
                                    <ul>
                                        <?php foreach ($this->user->getPhoneCollection()->getItems() as $phone): ?>
                                            <li>
                                                <?php if ($phone->getIsPrimary()): ?>
                                                    <div class="radio-btn checkedRadio">
                                                        <input type="radio" checked="checked" name="primary" value="<?php echo $phone->getId(); ?>" />
                                                    <?php else: ?>
                                                        <div class="radio-btn">
                                                            <input type="radio" name="primary" value="<?php echo $phone->getId(); ?>" />                  
                                                        <?php endif; ?>
                                                    </div>
                                                    <?php echo $phone->getPhone(); ?>
                                            </li>               
                                        <?php endforeach; ?>

                                    </ul>
                                    <div class="clear"></div>
                                    <a href="#" class="add-phone-field">+ Add phone number</a>
                                    <div class="new-phone-field"> <span>New phone number:</span>
                                        <input type="text" name="phone" class="numb-format" placeholder="(___) ___ ____" />
                                        <!-- <button class="add-new-phone">Add</button> -->
                                    </div>
                                    <?php if ($this->session->getFormErrors('phone')): ?>
                                        <p class="invalid"> <i></i> <?php echo $this->session->getFormErrors('phone'); ?></p>
                                    <?php endif; ?>
                                    <div class="clear"></div>
                                </div>
                                <button class="save-phone-info">Save</button>
                                <!--/ edit-email-field --> 

                            </div>
                        </div>
                    </div></form>
                <!--/ phone number block -->
                <div class="account-block clearfix"> <a href="#" class="edit-user-profile" id="editAddressInfo">Edit</a>
                    <div class="control-group address-fields">
                        <label class="control-label" for="address-number">Address:</label>
                        <div class="controls">

                            <p class="def-bd-field def-address-field"><?php echo $user->getPrimaryAddress()->toString(', ') ?></p>

                            <!-- edit-email-field -->
                            <div class="edit-address-field ">
                                <?php echo $this->partial('profile/account/addresses_template.phtml', 'user', array('addresses' => $user->getAddresses(), 'addressesForm' => $this->addressesForm)); ?>

                                <?php echo $this->partial('profile/account/addresses_template.phtml', 'user', array('addresses' => array($this->newAddress), 'addressesForm' =>  $this->newAddressForm)); ?>
                                <a href="javascript:void()" onclick="addNewAddress()" class="save-address-info apt-btn classic pull-right">Add New Address</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- account details block -->
                <form method="post" action="<?php echo Ikantam_Url::getUrl('user/profile/editdetails'); ?>">
                    <div class="account-block clearfix"> <a href="#" class="edit-user-profile" id="editAccountDetails">Edit</a>
                        <div class="control-group phone-fields">
                            <label class="control-label" for="e-mail">About Me:</label>
                            <div class="controls">
                                <p class="def-account-field"><?php echo $this->escape($this->user->getDetails()); ?></p>

                                <!-- add account detalils -->
                                <div class="edit-account-details">
                                    <textarea name="details"><?php echo $this->user->getDetails(); ?></textarea>
                                    <button class="save-account-details" type="submit">Save</button>
                                </div>
                                <!--/ add account detalils --> 
                            </div>
                        </div>
                    </div></form>
                <!--/ account details block --> 

                <?php if ($this->user->getEmail()) : //user registered via facebook does not have a password  ?>
                    <!-- login details block -->
                    <form method="post" action="<?php echo Ikantam_Url::getUrl('user/profile/changepassword'); ?>">
                        <div class="account-block clearfix lastCh"> <a href="#" class="edit-user-profile" id="editLoginDetails">Edit</a>
                            <div class="control-group phone-fields">
                                <label class="control-label" for="login-d">Login Details:</label>
                                <?php if ($this->session->getFormErrors('oldpassword') || $this->session->getFormErrors('newpassword')): ?>
                                    <p class="invalid"> <i></i>Error occured!</p>
                                <?php endif; ?>
                                <div class="controls">
                                    <p class="def-login-details"></p>

                                    <!-- add account detalils -->
                                    <div class="edit-login-details">
                                        <ul>
                                            <li class="oldP"><span>Current password:</span>
                                                <input type="password" name="oldpassword" />
                                                <?php if ($this->session->getFormErrors('oldpassword')): ?>
                                                    <span class="invalid"> <i></i> <?php echo $this->session->getFormErrors('oldpassword'); ?></span>
                                                <?php endif; ?>
                                            </li>
                                            <li><span>New password:</span>
                                                <input type="password" name="newpassword" />
                                                <?php if ($this->session->getFormErrors('newpassword')): ?>
                                                    <span class="invalid"> <i></i> <?php echo $this->session->getFormErrors('newpassword'); ?></span>
                                                <?php endif; ?>
                                            </li>
                                            <li><span>Confirm password:</span>
                                                <input type="password" name="confirmation" />
                                                <?php if ($this->session->getFormErrors('confirmation')): ?>
                                                    <span class="invalid"> <i></i> <?php echo $this->session->getFormErrors('confirmation'); ?></span>
                                                <?php endif; ?>
                                            </li>
                                        </ul>
                                        <button class="save-login-details" type="submit">Save</button>
                                    </div>
                                    <!--/ add account detalils --> 
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--/ login details block --> 
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
<div class="loader-overlay"></div>
<div class="loader-container"><img src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" /></div>

<script type="text/javascript">
    function addNewAddress() {
        var $duplicate = $('#new-address-template').clone(true).insertBefore('#new-address-template');
        $duplicate.removeAttr('id')
            .addClass('new-address-template')
            .fadeIn();
        $duplicate.find('.edit-address-container')
            .show();
    }

    function setDefaultAddress(el) {
        $button = $(el);
        if ($button.text().trim() == 'Default address') {
            return;
        }
        showOverlay();
        $.ajax({
            url: '<?php echo Ikantam_Url::getUrl('user/profile/set-primary-address') ?>',
            data: {address_id: $button.data('address_id')},
            success: function(response) {
                if (response.success) {
                    $('.address-to-set').removeClass('active');
                    $('#address-container-' + $button.data('address_id')).addClass('active');
                    hideOverlay();
                }
            }
        })
    }

    function deleteAddress(el, addressId) {
        if (confirm('Are You Sure?')) {
            var $addressContainer = $(el).closest('.address-to-set');

            if ($addressContainer.hasClass('new-address-template')) {
                // remove address container
                $addressContainer.fadeOut(function(){
                    $addressContainer.remove()
                });

            } else {
                showOverlay();
                $.ajax({
                    url: '<?php echo Ikantam_Url::getUrl('user/profile/delete-address') ?>',
                    type: 'post',
                    data: {address_id: addressId},
                    success: function(response) {
                        if (response.success) {
                            // remove address container
                            $addressContainer.fadeOut(function(){
                                $addressContainer.remove()
                            });
                        } else {
                            alert(response.message);
                        }
                        hideOverlay();
                    }
                });
            }
        }
    }

    function toggleNumberOfStairsElement(el) {
        $this = $(el);
        $numberOfStairs =  $this.siblings('select[name="shipping_address[number_of_stairs]"]');
        if ($this.val() == 'walkup') {
            $numberOfStairs.removeClass('hidden');
        } else {
            $numberOfStairs.addClass('hidden');
        }
    }

    $(document).ready(function(){
        initOnSubmitAjaxForAddressForm();
    });

    function initOnSubmitAjaxForAddressForm() {
        $('.edit-address-form').each(function(){
            $(this).on('submit', function(){
                $form = $(this);
                showOverlay();
                $form.find('#submit-label').html('&nbsp;')
                    .removeClass('text-error');
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    success: function(response){
                        if (response.success) {
                            $form.closest('.address-to-set').replaceWith(response.template);
                            initOnSubmitAjaxForAddressForm();
                        } else {
                            $form.find('#submit-label').html(response.message)
                                .addClass('text-error');
                        }
                        hideOverlay();
                    }
                });
                return false;
            });
        });
        $('select[name="shipping_address[building_type]"').each(function(){
            toggleNumberOfStairsElement(this);
            $(this).on('change', function(){
                toggleNumberOfStairsElement(this);
            });
        });
    }

    function showOverlay() {
        $(".loader-overlay, .loader-container").show();
    }

    function hideOverlay() {
        $(".loader-overlay, .loader-container").fadeOut('slow');
    }

</script>