<style> 

    #mail-to-user-popup textarea
    {
        height: 150px;
        width: 97% !important;    
    }
    #mail-to-user-popup button
    {
        background-color: #ccc;
        border:1px solid #C2C2C2;
        color: #fff;
        font-size: 2em;
        font-weight: bolder;
        padding: 4px;
    }

    #mail-to-user-popup button:hover
    {
        background-color: #E8AF3C;
        border-color: #E8AF3C;
    }

    #mail-to-user-success, #mail-to-user-fail
    {
        display:  none;
    }

    .reason-container {
        background-color: #575656;
        margin-left: 5px;
        margin-right: 5px;
        border-top: 1px solid gray;
    }

    .reason-container .reason-list {
        color: #B19047 !important;
        font-size: 11px !important;
    }

    .reason-list li:hover {
        background-color: #f2f2f2 !important;
        border-left: 1px solid #575656;
        border-right:  1px solid #575656;
        border-bottom: 1px solid #575656;
        margin-bottom: -1px;
        cursor: pointer;
    }


</style>
<script type="text/javascript">

    (function(doc, $) {
        $(doc).ready(function() {
            var $mailTo = $('.mail-to-user'),
                    $addressLine = $('#mail-to-user-email'),
                    $form = $('#mail-to-user-form'),
                    $popup = $('#mail-to-user-popup'),
                    $close = $('#mail-to-user-popup .close'),
                    $wait = $('#mail-to-user-wait'),
                    $send = $('#mail-to-user-submit'),
                    $success = $('#mail-to-user-success'),
                    $fail = $('#mail-to-user-fail');

//Fill email address field          
            $mailTo.click(function() {
                $send.show();
                $form.find('input').val('');
                $('#mail-to-user-subject').val('AptDeco: ' + $(this).data('product_title') );
                $('#mail-to-user-body').val('<p>Hi ' + $(this).data('user') + ',</p>' + "\n");
                $addressLine.val($(this).html());
            });
//Send email
            $('#mail-to-user-submit').click(function(e) {
                var data = $form.serialize();
                $(this).hide();
                $wait.show();
                $.post('<?php echo Ikantam_Url::getUrl('admin/users/send-email') ?>', data, function(response) {
                    response = $.parseJSON(response);
                    $wait.hide();
                    if (response.success)
                    {
                        $success.slideDown(300);
                        setTimeout(function() {
                            $success.hide();
                            $close.click()
                        }, 1500);
                    } else
                    {
                        $fail.slideDown(300);
                        setTimeout(function() {
                            $fail.slideUp(300);
                            $send.show();
                        }, 2000);
                    }
                });
                e.preventDefault();
            });
        });//doc    
    })(document, jQuery)

</script>
<div id="mail-to-user-popup" class="modal hide fade">
    <button style="margin-top: -10px; margin-right: -10px;"  type="btn" class="close" data-dismiss="modal" aria-hidden="true">X</button>

    <form id="mail-to-user-form">
        <div class="alert alert-success" id="mail-to-user-success">
            Message was successfully sent.
        </div>
        <div class="alert alert-error" id="mail-to-user-fail">
            Message was not sent. Try again later.
        </div>
        <label for="mail-to-user-email">Email address:</label><br />
        <input id="mail-to-user-email" name="email" type="text"/><br />
        <label for="mail-to-user-subject">Subject:</label><br />
        <input id="mail-to-user-subject" name="subject" type="text"/><br />
        <label for="mail-to-user-body">Message:</label><br />
        <textarea  id="mail-to-user-body" name="body"></textarea><br />
        <img id="mail-to-user-wait" style="display: none;" src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" />
        <button id="mail-to-user-submit">Send</button>

    </form>

</div>

<div class="container-fluid" id="container"> 

    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

    <div class="mainContent" id="messages">

        <div id="user-actions">
            <h2>Products</h2>

            <?php if (!empty($this->search)): ?>
                <p  class="filter-result">
                    Search results for: <?php echo $this->escape($this->search); ?>
                </p>
            <?php endif; ?>

            <div id="msg-filter">
                <?php echo $this->form; ?>
            </div>
        </div>

        <div class="clear"></div>

        <?php if ($this->products->getSize()) : ?>
            <form id="mass_action_form" action="<?php echo Ikantam_Url::getUrl('admin/products/mass-action'); ?>" method="POST">
                <table id="my-items-table" class="products-table">
                    <tr class="table-title">
                        <th class="brdr-over brdr-std"><input type="checkbox" name="select_all"></th>

                        <th>&nbsp;</th>

                        <th class="txt-lft">Product</th>

                        <th class="ordr-date cent">Seller</th>

                        <th class="cent">&nbsp;</th>
                        <th class="txt-lft">Date</th>
                        <th class="txt-lft">Status</th>

                        <th class="txt-lft">
                            <span class="m-b7 show">With selected:</span>
                            <select name="mass_action" style="width: 90px">
                                <option>-- Select action --</option>
                                <option value="publish">Publish</option>
                                <option value="unpublish">Unpublish</option>
                                <option value="approve">Approve</option>
                                <option value="reject">Reject</option>
                            </select>
                        </th>

                        <th>Verification</th>
                    </tr>

                    <?php echo $this->partial('products/product_list.phtml', 'admin', $this); ?>
                </table>
            </form>
        <?php else : ?>
            <h2>No products found</h2>
        <?php endif; ?>

        <?php if ($this->totalPages > 1) : ?>
            <?php echo $this->partial('products/pagination.phtml', 'admin', $this); ?>
        <?php endif; ?>
    </div>

    <script>      
        $("#datepicker4, #datepicker5").datepicker({
            dateFormat: 'M dd, yy',
            showOtherMonths: true,
            selectOtherMonths: true,
            showOn: "both",
            buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
            buttonImageOnly: true,
            prevText: "",
            nextText: ""
        });

        function setPeriod(type)
        {
            var start_date = null;
            var end_date = null;

            switch (type) {
                case "day":
                    start_date = "0";
                    end_date = "0";
                    break;
                case "week":
                    start_date = "-1w";
                    end_date = "0";
                    break;
                case "month":
                    start_date = "-1m";
                    end_date = "0";
                    break;
                case "year":
                    start_date = "-1y";
                    end_date = "0";
                    break;
            }

            $("#datepicker4").datepicker("setDate", start_date);
            $("#datepicker5").datepicker("setDate", end_date);
        }
    </script> 
</div>