<?php
$dates = array(
    'all'   => 'All',
    'week'  => 'Week',
    'month' => 'Month'
);
?>
<div class="container-fluid" id="container">
    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>
    <div class="mainContent" id="messages">
        <div class="clear"></div>
        <h2>Pricing Management</h2>
        <div class="toolbar m-b20">
            <form method="get" name="filters" id="filterForm"  class="apt-form" action="<?php echo Ikantam_Url::getUrl('admin/products/manage-pricing'); ?>">

                <div  class="hidden">
                    <select name="category" id="category">
                        <option value="0">All Categories</option>
                        <?php foreach ($this->categories as $_category): ?>
                            <?php /* @var $_category Category_Model_Category  */?>
                            <option value="<?php echo $_category->getId()?>" <?php if ($this->currentCategory->getId() ==  $_category->getId()): ?> selected="selected" <?php endif ?>><?php echo $_category->getTitle() ?></option>
                        <?php endforeach ?>
                    </select>
                    <select name="date" id="date">
                        <?php foreach ($dates as $_value => $_label): ?>
                            <option value="<?php echo $_value ?>" <?php if ($this->date == $_value): ?> selected="selected" <?php endif ?>><?php echo $_label ?></option>
                        <?php endforeach ?>
                    </select>
                </div>

                <div class="control-group pull-left">
                    <div class="form-group" >
                        <input type="text" name="search" id="filter-items" autocomplete="off"  class="form-field block-field field-i search right" />
                        <div id="scrollbar-5" class="cityParent">

                            <div class="scrollbar">
                                <div class="track">
                                    <div class="thumb">
                                        <div class="end"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="viewport">
                                <div id="mysales-items" class="overview">
                                    <ul id="suggestions-list">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <ul class="inline">
                        <li class="pos-rlv"> <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="selected-title"> <?php echo $this->currentCategory->getTitle() ? $this->currentCategory->getTitle() : 'All Categories' ?> </span><span class="caret top-7 pos-rlv"></span></a>
                            <ul class="dropdown-menu apt-dropdown">
                                <li><a href="javascript:void(0)"  onclick="applyFilter('category', '0')">All Categories</a></li>
                                <?php foreach ($this->categories as $category): ?>
                                    <li><a href="javascript:void(0)"  onclick="applyFilter('category', '<?php echo $category->getId() ?>')" ><?php echo $category->getTitle(); ?></a></li>
                                <?php endforeach ?>
                            </ul>
                        </li>
                        <li class="m-r10 pos-rlv">
                            <div class="sm-tbl-visible"> <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown"> <?php echo $dates[$this->date]?> <span class="caret top-7 pos-rlv"></span></a>
                                <ul class="dropdown-menu apt-dropdown">
                                    <?php foreach ($dates as $_value => $_label): ?>
                                        <?php if ($this->date != $_value): ?>
                                            <li><a class="<?php echo $this->date == $_value ? 'sm-tbl-hidden' : 'text-primary sm-tbl-hidden dark' ?>"  href="javascript:void()" onclick="applyFilter('date', '<?php echo $_value ?>')"><strong><?php echo $_label?></strong></a></li>
                                        <?php endif ?>
                                    <?php endforeach ?>
                                </ul>
                            </div>
                        </li>
                        <?php foreach ($dates as $_value => $_label): ?>
                            <li><a class="<?php echo $this->date == $_value ? 'sm-tbl-hidden' : 'text-primary sm-tbl-hidden dark' ?>"   href="javascript:void()" onclick="applyFilter('date', '<?php echo $_value ?>')"><strong><?php echo $_label?></strong></a></li>
                        <?php endforeach ?>
                    </ul>
                </div>
            </form>
        </div>
        <div class="clear"></div>
        <table class="products-table admin manage-pricing" id="my-items-table">
            <thead>
            <tr class="table-title">
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th class="text-center">Current Price</th>
                <th class="text-center">Minimal Price</th>
                <th class="text-center">Sale end date</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <?php foreach ($this->paginator as $_product): ?>
                <?php /* @var $_product Product_Model_Product */ ?>
                <?php $seller = $_product->getSeller(); ?>
                <tbody>
                <tr id="row<?php echo $_product->getId() ?>">

                    <td class="cart-thumb">
                        <img style="width:113px !important;max-height: 113px !important;" src="<?php echo $this->escape($_product->getMainImageUrl()); ?>" alt="<?php echo $this->escape($_product->getTitle()); ?>" />
                    </td>

                    <td>
                        <h3>
                            <a href="<?php echo Ikantam_Url::getUrl('admin/view-product/index', array('id' => $_product->getId())); ?>">
                                <?php echo $this->escape($_product->getTitle()); ?>
                            </a>
                        </h3>
                        <div>
                            <span>Seller</span>
                            <a href="<?php echo $seller->getProfileUrl()?>">
                                <?php echo $this->escape($seller->getFullName()); ?>
                            </a>
                        </div>
                        <p class="m-t8">
                            <?php echo $_product->getConditionLabel() ?>
                        </p>
                    </td>
                    <td class="text-center current-price">
                        <span><?php echo $this->currency($_product->getPrice()) ?></span>
                    </td>
                    <td class="text-center">
                        <span><?php echo $this->currency($_product->getInitialPrice()/2) ?></span>
                    </td>
                    <td class="text-center available-till">
                        <span><?php echo  date('d.m.Y', $_product->getAvailableTill()) ?></span>
                    </td>
                    <td class="take-act">
                        <a href="javascript:void(0)"
                           data-product_id="<?php echo $_product->getId() ?>"
                           data-initial_price="<?php echo $_product->getInitialPrice() ?>"
                           data-current_price="<?php echo $_product->getPrice() ?>"
                           data-available_till="<?php echo date('d.m.Y', $_product->getAvailableTill()) ?>"
                           class="apt-btn classic edit-price-button" onclick="showReducePricePopup(this)"
                            >
                            Edit Price
                        </a>
                    </td>
                </tr>
                </tbody>
            <?php endforeach; ?>
        </table>
    <?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml'); ?>
    </div>
</div>

<div id="edit-price-popup" class="modal apt-modal hide fade admin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <button type="button" class="apt-btn transparent x-btn" data-dismiss="modal" aria-hidden="true"> <i class="apt-i-x"></i> </button>
    <h2>Edit price</h2>
    <form class="m-0" action="<?php echo $this->getUrl('admin/products/edit-price') ?>" id="edit-price-form" method="post">
        <div class="apt-form apt-v-last">
            <div class="control-group">
                <div class="form-group ">
                    <div class="form-field-block pull-left">
                        <input type="hidden" name="product_id" id="product_id" />
                        <div class="pricing">
                            <span class="form-label-inner">Listing price*</span>
                            <div class="input-prepend pull-left m-r10">
                                <cite class="add-on">$</cite>
                                <input class="form-field m-0" type="text" name="price" id="price" onkeyup="priceInputKeyUp(this)">
                            </div>
                            <span class="text-mute p-t12 show">per item</span>
                        </div>
                        <div class="pricing">
                            <span class="form-label-inner">Sale end date</span>
                            <div class="input-prepend pull-left m-r10">
                                <input class="form-field  filled w-188" type="text" name="available_till" readonly id="datepicker">

                            </div>
                        </div>
                    </div>
                    <div class="text-grey"><span>Minimal price </span><span id="minimal-price"></span><span style="margin-left: 100px">Current Price </span><span id="current-price"></span></div>
                    <div id="percentage_indicator">&nbsp;</div>
                    <div id="result"></div>
                    <small style="color:#ff6666 !important;" id="err_helper" class="field-helper hidden"></small>
                </div>
            </div>
        </div>

        <div class="apt-modal-action apt-modal-footer text-right">
            <button type="submit" class="apt-btn prime lrg">Confirm</button>
            <a class="text-sm text-mute text-ul" href="" data-dismiss="modal" aria-hidden="true">Cancel</a>
        </div>
    </form>
</div>

<script type="text/javascript">
    function applyFilter(selectId, value) {
        $('#' + selectId).val(value);
        $('#filterForm').submit();
    }

    function showReducePricePopup(button){
        $button  = $(button);
        $('#percentage_indicator').html('&nbsp;')
            .data('initial_price', $button.data('initial_price'))
            .data('current_price', $button.data('current_price'));
        $('#product_id').val($button.data('product_id'));
        $('#price').val('');
        $('#minimal-price').html(($button.data('initial_price') / 2).toFixed(2));
        $('#current-price').html(parseFloat($button.data('current_price')).toFixed(2));
        $('#datepicker').datepicker('setDate', $button.data('available_till'));
        $('#edit-price-popup').modal();
    }

    $(document).ready(function(){

        $('#edit-price-form').on('submit', function(){
            var $input = $('#price');
            $form = $(this);
            val = $input.val();
            $result = $('#result');
            $indicator = $('#percentage_indicator');

            $indicator.text('');
            $result.text('Please wait...');
            var percentage = ((val / $indicator.data('initial_price')) * 100).toFixed(2);
            if (!val.match(/^\d+(\.\d+)?$/) || percentage < 50 ||  val >= parseFloat($indicator.data('current_price'))) {
                alert('Error: invalid value');
                $result.text('');
            } else {
                $.ajax({
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    type: $form.attr('method'),
                    dataType: 'json',
                    success: function (response) {
                        if (response.error) {
                            alert(response.error);
                            $result.text(response.error);
                        } else {
                            var $row = $('#row' + response.product_id);
                            $row.find('.current-price').html(response.formatted_price).css('color', 'black');
                            $row.find('.available-till').html(response.formatted_available_till).css('color', 'black');
                            $row.find('.edit-price-button').data('current_price', response.price)
                                .data('available_till', response.formatted_available_till);

                            if (response.count > 0) {
                                $('#manage_pricing_count').text(response.count).prepend('<i class="arr"></i>');
                            } else {
                                $('#manage_pricing_count').remove();
                            }

                            $form.hide();
                            $('#edit-price-popup').append('<h3 class="dark-orange" id="success-message">Price has been changed</h3>');
                            setTimeout(function(){
                                $('#edit-price-popup').modal('hide');
                                $('#edit-price-form').show();
                                $('#success-message').remove();
                                $('#result').html('');
                            }, 1100);
                        }
                    }
                });
            }
            return false;
        });
    });


    function priceInputKeyUp(el){
        var $elem = $(el),
            val = $elem.val(),

            $indicator = $('#percentage_indicator'),
            initialPrice = $indicator.data('initial_price');
        if (!val.match(/^\d+(\.\d+)?$/) && val !== '') {
            $elem.css('backgroundColor', '#f76d55');
        } else {
            $elem.css('backgroundColor', 'white');
        }
        if (val = parseFloat(val)) {
            var percentage = ((val / initialPrice) * 100).toFixed(2);
            $indicator.text(percentage + '%');
            $elem.css('backgroundColor', 'none');
            if (percentage < 50 ||  val >= parseFloat($indicator.data('current_price'))) {
                $indicator.css({color: 'red', fontWeight: 'bold'});
            } else {
                $indicator.css({color: 'green', fontWeight: 'none'});
            }

        }
    }
    $("#datepicker").datepicker({
        dateFormat: 'dd.mm.yy',
        showOtherMonths: true,
        selectOtherMonths: true,
        showOn: "both",
        buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
        buttonImageOnly: true,
        prevText: "",
        nextText: "",
        minDate: "<?php echo date('d.m.Y', strtotime('+1 day')); ?>",
        maxDate: "<?php echo date('d.m.Y', strtotime('+2 years')); ?>"
    });
    var lastVal = '';
    var timeout = null;
    var ul = $('#suggestions-list');
    $('#filter-items').keyup(function(key) {

        var value = $(this).val();
        value = value.trim();
        if (value != lastVal) {
            lastVal = value;

            if (timeout !== null) {
                clearTimeout(timeout);
            }
            timeout = setTimeout(function() {
                timeout = null;
                $('#suggestions-list').empty();

                $.ajax({
                    type: "POST",
                    async: false,
                    url: '<?php echo Ikantam_Url::getUrl('admin/products/manage-pricing-suggestions'); ?>',
                    data: {'search': value},
                    success: function(data) {
                        data = $.parseJSON(data);
                        insertFromObject(data, value);
                    },
                });

                var popup = $('.items-to-filter');
                if (ul.find('li').length > 0)
                {
                    popup.fadeIn();
                } else
                {
                    popup.fadeOut();
                }

            }, 375);
        }
    });
    function insertFromObject(obj, sVal)
    {
        var list = $('#suggestions-list');

        for (i in obj['products']) {
            var li = document.createElement('li');
            var a = document.createElement('a');
            //$(a).attr('href',obj.products[i].url).html(highlightResult(sVal,obj.products[i].title));
            $(a).attr('href', '<?php echo Ikantam_Url::getUrl('admin/products/manage-pricing'); ?>/product/' + obj.products[i].id).html(highlightResult(sVal, obj.products[i].title));
            li.appendChild(a);
            list.append(li);
        }

        if (typeof (obj['products']) == 'undefined' || !obj['products'] || obj['products'].length < 1) {
            $("#scrollbar-5").slideUp();
        } else {
            $("#scrollbar-5").slideDown();
        }

    }

    function highlightResult(sVal, resVal)
    {
        var expr = new RegExp("^(" + sVal + ")", "i");
        resVal = resVal.replace(expr, "<b>$1</b>");
        return resVal;
    }

</script>
