<?php $pagesInRange = 16; ?>
<?php $start        = ($this->currentPage - $pagesInRange > 0) ? ($this->currentPage - $pagesInRange) : 1; ?>
<?php $finish       = ($this->currentPage + $pagesInRange <= $this->totalPages) ? ($this->currentPage + $pagesInRange) : $this->totalPages; ?>

<div class="pagination pagination-right">
    <ul>
        <?php if ($this->currentPage > 1): ?>
            <li class="old-msgs">
                <a href="<?php echo $this->url(array('page' => $this->currentPage - 1) + $this->params, 'default', false); ?>"><i></i></a>
            </li>
        <?php endif; ?>

        <?php for ($i = $start; $i < $this->currentPage; $i++) : ?>
            <li>
                <a href="<?php echo $this->url(array('page' => $i) + $this->params, 'default', false); ?>"><?php echo $i; ?></a>
            </li>
        <?php endfor; ?>

        <li>
            <a href="javascript:void(0);" style="color: #fff; background-color: #333;" onclick="return false;">
                <?php echo $this->currentPage; ?>
            </a>
        </li>

        <?php for ($i = $this->currentPage + 1; $i <= $finish; $i++) : ?>
            <li>
                <a href="<?php echo $this->url(array('page' => $i) + $this->params, 'default', false); ?>"><?php echo $i; ?></a>
            </li>
        <?php endfor; ?>

        <?php if ($this->currentPage < $this->totalPages): ?>
            <li class="new-msgs">
                <a href="<?php echo $this->url(array('page' => $this->currentPage + 1) + $this->params, 'default', false); ?>"><i></i></a>
            </li>
        <?php endif; ?>
    </ul>
</div>