<?php foreach ($this->products as $product): ?>
    <?php $seller = $product->getSeller(); ?>
    <tr>
        <td>
            <input type="checkbox" name="products[<?php echo $product->getId(); ?>]" />
        </td>

        <td class="cart-thumb">
            <img style="width:113px !important;max-height: 113px !important;" src="<?php echo $this->escape($product->getMainImageUrl()); ?>" alt="<?php echo $this->escape($product->getTitle()); ?>" />
        </td>

        <td>
            <h3>
                <a href="<?php echo Ikantam_Url::getUrl('admin/view-product/index', array('id' => $product->getId())); ?>">
                    <?php echo $this->escape($product->getTitle()); ?>
                </a>
            </h3>

            <ul>
                <li>
                    <?php echo $this->escape($product->getCategory()->getTitle()); ?>
                </li>

                <li>
                    <?php if ($product->getIsPickUpAvailable()): ?>
                        Pick up and Delivery
                    <?php else: ?>
                        Delivery
                    <?php endif; ?>
                </li>

                <li><?php $this->currency($product->getPrice()); ?></li>
            </ul>
        </td>

        <td class="cent">
            <a href="<?php echo Ikantam_Url::getUrl('admin/users/view', array('id' => $seller->getId())); ?>">
                <?php echo $this->escape($seller->getFullName()); ?>
            </a>

            <br />
            <a class="mail-to-user" data-toggle="modal" data-product_title="<?php echo $this->escape($product->getTitle()) ?>" data-user="<?php echo $this->escape($seller->getFirstName()); ?>" href="#mail-to-user-popup"><?php echo $seller->getMainEmail(); ?></a>
        </td>

        <td>                       
            <ul class="list vertical lbls-force" style="width:50px">
                <li title="Views (a number of times when product page was loaded)">
                    <span class="spn">
                        <i class="apt-i-view"></i>
                    </span>

                    <span class="spn">
                        <strong>
                            <?php echo $product->popularity(Product_Model_Popularity::TYPE_VIEW)->getCount(0); ?>
                        </strong>
                    </span>
                </li>    


                <li title="Added to cart times">
                    <span class="spn">
                        <i class="apt-i-shopping-cart m-0 left--2"></i>
                    </span>

                    <span class="spn">
                        <strong>
                            <?php echo $product->popularity(Product_Model_Popularity::TYPE_CART)->getCount(0); ?>
                        </strong>
                    </span>
                </li>

                <li title="Added to wishlist times">
                    <span class="spn">
                        <i class="apt-i-heart"></i>
                    </span>

                    <span class="spn">
                        <strong><?php echo $product->popularity(Product_Model_Popularity::TYPE_WISHLIST)->getCount(0); ?>
                        </strong>
                    </span>
                </li>
            </ul>                        
        </td>
        <td class="txt-lft">
            <ul>
                <?php if ($product->getCreatedAt() > time() - 86400 ): ?>
                    <li title="<?php echo date('M d h:i A', $product->getCreatedAt()) ?>"><?php echo $this->timeElapsedString('@' . $product->getCreatedAt(), 1) ?></li>
                <?php elseif ($product->getIsApproved() === 0) : ?>
                    <li class="text-error" title="<?php echo date('M d h:i A', $product->getCreatedAt()) ?>"><?php echo $this->timeElapsedString('@' . $product->getCreatedAt(), 2) ?></li>
                <?php else : ?>
                    <li><?php echo date('M d', $product->getCreatedAt()) ?></li>
                    <li><?php echo date('h:i A', $product->getCreatedAt()) ?></li>
                <?php endif ?>
            </ul>
        </td>
        <?php if ((int) $product->getIsApproved() === 0): ?>
            <td class="act">
                <button type="button" class="apt-btn primary m-0 fit" onclick="window.location = '<?php echo Ikantam_Url::getUrl('admin/products/approve', array('id' => $product->getId())); ?>'">
                    Approve
                </button>
                <button type="button" class="apt-btn def m-t8 fit role-reject">
                    Reject
                </button>
                <div class="reason-container hidden">
                    <ul class="reason-list" data-product-id="<?php echo $product->getId(); ?>">
                        <li>Product condition</li>
                        <li>Duplicate listing</li>
                        <li>Mattress\electronics</li>
                        <li>Incomplete listing information</li>
                        <li>Stock photos</li>
                        <li data-reason="other">Other</li>
                    </ul>
                </div>

            <?php elseif ((int) $product->getIsApproved() === 1): ?>
            <td class="act status recived">Approved

            <?php elseif ((int) $product->getIsApproved() === -1): ?>
            <td class="act status blocked">
                <button type="button" class="apt-btn primary m-0 fit" onclick="window.location = '<?php echo Ikantam_Url::getUrl('admin/products/approve', array('id' => $product->getId())); ?>'">
                    Approve
                </button>
                Rejected
            <?php endif; ?>
            <?php $relatedOrderItems = $product->getRelatedOrderItems(); ?>
            <?php if ($relatedOrderItems->getSize()): ?>
                <select class="order_item_list w-128">
                    <option> --Go To The Order Page-- </option>
                    <?php foreach ($relatedOrderItems as $item): ?>
                        <option value="<?php echo Ikantam_Url::getUrl('admin/users/order', array('id' => $item->getId())); ?>">
                            Order: #<?php echo $item->getOrderId(); ?> <small>(<?php echo $item->getStatus(); ?>)</small>
                    </option>
                <?php endforeach; ?>
            </select>
        <?php endif; ?>

    </td>

    <td class="take-act" style="width: 90px">
        <a href="<?php echo Ikantam_Url::getUrl('admin/view-product/index', array('id' => $product->getId())); ?>" class="ed-i-tem">
            View
        </a>

        <br/><br/>

        <?php if ($product->getIsSold() && $product->getIsApproved() != -1) : ?>
            <a href="<?php echo Ikantam_Url::getUrl('admin/products/republish/', array('id' => $product->getId())); ?>" class="ed-i-tem" style="color:#FF0000">
                Re-publish
            </a>
        <?php endif; ?>

        <?php if (!$product->getIsSold() && $product->getIsApproved() != -1) : ?>
            <a href="<?php echo Ikantam_Url::getUrl('admin/edit-product/index/', array('id' => $product->getId())); ?>" class="ed-i-tem" style="color:#FF0000">
                Edit
            </a>

            <br/><br/>

            <?php if ($product->getIsPublished()) : ?>
                <a href="<?php echo Ikantam_Url::getUrl('admin/products/unpublish', array('id' => $product->getId())); ?>" class="ed-i-tem" style="color:#EA9922">
                    Unpublish
                </a>
            <?php elseif ($product->canBePublished()) : ?>
                <a href="<?php echo Ikantam_Url::getUrl('admin/products/publish', array('id' => $product->getId())); ?>" class="ed-i-tem" style="color:#6BA501">
                    Publish
                </a>
            <?php elseif (!$product->canBePublished()) : ?>
                <p>Product can't be published</p>
            <?php endif; ?>
        <?php endif; ?>
    </td>

    <?php if (true || $product->getSeller()->personalSettings('product_verification_available') == 1) : ?>
        <?php if (is_null($product->getIsVerified())) : ?>
            <td class="text-center">
                <button type="button" class="apt-btn primary m-0 fit" onclick="window.location = '<?php echo Ikantam_Url::getUrl('admin/products/verify', array('id' => $product->getId())); ?>'">
                    Verify
                </button>
                <button type="button" class="apt-btn def m-t8 fit" onclick="window.location = '<?php echo Ikantam_Url::getUrl('admin/products/rejectverification', array('id' => $product->getId())); ?>'">
                    Reject
                </button>
            </td>
        <?php elseif ($product->getIsVerified()) : ?>
            <td class="text-center">
                <i class="apt-i-vari verified m-b15"></i>
                <span class="text-mute text-small">Verified</span>
            </td>
        <?php else : ?>
            <td class="text-center">
                <i class="apt-i-vari rejected m-b15"></i>
                <span class="text-mute text-small">Rejected</span>
            </td>
        <?php endif; ?>
    <?php else : ?>
        <td>&nbsp;</td>
    <?php endif; ?>
    </tr>      
<?php endforeach; ?>
<script>
    jQuery(function($) {
        $('.order_item_list').bind('change', function() {
            var url = $(this).find(':selected').prop('selected', false).val();
            if (url) {
                location.href = url;
            }
        });

        //Select reject product reason
        $('.role-reject').on('click', function(){
            $('.reason-container').slideUp();
            $(this).next('.reason-container').hide().removeClass('hidden').slideDown();
        });
        $('.reason-list li').on('click', function(){
            var reason = (function($element){
                if ($element.data('reason') === 'other') {
                    return window.prompt("Type reason here:");
                } else {
                    return $element.text();
                }
            })($(this)),
                rejectUrl = '<?php echo Ikantam_Url::getUrl('admin/products/reject/'); ?>'
                    + '/id/' + $(this).closest('.reason-list').data('product-id');
                // reason will be null if admin pushes cancel button on prompt
                if (reason) {
                    rejectUrl += '/reason/' + encodeURIComponent(reason);
                }
            iKantam.when('aptdeco_overlay', function(ov){
                ov.show();
            });
                window.location = rejectUrl;

        });

    });
</script>