<div class="container-fluid" id="container"> 
	<?php echo $this->partial('static_sidebar.phtml', array('current_controller' => 'invite_earn')); ?>

    <div class="mainContent static-content">
		<h2 class="visible-desktop">
            <?php echo $this->escape($this->title); ?>
        </h2>

		<div class="content-block">
			<div class="mceContentBody">
				<p>
					<?php echo str_replace('&nbsp;', '<br>', $this->content); ?>
				</p>
			</div>
		</div>
    </div>
</div>