<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>
    <body>

    <div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="confirmation-listing">
        <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">
            <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
                <span></span>
                <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
            </div>
            <div style="margin: 30px 20px;"><a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"><img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/aptdeco-logo.png') ?>" alt="AptDeco" /></a></div>
            <div style="background: #f5f5f5; margin: 0 20px 30px 20px; padding: 20px;">

                <?php $deliveryDate = $this->formatDate($this->item->getBuyerDate()); ?>
                Hey <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->buyer->getId())); ?>" style="color: #D85927;text-decoration:none;"><?php echo $this->buyer->getFirstName(); ?></a>,
                <br><br>
                Quick reminder that your
                <a href="<?php echo $this->product->getProductUrl(); ?>" style="color: #D85927;text-decoration:none;"><strong style="font-weight: bold;"><?php echo $this->product->getTitle(); ?></strong></a> is scheduled for delivery tomorrow <a href="<?php echo Ikantam_Url::getUrl('user/purchase/order', array('id' => $this->item->getId())); ?>" style="color: #D85927;text-decoration:none;"><strong style="font-weight: bold;"><?php echo $deliveryDate; ?></strong></a>. <br><br>

                <strong style="font-weight: bold;">Important Note:</strong> Please make sure you're available for the entire duration of the delivery windows. If you're not available, we'll have to reschedule and you'll have to pay an additional $65 delivery fee. Visit our <a style="color: #D85927;" href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>">FAQs</a> for more information about our policies.

                <br><br>
                Also, don't forget to <a href="<?php echo Ikantam_Url::getUrl('user/purchase/history'); ?>" style="color: #D85927;">confirm delivery</a> once the item is delivered so the seller can get paid!
                <br>
                <br>
                <table style="width: 100%;border-collapse:collapse;border-spacing:0;background-color: #fff; margin:0;border:1px solid #e6e6e6;">
                    <tbody><tr>
                        <td style="width: 72px; padding: 10px;">
                            <div style="width: 72px; height: 72px; background-color:#fff; border: 1px solid #e6e6e6;">
                                <a href="<?php echo $this->product->getProductUrl(); ?>">
                                    <img style="max-width:100%" src="<?php echo $this->product->getMainImageUrl('medium'); ?>" alt="<?php echo $this->product->getTitle(); ?>">
                                </a>
                            </div>
                        </td>
                        <td style="padding: 10px;">
                            <a href="<?php echo $this->product->getProductUrl(); ?>" style="font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif; color: #D85927; font-size: 20px; margin: 0; line-height: 100%; padding: 0; font-weight: normal;text-decoration:none;"><?php echo $this->product->getTitle(); ?> </a>
             <span style="font-family: arial, sans-serif; color: #999999; font-size: 14px;display: block; margin: 7px 0 0 0;">
            <?php echo $this->product->getCategory()->getTitle(); ?>
            <br>
            <?php echo $this->currency($this->item->getProductPrice()); ?> - <?php echo $this->item->getQty(); ?> item(s)</span>
                        </td>
                    </tr>
                    </tbody></table>

                <a href="<?php echo Ikantam_Url::getUrl('user/purchase/order', array('id' => $this->item->getId())); ?>" style="border: 0; color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #DA5B29; text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;"> <strong style="font-weight: bold;"> View order</strong></a>
                <a href="<?php echo Ikantam_Url::getUrl('user/purchase/history'); ?>" style="border: 0; color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #7f7f7f; text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;"> <strong style="font-weight: bold;"> Confirm Delivery</strong></a>
             </div>
            <div style="padding: 0 20px 20px 20px;">
      <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 0;">
        Feel free to respond to this email with any questions or converns.
      <br>
      Cheers, <br>
      The AptDeco Team </span>
            </div>
        </div>

    </div>
    </body>
</html>
