<div class="container-fluid" id="container">

    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

    <div class="mainContent" >
        <?php foreach ($this->session->getMessages('success') as $message) : ?>
            <div class="alert alert-success" style="height:auto;"> <i></i>
                <?php echo $message; ?>
                <button type="button" class="close" data-dismiss="alert">x</button>
            </div>
            <script>$("#fees-top").hide();</script>
        <?php endforeach; ?>

        <?php if (count($this->session->getMessages('error')) > 0) : ?>
            <div class="alert alert-error">
                <i class="in-valid"></i>
                <p>Opps, looks like some of the fields have errors or were left blank. Please update all fields highlighted in red and publish again</p>
                <button type="button" class="close" data-dismiss="alert">x</button>
            </div>
            <script>$("#fees-top").hide();</script>
        <?php endif ?>

        <div class="clearfix"></div>

        <div id="user-actions">
            <h2><?php echo $this->header ?></h2>
            <?php echo $this->form; ?>
        </div>
    </div>

    <div class="clear"></div>
</div>
<div class="clear"></div>