<form class="form-signin" id="sign-in" action="<?php echo Ikantam_Url::getUrl('admin/login/post'); ?>" method="post">
	<h2>Sign in</h2>

	<?php foreach ($this->session->getMessages('error') as $message) : ?>
		<p class="invalid" id="errors-password"><i></i><?php echo $message; ?></p>
	<?php endforeach; ?>

	<input type="text" class="input-block-level" placeholder="Email" name="email" value="<?php echo $this->session->getFormData('email'); ?>" />

	<?php if ($this->session->getFormErrors('email')) : ?>
		<p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('email'); ?></p>
	<?php endif; ?>

	<input type="password" class="input-block-level" placeholder="Password" name="password" />

	<?php if ($this->session->getFormErrors('password')) : ?>
		<p class="invalid" id="errors-password"> <i></i> <?php echo $this->session->getFormErrors('password'); ?></p>
	<?php endif; ?>

	<label class="checkbox">
		<button class="btn sign-btn" type="submit">Sign in</button>
	</label>
</form>