<div id="confirm" class="modal apt-modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
    <div class="font-roboto">
        <button type="button" class="apt-btn transparent x-btn" data-dismiss="modal" aria-hidden="true"> <i class="apt-i-x"></i> </button>
        <div class="apt-modal-header">
            <h4 class="apt-modal-title">Are you sure you'd like to cancel this purchase request?</h4>
        </div>

        <div class="clear"></div>
        <div class="apt-modal-action">
            <a id="aptdeco_confirm_yes" class="apt-btn primary lrg">Yes</a>
            <a id="aptdeco_confirm_no" class="apt-btn transparent lrg">No</a>
        </div>
    </div>
</div>