<div class="modal apt-modal hide fade in" id="login_popup" style="position: fixed !important;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
    <button type="button" class="apt-btn transparent x-btn" data-dismiss="modal" aria-hidden="true">
        <i class="apt-i-x"></i>
    </button>

    <div class="apt-modal-body">
        <h2>Sign in</h2>

        <p class="invalid hidden" ><i></i><span id="login_error"></span></p>

        <div id="login_message" class="aptd-alert success dynamic hidden">
            <div>
                <i class="apt-icon-warning orange v-top"></i>
                <p>Please wait.</p>
            </div>
        </div>

        <button id="login_btn_facebook" class="apt-btn fb-sign input-block-level"> <i></i>Sign in with Facebook</button>

        <div class="or"><p>OR</p></div>

        <div class="clear"></div>

        <input type="email" class="input-block-level" placeholder="Email" name="email" value="">

        <input type="password" class="input-block-level" placeholder="Password" name="password">

        <button id="login_btn" class="apt-btn primary">Sign in</button>

    </div>
</div>