<div class="modal apt-modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <button type="button" class="apt-btn transparent x-btn" data-dismiss="modal" aria-hidden="true">
        <i class="apt-i-x"></i>
    </button>

    <div class="apt-modal-header text-center">
        <h2 style="font-size:29px;" class="apt-modal-title" id="modal-header"></h2>
    </div>

    <div class="apt-modal-body text-center">

        <div class="apt-modal-pane">
            <h3 class="apt-title section">
                <p class="text-center">
                    <small id="modal-header2" class="text-primary"></small>
                </p>
            </h3>
            <br>
            <div class="item-image">
                <a href="https://www.aptdeco.com/catalog/4-crate-and-barrel-wood-leather-office-chairs">
                    <img  id="modal-image" src="">
                </a>
                <div id="product-name"></div>
            </div>
            <br>
            <button class="apt-btn primary" id="modal-accept-button">Accept</button> <button data-dismiss="modal" class="apt-btn default">Decline</button>
        </div>
    </div>
</div>