<?php $postedAt = strtotime($this->createAt); ?>

<div class="main-container">
    <div class="main-row">
        <?php echo $this->partial('static_sidebar.phtml', array('current_controller' => '')); ?>

        <div class="aptcol-sm-9 main apt-blog" break-col="md">
            <div class="apt-posts">

                <article class="the-post">
                    <small class="meta-time">
                        <time datetime="<?php echo date('Y-m-d', $postedAt); ?>"><?php echo date('d M Y', $postedAt); ?></time>
                    </small>
                    <br><br>
                </article>

                <h2 class="apt-title page"><?php echo $this->escape($this->title); ?></h2>

                <article class="the-post">
                    <div class="the-post-content mceContentBody">
                        <?php echo nl2br($this->content); ?>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>