.icons, [class^="apt-icon-"],
[class*="icon-"] {
  display: inline-block;
  margin-top: 1px;
  margin-right: .3em;
  line-height: 14px;
  position: relative;
  vertical-align: text-top;
  background-position: 0 0;
  background-repeat: no-repeat; }

[class^="apt-icon-"],
[class*="apt-icon-"] {
  background-image: url("../images/sprite.png"); }

.apt-icon-green-marker {
  background-position: -183px -144px;
  width: 13px;
  height: 12px; }
  .aptd-alert .apt-icon-green-marker {
    margin-top: -6px; }

.apt-icon-warning {
  background-position: -162px -62px;
  width: 16px;
  height: 16px; }
  .aptd-alert .apt-icon-warning {
    margin-top: -8px; }
