<?php echo $this->partial('deliveryDates_js.phtml', 'admin'); ?>
<div class="container-fluid" id="container">
    <?php echo $this->partial('sidebar.phtml', 'admin'); ?>
    <!-- mainContent -->
    <div class="mainContent" id="messages">
        <!-- user-actions -->
        <div id="user-actions">
            <h2>Delivery dates</h2>
        </div>
        <!--/ user-actions -->
        <div class="clear"></div>
        <!-- table slider -->
        <div id="table-slider2" class="admin">
            <!-- slide navigation buttons -->
            <button id="slideTop2"><i></i></button>
            <button id="slideBottom2"><i></i></button>
            <!--/ slide navigation buttons -->

            <!-- delivery-dates-table -->
            <div id="delivery-dates-table">
                <div class="ddt-time">
                    <p class="time" data-time="1">9AM - 1PM
                        <small class="subheading">Small</small>
                    </p>
                    <p class="time" data-time="2">1PM - 4PM
                        <small class="subheading">Small</small>
                    </p>
                    <p class="time" data-time="3">4PM - 7PM
                        <small class="subheading">Small</small>
                    </p>
                    <p class="time" data-time="5">6PM - 9PM
                        <small class="subheading">Small</small>
                    </p>
                </div>
                <div class="clear"></div>
                <?php /*     <div id="slidsContainer">  */ ?>

                <!-- slidWrap -->
                <?php /*    <div class="blockwap">  */ ?>
                <div class="slidWrapper">  <!-- slidWrapper -->

                    <!-- table -->
                    <?php $c = 0; ?>
                    <?php for ($i = 1; $i <= $this->amountTables; $i++): ?>
                        <?php if ($c >= $this->limit) {
                            break;
                        } ?>
                        <ul>
                            <?php for ($j = 1; $j <= $this->rowsPerTable; $j++): ?>
                                <?php if ($c >= $this->limit) {
                                    break;
                                } ?>
                                <li>
                                    <div class="get-text"><?php echo $this->tableDates[$c]['stringDate']; ?></div>
                                    <div class="period-holder">
                                        <div class="pull-left not-small">
                                            <div
                                                class="check-box<?php if ($this->tableDates[$c][0]): ?> checkedBox<?php endif; ?>">
                                                <input
                                                    type="checkbox" <?php if ($this->tableDates[$c][0]): ?> checked="checked"<?php endif; ?>>
                                            </div>
                                        </div>
                                        <div class="pull-right small">
                                            <div
                                                class="check-box<?php if ($this->tableDates[$c][1]): ?> checkedBox<?php endif; ?>">
                                                <input
                                                    type="checkbox" <?php if ($this->tableDates[$c][1]): ?> checked="checked"<?php endif; ?>>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="period-holder">
                                        <div class="pull-left not-small">
                                            <div
                                                class="check-box<?php if ($this->tableDates[$c][2]): ?> checkedBox<?php endif; ?>">
                                                <input
                                                    type="checkbox" <?php if ($this->tableDates[$c][2]): ?> checked="checked"<?php endif; ?>>
                                            </div>
                                        </div>
                                        <div class="pull-right small">
                                            <div
                                                class="check-box<?php if ($this->tableDates[$c][3]): ?> checkedBox<?php endif; ?>">
                                                <input
                                                    type="checkbox" <?php if ($this->tableDates[$c][3]): ?> checked="checked"<?php endif; ?>>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="period-holder">
                                        <div class="pull-left not-small">
                                            <div
                                                class="check-box<?php if ($this->tableDates[$c][4]): ?> checkedBox<?php endif; ?>">
                                                <input
                                                    type="checkbox" <?php if ($this->tableDates[$c][4]): ?> checked="checked"<?php endif; ?>>
                                            </div>
                                        </div>
                                        <div class="pull-right small">
                                            <div
                                                class="check-box<?php if ($this->tableDates[$c][5]): ?> checkedBox<?php endif; ?>">
                                                <input
                                                    type="checkbox" <?php if ($this->tableDates[$c][5]): ?> checked="checked"<?php endif; ?>>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="period-holder">
                                        <div class="pull-left not-small">
                                            <div
                                                class="check-box<?php if ($this->tableDates[$c][6]): ?> checkedBox<?php endif; ?>">
                                                <input
                                                    type="checkbox" <?php if ($this->tableDates[$c][6]): ?> checked="checked"<?php endif; ?>>
                                            </div>
                                        </div>
                                        <div class="pull-right small">
                                            <div
                                                class="check-box<?php if ($this->tableDates[$c][7]): ?> checkedBox<?php endif; ?>">
                                                <input
                                                    type="checkbox" <?php if ($this->tableDates[$c][7]): ?> checked="checked"<?php endif; ?>>
                                            </div>
                                        </div>
                                    </div>
                                </li> <?php $c++; ?>
                            <?php endfor; ?>
                        </ul>
                    <?php endfor; ?>
                    <!--/ table -->
                </div>
                <!-- slidWrapper -->
                <?php /*   </div>*/ ?>
                <!-- slidWrap -->

                <?php /* </div> */ ?>
            </div>
            <!--/ delivery-dates-table -->

        </div>
        <!--/ table slider -->

    </div>
    <!--/ mainContent -->
</div>
<!--/ container-fluid -->
<div class="clear"></div>