<?php /*

  <div style="float:left;width:300px">
  <?php echo $this->partial('profile_info_sidebar.phtml', 'user', $this); ?>
  </div>

  <div style="float:left;">
  <?php echo $this->partial('view/product_list.phtml', 'user', $this); ?>

  <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => 1)); ?>">All</a>

  <?php foreach ($this->categories as $category) : ?>
  <?php $url = Ikantam_Url::getUrl('user/view/index', array('id' => 1, 'category' => $category->getId())); ?>
  <a href="<?php echo $url; ?>">
  <?php echo $category->getTitle(); ?> (<?php echo $category->getProductCount(); ?>)
  </a>
  <?php endforeach; ?>
  </div>

  <div style="float:none;clear:both"></div>


 */ ?>


<div class="brdr"></div> <!--/ brdr seprator -->

<div class="clearfix"></div>

<!-- container-fluid -->
<div class="container-fluid" id="container"> 

    <?php echo $this->partial('profile_info_sidebar.phtml', 'user', $this); ?>


    <!-- seller-stuff -->
    <div class="mainContent" id="seller-stuff">
        <!-- seller-nav -->
        <nav class="seller-nav">
            <ul>
                <li class="current-items"><a href="javascript:void(0);">Items from this seller</a></li> <!--/ current items case! -->
                <li><a href="<?php echo Ikantam_Url::getUrl('user/view/reviews', array('id' => $this->user->getId())); ?>">Reviews (<?php echo $this->reviews->getSize(); ?>)</a></li>
            </ul>
        </nav>
        <!--/ seller-nav -->
        <div class="clearfix"></div>

        <!-- seller item side -->
        <aside class="seller-item-side">
           <ul class="hide-sc">
                <li<?php if (!$this->category->getId()) : ?> class="currentitems"<?php endif; ?>>
                    <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->user->getId())); ?>">All</a>
                </li>

                <?php foreach ($this->categories as $category) : ?>
                    <?php $url = Ikantam_Url::getUrl('user/view/index', array('id' => $this->user->getId(), 'category' => $category->getId())); ?>
                    <li<?php if ($this->category->getId() == $category->getId()) : ?> class="currentitems"<?php endif; ?>>
                        <a href="<?php echo $url; ?>">
                            <?php echo $category->getTitle(); ?> (<?php echo $category->getProductsCount(); ?>)
                        </a>
                    </li>
                <?php endforeach; ?>
            </ul>



            <div class="btn-group show-sc">
                <button class="dropdown-toggle" data-toggle="dropdown">All <i></i></button>
                <ul class="dropdown-menu">
                    <li<?php if (!$this->category->getId()) : ?> class="currentitems"<?php endif; ?>>
                        <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->user->getId())); ?>">All</a>
                    </li>

                    <?php foreach ($this->categories as $category) : ?>
                        <?php $url = Ikantam_Url::getUrl('user/view/index', array('id' => $this->user->getId(), 'category' => $category->getId())); ?>
                        <li<?php if ($this->category->getId() == $category->getId()) : ?> class="currentitems"<?php endif; ?>>
                            <a href="<?php echo $url; ?>">
                                <?php echo $category->getTitle(); ?> (<?php echo $category->getProductsCount(); ?>)
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>

        </aside>
        <!--/ seller item side -->

        <!-- seller item gallery -->
        <div id="seller-item-gallery">
            <?php echo $this->partial('view/product_list.phtml', 'user', $this); ?>
        </div>
        <!--/ seller item gallery -->

    </div>
    <!--/ seller-stuff --> 

</div>
<!--/ container-fluid -->
<div class="clear"></div>

<script>
    $('.gallery-images').slice(0, 8).fadeIn();
	$('.gallery-images').slice(6, 100000).css('display', 'none');
	var loadMore = 6;
	$(window).scroll(function() {
		if ($(window).scrollTop() + $(window).height() == $(document).height()) {
			$('.gallery-images').slice(loadMore, loadMore + 9).fadeIn(3000);
			loadMore += 6;
			return false;
		}
	});
    </script>