<?php foreach ($this->products as $product) : ?>
    <div class="gallery-images">
        <div class="item-image">
            <?php if ($product->getIsSold()) : ?>
                <span class="sale_marker">
                        Sold
                    </span>
            <?php elseif ($expTime = $product->getExpiryDateTime()) : ?>
                <?php if ($expTime > strtotime('+2 days') && $expTime < strtotime('+3 days')) : ?>
                    <span class="sale_marker">
                            3 days left
                        </span>
                <?php elseif ($expTime > strtotime('+1 day') && $expTime < strtotime('+2 days')) : ?>
                    <span class="sale_marker">
                            2 days left
                        </span>
                <?php elseif ($expTime > time() && $expTime < strtotime('+1 day')) : ?>
                    <span class="sale_marker">
                            1 day left
                        </span>
                <?php elseif ($expTime < time()) : ?>
                    <span class="sale_marker end">
                            Sale Ended
                        </span>
                <?php endif; ?>

                <?php if($shippingLabel = $product->getShippingOfferLabel()): ?>
                    <span class="item-shipping free">
                        <i class="apt-i-delv-car"></i>
                        <?php echo $shippingLabel; ?>
                 </span>
                <?php endif; ?>

            <?php endif; ?>


            <a href="<?php echo $product->getProductUrl(); ?>">
                <img src="<?php echo $product->getMainImageUrl(); ?>" alt="<?php echo $product->getTitle(); ?>" />
            </a>
        </div>

        <figcaption>
            <p class="item-price-n-name truncate">
                <a href="<?php echo $product->getProductUrl(); ?>"><?php echo $product->getTitle(); ?></a>
                <br>
                <span><?php echo $this->currency($product->getPrice()); ?></span>
            </p>
        </figcaption>
    </div>
<?php endforeach; ?>