<div class="brdr"></div> <!--/ brdr seprator -->

<div class="clearfix"></div>

<!-- container-fluid -->
<div class="container-fluid" id="container"> 
    <?php echo $this->partial('profile_info_sidebar.phtml', 'user', $this); ?>

    <!-- seller-stuff -->
    <div class="mainContent" id="seller-stuff">
        <!-- seller-nav -->
        <nav class="seller-nav">
            <ul>
                <li><a href="<?php echo Ikantam_Url::getUrl('user/view/items', array('id' => $this->user->getId())); ?>">Items from this seller</a></li> <!--/ current items case! -->
                <li class="current-items"><a href="javascript:void(0);">Reviews (<?php echo $this->reviews->getSize(); ?>)</a></li>
            </ul>
        </nav>
        <!--/ seller-nav -->
        <?php if ($this->reviewRequired) : ?>
            <div class="alert alert-success"> <i></i>  Please, rate this seller.
                <button type="button" class="close" data-dismiss="alert">x</button>
            </div>
        <?php endif; ?>

        <div class="clearfix"></div>

        <?php if ($this->loggedUser->canReview($this->user)) : ?>
            <!-- add your review -->
            <div class="add-your-review">
                <?php /* <h3>Me</h3> */ ?>

                <?php foreach ($this->session->getMessages('error') as $message) : ?>
                    <p class="invalid" id="errors-password"><i></i><?php echo $message; ?></p>
                <?php endforeach; ?>

                <form action="<?php echo Ikantam_Url::getUrl('user/view/review-post', array('id' => $this->user->getId())); ?>" method="post">
                    <p class="rate-this-seller">
                        <span style="float:left;margin-right:10px;">Rate this seller:</span>

                        <input value="1" name="rating" type="radio" class="star"/>
                        <input value="2" name="rating" type="radio" class="star"/>
                        <input value="3" name="rating" type="radio" class="star"/>
                        <input value="4" name="rating" type="radio" class="star"/>
                        <input value="5" name="rating" type="radio" class="star"/>
                    </p>

                    <div class="clearfix"></div>

                    <?php if ($this->session->getFormErrors('rating')) : ?>
                        <p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('rating'); ?></p>
                    <?php endif; ?>

                    <textarea placeholder="Add your review" name="text"></textarea>
                    <div class="clearfix"></div>

                    <?php if ($this->session->getFormErrors('text')) : ?>
                        <p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('text'); ?></p>
                    <?php endif; ?>

                    <input type="submit" value="Add" />
                </form>

            </div>
            <!--/ add your review -->
        <?php endif; ?>
        <div class="clear"></div>

        <!-- old reviews -->
        <div class="posted-reviews">

            <?php foreach ($this->reviews as $review) : ?>

                <div class="customer-review">
                    <span style="float:left;font-size:14px;"><?php echo $review->getAuthor()->getFirstName(); ?></span>
                    <span class="review-date"><?php echo date('d M Y', $review->getCreatedAt()); ?></span>

                    <?php if ($review->getRating()) : ?>
                        <p class="rates">
                            <?php for ($i = 0; $i < $review->getRating(); $i++) : ?>
                                <i></i>
                            <?php endfor; ?>
                        </p>
                    <?php endif; ?>

                    <div class="clearfix"></div>
                    <div>
                        <p><?php echo nl2br($this->escape($review->getText())); ?></p>
                    </div>
                </div>

            <?php endforeach; ?>

            <?php /*

              <!-- admin review -->
              <blockquote>
              <a href="#" class="customer-name">Mr. X</a>
              <span class="review-date">12 Aug 2012</span>
              <div class="clearfix"></div>
              <div>
              <p>
              These will automatically be removed from your PayPal account 2 working days later. You will also be able to view your invoice in My Marketplace > Selling > Invoices
              </p>
              </div>
              </blockquote>
              <!--/ admin review -->

              <!-- admin review -->
              <blockquote>
              <a href="#" class="customer-name">Mr. X</a>
              <span class="review-date">12 Aug 2012</span>
              <div class="clearfix"></div>
              <div>
              <p>
              These will automatically be removed from your PayPal account 2 working days later. You will also be able to view your invoice in My Marketplace > Selling > Invoices
              </p>
              </div>
              </blockquote>
              <!--/ admin review -->
             */ ?>
        </div>
        <!--/ old reviews -->


    </div>
    <!--/ seller-stuff --> 

</div>
<!--/ container-fluid -->
<div class="clear"></div>