
<div class="mobileimage selbuy" style="background: url('<?php echo Ikantam_Url::getPublicUrl('images/slider/min/6.jpg'); ?>">

    <!-- transparent -->
    <div class="transp">

        <div class="container-fluid">
            <div class="title">
                <h1>Welcome to AptDeco, <?php echo $this->escape($this->user->getFirstName()); ?>!</h1> 
                <h2>We're delighted you chose AptDeco for your home</h2>
                <h2>furnishings needs! To get started, what would you like to do?</h2>
            </div>
        </div>
    </div>
    <!--/ transparent -->			

    <div class="container-fluid">

        <div class="new-selbuy">
            <!-- blk -->
            <div class="blk">					
                <div class="left-side">
                    <img src="<?php echo Ikantam_Url::getPublicUrl('images/locker.png'); ?>" alt="buy stuff">
                </div>
                <div class="leftside">
                    <h2><a href="<?php echo Ikantam_Url::getUrl('catalog/index/index'); ?>">Buy Stuff</a></h2>
                    <p>Buying on AptDeco is as easy as 1, 2, 3. Just simply browse our 
                        listings of carefully curated & hand picked home furnishings, add 
                        to your cart & buy. Leave it to us to coordinate with the seller 
                        & deliver your newest purchases directly to your doorstep!  
                        For more details check out our <a href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>">FAQ</a>.
                    </p>
                </div>

            </div>
            <!--/ blk -->

            <!-- blk -->
            <div class="blk clearfix sknd">					
                <div class="left-side">
                    <img src="<?php echo Ikantam_Url::getPublicUrl('images/list.png'); ?>" alt="buy stuff">
                </div>
                <div class="leftside">
                    <h2><a href="<?php echo Ikantam_Url::getUrl('product/add/index'); ?>">Sell stuff</a></h2>
                    <p>
                        Posting items to sell on AptDeco can't get any simpler. 
                        Simply add information about your product(s) and snap a few photos then publish. 
                        Our awesome curation specialists will quickly review & approve your listings 
                        to make sure you have the best chance to sell your stuff. Once approved, your 
                        listing will be published on the catalog to our awesome community of buyers and sellers. 
                        When your items(s) are sold, leave it to us to coordinate all the details like payment, 
                        delivery, etc. For more information check out the <a href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>">FAQ</a>.
                    </p>
                </div>
            </div>
            <!--/ blk -->
        </div>

    </div>
</div>