<div class="callout-box highlight m-t30">
    <form class="apt-form m-0">

        <?php if ($this->item->getShippingMethodId() == Order_Model_Order::ORDER_SHIPPING_METHOD_PICK_UP) : ?>
            <?php if ($this->item->getStatus() === Order_Model_Order::ORDER_STATUS_PENDING || $this->item->getStatus() === Order_Model_Order::ORDER_STATUS_COMPLETE) : ?>
                <?php $address1 = $this->item->getProduct()->getPickupAddressLine1(); ?>
                <?php $address2 = $this->item->getProduct()->getPickupAddressLine2(); ?>
                <?php $city     = $this->item->getProduct()->getPickupCity(); ?>
                <?php $state    = $this->item->getProduct()->getPickupStateCode(); ?>
                <?php $zip      = $this->item->getProduct()->getPickupPostalCode(); ?>
                <?php $country  = $this->item->getProduct()->getPickupCountryCode(); ?>
                <?php $phone    = $this->item->getProduct()->getPickupPhone(); ?>

                <?php if ($address2) : ?>
                    <?php $adr = sprintf('%s, %s, %s, %s %s %s, %s', $address1, $address2, $city, $state, $zip, $country, $phone); ?>
                <?php else : ?>
                    <?php $adr = sprintf('%s, %s, %s %s %s, %s', $address1, $city, $state, $zip, $country, $phone); ?>
                <?php endif; ?>

                <h4><strong>Pick up Location</strong></h4>

                <p class="text-primary dark m-b30">
                    <i class="pin-address"></i>
                    <?php echo $this->escape($adr); ?>
                </p>
            <?php elseif ($this->item->getStatus() === Order_Model_Order::ORDER_STATUS_ON_HOLD) : ?>
                <p><small><i class="apt-i-warning"></i>not confirmed yet</small></p>
            <?php endif; ?>
        <?php else : ?>
            <?php $delddr = $this->item->getOrder()->getShippingAddress(); ?>
            <?php if ($delddr->getId()) : ?>
                <?php $address1 = $delddr->getAddressLine1(); ?>
                <?php $address2 = $delddr->getAddressLine2(); ?>
                <?php $city     = $delddr->getCity(); ?>
                <?php $state    = $delddr->getStateCode(); ?>
                <?php $zip      = $delddr->getPostalCode(); ?>
                <?php $country  = $delddr->getCountryCode(); ?>

                <?php if ($address2) : ?>
                    <?php $adr = sprintf('%s, %s, %s, %s %s %s', $address1, $address2, $city, $state, $zip, $country); ?>
                <?php else : ?>
                    <?php $adr = sprintf('%s, %s, %s %s %s', $address1, $city, $state, $zip, $country); ?>
                <?php endif; ?>
            <?php else : ?>
                <?php $adr = null; ?>
            <?php endif; ?>
            <?php $buildingType    = $delddr->getBuildingType() ? $delddr->getBuildingType() : null; ?>
            <?php $flightsOfStairs = $delddr->getNumberOfStairs() ? $delddr->getNumberOfStairs() : null; ?>

            <?php if ($adr) : ?>
                <h4><strong>Delivery Address</strong></h4>

                <p class="text-primary dark m-b30">
                    <i class="pin-address"></i>
                    <?php echo $this->escape($adr); ?>
                </p>
            <?php endif; ?>

            <h4><strong>Delivery Info:</strong></h4>

            <div class="control-group">
                <?php if ($buildingType) : ?>
                    <?php if ($buildingType == 'walkup' && ($flightsOfStairs > 0 && $flightsOfStairs < 11)) : ?>
                        <p>Walk up, flight #<?php echo $this->escape($flightsOfStairs); ?></p>
                    <?php else : ?>
                        <p>Elevator</p>
                    <?php endif; ?>
                <?php endif; ?>

                <?php if ($delddr->getTelephone()) : ?>
                    <p><i class="apt-i-phone m-r10"></i><?php echo $this->escape($delddr->getTelephone()); ?></p>
                <?php endif; ?>
            </div>

            <?php if ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_ON_HOLD) : ?>
                <h4><strong>Delivery Dates:</strong></h4>

                <?php foreach ($this->orderedDates as $date) : ?>
                    <p><small><?php echo $this->formatDate($date); ?></small> </p>
                <?php endforeach; ?>                    

                <p><small><i class="apt-i-warning"></i>not confirmed yet</small></p>
            <?php elseif ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_PENDING) : ?>
                <div class="control-group m-t20">
                    <h4><strong>Delivery Date:</strong></h4>
                    <p><small><?php echo $this->formatDate($this->item->getBuyerDate()); ?></small> </p>
                </div>
            <?php endif; ?>
        <?php endif; ?>

        <?php if ($this->item->getStatus() == Order_Model_Order::ORDER_STATUS_PENDING && $this->item->getIsReceived() == 0): ?>
            <div class="text-left m-b20">
                <button value="<?php echo $this->item->getId(); ?>" class="apt-btn prime m-r5 confirm">Confirm <?php echo $this->shipping; ?></button>
            </div>
        <?php endif; ?>
    </form>
</div>