<?php echo $this->partial('purchase_js.phtml', 'user', array('till' => $this->till, 'from' => $this->from)); ?>
<script type="text/javascript">
    $(document).ready(function() {
        if ($.browser.webkit) {
            $('select').on('change', function(e) {
                $(this).find('option:selected').trigger('click');
            });
        }
    });
</script>
<style>
    .unavailable {
        background-color: #f0d192;
    }
</style>

<div class="container-fluid" id="container"> 
    <div class="apt-container sidebar-main">
        <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

        <div class="main m-0"  id="messages">

            <!-- user-actions -->
            <div id="user-actions">

                <h2>My Purchase History</h2>

                <!-- msg-filter -->
                <form method="post" id="filterForm" name="filters" action="<?php echo Ikantam_Url::getUrl('user/purchase/history'); ?>">
                    <div id="msg-filter">

                        <!-- search my items -->
                        <div class="input-append" id="filter-my-items">
                            <input type="text" name="search" value="<?php echo $this->cproduct; ?><?php echo $this->cbrand; ?>" id="filter-items" autocomplete="off" />     
                            <i class="icon-search"></i>
                            <input type="submit" style="width: 0; height:0; margin: 0; padding: 0; border: none; background: none;"/>

                            <?php if ($this->status == 'received'): ?>
                                <input type="hidden" name="status" value="received" />
                            <?php elseif ($this->status == 'in-progress'): ?>
                                <input type="hidden" name="status" value="in-progress" />
                            <?php endif; ?>

                            <!-- items-to-filter -->
                            <div id="scrollbar-5" class="cityParent"> 

                                <div class="scrollbar">
                                    <div class="track">
                                        <div class="thumb">
                                            <div class="end"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="viewport">
                                    <div id="mysales-items" class="overview">

                                        <?php /*
                                          <div class="items-to-filter">
                                          <div id="wrapitems">
                                          <div id="scrollitems"></div>
                                          </div>
                                          <div id="mysales-items"> */ ?>
                                        <ul id="suggestions-list">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/ items-to-filter -->

                        </div>
                        <!--/ search my items -->


                        <div class="btn-group" id="purchase-history">





                            <button name="status" id="received" value="received" style="display: none;" type="submit"></button>
                            <button name="status" id="inprogress" value="in-progress" style="display: none;"></button>
                            <button name="status" id="allstatuses" value="all" style="display: none;"></button>

                            <select name="select_status">
                                <option onclick="document.getElementById('allstatuses').click();" value="all" <?php if ($this->status == 'all') : ?>selected="selected"<?php endif; ?>>All Order Statuses</option>
                                <option onclick="document.getElementById('received').click();" value="received" <?php if ($this->status == 'received') : ?>selected="selected"<?php endif; ?>>Received</option>
                                <option onclick="document.getElementById('inprogress').click();" value="in-progress" <?php if ($this->status == 'in-progress') : ?>selected="selected"<?php endif; ?>>In delivery</option>
                            </select>
                        </div>


                    </div>
                    <!--/ msg-filter -->


                    <!-- my-items-datefilter -->
                    <div class="filter-myitems">
                        <ul>  
                            <li<?php if ($this->date == 'all'): ?> class="filterd"<?php endif; ?>>
                                <?php /* <button class="invisible-button" name="date" value="all"><a href="#">All</a></button> */ ?>
                                <button class="invisible-button" name="date" value="all">All</button>
                            </li>

                            <li<?php if ($this->date == 'month'): ?> class="filterd"<?php endif; ?>>
                                <?php /* <button class="invisible-button" name="date" value="month"><a href="#">Month</a></button> */ ?>
                                <button class="invisible-button" name="date" value="month">Month</button>
                            </li>

                            <li<?php if ($this->date == 'year'): ?> class="filterd"<?php endif; ?>>
                                <?php /* <button class="invisible-button" name="date" value="year"><a href="#">Year</a></button> */ ?>
                                <button class="invisible-button" name="date" value="year">Year</button>
                            </li>
                            <li>
                                <input type="hidden" name="cdate" value="<?php echo $this->date; ?>" />
                                <input type="text" name="from" id="datepicker4" onchange="filters.submit();" class="datepicker" />
                                <span class="mdash">&#8212;</span>
                                <input type="text" name="till" id="datepicker5" onchange="filters.submit();" class="datepicker" />
                                <input type="hidden" name="cfrom" value="<?php echo $this->from; ?>" />
                                <input type="hidden" name="ctill" value="<?php echo $this->till; ?>" />
                            </li>
                        </ul>
                    </div></form>
                <!--/ my-items-datefilter -->

            </div>
            <!--/ user-actions -->
            <div class="clear"></div>

            <?php if (count($this->products)): ?>
                <!-- table for desktop & tablet -->
                <table id="my-items-table" class="visible-desktop purchase-history">

                    <tr class="table-title">
                        <th></th>
                        <th></th>
                        <th class="txt-lft">Order Date</th>
                        <th class="txt-lft">Delivery Preference</th>
                        <th>Confirmation</th>
                        <th>Status</th>
                    </tr>
                    <?php foreach ($this->products as $product): ?>
                        <tr>
                            <td class="cart-thumb">
                                <img style="width:113px !important;max-height: 113px !important;" src="<?php echo $product->getMainImageUrl(); ?>" alt="<?php echo $product->getTitle(); ?>" />
                            </td>

                            <td class="nobrdr-it">
                                <?php /* <h3><a href="<?php echo Ikantam_Url::getUrl('user/purchase/order', array('id' => $product->getId())); ?>">Order: #<?php echo $product->getOrderId(); ?></a></h3> */ ?>
                                <h3><a href="<?php echo Ikantam_Url::getUrl('user/purchase/order', array('id' => $product->getOrderItemId())); ?>"><?php echo $product->getTitle(); ?></a></h3>
                                <ul>
                                    <?php /* <li><?php echo $product->getProductLink(); ?></li> */ ?>
                                    <li><a href="<?php echo $this->userObj->getById($product->getUserId())->getProfileUrl(); ?>"><?php echo $this->userObj->getFirstName(); ?></a></li>
                                    <li><?php echo $this->currency($product->getPrice()); ?></li>
                                    <li>Quantity: <?php echo $product->getOrderItemQty('n/a'); ?></li>
                                </ul>
                            </td>

                            <td class="nobrdr-it date-del-method"><p><?php echo date('d M Y', $product->getOrderDate()); ?></p></td>
                            <td class="date-del-method"><p><?php echo ($product->getShippingMethodId() == 'delivery') ? 'Delivery' : 'Pick up by customer'; ?></p></td>

                            <?php if ($product->getIsProductAvailable() === '0') : ?>
                                <td></td>
                                <td class="status recived" style="color:#FF0000!important;"><p>Cancelled</p></td>
                            <?php elseif ((int) $product->getIsReceived() === 0): ?>

                                <?php if ($product->getIsConfirmationAvailable()) : ?>
                                    <td><button type="button" class="publish" name="confirm" value="<?php echo $product->getOrderItemId(); ?>" type="button">Confirm Delivery</button></td>
                                <?php else : ?>
                                    <td> <button class="publish unavailable">Confirm Delivery</button></td>
                                <?php endif; ?>

                                <td class="status in-progress"><p>In progress</p></td>

                            <?php else: ?>
                                <td></td>
                                <td class="status recived"><p>Received</p></td>
                            <?php endif; ?>
                        </tr>
                    <?php endforeach; ?>


                </table>            
                <!--/ table for desktop & tablet -->
            <?php endif; ?>




            <?php if (count($this->products)): ?>
                <!-- table for mobile -->
                <table id="myitems-table" class="hidden-desktop">
                    <?php foreach ($this->products as $product): ?>
                        <tr>
                            <td>
                                <img style="width:113px !important;max-height: 113px !important;" src="<?php echo $product->getMainImageUrl(); ?>" alt="item" />
                            </td>
                            <td rowspan="2">
                                <?php /* <h3><a href="<?php echo Ikantam_Url::getUrl('user/purchase/order', array('id' => $product->getId())); ?>">Order: #<?php echo $product->getOrderId(); ?></a></h3> */ ?>
                                <h3><a href="<?php echo Ikantam_Url::getUrl('user/purchase/order', array('id' => $product->getOrderItemId())); ?>"><?php echo $product->getTitle(); ?></a></h3>
                                <ul>
                                    <?php /* <li><?php echo $product->getCategory()->getTitle(); ?></li> */ ?>
                                    <li><?php echo ($product->getShippingMethodId() == 'delivery') ? 'Delivery' : 'Pick up'; ?></li>
                                    <li><?php echo $this->currency($product->getPrice()); ?></li>
                                    <li>Quantity: <?php echo $product->getOrderItemQty('n/a'); ?></li>
                                    <li><?php echo date('d M Y', $product->getOrderDate()); ?></li>
                                </ul>    
                                <?php if ($product->getIsAvailable() === '0') : ?>
                                    <span class="status recived" style="color:#FF0000 !important;">Cancelled</span>
                                <?php elseif ((int) $product->getIsReceived() == 0): ?>
                                    <?php if ($product->getIsConfirmationAvailable()): ?> 
                                        <button class="publish mobilebtn" name="confirm" value="<?php echo $product->getOrderItemId(); ?>" type="button">Confirm Delivery</button>
                                    <?php else: ?>
                                        <button class="publish unavailable">Confirm Delivery</button>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <span class="status recived">Received</span>                    
                                <?php endif; ?>
                                <div class="clearfix"></div>
                            </td>
                        </tr>
                        <tr></tr><!--/ breaker -->
                    <?php endforeach; ?>
                </table>
            <?php endif; ?>

            <div class="pagination pagination-right">
                <?php echo $this->paginationControl($this->paginator, null, 'purchase_sales_pagination_control.phtml', array('params' => $this->paginationParams)); ?>
            </div> 

        </div>
    </div>
</div>

<div class="clear"></div>

<script type="text/javascript">
    //$("#datepicker4,#datepicker5").hide();
    (function($) {
        $(".datepicker").mask("99/99/9999");

        $("#datepicker4").datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            showOn: "both",
            buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
            buttonImageOnly: true,
            prevText: "",
            nextText: "",
            onSelect: function(dateText, inst) {
                filters.submit();
            }
        });

        $("#datepicker5").datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            showOn: "both",
            buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
            buttonImageOnly: true,
            prevText: "",
            nextText: "",
            onSelect: function(dateText, inst) {
                filters.submit();
            }
        });

        $('button.unavailable').tooltip({title: 'Confirmation is not available till delivery date.'});


    })(jQuery)

</script>