<?php /* @var $alert Product_Model_Alert */ ?>

<html>
<body>
<!-- alert email -->
<div>
    <!-- header -->
    <div style="height: 28px; padding: 14px; background: #333; margin-bottom: 20px;">
        <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>">
            <img src="<?php echo Ikantam_Url::getPublicUrl('images/new-logo.png'); ?>" alt="AptDeco" />
        </a> <!--/ logo -->
    </div>
    <!-- container -->
    <div  style="padding: 20px;">
        <!-- message box -->
        <div style="padding: 23px; background: #f5f5f5; margin-bottom: 27px;">
           <?php echo $this->text ?>
        </div>
    </div>
</div>
<!-- footer -->
<div style="padding: 0 23px;">
    <span style="color: #b6b6b6; font: normal 12px/100% Arial, sans-serif; display: block; margin-bottom:8px;">
    Thanks,<br/>The AptDeco Team</span>
</div>

</body>
</html>