<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>AptDeco</title>
    </head>
    <body>

    <div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="listing-declined">
        <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">
            <div style="padding: 10px 20px;">
                <p style="font-family: Arial, sans-serif; font-size: 12px;color:#333333">You Have A New Message: <a href="<?php echo Ikantam_Url::getUrl('user/inbox/view', array('id' => $this->message->getId()));?>" style="color: #D85927;text-decoration:none;"><?php echo $this->escape($this->message->getConversation()->getSubject()); ?></a></p>
            </div>
            <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
                <span>MESSAGE - New Message</span>
                <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
            </div>

            <div style="margin: 30px 20px;">
                <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')) ?>">
                    <img src="<?php echo Ikantam_Url::getPublicUrl('images/aptdeco-email-logo.png') ?>" alt="AptDeco" />
                </a>
            </div>

            <div style="background: #f5f5f5; margin: 0 20px 0 20px; padding: 20px;">
                <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->author->getId())); ?>" style="color: #D85927;text-decoration:none;"><?php echo $this->author->getFirstName(); ?></a> Said:
                <br><br>
                <?php echo nl2br($this->escape($this->message->getText())); ?>
                <br><br>
                <a href="<?php echo Ikantam_Url::getUrl('user/inbox/view', array('id' => $this->message->getId()));?>" style="border: 0; color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #DA5B29; text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;"> <strong style="font-weight: bold;">Reply to Message</strong> </a>
                <br><br>
                <img src="<?php echo Ikantam_Url::getPublicUrl('images/bulb.png') ?>" alt="AptDeco"> Report a violation if a user asks you to pay outside of the AptDeco system. Issues that arise with the posted item will not be covered by our protection policy or investigated by our customer support team. It also violates AptDeco's <a href="<?php echo Ikantam_Url::getUrl('terms/index') ;?>" style="color: #D85927;text-decoration:none;">Terms of Service</a>.
            </div>
            <div style="padding: 0 20px 20px 20px;">
                        <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 20px 0 0 0;">
                            <br />
                            Cheers, <br />
                            The AptDeco Team </span>
            </div>
        </div>
    </div>

    </body>
</html>


