<?php if ($this->pageCount > 1): ?>
    <ul>
        <?php if (isset($this->previous)): ?>
            <li class="old-msgs"><a href="<?php echo Ikantam_Url::getUrl($this->path, array('page' => $this->previous) + $this->params); ?>"><i></i></a></li>
        <?php endif; ?>
            
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li><a href="<?php echo Ikantam_Url::getUrl($this->path, array('page' => $page) + $this->params); ?>"><?php echo $page; ?></a></li>
            <?php else: ?>
                <li><a href="#" id="currentPage" style="color: #fff; background-color: #333;" onclick="return false;"><?php echo $page; ?></a></li>
            <?php endif; ?>
        <?php endforeach; ?>

        <?php if (isset($this->next)): ?>
            <li class="new-msgs">
                <a href="<?php echo Ikantam_Url::getUrl($this->path, array('page' => $this->next) + $this->params); ?>"><i></i></a>
            </li>
        <?php endif; ?>
    </ul>
<?php endif; ?>