<script type="text/javascript">
    (function(){
        $(document).ready(function(){

            var dpf="<?php echo $this->from; ?>";
            var dpt="<?php echo $this->till; ?>";
            if(dpf){$("#datepicker4").val(dpf).show();}
            if(dpt){$("#datepicker5").val(dpt).show();}     

            var lastVal = '';
            var timeout = null;
            var ul = $('#suggestions-list');
            //Keyup event

            $('#filter-items').keyup(function(key){

                var value = $(this).val();
                value = value.trim();
                if(value != lastVal)
                {lastVal =  value;
                    if(value.length > 0){      

                        if(timeout !== null)
                        {
                            clearTimeout(timeout);
                        }
                        timeout = setTimeout(function(){
                            timeout = null;
                            $('#suggestions-list').empty();             


                            $.ajax({
                                type: "POST",
                                async: false,
                                url: '<?php echo Ikantam_Url::getUrl('user/order/suggestions'); ?>',
                                data: {'search':value},
                                success: function(data){
                                    data = $.parseJSON(data);
                                    insertFromObject(data, value);  
                                }
                            });

                            var popup = $('.items-to-filter');      
                            if(ul.find('li').length > 0)
                            {
                                popup.fadeIn();
                            } else
                            {
                                popup.fadeOut();   
                            }      


                        },375);


                    }}
            });

        }); //doc ready

        function highlightResult(sVal, resVal)
        {
            var expr = new RegExp("^("+sVal+")","i");
            resVal = resVal.replace(expr,"<b>$1</b>");
            return resVal;
        } 


        function insertFromObject(obj, sVal)
        {
            var list = $('#suggestions-list');

            for(var i in obj['products'])
            {
                var li = document.createElement('li');
                var a  = document.createElement('a');
                //$(a).attr('href',obj.products[i].url).html(highlightResult(sVal,obj.products[i].title)+' <span style="font-size:10px;">(product)</span>');
                $(a).attr('href','<?php echo Ikantam_Url::getUrl('user/order/list'); ?>/product/'+obj.products[i].encoded).html(highlightResult(sVal,obj.products[i].title)+' <span style="font-size:10px;">(product)</span>');
     
                li.appendChild(a);
                list.append(li);          
            }

            if (!obj['products'] || obj['products'].length < 1) 
            {
                $("#scrollbar-5").slideUp();
            } else {
                $("#scrollbar-5").slideDown();
            }
        }

    })();
</script> 