<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>

    <body>
        <div>
            <div style="height: 28px; padding: 14px; background: #333; margin-bottom: 50px;">
                <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>">
                    <img src="<?php echo Ikantam_Url::getPublicUrl('images/new-logo.png'); ?>" alt="AptDeco" />
                </a>
            </div>
        </div>

        <div style="padding: 0 40px;">
            <div style="height: 3px; display: block; border-top: 1px solid #c5c5c5; border-bottom: 1px solid #c5c5c5; margin-bottom: 20px;"></div>    

            <p style="text-transform: uppercase; color: #666; font: normal 16px/100% Arial, sans-serif;display: block; text-align: center;margin-bottom: 20px;">Your Receipt</p>

            <p style="color: #999; font: italic 13px/100% Arial, sans-serif;display: block; text-align: center;margin-bottom: 20px;">
                Thanks for shopping with us. Here is your receipt for your recent purchase.
            </p>


            <table style="border-collapse:collapse; border: 1px solid #ccc;width: 100%; margin-bottom: 50px;">
                <tr>
                    <td colspan="2" style="font: normal 17px/100% Arial, sans-serif; color: #b19046; padding: 20px 18px;">
                        <?php echo $this->escape($this->item->getProductTitle()); ?>
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ccc; font: normal 14px/100% Arial, sans-serif; color: #666; padding: 20px 18px;">Price:</td>
                    <td style="border: 1px solid #ccc; font: normal 14px/100% Arial, sans-serif; color: #666; padding: 15px 17px;">
                        <?php echo $this->currency($this->item->getRowTotal()); ?>
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ccc; font: normal 14px/100% Arial, sans-serif; color: #666; padding: 20px 18px;">Shipping:</td>
                    <td style="border: 1px solid #ccc; font: normal 14px/100% Arial, sans-serif; color: #666; padding: 15px 17px;">
                        <?php echo $this->currency($this->item->getShippingAmount()); ?>
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ccc; font: normal 14px/100% Arial, sans-serif; color: #666; padding: 20px 18px;">Discount:</td>
                    <td style="border: 1px solid #ccc; font: normal 14px/100% Arial, sans-serif; color: #666; padding: 15px 17px;">
                        <?php echo $this->currency($this->item->getDiscountAmount()); ?>
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ccc; font: normal 14px/100% Arial, sans-serif; color: #666; padding: 20px 18px;">Subtotal:</td>
                    <td style="border: 1px solid #ccc; font: bold 14px/100% Arial, sans-serif; color: #666; padding: 15px 17px;">
                        <?php echo $this->currency($this->item->getRowTotal() + $this->item->getShippingAmount() - $this->item->getDiscountAmount()); ?>
                    </td>
                </tr>
            </table>

            <a style="color: #ba9d5c; text-decoration: none; font: normal 12px/100% Arial, sans-serif; display: block; margin-bottom:8px;" href="mailto:support@aptdeco.com">support@aptdeco.com</a>
            <span style="color: #b6b6b6; font: normal 12px/100% Arial, sans-serif; display: block; margin-bottom:8px;">(347) 619-2783</span>

        </div>
    </body>
</html>