<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>
    <body>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="background-color: #333; padding: 11px 7px">
                <div class="container-fluid">  
                    <a class="brand" href="<?php echo $this->getUrlWithGaParams(BASE_ORDER_URL); ?>">
                        <img src="<?php echo BASE_ORDER_URL . '/images/new-logo.png'; ?>" alt="AptDeco" />
                    </a> <!--/ logo --> 
                </div>
            </div>
        </div>

        <div class="container-fluid e-mail-noti"> 
            <?php $category = $this->product->getCategory(); ?>
            <?php $url = $this->getUrlWithGaParams(sprintf(BASE_ORDER_URL . '/catalog/%s', $category->getPageUrl())); ?>

            <p>Hello <?php echo $this->buyer->getFirstName(); ?>,</p>
            
            <p>
                Your purchase request for <?php echo $this->product->getTitle(); ?> has 
                been cancelled because we were unable to confirm availability with the seller.
                You were not charged for this request.
            </p>
            <p>
                Still looking for <?php echo $category->getTitle(); ?>? Browse 
                our <a href="<?php echo $url; ?>">listings</a> to find other great items for your home.
            </p>
            
            <p>Cheers,<br>The AptDeco Team</p>
        </div>
    </body>
</html>
