<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>
    <body>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="background-color: #333; padding: 11px 7px">
                <div class="container-fluid">  
                    <a class="brand" href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"> <img src="<?php echo Ikantam_Url::getPublicUrl('images/new-logo.png'); ?>" alt="AptDecologo" /> </a> <!--/ logo -->
                </div>
            </div>
        </div>

        <div class="container-fluid e-mail-noti"> 
            <p>Hello!</p>

            <p>
                Pick up date has been confirmed for <?php echo $this->product->getTitle(); ?>.
            </p>

            <p>
                <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/order/order', array('id' => $this->item->getId()))); ?>">
                    <?php echo $this->product->getTitle(); ?>
                </a>
            </p>

            <p>Thanks,<br/>The AptDeco Team</p>
        </div>
    </body>
</html>
