<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>
    <body>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="background-color: #333; padding: 11px 7px">
                <div class="container-fluid">  
                    <a class="brand" href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"> <img src="<?php echo Ikantam_Url::getPublicUrl('images/new-logo.png'); ?>" alt="AptDeco" /> </a> <!--/ logo -->
                </div>
            </div>
        </div>

        <div class="container-fluid e-mail-noti">
            <?php $dateString = $this->formatDate($this->item->getSellerDates()) ?>
            <p>Hi <?php echo $this->seller->getFirstName(); ?>,</p>
            <p>
                Congratulations! Your <?php echo $this->product->getTitle(); ?> has been 
                purchased by <?php echo $this->buyer->getFirstName(); ?>. We have 
                processed the order and charged the buyer's credit card. 
                The pick up is scheduled for <?php echo $dateString; ?>. 
            </p>

            <p>
                Once the product is delivered to the buyer, 
                the sale proceeds will automatically be deposited 
                into your account within 24 hours. 
                If you haven't done so already, please update 
                your <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/payout')); ?>">payout preferences</a> so you
                can receive your payment promptly.        
            </p>

            <p>Feel free to respond to this email with any questions or concerns.</p>

            <p>Cheers,<br>The AptDeco Team</p>
        </div>
    </body>
</html>
