<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>
    <body>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="background-color: #333; padding: 11px 7px">
                <div class="container-fluid">  
                    <a class="brand" href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"> <img src="<?php echo Ikantam_Url::getPublicUrl('images/new-logo.png'); ?>" alt="AptDeco" /> </a> <!--/ logo -->
                </div>
            </div>
        </div>

        <div class="container-fluid e-mail-noti"> 
            <?php if (!$this->buyer->getId()) : //confirmation url for guest orders ?>
                <?php $url = Ikantam_Url::getUrl('user/purchase/order', array('id'   => $this->item->getId(), 'code' => $this->item->getAccessCode())); ?>
            <?php else : ?>
                <?php $url = Ikantam_Url::getUrl('user/purchase/order', array('id' => $this->item->getId())); ?>
            <?php endif; ?>
            <?php $url = Ikantam_Url::getUrlWithGaParams($url) ?>

            <?php $deliveryDate = $this->formatDate($this->item->getSellerDates()) ?>
            <?php if ($this->item->getShippingMethodId() == 'delivery') : ?>
                <p>Dear <?php echo $this->buyer->getFirstName(); ?>,</p>
                <p>
                    Congratulations! We're happy to let you know that your request 
                    to purchase <?php echo $this->product->getTitle(); ?> has been 
                    confirmed by <?php echo $this->seller->getFirstName(); ?>. We have 
                    processed the transaction & charged your credit card the full amount. 
                </p>

                <p>
                    You are scheduled for delivery on <?php echo $deliveryDate; ?>. Once 
                    you receive your product, make 
                    sure to <a href="<?php echo $url; ?>">confirm</a> delivery so the 
                    seller can be paid.
                </p>

                <p>Feel free to respond to this email with any questions or concerns.</p>

                <p>Cheers,<br>The AptDeco Team</p>

            <?php else : ?>
                <p>Dear <?php echo $this->buyer->getFirstName(); ?>,</p>

                <p>
                    Congratulations! We're excited to let you know that your request 
                    to purchase <?php echo $this->product->getTitle(); ?> has been 
                    confirmed by <?php echo $this->seller->getFirstName(); ?>. We have 
                    successfully processed the transaction & charged your credit card the full amount. 
                </p>

                <p>
                    You can now <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/inbox/create', array('id' => $this->seller->getId()))); ?>">message</a> the
                    seller, <?php echo $this->seller->getFirstName(); ?>, to 
                    coordinate pick up of your product. 
                    Once you pick up the item, please <a href="<?php echo $url; ?>">confirm receipt</a> of 
                    of the pick up so the seller can be paid.
                </p>

                <p>Feel free to respond to this email with any questions or concerns.</p>

                <p>Cheers,<br>The AptDeco Team></p>
            <?php endif; ?>
        </div>
    </body>
</html>
