<!DOCTYPE html>
<html>
    <head>
        <title>AptDeco</title>
    </head>
    <body>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="background-color: #333; padding: 11px 7px">
                <div class="container-fluid">  
                    <a class="brand" href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"> <img src="<?php echo Ikantam_Url::getPublicUrl('images/new-logo.png'); ?>" alt="AptDecologo" /> </a> <!--/ logo -->
                </div>
            </div>
        </div>

        <div class="container-fluid e-mail-noti"> 
            <?php $date = substr($this->dateFound, 0, 10); ?>
            <?php $time = trim(substr($this->dateFound, 10)); ?>

            <p>Hey <?php echo $this->buyer->getFirstName(); ?>,</p>

            <p>           
                Congratulations! You are all set. 
                We have confirmed a delivery day & time window based on the options you selected previously. 
                All you have to do now, is just sit back and relax and wait for your product to be delivered.
            </p>

            <p>
                Please ensure you are available during this <?php echo date('M d, Y', strtotime($date)) . ' ' . $time; ?>. 
                You will be hearing from our delivery partner 24 hours before your scheduled 
                delivery to make sure they have all the necessary paperwork to deliver to your building.
                </p>
                <p>Happy shopping!</p>

                <p>Thanks,<br/>The AptDeco Team</p>
        </div>
    </body>
</html>
