<!-- sidebar -->
<aside id="seller-sidebar">
	<!-- seller-profile -->
	<div class="seller-profile">

		<?php if ($this->user->getId() == $this->loggedUser->getId()) : ?>
		<div class="review-counter" style="text-align: right;">
			<p style="margin:0;padding:0;"><a href="<?php echo Ikantam_Url::getUrl('user/profile/account'); ?>">Edit Profile</a></p>
		</div>
		<?php endif; ?>
		
		<div class="photo">
			<img style="width:229px;height:229px;" src="<?php echo $this->user->getAvatarUrl(); ?>" alt="<?php echo $this->user->getFirstName(); ?>" /> 
			<?php /*<span><i></i> verified</span>*/ ?>
		</div>

		<!-- seller-side-info -->
		<div class="seller-side-info">
			<h3><?php echo $this->user->getFirstName(); ?></h3>
			
			<?php if ($this->user->getPrimaryAddress()->getId()) : ?>
				<?php $address = $this->user->getPrimaryAddress(); ?>
				<p><?php printf('%s, %s, %s', $address->getCity(), $address->getState(), $address->getPostcode()); ?></p>
			<?php endif; ?>

			<?php if ($this->user->getRating()) : ?>
				<div class="rates">
					<?php for ($i = 0; $i < $this->user->getRating(); $i++) : ?>
						<i></i>
					<?php endfor; ?>
				</div>
			<?php endif; ?>

			<div class="review-counter">
				<a href="<?php echo Ikantam_Url::getUrl('user/view/reviews', array('id' => $this->user->getId())); ?>">Reviews (<?php echo $this->reviews->getSize(); ?>)</a>
			</div>

			<?php if ($this->loggedUser->canSendMessagesTo($this->user)) : ?>
				<button type="button" onclick="window.location = '<?php echo Ikantam_Url::getUrl('user/inbox/create', array('id' => $this->user->getId()))?>'"><i></i> Send message</button>
			<?php endif; ?>
			
			<?php /*<p class="mobile-number"><i></i> 34567788 </p>*/ ?>
		</div>
		<!--/ seller-side-info -->

	</div> 
	<!--/ seller-profile -->

</aside>
<!--/ sidebar --> 