<script type="text/javascript">
(function() {
    var publishFn = {};
    var unpublishFn = {};
    var deleteFn = {};
    $(document).ready(function() {
        var dpf = "<?php echo $this->from; ?>";
        var dpt = "<?php echo $this->till; ?>";
        if (dpf) {
            $("#datepicker4").val(dpf).show();
        }
        if (dpt) {
            $("#datepicker5").val(dpt).show();
        }

        var lastVal = '';
        var timeout = null;
        var statusEl = $('#status');
        var ul = $('#suggestions-list');


        //Keyup event

        $('#filter-items').keyup(function(key) {

            var value = $(this).val();
            value = value.trim();
            if (value != lastVal)
            {
                lastVal = value;
                if (value.length > 0) {

                    if (timeout !== null)
                    {
                        clearTimeout(timeout);
                    }
                    timeout = setTimeout(function() {
                        timeout = null;
                        $('#suggestions-list').empty();


                        $.ajax({
                            type: "POST",
                            async: false,
                            url: '<?php echo Ikantam_Url::getUrl("user/sale/suggestions"); ?>',
                            data: {'search': value},
                            success: function(data) {
                                data = $.parseJSON(data);
                                insertFromObject(data, value);
                            },
                        });

                        var popup = $('.items-to-filter');
                        if (ul.find('li').length > 0)
                        {
                            popup.fadeIn();
                        } else
                        {
                            popup.fadeOut();
                        }

                    }, 375);


                }
            }
        });



        //delete
        deleteFn = function() {
            if (updateProduct($(this).val(), 'delete'))
            {
                //$(this).closest('tr').remove();
                var sc = $('#sales_count');
                if (parseInt(sc.text()) > 0)
                    sc.text(parseInt(sc.text()) - 1);
                refreshTable();
            }
        }

        $('.delitem').click(deleteFn);

//Extend publication period
        $('.extend-publication').click(function() {
            var $elem = $(this);
            $.post('<?php echo Ikantam_Url::getUrl('user/sale/extend-publication-period'); ?>', {id: $(this).data('id')}, function(res) {
                res = $.parseJSON(res);
                if (res.success)
                {
                    $elem.closest('li').text('Sale period expires on ' + res.date + '.');
                    $elem.remove();

                }
            });
            return false;
        });

    }); //doc ready

    function removeRow(row, delay, element)// element to blink
    {
        element = element || false;
        setTimeout(function() {
            $(row).remove();
            refreshTable();
        }, delay);
        if (element)
            blink(element);
    }
    function blink(element)
    {
        var color = element.css('backgroundColor')
        element.parent().animate({'backgroundColor': '#E8AF3C'}, 500, function() {
            $(this).animate({'backgroundColor': color}, 1500);
        });
    }


    function highlightResult(sVal, resVal)
    {
        var expr = new RegExp("^(" + sVal + ")", "i");
        resVal = resVal.replace(expr, "<b>$1</b>");
        return resVal;
    }


    function insertFromObject(obj, sVal)
    {
        var list = $('#suggestions-list');

        for (i in obj['products'])
        {
            var li = document.createElement('li');
            var a = document.createElement('a');
            //$(a).attr('href',obj.products[i].url).html(highlightResult(sVal,obj.products[i].title));
            $(a).attr('href', '<?php echo Ikantam_Url::getUrl("user/sale/list"); ?>/product/' + obj.products[i].id).html(highlightResult(sVal, obj.products[i].title));
            li.appendChild(a);
            list.append(li);
        }

        if (!obj['products'] || obj['products'].length < 1)
        {
            $("#scrollbar-5").slideUp();
        } else {
            $("#scrollbar-5").slideDown();
        }

    }




    function createProductRow(data, parent)
    {
        data = data.products;
        $(parent).empty();
        for (i in data)
        {
            var tr = document.createElement('tr');
            var td1 = document.createElement('td');
            var td2 = document.createElement('td');
            var td3 = document.createElement('td');
            var td4 = document.createElement('td');
            $(td1).addClass('cart-thumb');
            $(td3).addClass('act');
            $(td4).addClass('take-act');
            var img = document.createElement('img');
            $(img).attr({'alt': data[i].title, 'src': data[i].imgUrl}).css({width: '113px !important', 'max-height': '113px !important'}).appendTo(td1);

            var h3 = document.createElement('h3');
            var a = document.createElement('a');
            $(a).attr('href', data[i].linkUrl).text(data[i].title).appendTo(h3);
            $(h3).appendTo(td2);

            var ul = document.createElement('ul');
            var li1 = document.createElement('li');
            var li2 = document.createElement('li');
            var li3 = document.createElement('li');
            $(li1).text(data[i].category).appendTo(ul);
            $(li2).text(data[i].shipping).appendTo(ul);
            $(li3).text(data[i].price).appendTo(ul);
            $(ul).appendTo(td2);

            if (data[i].isReceived !== 'notSold')
            {
                var p = document.createElement('p');
                if (data[i].isReceived)
                {
                    $(p).text('Delivered')
                } else
                {
                    $(p).text('Waiting for delivery');
                }
                $(p).appendTo(td3)
            } else
            {
                var button = document.createElement('button');
                var editB = document.createElement('button');
                var deleteB = document.createElement('button');

                if (data[i].isPublished)
                {
                    $(button).attr({
                        'name': 'unpublish',
                        'class': 'publish un-publish',
                        'type': 'button',
                        'value': data[i].id,
                    }).text('Unpublish').click(unpublishFn);
                } else
                {
                    $(button).attr({
                        'name': 'publish',
                        'class': 'publish',
                        'type': 'button',
                        'value': data[i].id,
                    }).text('Publish').click(publishFn);

                }

                $(button).appendTo(td3);

                $(editB).attr({'class': 'ed-i-tem', 'type': 'button'}).text('Edit').appendTo(td4);//add action
                $(td4).append(document.createTextNode(' '));
                $(deleteB).attr({
                    'name': 'delete',
                    'class': 'delitem',
                    'value': data[i].id,
                }).html('<i></i>').click(deleteFn).appendTo(td4);

            }// for in

            $(tr).append(td1).append(td2).append(td3).append(td4);


            $(parent).append(tr);

        }
    }
    //-----Publish, Unpublish, Delete event function
    function refreshTable()
    {

        //var answer = false;
        //var postData = $('#filterForm').serializeArray();
        //postData.push({name: 'page', value: $('#currentPage').text() || 1});

        $('#filterForm').append($("<input></input>", {"type":"hidden", "name":"page", "value": $('#currentPage').text() || 1}));
        $('#filterForm').submit();

        /*$.ajax({
         async: false,
         url: '<?php echo Ikantam_Url::getUrl("user/sale/loadfrompage"); ?>',
     data: postData,
     type: "POST",
     success: function(data) {
     data = $.parseJSON(data);
     answer = data;
     createProductRow(data, $('#my-items-table'))
     }
     });

     if (answer)
     {
     $('.pagination-right').html(answer.paginationControlHTML);
     }*/
    }

})();

function updateProduct(id, action)
{
    var result = false;

    $.ajax({
        async: false,
        url: '<?php echo Ikantam_Url::getUrl("user/sale/update"); ?>',
        data: {'id': id, 'updAction': action},
        type: "POST",
        success: function(data) {
            data = $.parseJSON(data);
            result = data.result;
            if (data.extended) {
                $('#' + data.elem).text('Publication period expires on ' + data.date);
            }
        }
    });

    return result;
}

</script>