<?php $session  = new User_Model_Session(); ?>

<?php $params   = array('buyer_id' => $session->getUser()->getId()); ?>
<?php $products = new Admin_Model_Order_Item_Collection(); ?>
<?php $products->getAllItems($params); ?>

<?php
$menus    = array(
    array(
        'title'     => 'Inbox',
        'class'     => 'inbox',
        'is_active' => (isset($this->activeMenu) && ($this->activeMenu == 'inbox_index' || $this->activeMenu == 'inbox_sent')),
        'count'     => $this->messagebox()->countNewInboxMessages(),
        'items'     => array(
            'Inbox' => Ikantam_Url::getUrl('user/inbox/index'),
            'Sent'  => Ikantam_Url::getUrl('user/inbox/sent'),
        ),
    ),
    array(
        'title'     => 'My purchase history',
        'class'     => 'purchase',
        'url'       => Ikantam_Url::getUrl('user/purchase/history'),
        'is_active' => (isset($this->activeMenu) && $this->activeMenu == 'purchases'),
        'count'     => $products->getSize(),
    ),
    array(
        'title'     => 'My listings',
        'class'     => 'sales',
        'is_active' => (isset($this->activeMenu) && $this->activeMenu == 'listings'),
        'count'     => $session->getUser()->getSalableProducts()->getSize(),
        'items'     => array(
            'My Sold Items' => Ikantam_Url::getUrl('user/order/list'),
            'All Postings'  => Ikantam_Url::getUrl('user/sale/list'),
        ),
    ),
    array(
        'title'     => 'Alerts',
        'class'     => 'account',
        'url'       => Ikantam_Url::getUrl('product/alert/index'),
        'is_active' => (isset($this->activeMenu) && $this->activeMenu == 'alerts'),
    ),
    array(
        'title'     => 'Account',
        'class'     => 'account',
        'is_active' => (isset($this->activeMenu) && $this->activeMenu == 'profile'),
        'items'     => array(
            'View My Profile'    => Ikantam_Url::getUrl('user/view/index'),
            'Edit Profile'       => Ikantam_Url::getUrl('user/profile/account'),
            'Emails and Alerts'   => Ikantam_Url::getUrl('user/emails-and-alerts/index'),
            'Payout preferences' => Ikantam_Url::getUrl('user/payout/index'),
        ),
    ),
);
?>

<div id="show-sidebar" class="sidebar hide-mid" data-keep="true"> <a href="#show-sidebar" class="show-mid apt-btn menu-mid"><i class="ico-bars"></i></a>
    <div class="apt-accordion">
        <?php foreach ($menus as $menu) : ?>
            <div class="accordion-panel <?php if ($menu['is_active'] || 1): ?> is-active <?php endif ?>">
                <h3 class="panel-heading <?php if (empty($menu['url'])) : ?> cursor-default <?php endif ?> ">
                    <?php if (isset($menu['url'])) : ?><a href="<?php echo $this->escape($menu['url']); ?>"><?php endif; ?>
                    <small class="<?php echo $this->escape($menu['class']); ?>"></small>
                    <?php echo $this->escape($menu['title']); ?>
                    <?php if (isset($menu['url'])) : ?></a><?php endif; ?>
                    <?php if (isset($menu['count'])) : ?>
                        <a href="javascript:void(0);" class="counting">
                            <i class="arr"></i>
                            <?php echo $this->escape($menu['count']); ?>
                        </a>
                    <?php endif; ?>
                </h3>

                <?php if (isset($menu['items'])) : ?>
                    <div class="accordion-collapse">
                        <ul class="accordion-list">
                            <?php foreach ($menu['items'] as $title => $url) : ?>
                                <li><a href="<?php echo $this->escape($url); ?>"><?php echo $this->escape($title); ?></a> </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                <?php endif; ?>
            </div>
        <?php endforeach ?>
    </div>
</div>
