<?php foreach ($this->posts as $_post): ?>
    <?php $postedAt = strtotime($_post['post_date']); ?>
    <?php $tagsM    = new Application_Model_Static(); ?>
    <?php $tags     = $tagsM->getPostTags($_post['post_id']); ?>

    <div class="apt-posts styled-ol">
        <article class="the-post">
            <small class="meta-time inline">
                <time datetime="<?php echo date('Y-m-d', $postedAt); ?>"><?php echo date('d M Y', $postedAt); ?></time>
            </small>

            <div class="the-post-content mceContentBody">
                <h2 class="the-post-title">
                    <a href="<?php echo $this->escape(Ikantam_Url::getUrl('blog/' . $_post['post_name'])); ?>">
                        <?php echo $this->escape($_post['post_title']); ?>
                    </a>
                </h2>

                <?php echo $this->partial('blog/social.phtml', 'default', array('post' => $_post)); ?>

                <div class="content-wrapper">
                    <?php echo $_post['post_content']; ?>
                    <div class="clear"></div> 

                    <div class="meta-tags m-tb10">
                        <?php foreach ($tags as $tag) : ?>
                            <span><?php echo $this->escape($tag['name']); ?></span>
                        <?php endforeach; ?>
                    </div> 
                </div>
            </div>
        </article>
    </div>
<?php endforeach; ?>