<?php $messages = $this->session->getMessages('success'); ?>
<?php if (count($messages) > 0) : ?>
    <div class="intro-pattren">
        <div class="container-fluid">
            <div class="title"></div>
            <div class="feedback-msg"> 	
                <h2>Success!</h2>
                <p>Reset link has been sent to your email address.</p>		
            </div>
        </div>
    </div>
<?php else : ?>
    <div class="intro-pattren">
        <div class="container-fluid">
            <div class="title  regi"> </div>

            <!-- Register -->
            <div id="sign-box">
                <form class="form-signin" id="sign-in" action="<?php echo Ikantam_Url::getUrl('user/password/forgot-post'); ?>" method="post">
                    <h4>Password recovery</h4>
                    <input type="email" class="input-block-level" placeholder="Your e-mail" value="<?php echo $this->session->getFormData('email'); ?>" name="email" />

                    <?php if ($this->session->getFormErrors('email')) : ?>
                    <p class="invalid"> <i></i><small><?php echo $this->session->getFormErrors('email'); ?></small></p>
                    <?php endif; ?>

                    <?php /* <p class="recpass">Enter your e-mail</p> */ ?>
                    <input type="submit" value="Send" id="passwordRecovery"/>
                </form>

                <?php foreach ($this->session->getMessages('success') as $message) : ?>
                    <p class="sentMsg"><i></i><?php echo $message; ?></p>
                <?php endforeach; ?>

                <?php foreach ($this->session->getMessages('error') as $message) : ?>
                    <p class="invalid"><i></i><?php echo $message; ?></p>
                        <?php endforeach; ?>

            </div>
            <!--/ Register --> 

        </div>
    </div>
    <!--/ intro-pattren -->
<?php endif; ?>

