  <!-- intro-pattern -->
  <div class="intro-pattren">
    <div class="container-fluid">
      <div class="title  regi"> </div>
      
      <!-- Register -->
      <div id="sign-box">
        <form class="form-signin" id="sign-in" action="<?php echo Ikantam_Url::getUrl('user/password/reset-post'); ?>" method="post">
          <h4>Choose a new password</h4>
          <input type="password" class="input-block-level" placeholder="New password" name="password" />
          <input type="password" class="input-block-level" placeholder="Confirm password" name="confirmation" />
		  <input type="hidden" name="code" value="<?php echo $this->escape($this->code); ?>" />
          <input type="submit" value="Save" id="savepass"/>
        </form>
		
		<div class="clearfix"></div>
		
		<?php foreach ($this->session->getMessages('success') as $message) : ?>
			<p class="sentMsg"><i></i><?php echo $message; ?></p>
			<div class="clearfix"></div>
		<?php endforeach; ?>
	
		<?php foreach ($this->session->getMessages('error') as $message) : ?>
			<p class="invalid"><i></i><?php echo $message; ?></p>
			<div class="clearfix"></div>
		<?php endforeach; ?>

		<?php if ($this->session->getFormErrors('password')) : ?>
			<p class="invalid"> <i></i> <?php echo $this->session->getFormErrors('password'); ?></p>
		<?php endif; ?>
		
		<?php if ($this->session->getFormErrors('confirmation')) : ?>
			<p class="invalid"> <i></i> <?php echo $this->session->getFormErrors('confirmation'); ?></p>
		<?php endif; ?>
      </div>
      <!--/ Register --> 
      
    </div>
  </div>
  <!--/ intro-pattern -->