<footer id="footer">
      <div class="container-fluid">
        <ul class="pull-left p-t10">
            <li> <a href="<?php echo Ikantam_Url::getUrl('about/index'); ?>">About</a> </li>
            <li> <a href="<?php echo Ikantam_Url::getUrl('how-it-works/index'); ?>">How it works</a> </li>
            <li> <a href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>">FAQs</a> </li>
            <li> <a href="<?php echo Ikantam_Url::getUrl('returns/index'); ?>">Returns & Refunds</a> </li>
            <li> <a href="<?php echo Ikantam_Url::getUrl('terms/index'); ?>">Terms & Conditions</a> </li>
            <li> <a href="<?php echo Ikantam_Url::getUrl('privacy/index'); ?>">Privacy Policy</a> </li>
            <li> <a href="<?php echo Ikantam_Url::getUrl('blog/index'); ?>">Blog</a> </li>
            <li> <a href="<?php echo Ikantam_Url::getUrl('jobs/index'); ?>">Jobs</a> </li>
        </ul>
        <div class="pull-right">
            <a href="https://www.facebook.com/AptDeco"><i class="ico-socials facebook sm"></i></a>
            <a href="https://www.twitter.com/AptDeco"><i class="ico-socials twitter sm"></i></a>
            <a href="https://www.instagram.com/AptDeco"><i class="ico-socials instgram sm"></i></a>
            <a href="https://plus.google.com/105633165409767655845"><i class="ico-socials google-plus sm"></i></a>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container-fluid">
        <p class="pull-left-md m-0 p-t7"> 
            &copy; 2014 AptDeco, Inc. All Rights Reserved.
            Designed by <a href="http://www.ikantam.com/" target="_blank">iKantam</a>
        </p>

        <div class="pull-right">
            <?php if (!Newsletter_Model_Email::isUserSubscribed()): ?>
                <form class="apt-form" action="<?php echo Ikantam_Url::getUrl('newsletter/index/subscribe'); ?>" method="get">
                    <div class="field-n-btn widget-footer">
                        <input class="form-field" type="text" placeholder="Your email" name="email">
                        <button class="apt-btn primary" type="submit">Sign up</button>
                    </div>
                </form>
            <?php endif; ?>  
        </div>
    </div>
</div>
