<?php $categories       = new Category_Model_Category_Collection(); ?>
<?php $parentCategories = $categories->getParents(); ?>
<?php /* @var $collections Application_Model_Set[] */ ?>
<?php $collections      = $this->collectionMenu('main_secondary'); ?>


<header class="aptd-header fixed-top md-hidden">
    <div class="container lv-container"> 
        <div class="apt-logo">
            <a href="<?php echo Ikantam_Url::getUrl('home/index'); ?>">
                <img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/logo-beta.png'); ?>" alt="AptDeco" />
            </a>
        </div>

        <div class="shop-by-cats dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                Shop by <br />
                category <span class="caret"></span>
            </a>

            <div class="dropdown-menu">
                <?php $c                = 1; ?>
                <?php foreach ($parentCategories as $parentCategory) : ?>
                    <div class="inner-cat-col">
                        <h3 class="heading-cat">
                            <a href="<?php echo $this->escape($parentCategory->getCategoryUrl()); ?>" class="menu-<?php echo $parentCategory->getPageUrl() ?>">
                                <?php echo $this->escape($parentCategory->getTitle()); ?>
                            </a>
                        </h3>
                        <ul>
                            <?php foreach ($parentCategory->getSubCategories() as $category) : ?>
                                <li>
                                    <a href="<?php echo $this->escape($category->getCategoryUrl()); ?>" class="menu-<?php echo $parentCategory->getPageUrl() ?>">
                                        <?php echo $this->escape($category->getTitle()); ?>
                                    </a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>

                    <?php if ($c++ % 4 === 0) : ?>
                        <div class="clear"></div>
                    <?php endif; ?>
                <?php endforeach; ?>

                <div class="inner-cat-col">
                    <h3 class="heading-cat">
                        <a href="javascript:void(0);">
                            Collections
                        </a>
                    </h3>

                    <ul>
                        <?php foreach ($collections as $collection): ?>
                            <li>
                                <a href="<?php echo $this->escape($collection->getCollectionUrl()); ?>" class="menu-<?php echo $collection->getPageUrl() ?>">
                                    <?php echo $this->escape($collection->getName()); ?>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </div>
        </div>

        <div class="apt-search-bar">
            <form class="apt-form" action="<?php echo Ikantam_Url::getUrl('search/index'); ?>" method="get" id="search-form">
                <div class="control-group">
                    <div class="block-fields">
                        <div class="input-append">
                            <input class="span4 form-field" type="text" placeholder="Search" name="query" />

                            <select name="categories[]" class="btn apt-btn classic" style="width: auto;text-align: left;padding-top: 7px;">
                                <option value="">All categories</option>
                                <?php foreach ($parentCategories as $parentCategory) : ?>
                                    <option value="<?php echo $this->escape($parentCategory->getId()); ?>">
                                        <?php echo $this->escape($parentCategory->getTitle()); ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>

                            <button class="btn apt-btn classic" type="submit">
                                <i class="ico-search top-4 m-0"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="aptd-support">
            <h4>
                <i class="apt-i-mob top-3"></i> (646) 586-9056 
            </h4>
            <a class="aptd-email" href="mailto:hello@aptdeco.com">
                hello@aptdeco.com
            </a>
        </div>

        <div class="clear"></div>

        <div class="aptd-nav-menu hidden">
            <ul>
                <?php foreach ($parentCategories as $parentCategory) : ?>
                    <li>
                        <a href="<?php echo $this->escape($parentCategory->getCategoryUrl()); ?>">
                            <?php echo $this->escape($parentCategory->getTitle()); ?>
                        </a>
                    </li>
                <?php endforeach; ?>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle collections-btn" data-toggle="dropdown">
                        Collections <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu apt-dropdown">
                        <?php foreach ($collections as $collection): ?>
                            <li>
                                <a href="<?php echo $this->escape($collection->getCollectionUrl()); ?>">
                                    <?php echo $this->escape($collection->getName()); ?>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>

<script type="text/javascript">
    function setCategory(id, element)
    {
        $("#search-form input[type=\"hidden\"]").val(id);
        $("span#selected-category").html($(element).html());
    }
</script>