<div class="container-fluid" id="container"> 
    <div class="mainContent static-content">

        <!-- Begin Curebit integration code -->
        <script>
            //<![CDATA[
            var _curebitq = _curebitq || [];
            _curebitq.push(['init', {
                    site_id: 'aptdeco-3c47343a-ba21-4494-a85e-4931b0961070', // REQUIRED - Curebit Site ID
                    server: 'https://www.curebit.com' // OPTIONAL - Use your own domain (enterprise only)
                }]);


            _curebitq.push(['register_affiliate', {
                    iframe: {// REQUIRED - html attributes for iframe tag to fit page design
                        width: 465, // REQUIRED - width of the iframe
                        height: 258, // REQUIRED - height of the iframe
                        id: "new_curebit_affiliate_member", // OPTIONAL - any other HTML attribute
                        frameborder: 0 // OPTIONAL - removes border from IE
                    },
                    affiliate_member: {// OPTIONAL - curebit will ask person to signup
                        // in case when his email is not given by merchant
                        email: "vladimir.haidysh@gmail.com", // OPTIONAL - customer email
                        first_name: "John", // OPTIONAL - customer first name
                        last_name: "Smith", // OPTIONAL - customer last name
                        customer_id: "7" // OPTIONAL - customer ID from your site
                    },
                    campaign_tags: ['default'] // OPTIONAL - campaign tags for offer targeting
                }])

            //]]>
        </script>
        <script src="//d2jjzw81hqbuqv.cloudfront.net/assets/api/all-0.6.js" type="text/javascript"></script>
        <!-- End Curebit integration code -->

    </div>    
</div>