
<!-- container-fluid -->
<div class="container-fluid" id="container"> 

    <!-- product -->
    <section id="product">

        <!-- carousel widget -->
        <div class="carousel widget">
            <div class="midSlid">
                <span class='zoom' id='ex1'>
                    <img src="<?php echo $this->product->getMainImage()->getS3Url(1500, 1500, 'frame'); ?>" alt="1" />
                </span>
            </div>
            <?php if ($this->product->getAllImages()->getSize() > 0) : ?>
                <div class="jCarouselLite" style="overflow:hidden;position:relative;">
                    <ul style="position:absolute;left:0px;">

                        <li>
                            <img src="<?php echo $this->product->getMainImage()->getS3Url(1500, 1500, 'frame'); ?>" alt="1" />
                        </li>

                        <?php foreach ($this->product->getAllImages() as $image) : ?>
                            <li>
                                <img src="<?php echo $image->getS3Url(1500, 1500, 'frame'); ?>" alt="1" />
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>


                <div class="clear"></div>

                <?php if ($this->product->getAllImages()->getSize() > 8) : ?>
                    <button class="prev" onclick="slideLeft();"></button>
                    <button class="next" onclick="slideRight();"></button>
                <?php endif; ?><?php endif; ?>
        </div>
        <!--/ carousel widget -->

        <!-- product-description -->
        <div class="product-desc">
            <!-- breadcrumb -->
            <div class="breadcrumb">
                <ul>
                    <li><a href="<?php echo Ikantam_Url::getUrl(''); ?>">Home</a></li>
                    <li>
                        <span></span> <!--/ arrow -->
                        <a href="<?php echo $this->product->getCategory()->getParent()->getCategoryUrl(); ?>">
                            <?php echo $this->product->getCategory()->getParent()->getTitle(); ?>
                        </a>
                        <span></span> <!--/ arrow -->
                    </li>
                    <li>
                        <a href="<?php echo $this->product->getCategory()->getCategoryUrl(); ?>">
                            <?php echo $this->product->getCategory()->getTitle(); ?>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/ breadcrumb -->



            <h1><?php echo $this->product->getTitle(); ?></h1>
            <div class="product-info">
                <ul>
                    <li>
                        <span class="labl">Brand:</span>
                        <span class="descripo">
                            <?php echo $this->product->getManufacturer()->getTitle(); ?>
                        </span>
                    </li>
                    <li>
                        <span class="labl">Condition:</span>
                        <span class="descripo"><?php echo $this->product->getConditionLabel(); ?></span>
                    </li>

                    <li>
                        <span class="labl">Color:</span>
                        <span class="descripo">
                            <?php $colorObject = $this->product->getColor(); ?>
                            <i <?php if ($colorObject->getTitle() == 'White' || $colorObject->getTitle() == 'Silver') : ?>id="white-1"<?php endif; ?>
                                                                                                                          <?php if ($colorObject->getTitle() == 'Pattern') : ?>id="pattren-1"<?php endif; ?>
                                                                                                                          class="productColor" style="background-color: <?php echo $colorObject->getHex(); ?>;"
                                                                                                                          title="<?php echo $colorObject->getTitle(); ?>">
                            </i>

                        </span>
                    </li>
                    <li>
                        <span class="labl">Material:</span>

                        <span class="descripo">
                            <i class="materiaL"></i>
                            <?php echo $this->product->getMaterial()->getTitle(); ?>
                        </span>
                    </li>
                    <?php
                    if ((float) $this->product->getWidth() > 0 || (float) $this->product->getHeight() > 0 || (float) $this->product->getDepth() > 0) :
                        ?>
                        <li>
                            <span class="labl">Dimensions:</span>

                            <span class="descripo">
                                <i class="dimen"></i>
                                <?php if ((float) $this->product->getWidth() > 0) : ?>
                                    Width: <p><?php printf('%d', $this->product->getWidth()); ?></p>"
                                <?php endif; ?>

                                <?php if ((float) $this->product->getHeight() > 0) : ?>
                                    Height:<p><?php printf('%d', $this->product->getHeight()); ?></p>"
                                <?php endif; ?>

                                <?php if ((float) $this->product->getDepth() > 0) : ?>
                                    Depth: <p><?php printf('%d', $this->product->getDepth()); ?></p>"
                                <?php endif; ?>
                            </span>

                        </li>
                    <?php endif; ?>
                    <li>
                        <span class="labl">Years Old:</span>
                        <span class="descripo">
                            <i class="alarmIcon"></i>
                            <?php echo $this->product->getAgeLabel(); ?>
                        </span>
                    </li>
                    <li>
                        <span class="labl">Delivery:</span>

                        <span class="descripo">
                            <i class="deliv"></i>
                            <?php if ($this->product->getIsDeliveryAvailable() && $this->product->getIsPickUpAvailable()) : ?>
                                Available for pick up by buyer or delivery by AptDeco moving partner
                            <?php elseif ($this->product->getIsDeliveryAvailable()) : ?>
                                Only available for delivery by AptDeco partner
                            <?php elseif ($this->product->getIsPickUpAvailable()) : ?>
                                Only available for pick up by buyer
                            <?php endif; ?>
                        </span>


                    </li>

                    <?php if ($this->product->getAvailableFrom() && $this->product->getAvailableTill()) : ?>
                        <li>
                            <span class="labl">&nbsp;</span>
                            <?php if ($this->product->getIsDeliveryAvailable() && $this->product->getIsPickUpAvailable()) : ?>
                                <?php $message = 'This product is available for pick up or delivery between %s and %s'; ?>
                            <?php elseif ($this->product->getIsDeliveryAvailable()) : ?>
                                <?php $message = 'This product is available for delivery between %s and %s'; ?>
                            <?php else : ?>
                                <?php $message = 'This product is available for pick up between %s and %s'; ?>
                            <?php endif; ?>

                            <span class="descripo">
                                <?php printf($message, date('m/d/Y', $this->product->getAvailableFrom()), date('m/d/Y', $this->product->getAvailableTill())); ?>
                            </span>
                        </li>
                    <?php endif; ?>
                </ul>
            </div>

            <!-- fb --><!--/ fb -->
            <!-- pin it --><!--/ pin it -->
            <!-- twitter --><!--/ twitter -->






            <!-- price-block -->
            <div class="price-block">
                <?php if ($this->product->getOriginalPrice()) : ?>

                    <p class="original-price"> Original price: <span><?php echo $this->currency($this->product->getOriginalPrice()); ?></span> </p>
                <?php endif; ?>

                <h3><?php echo $this->currency($this->product->getPrice()); ?></h3>

                <?php if ($this->product->isSaleable()) : ?>
                    <button class="add-to-cart" onclick="window.location = '<?php echo $this->product->getAddToCartUrl(); ?>';">  <i></i> Add to cart </button>
                <?php elseif (!$this->product->isSaleable() && $this->product->getIsSold()) : ?>
                    <button class="add-to-cart sold">Sold</button>
                <?php endif; ?>

                <button class="add-to-wlist" onclick="window.location = '<?php echo $this->product->getAddToWishlistUrl(); ?>';"> <i></i> Add to Wishlist </button>

            </div>
            <!--/ price-block -->


        </div>
        <!--/ product-description -->

        <div class="clear"></div>

        <!-- about-product -->
        <div class="about-product">

            <a href="#" class="get-info"> <span class="togg-icon opned"><i></i></span> <i class="details"></i> Details </a>
            <!-- productInfo -->
            <div class="productInfo toshowd">
                <p><?php echo nl2br($this->product->getDescription()); ?></p>
            </div>
            <!--/ productInfo -->

            <a href="#" class="get-info"> <span class="togg-icon"><i></i></span> <i class="deliv"></i> Delivery policies</a>
            <!-- productInfo -->
            <div class="productInfo">
                <p>You can simply elect to use our pre-arranged delivery service 
                    or pick up your purchased item from the seller's home directly. 
                    When you add the desired item to cart and proceed to check out 
                    you will have an option to choose between delivery or pick up.</p>

                <p>Delivery: When you choose delivery, you will be asked to specify 
                    a delivery date and time once you complete your checkout. 
                    We have secured the most competitive delivery rates available. 
                    Once your select the dates and times that work best for you, 
                    we will confirm within 36 hours a date and time window for your delivery. 
                    But if for any reason none of the dates work for 
                    you can contact us at <a href="mailto:hello@aptdeco.com">hello@aptdeco.com</a> and 
                    we will work with you to find a convenient date and time. 
                    We work with our delivery partner and take care of coordinating the pick up 
                    from the seller's home and all the paperwork required to make the delivery happen. 
                    All you have to do is wait for our delivery partner 
                    during the confirmed delivery date and time window.</p>

                <p>Pick Up: If you choose to pick up your product directly from the seller, 
                    you will have the opportunity to message the seller once you complete your checkout 
                    to coordinate date, time and place to meet. 
                    The seller is required to respond to your message within 36 hours 
                    but in the rare event that you don't hear back from the seller, 
                    just let us know by contacting us at 
                    <a href="mailto:hello@aptdeco.com">hello@aptdeco.com</a>.</p>
            </div>
            <!--/ productInfo -->
        </div>
        <!--/ about-product -->

    </section>
    <!--/ product -->

    <?php echo $this->partial('view-product/seller_sidebar.phtml', 'admin', $this); ?>

    <div class="clear"></div>

    <?php /* 	<!-- suggestions-products -->
      <div class="suggestions-products">
      <h5>Some other suggestions for you:</h5>
      <ul>
      <li>
      <div><img src="<?php echo Ikantam_Url::getPublicUrl('images/sugg-1.png'); ?>" alt="suggestions" /></div>
      <a href="#">Gufram - Sofa Bocca</a>
      <span>$ 2300</span>
      </li>
      <li>
      <div><img src="<?php echo Ikantam_Url::getPublicUrl('images/sugg-2.png'); ?>" alt="suggestions" /></div>
      <a href="#">Gufram - Sofa Bocca</a>
      <span>$ 2300</span>
      </li>
      <li>
      <div><img src="<?php echo Ikantam_Url::getPublicUrl('images/sugg-3.png'); ?>" alt="suggestions" /></div>
      <a href="#">Gufram - Sofa Bocca</a>
      <span>$ 2300</span>
      </li>
      <li>
      <div><img src="<?php echo Ikantam_Url::getPublicUrl('images/sugg-4.png'); ?>" alt="suggestions" /></div>
      <a href="#">Gufram - Sofa Bocca</a>
      <span>$ 2300</span>
      </li>
      <li>
      <div class="b-right"><img src="<?php echo Ikantam_Url::getPublicUrl('images/sugg-4.png'); ?>" alt="suggestions" /></div>
      <a href="#">Gufram - Sofa Bocca</a>
      <span>$ 2300</span>
      </li>
      </ul>

      </div>
      <!--/ suggestions-products --> */ ?>

</div>
<!--/ container-fluid -->

<div class="clear"></div>

<script>

    function slideRight()
    {
        var left = parseInt(jQuery(".jCarouselLite ul").css("left"));
        left = left - 52;
        if (left < (8 - jQuery(".jCarouselLite ul").children().length) * 52) {
            left = (8 - jQuery(".jCarouselLite ul").children().length) * 52;
        }
        jQuery(".jCarouselLite ul").animate({"left": left}, 200);
    }

    function slideLeft()
    {
        var left = parseInt(jQuery(".jCarouselLite ul").css("left"));
        left = left + 52;
        if (left > 0) {
            left = 0;
        }
        jQuery(".jCarouselLite ul").animate({"left": left}, 200);
    }



    /*===== jCarouselLite ======*/
    /* $(".widget .jCarouselLite").jCarouselLite({
     btnNext: ".widget .next",
     btnPrev: ".widget .prev",
     speed: 200,
     visible: 8,
     });*/
</script>
