<?php $seller = $this->product->getSeller(); ?>


<aside id="product-sidebar">
	<div id="seller">
		<p>About the Seller</p>
        <a href="<?php echo $seller->getProfileUrl(); ?>">
            <img src="<?php echo $seller->getAvatarUrl(); ?>" alt="<?php echo $seller->getFullName(); ?>" />
        </a>
		<h3>
			<a href="<?php echo $seller->getProfileUrl(); ?>"><?php echo $seller->getFullName(); ?></a>
		</h3>
        
        <?php /*if ($seller->getPrimaryAddress()->getId()) : ?>
				<?php $address = $seller->getPrimaryAddress(); ?>
				<p><?php printf('%s, %s', $address->getCity(), $address->getStateName()); ?></p>
			<?php endif;*/ ?>

		<?php if ($seller->getRating()) : ?>
			<div class="rating">
				<?php for ($i = 0; $i < $seller->getRating(); $i++) : ?>
					<span></span>
				<?php endfor; ?>
			</div>
		<?php endif; ?>

		<ul class="seller-control">
			<li>
				<a target="_blank" href="<?php echo $seller->getReviewsUrl(); ?>">
					<i class="custom-reviews"></i>
					Customer Reviews (<?php echo $seller->getReviews()->getSize(); ?>)
				</a>
			</li>
		</ul>
	</div>

	<ul class="seller-offers">
		<li><h4>Shop my home:</h4></li>
		<li>								
			<a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $seller->getId())); ?>">
				All
			</a>

		<?php foreach ($seller->getCategories() as $category) : ?>
			<li>
				<a href="<?php echo $seller->getCategoryUrl($category); ?>">
					<?php printf('%s (%s)', $category->getTitle(), $category->getProductsCount()); ?>
				</a>
			</li>
		<?php endforeach; ?>
	</ul>

	<div class="clear"></div>

	<!-- slide -->
	<div id="target" class="cible visible-desktop">
		<?php $count = 0; ?>
		<?php $itemsPerSlide = 4; ?>
		<?php foreach ($this->products as $_product) : ?>
			<?php if ($count++ % $itemsPerSlide == 0) : ?>
				<div class="slida<?php if ($count == 1): ?> active<?php endif; ?>">
					<ul>
					<?php endif; ?>

					<li><a href="<?php echo $_product->getProductUrl(); ?>">
							<img style="width:57px;max-height:57px;" src="<?php echo $_product->getMainImageUrl(); ?>" alt="slide" />
						</a>
					</li>

					<?php if ($count % $itemsPerSlide == 0 || $count == $this->products->getSize()) : ?>
					</ul>
				</div>
			<?php endif; ?>

		<?php endforeach; ?>
	</div>

	<?php if ($this->products->getSize() > $itemsPerSlide) : ?>
		<div class="slida-nav visible-deskto">
			<button id="prev-slida"><i></i></button>
			<button id="next-slida"><i></i></button>
		</div>
	<?php endif; ?>
	
    
	  
	  
</aside>