<?php if ($this->isLoggedIn()):  ?>
    <?php $user = User_Model_Session::user(); ?>
    <div id="friendbuy-share" class="friendbuy-6P-cMa"></div>
    <script>
        window['friendbuy'] = window['friendbuy'] || [];
        window['friendbuy'].push(['site', '<?php echo $this->site; ?>']);
        window['friendbuy'].push(['track', 'customer',
            {
                id: '<?php echo $user->getId(); ?>',
                email: '<?php echo $user->getPrimaryEmail()->getEmail(); ?>'
            }
        ]);
        (function (f, r, n, d, b, y) {
            b = f.createElement(r), y = f.getElementsByTagName(r)[0];b.async = 1;b.src = n;y.parentNode.insertBefore(b, y);
            <?php if ($this->isFirstHit): //simulate click to show pop-up window (only one time)?>
            b.onload = function(){
                setTimeout(function(){
                    document.getElementById('friendbuy-share').click();
                }, 2000);
            };
            <?php endif; ?>
        })(document, 'script', '//djnf6e5yyirys.cloudfront.net/js/friendbuy.min.js');

    </script>
<?php endif; ?>