<?php $this->headTitle()->setSeparator(' - '); ?>
<?php $this->headTitle('AptDeco'); ?>

<!DOCTYPE html>
<html lang="en">
    <head>
        <?php echo $this->headTitle(); ?>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="aptdeco" />
        <meta name="author" content="aptdeco" />
        <meta name="p:domain_verify" content="8c58b25b2cce3cd2c0cc00c4230a05b1"/>
        <!-- css -->
        <?php echo $this->headLink(); ?>
        <!--/ css -->

        <!-- js -->
        <?php echo $this->headScript(); ?>
        <!--/ js -->

        <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!--[if IE 9 ]><html class="ie9"> <![endif]-->
        <!--[if IE 8 ]><html class="ie8"> <![endif]-->
    </head>
    <body>
        <div id="wrap">
            <?php echo $this->partial('header.phtml', 'admin'); ?>
            <?php echo $this->partial('menu/primary.phtml', 'admin', $this); ?>
            <?php echo $this->partial('menu/secondary.phtml', 'admin', $this); ?>

            <div class="clear"></div>

            <?php echo $this->layout()->content; ?>

            <div class="clear"></div>

            <div id="push"></div> <!-- keep the footer at the bottom -->
        </div>

        <div class="totop"><a href="#top"> <i class="apt-i-bttop"></i> </a></div>

        <?php echo $this->partial('footer.phtml', 'admin'); ?>

        <script type="text/javascript">
            iKantam.BASE_URL = '<?php echo Ikantam_Url::getUrl(''); ?>';
            iKantam.addModule('app_config', <?php echo $this->jsConfig__; ?>);
        </script>
    </body>
</html>