<!DOCTYPE html>
<?php echo $this->partial('layouts/ie.phtml', 'default'); ?>
<html lang="en">
    <head>
        <?php echo $this->headTitle(); ?>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="aptdeco">
        <meta name="author" content="aptdeco">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="<?php echo Ikantam_Url::getPublicUrl('css/core.css'); ?>" rel="stylesheet">
        <link href="<?php echo Ikantam_Url::getPublicUrl('css/bootstrap.css'); ?>" rel="stylesheet" media="screen">
        <link href="<?php echo Ikantam_Url::getPublicUrl('css/bootstrap-responsive.css'); ?>" rel="stylesheet">
        <link href="<?php echo Ikantam_Url::getPublicUrl('css/additional.css'); ?>" rel="stylesheet">

        <style type="text/css"> /* temporarily */
            .sub-menu-search-bar { width: auto;   }
        </style>

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>

        <script src="<?php echo Ikantam_Url::getPublicUrl('js/jquery-1.8.3.js'); ?>"></script>
        <script src="<?php echo Ikantam_Url::getPublicUrl('js/jquery-ui.min.js'); ?>"></script>
        <script src="<?php echo Ikantam_Url::getPublicUrl('js/iKantam/iKantam.module.core.js'); ?>"></script>
        <script src="<?php echo Ikantam_Url::getPublicUrl('js/bootstrap.min.js'); ?>"></script>
        <script src="<?php echo Ikantam_Url::getPublicUrl('js/bootstrap-fileupload.min.js'); ?>"></script>
        <script src="<?php echo Ikantam_Url::getPublicUrl('js/jcarousellite.js'); ?>"></script>
        <script src="<?php echo Ikantam_Url::getPublicUrl('js/zoom.js'); ?>"></script>
        <script src="<?php echo Ikantam_Url::getPublicUrl('js/maskedinput.min.js'); ?>"></script>
        <script src="<?php echo Ikantam_Url::getPublicUrl('js/jQuery.dPassword.js'); ?>"></script>
        <script src="<?php echo Ikantam_Url::getPublicUrl('js/jquery.tinyscrollbar.min.js'); ?>"></script>
        <script src="<?php echo Ikantam_Url::getPublicUrl('js/testimonials.js'); ?>"></script>
        <script src="<?php echo Ikantam_Url::getPublicUrl('js/jquery/jquery.cookie.js'); ?>"></script>
    </head>

    <body class="apt-home">
        <?php if (APPLICATION_ENV === 'live' || APPLICATION_ENV === 'testing') : ?>
            <script src="//cdn.optimizely.com/js/1025940199.js"></script>
        <?php endif; ?>
        <div id="wrap">
            <?php echo $this->partial('header.phtml', 'default'); ?>
            <?php echo $this->partial('menu/primary.phtml', 'default', $this); ?>
            <?php echo $this->layout()->content; ?>
        </div>

        <div class="totop"><a href="#top"> <i class="apt-i-bttop"></i> </a></div>

        <?php echo $this->partial('layouts/footer.phtml', 'default'); ?>

        <?php if (!$this->isLoggedIn()) echo $this->partial('index/welcome-popup.phtml', 'category'); ?>

        <?php if (APPLICATION_ENV == 'live') : ?>
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-37297503-1']);
                _gaq.push(['_trackPageview']);

                (function () {
                    var ga = document.createElement('script');
                    ga.type = 'text/javascript';
                    ga.async = true;
                    //ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(ga, s);
                })();
            </script>

            <script type="text/javascript">
                setTimeout(function () {
                    var a = document.createElement("script");
                    var b = document.getElementsByTagName("script")[0];
                    a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/3745.js?" + Math.floor(new Date().getTime() / 3600000);
                    a.async = true;
                    a.type = "text/javascript";
                    b.parentNode.insertBefore(a, b)
                }, 1);
            </script>

            <script type="text/javascript">
                (function () {
                    window._pa = window._pa || {};
                    // _pa.orderId = "myCustomer@email.com";
                    // OPTIONAL: attach user email or order ID to conversions
                    // _pa.revenue = "19.99";
                    // OPTIONAL: attach dynamic purchase values to conversions
                    var pa = document.createElement('script');
                    pa.type = 'text/javascript';
                    pa.async = true;
                    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/522f723e162181f38400001d.js";
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(pa, s);
                })();
            </script>

            <script type="text/javascript">
                var _hmc = _hmc || [];
                _hmc.push(["app", "6f4ee96b70ed4c2fa53bb9de330f4cfe"]);
                _hmc.push(["title", "How can we help?"]);
                if (jQuery(window).width() < 1000) {
                    _hmc.push(["settings", {"width": 240, "position": "bottomleft", "closable": true, "offset": 50}]);
                    _hmc.push(["tab", {"height": 24}]);
                }
                (function () {
                    var hm = document.createElement("script");
                    hm.type = "text/javascript";
                    hm.async = true;
                    hm.src = "https://hipmob.s3.amazonaws.com/hipmobchat.min.js";
                    var b = document.getElementsByTagName("script")[0];
                    b.parentNode.insertBefore(hm, b);
                })();
            </script>
        <?php endif; ?>

        <script src="<?php echo Ikantam_Url::getPublicUrl('js/custom.js'); ?>"></script>
        <script src="<?php echo Ikantam_Url::getPublicUrl('js/apt-custom.js'); ?>"></script>

        <script>
            iKantam.BASE_URL = '<?php echo Ikantam_Url::getUrl(''); ?>';
            iKantam.ENV = '<?php echo APPLICATION_ENV; ?>';
            iKantam.addModule('app_config', <?php echo $this->jsConfig__; ?>);
            $(function () {
                var getHtml = function () {
                    var html;
                    getHtml = function () {
                        return html;
                    }
                    $.ajax({
                        url: '<?php
        echo Zend_Registry::isRegistered('modal-template-url') ?
                Zend_Registry::get('modal-template-url') :
                Ikantam_Url::getUrl('front-helper/modal-html');
        ?>',
                        async: false,
                        success: function (response) {
                            html = response;
                        }
                    });
                    return html;
                },
                        modal;

                iKantam.addModule('showModal', function (message, header, header2, callback) {
                    if (!modal) {
                        modal = $(getHtml());
                    }

                    modal.find('#modal-header').text(header);
                    modal.find('#modal-header2').text(header2);
                    modal.find('#modal-body').text(message);
                    if ($.isFunction(callback)) {
                        callback(modal);
                    } else if ($.isNumeric(callback)) {
                        setTimeout(function () {
                            modal.modal('hide');
                        }, callback)
                    }
                    modal.modal();
                });
            });
<?php if ($modalMessage = User_Model_Session::instance()->getFlashData('modal_message')): ?>
                iKantam.putToCallQueue('showModal', <?php echo Zend_Json::encode($modalMessage); ?>);
<?php endif; ?>

            $('#play').on('click', function () {
                $('.media-window').addClass('ison');
            });
            $('.media-window button, .video-overlay').on('click', function () {
                $('.media-window').removeClass('ison');
            });
        </script>
    </body>
</html>