<?php $this->headTitle()->setSeparator(' | '); ?>
<?php $this->headTitle('AptDeco', 'APPEND'); ?>

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/png" href="<?php echo Ikantam_Url::getPublicUrl('favicon.png'); ?>">
        <!--[if IE]><link rel="SHORTCUT ICON" href="<?php echo Ikantam_Url::getPublicUrl('favicon.ico'); ?>"/><![endif]-->

        <?php echo $this->headTitle(); ?>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Aptdeco" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="p:domain_verify" content="8c58b25b2cce3cd2c0cc00c4230a05b1"/>

        <?php if (APPLICATION_ENV === 'live' || APPLICATION_ENV === 'testing') : ?>
            <script src="//cdn.optimizely.com/js/1025940199.js"></script>
        <?php endif; ?>

        <?php echo $this->headMeta(); ?>
        <?php echo $this->headLink(); ?>
        <?php echo $this->headScript(); ?>

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!--[if IE 9 ]><html class="ie9"> <![endif]-->
        <!--[if IE 8 ]><html class="ie8"> <![endif]-->

        <?php if (APPLICATION_ENV === 'live') : ?>
            <script type="text/javascript">
                var _kmq = _kmq || [];
                var _kmk = _kmk || 'b0f4aa8f8242cada77eed3701168a6606a4215de';
                function _kms(u) {
                    setTimeout(function() {
                        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script');
                        s.type = 'text/javascript';
                        s.async = true;
                        s.src = u;
                        f.parentNode.insertBefore(s, f);
                    }, 1);
                }
                _kms('//i.kissmetrics.com/i.js');
                _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
            </script>
            <?php if ($this->isLoggedIn()) : ?>
                <?php $session = new User_Model_Session(); ?>
                <?php $user    = $session->getUser(); ?>
                <?php if ($user->getId() && $user->getMainEmail()) : ?>
                    <script type="text/javascript">  _kmq.push(['identify', '<?php echo $user->getMainEmail(); ?>']);</script>
                <?php endif; ?>
            <?php endif; ?>

            <?php $request             = Zend_Controller_Front::getInstance()->getRequest(); ?>
            <?php $isProductAddSuccess = ($request->getModuleName() === 'product' && $request->getControllerName() === 'add' && $request->getActionName() === 'success'); ?>
            <?php $isSheckoutSuccess   = ($request->getModuleName() === 'checkout' && $request->getControllerName() === 'success' && $request->getActionName() === 'index'); ?>

            <?php if ($isProductAddSuccess || $isSheckoutSuccess) : ?>
                <!-- Facebook Conversion Code for Checkout conversion from FB -->
                <script type="text/javascript">
                    var fb_param = {};
                    fb_param.pixel_id = '6008487659099';
                    fb_param.value = '0.01';
                    fb_param.currency = 'USD';
                    (function() {
                        var fpw = document.createElement('script');
                        fpw.async = true;
                        fpw.src = '//connect.facebook.net/en_US/fp.js';
                        var ref = document.getElementsByTagName('script')[0];
                        ref.parentNode.insertBefore(fpw, ref);
                    })();
                </script>
            <?php endif; ?>
            <?php echo $this->thirdPartyWidget('friendbuy.header'); ?>
        <?php endif; ?>
    </head>

    <body>
        <div id="wrap">
            <?php //echo $this->partial('header.phtml', 'default'); ?>

            <?php if (Zend_Controller_Front::getInstance()->getRequest()->getModuleName() != 'checkout') : ?>
                <?php //echo $this->partial('menu/primary.phtml', 'default', $this); ?>
                <?php //echo $this->partial('menu/secondary.phtml', 'default', $this); ?>

                <?php echo $this->partial('header.phtml', 'default'); ?>
                <?php echo $this->partial('menu/primary.phtml', 'default', $this); ?>
            <?php endif; ?>

            <?php echo $this->layout()->content; ?>

            <div id="push"></div> <!-- keep the footer at the bottom -->
        </div>

        <div class="totop"><a href="#top"> <i class="apt-i-bttop"></i> </a></div>

        <?php echo $this->partial('footer.phtml', 'default', $this); ?>

        <?php if (!$this->isLoggedIn()) echo $this->partial('index/welcome-popup.phtml', 'category'); ?>

        <?php if (APPLICATION_ENV == 'live') : ?>
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-37297503-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script');
                    ga.type = 'text/javascript';
                    ga.async = true;
                    //ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(ga, s);
                })();
            </script>

            <script type="text/javascript">
                setTimeout(function() {
                    var a = document.createElement("script");
                    var b = document.getElementsByTagName("script")[0];
                    a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/3745.js?" + Math.floor(new Date().getTime() / 3600000);
                    a.async = true;
                    a.type = "text/javascript";
                    b.parentNode.insertBefore(a, b)
                }, 1);
            </script>

            <script type="text/javascript">
                (function() {
                    window._pa = window._pa || {};
                    // _pa.orderId = "myCustomer@email.com"; 
                    // OPTIONAL: attach user email or order ID to conversions 
                    // _pa.revenue = "19.99";
                    // OPTIONAL: attach dynamic purchase values to conversions
                    var pa = document.createElement('script');
                    pa.type = 'text/javascript';
                    pa.async = true;
                    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/522f723e162181f38400001d.js";
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(pa, s);
                })();
            </script>

            <script type="text/javascript">
                var _hmc = _hmc || [];
                _hmc.push(["app", "6f4ee96b70ed4c2fa53bb9de330f4cfe"]);
                _hmc.push(["title", "How can we help?"]);
                if (jQuery(window).width() < 1000) {
                    _hmc.push(["settings", {"width": 240, "position": "bottomleft", "closable": true, "offset": 50}]);
                    _hmc.push(["tab", {"height": 24}]);
                }
                (function() {
                    var hm = document.createElement("script");
                    hm.type = "text/javascript";
                    hm.async = true;
                    hm.src = "https://hipmob.s3.amazonaws.com/hipmobchat.min.js";
                    var b = document.getElementsByTagName("script")[0];
                    b.parentNode.insertBefore(hm, b);
                })();
            </script>

        <?php endif; ?>
        <script>
            iKantam.BASE_URL = '<?php echo Ikantam_Url::getUrl(''); ?>';
            iKantam.ENV = '<?php echo APPLICATION_ENV; ?>';
            iKantam.addModule('app_config', <?php echo $this->jsConfig__; ?>);
            $(function() {
                var getHtml = function() {
                    var html;
                    getHtml = function() {
                        return html;
                    }
                    $.ajax({
                        url: '<?php
        echo Zend_Registry::isRegistered('modal-template-url') ?
                Zend_Registry::get('modal-template-url') :
                Ikantam_Url::getUrl('front-helper/modal-html');
        ?>',
                        async: false,
                        success: function(response) {
                            html = response;
                        }
                    });
                    return html;
                },
                        modal;

                iKantam.addModule('showModal', function(message, header, header2, callback) {
                    if (!modal) {
                        modal = $(getHtml());
                    }

                    modal.find('#modal-header').text(header);
                    modal.find('#modal-header2').text(header2);
                    modal.find('#modal-body').text(message);
                    if ($.isFunction(callback)) {
                        callback(modal);
                    } else if ($.isNumeric(callback)) {
                        setTimeout(function() {
                            modal.modal('hide');
                        }, callback)
                    }
                    modal.modal();
                });
            });
<?php if ($modalMessage = User_Model_Session::instance()->getFlashData('modal_message')): ?>
                iKantam.putToCallQueue('showModal', <?php echo Zend_Json::encode($modalMessage); ?>);
<?php endif; ?>
            window.onerror = function(msg, url, line) {
                var loc = location.href,
                        ua = navigator.userAgent;

                jQuery.ajax({
                    url: '<?php echo Ikantam_Url::getUrl('front-helper/java-script-error'); ?>',
                    type: 'POST',
                    data: {message: msg, url: url, line: line, location: loc, useragent: ua}
                });
                return false;
            };
        </script>
        <!-- Javascript -->
    </body>
</html>