<div class="container-fluid" id="container">
    
    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>
    
    <div class="mainContent" id="messages">
        <div id="referer-actions">
            <p>Order Date</p>
            <div id="msg-filter">
                <div class="input-append " id="filter-my-items">
                    <form action="<?php echo Ikantam_Url::getUrl('admin/referers/index'); ?>" method="get">
                        <input name="start_date" id="filter-start_date"  class="filter-date " type="text"  value="<?php echo $this->start_date ?>" >
                        <input name="end_date" id="filter-end_date"  class="filter-date " type="text" value="<?php echo $this->end_date ?>" >
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        </div>
        
        <div class="clear"></div>
        
        <?php if ($this->referers->getSize() > 0) : ?>
            <div id="inbox" class="users-table">
                <table>
                    <tr>
                        <th>URL</th>
                        <th class="p-0">Orders Count</th>
                    </tr>
                    <?php foreach ($this->referers as $referer) : ?>
                        <tr>
                            <td>
                                <?php echo $this->escape($referer->getReferer()); ?>
                            </td>
                            <td>
                                <?php echo $this->escape($referer->getOrdersCount()); ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </table>
                
                <div class="clear"></div>

                <?php if ($this->totalPages > 1) : ?>
                    <?php echo $this->partial('referers/index/pagination.phtml', 'admin', $this); ?>
                <?php endif; ?>
            </div>
        <?php else : ?>
            <h3>No referers found</h3>
        <?php endif; ?>
    </div>

    <div class="clear"></div>
</div>
<script type="text/javascript">
    (function($) {
        $(document).ready(function() {
            $('.filter-date').datepicker({
                dateFormat: 'M dd, yy',
                showOtherMonths: true,
                selectOtherMonths: true,
                showOn: "both",
                buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
                buttonImageOnly: true,
                prevText: "",
                nextText: ""
            });
        });
    })(jQuery);
</script>
