<div class="container-fluid" id="container">
    <button type="button" class="filter-by hidden-desktop">Filter by <i></i></button>

    <!-- sidebar -->
    <div id="sideWrapper">
        <aside id="sidebar" class="floatedSide">

            <?php if (isset($this->category)) : ?>
                <h3 class="catName"><?php echo $this->category->getTitle(); ?></h3>
            <?php endif; ?>

            <button type="button" class="filter-title cats">Filter by<i></i></button>

            <button type="button" class="closeSidebar"></button>
            <a href="javascript:void(0);" onclick="clearAll();" class="clearall">Clear all</a> 

            <!-- accordion -->
            <div id="accordion">
                <?php echo $this->partial('filter_sidebar.phtml', 'catalog', $this); ?>
            </div>    <!--/ accordion -->

        </aside>  <!--/ sidebar -->
    </div>    <!--/ sidebarWrapper --> 

    <div class="mainContent" id="category">
        <div class="sorting">
            <button id="order-by-price" onclick="updateOrder(this)" class="defPrices">Price         <i></i></button>
            <button id="order-by-rating" onclick="updateOrder(this)" class="defRating">Seller Rating <i></i></button>
        </div>
        <?php echo $this->partial('catalog_items.phtml', 'catalog', $this); ?>
    </div>

</div>
<!--/ container-fluid -->
<div class="clear"></div>

<script>
alert(1);
    var currentPage = 2;
    var inProcess = false;
	
	
    function loadProducts()
    {
        if (inProcess) {
            return;
        }
        jQuery.ajax({
            type: "get",
            url: "<?php echo $this->url; ?>" + "/page/" + currentPage,
            data: jQuery("#search-filter").serialize(),
            success: function(data) {
                data = JSON.parse(data);
                if (data.success && data.template) {
                    var items = $(data.template);
						
                    $(items).each(function(){
                        if ($(this).prop('tagName')) {
                            $('#category').append($(this));
                            $(this).hide().fadeIn(2000);
                        }
                    });
						
                    currentPage++; 
                }
            },
            cache: false,  
            timeout: 5000,  
            beforeSend: function()
            {
                inProcess = true;
                showOverlay();
            },
            error: function()  
            {  
                //alert("error");
            },  
            complete: function()  
            { 
                inProcess = false;
                setTimeout(hideOverlay, 300);
            } 
        }); 
    }
    
    function showOverlay()
    {
        $(".loader-overlay, .loader-container").show();
    }
    
    function hideOverlay()
    {
        $(".loader-overlay, .loader-container").fadeOut('slow');
    }
	
	

    $(window).scroll(function () {

        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
			
            if (inProcess) {
                return;
            }
			
            loadProducts();

            return false;
        }
    }); 

</script>

<div class="loader-overlay"></div>
<div class="loader-container"><img src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" /></div>