<?php $addresses = $this->addresses ?>
<?php foreach ($addresses as $_address): ?>
    <?php /* @var $_address User_Model_Address */?>

    <div
        class="aptd-alert std address-to-set <?php if ($_address->getIsPrimary()): ?> active <?php endif ?> "
        id="<?php echo  $_address->getId() ? 'address-container-'. $_address->getId() : 'new-address-template' ?>"
        style="<?php if (!$_address->getId()): ?>display: none;<?php endif ?>"
        >
        <div><?php echo $_address->toHtml() ?></div>
        <a href="javascript:void()" class="stick top-right delete-address" onclick="deleteAddress(this, '<?php echo $_address->getId() ?>')" >Delete</a>
        <?php if ($_address->getId()): ?>
            <a href="javascript:void()" class="stick dark top-right" onclick="$(this).siblings('.edit-address-container').fadeToggle()" >Edit</a>
            <a href="javascript:void()" class="apt-btn classic m-t5 set-address primary-address-button" onclick="setDefaultAddress(this)" data-address_id="<?php echo  $_address->getId()  ?>"> <i class="apt-i-bold-arr white"></i> Default address</a>
            <a href="javascript:void()" class="apt-btn classic m-t5 set-address set-primary-address-button" onclick="setDefaultAddress(this)" data-address_id="<?php echo  $_address->getId()  ?>">Use this address</a>
        <?php else: ?>
            <div>&nbsp;</div>
        <?php endif ?>
        <div class="apt-form apt-alert m-t20 edit-address-container" style="display: none">
            <div class="control-group col-2 ">
                <div class="block-fields" >
                    <?php echo $this->addressesForm[(int)$_address->getId()] ?>
                </div>
            </div>
        </div>
    </div>
<?php endforeach ?>