<!-- container-fluid -->
<div class="container-fluid" id="container">

<?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

<!-- mainContent -->
<div class="mainContent" id="messages">

<!-- user-actions -->
<div id="user-actions">
<header class="page-heading">
    <h2>Coupon codes</h2>
</header>

<div class="callout-box highlight m-b30" data-font="roboto">
    <h4><strong>Config new coupon code</strong></h4>
    <div class="main-row">
        <?php foreach ($this->session->getMessages('error') as $message) : ?>
            <p class="invalid" id="errors-password"><i></i><?php echo $message; ?></p>
        <?php endforeach; ?>

        <?php foreach ($this->session->getMessages('success') as $message) : ?>
            <p class="sentMsg"><i></i><?php echo $message; ?></p>
        <?php endforeach; ?>
    </div>

    <form action="<?php echo Ikantam_Url::getUrl('admin/coupons/new'); ?>" method="post" class="apt-form">
        <div class="main-row">
            <div class="aptcol-sm-4">
                <div class="control-group">
                    <p><label>Code</label></p>
                    <div class="block-fields fit">
                        <input type="text" name="code" value="" class="form-field fit" placeholder="leave blank to generate a random code" />
                    </div>
                </div>
            </div>
            <div class="aptcol-sm-4">
                <div class="control-group">
                    <p><label>Type*</label></p>
                    <div class="block-fields fit">
                        <select name="type" id="select-type" class="form-field fit filled">
                            <option value="shipping">Free Shipping</option>
                            <option value="percent">Percent Off</option>
                            <option value="fixed">Fixed Amount</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="aptcol-sm-4">
                <div class="control-group">
                    <p><label>Expiry Date</label></p>
                    <div class="block-fields fit">
                        <div class="delivery-date">
                            <div class="dp-holderto-eq pull-left">
                                <input type="text" name="valid_till" id="datepicker" class="form-field apt-dp fit" readonly placeholder="DD / MM / YYYY"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-row">
            <div class="aptcol-sm-4" id="select-amount" style="display: none">
                <div class="control-group">
                    <p><label>Discount amount</label></p>
                    <div class="block-fields fit">
                        <input type="text" name="amount" value="" class="form-field fit" />
                    </div>
                </div>
            </div>
            <div class="aptcol-sm-4">
                <div class="control-group">
                    <p><label>Uses per Coupon</label></p>
                    <div class="block-fields fit">
                        <input type="text" name="coupon_limit" value="1" class="form-field fit"  />
                    </div>
                </div>
            </div>
            <div class="aptcol-sm-4">
                <div class="control-group">
                    <p><label>Uses per Customer</label></p>
                    <div class="block-fields fit">
                        <input type="text" name="user_limit" value="1" class="form-field fit" />
                    </div>
                </div>
            </div>
        </div>
        <div class="main-row">
            <div class="aptcol-sm-4">
                <div class="control-group">
                    <p><label>Category</label></p>
                    <div class="block-fields fit">
                        <select name="category_id" class="form-field fit">
                            <option value="">All</option>
                            <?php $categories    = new Category_Model_Category_Collection(); ?>
                            <?php foreach ($categories->getParents() as $parentCategory) : ?>
                                <option value="<?php echo $parentCategory->getId() ?>" ><?php echo $this->escape($parentCategory->getTitle()); ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="aptcol-sm-4">
                <div class="control-group">
                    <p><label>Shipping ZIP</label></p>
                    <div class="block-fields fit">
                        <input type="text" name="postcode" class="form-field fit" />
                    </div>
                </div>
            </div>
            <div class="aptcol-sm-2">
                <div class="control-group">
                    <p><label>Min price</label></p>
                    <div class="block-fields fit">
                        <div class="input-prepend"> <span class="add-on">$</span>
                            <input name="min_price" class="form-field m-0" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="aptcol-sm-2">
                <div class="control-group m--l13">
                    <p><label>Max price</label></p>
                    <div class="block-fields fit">
                        <div class="input-prepend"> <span class="add-on">$</span>
                            <input name="max_price" class="form-field m-0" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="apt-btn primary">Generate code</button>

        <script>
            $('#select-type').on("change", function(){
                if ($(this).val() == "percent" || $(this).val() == "fixed") {
                    $("#select-amount").show();
                } else {
                    $("#select-amount").hide();
                }
            });

            //get datepicker
            $( "#datepicker").datepicker({
                dateFormat: 'M dd, yy',
                showOtherMonths: true,
                selectOtherMonths: true,
                showOn: "both",
                buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
                buttonImageOnly: true,
                prevText: "",
                nextText: "",
                minDate: "<?php echo date('M d, Y', strtotime('+1 day')); ?>",
                maxDate: "<?php echo date('M d, Y', strtotime('+2 years')); ?>"
            });
        </script>
    </form>
</div>


<!-- msg-filter -->
<div id="msg-filter">

    <!-- search my items -->
    <div class="input-append" id="filter-my-items">
        <form id="transactions-form" style="margin:0" method="get" action="<?php echo $this->url(array(), null, false); ?>">
            <input type="text" id="filter-items" name="code" value="<?php echo $this->code; ?>" />
            <i class="icon-search"></i>
        </form>
    </div>
    <!--/ search my items -->

    <div class="btn-group" id="purchase-history">
        <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment"><?php echo $this->type; ?></span> <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="<?php echo $this->url(array('type' => null), null, false); ?>">All Types</a></li>
            <li><a href="<?php echo $this->url(array('type' => 'percent'), null, false); ?>">Percent Off</a></li>
            <li><a href="<?php echo $this->url(array('type' => 'shipping'), null, false); ?>">Free Shipping</a></li>
            <li><a href="<?php echo $this->url(array('type' => 'fixed'), null, false); ?>">Fixed Amount</a></li>
        </ul>
    </div>

    <div class="btn-group" id="purchase-history">
        <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment"><?php echo $this->status; ?></span> <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="<?php echo $this->url(array('status' => null), null, false); ?>">All Statuses</a></li>
            <li><a href="<?php echo $this->url(array('status' => 'active'), null, false); ?>">Active</a></li>
            <li><a href="<?php echo $this->url(array('status' => 'used'), null, false); ?>">Used</a></li>
            <li><a href="<?php echo $this->url(array('status' => 'expired'), null, false); ?>">Expired</a></li>
        </ul>
    </div>

    <div class="btn-group" id="purchase-history">
        <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment"><?php echo $this->sortBy; ?></span> <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="<?php echo $this->url(array('sort_by' => null), null, false); ?>">Sort By</a></li>
            <li><a href="<?php echo $this->url(array('sort_by' => 'expiry_date'), null, false); ?>">Expiry Date</a></li>
            <li><a href="<?php echo $this->url(array('sort_by' => 'active'), null, false); ?>">Active First</a></li>
        </ul>
    </div>

</div>
<!--/ msg-filter -->

<div class="clearfix"></div>
<?php /*          <div class="btn-group mark-as">
                <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment">Mark status as ...</span> <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="setStatus('progress');return false;">In Progress</a></li>
                    <li><a href="#" onclick="setStatus('complete');return false;">Completed</a></li>
                </ul>
            </div>*/ ?>
</div>
<!--/ user-actions -->
<div class="clear"></div>

<?php if ($this->coupons->getSize() > 0) : ?>
    <!-- inbox -->
    <div id="inbox" class="super-table">
        <table>
            <!-- table header -->
            <tr>
                <th>Code</th>
                <th>Type</th>
                <th>Expiry Date</th>
                <th>Uses per Coupon</th>
                <th>Uses per Customer</th>
                <th>Status</th>
            </tr>
            <!--/ table header -->
            <?php foreach ($this->coupons as $coupon) : ?>
                <?php /* @var $coupon Cart_Model_Coupon */ ?>
                <tr>
                    <?php /*<td class="boxes"><div class="check-box"><input type="checkbox" name="items[]" value="<?php echo $orderItem->getId(); ?>"></div></td>*/ ?>
                    <td>
                        <strong><?php echo $coupon->getCode(); ?></strong>
                        <br />
                        <small class="text-mute">
                            <?php $options = array(); ?>
                            <?php
                            if ($coupon->getCategoryId()) {
                                $category = new Category_Model_Category($coupon->getCategoryId());
                                $options[] = $category->getTitle();
                            }
                            if ($coupon->getMinPrice()) {
                                $options[] = 'Max Price: ' . $this->currency($coupon->getMinPrice());
                            }

                            if ($coupon->getMaxPrice()) {
                                $options[] = 'Max Price: ' . $this->currency($coupon->getMaxPrice());
                            }

                            if ($coupon->getPostcode()) {
                                $options[] = 'Zipcode: ' . $coupon->getPostcode();
                            }
                            ?>

                            <?php echo implode(', ', $options) ?>
                        </small>
                    </td>
                    <td><?php echo ($coupon->getType() == 'percent') ? 'Percent Off (' . $coupon->getAmount() . '%)' : (($coupon->getType() == 'fixed')? 'Fixed amount (' . $this->currency($coupon->getAmount()) . ')' : 'Free Shipping') ?></td>
                    <td><?php echo date('F j, Y', $coupon->getValidTill()); ?></td>
                    <td><?php echo $coupon->getCouponLimit(); ?></td>
                    <td><?php echo $coupon->getUserLimit(); ?></td>
                    <td>
                        <?php $_status = ($coupon->getValidTill() < time()) ? 'Expired' : (($coupon->getIsActive() && $coupon->getCouponLimit() > 0) ? 'Active' : 'Used'); ?>
                        <span <?php if ($_status == 'Active'): ?> class="text-primary dark" <?php endif ?>><?php echo $_status ?></span>
                    </td>
                </tr>

            <?php endforeach; ?>
        </table>
        <div class="clear"></div>
        <?php $status = 'all'; ?>
        <?php if ($this->status == 'Completed') $status = 'complete'; ?>
        <?php if ($this->status == 'In Progress') $status = 'progress'; ?>
        <?php if ($this->totalPages > 1) : ?>
            <div class="pagination pagination-right">
                <ul>
                    <?php if ($this->currentPage > 1) : ?>
                        <li class="old-msgs">
                            <a href="<?php echo $this->url(array('page' => $this->currentPage - 1), null, false); ?>">
                                <i></i>
                            </a>
                        </li>
                    <?php endif; ?>

                    <?php $start = ($this->currentPage - 2 > 0) ? $this->currentPage - 2 : 1; ?>
                    <?php for ($i = $start; $i < $this->currentPage; $i++) : ?>
                        <li>
                            <a href="<?php echo $this->url(array('page' => $i), null, false); ?>">
                                <?php echo $i; ?>
                            </a>
                        </li>
                    <?php endfor; ?>

                    <li><a href="javascript:void(0);"><?php echo $this->currentPage; ?></a></li>

                    <?php for ($i = $this->currentPage + 1; $i <= $this->totalPages; $i++) : ?>
                        <li>
                            <a href="<?php echo $this->url(array('page' => $i), null, false); ?>">
                                <?php echo $i; ?>
                            </a>
                        </li>
                    <?php endfor; ?>

                    <?php if ($this->currentPage < $this->totalPages) : ?>
                        <li class="new-msgs">
                            <a href="<?php echo $this->url(array('page' => $this->currentPage + 1), null, false); ?>">
                                <i></i>
                            </a>
                        </li>
                    <?php endif; ?>
                </ul>
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>
</div>

<div class="clear"></div>

