<div class="main-container">
    <div class="main-row">
        <?php echo $this->partial('static_sidebar.phtml', array('current_controller' => 'about')); ?>

        <div class="aptcol-sm-9 main apt-blog" break-col="md">
            <h2 class="visible-desktop">
                <?php echo $this->escape($this->title); ?>
            </h2>

            <div class="content-block">
                <div class="mceContentBody">
                    <p>
                        <?php echo str_replace('&nbsp;', '<br>', $this->content); ?>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>