<div class="container-fluid" id="container">
    <div class="mainContent" >
        <?php foreach ($this->session->getMessages() as $_type => $_messages) : ?>
            <?php foreach ($_messages as $_message): ?>
                <div class="aptd-alert <?php echo $_type?>">
                    <i class="apt-i-warning"></i>
                    <p><?php echo $_message ?></p>
                    <button type="button" class="dismiss" data-dismiss="alert">x</button>
                </div>
            <?php endforeach ?>
        <?php endforeach; ?>

    </div>
</div>