<?php /* @var $alert Product_Model_Alert */ ?>
<?php $alert                  = $this->alert ?>
<?php $selectedSubcategoryIds = $alert->getSubcategoryIdsAsArray() ?>
<?php $selectedConditions     = $alert->getConditionsAsArray() ?>
<?php $selectedColorIds       = $alert->getColorIdsAsArray() ?>
<?php $savedEmails            = $alert->getEmails() ? $alert->getEmailsAsArray() : array('' => $this->session->getUser()->getMainEmail()); ?>
<?php $conditions             = Product_Model_Alert::getShortConditionsLabel(); ?>
<?php
if ($alert->getId()) {
    $cancelUrl = $this->getUrl('product/alert');
} else {
    if ($alert->getCategoryId()) {
        $cancelUrl = $alert->getCategory()->getCategoryUrl();
    } else {
        $_collection = new Application_Model_Set($alert->getCollectionId());
        $cancelUrl   = $this->getUrl('catalog/collection/' . $_collection->getPageUrl());
    }
}
?>
<div class="container-fluid" id="container"> 
    <div class="apt-container push-header sidebar-main">
        <?php if (!$this->isAjax): ?>
            <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>
        <?php endif ?>
        <div class="main m-0"  id="messages">
            <div class="row">
                <div class="span6 center-block new-alert-block">
                    <div class="callout-box highlight new-alert">
                        <div class="text-center"><h1><?php echo $alert->getId() ? 'Edit' : 'New' ?> Alert</h1></div>
                        <?php foreach ($this->session->getMessages() as $_type => $_messages) : ?>
                            <?php foreach ($_messages as $_message): ?>
                                <div class="aptd-alert <?php echo $_type ?>">
                                    <i class="apt-i-warning"></i>
                                    <p><?php echo $_message ?></p>
                                    <button type="button" class="dismiss" data-dismiss="alert">x</button>
                                </div>
                            <?php endforeach ?>
                        <?php endforeach; ?>
                        <div class="clear"></div>
                        <form class="apt-form m-0" id="edit-alert" action="<?php echo $this->getUrl('product/alert/save') ?>" method="post">
                            <?php if ($alert->getId()): ?>
                                <input type="hidden" name="id" value="<?php echo $alert->getId() ?> "/>
                            <?php endif ?>
                            <?php if ($this->isAjax): ?>
                                <input type="hidden" name="is_ajax" value="1" />
                            <?php endif ?>
                            <p class="is-label">
                                <strong>Select Category</strong>
                            </p>

                            <div class="row-fluid radio-holder">
                                <div class="span6">
                                    <ul class="h-list">
                                        <?php $i = 0 ?>
                                        <?php foreach ($this->categories as $_id => $_title): ?>
                                            <li>
                                                <div class="radio-btn <?php if ($_id == $alert->getCategoryId()): ?> checkedRadio <?php endif ?>" onclick="loadSubcategories(<?php echo $_id ?>)">
                                                    <input type="radio" name="category_id" value="<?php echo $_id ?>"
                                                           <?php if ($_id == $alert->getCategoryId()): ?> checked="checked" <?php endif ?>>
                                                </div>
                                                <span><?php echo $_title ?></span>
                                            </li>
                                            <?php if ($i == 4): ?>
                                            </ul></div><div class="span6"><ul class="h-list">
                                            <?php endif ?>
                                            <?php $i++ ?>
                                        <?php endforeach ?>
                                        <?php foreach ($this->collectionMenu('main_secondary') as $_collection): ?>
                                            <li>
                                                <div class="radio-btn <?php if ($_collection->getId() == $alert->getCollectionId()): ?> checkedRadio <?php endif ?>" onclick="loadAllSubcategories()">
                                                    <input type="radio" name="collection_id" value="<?php echo $_collection->getId() ?>"
                                                           <?php if ($_collection->getId() == $alert->getCollectionId()): ?> checked="checked" <?php endif ?>>
                                                </div>
                                                <span><?php echo $_collection->getName() ?></span>
                                            </li>
                                        <?php endforeach ?>
                                    </ul>
                                </div>
                            </div>
                            <p class="is-label">
                                <strong>Styles</strong>
                            </p>
                            <div class="row-fluid">
                                <div class="span12">
                                    <ul class="v-inline-list">
                                        <li>
                                            <div class="radio-btn   <?php if (!$alert->getSubcategoryIds()): ?> checkedRadio <?php endif ?>" onclick="hideSpecific(this)">
                                                <input type="radio" name="any_subcategory" value="1"
                                                       <?php if (!$alert->getSubcategoryIds()): ?> checked="checked" <?php endif ?>/>
                                            </div>
                                            <span>Any</span>
                                        </li>
                                        <li>
                                            <div class="radio-btn  <?php if ($alert->getSubcategoryIds()): ?> checkedRadio <?php endif ?>" onclick="showSpecific(this)">
                                                <input type="radio" name="any_subcategory" value=""
                                                       <?php if ($alert->getSubcategoryIds()): ?> checked="checked" <?php endif ?>/>
                                            </div>
                                            <span>Specific</span>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                    <ul class="h-list specific <?php if (!$alert->getSubcategoryIds()): ?> disabled <?php endif ?>" id="subcategories"  >
                                        <?php
                                        if ($alert->getCategoryId()) {
                                            $subcategories = $alert->getCategory()->getSubCategories();
                                        } else {
                                            $cat           = new Category_Model_Category_Collection();
                                            $subcategories = $cat->getAllSubcategories();
                                        }
                                        ?>
                                        <?php foreach ($subcategories as $_subcategory): ?>
                                            <li>
                                                <div class="check-box <?php if (in_array($_subcategory->getId(), $selectedSubcategoryIds)): ?> checkedBox <?php endif ?>">
                                                    <input type="checkbox"
                                                           name="subcategory_ids[]"
                                                           value="<?php echo $_subcategory->getId() ?>"

                                                           <?php if (in_array($_subcategory->getId(), $selectedSubcategoryIds)): ?> checked="checked" <?php endif ?>
                                                           />
                                                </div>
                                                <span><?php echo $_subcategory->getTitle() ?></span>
                                            </li>
                                        <?php endforeach ?>
                                    </ul>
                                </div>
                            </div>
                            <p class="is-label">
                                <strong>Condition</strong>
                            </p>
                            <div class="row-fluid">
                                <div class="span12">
                                    <ul class="v-inline-list">
                                        <li>
                                            <div class="radio-btn <?php if (!$alert->getConditions()): ?> checkedRadio <?php endif ?>" onclick="hideSpecific(this)">
                                                <input type="radio" name="any_condition" value="1"
                                                       <?php if (!$alert->getConditions()): ?> checked="checked" <?php endif ?> />
                                            </div>
                                            <span>Any</span>
                                        </li>
                                        <li>
                                            <div class="radio-btn <?php if ($alert->getConditions()): ?> checkedRadio <?php endif ?>" onclick="showSpecific(this)">
                                                <input type="radio" name="any_condition" value=""
                                                       <?php if ($alert->getConditions()): ?> checked="checked" <?php endif ?> />
                                            </div>
                                            <span>Specific</span>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                    <ul class="h-list specific <?php if (!$alert->getConditions()): ?> disabled <?php endif ?>" >
                                        <?php foreach ($conditions as $_code => $_title): ?>
                                            <li>
                                                <div class="check-box <?php if (in_array($_code, $selectedConditions)): ?> checkedBox <?php endif ?>">
                                                    <input type="checkbox"
                                                           name="conditions[]"
                                                           value="<?php echo $_code ?>"

                                                           <?php if (in_array($_code, $selectedConditions)): ?> checked="checked" <?php endif ?>
                                                           <?php if (!$alert->getConditions()): ?> disabled="disabled" <?php endif ?>
                                                           />
                                                </div>
                                                <span><?php echo $_title ?></span>
                                            </li>
                                        <?php endforeach ?>
                                    </ul>
                                </div>
                            </div>

                            <p class="is-label">
                                <strong>Color</strong>
                            </p>
                            <div class="row-fluid">
                                <div class="span12">
                                    <ul class="v-inline-list ">
                                        <li>
                                            <div class="radio-btn  <?php if (!$alert->getColorIds()): ?> checkedRadio <?php endif ?>" onclick="hideSpecific(this)">
                                                <input type="radio" name="any_color" value="1" <?php if ($alert->getColorIds()): ?> checked="checked" <?php endif ?>>
                                            </div>
                                            <span>Any</span>
                                        </li>
                                        <li>
                                            <div class="radio-btn  <?php if ($alert->getColorIds()): ?> checkedRadio <?php endif ?>" onclick="showSpecific(this)">
                                                <input type="radio" name="any_color" value=""  <?php if ($alert->getColorIds()): ?> checked="checked" <?php endif ?> />
                                            </div>
                                            <span>Specific</span>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>

                                    <div class="control-group  <?php if (!$alert->getColorIds()): ?> disabled <?php endif ?>" >
                                        <label class="block-lable colors" for="Color">Color</label>
                                        <div class="clear"></div>
                                        <div class="block-fields">
                                            <?php foreach ($this->colorsIds as $_color): ?>
                                                <?php /* @var $color Application_Model_Color */ ?>
                                                <div class="color" data-tooltip="<?php echo $_color->getTitle() ?>">
                                                    <div class="picolors clear-colors <?php if (in_array($_color->getId(), $selectedColorIds)): ?> pickedColors <?php endif ?>"  id="<?php echo $_color->getElementId() ?>">
                                                        <input type="checkbox"
                                                               name="color_ids[]"
                                                               value="<?php echo $_color->getId() ?>"
                                                               <?php if (in_array($_color->getId(), $selectedColorIds)): ?> checked="checked" <?php endif ?>
                                                               <?php if (!$alert->getColorIds()): ?> disabled="disabled" <?php endif ?>
                                                               />

                                                    </div>
                                                </div>
                                            <?php endforeach ?>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="is-label"><strong>Price</strong></p>
                            <div class="row-fluid">
                                <div class="span5">
                                    <div class="input-prepend pull-left">
                                        <span class="add-on">$</span>
                                        <input class="form-field m-0 fit" type="text" name="min_price"  pattern="\d*" onkeyup="validateNumeric(this)" value="<?php echo $alert->getMinPrice() ?>" >
                                    </div>
                                </div>
                                <div class="span1 text-center">
                                    <small class="text-mute m-t7 show">To</small>
                                </div>
                                <div class="span5 m-0">
                                    <div class="input-prepend pull-left">
                                        <span class="add-on">$</span>
                                        <input class="form-field m-0 fit" type="text" name="max_price"  pattern="\d*" onkeyup="validateNumeric(this)" value="<?php echo $alert->getMaxPrice() ?>" >
                                    </div>
                                </div>
                            </div>

                            <p class="is-label"><strong>Brands</strong></p>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="sendTo clearfix" id="commaSep">
                                        <?php foreach ($alert->getSelectedBrandsCollection() as $_brand): ?>
                                            <span class="removeName"><?php echo $_brand->getTitle() ?><i class="apt-icon-x m-0" data-brand_id="<?php echo $_brand->getId() ?>" onclick="deleteBrand(this)"></i></span>
                                        <?php endforeach ?>
                                        <input id="brands" name="brands"  type="text" />
                                        <button type="button" class="add-new-tag" id="add-new-tag" onclick="addBrand()">
                                            <i class="apt-icon-plus m-0"></i>
                                        </button>
                                    </div>
                                    <div class="hide" id="brands-fieldset">
                                        <?php foreach ($alert->getSelectedBrandsCollection() as $_brand): ?>
                                            <input type="hidden" name="brand_ids[]"  value="<?php echo $_brand->getId() ?>" />
                                        <?php endforeach ?>
                                    </div>
                                </div>
                            </div>

                            <p class="is-label"><strong>Notification Emails</strong></p>
                            <div class="row-fluid">
                                <div class="clone-holder" id="emails-holder">
                                    <?php foreach ($savedEmails as $_email): ?>
                                        <div class="repeatable">
                                            <input class="form-field" type="email" placeholder="Enter notification email here" name="emails[]" value="<?php echo $_email ?>" />
                                            <button type="button" class="apt-btn transparent remove-clonned" onclick="deleteEmail(this)">
                                                <i class="apt-icon-del top-4"></i>
                                            </button>
                                        </div>
                                    <?php endforeach ?>
                                    <button type="button" id="add-email-button" class="apt-btn transparent add-more" onclick="addEmail()">
                                        <i class="apt-i-plus top-4"></i>
                                    </button>
                                </div>


                            </div>

                            <div class="apt-form-action brdr-0">
                                <button class="apt-btn primary lrg">
                                    <strong>Save</strong>
                                </button>
                                <a href="<?php echo $cancelUrl ?>">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>


<div id="add-to-cart" class="modal apt-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <button type="button" class="apt-btn transparent x-btn" data-dismiss="modal" aria-hidden="true"> <i class="apt-i-x"></i> </button>
    <div class="apt-modal-header text-center">
        <h2 class="apt-modal-title">Added to Cart</h2>
    </div>
    <h3 class="sub-title apt-sub-title"> Your <strong>Product Long Name</strong> was successfully added to cart. </h3>
    <div class="apt-modal-action text-center"> <a class="apt-btn primary lrg" href="#">Proceed to Checkout</a> <a class="apt-btn def lrg" href="#">Continue Shopping</a> </div>
</div>

<div id="alert-added" class="modal apt-modal has-feedback hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="text-center">
        <div class="apt-modal-header">
            <h2 class="apt-modal-title">Alert has been successfully added</h2>
        </div>
        <p id="alert-criteria">
        </p>
        <div class="apt-modal-action">
            <a class="apt-btn primary lrg" id="continue-shopping" href="#">Continue Shopping</a>
            <a class="apt-btn def lrg" href="<?php echo $this->getUrl('product/alert/new') ?>">
                Add new alert
            </a>
        </div>
    </div>
</div>

<div class="loader-overlay"></div>
<div class="loader-container"><img src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" /></div>
<script type="text/javascript">
    function showSpecific(el) {
        $specific = $(el).closest('ul').siblings('ul.specific, div.control-group');
        $specific.slideDown();
        $specific.find('input').removeAttr('disabled');
        $specific.removeClass('disabled');
    }
    function hideSpecific(el) {
        $specific = $(el).closest('ul').siblings('ul.specific, div.control-group');
        $specific.find('input').attr('disabled', 'disabled');
        $specific.addClass('disabled');
    }

    var categories = JSON.parse('<?php echo $this->catsConfig; ?>');

    function loadSubcategories(parentId) {
        var html = '';
        $.each(categories[parentId].subcategories, function(id, title) {
            html += '<li><div class="check-box">' +
                    '<input type="checkbox" name="subcategory_ids[]" value="' + id + '" />' +
                    '</div><span>' + title + '</span></li>';

        });
        $subcategories = $('#subcategories');
        $subcategories.html(html);
        if ($subcategories.hasClass('disabled')) {
            $subcategories.find(':checkbox').attr('disabled', 'disabled');
        }
    }

    function loadAllSubcategories() {
        var html = '';
        $.each(categories, function(parentId) {
            $.each(categories[parentId].subcategories, function(id, title) {
                html += '<li><div class="check-box">' +
                        '<input type="checkbox" name="subcategory_ids[]" value="' + id + '" />' +
                        '</div><span>' + title + '</span></li>';

            });
        });
        $subcategories = $('#subcategories');
        $subcategories.html(html);
        if ($subcategories.hasClass('disabled')) {
            $subcategories.find(':checkbox').attr('disabled', 'disabled');
        }
    }

    function validateNumeric(el) {
        if (el.value != el.value.replace(/[^0-9\.]/g, '')) {
            el.value = el.value.replace(/[^0-9\.]/g, '');
        }
    }

    function addEmail() {
        $('#add-email-button').before('<div class="repeatable">' +
                '<input class="form-field" type="email" placeholder="Enter notification email here" name="emails[]"  />' +
                '<button type="button" class="apt-btn transparent" onclick="deleteEmail(this)">' +
                '<i class="apt-icon-del top-4"></i>' +
                '</button>' +
                '</div>');

        checkButtons();
    }

    function deleteEmail(el) {
        $(el).closest('.repeatable').remove();
        checkButtons();
    }

    function checkButtons() {
        var $deleteButtons = $('#emails-holder .repeatable button');
        var $addButton = $('#add-email-button');

        if ($deleteButtons.length == 1) {
            $deleteButtons.addClass('remove-clonned');
        } else {
            $deleteButtons.removeClass('remove-clonned');
        }

        if ($deleteButtons.length >= 10) {
            $addButton.hide();
        } else {
            $addButton.show();
        }
    }

    function unselectOther(el) {
        $el = $(el);
        $ul = $el.closest('ul');
        $radio = $el.find('input');
        $ul.find('input[type="radio"]').not(el).prop('checked', false).closest('div').removeClass('checkedRadio');

    }

    function addBrand() {
        $brands.show();
    }
    function deleteBrand(button) {
        $('input[name="brand_ids[]"][value="' + $(button).data('brand_id') + '"').remove();
        $(button).parent().remove();
    }
    function showOverlay() {
        $(".loader-overlay, .loader-container").show();
    }

    function hideOverlay() {
        $(".loader-overlay, .loader-container").fadeOut('slow');
    }

    $(document).ready(function() {
        /* checkbox */
        $('.container-fluid').on('click', '.check-box', function() {
            if (!$(this).find(':checkbox').attr('disabled')) {
                $(this).find(':checkbox').prop('checked', !$(this).find(':checkbox').prop('checked')).trigger('change');
            }
        });

        $('.container-fluid').on('click', '.check-box,#selectAll', function() {
            if (!$(this).find(':checkbox').attr('disabled')) {
                $(this).toggleClass('checkedBox');
            }
        });

        $('ul.specific.disabled').find(':checkbox').attr('disabled', 'disabled');


        checkButtons();

        // add for categories
        $(".radio-holder .radio-btn").on("click", function() {
            var _this = $(this),
                    block = _this.closest('.radio-holder');
            block.find('input:radio').attr('checked', false);//.change();
            block.find(".radio-btn").removeClass('checkedRadio');
            _this.addClass('checkedRadio');
            _this.find('input:radio').attr('checked', true).change();
        });

        /* brands */
        $brands = $('#brands');
        $brands.autocomplete({
            triggerSelectOnValidInput: false,
            paramName: 'term',
            serviceUrl: '<?php echo $this->getUrl('manufacturer/async/find', array('for_product_alert' => 1)) ?>',
            minChars: 0,
            maxHeight: 200,
            onSelect: function(data) {
                $brands.before('<span class="removeName">' + data.value + '<i class="apt-icon-x m-0" data-brand_id="' + data.id + '" onclick="deleteBrand(this)"></i></span>');
                $brands.val('').hide();
                $('#brands-fieldset').append('<input type="hidden" name="brand_ids[]"  value="' + data.id + '" />');
            }
        });

<?php if ($this->isAjax): ?>
            $('#edit-alert').on('submit', function() {
                $form = $(this);
                showOverlay();
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    dataType: 'json',
                    data: $form.serialize(),
                    success: function(data) {
                        if (data.success) {
                            hideOverlay();
                            $('#alert-added').modal('show');
                            $('#alert-added #continue-shopping').attr('href', data.continue_shopping_url)
                        } else {
                            document.location.href = data.redirect;
                        }
                    }

                });
                return false;
            });

<?php endif ?>
    });
</script>
