<div class="container-fluid" id="container"> 
    <div class="apt-container push-header sidebar-main">
        <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>
        <div class="main m-0"  id="messages">
            <!-- user-actions -->
            <div id="user-actions">
                <button type="button" class="addnitem btn pull-right" onclick="showProductAlertPopup('<?php echo $this->getUrl('product/alert/popup', array('reload' => 1)) ?>')"><i></i> New alert</button>
                <h2>Alerts</h2>
                <?php foreach ($this->session->getMessages() as $_type => $_messages) : ?>
                    <?php foreach ($_messages as $_message): ?>
                        <div class="aptd-alert <?php echo $_type ?>">
                            <i class="apt-i-warning"></i>
                            <p><?php echo $_message ?></p>
                            <button type="button" class="dismiss" data-dismiss="alert">x</button>
                        </div>
                    <?php endforeach ?>
                <?php endforeach; ?>
            </div>
            <!--/ user-actions -->
            <div class="clear"></div>
            <?php foreach ($this->alerts as $_alert): ?>
                <?php /* @var $_alert Product_Model_Alert */ ?>
                <div class="callout-box product-alert single-alert" id="alert-<?php echo $_alert->getId() ?>">
                    <p class="alerts-info">
                        <?php echo $_alert->renderCriteria() ?>
                    </p>
                    <div class="alert-action">
                        <button type="button" onclick="showProductAlertPopup('<?php echo $this->getUrl('product/alert/popup', array('id' => $_alert->getId())) ?>') "  class="apt-btn">Edit</button>
                        <a href="<?php echo $_alert->getDeleteByCodeUrl() ?>" class="apt-btn" >Delete</a>
                    </div>
                </div>
            <?php endforeach ?>
        </div>
    </div>
</div>

<div class="clear"></div>