<?php /* @var $alert Product_Model_Alert */ ?>
<?php $alert                  = $this->alert ?>
<?php $selectedSubcategoryIds = $alert->getSubcategoryIdsAsArray() ?>
<?php $selectedConditions     = $alert->getConditionsAsArray() ?>
<?php $selectedColorIds       = $alert->getColorIdsAsArray() ?>
<?php $savedEmails            = $alert->getEmails() ? $alert->getEmailsAsArray() : array('' => $this->session->getUser()->getMainEmail()); ?>
<?php $conditions             = Product_Model_Alert::getShortConditionsLabel(); ?>

<div id="new-alert-popup" class="modal md-modal apt-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <button type="button" class="apt-btn transparent x-btn" data-dismiss="modal" aria-hidden="true"> <i class="apt-i-x"></i> </button>

    <div class="text-center">
        <h2><?php echo $alert->getId() ? 'Edit' : 'New' ?> Alert</h2>
    </div>

    <div class="apt-form apt-v-last">
        <form class="m-0 apt-form apt-v-last" id="edit-alert" action="<?php echo $this->getUrl('product/alert/save') ?>" method="post">
            <?php if ($alert->getId()): ?>
                <input type="hidden" name="id" value="<?php echo $alert->getId() ?> "/>
            <?php endif ?>
            <?php if ($this->reload): ?>
                <input type="hidden" name="reload" value="1" />
            <?php endif ?>
            <div class="control-group">
                <label class="block-lable">
                    <strong>Category*</strong>
                </label>
                <div class="block-fields">
                    <input type="hidden" name="category_id"  class="cat-col-toggle" value="<?php echo $alert->getCategoryId() ?>"/>
                    <input type="hidden" name="collection_id"  class="cat-col-toggle" value="<?php echo $alert->getCollectionId() ?>"/>
                    <select name="cat_col" onchange="setValue(this); loadSubcategories(this); " class="form-field fit filled">
<!--                        --><?php //if (!$alert->getCategoryId() && !$alert->getCollectionId()): ?>
                            <option value="empty-0" ></option>
<!--                        --><?php //endif ?>
                        <?php foreach ($this->categories as $_id => $_title): ?>
                            <option value="category-<?php echo $_id ?>"
                                <?php if ($_id == $alert->getCategoryId()): ?> selected="selected" <?php endif ?>
                                ><?php echo $_title ?></option>
                        <?php endforeach ?>

                        <?php foreach ($this->collectionMenu('main_secondary') as $_collection): ?>

                            <option value="collection-<?php echo $_collection->getId()?>"
                                <?php if ($_collection->getId() == $alert->getCollectionId()): ?> selected="selected" <?php endif ?>
                                ><?php echo $_collection->getName() ?></option>

                        <?php endforeach ?>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="block-lable">
                    <strong>Styles</strong>
                </label>
                <div class="block-fields">
                    <ul class="v-inline-list radio-holder">
                        <li>
                            <div class="radio-btn   <?php if (!$alert->getSubcategoryIds()): ?> checkedRadio <?php endif ?>" onclick="hideSpecific(this)">
                                <input type="radio" name="any_subcategory" value="1"
                                    <?php if (!$alert->getSubcategoryIds()): ?> checked="checked" <?php endif ?>/>
                            </div>
                            <span>Any&nbsp;&nbsp;</span>
                        </li>
                        <li>
                            <div class="radio-btn  <?php if ($alert->getSubcategoryIds()): ?> checkedRadio <?php endif ?>" onclick="showSpecific(this)">
                                <input type="radio" name="any_subcategory" value=""
                                    <?php if ($alert->getSubcategoryIds()): ?> checked="checked" <?php endif ?>/>
                            </div>
                            <span>Specific&nbsp;&nbsp;</span>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    <ul class="h-list specific <?php if (!$alert->getSubcategoryIds()): ?> disabled <?php endif ?>" id="subcategories"  >
                        <?php
                        if ($alert->getCategoryId()) {
                            $subcategories = $alert->getCategory()->getSubCategories();
                        } else {
                            $cat           = new Category_Model_Category_Collection();
                            $subcategories = $cat->getAllSubcategories();
                        }
                        ?>
                        <?php foreach ($subcategories as $_subcategory): ?>
                            <li>
                                <div class="check-box <?php if (in_array($_subcategory->getId(), $selectedSubcategoryIds)): ?> checkedBox <?php endif ?>">
                                    <input type="checkbox"
                                           name="subcategory_ids[]"
                                           value="<?php echo $_subcategory->getId() ?>"

                                        <?php if (in_array($_subcategory->getId(), $selectedSubcategoryIds)): ?> checked="checked" <?php endif ?>
                                        />
                                </div>
                                <span><?php echo $_subcategory->getTitle() ?></span>
                            </li>
                        <?php endforeach ?>
                    </ul>
                </div>
            </div>
            <div class="control-group">
                <label class="block-lable">
                    <strong>Condition</strong>
                </label>
                <div class="block-fields">
                    <ul class="v-inline-list radio-holder">
                        <li>
                            <div class="radio-btn <?php if (!$alert->getConditions()): ?> checkedRadio <?php endif ?>" onclick="hideSpecific(this)">
                                <input type="radio" name="any_condition" value="1"
                                    <?php if (!$alert->getConditions()): ?> checked="checked" <?php endif ?> />
                            </div>
                            <span>Any&nbsp;&nbsp;</span>
                        </li>
                        <li>
                            <div class="radio-btn <?php if ($alert->getConditions()): ?> checkedRadio <?php endif ?>" onclick="showSpecific(this)">
                                <input type="radio" name="any_condition" value=""
                                    <?php if ($alert->getConditions()): ?> checked="checked" <?php endif ?> />
                            </div>
                            <span>Specific&nbsp;&nbsp;</span>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    <ul class="h-list specific <?php if (!$alert->getConditions()): ?> disabled <?php endif ?>" >
                        <?php foreach ($conditions as $_code => $_title): ?>
                            <li>
                                <div class="check-box <?php if (in_array($_code, $selectedConditions)): ?> checkedBox <?php endif ?>">
                                    <input type="checkbox"
                                           name="conditions[]"
                                           value="<?php echo $_code ?>"

                                        <?php if (in_array($_code, $selectedConditions)): ?> checked="checked" <?php endif ?>
                                        <?php if (!$alert->getConditions()): ?> disabled="disabled" <?php endif ?>
                                        />
                                </div>
                                <span><?php echo $_title ?></span>
                            </li>
                        <?php endforeach ?>
                    </ul>
                </div>
            </div>

            <div class="control-group">
                <label class="block-lable">
                    <strong>Color</strong>
                </label>
                <div class="block-fields">
                    <ul class="v-inline-list radio-holder">
                        <li>
                            <div class="radio-btn  <?php if (!$alert->getColorIds()): ?> checkedRadio <?php endif ?>" onclick="hideSpecific(this)">
                                <input type="radio" name="any_color" value="1" <?php if ($alert->getColorIds()): ?> checked="checked" <?php endif ?>>
                            </div>
                            <span>Any&nbsp;&nbsp;</span>
                        </li>
                        <li>
                            <div class="radio-btn  <?php if ($alert->getColorIds()): ?> checkedRadio <?php endif ?>" onclick="showSpecific(this)">
                                <input type="radio" name="any_color" value=""  <?php if ($alert->getColorIds()): ?> checked="checked" <?php endif ?> />
                            </div>
                            <span>Specific&nbsp;&nbsp;</span>
                        </li>
                    </ul>
                    <div class="clear"></div>

                    <div class="control-group  <?php if (!$alert->getColorIds()): ?> disabled <?php endif ?>" >
                        <label class="block-lable colors" for="Color">Color</label>
                        <div class="clear"></div>
                        <div class="block-fields">
                            <?php foreach ($this->colorsIds as $_color): ?>
                                <?php /* @var $color Application_Model_Color */ ?>
                                <div class="color" data-tooltip="<?php echo $_color->getTitle() ?>">
                                    <div class="picolors clear-colors <?php if (in_array($_color->getId(), $selectedColorIds)): ?> pickedColors <?php endif ?>"  id="<?php echo $_color->getElementId() ?>">
                                        <input type="checkbox"
                                               name="color_ids[]"
                                               value="<?php echo $_color->getId() ?>"
                                            <?php if (in_array($_color->getId(), $selectedColorIds)): ?> checked="checked" <?php endif ?>
                                            <?php if (!$alert->getColorIds()): ?> disabled="disabled" <?php endif ?>
                                            />

                                    </div>
                                </div>
                            <?php endforeach ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="block-lable">
                    <strong>Price</strong>
                </label>
                <div class="block-fields">
                    <div class="pricing">
                        <div class="input-prepend pull-left m-r10">
                            <cite class="add-on">$</cite>
                            <input class="form-field m-0" type="text" name="min_price"  pattern="\d*" onkeyup="validateNumeric(this)" value="<?php echo $alert->getMinPrice() ?>" >
                        </div>
                    </div>

                    <div class="pricing pricing-revenue">
                        <p class="p-t11">
                            <span class="text-mute">To</span>
                        </p>
                    </div>

                    <div class="pricing">
                        <div class="input-prepend pull-left">
                            <cite class="add-on">$</cite>
                            <input class="form-field m-0" type="text" name="max_price"  pattern="\d*" onkeyup="validateNumeric(this)" value="<?php echo $alert->getMaxPrice() ?>" >
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="block-lable">
                    <strong>Brands</strong>
                </label>
                <div class="block-fields">
                    <div class="sendTo clearfix" id="commaSep">
                        <?php foreach ($alert->getSelectedBrandsCollection() as $_brand): ?>
                            <span class="removeName"><?php echo $_brand->getTitle() ?><i class="apt-icon-x m-0" data-brand_id="<?php echo $_brand->getId() ?>" onclick="deleteBrand(this)"></i></span>
                        <?php endforeach ?>
                        <input id="brands" name="brands"  type="text" />
                        <button type="button" class="add-new-tag" id="add-new-tag" onclick="addBrand()">
                            <i class="apt-icon-plus m-0"></i>
                        </button>
                    </div>
                    <div class="hide" id="brands-fieldset">
                        <?php foreach ($alert->getSelectedBrandsCollection() as $_brand): ?>
                            <input type="hidden" name="brand_ids[]"  value="<?php echo $_brand->getId() ?>" />
                        <?php endforeach ?>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="block-lable">
                    <strong>Notification Emails</strong>
                </label>
                <div class="block-fields">
                    <div class="clone-holder" id="emails-holder">
                        <?php foreach ($savedEmails as $_email): ?>
                            <div class="repeatable">
                                <input class="form-field" type="email" placeholder="Enter notification email here" name="emails[]" value="<?php echo $_email ?>" />
                                <button type="button" class="apt-btn transparent remove-clonned" onclick="deleteEmail(this)">
                                    <i class="apt-icon-del top-4"></i>
                                </button>
                            </div>
                        <?php endforeach ?>
                        <button type="button" id="add-email-button" class="apt-btn transparent add-more" onclick="addEmail()">
                            <i class="apt-i-plus top-4"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="apt-modal-action apt-modal-footer text-right">
                <button type="submit" class="apt-btn prime lrg" ><strong>Save Alert</strong></button>
                <a class="text-sm text-mute text-ul" href="" data-dismiss="modal" aria-hidden="true">Cancel</a>
            </div>
        </form>
    </div>
</div>


<div class="loader-overlay"></div>
<div class="loader-container"><img src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" /></div>
<script type="text/javascript">
    function showSpecific(el) {
        $specific = $(el).closest('ul').siblings('ul.specific, div.control-group');
        $specific.slideDown();
        $specific.find('input').removeAttr('disabled');
        $specific.removeClass('disabled');
    }
    function hideSpecific(el) {
        $specific = $(el).closest('ul').siblings('ul.specific, div.control-group');
        $specific.find('input').attr('disabled', 'disabled');
        $specific.addClass('disabled');
        $specific.slideUp();
    }

    var categories = JSON.parse('<?php echo $this->catsConfig; ?>');

    function loadSubcategories(select) {
        $select = $(select);
        $arrVal = $select.val().split('-');

        if ($arrVal[0] == 'collection') {
            loadAllSubcategories();
            return;
        }

        var html = '';
        $.each(categories[$arrVal[1]].subcategories, function(id, title) {
            html += '<li><div class="check-box">' +
                '<input type="checkbox" name="subcategory_ids[]" value="' + id + '" />' +
                '</div><span>' + title + '</span></li>';

        });
        $subcategories = $('#subcategories');
        $subcategories.html(html);
        if ($subcategories.hasClass('disabled')) {
            $subcategories.find(':checkbox').attr('disabled', 'disabled');
        }
    }

    function loadAllSubcategories() {
        var html = '';
        $.each(categories, function(parentId) {
            $.each(categories[parentId].subcategories, function(id, title) {
                html += '<li><div class="check-box">' +
                    '<input type="checkbox" name="subcategory_ids[]" value="' + id + '" />' +
                    '</div><span>' + title + '</span></li>';

            });
        });
        $subcategories = $('#subcategories');
        $subcategories.html(html);
        if ($subcategories.hasClass('disabled')) {
            $subcategories.find(':checkbox').attr('disabled', 'disabled');
        }
    }

    function setValue(select) {
        $('input.cat-col-toggle').val('');
        var $arrVal = $(select).val().split('-');
        if ($arrVal[0] == 'collection') {
            $('input.cat-col-toggle[name="collection_id"]').val($arrVal[1]);
        } else if ($arrVal[0] == 'category') {
            $('input.cat-col-toggle[name="category_id"]').val($arrVal[1]);
        }
    }

    function validateNumeric(el) {
        if (el.value != el.value.replace(/[^0-9\.]/g, '')) {
            el.value = el.value.replace(/[^0-9\.]/g, '');
        }
    }

    function addEmail() {
        $('#add-email-button').before('<div class="repeatable">' +
            '<input class="form-field" type="email" placeholder="Enter notification email here" name="emails[]"  />' +
            '<button type="button" class="apt-btn transparent" onclick="deleteEmail(this)">' +
            '<i class="apt-icon-del top-4"></i>' +
            '</button>' +
            '</div>');

        checkButtons();
    }

    function deleteEmail(el) {
        $(el).closest('.repeatable').remove();
        checkButtons();
    }

    function checkButtons() {
        var $deleteButtons = $('#emails-holder .repeatable button');
        var $addButton = $('#add-email-button');

        if ($deleteButtons.length == 1) {
            $deleteButtons.addClass('remove-clonned');
        } else {
            $deleteButtons.removeClass('remove-clonned');
        }

        if ($deleteButtons.length >= 10) {
            $addButton.hide();
        } else {
            $addButton.show();
        }
    }

    function unselectOther(el) {
        $el = $(el);
        $ul = $el.closest('ul');
        $radio = $el.find('input');
        $ul.find('input[type="radio"]').not(el).prop('checked', false).closest('div').removeClass('checkedRadio');

    }

    function addBrand() {
        $brands.show();
    }
    function deleteBrand(button) {
        $('input[name="brand_ids[]"][value="' + $(button).data('brand_id') + '"').remove();
        $(button).parent().remove();
    }
    function showOverlay() {
        $(".loader-overlay, .loader-container").show();
    }

    function hideOverlay() {
        $(".loader-overlay, .loader-container").fadeOut('slow');
    }

    function initProductAlertPopup() {

        checkButtons();

        /* brands */
        $brands = $('#new-alert-popup #brands');
        $brands.autocomplete({
            triggerSelectOnValidInput: false,
            paramName: 'term',
            serviceUrl: '<?php echo $this->getUrl('manufacturer/async/find', array('for_product_alert' => 1)) ?>',
            minChars: 0,
            maxHeight: 200,
            onSelect: function(data) {
                $brands.before('<span class="removeName">' + data.value + '<i class="apt-icon-x m-0" data-brand_id="' + data.id + '" onclick="deleteBrand(this)"></i></span>');
                $brands.val('').hide();
                $('#brands-fieldset').append('<input type="hidden" name="brand_ids[]"  value="' + data.id + '" />');
            }
        });


        $('#new-alert-popup #edit-alert').on('submit', function() {
            $form = $(this);
            showOverlay();
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                dataType: 'json',
                data: $form.serialize(),
                success: function(response) {
                    hideOverlay();
                    if (response.success) {
                        var popupContainerEl = $('#new-alert-popup');
                        popupContainerEl.children('div').remove();
                        popupContainerEl.css('position', 'fixed');
                        popupContainerEl.append('<h3 class="dark-orange">' + response.message + '</h3>');
                        if (response.reload) {
                            setTimeout(function(){
                                location.reload();
                            }, 2100);
                        } else {
                            setTimeout(function(){
                                popupContainerEl.modal('hide');
                            }, 2100);
                        }
                     } else {
                        alert(response.message);
                    }
                }

            });
            return false;
        });

        /* checkbox */
        $('#new-alert-popup').on('click', '.check-box', function() {
            if (!$(this).find(':checkbox').attr('disabled')) {
                $(this).find(':checkbox').prop('checked', !$(this).find(':checkbox').prop('checked')).trigger('change');
            }
        });

        $('#new-alert-popup').on('click', '.check-box,#selectAll', function() {
            if (!$(this).find(':checkbox').attr('disabled')) {
                $(this).toggleClass('checkedBox');
            }
        });

        $('ul.specific.disabled').find(':checkbox').attr('disabled', 'disabled');

        // radio
        $("#new-alert-popup .radio-holder .radio-btn").on("click", function() {
            var _this = $(this),
                block = _this.closest('.radio-holder');
            block.find('input:radio').attr('checked', false);//.change();
            block.find(".radio-btn").removeClass('checkedRadio');
            _this.addClass('checkedRadio');
            _this.find('input:radio').attr('checked', true).change();
        });

        // colors
        $("#new-alert-popup .picolors").click(function() {
            if ($(this).find(':checkbox').prop('disabled')) {
                return;
            }
            var checkbox = $(this).find(':checkbox'),
                isChecked = checkbox.is(':checked');
            checkbox.attr('checked', !isChecked);
            if (!isChecked) {
                $(this).addClass("pickedColors")
            } else {
                $(this).removeClass("pickedColors");
            }
            checkbox.trigger("change");
        });
        $("#new-alert-popup .picolors, .picolor").hover(function() {
            if ($(this).find(':checkbox').prop('disabled')) {
                return;
            }
            $(this).css('z-index', '5').stop().animate({
                marginLeft: '-2px',
                marginTop: '-3px',
                width: '28px',
                height: '28px'
            }, 200);
        }, function() {
            $(this).stop().animate({
                marginLeft: '0px',
                marginTop: '0px',
                width: '22px',
                height: '22px'
            }, 200).css('z-index', '0');
        });

        $("#new-alert-popup .picolor").click(function() {
            var _this = $(this),
                block = _this.parent().parent();

            block.find(':radio').attr('checked', false);
            block.find(".picolor").removeClass('pickedColor');
            block.find(".picolor").stop().animate({
                marginLeft: '0px',
                marginTop: '0px',
                width: '22px',
                height: '22px'
            }, 200).css('z-index', '0');
            _this.addClass('pickedColor');
            _this.css('z-index', '5').stop().animate({
                marginLeft: '-2px',
                marginTop: '-3px',
                width: '28px',
                height: '28px'
            }, 200);
            _this.find(':radio').attr('checked', true);
        });


    }
</script>