<?php //EMAIL_TEMPLATE: RED ?>
<?php $url       = Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/order/order', array('id' => $this->item->getId()))); ?>
<?php $comission = (int) $this->payout->getComission(); ?>
<?php $cnfmUrl    = Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/order/order', array('id' => $this->item->getId()))); ?>
<?php $rjctUrl    = Ikantam_Url::getUrl('user/order/set-available', array('id' => $this->item->getId(), 'availabitily' => 0)); ?>


<?php if ($this->product->getPickupAddressLine2()) : ?>
    <?php
    $adr = sprintf('%s, %s, %s, %s %s %s', $this->product->getPickupAddressLine1(), $this->product->getPickupAddressLine2(), $this->product->getPickupCity(), $this->product->getPickupState(), $this->product->getPickupPostcode(), $this->product->getPickupCountryCode());
    ?>
<?php else : ?>
    <?php
    $adr = sprintf('%s, %s, %s %s %s', $this->product->getPickupAddressLine1(), $this->product->getPickupCity(), $this->product->getPickupState(), $this->product->getPickupPostcode(), $this->product->getPickupCountryCode());
    ?>
<?php endif; ?>


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Aptdeco notification</title>
    </head>
    <body>
        <div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="pickup-purchase-request">
            <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">
                <div style="padding: 10px 20px;">
                    <p style="font-family: Arial, sans-serif; font-size: 12px;color:#333333">Purchase Request for <a href="<?php echo $this->product->getProductUrl(); ?>" style="color: #D85927;text-decoration:none;"><?php echo $this->product->getTitle(); ?></a></p>
                </div>
                <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
                    <span>PICKUP | Purchase Request</span>
                    <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
                </div>

                <div style="margin: 30px 20px;">
                    <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')) ?>">
                        <img src="<?php echo Ikantam_Url::getPublicUrl('images/aptdeco-email-logo.png') ?>" alt="AptDeco" />
                    </a>
                </div>

                <div style="background: #f5f5f5; margin: 0 20px 30px 20px; padding: 20px;">
                    Hi <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->seller->getId())); ?>" style="color: #D85927;text-decoration:none;"><?php echo $this->seller->getFirstName(); ?></a>,
                    <br>
                    <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->buyer->getId())); ?>" style="color: #D85927;text-decoration:none;">
                        <?php echo $this->buyer->getFirstName(); ?>
                    </a> would like to buy your
                    <a href="<?php echo $this->product->getProductUrl(); ?>" style="color: #D85927;text-decoration:none;">
                        <strong style="font-weight: bold;"><?php echo $this->product->getTitle(); ?></strong>
                    </a> and is requesting <strong style="font-weight: bold;">self pick-up</strong>. Please <a href="<?php echo $cnfmUrl; ?>" style="color: #DA5B29;">respond to the request</a> within <strong style="font-weight: bold;">24 hours</strong> to finalize the sale. If we don’t hear from you within 24 hours, the order will be automatically canceled. <br>
                    <br>
                    Once the sale is confirmed, we’ll share your pick up details with the buyer to coordinate pick up.
                    <br><br>
                    Pickup location: <a href="<?php echo Ikantam_Url::getUrl('user/order/order', array('id' => $this->item->getId())); ?>" style="color: #D85927;text-decoration:none;"><strong style="font-weight: bold;"><?php echo $adr; ?></strong></a> <br>
                    <a href="" style="border: 0; color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #DA5B29; text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;"> <strong style="font-weight: bold;">Accept Request</strong> </a> <a href="" style="border: 0; color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #7f7f7f; text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;"> <strong style="font-weight: bold;">Decline Request</strong> </a>
                </div>

                <div style="padding: 0 20px 20px 20px;">
                    <h3 style="font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
                        color: #333333; font-size: 20px; font-weight: normal;">Your receipt:
                    </h3>

                    <table style="width: 300px;border-collapse:collapse;border-spacing:0;background-color: #f5f5f5; margin: 0 0 20px 0;">
                        <tr style="border-bottom: 1px solid #cccccc">
                            <td style="padding: 10px; ">Selling Price</td>
                            <td style="padding: 10px; text-align: right"><?php echo $this->currency($this->item->getRowTotal()); ?></td>
                        </tr>
                        <tr style="border-bottom: 1px solid #ebebeb">
                            <td style="padding: 10px; ">AptDeco fee</td>
                            <td style="padding: 10px; text-align: right"><?php echo $comission ?>%</td>
                        </tr>
                        <tr style="background-color: #ebebeb;">
                            <td style="padding: 10px; "><strong style="font-weight: bold;">Your sale proceeds</strong></td>
                            <td style="padding: 10px; text-align: right;"><strong style="font-weight: bold;"><?php echo $this->currency($this->payout->getTotalPaid()); ?></strong></td>
                        </tr>
                    </table>

                    <h3 style="font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif; color: #333333;
                        font-size: 20px; font-weight: normal;">How do you get paid?
                    </h3>

                    <ul style="color: #666666; margin: 0; padding: 0 0 0 20px;">
                        <li style="margin-bottom: 10px;"> <strong style="font-weight: bold;">
                                Set Payment Preferences:</strong>
                            <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/payout/index')); ?>" style="color: #D85927;">
                                Set payout preferences
                            </a> 
                            so we can release the sale proceeds to your account. 
                            The funds will remain on hold until your account information is updated.
                        </li>

                        <li style="margin-bottom: 10px;"><strong style="font-weight: bold;">Timing:</strong>
                            Payment will be processed the day of pickup. Please note, it takes 1-3 business days for funds
                            to appear in your account, depending on your financial institution.
                        </li>
                    </ul>

                    <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 20px 0 0 0;">
                        Please respond to this email with any questions or concerns. <br />
                        <br />
                        Cheers, <br />
                        The AptDeco Team </span>
                    <br>
                    What happens if the sale is canceled? <small><em style="font-style:italic">In the rare event that you don't respond within 24 hours or decline this request, all your listings will be temporarily blocked until we are able to confirm that you're still actively selling. </em></small>
                </div>
            </div>
        </div>
    </body>
</html>
