<?php //EMAIL_TEMPLATE: RED ?>
<!DOCTYPE html>
<html>
<head>
    <title>AptDeco</title>
</head>
<body>

<div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="confirmation-listing">
    <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">
        <div style="padding: 10px 20px;">
            <p style="font-family: Arial, sans-serif; font-size: 12px;color:#333333">
                Purchase Request - <a href="<?php echo $this->product->getProductUrl(); ?>" style="color: #D85927;text-decoration:none;"><?php echo $this->product->getTitle(); ?></a></p>
        </div>
        <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
            <span>CONFIRMATION | Confirmation Request</span>
            <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
        </div>
        <div style="margin: 30px 20px;"><a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')); ?>"><img src="<?php echo Ikantam_Url::getPublicUrl('assets/images/aptdeco-logo.png') ?>" alt="AptDeco" /></a></div>
        <div style="background: #f5f5f5; margin: 0 20px 30px 20px; padding: 20px;">

            Hi <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->buyer->getId()));?>" style="color: #D85927;text-decoration:none;"><?php echo $this->buyer->getFirstName(); ?></a>,
            <br>

            Your request to purchase the <?php echo $this->product->getTitle(); ?> has been sent to the seller, <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->seller->getId()));?>" style="color: #D85927;text-decoration:none;"><?php echo $this->seller->getFirstName(); ?></a>.
            The seller has 24 hours to respond to the request before it expires.
            <br><br>
            We have authorized your credit card for the full amount of the sale, but it will only be charged once the seller confirms the request. If your request is denied or expires you will not be charged.
            <br><br>
            <table style="width: 100%;border-collapse:collapse;border-spacing:0;background-color: #fff; margin:0;border:1px solid #e6e6e6;">
                <tbody><tr>
                    <td style="width: 72px; padding: 10px;">
                        <div style="width: 72px; height: 72px; background-color:#fff; border: 1px solid #e6e6e6;">
                            <a href="">
                                <img style="max-width:100%" src="<?php echo $this->product->getMainImageUrl('medium'); ?>" alt="item name">
                            </a>
                        </div>
                    </td>
                    <td style="padding: 10px;">
                        <a href="<?php echo $this->product->getProductUrl(); ?>" style="font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif; color: #D85927; font-size: 20px; margin: 0; line-height: 100%; padding: 0; font-weight: normal;text-decoration:none;"><?php echo $this->product->getTitle(); ?> </a>
             <span style="font-family: arial, sans-serif; color: #999999; font-size: 14px;display: block; margin: 7px 0 0 0;">
            <?php echo $this->product->getCategory()->getTitle(); ?>
                 <br>
                 <?php echo $this->currency($this->item->getRowTotal()); ?> - <?php echo $this->item->getQty(); ?> item(s)</span>
                    </td>
                </tr>
                </tbody></table>

            <a href="<?php echo Ikantam_Url::getUrl(''); ?>" style="color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #DA5B29; text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;">
                <strong style="font-weight: bold;">Shop AptDeco</strong>
            </a>
            <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')); ?>" style="color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #7f7f7f; text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;">
                <strong style="font-weight: bold;">Login to My Account</strong>
            </a>
        </div>

        <div style="padding: 0 20px 20px 20px;">

       <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 20px 0 0 0;">
           If you have any questions, just hit reply to this email!
        <br><br>
      Cheers, <br />
      The AptDeco Team </span>
            <br />
        </div>

    </div>
</body>
</html>
