<?php //EMAIL_TEMPLATE: RED ?>
<?php $url        = Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/order/order', array('id' => $this->item->getId()))); ?>
<?php $comission  = (int) $this->payout->getComission(); ?>
<?php $buyerDates = $this->item->getBuyerDates(); ?>

<?php $cnfmUrl    = Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/order/order', array('id' => $this->item->getId()))); ?>
<?php $rjctUrl    = Ikantam_Url::getUrl('user/order/set-available', array('id' => $this->item->getId(), 'availabitily' => 0)); ?>


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Aptdeco notification</title>
    </head>
    <body>
        <div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="purchase-request">
            <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">
                <div style="padding: 10px 20px;">
                    <p style="font-family: Arial, sans-serif; font-size: 12px;color:#333333">Purchase Request for <a href="<?php echo $this->product->getProductUrl(); ?>" style="color: #D85927;text-decoration:none;"><?php echo $this->product->getTitle(); ?></a></p>
                </div>
                <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
                    <span>DELIVERY | Purchase Request</span>
                    <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
                </div>

                <div style="margin: 30px 20px;">
                    <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')) ?>">
                        <img src="<?php echo Ikantam_Url::getPublicUrl('images/aptdeco-email-logo.png') ?>" alt="AptDeco" />
                    </a>
                </div>

                <div style="background: #f5f5f5; margin: 0 20px 30px 20px; padding: 20px;">
                    Hi <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->seller->getId()));?>" style="color: #D85927;text-decoration:none;"><?php echo $this->seller->getFirstName(); ?></a>,
                    <br>
                    <a href="<?php echo Ikantam_Url::getUrl('user/view/index', array('id' => $this->buyer->getId()));?>" style="color: #D85927;text-decoration:none;"><?php echo $this->buyer->getFirstName(); ?></a> would like to buy your
                    <a href="<?php echo $this->product->getProductUrl(); ?>" style="color: #D85927;text-decoration:none;"><strong style="font-weight: bold;"><?php echo $this->product->getTitle(); ?></strong></a>.
                    You have <strong style="font-weight: bold;">24 hours</strong> to <a href="<?php echo $cnfmUrl; ?>" style="color: #DA5B29;">respond to the request</a>, otherwise the order will automatically be canceled. <br>
                    <br/>

                    <div style="margin: 10px 0;">
                        <a href="<?php echo $cnfmUrl; ?>" style="border: 0; color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #DA5B29; text-decoration: none;padding: 10px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;"> <strong style="font-weight: bold;">Accept Request</strong> </a>
                        <a href="<?php echo $rjctUrl; ?>" style="border: 0; color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #7f7f7f; text-decoration: none;padding: 10px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;"> <strong style="font-weight: bold;">Decline Request</strong> </a>
                    </div>
                </div>
                <div style="padding: 0 20px 20px 20px;">
                    <p>Below are your payment details and receipt: </p>
                    <table style="width: 300px;border-collapse:collapse;border-spacing:0;background-color: #f5f5f5; margin: 0 0 20px 0;">
                        <tr style="border-bottom: 1px solid #cccccc">
                            <td style="padding: 10px; ">Selling Price</td>
                            <td style="padding: 10px; text-align: right"><?php echo $this->currency($this->item->getRowTotal()); ?></td>
                        </tr>
                        <tr style="border-bottom: 1px solid #ebebeb">
                            <td style="padding: 10px; ">AptDeco fee</td>
                            <td style="padding: 10px; text-align: right"><?php echo $comission; ?>%</td>
                        </tr>
                        <tr style="border-bottom: 1px solid #ebebeb">
                            <td style="padding: 10px; ">Shipping coverage</td>
                            <td style="padding: 10px; text-align: right"><?php echo $this->currency($this->payout->getExpenses() * -1); ?></td>
                        </tr>
                        <tr style="background-color: #ebebeb;">
                            <td style="padding: 10px; "><strong style="font-weight: bold;">Your sale proceeds</strong></td>
                            <td style="padding: 10px; text-align: right;"><strong style="font-weight: bold;"><?php echo $this->currency($this->payout->getTotalPaid()); ?></strong></td>
                        </tr>
                    </table>
                    <h3 style="font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
                        color: #333333; font-size: 20px; font-weight: normal;">
                        How do you get paid?
                    </h3>

                    <ul style="color: #666666; margin: 0; padding: 0 0 0 20px;">
                        <li style="margin-bottom: 10px;"> <strong style="font-weight: bold;">Payment Preferences:</strong>
                            Please provide your
                            <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/payout/index')); ?>" style="color: #D85927;">
                                payout preferences
                            </a>
                            so we can release the sale proceeds to your account.
                            The funds will remain on hold until your account information is updated.
                        </li>

                        <li style="margin-bottom: 10px;"><strong style="font-weight: bold;">Timing:</strong>
                            Payment will be processed the day of pickup. Please note, it takes 1-3 business days for funds to appear in your account,
                            depending on your financial institution.
                        </li>
                    </ul>

                    <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 20px 0 0 0;">
                        Please respond to this email with any questions or concerns. <br />
                        <br />
                        Cheers, <br />
                        The AptDeco Team </span>
                </div>
            </div>
        </div>
    </body>
</html>