<?php $url = 'http://www.facebook.com/dialog/oauth/?client_id=%s&redirect_uri=%s&state=%s&scope=%s'; ?>
<?php $fUrl = sprintf($url, $this->appId, $this->redirectUrl, '', $this->scope); ?>

<form onsubmit="this.js_enabled.value=1;return true;" class="form-signin" id="sign-in" action="<?php echo Ikantam_Url::getUrl('user/login/post', array('redirect-success' => $this->redirect)); ?>" method="post">
    <h2>Sign in</h2>

    <?php foreach ($this->session->getMessages('error') as $message) : ?>
        <p class="invalid" id="errors-password"><i></i><?php echo $message; ?></p>
    <?php endforeach; ?>

    <a href="<?php echo $fUrl; ?>" class="fb-sign"> <i></i>Sign in with Facebook</a>
    
    <div class="or"><p>OR</p></div>
    
    <div class="clear"></div>

    <input type="email" class="input-block-level" placeholder="Email" name="email" value="<?php echo $this->session->getFormData('email'); ?>" />

    <?php if ($this->session->getFormErrors('email')) : ?>
        <p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('email'); ?></p>
    <?php endif; ?>

    <input type="password" class="input-block-level" placeholder="Password" name="password" />

    <?php if ($this->session->getFormErrors('password')) : ?>
        <p class="invalid" style="margin-bottom:20px;" id="errors-password"> <i></i> <?php echo $this->session->getFormErrors('password'); ?></p>
    <?php endif; ?>

    <div class="custom-checkboxs"> <div class="check-box"><input type="checkbox" value="remember-me"></div> </div>
    <label class="checkbox">
        <span> Remember me </span>
        <button class="btn sign-btn" type="submit">Sign in</button>
        <br>
         </label>
 <p class="join-now">Don't have an account? <a href="<?php echo Ikantam_Url::getUrl('registration/index'); ?>">Join now</a> </p>
</form>
<a href="<?php echo Ikantam_Url::getUrl('user/password/forgot'); ?>">Forgot password</a>

<script>
    jQuery(document).ready(function(){
        $('.check-box').click(function() {
            $(this).find(':checkbox').prop('checked', !$(this).find(':checkbox').prop('checked')).trigger('change');
            $(this).toggleClass('checkedBox');
        });
    });
</script>
