<div class="intro-pattren">
    <div class="container-fluid">
        <div class="title">
            <img class="login_logo" alt="Coming Soon" src="<?php echo Ikantam_Url::getPublicUrl('images/large-logo2.png'); ?>">
        </div>

        <div id="sign-box" class="newsb">
            <?php echo $this->partial('login/form.phtml', 'user', $this); ?>
            <?php //echo $this->partial('signup/form.phtml', 'user', $this); ?>
        </div>
    </div>
</div>
<?php /*
<script>
    $("#signin").click(function() {
        getSignin();
    });
	
    $("#signup").click(function() {
        getSignup();
    });

    function getSignin() {
        $('#sign-in').animate({
            top: '0',
            opacity: '1'
        }, 1000, "easeOutExpo");
        $('#sign-in').css('position', 'relative');
        $("#sign-up").animate({
            opacity: '0'
        }, 400);
        $("#sign-up").css('display', 'none');
    }

    function getSignup() {
        $('#sign-in').animate({
            top: '-400px',
            opacity: '0'
        }, 1000, "easeOutExpo");
        $('#sign-in').css('position', 'absolute');
        $("#sign-up").animate({
            opacity: '1'
        }, 400);
        $("#sign-up").css('display', 'block');
    }
</script> */ ?>