<?php $faqs     = array(); ?>
<?php $settings = new Admin_Model_Settings(); ?>

<?php for ($i = 1; $i <= 6; $i++) : ?>
    <?php $subject = $settings->getValue('inbox_page' . $i, 'subject'); ?>
    <?php $text    = $settings->getValue('inbox_page' . $i, 'text'); ?>

    <?php if (!$subject || !$text) : ?>
        <?php continue; ?>
    <?php endif; ?>

    <?php $faqs[] = array('subject' => $subject, 'text' => $text); ?>
<?php endfor; ?>

<div class="container-fluid" id="container">
    <div class="apt-container sidebar-main">

        <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

        <div class="main m-0"  id="messages">
            <div id="user-actions">
                <h2>New message</h2>

                <?php foreach ($this->session->getMessages('success') as $message) : ?>
                    <div class="alert alert-success" style="height:auto;"> <i></i>  
                        <?php echo $message; ?>
                        <button type="button" class="close" data-dismiss="alert">x</button>
                    </div>
                <?php endforeach; ?>

                <div class="user-block">
                    <div class="clearfix m-b20">
                        <h5>Me <i></i></h5>

                        <a href="<?php echo $this->escape($this->user->getProfileUrl()); ?>">
                            <img src="<?php echo $this->escape($this->user->getAvatarUrl()); ?>" alt="<?php echo $this->escape($this->user->getFirstName()); ?>">
                            <?php echo $this->escape($this->user->getFirstName()); ?>
                        </a>
                    </div>

                    <?php if (User_Model_Session::user()->canSendMessages()): ?>
                        <form class="apt-form" id="message_form" action="<?php echo Ikantam_Url::getUrl('user/inbox/create-post', array('id' => $this->user->getId())); ?>" method="post">

                            <div class="control-group">
                                <div class="block-fields">
                                    <input type="text" class="form-field lrg" name="subject" placeholder="Subject" value="<?php echo $this->escape($this->subject); ?>" />
                                </div>
                            </div>

                            <?php if ($this->session->getFormErrors('subject')) : ?>
                                <p class="p-l80 invalid"> <i></i> <?php echo $this->session->getFormErrors('subject'); ?></p>
                            <?php endif; ?>

                            <div class="control-group">
                                <div class="block-fields">
                                    <textarea class="form-field" name="text" rows="5" placeholder="Type text here"><?php echo $this->session->getFormData('text'); ?></textarea>
                                </div>
                            </div>

                            <?php if ($this->session->getFormErrors('phoneNumber') || $this->session->getFormErrors('email')) : ?>
                                <div class="wraning-message" style="display: block !important;">
                                    <div class="clearfix">
                                        <p class="has-apt-i lock-danger">
                                            We want to ensure the best experience for our users.
                                            Not only are sales through AptDeco guaranteed for secure payment and item quality,
                                            but we also want to ensure the safety of your personal information.
                                            For your protection, we encourage keeping all communications within our messaging system.
                                            Thanks for helping us maintain the high level of trust we've built within our community of buyers and sellers.
                                            <br />
                                            <strong>To send, please remove your email or phone number from this message. </strong>
                                        </p>
                                    </div>
                                </div>
                            <?php endif; ?>

                            <?php if ($this->session->getFormErrors('text')) : ?>
                                <p class="p-l80 invalid" > <i></i> <?php echo $this->session->getFormErrors('text'); ?></p>
                            <?php endif; ?>

                            <button type="submit" class="apt-btn default pull-right md">Send</button>
                        </form>

                        <div class="clear"></div>

                        <div class="helper-tips">
                            <p class="has-apt-i bulb">
                                Report a violation if a user asks you to pay outside of the AptDeco system. Issues that arise with the posted item will not be covered by our protection policy or investigated by our customer support team. It also violates <a href="<?php echo $this->getUrl('terms/index') ?>">AptDeco's Terms of Service</a>.
                            </p>

                            <?php if (count($faqs) > 0) : ?>
                                <div class="apt-togglable m-t30">
                                    <?php foreach ($faqs as $faq) : ?>
                                        <a href="" class="get-info">
                                            <span class="togg-icon"><i></i></span><?php echo $this->escape($faq['subject']); ?>
                                        </a>

                                        <div class="productInfo">
                                            <p><?php echo nl2br($this->escape($faq['text'])); ?></p>
                                        </div>
                                    <?php endforeach; ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    <?php else: ?>
                        <p class="invalid" > <i></i>
                            Our spam filters have detected suspicious activity.
                            If you think this is an error please contact us and we'll investigate immediately.
                        </p>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>