<div class="container-fluid" id="container"> 
    <div class="apt-container sidebar-main">

        <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

        <div class="main m-0"  id="messages">
            <div id="user-actions">
                <h2>Inbox</h2>

                <div id="msg-filter">
                    <div class="btn-group">
                        <select name="status">
                            <option onclick="window.location = '<?php echo Ikantam_Url::getUrl('user/inbox/index'); ?>'" value="" <?php if ($this->status != 'new') : ?>selected="selected"<?php endif; ?>>All messages</option>
                            <option onclick="window.location = '<?php echo Ikantam_Url::getUrl('user/inbox/index', array('status' => 'new')); ?>'" value="new" <?php if ($this->status == 'new') : ?>selected="selected"<?php endif; ?>>Unread</option>
                        </select>
                    </div>
                </div>

                <button onclick="readMessages()" id="mark-as-read" class="btn">Mark as read</button>

                <div id="delete-msg">
                    <button onclick="removeMessages()" class="removeitem"><i></i></button>
                </div>
            </div>

            <div class="clear"></div>

            <div id="inbox">
                <form id="mesages-form" action="" method="post">
                    <table>
                        <tbody>  
                            <tr class="table-labels">
                                <th>
                        <div id="checkall">
                            <div id="setsel" class="check-box">
                                <input type="checkbox" checked="checked">
                            </div>
                        </div>
                        </th>
                        <th>Name</th>
                        <th align="left">Subject</th>
                        <th class="last">Date</th>
                        </tr>

                        <?php foreach ($this->messages as $message) : ?>
                            <?php $author       = $message->getAuthor(); ?>
                            <?php $conversation = $message->getConversation(); ?>
                            <tr>
                                <td class="boxes"><div class="check-box"><input type="checkbox" name="messages[]" value="<?php echo $message->getId(); ?>"></div></td>

                                <td>
                                    <a class="show" href="<?php echo Ikantam_Url::getUrl('user/inbox/view', array('id' => $message->getId())); ?>">
                                        <img src="<?php echo $this->escape($author->getAvatarUrl()); ?>" alt="<?php echo $this->escape($author->getFirstName()); ?>" />
                                        <?php echo $this->escape($author->getFirstName()); ?>
                                    </a>

                                    <div class="visible-mobile">
                                        <p><strong><?php echo $this->escape($conversation->getSubject()); ?></strong></p>
                                        <p><span class="text-mute"><?php echo date('d M Y', $message->getCreatedAt()); ?></span></p>
                                    </div>

                                </td>


                                <td class="hidden-mobile">
                                    <a class="show" href="<?php echo Ikantam_Url::getUrl('user/inbox/view', array('id' => $message->getId())); ?>">
                                        <?php if ($message->getIsNew()) : ?><strong><?php endif; ?>
                                            <?php echo $this->escape($conversation->getSubject()); ?>
                                            <?php if ($message->getIsNew()) : ?></strong><?php endif; ?>
                                    </a>
                                </td>


                                <td class="msg-date hidden-mobile"><?php echo date('d M Y', $message->getCreatedAt()); ?></td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </form>

                <div class="clear"></div>

                <?php echo $this->partial('inbox/pagination.phtml', 'user', $this); ?>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>

<script>
    $('.check-box').click(function() {
        $(this).find(':checkbox').prop('checked', !$(this).find(':checkbox').prop('checked')).trigger('change');
        $(this).toggleClass('checkedBox');
    });

    $("#setsel").click(function() {
        if ($(this).hasClass("checkedBox")) {
            $("input[name='messages[]']").each(function() {
                $(this).attr("checked", true);
                $(this).parent().addClass("checkedBox");
            });
        } else {
            $("input[name='messages[]']").each(function() {
                $(this).attr("checked", false);
                $(this).parent().removeClass("checkedBox");
            });
        }
    });

    function readMessages()
    {
        $("#mesages-form").attr("action", "<?php echo Ikantam_Url::getUrl('user/inbox/read'); ?>").submit();
    }

    function removeMessages()
    {
        $("#mesages-form").attr("action", "<?php echo Ikantam_Url::getUrl('user/inbox/delete'); ?>").submit();
    }
</script>