<div class="container-fluid" id="container"> 
    <div class="apt-container sidebar-main">

        <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

        <div class="main m-0"  id="messages">
            <div id="user-actions">
                <?php if (User_Model_Session::user()->canSendMessages()):/* Not blocked but can't send to this particular user */ ?>
                    <h2>You can not send messages to this user.</h2>
                <?php else: ?>
                    <p class="invalid" > <i></i>
                        Our spam filters have detected suspicious activity.
                        If you think this is an error please contact us and we'll investigate immediately.
                    </p>
                <?php endif; ?>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="clear"></div>