<?php if ($this->totalPages > 1) : ?>
    <div class="pagination pagination-right">
        <ul>
            <?php if ($this->currentPage > 1) : ?>
                <li class="old-msgs">
                    <?php $url = Ikantam_Url::getUrl('user/inbox/sent', array('page' => ($this->currentPage - 1))); ?>
                    <a href="<?php echo $url; ?>">
                        <i></i>
                    </a>
                </li>
            <?php endif; ?>

            <?php $start = $this->currentPage - 2; ?>
            <?php if ($start < 1) : ?>
                <?php $start = 1; ?>
            <?php endif; ?>

            <?php for ($i = $start; $i < $this->currentPage; $i++) : ?>
                <?php $url = Ikantam_Url::getUrl('user/inbox/sent', array('page' => $i)); ?>

                <li>
                    <a href="<?php echo $url; ?>">
                        <?php echo $i; ?>
                    </a>
                </li>
            <?php endfor; ?>

            <?php if ($i + 1 < $this->currentPage) : ?>
                <li><a href="javascript:void(0);">...</a></li>
            <?php endif; ?>


            <li><a href="javascript:void(0);" class="active"><?php echo $this->currentPage; ?></a></li>

            <?php $finish = $this->currentPage + 2; ?>
            <?php if ($finish > $this->totalPages) : ?>
                <?php $finish = $this->totalPages; ?>
            <?php endif; ?>

            <?php for ($i = $this->currentPage + 1; $i <= $finish; $i++) : ?>
                <?php $url = Ikantam_Url::getUrl('user/inbox/sent', array('page' => $i)); ?>

                <li>
                    <a href="<?php echo $url; ?>">
                        <?php echo $i; ?>
                    </a>
                </li>
            <?php endfor; ?>

            <?php if ($this->currentPage < $this->totalPages) : ?>
                <li class="new-msgs">
                    <?php $url = Ikantam_Url::getUrl('user/inbox/sent', array('page' => ($this->currentPage + 1))); ?>
                    <a href="<?php echo $url; ?>">
                        <i></i>
                    </a>
                </li>
            <?php endif; ?>
        </ul>    
    </div>
<?php endif; ?>