<?php $faqs     = array(); ?>
<?php $settings = new Admin_Model_Settings(); ?>

<?php for ($i = 1; $i <= 6; $i++) : ?>
    <?php $subject = $settings->getValue('inbox_page' . $i, 'subject'); ?>
    <?php $text    = $settings->getValue('inbox_page' . $i, 'text'); ?>

    <?php if (!$subject || !$text) : ?>
        <?php continue; ?>
    <?php endif; ?>

    <?php $faqs[] = array('subject' => $subject, 'text' => $text); ?>
<?php endfor; ?>

<div class="container-fluid" id="container">
    <div class="apt-container sidebar-main">

        <?php echo $this->partial('sidebar.phtml', 'user', $this); ?>

        <div class="main m-0"  id="messages">
            <div id="user-actions">
                <h2><?php echo $this->escape($this->conversation->getSubject()); ?></h2>

                <?php foreach ($this->conversation->getMessagesByUserId($this->session->getUserId()) as $message) : ?>
                    <div class="single-msg">
                        <a href="<?php echo $this->escape($message->getAuthor()->getProfileUrl()); ?>">
                            <?php echo $this->escape($message->getAuthor()->getFirstName()); ?>
                        </a>

                        <p><?php echo $this->escape($message->getText()); ?></p>

                        <div class="single-msg-action">
                            <span><?php echo date('d M Y h:i A', $message->getCreatedAt()); ?></span>
                            <button class="removeitem" onclick="window.location = '<?php echo Ikantam_Url::getUrl('user/inbox/delete-message', array('id' => $message->getId())) ?>'"><i></i></button>
                        </div>
                    </div>

                <?php endforeach; ?>

                <div class="clear"></div>

                <div class="user-block" id="replay-msg">
                    <?php $participants = $this->conversation->getUsers(); ?>
                    <?php foreach ($participants as $participant) : ?>
                        <?php if ($this->session->getUserId() !== $participant->getId()) : ?>
                            <?php $names[] = $participant->getFirstName(); ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                    <?php if (User_Model_Session::user()->canSendMessages()): ?>
                        <h5>Me <i></i> <span><?php echo implode(',', $names); ?></span></h5>
                        <form id="message_form" class="apt-form clearfix p-b30" action="<?php echo Ikantam_Url::getUrl('user/inbox/conversation-post', array('id' => $this->conversation->getId())); ?>" method="post">

                            <div class="control-group">
                                <div class="block-fields">
                                    <textarea class="form-field" name="text" placeholder="Type text here"><?php echo $this->session->getFormData('text'); ?></textarea>
                                </div>
                            </div>


                            <?php if ($this->session->getFormErrors('phoneNumber') || $this->session->getFormErrors('email')) : ?>
                                <div class="wraning-message" style="display: block !important;">
                                    <div class="clearfix">
                                        <p class="has-apt-i lock-danger">
                                            We want to ensure the best experience for our users.
                                            Not only are sales through AptDeco guaranteed for secure payment and item quality,
                                            but we also want to ensure the safety of your personal information.
                                            For your protection, we encourage keeping all communications within our messaging system.
                                            Thanks for helping us maintain the high level of trust we've built within our community of buyers and sellers.
                                            <br />
                                            <strong>To send, please remove your email or phone number from this message. </strong>
                                        </p>
                                    </div>
                                </div>
                            <?php endif; ?>


                            <div class="clearfix"></div>
                            <?php if ($this->session->getFormErrors('text')) : ?>
                                <p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('text'); ?></p>
                            <?php endif; ?>


                            <input class="apt-btn default pull-right md" type="submit" value="Send">
                        </form>
                        <div class="clear"></div>

                        <div class="helper-tips">
                            <p class="has-apt-i bulb">
                                Report a violation if a user asks you to pay outside of the AptDeco system. Issues that arise with the posted item will not be covered by our protection policy or investigated by our customer support team. It also violates <a href="<?php echo $this->getUrl('terms/index') ?>">AptDeco's Terms of Service</a>.
                            </p>

                            <?php if (count($faqs) > 0) : ?>
                                <div class="apt-togglable m-t30">
                                    <?php foreach ($faqs as $faq) : ?>
                                        <a href="" class="get-info">
                                            <span class="togg-icon"><i></i></span><?php echo $this->escape($faq['subject']); ?>
                                        </a>

                                        <div class="productInfo">
                                            <p><?php echo nl2br($this->escape($faq['text'])); ?></p>
                                        </div>
                                    <?php endforeach; ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    <?php else: ?>
                        <p class="invalid" > <i></i>
                            Our spam filters have detected suspicious activity.
                            If you think this is an error please contact us and we'll investigate immediately.
                        </p>
                    <?php endif; ?>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="clear"></div>