<div class="pagination pagination-right">
    <ul>
        <?php if ($this->currentPage > 1) : ?>
            <li class="old-msgs">
                <a href="<?php echo Ikantam_Url::getUrl('admin/users/index',
                    array(
                        'page'   => $this->currentPage - 1,
                        'search' => $this->search,
                        'filter_verified' => $this->filter_verified,
                    )); ?>">
                    <i></i>
                </a>
            </li>
        <?php endif; ?>

        <?php $start = ($this->currentPage - 10 > 0) ? $this->currentPage - 10 : 1; ?>
        <?php for ($i = $start; $i < $this->currentPage; $i++) : ?>
            <li>
                <a href="<?php echo Ikantam_Url::getUrl('admin/users/index',
                    array(
                        'page'   => $i,
                        'search' => $this->search,
                        'filter_verified' => $this->filter_verified,
                    )
                ); ?>">
                    <?php echo $i; ?>
                </a>
            </li>
        <?php endfor; ?>

        <li><a href="javascript:void(0);" style="color: #fff; background-color: #333;"><?php echo $this->currentPage; ?></a></li>

        <?php $finish = (($this->currentPage + 10) > $this->totalPages) ? $this->totalPages : $this->currentPage + 10; ?>
        <?php for ($i = $this->currentPage + 1; $i <= $finish; $i++) : ?>
            <li>
                <a href="<?php echo Ikantam_Url::getUrl('admin/users/index', array(
                        'page'   => $i,
                        'search' => $this->search,
                        'filter_verified' => $this->filter_verified,
                    )); ?>">
                    <?php echo $i; ?>
                </a>
            </li>
        <?php endfor; ?>

        <?php if ($this->currentPage < $this->totalPages) : ?>
            <li class="new-msgs">
                <a href="<?php echo Ikantam_Url::getUrl('admin/users/index', array(
                        'page'   => $this->currentPage + 1,
                        'search' => $this->search,
                        'filter_verified' => $this->filter_verified,
                    )); ?>">
                    <i></i>
                </a>
            </li>
        <?php endif; ?>
    </ul>
</div>