<?php
$urlOptions = array(
    'module'     => 'admin',
    'controller' => 'users',
    'action'     => 'products',
    'id'         => $this->user->getId()
);
?>

<?php $start      = ($this->currentPage - 3 > 0) ? $this->currentPage - 3 : 1; ?>

<div class="pagination pagination-right">
    <ul>
        <?php if ($this->currentPage > 1) : ?>
            <li class="old-msgs">
                <a href="<?php echo $this->url($urlOptions + array('page' => $this->currentPage - 1), 'default', true); ?>">
                    <i></i>
                </a>
            </li>
        <?php endif; ?>

        <?php for ($i = $start; $i < $this->currentPage; $i++) : ?>
            <li>
                <a href="<?php echo $this->url($urlOptions + array('page' => $i), 'default', true); ?>">
                    <?php echo $i; ?>
                </a>
            </li>
        <?php endfor; ?>

        <li>
            <a href="javascript:void(0);" style="color: #fff; background-color: #333;">
                <?php echo $this->currentPage; ?>
            </a>
        </li>

        <?php for ($i = $this->currentPage + 1; $i <= $this->totalPages; $i++) : ?>
            <li>
                <a href="<?php echo $this->url($urlOptions + array('page' => $i), 'default', true); ?>">
                    <?php echo $i; ?>
                </a>
            </li>
        <?php endfor; ?>

        <?php if ($this->currentPage < $this->totalPages) : ?>
            <li class="new-msgs">
                <a href="<?php echo $this->url($urlOptions + array('page' => $this->currentPage + 1), 'default', true); ?>">
                    <i></i>
                </a>
            </li>
        <?php endif; ?>
    </ul>
</div>