<div class="main-container">

    <div class="main-row">
        <div class="empty-page">
            <div class="text-center">
                <h2>Sorry, this page doesn&apos;t appear to exist or has gone on an extended vacation</h2>
            </div>

            <p class="text-mute">
                No need to wait for it to come back since we can take you to other pages that do exist.
            </p>

            <div class="suggestions-links clearfix">
                <a href="<?php echo Ikantam_Url::getUrl('catalog/index'); ?>"><span><i class="ico-shopping-bar"></i></span> Browse products</a>
                <a href="<?php echo Ikantam_Url::getUrl('how-it-works/index'); ?>"><span><i class="ico-qmark"></i></span> How it works</a>
            </div>
            <div class="suggestions-links clearfix">
                <a href="<?php echo Ikantam_Url::getUrl('product/add/new'); ?>"><span><i class="ico-chair"></i></span> Sell your stuff</a>
                <a href="<?php echo Ikantam_Url::getUrl('about/index'); ?>"><span><i class="ico-group"></i></span> About us</a>
            </div>

        </div>

        <div class="bg-block" data-src="<?php echo Ikantam_Url::getPublicUrl('assets/images/404-bg.jpg'); ?>"></div>
    </div>
</div>