<?php use \Application_Model_User as User; ?>
<?php echo $this->partial('_confirmation_popover_js.phtml', 'admin'); ?>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Delete confirmation</h3>
    </div>
    
    <div class="modal-body">
        <p>Do you really want to delete this user?</p>
    </div>
    
    <div class="modal-footer">
        <button id="confirm" class="btn btn-danger">Delete</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>    
    </div>
</div>

<div class="container-fluid" id="container"> 

    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

    <div class="mainContent" id="messages"> 

        <div id="user-actions">
            <h2>Users</h2>

            <div id="msg-filter"> 
                <div class="input-append" id="filter-my-items">
                    <form id="filter_form" action="<?php echo Ikantam_Url::getUrl('admin/users'); ?>" method="get">
                        <div id="filter-my-items" class="input-append">
                            <input type="text" name="search" id="filter-items" value="<?php echo $this->search;?>" autocomplete="off">
                            <i class="icon-search">&amp;nbsp;</i></div>
                        <div class="btn-group">
                            <select name="filter_verified" id="filter_verified">
                                <option <?php if ($this->filter_verified === null || $this->filter_verified == 'all'):?> selected="selected" <?php endif; ?> value="all" label="All Users">All Statuses</option>
                                <option <?php if ($this->filter_verified == User::VERIFICATION_REQUESTED):?> selected="selected" <?php endif;?> value="<?php echo User::VERIFICATION_REQUESTED; ?>" label="Requested Verification">Requested Verification</option>
                                <option <?php if ($this->filter_verified == User::VERIFICATION_VERIFIED):?> selected="selected" <?php endif;?> value="<?php echo User::VERIFICATION_VERIFIED; ?>" label="Verified">Verified</option>
                                <option <?php if ($this->filter_verified == User::VERIFICATION_REJECTED):?> selected="selected" <?php endif;?> value="<?php echo User::VERIFICATION_REJECTED; ?>" label="Rejected">Rejected</option>
                            </select>
                        </div>
                    </form>
                    <script>
                        $(function(){
                            $('#filter_verified').on('change', function(){
                                $('#filter_form').submit();
                            });
                        });
                    </script>
                </div>

            </div>
        </div>

        <div class="clear"></div>

        <?php if ($this->users->getSize() > 0) : ?>     
            <div id="inbox" class="users-table">
                <table id="user-list">
                    <tr>
                        <th class="use-rname">User Name</th>
                        <th class="use-rname">Email</th>
                        <th class="use-rname">Telephone numbers:</th>
                        <th class="active-prods">Active products</th>
                        <th>Status</th>
                        <th>Actions</th>
                        <th>Verification</th>
                    </tr>

                    <?php foreach ($this->users as $user) : ?>  
                        <?php if (!$user->getIsUserDeleted()): ?>       
                            <tr>
                                <td class="use-rname">
                                    <a href="<?php echo Ikantam_Url::getUrl('admin/users/view', array('id' => $user->getId())); ?>">
                                        <?php echo $this->escape($user->getFullName()); ?>
                                    </a>
                                </td>

                                <td>
                                    <?php echo $this->escape($user->getEmail()); ?>
                                </td>
                                <th>
                                    <?php echo $user->getPrimaryPhone()->getPhone(); ?>
                                </th>
                                <td><?php echo $user->getSalableProducts()->getSize(); ?></td>

                                <td>
                                    <?php if ($user->getIsActive()) : ?>
                                        <p class="status recived">Active</p>
                                    <?php else : ?>
                                        <p class="status recived" style="color:#FF0000">Blocked</p>
                                    <?php endif; ?>
                                </td>

                                <td>
                                    <?php if ($user->getIsActive()) : ?>
                                        <?php $url = Ikantam_Url::getUrl('admin/users/block', array('id' => $user->getId())); ?>
                                        <a href="<?php echo $url; ?>">Block</a>
                                    <?php else : ?>
                                        <?php $url = Ikantam_Url::getUrl('admin/users/unblock', array('id' => $user->getId())); ?>
                                        <a href="<?php echo $url; ?>">Unblock</a>
                                    <?php endif; ?>

                                    <?php $deleteUrl = Ikantam_Url::getUrl('admin/users/delete-restore', array('id'     => $user->getId(), 'delete' => 1)); ?>
                                    <a data-id="<?php echo $user->getId(); ?>" class="delete-user" href="<?php echo $deleteUrl; ?>">Delete</a>
                                </td>

                                <td class="use-r-ole">
                                    <?php if (($user_product_verification_available = $user->personalSettings('product_verification_available')) == User::VERIFICATION_REQUESTED): ?>
                                        <button type="button" data-user="<?php echo $user->getId(); ?>" data-status="<?php echo User::VERIFICATION_VERIFIED; ?>" class="apt-btn primary m-0 fit verification-btn">
                                            Verify
                                        </button>
                                        <button type="button" data-user="<?php echo $user->getId(); ?>" data-status="<?php echo User::VERIFICATION_REJECTED; ?>" class="apt-btn def m-t8 fit verification-btn">
                                            Reject
                                        </button>
                                        <?php elseif($user_product_verification_available == User::VERIFICATION_VERIFIED): ?>
                                            <i class="apt-i-vari verified m-b15"></i>
                                            <span class="text-mute text-small">Verified</span>
                                        <button type="button" data-user="<?php echo $user->getId(); ?>" data-status="<?php echo User::VERIFICATION_REJECTED; ?>" class="apt-btn def m-t8 fit verification-btn">
                                            Reject
                                        </button>

                                        <?php elseif($user_product_verification_available == User::VERIFICATION_REJECTED): ?>
                                        <i class="apt-i-vari rejected m-b15"></i>
                                        <span class="text-mute text-small">Rejected</span>
                                        <button type="button" data-user="<?php echo $user->getId(); ?>" data-status="<?php echo User::VERIFICATION_VERIFIED; ?>" class="apt-btn primary m-0 fit verification-btn">
                                            Verify
                                        </button>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </table>
                <script id="VERIFICATION_VERIFIED" type="text/x-handlebars-template">
                    <i class="apt-i-vari verified m-b15"></i>
                    <span class="text-mute text-small">Verified</span>
                    <button type="button" data-user="{{user_id}}"
                            data-status="<?php echo User::VERIFICATION_REJECTED; ?>" class="apt-btn def m-t8 fit verification-btn">
                        Reject
                    </button>
                </script>

                <script id="VERIFICATION_REJECTED" type="text/x-handlebars-template">
                    <i class="apt-i-vari rejected m-b15"></i>
                    <span class="text-mute text-small">Rejected</span>
                    <button type="button" data-user="{{user_id}}"
                            data-status="<?php echo User::VERIFICATION_VERIFIED; ?>" class="apt-btn primary m-0 fit verification-btn">
                        Verify
                    </button>
                </script>

                <script>
                    $(function(){
                        var statusHTML = function(status, user_id){
                            var HTML = {
                                '<?php echo User::VERIFICATION_VERIFIED ; ?>' : Handlebars.compile($('#VERIFICATION_VERIFIED').html()),
                                '<?php echo User::VERIFICATION_REJECTED ; ?>' : Handlebars.compile($('#VERIFICATION_REJECTED').html())
                            };

                            return HTML[status]({
                                user_id: user_id
                            });
                        } ;

                        $('#user-list').on('click', '.verification-btn', function(){
                            var $parentElement = $(this).parent(),
                                user_id = $(this).data('user');

                            $parentElement.html('...Please Wait...');
                            $.ajax({
                                url  : '<?php echo Ikantam_Url::getUrl('admin/users/verification') ; ?>',
                                data : {user_id: user_id, verification_status: $(this).data('status')},
                                type : 'GET',
                                dataType : 'JSON',
                                success : function(response) {
                                    $parentElement.html(statusHTML(response.new_status, user_id));
                                }
                            });
                        });

                    })
                </script>
                <div class="clear"></div>

                <?php if ($this->totalPages > 1) : ?>
                    <?php echo $this->partial('users/index/pagination.phtml', 'admin', $this); ?>
                <?php endif; ?>
            </div>
        <?php else : ?>
            <h3>No users found</h3>
        <?php endif; ?>
    </div>

    <div class="clear"></div>
</div>

<div class="clear"></div>