<nav id="user-sales-nav">
    <ul>
        <li<?php if ($this->activeMenu == 'products') : ?> class="active-user"<?php endif; ?>> 
            <span></span> 
            <a href="<?php echo Ikantam_Url::getUrl('admin/users/products', array('id' => $this->user->getId())); ?>">Products</a>
        </li>
        <li<?php if ($this->activeMenu == 'sales') : ?> class="active-user"<?php endif; ?>> 
            <span></span> 
            <a href="<?php echo Ikantam_Url::getUrl('admin/users/sales', array('id' => $this->user->getId())); ?>">Sales</a>
        </li>
        <li<?php if ($this->activeMenu == 'purchases') : ?> class="active-user"<?php endif; ?>> 
            <span></span>
            <a href="<?php echo Ikantam_Url::getUrl('admin/users/purchases', array('id' => $this->user->getId())); ?>">Purchases</a> 
        </li>
    </ul>
</nav>