<div class="container-fluid" id="container"> 
    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

    <div class="mainContent" id="messages"> 
        <div id="user-actions">
            <h2>Order: #<?php echo $this->item->getOrderId(); ?></h2>
        </div>

        <div class="clear"></div>

        <?php if (!empty($this->errorMessage)) : ?>
            <div class="aptd-alert error">
                <i class="apt-icon-warning"></i>
                <p><?php echo $this->escape($this->errorMessage); ?></p>
                <button data-dismiss="alert" class="dismiss" type="button">x</button>
            </div>
        <?php endif; ?>

        <?php foreach ($this->session->getMessages('success') as $message) : ?>
            <div class="aptd-alert success">
                <i class="apt-i-warning"></i>
                <p><?php echo $this->escape($message); ?></p>
                <button data-dismiss="alert" class="dismiss" type="button">x</button>
            </div>
        <?php endforeach; ?>

        <?php foreach ($this->session->getMessages('error') as $message) : ?>
            <div class="aptd-alert error">
                <i class="apt-icon-warning"></i>
                <p><?php echo $this->escape($message); ?></p>
                <button data-dismiss="alert" class="dismiss" type="button">x</button>
            </div>
        <?php endforeach; ?>

        <?php echo $this->partial('users/order/product.phtml', 'admin', $this); ?>

        <div class="clear"></div>

        <div class="row-fluid">
            <?php echo $this->partial('users/order/seller.phtml', 'admin', $this); ?>
            <?php echo $this->partial('users/order/buyer.phtml', 'admin', $this); ?>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>