<div class="container-fluid" id="container"> 

    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

    <div class="mainContent" id="messages"> 
        <div id="user-actions"> 
            <?php echo $this->partial('user_block.phtml', 'admin', $this); ?>

            <?php echo $this->partial('users/navigation_block.phtml', 'admin', $this); ?>

            <div class="clear"></div>

            <?php if ($this->products->getSize() > 0) : ?>
                <div id="inbox" class="one-user-table">
                    <table>
                        <tr>
                            <th class="use-rname"></th>
                            <th class="prod-name">Product Name</th>
                            <th class="prod-name">Status</th>
                            <th class="ordr-date">Category</th>
                            <th class="prod-price">Price</th>
                            <th></th>
                        </tr>

                        <?php foreach ($this->products as $product) : ?>
                            <tr>
                                <td class="thmb-sales">
                                    <a href="<?php echo Ikantam_Url::getUrl('admin/view-product/index', array('id' => $product->getId())); ?>">
                                        <img style="width:57px; max-height: 57px;" src="<?php echo $this->escape($product->getMainImageUrl()); ?>" alt="slide-1" />
                                    </a>
                                </td>
                                <td class="prod-name">
                                    <a href="<?php echo Ikantam_Url::getUrl('admin/view-product/index', array('id' => $product->getId())); ?>">
                                        <?php echo $this->escape($product->getTitle()); ?>
                                    </a>
                                </td>
                                <td class="prod-name">
                                    <?php if ($product->getIsApproved()) : ?>
                                        <p style="color: #00AA00">Approved<p>
                                        <?php else : ?>
                                        <p style="color: #ff0000">Unapproved<p>
                                        <?php endif; ?>
                                </td>
                                <td class="ordr-date">
                                    <?php echo $this->escape($product->getCategory()->getTitle()); ?>
                                </td>
                                <td class="prod-price">
                                    <?php echo $this->currency($product->getPrice()); ?>
                                </td>
                                <td>
                                    <a href="<?php echo Ikantam_Url::getUrl('admin/edit-product/index/', array('id' => $product->getId())); ?>" class="ed-i-tem" style="color:#FF0000">
                                        Edit
                                    </a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </table>

                    <div class="clear"></div>

                    <?php if ($this->totalPages > 1) : ?>
                        <?php echo $this->partial('users/products/pagination.phtml', 'admin', $this); ?>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="clear"></div>