
<!-- container-fluid -->
<div class="container-fluid" id="container"> 

	<?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

	<!-- mainContent -->
	<div class="mainContent" id="messages"> 

		<!-- user-actions -->
		<div id="user-actions"> 
			<?php echo $this->partial('user_block.phtml', 'admin', $this); ?>
			
			<?php echo $this->partial('users/navigation_block.phtml', 'admin', $this); ?>

			<div class="clear"></div>

			<?php if ($this->products->getSize() > 0) : ?>
				<div id="inbox" class="one-user-table">
					<table>
						<tr>
							<th class="use-rname"></th>
							<th class="prod-name">Product Name</th>
							<th class="ordr-date">Category</th>
							<th class="prod-price">Price</th>
							<th>Seller</th>
						</tr>

						<?php foreach ($this->products as $item) : ?>
							<tr>
								<td class="thmb-sales">
									<a href="<?php echo Ikantam_Url::getUrl('admin/users/order', array('id' => $item->getId())); ?>">
										<img style="width:57px; max-height: 57px;" src="<?php echo $this->escape($item->getProduct()->getMainImageUrl()); ?>" alt="slide-1" />
									</a>
								</td>
								<td class="prod-name">
									<a href="<?php echo Ikantam_Url::getUrl('admin/users/order', array('id' => $item->getId())); ?>">
										<?php echo $this->escape($item->getProduct()->getTitle()); ?>
									</a>
								</td>
								<td class="ordr-date">
									<?php echo $this->escape($item->getProduct()->getCategory()->getTitle()); ?>
								</td>
								<td class="prod-price">
									<?php echo $this->currency($item->getProduct()->getPrice()); ?>
								</td>
								<td class="msg-date">
									<a href="<?php echo Ikantam_Url::getUrl('admin/users/view', array('id' => $item->getSeller()->getId())); ?>">
										<?php echo $this->escape($item->getSeller()->getFullName()); ?>
									</a>
								</td>
							</tr>
						<?php endforeach; ?>
					</table>
					<div class="clear"></div>

					<?php if ($this->totalPages > 1) : ?>
						<div class="pagination pagination-right">
							<ul>
								<?php if ($this->currentPage > 1) : ?>
									<li class="old-msgs">
										<a href="<?php echo Ikantam_Url::getUrl('admin/users/purchases', array('id' => $this->user->getId(), 'page' => $this->currentPage - 1)); ?>">
											<i></i>
										</a>
									</li>
								<?php endif; ?>

								<?php $start = ($this->currentPage - 2 > 0) ? $this->currentPage - 2 : 1; ?>
								<?php for ($i = $start; $i < $this->currentPage; $i++) : ?>
									<li>
										<a href="<?php echo Ikantam_Url::getUrl('admin/users/purchases', array('id' => $this->user->getId(), 'page' => $i)); ?>">
											<?php echo $i; ?>
										</a>
									</li>
								<?php endfor; ?>

								<li><a href="javascript:void(0);"><?php echo $this->currentPage; ?></a></li>

								<?php for ($i = $this->currentPage + 1; $i <= $this->totalPages; $i++) : ?>
									<li>
										<a href="<?php echo Ikantam_Url::getUrl('admin/users/purchases', array('id' => $this->user->getId(), 'page' => $i)); ?>">
											<?php echo $i; ?>
										</a>
									</li>
								<?php endfor; ?>

								<?php if ($this->currentPage < $this->totalPages) : ?>
									<li class="new-msgs">
										<a href="<?php echo Ikantam_Url::getUrl('admin/users/purchases', array('id' => $this->user->getId(), 'page' => $this->currentPage + 1)); ?>">
											<i></i>
										</a>
									</li>
								<?php endif; ?>
							</ul>
						</div>
					<?php endif; ?>
				</div>
			<?php endif; ?>

		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>