<div class="main-container push-header">
    <div class="main-row">
        <?php echo $this->partial('static_sidebar.phtml', array('current_controller' => 'about')); ?>

        <div class="aptcol-sm-9 main apt-blog" break-col="md">
            <div class="apt-posts">
                <h2 class="apt-title page"> <?php echo $this->escape($this->title); ?></h2>
                <article class="the-post">
                    <?php echo str_replace('&nbsp;', '<br>', $this->content); ?>
                </article>
            </div>
        </div>
    </div>
</div>