<!-- container -->
<div class="container-fluid" id="container"> 

    <!-- checkout -->
    <div class="checkout">
        <h2>Checkout</h2>

        <?php echo $this->partial('checkout_sidebar.phtml', 'checkout', $this); ?>
        
        <!-- checkout -->
        <div id="checkout">
            <?php echo $this->partial('checkout_process.phtml', 'checkout', $this); ?>

            <?php if ($this->session->getMessages('error') || $this->session->getMessages('success')) : ?>
                <div class="alert">
                    <?php foreach ($this->session->getMessages('error') as $message) : ?>
                        <p style="padding:0;margin:0;"><?php echo $message; ?></p>
                    <?php endforeach; ?>

                    <?php foreach ($this->session->getMessages('success') as $message) : ?>
                        <p style="padding:0;margin:0;"><?php echo $message; ?></p>
                    <?php endforeach; ?>
                </div>
            <?php else : ?>
                <div class="alert" style="display: none;"></div>
            <?php endif; ?>


            <!-- shipping-address -->
            <div class="shipping-address">
                <h3>Shipping Address</h3>

                <?php foreach ($this->addresses as $address) : ?>
                    <!-- user-address -->
                    <div class="user-address">
                        <a href="javascript:void(0);" onclick="setShippingAddress('<?php echo $address->getFullName(); ?>', '<?php echo $address->getAddressLine1(); ?>', '<?php echo $address->getAddressLine2(); ?>', '<?php echo $address->getCity(); ?>', '<?php echo $address->getState(); ?>', '<?php echo $address->getPostcode(); ?>', '<?php echo $address->getCountryCode(); ?>', '<?php echo $address->getPhoneNumber(); ?>')">Use this address <i></i> </a>
                        <a href="javascript:void(0);" onclick="removeAddress('<?php echo $address->getId(); ?>', this);" class="remove-address"><i></i></a>

                        <p>
                            <?php echo $address->getFullName(); ?>
                            <br />
                            <?php if ($address->getPhoneNumber()) : ?>
                                <?php echo $address->getPhoneNumber(); ?>
                                <br />
                            <?php endif; ?>
                            
                            <?php echo $address->getAddressLine1(); ?> <?php echo $address->getAddressLine2(); ?>
                            <br>
                            <?php echo $address->getCity(); ?> <?php echo $address->getState(); ?> <?php echo $address->getPostcode(); ?>
                            <br>
                            <?php echo $address->getCountryCode(); ?>
                        </p>

                    </div>
                    <!--/ user-address -->
                <?php endforeach; ?>

            </div>
            <!--/ shipping-address -->


            <!-- shipping-form --> 
            <form class="form-horizontal" id="shipping-form" action="<?php echo Ikantam_Url::getUrl('checkout/shipping-address/post'); ?>" method="post">
                <!-- Full Name -->


                <div class="control-group<?php if ($this->session->getFormErrors('full_name')) : ?> error<?php endif; ?>">
                    <label class="control-label" for="full-name">Full Name:</label>
                    <div class="controls">
                        <input type="text" name="full_name" id="shipping-full-name" placeholder="" value="<?php echo $this->session->getFormData('full_name'); ?>" />
                    </div>
                </div>
                <!--/ Full Name -->

                <!-- Address Line1 -->
                <div class="control-group<?php if ($this->session->getFormErrors('address_line1')) : ?> error<?php endif; ?>">
                    <label class="control-label" for="address-line-1">Address Line1:</label>
                    <div class="controls">
                        <input type="text" name="address_line1" id="address-line-1" placeholder="" value="<?php echo $this->session->getFormData('address_line1'); ?>" />
                        <span class="help-block">Street address, P.O. box, company name, c/o</span>
                    </div>
                </div>
                <!--/ Address Line1 -->

                <!-- Address Line2 -->
                <div class="control-group">
                    <label class="control-label" for="address-line-2">Address Line2:</label>
                    <div class="controls">
                        <input type="text" name="address_line2" id="address-line-2" placeholder="" value="<?php echo $this->session->getFormData('address_line2'); ?>" />
                        <span class="help-block">Apartment, suite, unit, building, floor, etc.</span>
                    </div>
                </div>
                <!--/ Address Line2 -->

                <!-- City -->
                <div class="control-group<?php if ($this->session->getFormErrors('city')) : ?> error<?php endif; ?>">
                    <label class="control-label" for="shipping-city">City:</label>
                    <div class="controls">
                        <input type="text" name="city" id="shipping-city" placeholder="" value="<?php echo $this->session->getFormData('city'); ?>" />
                    </div>
                </div>
                <!--/ City -->

                <!-- State/Province/Region -->
                <div class="control-group<?php if ($this->session->getFormErrors('state')) : ?> error<?php endif; ?>">
                    <label class="control-label" for="shipping-state">State/Province/Region:</label>
                    <div class="controls">
                        <input type="text" name="state" id="shipping-state" placeholder="" value="<?php echo $this->session->getFormData('state'); ?>" />
                    </div>
                </div>
                <!--/ State/Province/Region -->             
                

          

                <!-- ZIP -->
                <div class="control-group<?php if ($this->session->getFormErrors('postcode')) : ?> error<?php endif; ?>">
                    <label class="control-label" for="shipping-zip">ZIP:</label>
                    <div class="controls">
                        <input type="text" name="postcode" id="shipping-zip" placeholder="" value="<?php echo $this->session->getFormData('postcode'); ?>" />
                    </div>
                </div>
                <!--/ ZIP -->

                <!-- Country -->
                <div class="control-group<?php if ($this->session->getFormErrors('country_code')) : ?> error<?php endif; ?>">
                    <label class="control-label" for="shipping-country">Country:</label> 
                    <div class="controls">

                        <?php $collection = array('US' => 'United States', 'CA' => 'Canada'); ?>
                        <select name="country_code" id="shipping-country">
                            <option value="0">-- Select Country --</option>
                            <?php foreach ($collection as $code => $name) : ?>

                                <option value="<?php echo $code; ?>"><?php echo $name; ?></option>

                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <!--/ Country -->
                
                
          <!-- @new phone -->
          <div class="ad-dress">
			<h3>Please enter your phone number</h3>
			<p>
			Your phone number is secure and not available to anyone except the site adminstration. It can only be used to clarify detailed of your order.
			</p>
	    </div>
          <div class="control-group<?php if ($this->session->getFormErrors('phone')) : ?> error<?php endif; ?>">
		  <label class="control-label" for="phone"><i class="key"></i> Phone</label>
            <div class="controls" style="width: 190px">
              <input id="shipping-phone" type="text" placeholder="(___) ___ ____" class="numb-format verify-ur-phone" name="phone" />
            </div>
          </div>
          <!--/  @new phone -->                 


            </form>
            <!--/ shipping-form --> 


            <div class="clear"></div>

            <div class="buttons-block">
                <button onclick="$('#shipping-form').submit();" class="btn">Continue <i></i></button>
            </div>

        </div>
        <!--/ #checkout -->

    </div>
    <!--/ .checkout -->

    

</div>
<!--/ container -->

<div class="clear"></div>

<script>
    function removeAddress(addressId, element)
    {
        jQuery.ajax({
            type: "post",
            url: "<?php echo Ikantam_Url::getUrl('user/profile/delete-address'); ?>",
            data: {id : addressId},
            success: function(data) {
                data = JSON.parse(data);

                if (data.success) {
                    $(element).parent().fadeOut('slow');
                }
            },
            cache: false,  
            timeout: 5000,  
            beforeSend: function()
            {
                //inProcess = true;
                //showOverlay();
            },
            error: function()  
            {  
                //alert("error");
            },  
            complete: function()  
            { 
                //inProcess = false;
                //setTimeout(hideOverlay, 300);
            } 
        });
    }
    
     function setShippingAddress(FullName, AddressLine1, AddressLine2, City, State, Postcode, CountryCode, PhoneNumber)
                {
                    jQuery("input#shipping-full-name").val(FullName);
                    jQuery("input#address-line-1").val(AddressLine1);
                    jQuery("input#address-line-2").val(AddressLine2);
                    jQuery("input#shipping-city").val(City);
                    jQuery("input#shipping-state").val(State);
                    jQuery("input#shipping-zip").val(Postcode);
                    jQuery("select#shipping-country").val(CountryCode);
                    jQuery("input#shipping-phone").val(PhoneNumber);
                }
</script>