<?php foreach ($this->products as $product) : ?>
	<li onclick="location.href='<?php echo $product->getProductUrl(); ?>';">
		<a href="<?php echo $product->getProductUrl(); ?>">
			<img style="width:50px;height:50px;" alt="<?php echo $product->getTitle(); ?>" src="<?php echo $product->getMainImageUrl(); ?>">
		</a>
		<p style="font-size:1em;"><a style="font-size:14px;color:#000;" href="<?php echo $product->getProductUrl(); ?>"><?php echo $product->getTitle(); ?></a></p>
	</li>
<?php endforeach; ?>
