	
<div class="container-fluid" id="container">
    <button type="button" class="filter-by hidden-desktop">Filter by <i></i></button>

    <!-- sidebar -->
    <div id="sideWrapper">
        <aside id="sidebar" class="floatedSide">
            <h2 class="search-found">Search: <?php echo $this->escape($this->query); ?></h2>
            <button type="button" class="filter-title cats">Filter by <i></i></button>

            <button type="button" class="closeSidebar"></button>
            <a href="javascript:void(0);" onclick="clearAll();" class="clearall">Clear all</a> 

            <!-- accordion -->
            <div id="accordion">
                <?php echo $this->partial('search/filter_sidebar.phtml', 'default', $this); ?>
            </div>    <!--/ accordion -->

        </aside>  <!--/ sidebar -->
    </div>    <!--/ sidebarWrapper --> 

    <div class="mainContent" id="category">
        <div class="sorting">
            <button id="order-by-price" onclick="updateOrder(this)" class="defPrices">Price         <i></i></button>
            <button id="order-by-rating" onclick="updateOrder(this)" class="defRating">Seller Rating <i></i></button>
            <button id="order-by-date" onclick="updateOrder(this)"   class="defDate">Newest / Oldest<i></i></button>
        </div>
        <?php echo $this->partial('search/search_items.phtml', 'default', $this); ?>
    </div>

</div>
<!--/ container-fluid -->
<div class="clear"></div>

<script>

                var currentPage = 2;
                var inProcess = false;


                function loadProducts()
                {
                    if (inProcess) {
                        return;
                    }
                    jQuery.ajax({
                        type: "get",
                        url: "<?php echo Ikantam_Url::getUrl('search/ajax'); ?>" + "/page/" + currentPage,
                        data: jQuery("#search-filter").serialize(),
                        success: function(data) {
                            data = JSON.parse(data);

                            if (data.success) {
                                if (data.template) {
                                    var items = $(data.template);

                                    $(items).each(function() {
                                        if ($(this).prop('tagName')) {
                                            $('#category').append($(this));
                                            $(this).hide().fadeIn(2000);
                                        }
                                    });

                                    currentPage++;
                                }
                            }
                        },
                        cache: false,
                        timeout: 30000,
                        beforeSend: function()
                        {
                            inProcess = true;
                            showOverlay();
                        },
                        error: function()
                        {
                            //alert("error");
                        },
                        complete: function()
                        {
                            inProcess = false;
                            setTimeout(hideOverlay, 300);
                        }
                    });
                }

                function showOverlay()
                {
                    $(".loader-overlay, .loader-container").show();
                }

                function hideOverlay()
                {
                    $(".loader-overlay, .loader-container").fadeOut('slow');
                }

                $(window).scroll(function() {

                    if ($(window).scrollTop() + $(window).height() == $(document).height()) {

                        if (inProcess) {
                            return;
                        }

                        loadProducts();

                        return false;
                    }
                });

</script>

<div class="loader-overlay"></div>
<div class="loader-container"><img src="<?php echo Ikantam_Url::getPublicUrl('images/up.gif'); ?>" /></div>