<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(".addItemcolor.ttip").each(function() {
            jQuery(this).attr("data-tooltip", jQuery(this).children("div").children("input[type=checkbox]").prop("title"));
        });

        var ttContent = '<div class="ttip-content"></div>';

        $('html').append(ttContent);

        $('.ttip').each(function() {
            var $this = $(this);
            $this.hover(function() {
                var _Attr = $this.attr('data-tooltip');
                if ($(this).attr('data-tooltip') == "" || typeof ($(this).attr('data-tooltip')) === "undefined") {
                    $(".ttip-content").hide();
                } else {
                    $(".ttip-content").html(_Attr).show();
                }

            }, function() {
                $(".ttip-content").hide();
            });
        });

        $(document).mousemove(function(event) {
            var mx = event.pageX - 15,
                    my = event.pageY + 20;
            $(".ttip-content").css({
                "left": mx + "px",
                "top": my + "px"
            });
        });
    });
</script>

<script type="text/javascript">
    jQuery('.aptdeco-styled-checkbox').iCheck({
        checkboxClass: 'icheckbox_flat-aptdeco'
    });
    
    if (jQuery("input[name='only_available']").val() == true) {
        jQuery("#toggle-only-available").iCheck('check');
    }
//------------------
    $('body').on('mousedown', '.gallery-images', function() {

        location.hash = 'history_page=' + window.currentPage + '&' + 'item=' + $(this).index() + '&' + jQuery("#search-filter").serialize();
    });
    
    var currentPage = 1,
            inProcess = false,
            hash = window.location.hash,
            page,
            onePrevent = false,
            lastClickedSelector,
            iHashUri = iKantam.getModule('hash_uri'),
            hashObject = iHashUri.key('*');

    if (hash) {

//restore filter

        for (var key in hashObject) {
            var value = hashObject[key],
                    i = 0,
                    max;

            switch (key) {
                case 'categories[]':

                    max = value.length;
                    for (; max--; ) {
                        $('input[name="categories[]"][value="' + value[max] + '"]')
                                .attr('checked', 'checked')
                                .closest('.check-box')
                                .addClass('checkedBox');

                        $('#clear-styles').css('visibility', 'visible');
                    }
                    break;

                case 'conditions[]':

                    max = value.length;
                    for (; max--; ) {
                        $('input[name="conditions[]"][value="' + value[max] + '"]')
                                .attr('checked', 'checked')
                                .closest('.check-box')
                                .addClass('checkedBox');

                        $('#clear-conditions').css('visibility', 'visible');
                    }
                    break;

                case 'colors[]':

                    max = value.length;
                    for (; max--; ) {
                        $('input[name="colors[]"][value="' + value[max] + '"]')
                                .attr('checked', 'checked')
                                .closest('.picolors')
                                .addClass('pickedColors');

                        $('#clear-colors').css('visibility', 'visible');
                    }
                    break;


                case 'order_price':

                    if (value !== '' && value !== undefined) {
                        $('input[name="order_price"]').val(value);

                        if (value == 'asc') {
                            $('#order-by-price').removeClass('defPrices').addClass('highPrices');
                        } else
                        {
                            $('#order-by-price').removeClass('defPrices').addClass('lowPrices');
                        }
                    }
                    break;

                case 'order_rating':

                    if (value !== '' && value !== undefined) {
                        $('input[name="order_rating"]').val(value);

                        if (value == 'asc') {
                            $('#order-by-rating').removeClass('defRating').addClass('highRating');
                        } else
                        {
                            $('#order-by-rating').removeClass('defRating').addClass('lowRating');
                        }
                    }
                    break;

                case 'order_date':

                    if (value !== '' && value !== undefined) {
                        $('input[name="order_date"]').val(value);

                        if (value == 'desc') {
                            $('#order-by-date').removeClass('defDate').addClass('newestDate');
                        } else
                        {
                            $('#order-by-date').removeClass('defDate').addClass('oldestDate');
                        }
                    }
                    break;

                case 'min_price':

                    var $slider = $("#slider"),
                            min = $slider.slider('option', 'min');

                    $slider.slider("values", 0, value);
                    $('input[name="min_price"]').val(value);

                    if (value != min)
                        $('#clear-prices').css('visibility', 'visible');
                    break;

                case 'max_price':

                    var $slider = $("#slider"),
                            max = $slider.slider('option', 'max');

                    $slider.slider("values", 1, value);
                    $('input[name="max_price"]').val(value);

                    if (value != max)
                        $('#clear-prices').css('visibility', 'visible');
                    break;

                default:
                    break;

            }

        }

        page = parseInt(iHashUri.key('history_page'));
        lastClickedSelector = '.gallery-images:nth-child(' + iHashUri.key('item') + ')';

        if (typeof page === 'number' && page !== NaN) {
            $('.gallery-images').remove();
            loadProducts(null, page);

            currentPage = page;

        }
    }

//-----------------
    function loadProducts(url, current)
    {
        if (inProcess) {
            return;
        }
        
        window.currentPage = current;
        if (!url) { 
            if(current){
                url = "<?php echo Ikantam_Url::getUrl('search/ajax'); ?>" + "/page/" + current;
            }else{
                url = "<?php echo Ikantam_Url::getUrl('search/ajax', array('page' => 1)); ?>";
            }
        }
        
        jQuery.ajax({
            type: "get",
            url: url,
            data: jQuery("#search-filter").serialize(),
            success: function(data) {
                data = JSON.parse(data);

                if (data.success) {
                    if (data.template) {
                        var items = $(data.template);
                        
                        $('.items').html('');
                        $(items).each(function() {
                            if ($(this).prop('tagName')) {
                                $('.items').append($(this));
                                $(this).hide().fadeIn(2000);
                            }
                        });

                        //currentPage++;
                    }
                }
            },
            cache: false,
            timeout: 30000,
            beforeSend: function()
            {
                inProcess = true;
                showOverlay();
            },
            error: function()
            {
                //alert("error");
            },
            complete: function()
            {
                inProcess = false;
                setTimeout(hideOverlay, 300);
            }
        });
    }

    function showOverlay()
    {
        $(".loader-overlay, .loader-container").show();
    }

    function hideOverlay()
    {
        $(".loader-overlay, .loader-container").fadeOut('slow');
    }

    /*$(window).scroll(function() {

        if ($(window).scrollTop() + $(window).height() == $(document).height()) {

            if (inProcess) {
                return;
            }

            loadProducts();

            return false;
        }
    });*/

    //reload products when category checked/unchecked, note the event name
    jQuery("input[name='categories[]']").on("ifChanged", function() {
        if (jQuery("input[name='categories[]']:checked").size() > 0) {
            jQuery("#clear-styles").css("visibility", "visible");
        } else {
            jQuery("#clear-styles").css("visibility", "hidden");
        }
        setTimeout("reloadProducts()", 200);
    });

    //show "Clear" button if category selected
    if (jQuery("input[name='categories[]']:checked").size() > 0) {
        $("#clear-styles").css("visibility", "visible");
    }

    //reload products when condition checked/unchecked, note the event name
    jQuery("input[name='conditions[]']").on("ifChanged", function() {
        if (jQuery("input[name='conditions[]']:checked").size() > 0) {
            $("#clear-conditions").css("visibility", "visible");
        } else {
            $("#clear-conditions").css("visibility", "hidden");
        }
        setTimeout("reloadProducts()", 200);
    });

    //show "Clear" button if condition selected
    if (jQuery("input[name='conditions[]']:checked").size() > 0) {
        $("#clear-conditions").css("visibility", "visible");
    }

    //reload products when brand checked/unchecked, note the event name
    jQuery("input[name='brands[]']").on("ifChanged", function() {
        if (jQuery("input[name='brands[]']:checked").size() > 0) {
            $("#clear-brands").css("visibility", "visible");
        } else {
            $("#clear-brands").css("visibility", "hidden");
        }
        setTimeout("reloadProducts()", 200);
    });
    
    //reload products when "Show only available items" checked/unchecked, note the event name
    jQuery("#toggle-only-available").on("ifChanged", function() {
        if (jQuery("#toggle-only-available").prop("checked")) {
            jQuery("input[name='only_available']").val('1');
        } else {
            jQuery("input[name='only_available']").val('0');
        }
        
        setTimeout("reloadProducts()", 200);
    });

    //show "Clear" button if brand selected
    if (jQuery("input[name='brands[]']:checked").size() > 0) {
        $("#clear-brands").css("visibility", "visible");
    }

    //reload products when color checked/unchecked
    jQuery("input[name='colors[]']").on("change", function() {
        if (jQuery("input[name='colors[]']:checked").size() > 0) {
            $("#clear-colors").css("visibility", "visible");
        } else {
            $("#clear-colors").css("visibility", "hidden");
        }
        setTimeout("reloadProducts()", 200);
    });

    //show "Clear" button if color selected
    if (jQuery("input[name='colors[]']:checked").size() > 0) {
        $("#clear-colors").css("visibility", "visible");
    }



    function reloadProducts()
    {
        currentPage = 1;
        $(".main .gallery-images").remove();
        $(".main .nothing-found").remove();
        loadProducts();
    }

    function clearPrice()
    {
        jQuery("input[name='min_price']").val("<?php echo $this->selectedMinPrice; ?>");
        jQuery("input[name='max_price']").val("<?php echo $this->selectedMaxPrice; ?>");
        $("#clear-prices").css("visibility", "hidden");
        reloadProducts();
    }

    function clearColor()
    {
        $("input[name='colors[]']").each(function() {
            $(this).attr("checked", false);
            $(this).parent().removeClass("pickedColors");
        });
        $("#clear-colors").css("visibility", "hidden");
        reloadProducts();
    }

    function clearBrand()
    {
        $("input[name='brands[]']:checked").each(function() {
            $(this).iCheck('uncheck');
        });
        $("#clear-brands").css("visibility", "hidden");
        reloadProducts();
    }

    function clearStyle()
    {
        $("input[name='categories[]']:checked").each(function() {
            $(this).iCheck('uncheck');
        });
        $("#clear-styles").css("visibility", "hidden");
        reloadProducts();
    }

    function clearCondition()
    {
        $("input[name='conditions[]']:checked").each(function() {
            $(this).iCheck('uncheck');
        });
        $("#clear-conditions").css("visibility", "hidden");
        reloadProducts();
    }

    function clearAll()
    {
        $("input[name='colors[]']").each(function() {
            $(this).attr("checked", false);
            $(this).parent().removeClass("pickedColors");
        });
        $("#clear-colors").css("visibility", "hidden");

        $("input[name='brands[]']:checked").each(function() {
            $(this).iCheck('uncheck');
        });
        $("#clear-brands").css("visibility", "hidden");

        $("input[name='categories[]']:checked").each(function() {
            $(this).iCheck('uncheck');
        });
        $("#clear-styles").css("visibility", "hidden");

        $("input[name='conditions[]']:checked").each(function() {
            $(this).iCheck('uncheck');
        });
        $("#clear-conditions").css("visibility", "hidden");
        
        clearPrice();
    }

    jQuery("input[name='min_price']").on("change", function() {
        $("#clear-prices").css("visibility", "visible");
        reloadProducts();
    });

    jQuery("input[name='max_price']").on("change", function() {
        $("#clear-prices").css("visibility", "visible");
        reloadProducts();
    });
</script>