<?php $i    = 1; ?>
<?php $next = ceil($this->maxLinkPage / 2); ?>

<?php if (($this->currentPage - $next) > 0) : ?>
    <?php $i   = $this->currentPage - ($next - 1); ?>
    <?php $max = ($i - 1) + $this->maxLinkPage; ?>

    <?php if ($max >= $this->maxCountPage) : ?>
        <?php $i                 = $this->maxCountPage - ($this->maxLinkPage - 1); ?>
        <?php $this->maxLinkPage = $this->maxCountPage; ?>
    <?php else : ?>
        <?php $this->maxLinkPage = $max; ?>
    <?php endif; ?>

<?php endif; ?>


<?php if ($this->maxCountPage > 1) : ?>

    <?php if ($this->category) : ?>
        <?php $route  = 'category/index/ajax'; ?>
        <?php $params = array('id' => $this->category->getId()); ?>
    <?php elseif ($this->collection) : ?>
        <?php $route  = 'catalog/collection/ajax'; ?>
        <?php $params = array('id' => $this->collection->getId()); ?>
    <?php elseif ($this->manufacturer) : ?>
        <?php $route  = 'catalog/brand/ajax'; ?>
        <?php $params = array('id' => $this->manufacturer->getId()); ?>
    <?php elseif ($this->search) : ?>
        <?php $route  = 'search/ajax'; ?>
        <?php $params = array(); ?>
    <?php endif; ?>

    <div class="pagination pagination-custom pagination-right" id="num-pages">
        <ul>
            <?php if ($this->currentPage > 1) : ?>
                <?php $url = Ikantam_Url::getUrl($route, $params + array('page' => $this->currentPage - 1)); ?>
                <li><a href="#" data-page="<?php echo $this->currentPage - 1; ?>" data-link="<?php echo $url; ?>">Previous</a></li>
            <?php endif; ?>

            <?php for ($i; $i <= $this->maxLinkPage; $i++): ?>
                <?php $url = Ikantam_Url::getUrl($route, $params + array('page' => $i)); ?>

                <li>
                    <a href="#"<?php if ($i == $this->currentPage): ?> class="active"<?php endif; ?> data-page="<?php echo $i; ?>" data-link="<?php echo $url; ?>"><?php echo $i ?></a>
                </li>
            <?php endfor; ?>

            <?php if ($this->currentPage < $this->maxCountPage) : ?>
                <?php $url = Ikantam_Url::getUrl($route, $params + array('page' => $this->currentPage + 1)); ?>
                <li><a href="#" data-page="<?php echo $this->currentPage + 1; ?>" data-link="<?php echo $url; ?>">Next</a></li>
            <?php endif; ?>

        </ul>
    </div>

<?php endif; ?>