<div class="items">
    <?php foreach ($this->products as $product) : ?>
        <?php /* @var $product Product_Model_Product */ ?>
        <?php $cache       = Zend_Registry::get('output_cache'); ?>
        <?php $cachePrefix = Zend_Registry::get('config')->cachePrefix; ?>
        <?php $cacheId     = $cachePrefix . 'search_item_' . $product->getId(); ?>

        <?php if (!($cache->start($cacheId))) : ?>
            <?php $seller = $product->getSeller(); ?>

            <div class="gallery-images">
                <div class="item-image">
                    <?php if ($product->getIsSold()) : ?>
                        <span class="sale_marker">
                            Sold
                        </span>
                    <?php elseif ($expTime = $product->getExpiryDateTime()) : ?>
                        <?php if ($expTime > strtotime('+2 days') && $expTime < strtotime('+3 days')) : ?>
                            <span class="sale_marker">
                                3 days left
                            </span>
                        <?php elseif ($expTime > strtotime('+1 day') && $expTime < strtotime('+2 days')) : ?>
                            <span class="sale_marker">
                                2 days left
                            </span>
                        <?php elseif ($expTime > time() && $expTime < strtotime('+1 day')) : ?>
                            <span class="sale_marker">
                                1 day left
                            </span>
                        <?php elseif ($expTime < time()) : ?>
                            <span class="sale_marker end">
                                Sale Ended
                            </span>
                        <?php endif; ?>

                        <?php if ($product->getIsVerified()) : ?>
                            <a title="This product has been verified by an AptDeco Team member for authenticity and quality." target="_blank" href="<?php echo Ikantam_Url::getUrl('aptdeco-verified/index') ?>">
                                <i class="apt-i-variation verified stick tr"></i>
                            </a>
                        <?php endif; ?>
                    <?php endif; ?>

                    <a href="<?php echo $this->escape($product->getProductUrl()); ?>">
                        <img src="<?php echo $this->escape($product->getMainImage()->getS3Url(360, 300, 'frame')); ?>" alt="<?php echo $this->escape($product->getTitle()); ?>" />
                    </a>

                    <?php if ($shippingLabel = $product->getShippingOfferLabel()): ?>
                        <span class="item-shipping free">
                            <i class="apt-i-delv-car"></i>
                            <?php echo $shippingLabel; ?>
                        </span>
                    <?php endif; ?>


                </div>

                <figcaption>
                    <p class="item-price-n-name truncate"> 
                        <a title="<?php echo $this->escape($product->getTitle()); ?>" href="<?php echo $this->escape($product->getProductUrl()); ?>">
                            <?php echo $this->escape($product->getTitle()); ?>
                        </a> 

                        <br />
                        <?php if ($product->isReducedPrice()): ?>
                            <small class="price-tag is-reduced m-r5"><strong>Reduced</strong></small>
                        <?php endif ?>
                        <span><?php echo $this->currency($product->getPrice()); ?></span>

                        <?php if ($product->getOriginalPrice()) : ?>
                        <strike class="text-mute m-l7">
                            <small><?php echo $this->currency($product->getOriginalPrice()); ?></small>
                        </strike>
                    <?php endif; ?>
                    </p>

                    <p class="useRating"> 
                        <a title="<?php echo $this->escape($seller->getFirstName()); ?>" href="<?php echo $this->escape($seller->getProfileUrl()); ?>">
                            <img src="<?php echo $this->escape($seller->getAvatarUrl()); ?>" alt="<?php echo $this->escape($seller->getFirstName()); ?>" />
                        </a> 

                        <?php for ($i = 0; $i < $seller->getRating(); $i++) : ?>
                            <span class="star"></span>
                        <?php endfor; ?>
                    </p>
                </figcaption>
            </div>

            <?php $cache->end(array('search_items'), 86400); ?>
        <?php endif; ?>
    <?php endforeach; ?>
    
    <?php if ($this->appendHeader === true) : ?>
        <div class="clearfix"></div>
        <div class="add-alert callout-box highlight m-t30 text-center product-alert">
            <div class="center-it clearfix">
                <div class="ico-col"><i class="apt-i-bell top-13"></i></div>
                <div class="cont-col">
                    <h2>Looking for a specific product? <a href="javascript:void()" onclick="showProductAlertPopup('<?php echo $this->getUrl('product/alert/popup', $this->params) ?>')">Sign up to get an alert</a>.</h2>
                    <p>We will send you an email alert as soon as a new product that matches your criteria is added.</p>
                </div>
            </div>
        </div>
    <?php endif; ?>
 
    <div class="clear"></div>

    <?php echo $this->partial('search/pagination.phtml', 'default', $this); ?>
    
</div>

<script>
    $(document).ready(function() {
        $('a', '#num-pages').on('click', '', function() {
            loadProducts($(this).attr('data-link'), $(this).attr('data-page'));
        });
    });
</script>