<div class="container-fluid" id="container">  
    <?php echo $this->partial('sidebar.phtml', 'admin'); ?>	
    <!-- mainContent -->
    <div class="mainContent" id="messages"> 

        <!-- user-actions -->
        <div id="user-actions">
            <h2>Manage "As Seen In" Widget</h2>
        </div>
        <!--/ user-actions -->
        <div class="clear"></div>

        <!-- home page config -->
        <div id="inbox" class="super-table hpage-config">

            <?php echo $this->form; ?>

            <hr>

            <?php foreach ($this->items as $item) : ?>
                <div style="float: left; width: 280px; border:1px solid #999;padding:10px; margin:10px;height: 400px;">
                    <h4>Page URL: <?php echo $item->getPageUrl(); ?></h4>
                    <h4>Title: <?php echo $item->getTitle(); ?></h4>
                    <h4>Sort Order: <?php echo $item->getSortOrder(); ?></h4>

                    <div style="width: 200px; height: 200px;">
                        <img style="max-width: 200px; max-height: 200px" src="<?php echo $item->getImageUrl(); ?>" />
                    </div>

                    <br>

                    <div style="text-align:right;">
                        <a href="<?php echo Ikantam_Url::getUrl('admin/widgets/remove-widget', array('id' => $item->getId())); ?>">Delete</a>
                    </div>
                </div>
            <?php endforeach; ?>

            <div class="clear"></div>


        </div>

    </div>
</div>