<div class="subscribe-overlay">
    <div class="subscribe-window">
        <div class="close-butt"></div>
        <div class="title">
            Get Insider Access
        </div>
        <p>Be the first to know about exclusive offers &amp; latest preowned furniture additions on AptDeco. Add your email to get insider updates.</p>
        <form id="form_subscribe">
            <div class="control-group">
                <div class="contrl">
                    <input style="width: 62%  !important;" type="email" id="input_subscribe_email" name="email" <?php if ($this->email): ?>value="<?php echo $this->email; ?>"<?php endif; ?> placeholder="Your e-mail" class="pull-left" >
                    <input type="submit" id="button_subscribe" class="yellow-butt pull-left" value="Subscribe">
                </div>
            </div>
            <div class="clear"></div>
            <p class="small-size">By signing up you agree to our <a href="<?php echo Ikantam_Url::getUrl('terms/index'); ?>">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
        </form>
    </div>
</div> 
