<div class="subscribe-overlay">
		<div class="subscribe-window succsess" style="display: block;">
        	<div class="close-butt"></div>
        	<div class="title">
            	<span>Success!</span>
            </div>
            <p class="thanks-message">Thanks for subscribing!<br> You'll be the first to know about exclusive offers &amp; latest preowned furniture additions on AptDeco.</p>
        </div>
</div>