<?php use \Conversation_Model_Conversation_Message_Invalid as Message; ?>
<div class="container-fluid" id="container">
    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

    <div class="mainContent static-content" id="messages" style="min-height: 350px;">    
        <div class="table-cntainer"> 
            <div id="inbox" class="users-table">
                <table>
                    <tbody>
                        <tr>
                            <th class="use-rname">Author ID</th>
                            <th class="active-prods">Text</th>
                            <th>Subject</th>
                            <th>Created</th>
                        </tr>

                        <?php foreach ($this->messages as $message): ?>   
                            <tr>
                                <td class="use-rname">
                                    <?php echo $this->escape($message->getFrom()); ?>
                                </td>

                                <td class="active-prods">
                                    <?php echo Message::highlightBbCoded($this->escape($message->getBbCoded('text'))); ?>
                                </td>      

                                <td>
                                    <p class="use-r-ole">
                                        <?php echo Message::highlightBbCoded($this->escape($message->getBbCoded('subject'))); ?>
                                    </p>
                                </td>

                                <td class="msg-date">
                                    <?php echo date('m.d.Y g:i A', $message->getCreated()); ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
                <div class="clear"></div>

                <?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml'); ?>
            </div>        
        </div>
    </div>

    <div class="clear"></div>
</div>