<?php //EMAIL_TEMPLATE: RED ?>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AptDeco notification</title>
    </head>
    <body>

        <div style="position: relative; background:#f5f5f5;padding: 0; background: linear-gradient(#f5f5f5 10.5%, #eeeeee 0%, #eee 35%, #f5f5f5 0%)" id="listing-declined">
            <div style="width: 690px; margin: 0 auto; background-color: #fff; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #666; line-height: 1.5;">
                <div style="height: 40px; padding: 0 17px; color: #fff; line-height: 40px; background-color: #DA5B29">
                    <span></span>
                    <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('user/login/index')) ?>" style="float: right; color: #fff;">Log in to My Account</a>
                </div>

                <div style="margin: 30px 20px;">
                    <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('')) ?>">
                        <img src="<?php echo Ikantam_Url::getPublicUrl('images/aptdeco-email-logo.png') ?>" alt="AptDeco" />
                    </a>
                </div>

                <div style="background: #f5f5f5; margin: 0 20px 0 20px; padding: 20px;">
                    Hi <?php echo $this->seller->getFirstName(); ?>, <br />

                    Thank you for posting your <?php echo $this->product->getTitle() ?> on AptDeco. <br />
                    <?php if ($this->reason):?>
                        <p>Upon careful review, we declined the posting for the following reason:</p>
                        <ul>
                            <li><?php echo $this->escape($this->reason); ?></li>
                        </ul>
                        <?php else: ?>
                        <p>Upon careful review, we declined the posting for one of the following reasons:</p>

                        <ul>
                            <li>Product condition or quality</li>
                            <li>Item category not supported by AptDeco (e.g. Mattresses, appliances,  electronics)</li>
                            <li>Incomplete listing information</li>
                            <li>Inadequate photos of the item</li>
                        </ul>
                    <?php endif;?>


                    <p>
                        At AptDeco, maintaining high standards for both buyers and sellers is our top priority. 
                        Our
                        <a href="<?php echo Ikantam_Url::getUrlWithGaParams(Ikantam_Url::getUrl('faq/index')); ?>" style="color: #B19046">
                            FAQs
                        </a> provide more information about our posting process.
                    </p>

                    <p>
                        If your item was declined for missing information or photos,
                        we're happy to review the item again once you've edited the posting.
                    </p>

                    <a href="<?php echo Ikantam_Url::getUrl('product/edit/' . $this->product->getId()); ?>"
                       style="color: #fff; font-size: 16px; font-family: arial, sans-serif; background-color: #DA5B29;
                       text-decoration: none;padding: 7.5px 16px; border-radius: 3px; margin: 10px 16px 0 0; display: inline-block;"> 
                        <strong style="font-weight: bold;">Edit Listing</strong> 
                    </a>
                </div>
                <div style="padding: 0 20px 20px 20px;">
                        <span style="font-family: arial, sans-serif; color: #999999; font-size: 12px;display: block; margin: 20px 0 0 0;">
                            Please respond to this email if you feel that you've received this notice in error or with any questions or feedback. <br />
                            <br />
                            Cheers, <br />
                            The AptDeco Team </span>
                </div>
            </div>
        </div>
    </body>
</html>
