<div class="container-fluid" id="container">
    
    <div class="mainContent">
                       
            <input type="text" class="form-field" id="search-product" name="query" placeholder="Search" autocomplete="off"/><span> (Please enter the product name or insert a link)</span>
        
        <div id="search-suggestions2" class="suggestions-list" style="display: none;">
            <ul></ul>
        </div>
    </div>
    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>
</div>
<div class="loader-overlay"></div>
<div class="loader-container"><img src="https://www.aptdeco.com/static/v/20/images/up.gif" /></div>
<?php $config = \Zend_Registry::get('config')->algolia; ?>

<script type="text/javascript">
     
$(function() {
    var idProducts = <?php echo $this->idProducts; ?>;
    Array.prototype.remove=function(s){
	for (i=0; i < this.length; i++){
		if (s == this[i]){
			this.splice(i, 1);
			--i;
		}
	}
    }  
    
    jQuery("#search-product").keyup(function() {
       
       jQuery.ajax({
            type: "get",
            url: "<?php echo Ikantam_Url::getUrl('admin/collections/ajax-Search-Products'); ?>",
            data: "search="+$(this).val(),
            dataType: 'json',
            success: function(data){
                
                if (data != null) {
                    
                $("#search-suggestions2 ul").html("");                    
                    for (var i = 0; i < data.length; ++i){
                        var li = jQuery("<li></li>");
                        var add = jQuery("<button style='float:right;' class='add-product btn btn-primary' data-add="+data[i].id+">Add</button>");
                        var del = jQuery("<button style='float:right;'class='delete-product btn btn-danger' data-delete="+data[i].id+">Delete</button>");
                        var p = jQuery("<p></p>", {"style": "font-size:1em;", "html": data[i].title});                  
                        
                        if(in_array(data[i].id, idProducts)){
                            $("#search-suggestions2 ul").append(li.append(p, del));
                        }else{
                            $("#search-suggestions2 ul").append(li.append(p, add));
                        }
                    }
                    if (data.length > 0) {
                        $("#search-suggestions2").slideDown();
                    } else {
                        $("#search-suggestions2").hide();
                    }
                } else {
                    $("#search-suggestions2 ul").html("");
                    $("#search-suggestions2").hide();
                }
                
            },
            cache: false,
            timeout: 30000,
            beforeSend: function()
            {
                inProcess = true;
                showOverlay();
            },
            error: function()
            {
                //alert("error");
            },
            complete: function()
            {
                inProcess = false;
                setTimeout(hideOverlay, 300);
            }
        });
       
    });
            
    
     function in_array(needle, haystack, strict) {  
	 
        var found = false, key, strict = !!strict;

        for (key in haystack) {
            if ((strict && haystack[key] === needle) || (!strict && haystack[key] == needle)) {
                found = true;
                break;
            }
        }

        return found;
    }
    

    function showOverlay()
    {
        $(".loader-overlay, .loader-container").show();
    }

    function hideOverlay()
    {
        $(".loader-overlay, .loader-container").fadeOut('slow');
    }
    
    $('#search-suggestions2 ul').on('click','.add-product',function(){
        
         jQuery.ajax({
            type: "get",
            url: "<?php echo Ikantam_Url::getUrl('admin/collections/ajax-add-product', array('collection' => $this->idCollection)); ?>/product/"+$(this).attr('data-add'),
            data: "{}",
            dataType: 'json',
            success: function(data){
                $('[data-add = '+data+']').parent('li').children('button').replaceWith("<button style='float:right;'class='delete-product btn btn-danger' data-delete="+data+">Delete</button>");
                idProducts.push(data);
                
                
            },
            cache: false,
            timeout: 30000,
            beforeSend: function()
            {
                inProcess = true;
                showOverlay();
            },
            error: function()
            {
                //alert("error");
            },
            complete: function()
            {
                inProcess = false;
                setTimeout(hideOverlay, 300);
            }
        });
        
    });
    
    $('#search-suggestions2 ul').on('click','.delete-product',function(){
        
         jQuery.ajax({
            type: "get",
            url: "<?php echo Ikantam_Url::getUrl('admin/collections/ajax-delete-product', array('collection' => $this->idCollection)); ?>/product/"+$(this).attr('data-delete'),
            data: "{}",
            dataType: 'json',
            success: function(data){
                $('[data-delete = '+data+']').parent('li').children('button').replaceWith("<button style='float:right;' class='add-product btn btn-primary' data-add="+data+">Add</button>");
                idProducts.remove(data);
                
                
            },
            cache: false,
            timeout: 30000,
            beforeSend: function()
            {
                inProcess = true;
                showOverlay();
            },
            error: function()
            {
                //alert("error");
            },
            complete: function()
            {
                inProcess = false;
                setTimeout(hideOverlay, 300);
            }
        });
        
    });
    
    });
    
   
</script>

