<div class="container-fluid" id="container">
    
    <div class="mainContent">
        <?php echo $this->form; ?>       
    </div>
    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>
</div>
