<div class="container-fluid" id="container">
    
    <div class="mainContent">
        <table class="table table-bordered">
            <tr class="success"><th>ID</th><th>Name</th><th>Page url</th><th>Status</th><th>Action</th></tr>
                <?php foreach($this->collections as $collection): ?>  
                <?php $collection= $collection->getData(); ?>
                <tr>
                    <td><?php echo $collection['id'] ?></td>
                    <td><?php echo $collection['name'] ?></td>
                    <td><?php echo $collection["page_url"] ?></td>
                    <td>
                        <?php if($collection["is_active"]): ?>
                            <span style="color:#00FF00">Active</span>
                        <?php else: ?>
                            <span style="color:#FF0000" >Deactive</span>
                        <?php endif; ?>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="<?php echo "/admin/collections/add-product/id/".$collection['id'] ?>">Add products</a>
                        <a class="btn btn-warning" href="<?php echo "/admin/collections/edit/id/".$collection['id'] ?>">Edit</a>
                        <a class="btn btn-danger" href="<?php echo "/admin/collections/delete/id/".$collection['id'] ?>">delete</a>
                    </td>
                </tr>               
            <?php endforeach; ?>
        </table>
        <a class="btn btn-primary" href="/admin/collections/add/">Add Collections</a>
    </div>
    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>
</div>

