<!-- intro-pattren -->
<div class="intro-pattren">
    <div class="container-fluid">
        <div class="title regi">
            <h1>Welcome to AptDeco!</h1>
            <?php /* <h3> <i></i> One more step to finish the registration</h3> */ ?>
        </div>

        <!-- Register -->
        <div id="sign-box">
            <form class="form-signin" id="sign-in" method="post" action="<?php echo Ikantam_Url::getUrl('registration/post') ?>">
                <h2>Registration</h2>

                <?php foreach ($this->session->getMessages('error-signup') as $message) : ?>
                    <p class="invalid"><i></i><?php echo $message; ?></p>
                <?php endforeach; ?>

                <a href="<?php echo $this->fbUrl; ?>" class="fb-sign"> <i></i>Sign up with Facebook</a>

                <div class="or"><p>OR</p></div>

                <div class="clear"></div>    

                <?php if ($msg = $this->session->getFormErrors('full_name')): ?>
                    <p class="invalid"><i></i><?php echo $msg; ?></p> 
                <?php endif; ?>           
                <input type="text" name="full_name" class="input-block-level" placeholder="Full name" value="<?php echo $this->session->getFormData('full_name'); ?>" />
                <?php if ($msg = $this->session->getFormErrors('email')): ?>
                    <p class="invalid"><i></i><?php echo $msg; ?></p>
                <?php endif; ?>           
                <input  type="email" name="email" class="input-block-level" placeholder="Email" value="<?php
                if (!$msg) {
                    echo $this->session->getFormData('email');
                }
                ?>"/>
                <?php if ($msg = $this->session->getFormErrors('password')): ?>
                    <p class="invalid"><i></i><?php echo $msg; ?></p>
                <?php endif; ?>           
                <input type="password" name="password" id="letterViewer" class="input-block-level" placeholder="Password" value="<?php
                       if ($this->session->getFormErrors('password_confirm') === User_Form_Registration::ERROR_PASSWORD_CONFIRMATION_EMPTY) {
                           echo $this->session->getFormData('password');
                       }
                       ?>" />
                <?php if ($msg = $this->session->getFormErrors('password_confirm')): ?>
                    <?php if (!$this->session->getFormErrors('password')): ?>           
                        <p class="invalid"><i></i><?php echo $msg; ?></p>
                    <?php endif; ?>                
                <?php endif; ?>           
                <input type="password" name="password_confirm"  class="input-block-level" placeholder="Confirm password" />
<?php if ($msg = $this->session->getFormErrors('terms')): ?> 
                    <p class="invalid"><i></i><?php echo $msg; ?></p>     
<?php endif; ?>           
                <!-- @new -->
                <div class="custom-checkboxs"> <div class="check-box"><input type="checkbox" name="terms" value="1"></div></div>
                <p class="checkbox">I agree to AptDeco's 
                    <a target="_blank" href="<?php echo Ikantam_Url::getUrl('terms/index'); ?>">terms of use</a>
                    and <a target="_blank" href="<?php echo Ikantam_Url::getUrl('privacy/index'); ?>">privacy policy</a></p>
                <!--/ @new -->
                <label class="checkbox">
                    <button class="btn sign-btn" type="submit">Register</button>
                </label>
            </form>
        </div>
        <!--/ Register --> 

    </div>
</div>
<!--/ intro-pattren -->

<script>
    jQuery(document).ready(function() {
        $('.check-box').click(function() {
            $(this).find(':checkbox').prop('checked', !$(this).find(':checkbox').prop('checked')).trigger('change');
            $(this).toggleClass('checkedBox');
        });
    });
</script>
