<div class="intro-pattren">
    <div class="container-fluid">
        <div class="title"> 
            <img class="login_logo" alt="AptDeco" src="<?php echo Ikantam_Url::getPublicUrl('assets/images/large-logo.png'); ?>"> 
            <h2 class="landingHeader">
                One more thing, please sign in or create an account
            </h2>
        </div>

        <div class="sc-account clearfix">
            <div class="checkout-signin newsb">
                <form class="form-signin m-0" id="sign-in" action="<?php echo Ikantam_Url::getUrl('user/login/post', array('redirect-success' => urlencode($this->session->activeData('publishProductRedirect', null, true)), 'redirect-failure' => urlencode('registration/last-step'))); ?>" method="post">
                    <h2 class="settoggle active">Sign in <i class="ico-arr pull-right"></i></h2>

                    <?php if (!$this->isReg) foreach ($this->session->getMessages('error') as $message) : ?>
                            <p class="invalid" id="errors-password"><i></i><?php echo $message; ?></p>
                        <?php endforeach; ?>

                    <div class="toggling">
                        <a href="<?php echo $this->fbUrl; ?>" class="fb-sign"> <i></i>Sign in with Facebook</a>
                        <div class="or">
                            <p>OR</p>
                        </div>
                        <div class="clear"></div>

                        <input type="email" class="input-block-level" placeholder="Email" name="email" value="<?php //echo $this->session->getFormData('email');            ?>" />

                        <?php if (!$this->isReg && $this->session->getFormErrors('email')) : ?>
                            <p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('email'); ?></p>
                        <?php endif; ?>

                        <input type="password" class="input-block-level" placeholder="Password" name="password"/>

                        <?php if (!$this->isReg && $this->session->getFormErrors('password')) : ?>
                            <p class="invalid" style="margin-bottom:20px;" id="errors-password"> <i></i> <?php echo $this->session->getFormErrors('password'); ?></p>
                        <?php endif; ?>


                        <div class="custom-checkboxs">
                            <div class="check-box">
                                <input type="checkbox" value="remember-me">
                            </div>
                        </div>
                        <label class="checkbox">
                            <span> Remember me </span>
                            <button class="btn sign-btn" type="submit">Sign in</button>
                            <br>
                        </label>
                    </div>
                </form>
                <a class="toggling" href="<?php echo Ikantam_Url::getUrl('user/password/forgot'); ?>">Forgot password</a>
            </div>

            <div class="checkout-signin newsb">
                <form class="m-0" id="sign-in" method="post" action="<?php echo Ikantam_Url::getUrl('registration/post', array('redirect-failure' => urlencode('registration/last-step'))) ?>">
                    <h2 class="settoggle">Create an account <i class="ico-arr pull-right"></i></h2>

                    <?php foreach ($this->session->getMessages('error-signup') as $message) : ?>
                        <p class="invalid"><i></i><?php echo $message; ?></p>
                    <?php endforeach; ?>

                    <div class="md-toggle toggling">
                        <a href="<?php echo $this->fbUrl; ?>" class="fb-sign"> <i></i>Sign up with Facebook</a>
                        <div class="or">
                            <p>OR</p>
                        </div>
                        <div class="clear"></div>


                        <input type="text" name="full_name" class="input-block-level" placeholder="Full name" value="" />

                        <?php if ($this->isReg && $this->session->getFormErrors('full_name')) : ?>
                            <p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('full_name'); ?></p>
                        <?php endif; ?>

                        <input  type="email" name="email" class="input-block-level" placeholder="Email" value=""/>

                        <?php if ($this->isReg && $this->session->getFormErrors('email')) : ?>
                            <p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('email'); ?></p>
                        <?php endif; ?>


                        <input type="password" name="password" id="letterViewer" class="input-block-level" placeholder="Password" value="" />

                        <?php if ($this->isReg && $this->session->getFormErrors('password')) : ?>
                            <p class="invalid" style="margin-bottom:20px;" id="errors-password"> <i></i> <?php echo $this->session->getFormErrors('password'); ?></p>
                        <?php endif; ?>

                        <input type="password" name="password_confirm" class="input-block-level" placeholder="Confirm password" />

                        <?php if ($this->isReg && $this->session->getFormErrors('password_confirm')) : ?>
                            <p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('password_confirm'); ?></p>
                            <div style="clear:both;"></div>
                        <?php endif; ?>


                        <div class="custom-checkboxs">
                            <div class="check-box">
                                <input type="checkbox" name="terms" value="1" />
                            </div>
                        </div>

                            <label class="checkbox">
                                <span>
                                    I agree to AptDeco's
                                    <a  target="_blank" href="<?php echo Ikantam_Url::getUrl('terms/index'); ?>">terms of use</a>
                                    and  
                                <a  target="_blank" href="<?php echo Ikantam_Url::getUrl('privacy/index'); ?>">privacy policy</a>
                                </span>

                            <?php if ($this->isReg && $this->session->getFormErrors('terms')) : ?>
                                <p class="invalid" id="errors-email"> <i></i> <?php echo $this->session->getFormErrors('terms'); ?></p>
                            <?php endif; ?>

                            <br>
                            <button class="btn sign-btn" type="submit">Register</button>
                            <br>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function() {
        $('.check-box').click(function() {
            $(this).find(':checkbox').prop('checked', !$(this).find(':checkbox').prop('checked')).trigger('change');
            $(this).toggleClass('checkedBox');
        });

        $('.settoggle').on('click', function(){
            $('.toggling').toggle();
            $(this).toggleClass('active');
        });
    });
</script>