<script src="<?php echo Ikantam_Url::getPublicUrl('js/jQuery-File-Upload-master/js/vendor/jquery.ui.widget.js'); ?>"></script>
<script src="<?php echo Ikantam_Url::getPublicUrl('js/jQuery-File-Upload-master/js/jquery.iframe-transport.js'); ?>"></script>
<script src="<?php echo Ikantam_Url::getPublicUrl('js/jQuery-File-Upload-master/js/jquery.fileupload.js'); ?>"></script>

<!-- container-fluid -->
<div class="container-fluid" id="container"> 
    <?php /*<div id="fees-top" class="alert alert-success pick-upd noti-ce">
        <i></i> 
        <span>
            <a target="_blank" href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>?q=fees">Is posting on AptDeco free?</a>
        </span>
    </div>*/ ?>
    
    <?php echo $this->partial('sidebar.phtml', 'admin'); ?>

    <!-- mainContent -->
    <div class="mainContent">

        <?php foreach ($this->session->getMessages('success') as $message) : ?>
            <div class="alert alert-success" style="height:auto;"> <i></i>  
                <?php echo $message; ?>
                <button type="button" class="close" data-dismiss="alert">x</button>
            </div>
            <script>$("#fees-top").hide();</script>
        <?php endforeach; ?>

        <?php if (count($this->session->getMessages('error')) > 0) : ?>
            <div class="alert alert-error">
                <i class="in-valid"></i>
                <p>Opps, looks like some of the fields have errors or were left blank. Please update all fields highlighted in red and publish again</p>
                <button type="button" class="close" data-dismiss="alert">x</button>
            </div>
            <script>$("#fees-top").hide();</script>
        <?php endif ?>

        <div class="clearfix"></div>

        <h2>Edit item #<?php echo $this->product->getId(); ?></h2>

        <?php echo $this->form; ?>

    </div>
    <!--/ mainContent -->

    <div class="clear"></div>


    <div class="gallery">

        <div class="fileupload fileupload-new" data-provides="fileupload">
            <h2>Gallery</h2>
            <span class="btn btn-file">
                <span class="fileupload-new">Upload Photo</span>
                <span class="fileupload-exists">Change</span>

                <input id="fileupload" type="file" name="files[]" data-url="<?php echo Ikantam_Url::getUrl('admin/upload-image/index', array('product_id' => $this->product->getId())); ?>" multiple>


            </span>
            <span class="fileupload-preview"></span>
            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">&times;</a>
        </div>

        <div class="clear"></div>

        <?php if ($this->session->getFormErrors('product_image')) : ?>
            <div class="control-group error">
                <label class="control-label"><?php echo $this->session->getFormErrors('product_image'); ?></label>
            </div>
            <div class="clear"></div>
        <?php endif; ?>

        <div id="tips" class="clearfix">
            <h3><i class="aperiod"></i> 5 tips for taking great furniture photos!</h3>
            <ul>
                <li>Turn off the flash! Use natural light, but not direct sunlight.</li>
                <li>Use a white background where possible or find a simple, uncluttered background.</li>
                <li>Take all photos at eye level to really show how the product would look in someone else's home</li>
                <li>Use different angles and include a wide angle to show the product in the room</li>
                <li>Include photos of the entire piece as well as key elements, to include any damage.</li>
            </ul>
        </div>

        <div class="clear"></div>

        <script>
            var currentDefaultItem = "<?php echo $this->product->getMainImage()->getId(); ?>";
            var currentAngle = 90;
            
            function rotateItem(element, itemId)
            {
                var cI;
                
                $.ajax({
                    url: "<?php echo Ikantam_Url::getUrl('admin/product/rotate-image', array('product_id' => $this->product->getId())); ?>",
                    beforeSend: function ( xhr ) {
                        var pE = $(element).parent().parent().find("img").first();
                        cI = $(pE).attr("src");
                        $(pE).attr("src", "<?php echo Ikantam_Url::getPublicUrl('images/uploading.gif'); ?>");
                    },
                    data:{image_id : itemId, angle : currentAngle}
                }).done(function(data) {
                    if (data) {
                        currentAngle += 90;
                        currentAngle = currentAngle % 360;
                        var pE = $(element).parent().parent().find("img").first();
                        $(pE).attr("src", data);
                    } else {
                        alert("Cannot rotate this image.");
                    }
                }).fail(function() {
                    var pE = $(element).parent().parent().find("img").first();
                    $(pE).attr("src", cI);
                });
            }
                
            function removeItem(element, itemId)
            {
                $.post(
                '<?php echo Ikantam_Url::getUrl('admin/product/remove-image', array('product_id' => $this->product->getId())); ?>',
                {image_id : itemId},
                function(data){
                    if (data) {
                        jQuery(element).parent().parent().remove();
                    } else {
                        alert("Cannot delete this image.");
                    }
                }
            );
            }
            
            function setDefaultItem(element, itemId)
            {
                $.post(
                '<?php echo Ikantam_Url::getUrl('admin/product/set-default-image', array('product_id' => $this->product->getId())); ?>',
                {image_id : itemId},
                function(data){
                    if (data == 1) {
                        jQuery("#images-preview li.default").find("a.is-default").remove();
                        jQuery("#images-preview li.default").find(".ovelay").prepend('<a class="setasDef" href="javascript:void(0);" onclick="setDefaultItem(this, '+currentDefaultItem+')">Set as default</a>');
                        jQuery("#images-preview li.default").find(".overlay").prepend('<a class="setasDef" href="javascript:void(0);" onclick="setDefaultItem(this, '+currentDefaultItem+')">Set as default</a>');
                        jQuery("#images-preview li.default").removeClass("default");

                        currentDefaultItem = itemId;
                        var pE = jQuery(element).parent().parent();
                        $(pE).addClass("default");
                        $(pE).find(".overlay a.setasDef").remove();
                        $(pE).find(".ovelay a.setasDef").remove();
                        $(pE).append('<a href="javascript:void(0);" class="is-default">Default</a>');
                    } else {
                        alert("Cannot set this image as default.");
                    }
                }
            );
            }
            
            
            $(function () {
                $('#fileupload').fileupload({
                    dataType: 'json',
                    done: function (e, data) {
                        
                        if (data.result.success) {
                            var parentElement = $("#images-preview li.uploading").first();
                                $(parentElement).removeClass('uploading').find('img').attr('src', data.result.file.url);
                                $("select#files").append("<option selected='selected' value='"+data.result.file.name+"'>"+data.result.file.name+"</option>");
                                $(parentElement).find("a.removeitem").attr("onclick", "removeItem(this, '"+data.result.file.id+"')");
                                $(parentElement).find("a.setasDef").attr("onclick", "setDefaultItem(this, '"+data.result.file.id+"')");
                                $(parentElement).find("button.rotate").attr("onclick", "rotateItem(this, '"+data.result.file.id+"')");
                        } else {
                            var parentElement = $("#images-preview li.uploading").first();
                                
                            $(parentElement).find("a.removeitem").attr("onclick", "$(this).parent().parent().remove()");
                            $(parentElement).find("a.setasDef").remove();
                                
                            $(parentElement).removeClass('uploading').find('img')
                                    .replaceWith('<div class="vertically-aligned"><div>'+data.result.error+'</div></div>');
                        }
                    },
                    send: function (e, data) {
                        jQuery("#images-preview").append('\
                            <li class="uploading">\n\
                                <div class="ovelay hidden-desktop">\n\
                                    <a class="setasDef" href="javascript:void(0);">Set as default</a>\n\
                                    <button type="button" class="rotate"><i></i></button>\n\
                                    <a class="removeitem" href="javascript:void(0);"><i></i></a>\n\
                                </div>\n\
                                <div class="overlay">\n\
                                    <a class="setasDef" href="javascript:void(0);">Set as default</a>\n\
                                    <button type="button" class="rotate"><i></i></button>\n\
                                    <a class="removeitem" href="javascript:void(0);"><i></i></a>\n\
                                </div>\n\
                                <img src="<?php echo Ikantam_Url::getPublicUrl('images/uploading.gif'); ?>" alt="item name" />\n\
                            </li>');
                                                //e.preventDefault();
                                                $('html,body').animate({
                                                    scrollTop: $('.gallery ul li').offset().top
                                                }, 800);
                                            }
                                        });
                                    });
        </script>


        <ul id="images-preview">

            <?php if ($this->product->getMainImage()->getId()) : ?>
                <li  class="default">
                    <div class="overlay">
                        <button type="button" class="rotate" onclick="rotateItem(this, '<?php echo $this->product->getMainImage()->getId(); ?>')"><i></i></button>
                        <a class="removeitem" href="javascript:void(0);" onclick="removeItem(this, '<?php echo $this->product->getMainImage()->getId(); ?>')"><i></i></a>
                    </div>
                    <a href="javascript:void(0);" class="is-default">Default</a>
                    <img src="<?php echo $this->product->getMainImageUrl('squared'); ?>" alt="item name" />
                </li>
            <?php endif; ?>


            <?php foreach ($this->product->getAllImages() as $image) : ?>
                <li>
                    <div class="overlay">
                        <a class="setasDef" href="javascript:void(0);" onclick="setDefaultItem(this, '<?php echo $image->getId(); ?>')">Set as default</a>
                        <a class="removeitem" href="javascript:void(0);" onclick="removeItem(this, '<?php echo $image->getId(); ?>')"><i></i></a>
                        <button type="button" class="rotate" onclick="rotateItem(this, '<?php echo $image->getId(); ?>')"><i></i></button>
                    </div>
                    <img src="<?php echo  $image->getPath(null, 500, 500); ?>" alt="item name" />
                </li>
            <?php endforeach; ?>

        </ul>

        <div class="clear"></div>

        <div class="buttons-block">
            <?php if (!$this->product->getIsPublished()) : ?>
                <a href="javascript:void(0);" onclick="saveProduct()">Save</a>
            <?php endif; ?>

            <button class="btn" onclick="submitProduct()">Publish</button>
        </div>
    </div>
</div>


<!--/ container-fluid -->
<div class="clear"></div>


<script type="text/javascript">
    function saveProduct()
    {
        $('#submit-form').attr("action", "<?php echo Ikantam_Url::getUrl('admin/product/save', array('id' => $this->product->getId())); ?>").submit();
    }

    function submitProduct()
    {
        $('#submit-form').attr("action", "<?php echo Ikantam_Url::getUrl('admin/product/publish', array('id' => $this->product->getId())); ?>").submit();
    }

    //get datepicker
    $( "#datepicker, #datepicker2").datepicker({
        dateFormat: 'M dd, yy',
        showOtherMonths: true,
        selectOtherMonths: true,
        showOn: "button",
        buttonImage: "<?php echo Ikantam_Url::getPublicUrl('images/calendar.png'); ?>",
        buttonImageOnly: true,
        prevText: "",
        nextText: "",
        minDate: "<?php echo date('M d, Y', strtotime('+1 day')); ?>",
        maxDate: "<?php echo date('M d, Y', strtotime('+2 years')); ?>"
    });

    var categories = JSON.parse('<?php echo $this->catsConfig; ?>');
</script>



<script>
    $(document).on('ready',function(){

        var hoverColor = '#E6E6E6'; //lines
        var field = $('#manufacturer');
        var lines = new Lines();

        var ignoredKeys = [0,16,17,18,20,27,34,35,36,37,39,44,91,112,113,114,115,116,117,118,119,120,121,122,123,144,145];

        //-----------------Container
        //container cordinates
        var point = field.offset();
        point.top+=field.height()+7; 
    
        var container = document.createElement('div');
        container = $(container);
        container.addClass('manufacturersLiveSearchContainer');
        container.css({
            'position':'absolute',
            'border':'1px solid #DADADA',
            'backgroundColor':'#FFF',
            'top':point.top + 2,
            'left':point.left,
            'color': '#808080',
            'cursor': 'pointer',
            'font-size': '14px',
            'width':field.outerWidth() - 2,
            'display':'none'
        }).appendTo('body');
        //----------------------Manufacturer events
        // cancel form submiting
        field.on('keydown',function(e){
            if(e.keyCode == 13) {
                return false;
            }
        });

        //-----------------keyup

        field.on('keyup',function(key){
            if(inArray(ignoredKeys,key.keyCode)) return false;


            switch(key.keyCode)
            {
                case 38:
                    lines.getCurrent().css('backgroundColor',container.css('backgroundColor'));
                    lines.getPrevious().css('backgroundColor',hoverColor);
                    $(this).val(lines.getCurrent().text());
                    return false;
                    break;
        
                case 40:
                    lines.getNext().css('backgroundColor',hoverColor);
                    lines.getPrevious().css('backgroundColor',container.css('backgroundColor'));        
                    $(this).val(lines.getNext().text());
                    return false;
                    break;
        
                case 13:
                    container.empty().hide();
                    lines.clear();
                    return false;
                    break;

            }
    

            var value = $(this).val();

 
            if($.trim(value)!='')
            {
            
                var postData = $.parseJSON('{"manufacturerValue":"'+value+'"}');         
                $.post(
                "<?php echo Ikantam_Url::getUrl('manufacturer/async/find'); ?>",
                postData,
                function(data)
                {
                    data = $.parseJSON(data);  
                    var dataCount = data.length;
                    // clear container
                    container.empty().hide();


                    //add lines to container 
                    lines.clear();       
                    for(var i = 0; i < dataCount; i++)
                    { 
                        var line = document.createElement('div');
                        $(line).addClass('manufacturersLiveSearchLine');
                        $(line).text(data[i]).appendTo(container);
                        //-------lines events
                        $(line).on('mouseenter',function(){
                            $(this).css('backgroundColor',hoverColor);
                        });//mouseenter
    
                        $(line).on('mouseout',function(){
                            $(this).css('backgroundColor',container.css('backgroundColor'))
                        });//mouseout
    
                        $(line).on('click',function(){
                            field.val($(this).text());
                            container.empty().hide();
                        });//click
                        //-----

                        lines.addLine($(line));

                    }
                    container.show(200);

                    var field = $('#manufacturer');
                    var point = field.offset();
                    point.top+=field.height()+7; 
                    container.css({
                        'top':point.top + 2
                    });

                }//post function
            
            );//ajax post
            }   
            else 
            {
                container.empty().hide(); // if empty field
            } 
    
    
    
        });//--------------keyup event end
 


 
        //-------------------Container events
        container.on('mouseleave',function(){
            container.empty().hide();
        });
        //--------

    
    });


    function inArray(data,value)
    {
        for(key in data)
        {
            if(data[key] == value) return true; 
        }
        return false;
    }
    //--------Lines object
    function Lines(content)
    {
        this.data = [];
        this.current = -1;

        if(content instanceof Array) this.data = content; 
    }

    Lines.prototype = 
        {
        addLine: function(line) {
            this.data.push(line);
            return this;
        },
    
        clear: function(){
            this.setCurrent(-1);
            this.data.splice(0,this.data.length);
            return this;
        },
    
        setCurrent: function(x){
            this.current = x;
        },
        getNext: function(){
            if(this.data.length > 0)
            {
                if(this.current == -1) 
                {
                    this.setCurrent(0);
                    return this.data[0];
                }
                else
                {

                    if(this.current+1 <= this.data.length-1)
                    {
                        this.setCurrent(this.current+1);
                        return this.data[this.current];
                    }
                    else{
                        this.setCurrent(0);
                        return this.data[0];
                    }
                            
                }
            }
            return false;
                    
        },
       
        getPrevious: function(){
          
            if(this.data.length > 0)
            { 
                if(this.current == -1 || this.current == 0)
                {
                    this.setCurrent(this.data.length-1);            
                    return this.data[this.current];
                
                }
                else
                {
                    this.setCurrent(this.current-1);
                    return this.data[this.current];
                }
            }

            return false;
        },
    
        getCurrent: function()
        {
            if(this.data.length > 0)
            {
                if(this.current == -1) this.setCurrent(0);
                return this.data[this.current];
            }
            return false;
        },
    
        getData: function()
        {
            return this.data;
        }
    
    }//Lines prototype
    //------------------------------  

</script>