<div class="control-group<?php if ($this->session->getFormErrors('title')) : ?> error<?php endif; ?>">
    <label class="control-label" for="product_title">Product Title *</label>
    <div class="controls">
        <?php echo $this->element->title; ?>
    </div>
</div>

<div class="control-group<?php if ($this->session->getFormErrors('price')) : ?> error<?php endif; ?>">
    <label class="control-label" for="price">Price *</label>
    <div class="controls input-prepend price-control">
        <span class="add-on">$</span>
        <?php echo $this->element->price; ?>
    </div>
</div>

<div class="control-group<?php if ($this->session->getFormErrors('original_price')) : ?> error<?php endif; ?>">
    <label class="control-label" for="price">Original Price</label>
    <div class="controls input-prepend price-control">
        <span class="add-on">$</span>
        <?php echo $this->element->original_price; ?>
    </div>
</div>

<div class="control-group<?php if ($this->session->getFormErrors('category_id')) : ?> error<?php endif; ?>">
    <label class="control-label" for="category">Category *</label>
    <div class="controls">
        <div id="pick-category" class="btn-group">
            <?php echo $this->element->category_id; ?>
        </div>
    </div>
</div>

<div class="control-group<?php if ($this->session->getFormErrors('subcategory_id')) : ?> error<?php endif; ?>" style="display:none;">
    <label class="control-label" for="category">Subcategory *</label>
    <div class="controls">
        <div id="pick-subcategory" class="btn-group">
            <?php echo $this->element->subcategory_id; ?>
        </div>
    </div>
</div>

<div class="control-group<?php if ($this->session->getFormErrors('manufacturer')) : ?> error<?php endif; ?>">
    <label class="control-label" for="Brand">
        <i class="aperiod"></i> <span class="getPopmsg">Brand or manufacturer*</span>
        <div class="popup-msg">
            <h3>Brand or manufacturer</h3>
            <p>If you don't know the brand or manufacturer, please feel free to write "Unknown"</p>
        </div>
    </label>
    <div class="controls">
        <?php echo $this->element->manufacturer; ?>
        <i class="icon-search"></i>
    </div>
</div>

<div class="control-group<?php if ($this->session->getFormErrors('condition')) : ?> error<?php endif; ?>">
    <label class="control-label" for="Currentcondition">
        <i class="aperiod"></i> <span class="getPopmsg">Current condition*</span>
        <div class="popup-msg">
            <h3>Current condition</h3>
            <p>To maintain the best experience for you and the rest of our customers, we generally look for and accept products that are in great condition only. The only exception is products that are  Age-worn'  antiques.</p>
        </div>
    </label>
    <div class="controls">
        <ul>
            <?php foreach ($this->element->condition->options as $key => $condition) : ?>
                <?php $class   = $this->element->condition->getValue() == $key ? ' checkedRadio' : ''; ?>
                <?php $checked = $this->element->condition->getValue() == $key ? 'checked="checked"' : ''; ?>
                <li>
                    <div class="radio-btn<?php echo $class; ?>">
                        <input type="radio" name="condition" value="<?php echo $key; ?>" <?php echo $checked; ?>>
                    </div>
                    <?php echo $condition; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>

<div class="control-group<?php if ($this->session->getFormErrors('material_id')) : ?> error<?php endif; ?>">
    <label class="control-label" for="Material">Material*</label>
    <div class="controls">
        <div class="btn-group" id="pick-material">
            <?php echo $this->element->material_id; ?>
        </div>
    </div>
</div>

<div class="control-group<?php if ($this->session->getFormErrors('color_id')) : ?> error<?php endif; ?>">
    <label class="control-label" for="Color">Color*</label>
    <div class="controls">
        <div class="pick-color">
            <input type="hidden" name="color_id" value="<?php echo $this->element->color_id->getValue(); ?>" />
            <?php foreach ($this->element->color_id->options as $key => $color) : ?>
                <?php $colorObject = new Application_Model_Color($key); ?>
                <button <?php if ($colorObject->getTitle() == 'White' || $colorObject->getTitle() == 'Silver') : ?>id="white-1"<?php endif; ?><?php if ($colorObject->getTitle() == 'Pattern') : ?>id="pattren-1"<?php endif; ?> <?php if ($this->element->color_id->getValue() == $key) : ?>class="selectedColor"<?php endif; ?> onclick="$('.pick-color input').val(<?php echo $key; ?>)" style="background:<?php echo $color; ?>" title="<?php echo $colorObject->getTitle(); ?>"></button>
            <?php endforeach; ?>


        </div>
    </div>
</div>


<div class="control-group<?php if ($this->session->getFormErrors('width') || $this->session->getFormErrors('height') || $this->session->getFormErrors('depth')) : ?> error<?php endif; ?>">
    <label class="control-label" for="Dimensions">
        <i class="aperiod"></i> <span class="getPopmsg">Dimensions</span>
        <div class="popup-msg">
            <h3>Dimension</h3>
            <p>The best thing to do is to give as much information upfront. Most buyers will need to know the exact dimensions of the product to make sure it will fit in their space. So make sure the dimensions you enter are close/exact</p>
        </div>
    </label>
    <div class="controls" id="dimensions">
        <p>
            <i class="dimen"></i>
            Width:
            <?php echo $this->element->width; ?> "
            Depth:
            <?php echo $this->element->depth; ?> "
            Height:
            <?php echo $this->element->height; ?> "
        </p>
        <p class="dimensions-desc">
            <?php if ($this->session->getFormErrors('width') || $this->session->getFormErrors('height') || $this->session->getFormErrors('depth')) : ?>
                Please enter only numeric value with a a period (.) as the decimal separator
            <?php endif; ?>
        </p>
    </div>
</div>


<div class="control-group<?php if ($this->session->getFormErrors('age')) : ?> error<?php endif; ?>">
    <label class="control-label" for="Years-Old">Years Old *</label>
    <div class="controls">
        <div class="btn-group" id="pick-material">
            <?php echo $this->element->age; ?>
        </div>
    </div>
</div>

<div class="control-group<?php if ($this->session->getFormErrors('description')) : ?> error<?php endif; ?>" id="addtional">
    <label class="control-label" for="description">Anything else you'd like to mention?</label>
    <div class="controls">
        <?php echo $this->element->description; ?>
    </div>
</div>

<div class="clear"></div>

<div class="control-group<?php if ($this->session->getFormErrors('available_from') || $this->session->getFormErrors('available_till')) : ?> error<?php endif; ?>" id="availiable-period">
    <label class="control-label" for="availiable-period">
        <i class="aperiod"></i>
        <span class="getPopmsg">Desired Sale Window</span>

        <div class="popup-msg">
            <h3>Desired Sale Window</h3>
            <p>Specify dates when this product will be available for sale. Leave blank if you are not sure about it.</p>
        </div>

    </label>
    <div class="controls dp-cont">
        <?php echo $this->element->available_from; ?>
        <span class="mdash">&mdash;&mdash;</span>
        <?php echo $this->element->available_till; ?>
    </div>


</div>

<div class="control-group<?php if ($this->session->getFormErrors('shipping')) : ?> error<?php endif; ?>" id="delivery-method">
    <label class="control-label" for="availiable-period">
        <i class="aperiod"></i>
        <span class="getPopmsg">Delivery Preference</span>

        <div class="popup-msg">
            <h3>Delivery Preference</h3>
            <p>
                You can allow for the buyer to pick up the article of furniture from you
                or you can deal directly with AptDeco and let our delivery partner pick it
                up from you and take it to the buyers home.
                We recommend that you leave it to the buyer to decide the preferred method.
            </p>
        </div>

    </label>

    <div class="controls">
        <div class="del-perf"><i class="delv-car"></i></div>
        <div class="flside">
            <div class="check-box<?php if (in_array('pick-up', (array) $this->element->shipping->getValue())) : ?> checkedBox<?php endif; ?>">
                <input id="shipping-pickup" type="checkbox" name="shipping[]" value="pick-up" <?php if (in_array('pick-up', (array) $this->element->shipping->getValue())) : ?>checked="checked"<?php endif; ?>>
            </div>
            Pick up by customer
            <br>

            <div class="check-box<?php if (in_array('delivery', (array) $this->element->shipping->getValue())) : ?> checkedBox<?php endif; ?>">
                <input type="checkbox" name="shipping[]" id="shipping-delivery" value="delivery" <?php if (in_array('delivery', (array) $this->element->shipping->getValue())) : ?>checked="checked"<?php endif; ?>>
            </div>
            Delivery by AptDeco partner
            <br>

            <div class="check-box<?php if (in_array('delivery', (array) $this->element->shipping->getValue()) && in_array('pick-up', (array) $this->element->shipping->getValue())) : ?> checkedBox<?php endif; ?>">
                <input id="shipping-both" type="checkbox" name="shipping[]" value="both" <?php if (in_array('delivery', (array) $this->element->shipping->getValue()) && in_array('pick-up', (array) $this->element->shipping->getValue())) : ?>checked="checked"<?php endif; ?>>
            </div>
            Let the buyer decide
        </div>
    </div>
</div>

<div class="ad-dress">
    <h3>Address</h3>
    <p>
        For your protection, only your first name & parts of your address (city, state, & zip code)
        will be visible on the catalog.
    </p>
</div>

<div class="shipping-address">
    <h3>Pick up Location</h3>
</div>

<div id="shipping-address-form">

    <!-- Full Name -->
    <div class="control-group<?php if ($this->session->getFormErrors('pickup_full_name')) : ?> error<?php endif; ?>">
        <label class="control-label prodSub" for="full-name">Full Name*:</label>
        <div class="controls prodScont" style="float:right;margin-left:0 !important;margin-right: 50px;">
            <?php echo $this->element->pickup_full_name; ?>
        </div>
    </div>
    <!--/ Full Name -->

    <!-- Address Line1 -->
    <div class="control-group<?php if ($this->session->getFormErrors('pickup_address_line1')) : ?> error<?php endif; ?>">
        <label class="control-label prodSub" for="address-line-1"><i class="key"></i> Address Line1*:</label>
        <div class="controls prodScont" style="float:right;margin-left:0 !important;margin-right: 50px;">
            <?php echo $this->element->pickup_address_line1; ?>
            <span class="help-block">Street address, P.O. box, company name, c/o</span>
        </div>
    </div>
    <!--/ Address Line1 -->

    <!-- Address Line2 -->
    <div class="control-group<?php if ($this->session->getFormErrors('pickup_address_line2')) : ?> error<?php endif; ?>">
        <label class="control-label prodSub" for="address-line-2"><i class="key"></i> Address Line2:</label>
        <div class="controls prodScont" style="float:right;margin-left:0 !important;margin-right: 50px;">
            <?php echo $this->element->pickup_address_line2; ?>
            <span class="help-block">Apartment, suite, unit, building, floor, etc.</span>
        </div>
    </div>
    <!--/ Address Line2 -->

    <!-- City -->
    <div class="control-group<?php if ($this->session->getFormErrors('pickup_city')) : ?> error<?php endif; ?>">
        <label class="control-label prodSub" for="shipping-city">City*:</label>
        <div class="controls prodScont" style="float:right;margin-left:0 !important;margin-right: 179px;">
            <?php echo $this->element->pickup_city; ?>
        </div>
    </div>
    <!--/ City -->

    <!-- State/Province/Region -->
    <div class="control-group<?php if ($this->session->getFormErrors('pickup_state')) : ?> error<?php endif; ?>">
        <label class="control-label prodSub" for="shipping-state">State/Province/Region*:</label>
        <div class="controls prodScont" style="float:right;margin-left:0 !important;margin-right: 179px;">
            <?php echo $this->element->pickup_state; ?>
        </div>
    </div>
    <!--/ State/Province/Region -->

    <!-- ZIP -->
    <div class="control-group<?php if ($this->session->getFormErrors('pickup_postcode')) : ?> error<?php endif; ?>">
        <label class="control-label prodSub" for="shipping-zip">ZIP*:</label>
        <div class="controls prodScont" style="float:right;margin-left:0 !important;margin-right: 179px;">
            <?php echo $this->element->pickup_postcode; ?>
        </div>
    </div>
    <!--/ ZIP -->

    <!-- Country -->
    <div class="control-group<?php if ($this->session->getFormErrors('pickup_country_code')) : ?> error<?php endif; ?>">
        <label class="control-label prodSub" for="shipping-country">Country*:</label>
        <div class="controls prodScont" style="float:right;margin-left:0 !important;margin-right: 34px;">
            <?php echo $this->element->pickup_country_code; ?>
        </div>
    </div>
    <!--/ Country -->

    <!-- Phone number -->
    <div class="control-group <?php if ($this->session->getFormErrors('pickup_phone')) : ?> error<?php endif; ?>">
        <div class="ad-dress">
            <h3>Phone number</h3>
        </div>
        <label class="control-label prodSub" for="address-line-2"><i class="key"></i> Phone*:</label>
        <div class="controls prodScont" style="width: 190px; float:right;margin-left:0 !important;margin-right: 136px;">
            <?php echo $this->element->pickup_phone; ?>
        </div>
    </div>
    <!--/ Phone number -->
</div>


<div class="clear"></div>



<div style="display:none;">
    <?php echo $this->element->files; ?>
    <?php echo $this->element->default_image; ?>
</div>

<script>

    function setBillingAddress(FullName, AddressLine1, AddressLine2, City, State, Postcode, CountryCode, PhoneNumber)
    {
        jQuery("input#shipping-full-name").val(FullName);
        jQuery("input#address-line-1").val(AddressLine1);
        jQuery("input#address-line-2").val(AddressLine2);
        jQuery("input#shipping-city").val(City);
        jQuery("input#shipping-state").val(State);
        jQuery("input#shipping-zip").val(Postcode);
        jQuery("select#source5").val(CountryCode);
        jQuery("input#shipping-phone").val(PhoneNumber);
    }


    jQuery(document).ready(function() {

        function updateSubcategory() {
            var subcategoriesElement = document.getElementById("subcategory_id");

            var selectedCategory = document.getElementById("category_id").value;

            if (!categories[selectedCategory]) {
                return;
            }
            var category = categories[selectedCategory];

            if (!category.subcategories) {
                return;
            }
            jQuery(subcategoriesElement).parent().parent().parent().show();
        }

        updateSubcategory();

        document.getElementById("category_id").onchange = function() {
            var subcategoriesElement = document.getElementById("subcategory_id");

            jQuery(subcategoriesElement).parent().parent().parent().hide();

            if (!categories[this.value]) {
                return;
            }
            var category = categories[this.value];

            if (!category.subcategories) {
                return;
            }

            subcategoriesElement.innerHTML = "<option value=\"0\">-- Select --</option>";

            for (var id in category.subcategories) {
                jQuery(subcategoriesElement).parent().parent().parent().show();
                var title = category.subcategories[id];
                $(subcategoriesElement).append($("<option>").attr('value', id).text(title));
            }
        }
    });

    $('#scrollbar-1').tinyscrollbar({
        size: 99
    });
</script>

<script>
    jQuery(document).ready(function() {
        $('.check-box').click(function() {
            $(this).find(':checkbox').prop('checked', !$(this).find(':checkbox').prop('checked')).trigger('change');
            $(this).toggleClass('checkedBox');
        });
    });
</script>
