<div class="control-group">

    <h3 class="section-heading form-section">
        <span class="text-uc">Photos</span>
    </h3>
    <div class="aptd-alert error hidden" id="photo_required">
        <i class="apt-icon-warning"></i>
        <p>Please upload at least one image.</p>
    </div>
    <div class="upload-photo-tips tips">

        <h3>
            <i class="apt-i-warning"></i>
            <span>5 tips for taking great furniture photos!</span>
        </h3>
        <div class="clear"></div>

        <ul class="bullet">
            <li>Turn off the flash! Use natural light, but not direct sunlight.</li>
            <li>Use a white background where possible or find a simple, uncluttered background.</li>
            <li>Take all photos at eye level to really show how the product would look in someone else's home</li>
            <li>Use different angles and include a wide angle to show the product in the room</li>
            <li>Include photos of the entire piece as well as key element, to include any damage.</li>
        </ul>
    </div>

    <script type="x-html/template" id="template_photo_placeholder">
        <div class="item-photo photo-placeholder">
            <div class="inner-holder">
                <i class="apt-i-camera"></i>
                <div class="upload-btn">
                    <button type="button">
                    </button>
                    <input
                        type="file"
                        name="files[]"
                        class="upload-image"
                        multiple
                        accept="image/gif, image/jpeg, image/png"
                        >
                </div>
                <span class="photo-placeholder-text"></span>
            </div>
        </div>
    </script>

    <script type="x-html/template" id="template_loading_in_progress">
        <div class="item-photo photo-placeholder">
            <div class="inner-holder">
                <img src="<?php echo Ikantam_Url::getPublicUrl('images/uploading.gif'); ?>"  alt="Loading" style="width: auto;">
            </div>
         </div>
    </script>

    <script type="x-html/template" id="template_error">
        <div class="item-photo photo-placeholder">
            <div class="inner-holder has-feedback">
                <p class="validation invalid">
                    <small class="fa fa-info-circle"></small>
                    <span class="error-message"></span>
                </p>
            </div>
            </div>
    </script>

    <script type="x-html/template" id="template_photo">
        <div class="item-photo is-default">
            <div class="item-photo-action">
                <div class="item-photo-overlay">
                    <div class="control left-side">
                         <button data-purpose="set_default" type="button" class="apt-btn sm-flat">Set as default</button>
                        <button data-purpose="mark_as_default" type="button" class="apt-btn sm-flat primary">Default</button>
                    </div>
                    <div class="control right-side">
                        <button data-purpose="delete" type="button" class="apt-btn sm-flat"><i class="apt-icon-basket m-0"></i></button>
                        <button data-purpose="rotate_right" type="button" class="apt-btn sm-flat"><i class="apt-icon-curved-arr m-0"></i></button>
                        <button data-purpose="mark_as_locked" type="button" class="apt-btn sm-flat  stick-el to-left ttip" data-tooltip="Default photo is locked. You can't edit it.">
                            <i class="apt-i-lock locked control-el"></i>
                            Locked
                        </button>
                        <button data-purpose="lock" type="button" class="apt-btn sm-flat  stick-el to-left">
                            <i class="apt-i-lock locked control-el"></i>
                            Lock
                        </button>
                        <button data-purpose="unlock" type="button" class="apt-btn sm-flat  stick-el to-left">
                            <i class="apt-i-lock locked control-el"></i>
                            Unlock
                        </button>
                    </div>
                </div>
            </div>
            <div class="inner-holder">
                <img class="uploaded-image" src="" alt="">
            </div>
        </div>

    </script>

    <div class="new-item-photos">
        <div class="item-photo-uploader" id="photo_container">


            <div class="item-photo" id="add_new_photo">
                <div class="inner-holder">
                    <div class="upload-btn">
                        <button type="button">
                            <cite>+</cite>
                            Add photo
                        </button>
                        <input
                            type="file"
                            data-form="{&quot;image_spec&quot; : null}"
                            multiple name="files[]"
                            class="upload-image"
                            accept="image/gif, image/jpeg, image/png"
                            />
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>