<h3 class="section-heading form-section">
    <span class="text-uc">Share</span>
    <small class="text-mute font-base m-l15">Sell faster by sharing with friends!</small>
</h3>
<div class="control-group hidden-info">
    <div class="form-group">
        <div class="check-box pos-rlv top--2 get"><?php echo $this->element->getElement('share_with_socials'); ?></div>
                                
                                <span class="text-std">
                                    <i class="apt-icon-sm-car"></i>Yes, I'd like to share when my product is approved
                                </span>


        <div class="hidden set-vis m-t17">

            <div class="share-box">
                <div class="output-share"></div>
                <div class="input-holder">
                    <input type="text" class="share" />
                </div>
            </div>


            <div class="social-media-accounts m-t20 hidden-info">

                <div class="share-labels">
                    <p>
                        <i class="ico-share facebook"></i>
                        <span>Facebook</span>
                    </p>
                    <p>
                        <i class="ico-share twitter"></i>
                        <span>Twitter</span>
                    </p>
                    <p>
                        <i class="ico-share email"></i>
                        <span>Share by Email</span>
                    </p>
                </div>

                <div class="share-access">
                    <div class="form-group">
                        <label for="facebook">
                            <input type="checkbox" id="facebook" name="facebook" />
                                                    <span class="checkbox-cover">
                                                        <small class="cover-bar"></small>
                                                        <small class="cover-bar"></small>
                                                        <small class="cover-bar"></small>
                                                    </span>
                        </label>

                    </div>


                    <div class="form-group">
                        <p>
                            <button type="button" class="apt-btn default">Sign in</button>
                        </p>

                    </div>

                    <div class="form-group">
                        <label for="email" class="get">
                            <input type="checkbox" id="email" name="email"/>
                                                <span class="checkbox-cover">
                                                    <small class="cover-bar"></small>
                                                    <small class="cover-bar"></small>
                                                    <small class="cover-bar"></small>
                                                </span>
                        </label>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="set-vis">
                    <?php echo $this->element->getElement('social_email_list'); ?>
                </div>
            </div>

        </div>

    </div>
</div>