
<!-- container -->
<div class="container-fluid" id="container"> 

	<!-- checkout -->
	<div class="checkout">
		<h2>Checkout</h2>
        
        <div class="alert alert-success" id="warning"> 
            <i class="warning-icon"></i> 
            As an added security measure, we only pay the seller 24 hours after you receive your items(s). So go ahead, shop with confidence!
            <button type="button" class="close" data-dismiss="alert">x</button>
        </div>
        
        <?php echo $this->partial('checkout_sidebar.phtml', 'checkout', $this); ?>

		<!-- checkout -->
		<div id="checkout">
			<?php echo $this->partial('checkout_process.phtml', 'checkout', $this); ?>

			<?php if ($this->session->getMessages('error') || $this->session->getMessages('success')) : ?>
				<div class="alert">
					<?php foreach ($this->session->getMessages('error') as $message) : ?>
						<p style="padding:0;margin:0;"><?php echo $message; ?></p>
					<?php endforeach; ?>

					<?php foreach ($this->session->getMessages('success') as $message) : ?>
						<p style="padding:0;margin:0;"><?php echo $message; ?></p>
					<?php endforeach; ?>
				</div>
			<?php else : ?>
				<div class="alert" style="display: none;"></div>
			<?php endif; ?>
				
			<form action="<?php echo Ikantam_Url::getUrl('checkout/shipping-method/post'); ?>" method="post">
				<table>
					<?php foreach ($this->session->getCart()->getAllCheckoutItems() as $item) : ?>

						<tr>
							<?php $_product = $item->getProduct(); ?>
							<td class="cart-thumb">
                                <div class="fieldwrap">
                                    <a class="removeitem" href="#"><i></i></a>
                                </div>
                                
                                <img style="width:113px;" src="<?php echo $_product->getMainImage()->getS3Url(200, 200, 'crop'); ?>" alt="item" />
                            </td>

							<td>
								<h3><a href="#"><?php echo $_product->getTitle(); ?></a></h3>
								<ul>
									<li><p>Seller: <a href="<?php echo $_product->getSeller()->getProfileUrl(); ?>"><?php echo $_product->getSeller()->getFirstName(); ?></a></p></li>
									<li><h4><?php echo $this->currency($_product->getPrice()); ?></h4></li>
                                   <li><h4>Quantity: <?php echo $item->getQty(1); ?></h4></li>
								</ul>
                                
                                <!-- delivery-partner -->
                                <div class="delivery-partner dpartner">
                                  <ul>
                                            <?php //if($this->isDeliveryWindowAvailable) : ?>
                                            <li><div class="radio-btn"><input type="radio" name="delivery[<?php echo $item->getId(); ?>]" value="delivery"></div>Delivery by AptDeco moving partner</li>
                                            <?php //endif; ?>
											<li><div class="radio-btn"><input type="radio" name="delivery[<?php echo $item->getId(); ?>]" value="pick-up"></div>Pick up by customer</li>
											<li><a target="_blank" href="<?php echo Ikantam_Url::getUrl('pick-up/index'); ?>">How to arrange pick up?</a></li>
                                        </ul>
                                </div>
                                <!--/ delivery-partner -->
      
							</td>

							<td class="pickup-or-delivery">
                                <p>
										<i></i>
										<span>Which delivery method do you prefer?</span>
									</p>
								<?php if ($_product->getIsDeliveryAvailable() && $_product->getIsPickUpAvailable() && $_product->deliveryDateAvailable()) : ?>
									
									<div class="delivery-partner">
										<ul>
                                            <?php //if($this->isDeliveryWindowAvailable) : ?>
                                            <li><div class="radio-btn"><input type="radio" name="delivery[<?php echo $item->getId(); ?>]" value="delivery"></div>Delivery by AptDeco moving partner</li>
                                            <?php // endif; ?>
											<li><div class="radio-btn"><input type="radio" name="delivery[<?php echo $item->getId(); ?>]" value="pick-up"></div>Pick up by customer</li>
											<li><a target="_blank" href="<?php echo Ikantam_Url::getUrl('pick-up/index'); ?>">How to arrange pick up?</a></li>
                                        </ul>
									</div>
								<?php elseif ($_product->getIsDeliveryAvailable() && $_product->deliveryDateAvailable()) : ?>
									<div class="delivery-partner">
										<ul>
                                            <li><div class="radio-btn"><input type="radio" name="delivery[<?php echo $item->getId(); ?>]" value="delivery"></div>Delivery by AptDeco moving partner</li>
										</ul>
									</div>
								<?php elseif ($_product->getIsPickUpAvailable()) : ?>
									<div class="delivery-partner">
										<ul>
                                            <li><div class="radio-btn"><input type="radio" name="delivery[<?php echo $item->getId(); ?>]" value="pick-up"></div>Pick up by customer</li>
											<li><a target="_blank" href="<?php echo Ikantam_Url::getUrl('pick-up/index'); ?>">How to arrange pick up?</a></li>
										</ul>
									</div>
								<?php endif; ?>
							</td>

						</tr>
					<?php endforeach; ?>
				</table>

<?php /*
				<!-- selected-items -->
				<div class="selected-items">
					<h4>You've selected</h4>
					<ul>
						<li> <p>Pick up</p> ...................................... 1 item(s) </li>
						<li> <p>Delivery up</p>.............................. 2 item(s) </li>
					</ul>
				</div>
				<!--/ selected-items -->
*/ ?>
				<div class="clear"></div>

				<div class="buttons-block">
					<button class="btn" type="submit">Continue <i></i></button>
				</div>
			</form>
		</div>
		<!--/ #checkout -->

	</div>
	<!--/ .checkout -->

	

</div>
<!--/ container -->

<div class="clear"></div>