.apt-form {
    &.apt-v-last {
        .control-block {
            width: 740px;
            @include respond-to(tablet-sm-screens) { width: 296px; }
        }
        .control-group {
            margin-bottom: 15px;
            &.offset-label {
                margin-left: 123px;
                @include respond-to(tablet-sm-screens) { margin-left: 0; }
                .field-helper {
                    margin-left: 0;
                }
            }
        }
        .form-group {
            .dp-holder {
                width: 220px;
                @include respond-to(tablet-sm-screens) { 
                	width: 296px; 
                	margin-bottom: 10px;
                }
                .ui-datepicker-trigger {
                    top: 14px;
                    left: auto;
                    right: 10px;
                    @include respond-to(medium-screens) { right: 40px; }
                    @include respond-to(tablet-sm-screens) { right: 10px; }
                }
            }
            &.col-form-group {
                float: left;
                width: 345px;
		        @include respond-to(tablet-sm-screens) {
		        	float: none;
					width: auto;
					clear: both;
					display: block;
		        }
                &.set-max {
                    max-height: 40px;
	                @include respond-to(tablet-sm-screens) {
                    	max-height: none;
			        }
                }
                & + .col-form-group {
                    width: 325px;
                    padding-left: 70px;
                    @include respond-to(medium-screens) {
                    	width: 305px;
                    	padding-left: 50px;
                    }
                    @include respond-to(tablet-sm-screens) {
                    	float: none;
                    	clear: both;
                    	padding-left: 0;
                    }
                    .form-label {
                        text-align: right;
                        padding-right: 14px;
                        width: auto;
                        &.sm-label {
                            width: 85px;
                            @include respond-to(tablet-sm-screens) { 
                            	width: auto; 
                            	br { display: none; }
                            }
                            &.break-line {
                                text-align: left;
                            }
                        }
                          @include respond-to(tablet-sm-screens) {
                    	text-align: left;
                    	padding-top:  7px;
                    }
                    }
                }
            }
            & + .field-helper {
                clear: both;
                float: left;
                margin-top: 5px;
                margin-left: 123px;
                @include respond-to(tablet-sm-screens) {
                	margin-left: 0;
                }
            }
        }
        .field-helper {
            color: #C0C0C0;
            font-size: 11px;
        }
        .form-field {
            width: 220px;
            padding: 9px 12px;
            font-size: 12px;
            &.error { border-color: $color-error; }
            @include respond-to(medium-screens) { width: 195px; }            
            @include respond-to(tablet-sm-screens) { 
            	width: 296px; 
            	top: 0;
            }
            &.offer-field {
                width: 287px;
            }
            &.block-field {
                width: 613px;
                @include respond-to(medium-screens) { width: 570px; }
                @include respond-to(tablet-sm-screens) { width: 296px; }
            }
            &.fit-field {
                width: 88%;
                @include respond-to(medium-screens) { width: 572px; }
                @include respond-to(tablet-sm-screens) { width: 298px; }
            }
            &.form-field-sm {
                width: 85px;
                font-size: 12px;
                @include respond-to(tablet-sm-screens) { width: 75px; }
            }
        }
        .form-field-block {
            width: 613px;
            display: inline-block;
            @include respond-to(medium-screens) { width: 600px; }
            @include respond-to(tablet-sm-screens) { width: auto; }
        }
        .form-label {
            width: 120px;
            display: inline-block;
            font-size: 12px;
            color: #666;
            &.error { color: $color-error; }
            @include respond-to(tablet-sm-screens) {
            	text-align: left;
            	display: block;
            	float: none;
            	clear: both;
            	width: 100%;
            }
        }
        .dim {
            float: left;
            width: 130px;
            position: relative;
            @include respond-to(tablet-sm-screens) {
            	width: 95px;
            }
            & + .dim {
                &:before {
                    content: "X";
                    display: inline-block;
                    float: left;
                    left: -45px;
                    position: absolute;
                    text-align: center;
                    bottom: 11px;
                    width: 45px;
		            @include respond-to(tablet-sm-screens) {
		            	width: 15px;
		            	left: -15px;
		            }
                }
            }
            span {
                display: block;
                margin-bottom: 7px;
            }
        }
        .pricing {
            float: left;
            width: 200px;
            .form-label-inner {
                display: block;
                margin-bottom: 7px;
                color: $color-global2;
                font-size: $font-size-base;
            }
        	@include respond-to(tablet-sm-screens) {
        		margin-bottom: 10px;
	            &.pricing-revenue {
            		width: 90px;
            		text-align: center;
	            }
        	}
        }
        .input-prepend {
            .form-field {
                height: 40px;
            }
            .add-on {
                height: 30px;
                line-height: 30px;
            }
            &.error {
                .add-on {
                color: #B94A48;
                border-color: $color-error;
                background-color: #F2DEDE;
                }
                .form-field { border-color: $color-error; }
            }
        }
    }
    .col-form-group-side {
        width: 370px;
        float: left;
        & + .col-form-group-side {
            width: 440px;
            @include respond-to(medium-screens) {
            	width: 325px;
            }
        }
        .form-group {
            &.col-form-group {
                float: none;
                clear: both;
                margin-top: 15px;
                & + .col-form-group {
                    padding-left: 0;
                    width: auto;
                    .form-label {
                        width: 120px;
                        padding-right: 0;
                        display: inline-block;
                        text-align: left;
                    }
                }
            }
        }
        .sideb-label {
            float: left;
            width: 140px;
            & + * {
                float: left;
            }
        }
    }
}

.other-info-field::-webkit-input-placeholder {
    color: transparent;
}

.other-info-field::-webkit-input-placeholder::before {
    color: #999;
    font-size: 12px;
    content: "Provide details to reduce buyer question and sell your item faster. Buyers want to know about\A - Brand, collection, material or color\A - Details about wear, stains or damage\A";
}

.apt-form {
    .form-field {
        &.lrg {
            padding: 8px 9px;
        }
    }

    .block-fields {
        .user-block & {
            width: 95%;
            padding-left: 45px;
            .form-field { width: 100%; }
            @include respond-to(medium-screens) { 
                width: 100%;
                padding-left: 0; 
            }
        }
    }
}


.qty-form {
    &.error {
        border-color: $color-error;
        .increase { border-bottom-color: $color-error; }
        .increase, 
        .decrease { border-left-color: $color-error; }
    }
}

select {
    &.form-field {
        color: #999;
        border-color: #cfcfcf;
    }
    option:hover {
        box-shadow: 0 0 10px 100px #1882A8 inset;
   }
}

.apt-dp.fit  + .ui-datepicker-trigger {
    position: absolute;
    left: auto;
    right: 20px;
    top: 10px;
}

.block-fields.fit {
    span.add-on { height: 30px; }
    .input-prepend .form-field { width: 60px; }
}