
$apt-lrg-screen  : 1200px;
$apt-md-screen   : 998px;
$apt-sm-screen   : 768px;

$number-of-cols  : 12;
$col-inner-gutter: 15;
$width-of-row    : 100%;

$single_col: (($width-of-row + ($col-inner-gutter * 2)) / $number-of-cols );

@mixin cols($num) {
   width:  $width-of-row / ($number-of-cols / $num) ;
}

@mixin sub_cols($num_child, $num_parent) {
    $parent_size: ($single_col * $num_parent) + ($col-inner-gutter * ($num_parent - 1));
    $child_size : ($single_col * $num_child ) + ($col-inner-gutter * ($num_child - 1));
}

@mixin bp($point) {
   @if $point == lrg-screen {
     @media (min-width: $apt-lrg-screen) { @content ; }
  }
  @else if $point == std-screen {
     @media (max-width: $apt-lrg-screen) { @content ; }
  }
  @else if $point == md-screen {
     @media (max-width: $apt-md-screen) { @content ; }
  }
  @else if $point == sm-screen {
     @media (max-width: $apt-sm-screen) { @content ; }
  }
  @else if $point == handheld {
     @media (max-width: $apt-sm-screen - 1) { @content ; }
  }
}

.aptrow,
.main-row {
    margin-left: (-$col-inner-gutter) * 1px;
    margin-right:(-$col-inner-gutter) * 1px; 
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  &,
  &:before,
  &:after,
  *,
  *:before,
  *:after {
    @include box-sizing (border-box);
  }
}
    
%col-gutter {
  padding-right: ($col-inner-gutter * 1px);
  padding-left : ($col-inner-gutter * 1px);
  position: relative;
  min-height: 1px;
}

#{enumerate('.aptcol-lrg-', 1, $number-of-cols, '')} {
  float: left;
  @extend %col-gutter;
  @include bp(lrg-screen) { float: left; }
}
    
#{enumerate('.aptcol-std-', 1, $number-of-cols, '')} {
  @extend %col-gutter;
  @include bp(std-screen) { float: left; }
}

#{enumerate('.aptcol-md-', 1, $number-of-cols, '')} {
  @extend %col-gutter;
  @include bp(md-screen)  { float: left; }
}


#{enumerate('.aptcol-hnd-', 1, $number-of-cols, '')} {
  @extend %col-gutter;
  @include bp(handheld)   { float: left; }
}

#{enumerate('.aptcol-xs-', 1, $number-of-cols, '')} {
  float: left;
  @extend %col-gutter;
}

// # Large devices (large desktops, 1200px and up)
@include bp(lrg-screen) {
  @for $i from 1 through $number-of-cols {
    .aptcol-lrg-#{$i} {
        @include cols($i);
        @for $j from 1 through ($i - 1) {
            .aptcol-#{$j} {
                @include sub_cols($j, $i);
            }
        }
    }
  }
}

// # Standard devices (standard desktops, laptop 1200px and down)
@include bp(std-screen) {
  @for $i from 1 through $number-of-cols {
    .aptcol-std-#{$i} {
        @include cols($i);
        @for $j from 1 through ($i - 1) {
            .aptcol-#{$j} {
                @include sub_cols($j, $i);
            }
        }
    }
  }
}

// # Medium devices (large tablets and netbooks, 998px and down)
@include bp(md-screen)  {
  @for $i from 1 through $number-of-cols {
    .aptcol-md-#{$i} {
        @include cols($i);
        @for $j from 1 through ($i - 1) {
            .aptcol-md-#{$j} {
                @include sub_cols($j, $i);
            }
        }
    }
  }
}



#{enumerate('.aptcol-sm-', 1, $number-of-cols, '')} {
  @extend %col-gutter;
  @media (min-width: 768px)  { float: left; }
}

// # Small devices (tablets, 768px and down)
//@include bp(sm-screen)  {
@media (min-width: 768px)  { 
  @for $i from 1 through $number-of-cols {
      .aptcol-sm-#{$i} {
        @include cols($i);
        @for $j from 1 through ($i - 1) {
          .aptcol-sm-#{$j} {
            @include sub_cols($j, $i);
          }
        }
      }
  }
}

// # handheld devices (tablets, 767px and down)
@include bp(handheld)   {
  @for $i from 1 through $number-of-cols {
      .aptcol-hnd-#{$i} {
        @include cols($i);
        @for $j from 1 through ($i - 1) {
          .aptcol-sm-#{$j} {
            @include sub_cols($j, $i);
          }
        }
      }
  }
}

@for $i from 1 through $number-of-cols {
    .aptcol-xs-#{$i} {
      @include cols($i);
      @for $j from 1 through ($i - 1) {
        .aptcol-xs-#{$j} {
          @include sub_cols($j, $i);
        }
      }
    }
}

.aptcont,
.aptcont-fluid,
.main-container,
.main-container-fluid {
    width: auto;
    position: relative;
    margin-right: auto;
    margin-left : auto;
    @extend %col-gutter;
}

.aptcont,
.main-container  {
  width: 940px;
  @include bp(md-screen)     { width: 720px; }
  @include bp(handheld)      {
    width: auto;
    margin-left: ($col-inner-gutter) * 1px;
    margin-right:($col-inner-gutter) * 1px; 
  }
  @media (min-width: 1200px) { width: 1170px; }
}