// [ helper classes ]

// # font families helpers
.font-base { font-family: $font-family-base; }
.font-mus  { font-family: $font-family-mus; }
.font-rob  { font-family: $font-family-roboto; }

.text-std {
    color: $color-light-black;
    font-size: $font-size-global;
}

// # breakpoint helpers


// #medium-devices
.md-hidden  {
  display: inline-block;
  &.aptd-header { display: block; }
  @include respond-to(medium-screens) { 
  	display: none; 
  	&.aptd-header { display: none; }
  }
}

.md-visible {
  display: none;
  @include respond-to(medium-screens) { display: block; }
  &.sm-hidden {
  	@include respond-to(tablet-sm-screens) { display: none; }
  }
}

.sm-tbl-hidden {
  display: block;
  .apt-btn & { display: inline-block; }
  @include respond-to(tablet-sm-screens) {
    display: none;
  } 
}

.sm-tbl-visible {
  display: none;
  @include respond-to(tablet-sm-screens) {
    display: block;
    .apt-btn & { display: inline-block; }
  }
}

// ###[ New grid system helper classes ]###
.lrg-sr-hidden {
  display: block;
  @include bp(lrg-screen) { display: none; }
}

.lrg-sr-visible {
  display: none;
  @include bp(lrg-screen) { display: block; }
}

.std-sr-hidden {
  display: block;
  @include bp(std-screen) { display: none; }
}

.std-sr-visible {
  display: none;
  @include bp(std-screen) { display: block; }
}

.md-sr-hidden {
  display: block;
  @include bp(md-screen)  { display: none; }
}

.md-sr-visible {
  display: none;
  @include bp(md-screen)  { display: block; }
}

.sm-sr-hidden {
  display: block;
  @include bp(sm-screen)  { display: none; }
}

.sm-sr-visible {
  display: none;
  @include bp(sm-screen)  { display: block; }
}

.hh-hidden {
  display: block;
  @include bp(handheld)   { display: none; }
}

.hh-visible {
  display: none;
  @include bp(handheld)   { display: block; }
}

// #Floats helpers

.pull-right-lg { @media (min-width: $wide-screens) { float: right; } }
.pull-left-lg  { @media (min-width: $wide-screens) { float: left; } }

.pull-right-md { @media (min-width: $medium-screens) { float: right; } }
.pull-left-md  { @media (min-width: $medium-screens) { float: left; } }

.pull-right-sm { @media (min-width: $tablet-screens) { float: right; } }
.pull-left-sm  { @media (min-width: $tablet-screens) { float: left; } }

.pull-right-xs { float: right; }
.pull-left-xs  { float: right; }

// #Break cols
div[break-col="md"] { 
  @media (max-width: $medium-screens) { 
    float: none; 
    width: auto;
  }
}