@import"mixins", "vars";
 // Icons 

 .icons {
    display: inline-block;
    margin-top: 1px;
    margin-right: .3em;
    line-height: 14px;
    position: relative;
    vertical-align: text-top;
    background-position: 0 0;
    background-repeat: no-repeat;
}
[class^="apt-i-"], [class*="apt-i-"], 
[class^="apt-icon-"], [class*="apt-icon-"],
[class^="ico-"], [class*="ico-"],
[class^="icos-"],  [class*="icos-"] {
    @extend .icons;
}
[class^="apt-icon-"], [class*="apt-icon-"] {
    background-image: url("../images/sprite.png");
}
[class^="apt-i-"], [class*="apt-i-"] {
    background-image: url("../images/apt-sprite.png");
}
[class^="ico-"], 
[class*="ico-"] {
    background-image: url("../images/aptsprite.png");
}

[class^="icos-"], 
[class*="icos-"] {
    background-image: url("../images/social-icons.png");
}

.ctr-icons {
    i {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    .lock-btn {
        i {
            position: relative;
            top: -1px;
            left: auto;
        }
    }
}
.apt-icon-green-marker {
    background-position: -183px -144px;
    width: 13px;
    height: 12px;
    .aptd-alert & {
        margin-top: -6px;
    }
}
.apt-icon-warning {
    background-position: -162px -62px;
    width: 16px;
    height: 16px;
    .aptd-alert & {
        margin-top: -8px;
    }
    &.orange {
        background-position: -161px -160px;
    }
}
.apt-icon-sm-magnify {
    background-position: -79px -160px;
    width: 13px;
    height: 13px;
    .form-field + & {
        top: -3px;
        left: -25px;
        position: relative;
        @include breakpoint(mid-devices) {
            position: absolute;
            top: 7px;
            left: auto;
            right: 10px;
        }
    }
}
.apt-icon-sm-arrow {
    background-position: -23px -141px;
    width: 10px;
    height: 7px;
}
.apt-i-bttop {
    background-position: -71px -2px;
    width: 44px;
    height: 44px;
}
.apt-icon-del {
    background-position: -97px -65px;
    width: 16px;
    height: 15px;
}
.apt-i-weight {
    background-position: -45px -230px;
    width: 17px;
    height: 8px;
}
.apt-icon-cube {
    background-position: -139px -83px;
    width: 15px;
    height: 15px;
}
.apt-icon-unit {
    background-position: -138px -70px;
    width: 16px;
    height: 9px;
}
.apt-icon-tel {
    background-position: -182px -161px;
    width: 17px;
    height: 12px;
}
.apt-icon-duration {
    background-position: -117px -80px;
    width: 14px;
    height: 17px;
}
.apt-icon-pin {
    background-position: -165px -203px;
    width: 11px;
    height: 15px;
}
.apt-icon-email {
    background-position: -182px -179px;
    width: 16px;
    height: 12px;
}
.apt-icon-eye {
    background-position: -91px -126px;
    width: 17px;
    height: 10px;
}
.apt-icon-cart {
    background-position: -114px -122px;
    width: 15px;
    height: 14px;
}
.apt-i-chat {
    background-position: -41px -104px;
    width: 16px;
    height: 13px;
}
.apt-icon-sm-car {
    background-position: -71px -70px;
    width: 17px;
    height: 14px;
}
.apt-icon-g-mobile {
    background-position: -187px -197px;
    width: 10px;
    height: 17px;
    .phone-block & {
        position: absolute;
        left: 10px;
        top: 5px;
    }
}
.apt-icon-q {
    background-position: -99px -83px;
    width: 13px;
    height: 13px;
    .tips h3 & {
        top: 4px;
    }
}
.apt-icon-aptcar {
    background-position: -142px -183px;
    width: 16px;
    height: 13px;
}
.apt-icon-tringle {
    background-position: -24px -63px;
    width: 7px;
    height: 4px;
}
.apt-i-delv-car {
    background-position: -2px -228px;
    width: 16px;
    height: 13px;
}
.apt-icon-forward {
    background-position: -37px -122px;
    width: 10px;
    height: 7px;
    .lrg & {
        top: 5px;
        right: -5px;
    }
}
.apt-icon-curved-arr {
    background-position: -182px -282px;
    $arrSize:14px;
    width: $arrSize;
    height: $arrSize;
    .ctr-icons & {
        margin-top: - ($arrSize / 2);
        margin-left: - ($arrSize / 2);
    }
}
.apt-icon-basket {
    background-position: -97px -65px;
    $basketW:16px;
    $basketH:15px;
    width: $basketW;
    height: $basketH;
    .ctr-icons & {
        margin-top: - ($basketH / 2);
        margin-left: - ($basketW / 2);
    }
}
.apt-social-media {
    @extend .icons;
    background-image: url("../images/social-media.png");
    width: 30px;
    height: 30px;
    &.gp {
        background-position: -32px -1px;
    }
    &.fb {
        background-position: -62px 0;
    }
    &.pt {
        background-position: -93px 0;
    }
}
.apt-sale-label {
    background: url("../images/sale-labels.png") no-repeat -1px -1px;
    width: 91px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: -3px;
    color: #fff;
    z-index: 15;
    line-height: 22px;
    padding-left: 10px;
    &.end, &.ended {
        background-position: -1px -27px;
        width: 98px;
    }
}
.apt-i-calendar {
    background-position: -1px 0;
    width: 13px;
    height: 14px;
    .dp-holder & {
        position: absolute;
        right: 7px;
        top: 10px;
    }
}
.apt-i-clock {
    background-position: -1px -16px;
    width: 13px;
    height: 13px;
    .active &, &.white {
        background-position: -1px -31px;
    }
}
.apt-i-x {
    background-position: -1px -47px;
    width: 11px;
    height: 11px;
}
.apt-i-warning {
    background-position: -1px -63px;
    width: 14px;
    height: 14px;
    .aptd-alert & {
        margin-top: -7px;
    }
}
.apt-i-check {
    background-position: -1px -80px;
    width: 13px;
    height: 12px;
    .aptd-alert & {
        margin-top: -6px;
    }
}
.apt-i-paypal {
    background-position: -17px -2px;
    width: 51px;
    height: 32px;
}
.apt-i-visa {
    background-position: -17px -35px;
    width: 51px;
    height: 32px;
}
.apt-i-arr {
    width: 10px;
    height: 7px;
    &.white {
        background-position: -2px -190px;
    }
    &.grey {
        background-position: -25px -70px;
    }
    .x--lrg &, .v-ctr-i & {
        @include abs-pos(50%, 10px, auto, auto);
        position: absolute;
        margin-top: -3px;
    }
}
.apt-i-fb {
    width: 9px;
    $fnHeight: 19px;
    height: $fnHeight;
    &.white {
        background-position: -2px -200px;
    }
    .social-btn & {
        @include abs-pos(50%, auto, auto, 10px);
        margin-top: (- $fnHeight /2);
    }
}
.apt-i-bold-arr {
    background-position: -19px -81px;
    width: 16px;
    height: 12px;
    .aptd-alert a.stick & {
        top: 1px;
    }
    .std & {
        display: none;
    }
    .active & {
        display: inline-block;
    }
    &.white {
        background-position: -40px -81px;
    }
}
.apt-i-variation {
    width: 71px;
    height: 71px;
    &.verified {
        background-position: -129px 0;
    }
}
.apt-i-phone {
    background-position: -47px -120px;
    width: 10px;
    height: 17px;
}
.apt-i-msg {
    background-position: -45px -142px;
    width: 15px;
    height: 11px;
}
// Form Fields Background Icons 

.field-i {
    background-color: #fff !important;
    background-repeat: no-repeat !important;
    &.filled {
        color: #656565 !important;
        background-color: #f8f8f8 !important;
    }
    &.cube {
        background-image: url("../images/field-icons/cube.png") !important;
    }
    &.time {
        background-image: url("../images/field-icons/time.png") !important;
    }
    &.tel {
        background-image: url("../images/field-icons/tel.png") !important;
        &.left {
            background-position: 5px 49.5% !important;
            padding-left: 30px !important;
        }
    }
    &.search {
        background-image: url("../images/field-icons/search.png") !important;
        &.right {
            background-position: 97% 50% !important;
        }
    }
    &.email {
        background-image: url("../images/field-icons/email.png") !important;
        &.left {
            background-position: 7px 50% !important;
            padding-left: 30px !important;
        }
    }
    &.key {
        background-image: url("../images/field-icons/key.png") !important;
        &.right {
            background-position: 98% 50% !important;
        }
    }
    &.calendar {
        background-image: url("../images/field-icons/calendar.png") !important;
        &.right {
            background-position: 98% 50% !important;
        }
    }
    &.right {
        background-position: 94.5% 50% !important;
        padding-right: 24px !important;
    }
    &.left {
        background-position: 7px 50% !important;
        padding-left: 24px !important;
    }
}
.block-i {
    width: 320px;
    position: relative;
    .form-field {
        padding-right: 24px !important;
        padding-left: 24px !important;
    }
    &.phone-key {
        &:before, &:after {
            content:"";
            $pkSize: 17px;
            display: block;
            width: $pkSize;
            height: $pkSize;
            @include absolute($top: 7px);
        }
        &:before {
            left: 5px;
            background: url("../images/field-icons/tel.png") no-repeat 0 0;
        }
        &:after {
            right: 5px;
            background: url("../images/field-icons/key.png") no-repeat 0 0;
        }
    }
    &.search {
        .form-field {
            padding-left: 13px !important;
        }
        &:before {
            $searchSize: 13px;
            content:"";
            width: $searchSize;
            height: $searchSize;
            @include absolute($top: 8px, $right: 20px);
            background: url("../images/apt-sprite.png") -49px -175px;
        }
    }
}
.apt-i-view {
    background-position: -20px -104px;
    width: 17px;
    height: 10px;
    .lbls & {
        top: 2px;
    }
}
.apt-i-basket {
    background-position: -21px -126px;
    width: 16px;
    height: 14px;
    &.active {
        background-position: -22px -206px;
        width: 15px;
    }
}
.apt-i-shopping-cart {
    width: 17px;
    height: 17px;
    background-position: -66px -205px;
    &.active {
        background-position: -44px -205px;
    }
}
.apt-i-heart {
    background-position: -21px -151px;
    width: 16px;
    height: 14px;
    &.active {
        background-position: -21px -226px;
        width: 17px;
        height: 15px;
    }
}
.apt-i-cat {
    background-position: -23px -168px;
    width: 12px;
    height: 17px;
}
.apt-i-cigaret {
    background-position: -21px -191px;
    width: 16px;
    height: 10px;
}
.apt-i-vari {
    width: 22px;
    height: 26px;
    &.verified {
        background-position: -82px -49px;
    }
    &.rejected {
        background-position: -82px -78px;
    }
}
.apt-i-mob {
    background-position: -50px -157px;
    width: 10px;
    height: 15px;
}
.apt-i-arrow {
    $arrh: 44px;
    width: 24px;
    height: $arrh;
    &.right {
        background-position: -97px -109px;
        .next:hover &, &:hover {
            background-position: -98px -156px;
        }
    }
    &.left {
        background-position: -67px -109px;
        .prev:hover &, &:hover {
            background-position: -68px -156px;
        }
    }
    .next &, .prev & {
        margin-right: auto;
        margin-left: auto;
        margin-top: (- $arrh / 2);
        @include absolute($top: 50%, $right: 0, $left: 0);
    }
}
.apt-i-tringle {
    background-position: -39px -70px;
    width: 4px;
    height: 7px;
}
.apt-i-lock {
    background-position: -68px -226px;
    width: 15px;
    height: 16px;
    &.locked {
        background-position: -88px -206px;
    }
    &.unlock {
        background-position: -89px -226px;
        width: 17px;
        height: 16px;
    }
    &.danger {
        background-position: -180px -116px;
    }
}
.apt-i-bell {
    background-position: -130px -147px;
    width: 38px;
    height: 48px;
    &.small {
        background-position: -133px -228px;
        width: 14px;
        height: 16px;
    }
}
.apt-i-plus {
    background-position: -112px -229px;
    width: 14px;
    height: 14px;
}
.apt-icon-plus {
    background-position: -99px -103px;
    width: 14px;
    height: 14px;
}
.apt-icon-x {
    background-position: -163px -146px;
    width: 11px;
    height: 11px;
}
.apt-i-list {
    background-position: -133px -211px;
    width: 15px;
    height: 9px;
}
.apt-i-camera {
    background-position: -152px -216px;
    width: 32px;
    height: 29px;
}

.apt-i-search {
    background-position: -179px -81px;
    width: 18px;
    height: 18px;
}
.apt-i-share {
    background-position: -122px -79px;
    width: 54px;
    height: 54px;
}

$lock-danger-width: 15px;
$bulb-width: 11px;
.has-apt-i {
    position: relative;
    &:before {
        top: 14px;
        left: 7px;
        content: "";
        position: absolute;
        background-image: url("../images/apt-sprite.png");
    }

    &.lock-danger {
        padding-left: $lock-danger-width * 2; // 30
        &:before {
            width: $lock-danger-width;
            height: 16px;
            background-position: -180px -116px;
        }
    }
    &.bulb {
        padding-left: $bulb-width + 14; // 25

        &:before {
        background-position: -188px -223px;
        width: $bulb-width;
        height: 17px;
        }
    }
}

.ico-share {
    width: 30px;
    height: 30px;
    
    &.facebook { background-position: 0 0; }
    &.twitter  { background-position: 0 -31px; }
    &.email    { background-position: -1px -63px; }
}

.ico-search {
    background-position: -11px -112px;
    width: 13px;
    height: 13px;
}

.ico-socials {
    width: 42px;
    height: 42px;
    &:hover {
        @include opacity(.7);
    }
    &.facebook    { background-position: -1px -133px; }
    &.twitter     { background-position: -1px -179px; }
    &.instgram    { background-position: -2px -225px; }
    &.google-plus { background-position: -2px -270px; }
    &.sm {
        width: 32px;
        height: 32px;
        &.facebook    { background-position: -46px -138px; }
        &.twitter     { background-position: -46px -176px; }
        &.instgram    { background-position: -47px -211px; }
        &.google-plus { background-position: -47px -248px; }
    }
}

.ico-arr {
    background-position: -34px -2px;
    width: 16px;
    height: 10px;
    display: none;
    @media (max-width: 745px) {
        display: block;
    }
    .active &,
    .is-active & {
        @include transform(rotate(180deg));
    }
}

.ico-star {
    background-position: -33px -15px;
    width: 24px;
    height: 24px;
}

.apt-icon-rstar {
    background-position: -145px -202px;
    width: 12px;
    height: 12px;
    &.is-active {
        background-position: -116px -66px;
    }
}

.ico-check-mark {
    background-position: -34px -45px;
    width: 24px;
    height: 24px;
    &.small {
        background-position: -56px -111px;
    width: 16px;
    height: 16px;
    }
}

.apt-icon-inbox {
    background-position: -185px -1px;
    width: 15px;
    height: 11px;
}

.ico-inbox {
    background-position:  -35px -77px;
    width: 15px;
    height: 11px;
}

.ico-locked {
    background-position: -35px -91px;
    width: 12px;
    height: 16px;
}

.ico-listing {
    background-position: -53px -78px;
    width: 15px;
    height: 9px;
}

.ico-user {
    background-position:  -53px -91px;
    width: 16px;
    height: 15px;
}

.ico-share {
    background-position:  -34px -111px;
    width: 14px;
    height: 14px;
}

.ico-wheel {
    background-position:  -64px -39px;
    width: 14px;
    height: 15px;
}

.ico-rejected {
    background-position: -62px -1px;
    width: 16px;
    height: 16px;
}

.ico-checkmark {
    background-position:  -62px -22px;
    width: 16px;
    height: 12px;
}

.ico-bars {
    background-position:  -65px -59px;
    width: 15px;
    height: 10px;
}

.icos-twitter {
    background-position: 0 0;
    width: 30px;
    height: 30px;
    &:hover {
        background-position: -1px -34px;
    }
}

.icos-gplus {
    background-position:  -43px -1px;
    width: 29px;
    height: 29px;
    &:hover {
        background-position: -45px -35px;
    }
}

.icos-facebook {
    background-position: -84px 0;
    width: 30px;
    height: 30px;
    &:hover {
        background-position: -85px -34px;
    }
}

.icos-pinter {
    background-position: -125px 0;
    width: 30px;
    height: 29px;
    &:hover {
        background-position:  -126px -34px;
    }
}

.ico-fbook {
    background-position:  -86px -2px;
    width: 26px;
    height: 26px;
}

.ico-twter {
    background-position:  -116px -2px;
    width: 32px;
    height: 25px;
}

.ico-e-mail {
    background-position: -86px -33px;
    width: 28px;
    height: 18px;
}

.ico-xicon {
    background-position: -48px -283px;
    width: 30px;
    height: 30px;
}

.ico-shopping-bar {
    background-position: -121px -36px;
    width: 22px;
    height: 31px;
}

.ico-qmark {
    background-position: -116px -73px;
    width: 32px;
    height: 32px;
}

.ico-chair {
    background-position: -85px -115px;
    width: 21px;
    height: 27px;
}

.ico-group {
    background-position: -120px -112px;
    width: 25px;
    height: 30px;
}

.ico-cloud {
    background-position: -85px -161px;
    width: 16px;
    height: 16px;
}

.ico-cloud {
    background-position: -85px -161px;
    width: 16px;
    height: 16px;
}

.ico-times {
    background-position: -85px -145px;
    width: 14px;
    height: 14px;
}
