@import "mixins", "vars";

// #clearfix
.cf {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
%clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
// #center img
.ctr-img {
	margin: auto;
	@include abs-pos(0, 0, 0, 0);
}
.ctr-el {
	@include abs-pos(50%, auto, auto, 50%);
}

// #opacity ( opaque = opacity: 100 )
.opaque    { @include opaque; }
.opacity-0 { @include opacity(0); }

.inline-list {
	list-style: none;
	margin: 10px 0;
	padding: 0;
	li {
		float: left;
		display: inline-block;
		span {
			display: block;
			padding: 10px 10px 10px 0;
			&.list-label {
				font-size: 11px;
				color: $darkgray;
			}
		}
	}
}


.item-shipping {
	z-index: 5;
	color: #fff;
	height: 13px;
	font-size: 14px;
	padding: 6px 6px 8px 6px;
	background-color: $aptColor;
	@include abs-pos (auto,0,0,0);
	&.free {}
}
.validator { display: none; }
.has-error {
	.block-lable { color: #f66; } 

	&.inp-1st {

	.single {
		.first-field { 
			border-color: #FF6666 !important; 
		& + .validator { display: block; color: #f66; }
		}
	}

	.block-lable  {
	& + .input-prepend {
		.add-on {
			color: #B94A48;
			border-color: #F66;
			background-color: #F2DEDE;
		}

		input, 
		select, 
		textarea, 
		a {
			border-color: #F66;
			@include box-shadow (inset 0 1px 1px rgba(0, 0, 0, 0.075));
		}
	}

	& + div {
		.form-field {
			border-color: #F66;
			@include box-shadow (inset 0 1px 1px rgba(0, 0, 0, 0.075));
		}
	}
	} // .block-lable 

	.first {
		> input.datepicker {
			border-color: #F66;
			@include box-shadow (inset 0 1px 1px rgba(0, 0, 0, 0.075));
		}
		.btn {
			color: #B94A48;
			border-color: #F66 !important;
		}
	}

	} //end 1st

	&.inp-2nd {

	.single {
		.second-field { 
			border-color: #FF6666 !important; 
		& + .validator { display: block; color: #f66; }
		}
	}

	.block-fields {

	& + .block-fields {
	.input-prepend {
		.add-on {
			color: #B94A48;
			border-color: #F66;
			background-color: #F2DEDE;
		}

		input, 
		select, 
		textarea, 
		a {
			border-color: #F66;
			@include box-shadow (inset 0 1px 1px rgba(0, 0, 0, 0.075))
		}
		}
	}

	& + .block-fields {
		.form-field {
			border-color: #F66;
			@include box-shadow (inset 0 1px 1px rgba(0, 0, 0, 0.075));

		}
	}

	} // end .block-fields

	.second {
		> input.datepicker {
			border-color: #F66;
			@include box-shadow (inset 0 1px 1px rgba(0, 0, 0, 0.075));
		}
		.btn {
			color: #B94A48;
			border-color: #F66 !important;
		}
	}

	} // end 2nd

	&.inp-A {

	.single {
		.first-field,
		.second-field { border-color: #FF6666 !important; }
		.validator    { display: block; color: #f66; }
	}

	.input-prepend {
		.add-on {
			color: #B94A48;
			border-color: #F66;
			background-color: #F2DEDE;
		}
	}

	input, 
	select, 
	textarea, 
	a {
		border-color: #F66;
		@include box-shadow (inset 0 1px 1px rgba(0, 0, 0, 0.075))
	}
	.dp-holder > input.datepicker {
		border-color: #F66;
		@include box-shadow (inset 0 1px 1px rgba(0, 0, 0, 0.075));
	}
	.btn {
		color: #B94A48;
		border-color: #F66 !important;
	}
	} // end all
}

.error-field { border-color: #FF6666 !important; }

// #width
.m-w72 { min-width: 72px; }
.w-128 { width: 128px !important; }
.w-188 { width: 188px !important; }
.w-70  { width: 70px !important; }
.w-155 { width: 155px !important; }
.w-113 { width: 113px !important; }
.w-390 { width: 390px !important; }
.mxw-322 { max-width: 322px; }
@media (max-width: 745px) {
  .user-addresses.w-318 { width: auto !important; }
}
.w-318 {
  width: 318px !important;
}
.mw-930 { max-width: 930px; }
// #padding
.p-5    { padding: 5px; }
.p-tb8  { padding-top: 8px; padding-bottom: 8px; }
.p-8    { padding: 8px; }

// #margin
.m-t40  { margin-top: 40px !important; }
.m-b60  { margin-bottom: 60px; }
.m-rl10 { margin-right: 10px !important; margin-left: 10px !important; }
.m-rl5  { margin-right: 5px !important; margin-left: 5px !important; }
.m-t5   { margin-top: 5px; }
.m-r5   { margin-right: 5px !important; }
.m-l5   { margin-left: 5px !important; }
.m-t10  { margin-top: 10px; }
.m-b10  { margin-bottom: 10px !important; }
.m-t12  { margin-top: 12px; }
.m-t34  { margin-top: 34px; }
.m-r0  { margin-right: 0 !important; }

.top-4 { top: 4px; }
.top--1{ top: -1px; }

.circle {
	 line-height: 34px;
	 @include circle(34px);
	 &.prim,
     &.primary { background-color: #EA9A23; }
}

.highlight {
  background-color: #fefcf5;
  &.grey { background-color: #F8F8F8; }
}
td.hidden-mobile,
th.hidden-mobile { display: table-cell; }
.hidden-mobile { display: block; }
.hidden-mobile {
  @include breakpoint(mobile) { display: none }
}
.hide-mid {
  @include breakpoint(mid-devices) { display: none !important; }
}
.show-mid {
  display: none !important;
  @include breakpoint(mid-devices) { display: block !important; }
  &.apt-btn {
  	text-align: left !important;
  	}
}


.popup-msg {
  .h3 { 
  color: #656565; 
  display: block; 
  font-weight: bold; 
  line-height: 100%; font-size: 14px; 
  margin: 10px 0;
  }
}

.hidden-mobile {
	@media (max-width: 745px) {
		display: none !important;
	}
}
.visible-mobile {
	display: none !important;
	@media (max-width: 745px) {
		display: block !important;
	}
}


// #margin
// >> Adding
@for $i from 1 through 30 {
   .m-#{$i} { margin: 1px * $i; }
}
// >> Subtracting
@for $i from 1 through 30 {
   .m--#{$i} { margin: -1px * $i; }
}

// #margin-top
// >> Adding
@for $i from 1 through 30 {
   .m-t#{$i} { margin-top: 1px * $i; }
}
// >> Subtracting
@for $i from 1 through 30 {
   .m--t#{$i} { margin-top: -1px * $i; }
}

// #margin-top-bottom
@for $i from 1 through 30 {
   .m-tb#{$i} { margin-top: 1px * $i; margin-bottom: 1px * $i; }
}

// #margin-right
// >> Adding
@for $i from 1 through 30 {
   .m-r#{$i} { margin-right: 1px * $i !important; }
}
// >> Subtracting
@for $i from 1 through 30 {
   .m--r#{$i} { margin-right: -1px * $i; }
}

// #margin-bottom
// >> Adding
@for $i from 1 through 30 {
   .m-b#{$i} { margin-bottom: 1px * $i; }
}
// >> Subtracting
@for $i from 1 through 30 {
   .m--b#{$i} { margin-bottom: -1px * $i; }
}

// #margin-left
// >> Adding
@for $i from 1 through 30 {
   .m-l#{$i} { margin-left: 1px * $i; }
}
// >> Subtracting
@for $i from 1 through 30 {
   .m--l#{$i} { margin-left: -1px * $i; }
}


// #padding
@for $i from 1 through 30 {
   .p-#{$i} { padding: 1px * $i; }
}

// #padding-top
@for $i from 1 through 30 {
   .p-t#{$i} { padding-top: 1px * $i; }
}

@for $i from 1 through 30 {
   .p-tb#{$i} { padding-top: 1px * $i; padding-bottom: 1px * $i; }
}

// #padding-right
@for $i from 1 through 30 {
   .p-r#{$i} { padding-right: 1px * $i; }
}

@for $i from 1 through 30 {
   .p-rl#{$i} { padding-right: 1px * $i; padding-left: 1px * $i; }
}

// #padding-bottom
@for $i from 1 through 30 {
   .p-b#{$i} { padding-bottom: 1px * $i; }
}

// #padding-left
@for $i from 1 through 30 {
   .p-l#{$i} { padding-left: 1px * $i; }
}

// #top
// >> Adding
@for $i from 1 through 30 {
   .top-#{$i} { top: 1px * $i; }
}
// >> Subtracting
@for $i from 1 through 30 {
   .top--#{$i} { top: -1px * $i; }
}

// #right
// >> Adding
@for $i from 1 through 30 {
   .right-#{$i} { right: 1px * $i; }
}
// >> Subtracting
@for $i from 1 through 30 {
   .right--#{$i} { right: -1px * $i; }
}

// #bottom
// >> Adding
@for $i from 1 through 30 {
   .bottom-#{$i} { bottom: 1px * $i; }
}
// >> Subtracting
@for $i from 1 through 30 {
   .bottom--#{$i} { bottom: -1px * $i; }
}

// #left
// >> Adding
@for $i from 1 through 30 {
   .left-#{$i} { left: 1px * $i; }
}
// >> Subtracting
@for $i from 1 through 30 {
   .left--#{$i} { left: -1px * $i; }
}
.p-rl0 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.box-header {
	background-color: #FEFCF5;
	margin: -15px -10px 10px -10px;
	padding: 5px 13px;
	p { margin: 0; }
}

.stick {
	z-index: 5;
	&.tr,
	&.top-right {
		@include absolute($top: 0, $right: 0);
	}
	&.top-left {
		@include absolute($top: 0, $left: 0);
	}
	&.apt-i-variation { margin-right: .2em; }
}


.list {
	margin: 0;
	padding: 0;
	&.vertical {
		li {
			display: block;
			padding: 0; 
			margin-bottom: 10px;
			line-height: 100%;
		}
	}
	&.lbls { 
		li {
			@extend %clearfix;
		}
		.spn {
			float: left; 
			width: 26px; 
			font-size: 12px;
			word-wrap: break-word; 
			&.desc { width: 115px;  }
		}
	}
	&.lbls-force {
		width: 140px; 
		li {
			@extend %clearfix;
		}
		.spn {
			float: left; 
			width: 24px; 
			font-size: 12px;
			word-wrap: break-word; 
			&.desc { width: 115px;  }
		}
	}
}


.quick-access {
	#mobile-secondary-menu & {
		@extend %clearfix;
		border-top: 1px solid #3b3b3b;
		border-bottom: 1px solid #3b3b3b;
		p {
			float: right;
			margin: 0 20px 0 0;
		}
		a {
			width: auto;
			text-transform: none;
			display: inline-block;
		}
	}
}

.brdr-over {
	&.brdr-std {
		border: 1px solid #fff;
	}
}
.fit { width: 100%; }


.text-status {
	&.in-progress {
		color: #E99923;
	}
	&.is-canceled {
		color: #656565;
	}
	&.is-received {
		color: #6BA501;
	}
}

.styled-ol {
	ol {
	padding: 0;
	margin: 0 0 20px 0;
    list-style-type: none;
    counter-reset: ol-counter;
    li {
    	color: #B19046;
		font-size: 16px;
		position: relative;
		padding-left: 22px;
		padding-bottom: 7px;
		
		&:before {
		    content: counter(ol-counter)".";
		    counter-increment: ol-counter;
		    color: #DCCCAB;
		    font-size: 20px;
		    font-family: $customFamily;
		    @include absolute($top: 0, $left: 0);
		}
    }
	}
}

.user-access {
	&.btn-group {
		> a { 
			display: inline-block; 
			@include breakpoint(large-screen) {
				padding-right: 8px !important;
				padding-left: 8px !important;
			}
		}
	}
	.dropdown-menu {
		margin-top: 0;
		min-width: 175px;
		padding: 10px 0;
		right: auto !important;
		left: auto !important;

		&:before { display: none !important; }
		&:after  { right: 7px !important; }
		&:after {
			display: none !important;
		}
		li {
			a { 
				padding: 7px; 
				color: #999;
				font-size: $font-size-global;
				font-weight: $font-weight-normal;
				font-family: $font-family-roboto;
				&:hover {
					color: #ccc;
				}
			}
			& + li {
				margin-top: 0;
				padding-top: 5px;
				border-top: 0;
			}
		}
	}
}


.sorting {
    position: relative;
    z-index: 5;
	 button {
	    border: 0;
	    color: #B19046;
	    display: inline;
	    cursor: pointer;
	    padding-left: 0;
	    margin: 0 5px 16px 0;
	    font-size: $font-size-base; // 12
	    @include alpha-variant(bg, #000, 0);
	    @include breakpoint(apt-break) {
			padding-left: 0;
	    }
	}
	> ul {
		display: inline-block;
		position: relative;
		top: -8px;
		margin: 0;
	}
}

.brdr-0 { border: 0 !important; }

.center-block {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.bullet {
	margin-left: 0;
	li { 
		color: $color-global; 
		display: list-item;
		margin: 0 0 14px 13px; 
		line-height: 1.5;
		list-style: disc outside none;
		&:before,
		&:after {
			overflow: visible;
		}
		ul {
			margin-top: 14px;
			li {
				list-style: none;
				margin-bottom: 7px;
				margin-left: 0;
			}
		}
	}
}

.price-tag {
	color: #fff;
	position: relative;
	display: inline-block;
	background-color: #ccc;
	font-size: $font-size-base - 2; // 10
	padding: 2px 4px;
	@include border-radius(2px);
	&:after {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(0, 0, 0, 0);
		border-left-color: #ccc;
		border-width: 3px;
		margin-top: -3px;
	}

	&.left-arr {
			&:after {
				left: -6px;
			}
		}

	&.is-reduced {
		background-color: #61C440;
		&:after {
			border-left-color: #61C440;
		}
		&.left-arr {
			&:after {
				border-left-color: transparent;
				border-right-color: #61C440;
			}
		}
	}

	&.is-sale,
	&.best-offer {
		background-color: #FF6666;
		&:after {
			border-left-color: #FF6666;
		}
	}
}


.apt-dropdown {
	&.dropdown-menu {
		margin-top: 0;
		min-width: 175px;
		padding: 10px 0;
		@include border-radius(0);

		&:before { display: none !important; }
		&:after  { right: 7px !important; }
		&:after {
			display: none !important;
		}
		li {
			margin: 0;
			padding: 0;
			line-height: 100%;
			a { 
				padding: 7px; 
				color: #999;
				font-size: $font-size-global;
				font-weight: $font-weight-normal;
				font-family: $font-family-roboto;

				&:hover {
					color: #ccc;
					text-shadow: none;
					background: rgb(101, 101, 101);
				}
			}
			& + li {
				margin-top: 0;
				padding-top: 0;
				border-top: 0;
			}
		}
	}
}


body {
	&.run-this-city {
		.apt-slider-layer {
			h2 {
		        @include opacity(.5);
		        @include filter(blur(10px));
				@include transform ( scale(2) translateY(-50px) );
			}
		}
		.aptd-header {
			@include box-shadow (0 2px 1px rgba(0,0,0,.1));
		}
		.apt-slider {
			@include filter( grayscale(60%) );
		}
		.slider-bullets { 
			@media (min-width: 745px){
				display: none; 
			}
		}
	}
}