// Mixins

$apt-lrg-screen  : 1200px;
$apt-md-screen   : 998px;
$apt-sm-screen   : 768px;

@mixin bp($point) {
   @if $point == lrg-screen {
     @media (min-width: $apt-lrg-screen) { @content ; }
  }
  @else if $point == std-screen {
     @media (max-width: $apt-lrg-screen) { @content ; }
  }
  @else if $point == md-screen {
     @media (max-width: $apt-md-screen) { @content ; }
  }
  @else if $point == sm-screen {
     @media (max-width: $apt-sm-screen) { @content ; }
  }
  @else if $point == handheld {
     @media (max-width: $apt-sm-screen - 1) { @content ; }
  }
}

// RWD Breakpoint
@mixin breakpoint($point) {
  // mid-devices = 998 and down
  @if $point == mid-devices {
    @media (max-width: $midDevices) { @content; }
  }
  // large-screen = 1200 and up
  @else if $point == large-screen {
    @media (min-width: $largeScreen) { @content; }
  } 
  // desktop = 1200 and down
  @else if $point == desktop {
    @media (max-width: $largeScreen) { @content; }
  }
  // tablet = 768 and down 
  @else if $point == tablet {
    @media (max-width: $tablet) { @content; }
  }
  // tablet = 745 and down 
  @else if $point == apt-break {
    @media (max-width: 745px) { @content; }
  }
  
  // mobile = 480
  @else if $point == mobile {
    @media (max-width: $landtoPort)  { @content; }
  } 
}

@mixin respond-to($media) {
  @if $media == handhelds {
    @media (max-width: $handhelds-screens) { @content; }
  }
  @else if $media == medium-screens {
    @media (max-width: $medium-screens) { @content; }
  }
  @else if $media == tablet-sm-screens {
    @media (max-width: $tablet-sm-screens) { @content; }
  }
  
  @else if $media == wide-screens {
    @media (min-width: $wide-screens) { @content; }
  }
}

// #absolute positioned
@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
} 

// Color and Background rgba with fallback
@mixin alpha-variant($property, $color, $alpha) {
    $rgba: rgba($color, $alpha);
    $ie-hex-str: ie-hex-str($rgba);
  
    @if $property == color {
      color: $color;
      color: $rgba;
    }
    
    @else if $property == bg , background {
      background-color: transparent;
      background-color: $rgba;
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
      zoom: 1;
    }
}


// Background Alpha
@mixin bgAlpha($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}

// #triangle
@mixin triangle($dir, $color, $size) {
 
  @if $dir == "left" {
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    border-top: $size solid transparent;
  }
  @else if $dir == "right" {
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    border-top: $size solid transparent;
  }
  @else if $dir == "up" {
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if $dir == "down" {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-top: $size solid $color;
  }
 
  height: 0;
  width: 0;
}

// Placeholder
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

// Rounded Box
@mixin circle($size) {
     width: $size;
     height: $size;
     @include border-radius(100%); 
     overflow: hidden;
     position: relative;
     display: inline-block;
     text-align: center;
}


$position-default-top:    null !default;
$position-default-right:  null !default;
$position-default-bottom: null !default;
$position-default-left:   null !default;


@mixin _position($type,
$top: $position-default-top, $right: $position-default-right,
$bottom: $position-default-bottom, $left: $position-default-left) {
  $allowed_types: 'absolute' 'relative' 'fixed';

  @if not index($allowed_types, $type) {
    @warn "Unknow position: #{$type}.";
  }

  position: $type;
  @each $data in top $top, right $right, bottom $bottom, left $left {
    #{nth($data, 1)}: nth($data, 2);
  }
}

@mixin absolute($top: $position-default-top, $right: $position-default-right,
$bottom: $position-default-bottom, $left: $position-default-left) {
  @include _position(absolute, $top, $right, $bottom, $left);
}

@mixin relative($top: $position-default-top, $right: $position-default-right,
$bottom: $position-default-bottom, $left: $position-default-left) {
  @include _position(relative, $top, $right, $bottom, $left);
}

@mixin fixed($top: $position-default-top, $right: $position-default-right,
$bottom: $position-default-bottom, $left: $position-default-left) {
  @include _position(fixed, $top, $right, $bottom, $left);
}

@mixin keyframes($name) {
  @-o-keyframes $name { @content };
  @-moz-keyframes $name { @content };
  @-webkit-keyframes $name { @content }; 
  @-keyframes $name { @content };
}

@mixin animation-name($name) {
  -o-animation-name: $name;
  -moz-animation-name: $name;
  -webkit-animation-name: $name;
  animation-name: $name;
}
@mixin animation-duration($duration) {
  -o-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}
@mixin animation-iteration-count($count) {
  -o-animation-iteration-count: $count;
  -moz-animation-iteration-count: $count;
  -webkit-animation-iteration-count: $count;
  animation-iteration-count: $count;
}