
.container {
	&.lv-container {
		@media (min-width: 1170px) {
			width: 1170px;
		}
		@include respond-to(medium-screens) {
			width: 735px;
		}
		@include respond-to(tablet-sm-screens) {
			width: 300px;
		}
	}
}
.apt-home {
	background: #f9f9f9;
}

div.navbar-fixed-top {
	& + .aptd-header {
		margin-top:  38px;
	}
	@include respond-to(medium-screens) {
		margin-bottom: 0
	}
}

.aptd-header {
	margin-bottom: 0;
	padding: 36px 0 30px 0;
	@extend %clearfix;
	background-color: #f9f9f9;
	@include single-transition(box-shadow, .6s, linear);
	.apt-form {
		&,
		.control-group {
			margin-bottom: 0;
		}
	}
	& + .main-container { margin-top: 30px; }
	&.fixed-top {
		height: 42px;
		position: fixed;
		right: 0;
		left: 0;
		z-index: 10;
	}
}

.apt-logo {
	float: left;
	width: 230px;
}

// [ heading ]
.section-heading {
	&.form-section {
		margin-top: 40px;
		/* margin-bottom: 50px; */
		margin-bottom: 0;
		border-top: 1px solid #999;
		padding-top: 12px;
		font-weight: normal;
        color: #666;
        font-size: 18px;
        font-family: $font-family-heading;
        small {
        	&.text-mute {
        		color: $color-meta-light;
        		font-size: $font-size-meta;
        	}
        	@include respond-to(tablet-sm-screens) {
        		display: block;
        		clear: both;
        		margin-left: 0;
        	}
        }
        @include respond-to(tablet-sm-screens) {
        	font-size: $font-size-global;
        	margin-bottom: 27px;
        }
	}
}

// [ add new item photo uploads ]
.new-item-photos {
	width: 898px;
	padding-left: 30px;
	float: left;
	@include respond-to(medium-screens) {
		width: 100%;
		padding-left: 15px;
	}
}
.upload-photo-tips {
	width: 240px;
	float: left;
	font-size: 12px;
	@include respond-to(medium-screens) { width: auto; }
	h3 {
		color: #656565;
		font-weight: normal;
		font-size: $section-title; // 18
		line-height: 1.2;
		font-family: $font-family-heading;
		margin: 0 0 20px 0;
		@extend %clearfix;

		padding: 0;
		i { float: left; }
		span {
			float: left;
			width: 80%;
		}
	}
	ul {
		&.bullet {
		 li {
			color    : $color-light-black;
			margin   : 0 0 14px 13px;
			font-size: $font-size-global;

			&:before {
				content: "\2022";
				display: inline-block;
				float: left;
				overflow: visible;
				margin-left: -15px;
				font-weight: bold;
				font-size: 18px;
				@include relative($top: -3px);
			}
			}
		}
	}
}

// #sub-menu-search-bar
.sub-menu-search-bar {
	width: 325px;
	display: none;
	@include absolute($top: 0, $right: 160px, $bottom: 0);
	.search-bar-holder {
		@include absolute($top: 0, $right: 0, $bottom: 0, $left: 0);
		@include background-image(linear-gradient(to right, rgba(51, 51, 51, 0.9) , #333));
	}

	.secondary-menu.fixed & {
		display: block;
	}

	.search-bar {
		&.span3 {
			&, 
			.block-i,
			.form-field { width: 215px; }
		}

		.block-i {
			&.search {
				&:before {
					right: 9px;
				}
			}
		}
		

	}
	.suggestions-list {
		top: 29px;
		width: 370px;
		display: none;

		li {
			float: none !important;
			clear: both;
			top: 0 !important;
			margin: 0 !important;
			&:hover {
				a { background: transparent; }
			}
			a {
				padding: 0;
				font-size: $font-size-base;
				text-transform: none;
				color: $color-global;
			}
		}
	}
}

// 
.callout-box {
	&.mention-block {
		background: #F8F8F8;	
		padding: 9.5px 15px;
		color: $color-light-black;
		&.set-max {
			max-width: 705px;
		}
	}
}


// [ message ]
.wraning-message { 
    display: none; 
    color: $color-global;
    padding: 11px;
    border: 1px solid #E5E5E5;
    margin: -9px 1px 14px 45px;
    line-height: 18px;
    position: relative;
    &:before {
    	content: "";
    	background: url(../images/apt-sprite.png) no-repeat -177px -101px;
		width: 22px;
		height: 12px;
		@include absolute($top: -12px, $left: 13px);
    }
    p {
    	margin-bottom: 0;
    }
}

.helper-tips {
	padding: 45px 5px 0 45px;
	color: $color-global;
	p {
		line-height: 18px;
		font-size: $font-size-base;
		padding-top: 14px;
		padding-right: 14px;
		padding-bottom: 14px;
		&.has-apt-i {
			background: #FEFCF5;
		}
		a {
			font-size: $font-size-base;
		}
	}
	@include respond-to(medium-screens) {
		padding: 45px 5px 0 0;
	}
}


//#apt-togglable
.apt-togglable {
	background: #f9f9f9;
	padding: 14px;

	.get-info {
		font-size: $font-size-section-heading - 2; //16
		margin: 0 0 23px 0;
		padding: 0;
		line-height: 100%;
		display: block;
		font-weight: normal;
		color: $gray;

		 .togg-icon {
			border: 0;
			padding: 0;
			margin: 0 10px 0 0;
			width: auto;
			height: auto;
			position: relative;
			top: 1px;
			float: left;
			i {
				top: 0;	
				width: 17px;
				height: 17px;
				display: inline-block;
				background: url('../images/sprite.png') no-repeat -137px -148px;
				}
			&.opned { 
				i { background-position: -115px -148px;  }
			}	
		}
		
	}
	.productInfo {
		color: $color-global;
		font-size: $font-size-base;
		line-height: 21px;
		padding: 0 0 0 30px;
		p {
			padding-top: 0;
		}
	}
}


.success-block {
	color: $color-global;
	line-height: 1.5;
	font-size: $font-size-global + 1; // 15
	.apt-title {
		&.page {
			margin-bottom: 30px;
			font-size: $font-size-base + 10;
			color: $color-brand-primary;
			font-family: $font-family-global;
		}
	}
}

.apt-search-bar {
	float: left;
	width: 625px;
	 @media (max-width: 1170px) {
		width: 430px;
		.block-fields { width: 360px; }
	}
	margin-left: 40px; 
	font-family: $font-family-roboto;
	color: #999;
	font-size: $font-size-global;
	.btn.apt-btn,
	input.form-field {
		font-family: $font-family-roboto;
	color: #999;
		height: 37px;
		background: #fff;
		border-color: #dfdede;
		@include box-shadow(none);
		@include border-radius(0);
	}
	.caret { border-top: 4px solid #999; }
	.input-append  {
		.btn {
			&:last-child {
				@include border-radius(0);
			}
		}
	}

	input.form-field {
		width: 73.6%;
	}
	.dropdown-menu-holder {
		position: relative;
		display: inline-block;
	}
}

.aptd-support {
	float: left;
	color: #999;
	margin-left: 40px;
	@media (max-width: 1170px) {
		float: right;
		margin-left: 0;
	}
	h4 {
		margin: 0;
		font-family: $font-family-mus;
		font-size: $font-size-global + 3; // 17
		letter-spacing: 1px;
	}
	.aptd-email {
		color: inherit;
		margin-left: 20px;
		font-size: $font-size-global;
		font-family: $font-family-roboto;
	}
}


.aptd-nav-menu {
	margin-top: 10px;
	font-family: $font-family-roboto;
	.dropdown-menu.apt-dropdown {
		margin-top: 11px;
	}
	> ul {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			display: inline-block;
			&.open {
				.collections-btn {
					color: #fff;
					background: $color-brand;
					@include border-radius(3px);
					.caret {
						border-top: 4px solid #fff;
					}
				}
			}
			&:first-child {
				a { padding-left: 0; }
			}
			> a {
				color: #999;
				padding: 10px 20px;
				text-transform: uppercase;
				font-size: $font-size-global;
				&.collections-btn {
					.caret {
						left: -3px;
						position: relative;
						border-top: 4px solid #999;
					}
				}
			}

		}
	}
}

.success-post-container {
	&,
	& *,
	&:before,
	& *:before,
	&:after,
	& *:after {
		@include box-sizing(border-box);
	}

	width: 950px;
	margin: 0 auto;
	font-family: $font-family-roboto;
	font-size: 16px;
	color: #666;
	@include respond-to(medium-screens) {
		width: auto;
	}
	h1 {
		color: #333;
		font-size: 25px;
		font-family: $font-family-mus;	
		font-weight: $font-weight-normal;
	}
	h3 {
		font-size: 18px;
		font-family: $font-family-roboto;
		font-weight: bold;
	}
	h4 {
		margin-top: 0;
		font-size: 16px;
		font-family: $font-family-roboto;
		font-weight: bold;
	}
	a {
		color: #B19046;
	}
	.apt-btn {
		&.text-uc.lrg {
			min-width: 254px;
			min-height: 42px;
			line-height: 42px;
		}
		color: #fff;
	}
	hr {
		border-top-color: #ECECEC;
		border-bottom: 0;
		margin-right: -20px;
		margin-left: -20px;
	}
	.text-mute {
		color: #999;
	}
	.paid-price {
		color: #E1A631;
		font-size: 25px;
		float: right;
		font-family: $font-family-roboto;
	}
	.bullet {
		li {
			ul {
				margin: 5px 0 0 0;
				li {
					&:before {
						content: "- ";
						display: inline-block;
						margin-right: 3px;
					}
				}
			}
		}
	}
	.control-group { float: left; margin-right: 15px; }
	.control-group,
	.block-fields { width: auto; }
	.apt-btn {
		&.pull-right {
			margin-right: 15px;
		}
	}
	.success-post-main {
		float: left;
		width: 590px;
		@include respond-to(medium-screens) {
			float: none;
			width: auto;
			margin: 15px 0;
		}
		padding: 20px;
		margin-right: 15px;
		background: #F9F9F9;
		border-top: 2px solid #E2A731;
	}

	input.form-field {
		width: 270px !important;
	}
	
	.success-post-sidebar {
		float: left;
		width: 336px;
		@include respond-to(medium-screens) {
			float: none;
			width: auto;
		}
		> div { margin-bottom: 20px; }

		.sidebar-share-widget {
			background: #F9F9F9;
			padding: 50px 35px;
			text-align: center;
			font-family: $font-family-mus;
			font-size: 20px;
			&.socials {
				h4 {
					font-size: 20px;
					font-family: $font-family-mus;
					font-weight: $font-weight-normal;
					margin-bottom: 10px;
				}
			}
		}
		.ad-widget {
			background: #F9F9F9;
			padding: 16px;
			font-family: $font-family-roboto;
			font-size: $font-size-global;
			h4 {
				font-size: 16px;
				font-weight: bold;
			}

		}
		.purchased-item {
			background: #F9F9F9;
			padding: 20px;
			font-family: arial, sans-serif;
			font-size: 14px;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					display: block;
					@extend %clearfix;
					margin-bottom: 17px;
				}
			}
			.small-thumb {
				width: 45px;
				height: 45px;
				background: #fff;
				border: 1px solid #DFDEDE;
				float: left;
				display: block;
				margin-right: 10px;
				span {
					display: block;
					margin-top: 7px;
				}
			}
		}
	}
}


.ie8 {
	.apt-picks {
	  	.image-holder {
	  		&,
	  		> div {
	  		display: block !important;
			width: auto !important; 
	  		}
		}
	}
}

$picks-col-gutter: 13px;

.apt-picks-holder {
  @extend %clearfix;
  font-size: $font-size-global;
  padding-left: $picks-col-gutter;
  padding-right: $picks-col-gutter;
  font-family: $font-family-roboto;
  
  a { color: #b19046; }

  h2 {
  	color: #333;
  	font-size: $font-size-global;
  	font-weight: $font-weight-normal;
  	margin: 0;
  	line-height: 100%;
	padding-bottom: 7px;
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&:hover {
		color: #b19046;
	}	
  	a {
  		color: inherit;
  	}
  }
	.publisher {
		font-size: 12px;
		color: #999;
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
  .rating {
  	span {
  		float: left;
  		margin: 8px 0 0 0;
  		@include respond-to(tablet-sm-screens) { margin-bottom: 8px; }
  	}
  }

  .item-price {
  	float: right;
  	font-size: 20px;
  	font-weight: $font-weight-light;
  	color: #999;
  	@include respond-to(tablet-sm-screens) {
  		float: left;
  		font-size: 12px;
  	}
  }

.apt-picks {
  &,
  & *,
  &:before,
  & *:before,
  &:after,
  & *:after {
    @include box-sizing(border-box);
  }
  @extend %clearfix;
  margin-right: - $picks-col-gutter;
  margin-left: - $picks-col-gutter;
	
  .apt-col {
    float: left;
    width: 275px;
    height: 360px;
    padding: 8px;
    border: 1px solid #dfdede;
    background: #fff;
    @include box-shadow(0 1px 1px #f0f0f0);
    margin-right: $picks-col-gutter / 2;
  	margin-left: $picks-col-gutter / 2;
  	@media (max-width: 1170px) {
  		width: 220px;
		height: 315px;
  	}
  	@include respond-to(medium-screens) {
		height: 430px;
		margin-bottom: 15px;
  	}
  	@include respond-to(tablet-sm-screens) {
  		width: 100%;
  		height: auto;
		margin-left: 0;
  	}
  }

  .image-holder {
    height: 260px;
  	@media (max-width: 1170px) {
  		height: 200px;
  	}
  	@include respond-to(medium-screens) {
		height: 335px;
  	}
  	@include respond-to(tablet-sm-screens) {
  		height: 87px;
		width: 87px;
		margin-right: 10px;
		margin-bottom: 0;
		float: left;
		& + .clear { 
			display: none !important; 
			& + div {
				float: left;
			}
		}
  	}
    margin-bottom: 14px; 
    display: table;
    width: 100%;
	background: #fff;
	border: 1px solid #eee;
    > div {
    	text-align: center;
    	display: table-cell;
    	vertical-align: middle;
		.ie8 {
			display: block;
			width: auto;
		}
    }
  }
}
  
}


.section-block {
	padding-top: 40px;
	padding-bottom: 0;
	@include respond-to(tablet-sm-screens) {
		padding-top: 0;
		padding-bottom: 0;
	}
	&.brands-section {
		background: #eee;
		margin-bottom: 50px;
		@include respond-to(medium-screens) {
			margin-bottom: 0;
		}
		@include respond-to(tablet-sm-screens) {
			background: transparent;
		}
	}
	&.cats-section {
		margin-top: 10px;
		.category-col {
			float: left;
			width: 140px;
			height: 175px;
			padding: 8px;
			background: #fff;
			margin-right: 10px;
			margin-bottom: 10px;
			border: 1px solid #dfdede;
			text-align: center;
			@include box-shadow(0 1px 1px #f0f0f0);
			@include box-sizing(border-box);
			font-family: $font-family-roboto;
			font-size: 12px;
			color: #666;
			a {
				color: inherit;
			}
			.cat-thumb {
				width: 120px;
				height: 120px;
				border: 1px solid #efefef;
				position: relative;
				margin: 0 auto 12px auto;
				@include box-sizing(border-box);
				 img {
					max-width: 100%;
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					}
			}
		}
	}
}

.section-heading {
	padding-top: 0;
	padding-bottom: 40px;
	@include respond-to(medium-screens) {
			padding-bottom: 0;
		}
	h2 {
		font-family: $font-family-mus;
		font-size: 35px;
		@include respond-to(tablet-sm-screens) {
			font-size: 20px;
		}
		color: #000;
		font-weight: $font-weight-normal;
	}
	p {
		font-size: 20px;
		color: #999;
		font-family: $font-family-roboto;
		font-weight: $font-weight-light;
	}
}


.page-heading {
	margin: 0 0 20px 0;
	h2 {
		&,
		.checkout & {
		margin: 0;
		padding: 0;
		color: #333;
		font-size: 20px;
		line-height: 100%;
		font-family: $font-family-mus;
		font-weight: $font-weight-normal + 100;
		}
		.checkout & {
			font-size: 25px;
		}
	}	

	.apt-btn {
		font-size: 14px;
		font-family: $font-family-roboto;
	}
}



.as-seen {
	display: table;
	width: 100%;
	@include respond-to(tablet-sm-screens) {
		margin-bottom: 20px;
	}
	.as-seen-td {
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		padding: 0 20px;
		&:first-child { text-align: left; padding-left: 0; }
		&:last-child  { text-align: right; padding-right: 0; }
		img {
			max-width: 100%;
		}
		@include respond-to(tablet-sm-screens) {
			width: 130px;
			display: inline-block;
			text-align: center;
			height: auto;
			padding: 10px 10px 0 10px;
		}
	}
}

.featured-block {
 &,
  & *,
  &:before,
  & *:before,
  &:after,
  & *:after {
    @include box-sizing(border-box);
  }
  margin-bottom: 70px;
  @include respond-to(tablet-sm-screens) {
  	margin-bottom: 0;
  }
	.ft-row {
  		@extend %clearfix;
	
		.featured-col {
			[data-src] {
				@include background-size(cover);
				background-repeat: no-repeat;
				background-position: 0 -100px;
			}
			.featured-img {
				height: 250px;
				&:hover {
					@include opacity(.7);
				}
				@include respond-to(tablet-sm-screens) { height: 200px; }
			}

			float: left;
			height: 392px;
			width: 48.5%;
			@include respond-to(medium-screens) {
				width: 100%;
				clear: both;
				margin-bottom: 20px;
			}
			@include respond-to(tablet-sm-screens) {
				height: auto;
				float: none;
				padding-bottom: 20px;
			}
			& + div + .featured-col { float: right; }
			background: #f3f3f3;
			border: 1px solid #efefef;
			position: relative;
			text-align: center;
			h2 {
				font-size: 22px;
				font-family: $font-family-mus;
				color: #333;
				font-weight: $font-weight-normal;
				line-height: 1.3;
				margin-top: 14px;
				padding-right: 90px;
				padding-left: 90px;
				&:hover {
					color: #b19046;
				}
				a { color: inherit; }
			@include respond-to(tablet-sm-screens) {
				font-size: 18px;
				padding-right: 18px;
				padding-left: 18px;
			}
			}
			.apt-btn {
				&.primary {
					background: #e8af3c;
					font-family: $font-family-mus;
					@include border-radius(0);
					&:before {
						content: "";
						top: 0;
						left: 0;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(136, 183, 213, 0);
						border-top-color: #e8af3c;
						border-width: 10px;
						margin-left: -10px;
					}
				}
			}
		}
	}
	.featured-avatar {
		$s: 79px;
		width: $s;
		height: $s;
		border: 3px solid #fff;
		@include border-radius(100%);
		position: absolute;
		left: 50%;
		top: 50%;
		img {
			@include border-radius(100%);
		}
		margin-top: 0;
		margin-left: (- $s / 2); 
		& + h2 { margin-top: 45px !important; }
		.ico-check-mark {
			position: absolute;
			top: -5px;
			right: -8px;
		}
	}
}

.brands {
	padding-bottom: 40px;
	@extend %clearfix;
	.brand-col {
		float: left; 
		width: 273px;
		height: 176px;
		line-height: 176px;
		background: #fff;
		margin-right: 18px;
		margin-bottom: 18px;
		text-align: center;
		overflow: hidden;
		position: relative;
		@media (max-width: 1170px) {
			width: 215px;
		}
		@include respond-to(medium-screens) {
			width: 170px;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		@include respond-to(tablet-sm-screens) {
			width: 140px;
			height: 92px;
		}
		img {
			max-width: 65%;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}
}

.sm-tb-collapse,
.cats-section {
	@include respond-to(tablet-sm-screens) {
		.section-heading {
			h2 {
				color: #666;
				font-size: 20px;
				text-align: left;
				padding: 3px 11px;
				margin: 0 0 10px 0;
				background: #f3f3f3;
				border: 1px solid #dfdede;
				font-weight: $font-weight-light;
				font-family: $font-family-roboto;
				a {
					color: inherit;
					display: block;
				}
			}
		}
	}
}

.toolbar {
	@extend %clearfix;
	padding: 12px 13px;
	background-color: #F9F9F9;
	
	&,
	a,
	.apt-dropdown.dropdown-menu li a {
		color: $color-global;
		font-family     : $font-family-base;
		font-size       : $font-size-base;
	}
	.apt-dropdown.dropdown-menu li a:hover {
		color: #fff;
	}
	li {
		&.divider {
						border-bottom-color: #e5e5e5;
						margin-right: 10px;
						margin-left: 10px;
					}
	}
	.apt-form {
		&,
		li, 
		.control-group {
			margin-bottom: 0;
		}
		div > ul {
				> li { 
					margin-top: 7px; 
				}
			}
			 .form-field {
				@media (max-width: 1170px) { width: 270px; } 
				@media (max-width: $tablet-screens) { width: 100%; }
			 }
	}
}

.posted-product {
	border: 1px solid #E7E6E6;
	padding: 15px;
	margin-bottom: 20px;
	font-family: $font-family-base;
	font-size: 12px;
	@extend %clearfix;	
	&,
	.apt-btn.classic { color: #999; }

	.added-post-desc{
		width: 280px;
		float: left;
		@media (max-width: 1170px) { width: 230px; }
		@media (max-width: $tablet-screens) { width: auto; }
	}

	.added-post-status {
		width: 180px;
		float: left;
		@media (max-width: 1170px) {
			width: 140px;
		}
		@media (max-width: 745px) {
			margin-top: 10px;
		}
	}
	.added-post-wrap {
		float: left;
		width: 81%;
		@media (max-width: 1170px) {
			width: 75%;
		}
		@media (max-width: 745px) {
			width: 65%;
		}
	}
	.added-post-action {
		float: right;
		@media (max-width: 745px) {
			float: left;
			clear: both;
			margin-top: 10px;
		}
	}

	.product-image {
		width: 125px;
		height: 125px;
		float: left;
		margin-right: 20px;
		border: 1px solid #eee;
		position: relative;
		@include respond-to(medium-screens) {
			width: 105px;
			height: 105px;
			padding: 5px;
		}
		@media (max-width: 767px) {
			width: 50px;
			height: 50px;
		}
		img {
			margin: auto;
			max-width: 100%;
			@include absolute(0,0,0,0);
		}
	}
	h3 {
		color: $color-brand-primary;
		font-size: 16px;
		font-weight: normal;
		margin: 0;
		padding: 0;
		line-height: 100%;
		a {
			text-decoration: none;
			&,
			&:hover {
				color: inherit;
			}
		}
	}
	ul {
		margin: 10px 0 0 0;
		padding: 0;
		li {
			line-height: 1.5;
		}
		&.inline {
			> li {
				padding-left: 0;
			}
		}
	}
	.block-fields {
		width: 130px;
		@media (min-width: 768px) { float: right; }
		.form-field { width: 100%; }
		@media (max-width: $tablet-screens) { width: 100%; }
	}
}

.el-heading {
	font-family: $font-family-roboto;
	h3 {
		color: #666666;
		font-size: 16px;
		line-height: 100%;
		padding: 0;
		margin: 0 0 10px 0;
		font-family: $font-family-roboto;
	}
	p {
		font-size: 12px;
		color: #999;
	}
	a {
		color: #B19046;
		text-decoration: none;
	}
	& + .control-group {
		padding-bottom: 15px;
	}
}


.apt-btn {
	&.big-btn {
		font-size: 16px;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
}

.new-sidebar-widget {
	background-color: #f9f9f9;
	padding: 20px 20px 5px 20px;	
	color: #999;
	font-size: 14px;
	line-height: 1.3;
	font-family: $font-family-roboto;			
	.nw-heading {
		font-family: $font-family-mus;
		font-size: 20px;
		font-weight: 500;
		color: #333;
		margin: 0 0 10px 0;
	}
	hr {
		margin-right: -20px;
		margin-left: -20px;
		margin-top: 18px;
		margin-bottom: 18px;
		border-bottom: 0;
	}
}


.publisher-details {
	> a.show.text-primary  {
		word-wrap: break-word;
	}
}

.small-thumb-list {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0 8px 8px 0;
            &,
            .widget &  { padding: 3px; }
            position: relative;
            overflow: hidden;
            border: 1px solid #dfdede;
            width: 50px;
            height: 44px;
            float: left;
            text-align: center;
            & + li {
                margin-left: -1px;
            }
          img {
            width: auto\9;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
            border: 0;
            -ms-interpolation-mode: bicubic;
            }
          
        }
    }
}

.usner-media {
	float: left;
	margin-right: 15px;
	.avatar-holder {
		width: 50px;
		float: left;
		height: 50px;
		position: relative;
		.avatar {
			width: 40px;
			height: 40px;
			@include border-radius(100%);
		}
		.ico-check-mark {
			top: 0;
			right: 0;
			position: absolute;
		}
	}
}
.usner-info {
	float: left;
	h4 {
		color: #999;
		margin: 0 0 5px 0;
		font-size: 14px;
		line-height: 100%;
		font-family: $font-family-roboto;
	}
	a {
		color: #B19046;
		font-family: arial, sans-serif;
	}
}

.modal {
	&.apt-modal {
		&.in {
			@media (max-width: 767px) {
				top: 5%;
				margin: 0;
				padding: 20px;
				.apt-modal-footer {
					padding: 10px 20px;
					margin: 0 -20px -20px -20px;
				}
			}
			@media (max-width: 480px) {
				left: 5px;
			}
		}

		&.share-modal {
			$swd: 292px;
			width: $swd;
			margin-left: -$swd / 2;
			left: 50%;
			@media (min-width: 768px) {
				$smodaW: 597px;
				width: $smodaW;
				margin-left: -$smodaW / 2;
			}
			@media (max-width: 600px) {
				padding: 20px;
				$sww: 230px;
				width: $sww;
				margin-left: -135px;
			}
			
			.apt-modal-header {
				p {
					color: #666666;
					font-size: 14px;
					font-family: $font-family-roboto;
				}	
			}
			.apt-modal-title {
				font-weight: 500;
				font-family: $font-family-mus;
				font-size: 24px;
				color: #333;
				@extend %clearfix;
				margin-bottom: 20px;
				span {
					width: 75%;
					margin-left: 20px;
				}			
				@media (max-width: 767px) {
					span {
						width: auto;
						margin-left: 0;
					}
					img {
						display: none;
					}
				}
			}
			.share-btn {
				height: 42px;
				line-height: 42px;
				font-size: 16px;
				width: 170px;
				font-family: $font-family-roboto;
				font-weight: 400;
				&.w-auto {
					width: auto;
					display: block;
				}
				@media (max-width: 767px) {
					width: auto;
					display: block;
					& + .apt-btn {
						margin-top:  5px;
					}
				}
				i {
					vertical-align: middle;
				}
			}
		}
	}
}


.share-content-holder {
	.shared-thumb {
		width: 82px;
		height: 82px;
		border: 1px solid #DFDEDE;
		float: left; 
		margin-right: 12px;
		@media (max-width: 600px) {
			margin-right: 6px;
		}
		img {
			max-width: 100%;
		}
	}
	.share-content-box {
		width: 82%;
		float: right;
		@media (max-width: 767px) {
			width: 65%;
		} 
		@media (max-width: 600px) {
			width: 60%;
		}
		textarea.form-field {
			height: 82px;
			resize: none;
			width: 100%;
			color: #666666;
			font-size: 15px;
			font-family: Arial, sans-serif;
		}
	}
}

.share-mailto {
	margin-top: 10px;
	textarea.form-field,
	input.form-field {
		height: 63px;
		font-family: $font-family-roboto;
		font-size: 14px;
		color: #999999;
	}
}

.main-container {
	&.push-header {
		margin-top: 20px;
		@media (min-width: 998px) {
			margin-top: 80px;
		}
	}
}
[data-src] {
	@include background-size(cover);
	background-repeat: no-repeat; 
	background-position: 0 0;
}
.bg-block {
	z-index: -5;
	@include fixed(0,0,0,0);
}

.empty-page {
	position: absolute;
	top: 7%;
	right: 15px;
	left: 15px;
	z-index: 5;
	padding: 30px;
	min-height:  300px;
	background-color: #fff;
	@include box-sizing(border-box);
	@media (min-width: $medium-screens) {
		$w: 785px;
		width: $w;
		left: 50%;
		top: 15%;
		padding: 60px;
		margin-left: (- $w / 2);
	}
	@media (max-width: $tablet-sm-screens) {
		margin: 30px auto;
		position: relative;
		top: 0;
		right: 0;
		left: 0;
	}
	&,
	h2 { font-family: $font-family-mus; }
	h2 {
		font-size: 30px;
		font-weight: 400;
		margin-top: 0;
		@media (max-width: $tablet-sm-screens) {
			font-size: 20px;
			line-height: 1.4;
		}
	}
	p { 
		font-size: $font-size-global + 2;
		font-family: $font-family-roboto; 
	}
	.suggestions-links {
		margin-top: 18px;
		a {
			display: block;
			color: #919191;
			font-size: 20px;
			background-color: #f3f3f3;
			border: 1px solid #dfdede;
			@include border-radius(2px);
			width: 48%;
			float: left;
			padding: 20px 25px 20px 100px;
			position: relative;
			& + a { float: right; }
			@media (max-width: 767px) {
				width: 100%;
				& + a { margin-top: 15px; }
			}
			@media (max-width: $tablet-sm-screens) {
				font-size: 18px;
			}
			@media (max-width: $handhelds-screens) {
				font-size: 12px;
				padding: 20px 25px 20px 45px;
			}
			span {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 70px;
				border-right: 1px solid #dfdede;
				text-align: center;
				line-height: 55px;
				@media (max-width: $handhelds-screens) {
					width: 35px;
					line-height: 40px;
				}
				i { margin: 0; }
			}
		}
	}
}
