// #Utility

.apt-form  {
	position: relative;
	.control-group {
		@extend .cf;
	}
	ul {
		margin: 0;
		padding: 0;
		
		li {
			color: #656565;
			text-align: left;
			line-height: 1.5;
			margin-bottom: 7px;
			@extend .cf;
		}

		&.h-list,
		&.v-list { 
			li { 
			display: block; 
				.radio-btn  { 
					margin: 0; 
					& + span { 
					float: left; padding-left: 8px; width: 93%;  

					@media (max-width: 745px) {
						width: 90%;
					}
					}
				}
			}  
		}
		&.v-inline-list,
		&.h-inline-list  { 
			border: 0 !important;
			li { 
			float: left !important;
			display: inline-block !important; 
			padding-right: 20px !important; 
			padding-top: 7px !important;
			clear: none !important;
				.radio-btn  { 
					margin-top: 0; 
					& + span { float: left; }
				}
			.align-list {
				margin: -7px -20px 0 15px;
			}
              @media (max-width: 745px) {
                padding-right: 5px !important;
              }
			}  
		}
	}

	.input-prepend {
		.add-on {
			color: $vdarkgray;
			@include text-shadow(none);
			&:first-child { @include border-left-radius(2px); }
			.apt-widget & { 
				height: 16px; 
				line-height: 16px;
			}
		}
		input {
			width: 70px;
			color: $darkgray;
			margin-bottom: 10px;
			background-color: #f8f8f8;
			@include border-right-radius(2px); 

			@media (max-width: 745px) {
				width: 50px;
			}
		}
		.form-field {
		  	height: 30px;
		  	width: 84px;
		  	.apt-widget & { 
				height: 25px; }
		  }
	}
	.form-field {
		width: 320px;
		color: $gray;
		height: auto;
		padding: 5px 9px;
		margin-bottom: 0;
		background: #fff;
		@include box-sizing (border-box);

		&:focus {
			color: #656565;
			background: #fff;
			border-color: $color-brand;
		}

		&.filled {
			color: #656565;
			background-color: #f8f8f8;
		}

		@media (max-width: 745px) {
			width: 270px;
		}

		&.phone {
			padding: 5px 9px 5px 30px;
		}

		&:before, 
		&:after {
		  	@include box-sizing (border-box);
		  }
		&.std-field {
			width: 150px;
		}  
	}
	textarea {
		height: 98px;
		resize: none;
		@include box-sizing (border-box);
	}
	.fit { width: 100% !important; }
	.dp-holder { 
		width: 150px; 
		position: relative;
		.datepicker,
		.apt-dp {
			background-color: #fff !important;
		}
		.checkout & {
			width: 147px;
			.datepicker,
			.apt-dp {
				background-color: #f8f8f8;
				border-color: #cfcfcf;
				height: 25px;
				width: 135px;
			}
		}
		.ui-datepicker-trigger {
			position: absolute;
			top: 9px;
			left: 85%;
			.checkout & { top: 11px; }
		}
		select {
			height: 35px;
			width: 147px;
		}
	}
	// 	HERE

	.field-helper {
		display: block;
		clear: left;
	}
	&.payout { 
		.form-field { 
			width: 210px; 
			@include border-radius (3px); 
		}
		.apt-form-action {
			.apt-btn { 
				font-size: 14px;
				@include border-radius(2px); 
			}
		}	
	}
		.inner-label { margin: 0; display: inline-block; }
		span  { 
			&.inner-label { padding: 7px 12px;  }
		}
		label { 
			&.inner-label { padding: 5px; }
		}

		.control-group { 
			margin-bottom: 8px; 
			&.col-2 {
				margin-bottom: 0; 

				.block-fields {
                  width: 360px;
                  @media (max-width: 745px) { width: auto; }
                  &.single { width: 320px; }
                  .aptd-alert {
                    max-width: 318px;
                    margin-bottom: 10px;
                    ul { li { color: $meltBlack; } }
                  }
                }
				.form-field   { margin-bottom: 8px; }
			}
		}
		.eq-fields { 
			.form-field,
			.to-eq {
              width: 155px;
              margin-right: 7px;
              @media (max-width: 745px)   { width: 140px; }
              @media (max-width: 480px)   { width: 131px; }
            }
			select { padding: 6px 9px; height: auto; }
		}
} //end form

.apt-form-action {
	border-top: 1px dashed #bbbaba;
	margin: 20px 0;
	padding: 20px 0;
	text-align: right;
  &.brdr-0 { border: 0; }
	a {
		display: inline-block;
		text-decoration: underline;
		color: #999;
		margin-right: 10px;
	}
	.apt-btn { 
		padding: 4px 15px; 
		@include border-radius(4px); 
		&.lrg {
			font-size: 16px;
			padding: 4.5px 14.5px;

			&.x-lrg  { padding: 9.5px 31.5px; }
			&.x--lrg { padding: 9.5px 40px 9.5px 23px; }
		}
	}
}

.block-lable {
	width: 230px;
	float: left;
	color: $meltBlack;
	position: relative;
	font-size: 14px;
	padding-top: 5px;
	padding-right: 30px;
	.payout & { width: 153px; padding-right: 0; }
	@include breakpoint(mid-devices) { 
		float: none;
		width: auto; 
		display: block; 
		clear: both; 
	}
	&.title {
		float: none;
		font-size: 16px;
		display: block;
	}
} //end .block-lable
.block-fields {
	width: 524px;
	float: left;
	position: relative;
	.payout & { width: 250px; }
	.callout-box & { width: 320px; }
	@include breakpoint(mid-devices) { 
		width: auto; 
		display: block; 
		clear: both; 
		float: none;
		.apt-widget & {
			float: left;
		}
		&.w-375 { width: auto !important; }
		&.w-435 { width: auto !important; }
		&.w-145 { width: auto !important; }
		> * 	{ float: none !important; margin: 0 !important; }
	}
	@media (max-width: 480px) {
		max-width: 278px;
	}
	
	.fit-els {
		width: 320px;
		@media (max-width: 745px) {
			width: 290px;
		}
	}
	@include breakpoint(mid-devices) {
		.els {
			.span-label {
				display: block; 
				clear: both; 
				float: none;
				&.p-10 { padding: 0 0 10px 0; }
			}
			&.pull-left { 
				display: block; 
				clear: both; 
				float: none;
				margin: 0;
			}
			&.pull-right {
				display: block; 
				clear: both; 
				float: none;
			}
		}
	}
	p {
		font-size: 14px;
		padding-top: 5px;
		color: $darkgray;
	}
	.apt-widget & {
		width: 100px;
		@include breakpoint(apt-break) {
			clear: none;
			float: left;
		}
	}
} //end .block-fields

.fit-els {
	display: table;
	> * {
		display: table-cell;
		label {
			margin: 0;
			padding: 0;
		}
	}
} //end .fit-els

// #alerts
.apt-alert,
.aptd-alert {
	position: relative;
	padding: 5px 9px;
	&.wider	{ padding: 12px 17px; }
	border-width: 1px;
	border-style: solid;
	border-color: #DFDEDE;
	font-size: $globalFontSize;
    background-color: #F9F9F9;

	color: $darkgray;
	line-height: 1.5;
	display: table;
	width: 100%;
	@include breakpoint(mobile) {
		width: 270px;
	}
	margin-bottom: 18px;
	&, &:before, &:after {
	  @include box-sizing (border-box);
	}

	@extend .cf;

	> i {
		position: absolute;
		top: 50%;
		left: 9px;
		& + p   { padding-left: 20px; }
		&.v-top { top: 6px; margin-top: 0; }
	}

	&.dynamic {
	> div {
		i {
			position: absolute;
			top: 50%;
			left: 9px;
			& + p   { padding-left: 20px; padding-right: 10px; }
			&.v-top { top: 6px; margin-top: 0; }
		}
	}
	}

	p 	{ 
		margin: 0;
		padding: 0 20px 0 0;  
		display: table-cell; 
		vertical-align: middle; 
		max-width: 95%;
		&.dark { color: $vdarkgray; }
	}
	a {
		color: $brightOrange;
		text-decoration: underline;
		&:hover { text-decoration: none; }
		&.dark  { color: $darkOrange; }
		&.stick {
			text-decoration: none;
			&.top-right {
				@include abs-pos(10px, 10px);

                &.x-top {
                    @include abs-pos(35px, 10px);
                    width: 95px;
                  @include breakpoint(tablet) {
                    position: relative;
                    top: 3px;
                    right: 0;
                    display: block;
                  }
                }
			}
			i { top: 3px; }
		}
	}
	ul {
		list-style: none;
		margin: 0 0 0 7px;
		padding: 0;
		border: 0 !important;

		li { 
			color: $vdarkgray; 
			display: block;
			.checkout & { color: $meltBlack; }
			&:last-child { margin: 0; }
		}
		&.bullet {
			li { 
				color: $gray; 
				display: list-item;
				margin: 0 0 14px 13px; 
				list-style: disc outside none;
				&:before,
				&:after {
					overflow: visible;
				}
			}
		}
	}

	&.success,
    &.active {
		border-color: $successbrdr;
		background-color: $successbg;
	}

    &.active { 
    	.classic { 
    		color: #fff;
    		border-color: #EA9A23; 
    		background-color: #EA9A23; 
    	} 
    }

    &.std { 
    	//a { color: $gray; } 
    	.classic { @include border-radius(2px); }
    }

	&.error {
		border-color: $softRed;
		background-color: $lightRed;
	}

	&.muted {
		background-color: #EFEFEF;
		padding: 7px 12px;
		color: #666;
	}

	&.tips {
		padding: 12px;
		h3 {
			color: #656565;
			font: normal 18px/100% Myriad Pro, sans-serif;
			margin: 0 0 20px 0;
			padding: 0;
		}
	}

	.dismiss {
		font: bold 17px/100% $globalFamily;
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;
		color: #000000;
		opacity: 0.2;
		filter: alpha(opacity=20);
		position: absolute;
		top: 50%;
		margin-top: -9px;
		right: 9px;
	}
	&.std-widget {
		$widPadd: 14px;
		padding: $widPadd;
		margin: 13px 0;
		font-size: 14px;
		a {
			text-decoration: none;
		}

		.align-top { 
			left: $widPadd; 
			top: ($widPadd+2); 
			margin: 0; 
		}
		.widget-title {
			display: block;
			margin-bottom: ($widPadd - 9);
		}
	}

	&.affix-widget {
		position: absolute;
		right: 0;
		font-size: 14px;
		top: 0;
		width: 220px;
		height: 65px;
		padding: 14px;
		display: block;
		a {
			text-decoration: none;
		}
		i {
			top: 16px;
		}
		@media (max-width: 745px) {
			width: auto;
			position: relative;
		}
	}
      &.social {
          min-height: 100px;
        padding-top: 25px;
        padding-bottom: 30px;
        .h4 {
          font-weight: normal;
          font-size: 16px;
          margin: 0;
          padding: 0;
        }
        p {
            font-size: 14px;
            color: #666666;
          line-height: 1.5;
        }
          .v-center {
            font-size: 16px;
            padding: 0 ;
            text-align: center;
            $vH:36px;
            line-height: $vH;
            width: 122px;
            height: $vH;
            @include abs-pos(50%, 10px);
            margin-top: (- $vH /2);
            background-color: #E2A731;
          }

      }
      .media-icon {
        width: 130px;
        text-align: center;
        line-height: 100%;
        float: left;
      }
    .share-content {
        width: 53%;
      float: left;
    }
    select {
    	background-color: #f8f8f8;
    }
} //end aptd-alert

// #helpers


.m-0   { margin: 0 !important; }

.p-0   { padding: 0 !important; }
.p-r0  { padding-right: 0 !important; }
.p-10  { padding: 10px; }

.w-175 { width: 175px !important; }
.w-145 { width: 145px !important; }
.w-90  { width: 90px !important; }
.w-60  { width: 60px !important; }
.w-435 { width: 435px !important; }
.w-375 { width: 375px !important; }

.pos-rltv,
.pos-rlv { position: relative; }

.inline-radiobtn { 
	color: #656565;
	.radio-btn { 
		margin-top: 0; 
		margin-left: 5px; 
		margin-right: 5px;
	}
}



.apt-btn {
	border: 0;
	color: $gray;
	cursor: pointer;
	font-size: 12px;
	margin-bottom: 0;
	line-height: 20px;
	padding: 4px 12px;
	text-align: center;
	position: relative;
	text-decoration: none !important;
	display: inline-block;
	background-color: #fff;
	@include border-radius(2px);

    .text-center & {
     margin-right: 5px;
    }


	&.x-btn {
		.apt-modal & {
			padding: 0;
			@include abs-pos (10px, 10px, auto, auto);
		}
	}

	&.proceed-btn {
		padding: 4px 30px 4px 15px;
	}

	&.transparent {
		border: 0;
		@include box-shadow (none);
		@include bgAlpha(#000000, 0);
	}
	&.prime,
    &.primary {  background-color: $aptColor; color: #fff;  }

	&.def,
	&.default   { background-color: $darkgray; color: #fff; }
	&.sm-flat   { padding: 2px 15px; }
	&.lrg { font-size: 16px; }
    &.mid,
    &.md { font-size: 14px; }
    &.classic {
      background-color: #fff;
      border: 1px solid #DFDEDE;
      color: $darkgray;
      @include border-radius(4px);
    }
	&.stick {
		&.top-left {
			@include abs-pos(10px, auto , auto, 10px);
		}
	}
	&.basic {
		background-color: #999999;
		color: #fff;
	}

	&.upload {
		background-color: $darkgray;
		color: #fff;
		margin: 0 auto;
		@include border-radius(4px);
	}

    &.social-btn {
      color: #fff;
      font-size: 12px;
      min-width: 127px;
      padding-left: 28px;
      &.fb { background-color: #516DA9; }
      span { padding: 2px 0 0 0; display: block; }
    }

    &.menu-mid {
		color: #000;
		padding-left: 5px;
	}
	&.del-btn {
		width: 23px;
		padding: 0;
		text-align: center;
		border-color: #DFDEDE;
	}
	&.stick-el {
		.control-el { position: absolute; }

		&.to-right  {
			.control-el { right: 0; }
		}
		&.to-left   {
			.control-el { left: 0; }
		}

		&.sm-flat {
			&.to-right  {
				padding-right: 24px;
				.control-el { top: 3px; right: 0; }
			}
			&.to-left   {
				padding-left: 24px;
				.control-el { top: 3px; left: 3px; }
			}
		}
	}
}


.featured-video {
	position: absolute;
	left: 0;
	top: 280px;
	min-height: 99px;


	p { 
		color: #ccc; 
		font-size: 16px; 
		padding: 5px 0 0 0; 
	}

	@media (max-width: 745px) {
		right: 0;
		left: auto;
		top: 250px;
		margin-left: 0;
		p {  font-size: 12px; }
	}


	.video-holder {
		border: 4px solid rgba(0, 0, 0, 0.3);
		@include bgAlpha(#fafafa, .2);
		position: relative;
		display: block;
		height: 130px;
		width: 227px;
		zoom: 1;

		.ie8 & { 
			border-color: #000;
		}

		iframe { width: 100%; height: 100%; }

		@media (max-width: 745px) {
			height: 70px;
			width: 120px;
		}

	} //end .video-holder


	.video-cover {
		position: absolute;
		left: 4px;
		top: 4px;
		right: 0;
		bottom: 0;
		z-index: 10;
		width: 227px;
		height: 130px;

		@media (max-width: 745px) {
			height: 70px;
			width: 120px;
		}

		.ie8 & {
			width: 219px;
			height: 122px;
			overflow: hidden;
		}

	button {
		background:url('../images/playbtn.png') no-repeat 0 0 transparent;
		border: 0;
		width: 50px;
		height: 50px;
		position: absolute;
		left: 50%;
		font-size: 0;
		top: 50%;
		margin: -25px 0 0 -25px;
		@include single-transition(all, 400ms, ease-in-out);
		@include scale(1);
	}
	&:hover {
		button {
		@include scale(1.1);
		}
	}

	} //end .video-cover

} //end .featured-video 



// #modal
.modal {
	&.delivery-modal {
		.apt-modal-title {
			font-family: $font-family-mus;
			font-weight: 500;
			font-size: 25px;
			color: #666;
		}
		p {
			font-size: 14px;
			color: #7c7c7c;
		}
		.field-n-btn {
			.form-field,
			.apt-btn {
				height: 35px;
			}
			.form-field { 
				width: 80%; 
				&.invalid {
					color: #666;
					border-color: #FF6666;
					background-color:#FFF2F2;
					&:focus {
						background-color:#fff;
					}
				}
			}
			.apt-btn    { width: 75px; }
		}
	}
	&.apt-modal {
	padding: 26px 30px;
	position: absolute;
	margin: 0 0 0 -204px;
		h2	{
			color: $darkgray;
			font-size: $modal-title;
			font-weight: normal;
			line-height: 1.2;
			font-family: $myriadFamily;
			margin: 0 0 20px 0;
		}
		h4,
		.h4 {
			display: block;
			color: #656565;
			margin: 0 0 9px 0;
			line-height: 1.5;
			font-weight: normal;
			font-size: $sub-title;
		}
		li {
			color: #656565;
			padding-left: 0;
			.radio-btn {
				float: none;
				margin: -1px 0 0 0;
				display: inline-block;
			}
		}
		p {
			color: #656565;
		}
		.apt-modal-action {
			.apt-btn {
				&.lrg {
					padding: 8.5px 16.5px;
					margin-right: 14px;
				}
			}
          .apt-container > & { max-width: 930px; }
		}
			.apt-modal-title {
				 &.text-mus {
		          	font-family: $font-family-mus;
		          	color: #B19046;
		          	font-size: 24px;
		          }
			}
	  &.md-modal {
	  	$md-modal: 515px;
        width: $md-modal;
        padding: 26px 30px;
        margin: 0 0 0 (- $md-modal / 2);
        form {
        	margin-bottom: 0;
        }
        @include breakpoint(mid-devices)  {
          width: 545px;
          margin-left: -302.5px;
        }
        @media (max-width: 767px) {
        	padding: 20px;
        	margin: 0;
        	width: auto;
        	form { margin: 0; }
        	textarea.fit { width: 95%; }
        	.share-labels { width: 35%; }
			.apt-modal-footer {
				padding: 15px 30px;
				margin: 15px -20px -20px;
			}
        }

        .radio-btn {
        	&.pull-left { 
        		float: left; 
        		margin-right: 10px;
        	}
        }
        .pricing {
        	width: 150px;
        	&.pricing-revenue {
        		width: 30px;
        	}
        }
		.block-lable { width: 150px; padding-right: 0; } 
		.block-fields { width: 355px; }
	  }
      &.lrg-modal {
        $lrgModalW: 875px;
        width: $lrgModalW;
        padding: 26px 30px;
        margin: 0 0 0 -467.5px;
        @include breakpoint(mid-devices)  {
          width: 545px;
          margin-left: -302.5px;
        }
        @media (max-width: 745px)  {
          width: 300px;
          margin-left: -180px;
        }
        @media (max-width: 380px)  {
          width: 230px;
          padding: 20px;
          margin-left: -135px;
        }

        &.fade.in {
          top: 10%;
          left: 50%;
        }

        .apt-btn {
          &.lrg {
            padding: 9px 14px;
            @include border-radius(4px);
            @media (max-width: 745px)  {
              padding: 4px 12px;
              font-size: 14px;
            }
            @media (max-width: 380px)  {
              font-size: 12px;
              padding: 4px 6px;
              margin-bottom: 5px;
            }
          }
        }

        .apt-modal-body {
          width: $lrgModal;
          float: left;
          @include breakpoint(mid-devices)  {
            width: auto;
            float: none;
          }
        }
        .apt-modal-title {
          font-size: 26px;
          line-height: 100%;
        }
        .apt-modal-footer {
          background-color: #F7F7F7;
          padding: 20px;
          position: absolute;
          bottom: 0;
          right: 0;
          left: 324px;
          @include breakpoint(mid-devices)  {
            left: 0;
            position: relative;
            margin-bottom: -26px;
          }
          @media (max-width: 745px)  {
            margin: 0;
          }
        }
        .apt-modal-header {
          width: $lrgModal;
          float: left;
          @include breakpoint(mid-devices)  {
            float: none;
            width: auto;
            clear: both;
          }
        }
      } //end .lrg-modal
      .apt-modal-pane {
        margin-bottom: 20px;
        .circle {
          margin-right: 10px;
          @media (max-width: 745px)  {
            float: left;
            margin-right: 0;
          }
        }
        @extend .cf;
      }
      .modal-banner {

        &.side {
          @include breakpoint(mid-devices)  { display: none;}
          float: left;
          width: 324px;
		  height: 512px;
          margin: -26px 30px -26px -30px;
        }
      }

      .apt-sub-title {
          font-size: $sub-title;
          font-family: $arial;
          line-height:1.4;
          font-weight: normal;
          color: $darkgray;
      }
		&.has-feedback {
			background: #f7f7f7;
			border: 1px solid #dedede;
			.apt-modal-title { color: #b19047; }
			p { 
				font-size: 14px; 
				line-height: 1.5;
			}

			.apt-btn {
				min-width: 130px;
				margin: 10px 0;
				&.lrg { 
					font-size: 14px; 
				}
			}
		}
		.apt-modal-footer {
			background: #F5F5F5;
			border-top: 1px solid #DFDEDE;
			padding: 30px;
			margin: 15px -30px -30px -30px;
		}
	} //end apt-modal
}


// apt progress
.apt-progress {
		margin: 0 0 60px 0;
          @media (max-width: 745px)  {
			margin: 0 0 20px 0;
          }
	ul {
		margin: 0;
		padding: 0;
		@extend .cf;
		li {
			margin: 0;
			float: left;
			@extend .cf;
			color: #fff;
			$stdBg: #ccc;
			font-size: 14px;
			padding: 5px 20px;
			font-weight: bold;
			position: relative;
			line-height: 1.2;
			background-color: $stdBg;
			@include box-sizing (border-box);
			
			a {
				color: #fff;
				font-size: 14px;
				display: block;
			}

			.triangle  { 
				border-bottom: 13px solid transparent;
				border-left: 17px solid #cccccc;
				border-top: 13px solid transparent;
				height: 0;
				width: 0;
				position: absolute;
				right: -17px;
				z-index: 2;
				top: 0;
				&.z {
					border-bottom: 14px solid transparent;
					border-left: 17px solid #F5F0E9 !important;
					border-top: 14px solid transparent;
					height: 0;
					width: 0;
					position: absolute;
					right: -18px;
					top: -1px;
					z-index: 1;
					.ie8 & { display: none; }
				}
				// fallback for old browsers
				.ie8 & {
					border: 0;
					background: url("../images/apt-sprite.png") no-repeat -2px -159px;
					width: 16px;
					right: -16px;
					height: 27px;
				}
			} //end tringle

			&.active {
				$activeBg: #EA9A23;
				background-color: $activeBg;
				.triangle {
					border-left-color: $activeBg;
					.ie8 & { background-position: -2px -96px; }
				}
				& + li { padding: 5px 20px 5px 30px; }
			}
			&.visited {
				$visitedBg: #666;
				background-color: $visitedBg;
				.triangle {
					border-left-color: $visitedBg;
					.ie8 & { background-position: -2px -128px; }
				}
				& + li { padding: 5px 20px 5px 30px; }
			}

		} // end li
	}
} // end apt progress


.widget {
    position: relative;
    &.check-out {
    	margin: 0;
    	$widPadd: 14px;
        width: (220px - $widPadd *2);
        background-color: #F8F8F8;
        border: 1px solid #DFDEDE;
        padding: $widPadd $widPadd 10px;
    }
    
    ul {
        margin: 0;
        padding: 0;
        li {
            display: block;
            padding: 0 0 7px 0;
            font-size: 12px;
            color: #7c7c7c;
            strong { font-size: 14px; }
            @extend .cf;
            line-height: 100%;
            span {
                width: 49%;
            	float: left;
                display: inline-block;
                & + span { text-align: right; float: right; }
            }
            &:last-child { padding-bottom: 0; }
        } //end li
    }
    
    input {
    	@include input-placeholder { font-size: 12px; }
    }

} // end .widget
.avatar {
  &.small { @include circle($avSmall); }
  &.mid   { @include circle($avMid); }

  display: inline-block;
}

.field-n-btn {
    > * {
        float: left;
        display: inline-block;
    }
    .form-field { 
    	width: 70%; 
    	margin-bottom: 0;
    	padding: 3px 9px;
    	margin-right: -5px; 
    	height: 28px;
    }
    .apt-btn { 
    	width: 32%; 
    	height: 28px;
    	@include border-left-radius(0);
    }
	&.widget-sidebar {
		.form-field { font-size: 12px; width: 65%; }
		.apt-btn    { 
			width: 36%; 
			font-size: 12px; 
			&.primary {
				background-color: #EA9A23;
			}
		}
	}
	&.widget-footer {
		width: 235px;
		background-color: transparent;
		border: 0;
		padding: 0;
		.form-field { 
			width: 60%; 
			font-size: 12px; 
			border-color: #dfdede;
			@include box-shadow(none);
			background-color: #fff;
			height: 30px;
		}
		.primary {
			@include border-radius(0);
			background-color: #EA9A23;
			height: 30px;
		}
	}
}    

.widget-sidebar {
	@extend .cf;
	padding: 15px;
	border: 1px solid #DFDEDE;
	background-color: #f8f8f8;
	.floatedSide & {
		margin: 10px 5px 0 0;
	}
	h3, 
	.h3 {
		margin: 0 0 10px 0;
		color: $darkgray;
		//font: normal 16px/100% $customFamily;
		font: normal 16px/100% 'Anaheim', sans-serif;

	}
}



.apt-list {
	margin: 0;
	padding: 0;
	
	li {
		@extend .cf;
		color: #666;
		line-height: 1.5;
		text-align: left;
		margin-bottom: 5px;

		a { color: #B19046; }
	}


}

.breadcrumb {
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			&:last-child {
				.rsaquo { display: none; }
			}
		}
	}
	a { color: #B19046; font-size: 1em; }
	.rsaquo {
		top: -1px;
		width: 3px;
		color: #999;
		height: 5px;
		margin: 0 4px;
		font-size: 13px;
		position: relative;
		display: inline-block;
	}
}



//#search-suggestions,
$brdrColor: #CBCBCB;
.suggestions-list {
    padding: 0;
	z-index: 50;
    background: #fff;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: $color-brand;
    width: 423px;
    @include absolute($top: 27px, $right: 12px, $left: 0);

    ul {
	    margin: 0;
	    padding: 0;
	    display: block;

		li {
		    margin: 0;
		    clear: both;
		    display: block;
		    cursor: pointer;
		    overflow: hidden;
		    background: #fff;
		    border-style: solid;
		    border-color: $brdrColor;
		    border-width: 1px 0 0 0;

			p {
			    color: #656565;
			    display: inline-block;
			    font-size: $font-size-base;
			    a {
			    	color: inherit;
			    }
			}

			img {
			    border-right: 1px solid #CBCBCB;
			    margin: 0 6px 0 0;
			    padding: 1px;
			    background: white;
			}
			&:hover {
			&,
			img { background: #666; }
			a { color: #fff !important; }
			img { border-right-color: #656565; }
			}
		}
	}
}

// [ custom scrollbar ]
$boxSize: 220px;
$scrollSize: 6px;
.scrollable-holder {
    width: $boxSize;
    max-height: $boxSize;
    position: relative;

	&:before {
	    content: "";
	    z-index: 2;
	    width: $scrollSize;
	    background: #D7D7D7;
	    @include border-radius (10px);
	    @include absolute($top: 0, $right: 3px, $bottom: 0);
	}

	.scrollable {
	    width: $boxSize;
	    max-height: $boxSize;
	    overflow: hidden;
	    position: relative;
	    padding-right: 20px;
	    @include box-sizing(border-box);

		.scroll {
			    z-index: 5;
			    width: $scrollSize;
			    @include opacity(1);
			    @include border-radius(20px);
			    @include absolute($top: 0, $right: 0, $bottom: 0);
			    @include transition (width 300ms, opacity 300ms, background-color 300ms);
			    @include transform (translate(-50%, 0%));
			}
	}
	
	/* .scrollable .scroll:hover {  } */
	.scrollable .scroll span, 
	.scrolling .scroll span {
	    position: absolute;
	    border-radius: 10px;
	    top: 0;
	    left: 0;
	    right: 0;
	    @include transition(top 10ms);
	    @include background-image(linear-gradient(#a0a0a0, #545454));
	}
	.scrollable:hover .scroll span, 
	.scrolling .scroll span {  }
	.scrolling {
	 -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
	&.no-scroll {
		&:before,
		.scroll { display: none; }
	}
}

.table-labels {
	color: #999;
	font-size: 11px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dfdede;
	th {
		padding: 10px 0;
	}
	.last {
		border-right: 1px solid #fff;
	}
	//apt-break
	@media (max-width: 745px) {
		display: none;
	}
}


.ttip-content {
    position: absolute;
    display: none;
    background: #FDFBF5;
    border: 1px solid #FFD789;
    border-radius: 2px;
    font: normal 14px/100% arial, sans-serif;
    color: #7F7F7F;   
    box-shadow: 0 2px 2px rgba(0,0,0,.11);
    padding: 11px 20px;
    margin: 0;
    z-index: 10;
}

.stick-sidebar {
	&.sidebar {
		@media (max-width: 998px) {
			top: 0;
			border: 0;
			box-shadow: none;
			padding: 10px 5px;
			position: relative;
		}
	}
}

.clone-holder {
    width: 295px;
    overflow: hidden;

	.apt-btn {
		margin: 0;
		padding-right: 0;
		padding-left: 0;
	}

	.remove-clonned { display: none; }
	.remove-clonned,
	.add-more {
	    float: right;
	}

	.repeatable { 
	    width: 265px;
	    float: left;
	    margin-bottom: 10px;
	    &.clonned .remove-clonned { display: block; }
		.form-field { 
		    width: 224px; 
		    float: left;
		    font-size: 12px;
		}
	}
}




#commaSep .add-new-tag .icon-blue-plus {
    background-position: -76px -21px;
    width: 12px;
    height: 12px;
    margin: 4px 0 0 0;
}
#commaSep .add-new-tag {
    float: left;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #FAFAFA;
    border: 1px solid #E6E6E6;
    -wibkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
#commaSep .add-new-tag:hover {
    background-color: #f4f4f4;
    border-color: #e7e7e7;
}
#commaSep #name-tag, #commaSep .add-new-tag:focus {
    outline: none;
}
#commaSep #name-tag {
    display: none;
    float: left;
    width: 70px;
    height: 20px;
    margin-bottom: 10px;
    padding: 4px 8px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    font: normal 14px arial, sans-serif;
    color: #666;
    -wibkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
#commaSep span.removeName {
    position: relative;
    display: block;
    float: left;
    height: 20px;
    font: normal 14px/1.5 arial, sans-serif;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 4px 39px 4px 12px;
    background: #eee;
    border: 1px solid #CFCFCF;
}
#commaSep span.removeName .apt-icon-x {
    position: absolute;
    display: block;
    top: 9px;
	right: 5px;
    cursor: pointer;
}

.hasDatepicker[readonly],
.hasDatepicker[readonly="readonly"] { cursor: pointer; }

.page-heading {
	@extend %clearfix;
	#{headings()} {
		color: #333;
		margin-top: 0;
		font-weight: 400;
		line-height: 1.5;
	}
	h1 { font-size: 24px; }
	h2 { font-size: 20px; }
}