// Sections
.sidebar-widget {
    & + .sidebar-widget {
        margin-top: 30px;
    }
}

.apt-container {
    margin-top: 65px;
    &.aptcontainer { margin-top: 30px; }
    margin-right: auto;
    margin-left: auto;
    position: relative;
    @extend %clearfix;
    @include breakpoint(mid-devices) { margin-top: 0; }
    .main,
    .sidebar {
        display: inline-block;
    }
    &.inner-container {
        float: left;
        margin: 65px 0 80px 250px;
        width: 73%;
        > h2 {
            margin: 0;
            padding: 0 0 20px 0;
            font: normal 24px/100% Calibri, Candara, Segoe, "Segoe UI";
        }
        @media (max-width: 998px) {
            margin: 0;
            width: 100%;
            clear: both;
            .profile-image {
                width: auto;
                float: none;
                img {
                    margin: 0 auto 14px auto;
                }
            }
        }
    }
    &.checkout-contr {
        .main { width: 830px; }
        .sidebar { width: 300px; }
        @media (max-width: 1170px) {
            .main    { width: 640px; }
            .sidebar { width: 260px; }
        }
        @media (max-width: 998px){
            .main { width: auto; }
            .sidebar {
                width: 100%;
                float: none;
                background: transparent;
                padding: 0;
                border: 0;
                @include box-shadow(none);
                position: relative;
                top: 0;
            }
        }
    }
    &.admin-container {
        margin-top: 20px;
        .sidebar { 
            width: 230px; 
            float: left;
        }
        .main    { 
            float: left; 
            width: 890px; 
            margin-left: 30px; 
            @media (max-width: 1170px) { 
                width: 680px; 
                margin-left: 20px; 
            }
            @include bp(md-screen) {
                width: auto; 
                margin-left: 0; 
            }
        }

    }
    &.main-sidebar {
        .main {
            float: left;
        }
        .sidebar {
            float: right;
        }
        @include breakpoint(mid-devices) {
            .fitBlocks {
                float: none;
                clear: both;
            }
            .main,
            .sidebar {
                @extend .fitBlocks;
            }
        }
    }
    &.sidebar-main {
        .main {
            float: right;
        }
        .sidebar {
            float: left;
        }
    }
    .sidebar {

        @include breakpoint(mid-devices) {
            background: #fff;
            z-index: 20;
            margin: 0;
            padding: 0 12px;
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid #dfdfdf;
            @include box-shadow(0 0 7px rgba(0,0,0,.3));
            @include absolute($top: -20px, $bottom: 0, $left: 0);
            aside#sidebar-user {
                background: none repeat scroll 0 0 white;
                box-shadow: none;
                left: 0 !important;
                margin: 0 !important;
                min-height: 1px;
                padding: 0 15px 0 0;
                position: relative;
                top: 0;
                width: auto;
                z-index: 5;
                #accordion {
                    margin: 15px 0 0;
                }
            }
        }

        &.product-sidebar {
            padding: 25px;
            width: 145px;
            background: #f9f9f9;
            @include breakpoint(large-screen) {
                width: 175px;
            }

            a {
                &:hover {
                    text-decoration: underline;
                }
            }
            .publisher-info {
                text-align: center;
                .avatar-holder {
                    position: relative;
                    .ico-check-mark {
                        top: 0; 
                        right: 35px;
                        position: absolute; 
                    }
                }
            }
            @media (max-width: 998px) {
                width: auto;
                display: block;
                position: relative;
                clear: both;
                margin: 20px 10px 120px 0;

                .publisher-info {
                    text-align: left;
                }
                .sidebar-cats,
                .avatar-holder {
                    float: left;
                    width: 145px;
                }
                .publisher-details {
                    float: left;
                    width: 200px;
                    .show {
                        max-width: 130px;
                    }
                }
            }
            @media (max-width: 745px) {
                .publisher-info {
                    text-align: center;
                }
                .sidebar-cats,
                .avatar-holder {
                    float: none;
                    width: auto;
                }
                .publisher-details {
                    float: none;
                    width: auto;
                    .show {
                        max-width: none;
                    }
                }
            }
        }
        .rating {
            span {
                float: none;
                margin-top: 0;
            }
        }
        > a {
            display: block;
            margin-top: 20px;
            max-width: 220px;
            line-height: 1.5;
        }
    }
    .main {
        @include breakpoint(desktop) {
            //width: 76%;
            width: 74.5%;
        }
        @include breakpoint(large-screen) {
            width: 930px;
        }

        @include breakpoint(mid-devices) {
            width: auto;
            padding-right: 5px;
            padding-left: 5px;
        }

        &.product-essential {
            width: 735px;
            @include breakpoint(large-screen) {
                width: 930px;
            }

            @media (max-width: 745px) {
                float: none;
                width: auto;
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
    .product-view {
        float: left;
        width: 400px;
        padding-right: 20px;
        .midSlid {
            width: 368px;
            height: 368px;
        }
        .jCarouselLite {
            width: 368px;
        }
        @include breakpoint(large-screen) {
            width: 490px;
            .midSlid {
                width: 456px;
                height: 456px;
            }
            .jCarouselLite {
                width: 416px;
            }
        }

        @media (max-width: 998px) {
            .midSlid {
                width: 383px;
                height: 383px;
            }
            .jCarouselLite {
                width: 383px;
            }
        }
        @media (max-width: 745px) {
            float: none;
            width: 280px;
            padding-right: 0;
            padding-top: 115px;
            .jCarouselLite {
                width: 283px;
            }
            .midSlid {
                width: 284px;
                height: 284px;
                img {
                    height: 284px;
                }
            }
            .carousel.widget {
                width: 285px;
            }
        }
    }
    //end .product-view
    .product-info {
        float: left;
        width: 315px;
        @include breakpoint(large-screen) {
            width: 410px;
            margin-top: 18px;
        }

        @media (max-width: 745px) {
            float: none;
            width: auto;
            li {
                position: static;
            }
            .price-block {
                position: absolute;
                top: -10px;
                width: 271px;
                left: 0;
                .box-header {
                    margin: -8px -10px 10px -10px;
                    padding: 5px 13px;
                }
                div.col-3 {
                    width: auto;
                    float: none;
                    display: block; 
                }
                h3 {
                    font-size: 26px;
                    padding: 0 0 7px 0;
                }
            }
        }
    }
}

.apt-sidebar {
    position: relative;
    z-index: 10;
    #{headings()} {
        a {
            display: block !important;
        }
    }
}

.cat-sidebar {
    width: 220px;
    color: $color-global2;
    font-size: $font-size-base; // 12

    @include breakpoint(desktop) {
        margin-left: 8px;
    }
    li { margin-bottom: 3px; } // 3 + 2 (checkbox) = 5px

    .apt-widget {
        .widget-title {
            @extend %clearfix;
            margin: 0 0 13px 0;
            h4 {
                color: $color-global;
                font-size: ($font-size-base + 1); // 13
                font-weight: normal;
                text-transform: uppercase;
                display: inline-block;
                margin: 0;
                line-height: 100%;
                & + a { float: right; }
            }
            a {
                color: $color-meta;
                text-decoration: none; 
            }
        }
        & + .apt-widget {
            border-bottom: 1px solid #f8f8f8;
            padding-bottom: 13px;
            margin-bottom: 16px;
        }

    .input-prepend {
        .add-on {

                height: 15px; 
                line-height: 15px;
            }

        .form-field {
                height: 25px;
                width: 70px;
          }
        }

    }
}

.apt-sidebar {
&.static-sidebar {
    $sidebarbg: #f9f9f9;
    /* width: 203px;
    float: left; 
    margin-right: 30px;
    */

    @include breakpoint(mid-devices) {
        @include absolute($top: -20px, $bottom: 0, $left: 0);
    }

    .static-menu {
        background: $sidebarbg;
        padding: 0 0 20px 0;
        
        //& + * { margin-top: 50px; }
            ul {
                margin: 0;
                list-style: none;
                li {
                    padding: 10px 0;
                    &,
                    a {
                        display: block;
                        color: $darkgray;
                        font-size: $globalFontSize + 2;
                        // 14
                   
                    }
                    a {
                        padding: 9px 26px;
                        border-left: 3px solid $sidebarbg;
                        @include single-transition(all, 0.6s, ease);
                    }
                    &.active,
                    &:hover {
                        a {
                            border-left-color: $aptColor;
                        }
                    }
                }
            }
    }
    .cats-menu {
        h3 {
            color: $meltBlack;
            font-size: 16px;
            padding: 10px;
            margin: 0;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                padding: 10px;
                line-height: 1.5;
                a {
                    color: $darkOrange;
                    font-size: 12px;
                }
                span { color: $darkgray; }
                &:hover { background: #F9F9F9; }
                &.is-active {
                    background: #F9F9F9;
                    a { font-weight: bold; }
                }
            }
        }
    }


    .sm-block {
        margin: 10px 20px;
        padding-top: 10px;
        border-top: 1px solid #ccc;
        a {
            display: block;
            padding: 4px 0;
            color: $darkgray;
            font-size: $globalFontSize;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
}
.apt-uploader {
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        float: left;
        width: 300px;
        height: 300px;
        @media (max-width: 745px) {
            width: 290px;
            height: 290px;
        }
        position: relative;
        margin: 0 7px 18px 0;
        display: inline-block;
        border: 1px solid #e2e1e1;
        @include border-radius(2px);
        &.active {
            border-color: $aptColor;
            @include border-radius(0);
            outline: 1px solid $aptColor;
        }
        img {
            @extend .ctr-img;
        }
        .ctr-el {
            margin-top: -17px;
            margin-left: -62px;
            &.mid {
                margin-top: 17px;
                margin-left: -35px;
            }
        }
        p {
            font-size: 14px;
            text-align: center;
        }
        .ctr {
            position: relative;
            top: 115px;
        }
        .error {
            color: $softRed;
            padding: 0 18%;
        }
        &.exists {
            .error {
                display: none;
            }
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include opacity(0);
        @include single-transition(all, 0.5s, ease);
        z-index: 1;
        &:hover {
            @include opaque;
        }
        // Gradient
        background: -moz-radial-gradient(center, ellipse cover, rgba(228, 228, 228, 0.7) 0%, rgba(216, 216, 216, 0.7) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(228, 228, 228, 0.7)), color-stop(100%, rgba(216, 216, 216, 0.7)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(228, 228, 228, 0.7) 0%, rgba(216, 216, 216, 0.7) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(228, 228, 228, 0.7) 0%, rgba(216, 216, 216, 0.7) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(228, 228, 228, 0.7) 0%, rgba(216, 216, 216, 0.7) 100%);
        background: radial-gradient(ellipse at center, rgba(228, 228, 228, 0.7) 0%, rgba(216, 216, 216, 0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3e4e4e4', endColorstr='#b3d8d8d8', GradientType=1 );
        .apt-btn {
            span { color: #CBCBCB; }
        }
        .uploads-action {
            .apt-btn {
                $btnSize: 24px;
                padding: 0;
                width: $btnSize;
                height: $btnSize;
                @include border-radius(4px);

                &.lock-btn { 
                    width: auto; 
                    font-size: 14px;
                    padding: 2px 6px;
                }
            }
            .top-right {
                @include abs-pos(10px, 10px);
                &.x {
                    @include abs-pos(10px, 40px);
                }
                &.xx { right: 70px; }
            }
        }
    }
    .fileupload-exists {
        input,
        .btn-file {
            display: none;
        }
    }
}

// #blog & static contents
.apt-posts {
    font-size: ($globalFontSize + 4); // 16
    color: $darkgray;
    line-height: 150%;
    & + .apt-posts {
        margin-top: 80px;
    }
    p {
        & + p {
            margin: 35px 0 0 0;
        }
    }
    img {
        display: block;
        clear: both;
        margin: 20px 0;
        width: 100%;
    }
    @media (max-width: 998px) {
        width: auto;
        margin-left: 0;
    }
    .meta-time {
        $metaTimeSize: 160px;
        color: $darkgray;
        &.inline {
            float: left;
            width: $metaTimeSize;
            @include breakpoint(apt-break) {
                float: none;
                width: auto;
            }
        }
        & + .the-post-content {
            padding-left: $metaTimeSize;
            @include breakpoint(apt-break) {
                padding-left: 0;
            }
        }
    }
    .the-post-title {
        padding: 0;
        font-size: 20px;
        color: $darkOrange;
        font-weight: normal;
        line-height: 100%;
        margin: 0 0 17px 0;

        .about-us & {
            font-family: $font-family-global;
            margin-top: 55px;
        }

        a {
            color: $darkOrange;
            &:hover {
                text-decoration: underline;
            }
        }
        & + .social-share {
            margin: 0 0 20px 0;
        }
    }
    .meta-tags {
        a,
        span {
            $metaHeight: 20px;
            font-size: 12px;
            color: $darkgray;
            padding: 0 10px;
            height: $metaHeight;
            line-height: $metaHeight;
            display: inline-block;
            background-color: #f2f2f2;
            @include border-radius(10px);
            a {
                padding: 0;
            }
        }
    }
    .the-post-content {
        margin-top: 12px;
    }
}

//end .apt-posts

.apt-checkout {
    .control-group {
        margin-left: 40px;
        margin-bottom: 40px;
        @media (max-width: 745px) {
            margin-left: 0;
        }
    }
}

.apt-table {
    width: 100%;
    display: table;
    max-width: 100%;
    border-spacing: 0;
    border: 1px solid #dfdede;
    border-collapse: collapse;
    background-color: transparent;

    @media (max-width: 480px) {
        max-width: 270px;
    }

    &.eq-cols {
        td,
        .td {
            width: 50%;
            @media (max-width: 745px) {
                width: auto;
            }
        }
    }
    td,
    .td {
        padding: 12px;
        color: #666;
        display: table-cell;
        vertical-align: middle;
        border-top: 1px solid #dddddd;
        &.v-top {
            vertical-align: top;
        }
        p {
            margin: 0;
        }
        .push-list {
            margin: 10px 0 0 25px;
        }
        &.lrg {
            width: 615px;
        }
        &.std {
            width: 275px;
        }
        @media (max-width: 745px) {
            display: block;
            clear: both;
            .push-list {
                margin-left: 0;
                li {
                    .radio-btn + span {
                        width: 70% !important;
                    }
                }
            }
            &.lrg,
            &.std {
                width: auto;
            }
            &:first-child {
                border-top: 0;
            }
        }
    }
    .item-thumbnail {
        $itSize: 60px;
        width: $itSize;
        height: $itSize;
        border: 1px solid #dfdede;
        float: left;
        margin-right: 10px;
    }
    .item-info {
        float: left;
        width: 60%;
    }
    li {
        &:last-child {
            margin-bottom: 0;
        }
    }
    .inner-row {
        @extend .cf;
        margin-bottom: 10px;
        li {
            padding-bottom: 5px;
        }
    }
    textarea.form-field {
        @media (max-width: 745px) {
            width: 273px;
            margin-left: 0;
        }
        width: 89%;
        height: 77px;
        margin-left: 60px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

.product-info {
    h1 {
        //float: left;
        font-size: 18px;
        line-height: 1.4;
        color: $meltBlack;
        font-weight: normal;
    }
    .social-share {
        li {
            padding: 0;
        }
        //float: left;
        @include breakpoint(large-screen) {
            //float: right;
            margin-top: 10px;
        }
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .col-3 {
        width: 62%;
        float: left;
    }
    .col-2 {
        width: 34.5%;
        float: right;
    }
    //#price-block
    .price-block {
        p,
        .qty-form {
            display: inline-block;
        }
        .qty-form {
            top: 12px;
            margin: 0;
        }
        .old-price {
            color: #999;
            font-size: 14px;
            font-weight: normal;
        }
        .add-to-cart {
            &:hover {
                @include bgAlpha(#e2a731, 0.5);
            }
            @include border-radius(3px);
            background: #E2A731;
            color: #fff;
            font-size: 1.333em;
            font-weight: bold;
            padding: 0 12px;
            height: 30px;
            min-width: 139px;
        }
    }
    //.price-block
    a {
        color: #B19046;
        &.transparent {
            color: #999;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

// #oldIE
.ie8 {
    body {
        &.large-screen {
            .container-fluid,
            .lv-container {
                width: 1170px;
            }
            .main {
                width: 930px;
            }
            .product-info {
                width: 410px;
                margin-top: 18px;
            }
            .social-share {
                float: right;
            }
            .sidebar {
                &.product-sidebar {
                    width: 175px;
                }
            }
            .product-view {
                width: 490px;
                .midSlid {
                    width: 456px;
                    height: 456px;
                }
                .jCarouselLite {
                    width: 416px;
                }
            }
        }
        &.desktop {
            .container-fluid {
                width: 980px;
            }
            .main {
                width: 735px;
            }
            .product-info {
                width: 315px;
            }
            .social-share {
                float: left;
            }
            .sidebar {
                &.product-sidebar {
                    width: 145px;
                }
            }
            .product-view {
                width: 400px;
                .midSlid {
                    width: 368px;
                    height: 368px;
                }
            }
        }
    }
}

.action-track {
    width: 18.353122%;
}

.account-block {
    color: #656565;
    font-family: $font-family-roboto;
    font-size: 12px;

    form,
    .control-group,
    p {
        margin-bottom: 0;
    }

    label {
        font-weight: bold;
        color: #666666;
        width: 115px;
        float: left;
        line-height: 100%;
    }
    .aptd-alert {
        margin-left: 0;
        width: 85%;
        float: right;
    }
    button    {
            float: left;
            margin: 0 0 0 95px;
            border: 0;
            background: #656565;
            padding: 7px 14px;
            color: #fff;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
        }

    .user-name-profle {
        font-family: inherit;
        font-size: 20px;
        color: #666;
        line-height: 100%;
        margin: 0;
        padding-bottom: 10px;
    }
    .user-address-profle {
        padding-bottom: 20px;
    }
}

.form-bundle {
    width: 75%;

    @media (max-width: 998px) {
        width: auto;
    }
}

.table-block {
    border: 1px solid #dfdede;
    padding: 0;
    color: #656565;
    td {
        vertical-align: top;
        padding: 20px;
        &.product-thumbnail {
            border-right: 1px solid #dfdede;
            width: 25%;
            text-align: center;
            .thumbnail-holder {
                width: 200px;
            }
            img {
                height: auto;
                max-width: 100%;
            }
        }
        a {
            color: #B19046;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            line-height: 100%;
            margin-bottom: 17px;
            @extend %clearfix;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &.inline-labels {
            .as-label {
                width: 100px;
                float: left;
                & + * {
                    float: left;
                }
            }
        }
    }
}

.callout-box {
    color: $meltBlack;
    padding: 27px 30px;
    &.highlight {
        background: #f5f5f5;
    }
    &[data-font="roboto"] {
        font-family: $font-family-roboto;
    }
    h3 {
        //font-family: $customFamily;
        font-family: $myriadFamily;
        font-size: 22px;
        color: #666;
        font-weight: normal;
        margin: 0 0 30px 0;
        padding: 0;
        line-height: 1.5;
    }
    h4 {
        font-size: 16px;
        color: #000;
        color: rgba(0, 0, 0, 0.5);
        font-weight: normal;
        padding: 0;
        margin: 10px 0;
        line-height: 1.5;
    }
    a {
        color: #B19046;
    }
    p {
        font-size: 14px;
    }
    small {
        font-size: 12px;
    }
    .apt-form ul li {
        color: $meltBlack;
    }
    .lis-pickd {
        border-bottom: 0;
    }
    .apt-btn {
        margin-right: 15px;
        &.lrg {
            padding: 10px 25px;
        }
    }

    &.product-alert {
        @extend %clearfix;
        border: 1px solid #DFDEDE;
        .center-it {
            h2 {
                padding: 0;
                font-size: 24px;
                margin: 0 0 10px 0;
                font-weight: normal;
                font-family: $myriadFamily;
            }
            p { font-size: 16px; }
            width: 610px;
            margin: 0 auto;
            > div { float: left }
            .ico-col  { 
                width: 13%; 
                background: transparent;
            }
            .cont-col { width: 85%; }
            @include breakpoint(apt-break) {
                &,
                .ico-col,
                .cont-col {
                    width: auto;
                    float: none;
                    text-align: center;
                }
                .ico-col { margin-bottom: 30px; }
            }
        }
        .alert-action {
            float: right;
            width: 130px;
            .apt-btn {
                margin-right: 7px;
                border: 1px solid #CFCFCF;
            }
        }
        &.single-alert {
            padding: 12px 17px;
            background: #F5F5F5;
            margin: 0 0 16px 0;
            > p {
                float: left;
                width: 70%;
                color: #656565;
                line-height: 1.5;
                margin: 5px 0 0 0;
                span { color: #999999; }
            }
        }
    }
    &.new-alert {
        padding: 27px 50px;
		@media (max-width: 745px) {
			padding: 15px;
			.block-fields {
				width: auto;
			}
			div.span1,
			div.span5 {
				float: left;
				width: 30%;
			}
			.clone-holder {
				width: 260px;
				.repeatable { width: 230px; }
			}
		}
        ul.h-list li  {
            .radio-btn {
                & + span {
                    width: 80%;
                }
            }
        }
    }
}

div.new-alert-block {
    width: 640px;
    border: 1px solid #DFDEDE;
	@media (max-width: 745px) {
		width: auto;
	}
    h1 {
        font-size: 24px;
        font-weight: normal;
        font-family: $myriadFamily;
        margin: 0;
    }
    .is-label {
        border-bottom: 1px solid #ececec;
        padding: 0 0 6px 0;
        margin: 30px 0 26px 0;
    }
    .apt-form-action {
        margin-bottom: 0;
        padding: 0;
        .apt-btn {
            &.lrg { padding: 8px 17px; }
        }
    }
}

.secondary-menu {
    left: 50%;
    padding: 0;
    z-index: 20;
    width: 980px;
    position: absolute;
    margin: 0 0 0 -490px;
    ul {
        float: none !important;
        li {
            float: left;
            margin: 0 5px 0 0;
            &.cart a:hover,
            &.wishlist a:hover {
                color: #000 !important;
            }
            @include breakpoint(desktop) { margin: 0; }
            a {
                color: $darkgray;
                padding: 5px 8px;
                text-decoration: none;
                text-transform: uppercase;
                @include border-radius(2px);
                font-size: ($font-size-base + 4); // 16
                &.current {
                    color: #fff;
                    background: $color-brand;
                }
                @include breakpoint(desktop) {
                    padding: 5px 8px;
                    font-size: ($font-size-base + 3); // 15
                }
            }
            &.apt-support {
                float: right !important;
                .apt-tel {
                    font-size: 19px;
                    color: $darkgray;
                    margin: 0 0 5px 0;
                    font-weight: normal;
                    text-align: right;
                }
                .apt-email {
                    color: $gray;
                    padding: 0;
                    text-transform: none;
                    text-decoration: none;
                    font-size: $globalFontSize + 2;
                    // 14
                    &:hover {
                        color: $gray;
                        background: transparent;
                        text-decoration: underline;
                    }
                }
                &:hover {
                    a {
                        background: transparent;
                    }
                }
            }
            &:hover {
                a {
                    color: #fff;
                    background: $color-brand;
                }
            }
        }
    }
    &.secondMenu {
        a,
        li {
            color: #ccc;
            &.apt-support {
                .apt-tel {
                    color: $gray;
                }
            }
        }
        li {
            position: relative;
            top: 12px;
            &.apt-support {
                top: 0;
            }
        }
    }
}

.secondMenu {
    background: #333 !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 20px 0 !important;
    width: 100% !important;
    z-index: 50;

}

$subcatsBg: #f7f7f7;
$subcatsBtnSize: 60px;

.sub-cats {
    z-index: 50;
    display: none;
    height: 365px;
    overflow: hidden;
    background: $subcatsBg;
    @include absolute($top: 58px, $right: 0, $left: 0);
    @include breakpoint(desktop) {
        top: 52px;
    }
    .fixed & { visibility: hidden; }

    .shop {
        background: #E2A731;
    }
    .shop-menu {
        margin: 0;
        padding: 0;
        z-index: 50;
    	height: 365px;
        overflow: hidden;
        @include absolute($top: 0, $right: 0, $left: 0);
        .list-cor {
        	padding-right: $subcatsBtnSize;
        	padding-left: $subcatsBtnSize;
            ul {
                float: left;
                width: 225px;
                height: 365px;
                overflow: hidden;
                margin: 0 20px 0 0;
                padding: 45px 45px 0 45px;
                @include box-sizing (border-box);
                &:last-child {
                    border-right: 0;
                }
                &:hover {
                	background: #f2f2f2;
                	.category-menu {
                		color: $color-brand-darken;
                	}
                }

                li {
                    display: block;
                    padding: 0 0 9px 0;
                    a {
                        display: block;
                        color: $color-global2;
                        text-decoration: none;
                        font-size: ($font-size-base + 2); // 14
                    }
					.category-menu {
					    font-size: 20px;
					    line-height: 100%;
					    padding: 0 0 10px 0;
					    font-weight: normal;
					    color: $color-global;
                        font-family: $myriadFamily;
					    //font-family: $font-family-secondary;
					}
					&:hover {
						a {
							color: $color-brand-darken;
						}
					}
                }
            }
        }
        .control-btn {
        	text-align: center;
            background: $subcatsBg;
            width: $subcatsBtnSize;
            @include absolute($top: 0, $bottom: 0);
        }
        .next { right: 0; }
        .prev { left: 0; }
    }
    //end shop-menu
}


/* 
#secondary-menu ul li a:hover,
#secondary-menu ul li a:active,
#mobile-secondary-menu ul li a:active, */
/* .current {
    background: #E8AF3C;
    color: #fff !important;
} */

#mobile-secondary-menu,
#mobile-secondary-menu ul {
    width: 100%;
}

#mobile-secondary-menu ul li a {
    display: block;
    color: #666;
    font-size: 1.333em;
    padding: 8px 0 8px 20px;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
}

.search-bar {
    @include relative($top: 15px);
    &.span3 { margin-left: 15px; }
    &.span3,
    .block-i {
        width: 190px;
        .form-field { width: 180px; }
        // @include breakpoint(desktop) { width: 240px; }
        @include breakpoint(mid-devices) {
            width: 100%;
        }
    }
    .apt-form {
        .form-field,
        .form-field.filled {
            color: #999;
            height: 28px;
            background: #585858;
            border-color: transparent;
            @include box-shadow(none);
            font-size: $font-size-base;
            @include breakpoint(desktop) {
                width: 228px;
            }
            @include breakpoint(mid-devices) {
                width: 100%;
            }
        }
    }
    @include breakpoint(mid-devices) {
        top: 0;
        margin: 10px 0;
        padding: 0 20px;
    }
}

.gallery-images {
    width: 306px;
    height: 295px;
    padding: 0 0 20px 0;
    float: left;
    display: inline-block;
    margin: 0 0 1px 0;
    position: relative;
    @include breakpoint(apt-break) {
        width: 283px;
    }
    div {
        top: 0;
        left: 0;
        width: 294px;
        height: 245px;
        position: absolute;
        padding: 7px;
        background: #fff;
        border: 1px solid #DFDEDE;
        z-index: 5;
            img {
                height: 100%;
                min-width: 100%;
            }
        @include breakpoint(apt-break){
            width: 267px;
        }
    }
    figcaption {
        @include absolute($right: 0, $bottom: 0, $left: 0);
    }
}

.useRating {
    float: right;
    width: 100px;
    img {
        float: right;
        width: 30px;
        height: 30px;
        min-width: 30px;
        margin: 0 0 0 5px;
        @include border-radius(100%);
    }
}

.item-price-n-name {
    float: left;
    width: 160px;
    padding-left: 10px;
    color: $color-global2;
    font-size: ($font-size-base + 1); // 13px
    a {
        color: inherit;
    }
}

// #wrap
div#wrap {
    &.admin-dashboard { margin-bottom: 0; }
    @include breakpoint(mid-devices){
     margin-bottom: 0;     
     min-height: 1px !important;
    }
}
// #footer
footer#footer {
    //border-top: 1px solid #eee;
    @include breakpoint(mid-devices){
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    height: auto;
    .pull-left,
    .pull-right {
        float: none; 
         margin-bottom: 3px;
    }
     li {
        &,
        &.pull-left,
        &.pull-right { float: none; }

        display: inline-block;
        margin: 0 5px 0 0;
        line-height: 1.5;
            a {
                padding: 7px 0;
            }
        }       
    }
}
.copyright {
    @include breakpoint(mid-devices){
        .pull-left,
        .pull-right {
            float: none; 
             margin-top: 3px;
        }
    }
}

///********************

.demo-container {
  width: 900px;
  margin: 0 auto;
  &:before,
  &:after {
      content:"";
      display:table;
      clear:both;
  }
}
/* [  ] */
.item-photo {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    border: 1px solid #E2E1E1;
    float: left;
    display: table;
    margin: 0 0 25px 25px;
    font-size: 12px;
    color: #ccc;
    @include respond-to(medium-screens) {
        width: 170px;
        height: 170px;
        margin: 0 0 15px 15px;
    }
    @include respond-to(tablet-sm-screens) {
        width: 136px;
        height: 136px;
    }

      &:hover {
        .item-photo-overlay { display: block; }
      }
    &.is-default {
        border-color: #E2A731;
        outline: 1px solid #E2A731;
        &:hover {
            .item-photo-overlay {
                background: transparent;
            }
        }
    }
    img {
      max-width: 100%;
      height: auto;
      width: 100%; /* firefox */ 
    }
    .inner-holder {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 0 30px;
      .apt-i-camera { margin-bottom: 7px; }
      span {
          line-height: 1.5;
          display: block;
          clear: both;
      }
      .progress {
        text-align: center;

        img {
          position: relative;
          min-width: none;
          width: auto;
          margin-top: 7px;
        }
      }
      .progress,
      .validation { display: none; }
      &.uploading {
        .progress { display: block; }
      }
      &.has-feedback {
        .invalid { color: #FF6666; }
      }
      &.has-feedback {
        .validation {  display: block; }
      }
    }

}

$upload-btn-width: 110px;

.upload-btn {
    width: $upload-btn-width;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 (- $upload-btn-width / 2);
    button {
        display: block;
        width: $upload-btn-width;
        height: 40px;
        background: transparent;
        border: 0;
        color: #ccc;
        cursor: pointer;
        font-size: $font-size-base;
        cite {
            font-size: 30px;
            position: relative;
            top: 7px;
        }
    }
    input[type="file"] {
        left: -50px;
        cursor: pointer;
        opacity: 0;
        padding: 7px;
        position: absolute;
        top: 5px;
        z-index: 5;
    }
}

.item-photo-uploader {
  margin-left: -30px;
}

.icon {
  display: block;
  color: #f2f2f2;
  margin-bottom: 5px;
}

.item-photo-action {
  .item-photo-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: none;
    background: rgba(0,0,0,.2);
  }
    .apt-btn {
        &.sm-flat { padding: 2px 8px; }
    }
  .control {
    position: absolute;
    top: 7px;
    z-index: 5;
    &.left-side { left: 7px; }
    &.right-side { right: 7px; }
  }
}


aside.main-sidebar {
     @include breakpoint(mid-devices) {
        z-index: 20;
        margin: 0;
        width: 260px;
        padding: 15px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #fff;
        border: 1px solid #dfdfdf;
        @include box-shadow(0 0 7px rgba(0,0,0,.3));
        @include absolute($top: -30px, $bottom: 0, $left: 0);
        .static-sidebar {
            position: relative;
            top: 0; 
        }
    }
}

.main-container {
   min-height: 79.5%;
}