// [ tables ]
.product-table {
	width: 100%;
	display: table;
	border-spacing: 0;
	font-size: $font-size-base;
	color: $color-global2;
	border: 1px solid #dfdede;
	border-collapse: collapse;
	font-family: arial, sans-serif;

	td {
		padding: 12px;
		color: $color-global;
		vertical-align: top;
		border: 1px solid #dfdede;
		&[data-highlight] {
			background: #F9F9F9;
		}
	}

	img {
		max-width: 100%;
		width: 100%; // FF
	}
	.text-mute {
		color: $color-meta;
	}
	li {
		line-height: 1.5;
		margin-bottom: 4px;
	}
	.product-thumb {
		width: 109px;
		background: #fff;
	}
	.product-title {
		color: $color-brand-primary;
		font-size: $font-size-global + 2; // 16
	}

}

.code-generator-table {
	width: 100%;
	display: table;
	border-spacing: 0;
	font-size: $font-size-base;
	color: #7c7c7c;
	border: 0;
	border-collapse: collapse;
	font-family: arial, sans-serif;

	.text-left   { text-align: left; }
	.text-right  { text-align: right; }
	.text-center { text-align: center; }

	tbody {
		tr {
		border-right: 1px solid #dfdede;	
		border-left: 1px solid #dfdede;	
		&:hover,
		&.is-active {
			background-color: #FEFCF5;
		}
		&:nth-child(odd) {
			background-color: #F9F9F9;
			&:hover {
				background-color: #FEFCF5;
			}
		}
		}
	}
	th {
		font-weight: normal;
		font-family: $font-family-roboto;
		vertical-align: middle;
	}
	td {
		font-family: $font-family-roboto;
		padding: 12px;
		font-size: 14px;
		color: $color-global;
		vertical-align: middle;
		border-top: 1px solid #dfdede;
		border-bottom: 1px solid #dfdede;
		&[data-highlight] {
			background: #F9F9F9;
		}
	}

	.generated-code {
		font-family: inherit;
		color: #7c7c7c;
	}
	small { font-size: 12px; }
}