// Title Page & Section
.apt-title {
	color: $darkgray;
	padding: 0;
	margin: 0 0 14px 0;
	font-weight: normal;
	line-height: 100%;
  @extend .cf;

	&.page {
      &.cstm { font-family: $customFamily;  }
	  font-family: $globalFamily;
	  font-size: 24px;

	  .apt-blog &,
    .apt-static & {
	  	font-size: 29px;
      margin: 0 0 45px 0;
      font-family: $myriadFamily;
	  }
	}
    &.fancy {
      font-size: 30px;
      font-family: $customFamily;
      line-height: 100%;
    }
	&.section {
		font-size: $section-title;
		.apt-checkout & {
			font-size: $modal-title;
			font-family: $customFamily;
		}

      .apt-modal-pane & {
        margin-bottom: 0;
        @media (max-width: 745px)  {
          font-size: 16px;
        }
        & + p {
          margin-left: 45px;
          line-height: 1.5;
          margin-top: -5px;
          @media (max-width: 745px)  {
            display: none;
          }
        }
      }

      .circle {
        color: #fff;
        float: left;
        margin-right: 5px;
        font-size: $modal-title;
        font-family: 'Anaheim', sans-serif;
        & + span {
          top: 7px;
          position: relative;
          float: left;
          @media (max-width: 745px)  {
            left: 9px;
            width: 75%;
          }
        }
      }
		.control-group + & { margin-top: 34px; }
	}


	&.sub {
		font-size: $sub-title;
		color: $meltBlack;
	}
}


// custom text colors
.sub-title {
  font-size: 14px;
  line-height: 1.5;
  &.fancy {
    font-family: $myriadFamily;
    font-size: 18px;
    color: #656565;
  }
}

.text-right{ text-align: right; }

.text-mute  { color: $meltBlack; }
.dark-grey  { color: #656565; }
.text-dgrey { color: $darkgray; }
.text-grey  { color: $gray; }

.text-prime,
.text-primary {
  color: $aptColor;
  &.dark { color: #B19046 !important; }
}

.text-uc { text-transform: uppercase; }

.text-ul   {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  &.none {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.text-sm,
.text-small { font-size: 12px !important; }
.text-mid { font-size: 16px; }
.text-std { font-size: 14px; }
.p-6      { padding: 6px !important; }

.font-roboto { font-family: $font-family-roboto; }