// [ Colors ]


$aptColor	 : #E8AF3C; //orange
$brightOrange: #e1a631;
$darkOrange  : #b19046;


$successbg  : #FDFBF5; // light yellow
$successbrdr: #FFD789; // yellow

$vdarkgray: #333333; // very dark grey
$darkgray : #666666; // dark grey
$gray 	  : #999999; // grey

$meltBlack: #7F7F7F; // black 50%

$lightRed: #faebe7; 
$softRed : #f76d55;


// [ Colors ]

// # accents colors
$color-brand        : #E8AF3C;
$color-brand-darken : #B19046;
$color-brand-primary: #b19046;

// # base colors
$color-meta        : #999;
$field-helper-color: $color-meta;
$color-meta-light  : #C1C1C1;

$color-global      : #666;
$color-global2     : #656565;
$color-light-black : #7c7c7c;
$color-error       : #f66;

// [ Breakpoints ]
$largeScreen: 1200px;
$midDevices : 998px;
$tablet 	: 768px;
$landtoPort	: 480px;
$lrgModal   : 500px;

$wide-screens      : 1200px;
$medium-screens    : 998px;
$tablet-screens    : 768px;
$tablet-sm-screens : 745px;
$handhelds-screens : 480px;


// Typography

$globalFontSize: 12px;
$section-title: 18px;
$modal-title: 22px;
$sub-title: 16px;
$globalFamily: Calibri, Candara, Segoe, "Segoe UI";
$customFamily: 'DIN-Regular';
$myriadFamily:  Myriad Pro, sans-serif;
$arial       : Arial, sans-serif;

// [ Font sizes ]

// # base font sizes
$font-size-base	  : 12px;
$font-size-global : $font-size-base + 2; // 14
$font-size-small  : $font-size-base - 1; // 11
$font-size-meta   : $font-size-small;

// # heading font sizes
$font-size-section-heading: $font-size-global + 4; // 18


// # doc font families
$font-family-base  : Arial, sans-serif;
$font-family-global: Myriad Pro, sans-serif;
$font-family-din   : 'DIN-Regular';
$font-family-calib : Calibri, Candara, Segoe, "Segoe UI";

$font-family-secondary : 'DIN-Regular';
$font-family-heading   : $font-family-global;
$font-family-roboto	   : 'Roboto', sans-serif;
$font-family-mus	   : 'museo_slab500';


$font-weight-thin   : 100;
$font-weight-light  : 300;
$font-weight-normal : 400;

// Avatars
$avSmall: 28px;
$avMid: 82px;