// [ Widgets ]

// #Share box
.share-box {
	&,
	&, *
	&:before,
	& *:before,
	&:after,
	& *:after {
		@include box-sizing(border-box);
	}
    width: 733px;
    height: 70px;
    border: 1px solid #DFDEDE;
    padding: 10px;
    .output-share {
        float: left;
        font-size: 14px;
        color: #5A6A75;
        padding: 4px 0;
        overflow: hidden;
        a {
        	color: $color-brand;
        }
    }
    .share {
        border: 0;
        float: left;
        width: 30%;
        padding: 4px 0;
        margin: 0;
        opacity: 0;
        &:focus {
            outline: none;
            border:none;
        }
    }
    .input-holder {
        @include animation-name(blink-empty);
        @include animation-duration(1s);
  		@include animation-iteration-count(infinite);
        border-left: transparent solid 1px;
        margin:0;
        height: 20px;
        overflow: hidden;
    }
}
/* social-media-accounts */
 .social-media-accounts {
 	.fit-field { max-width: 733px; }
 	.apt-btn {
 		min-width: 92px;
		min-height: 35px;
 	}
	.share-labels {
		width: 260px;
		float: left;
		color: $color-global;
		font-size: $font-size-global + 2; // 16
		p {
			span {
				position: relative;
				top: 6px;
			}
		}
	}
	.share-access {
		float: left;
	}

    input[type="checkbox"] {
        display: none;
    }
    label {
        width: 90px;
        height: 32px;
        border: 1px solid #CFCFCF;
        display: inline-block;
        cursor: pointer;
        position: relative;
        &:before, &:after {
            font-weight: bold;
            line-height: 32px;
            padding-right: 12px;
            padding-left: 12px;
            font-size: $font-size-base;
        }
        &:before {
            content:"ON";
            float: left;
            color: #E2A731;
        }
        &:after {
            content:"OFF";
            float:right;
            color: #999;
            padding-right: 10px;
            padding-left: 7px;
        }
        .checkbox-cover {
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            bottom: 0;
            width:45px;
            background: #E6E6E6;
            display: block;
            border-right: 1px solid #CFCFCF;
            padding: 8px 0 0 0;
            &.is-on {
                left: auto;
                right: 0;
                border-right: 0;
                border-left: 1px solid #CFCFCF;
            }
            .cover-bar {
                width: 1px;
                height: 14px;
                background: #D5D5D5;
                display: inline-block;
                margin: 0;
            }
        }
    }
}


@include keyframes(blink-empty) {
    50% {
        border-left: 1px solid #333;
    }
  }

.container-holder {
    background-color: #f9f9f9; 
    margin-top: 710px; 
    position: relative; 
    z-index: 5;
    @include respond-to(medium-screens) {
        margin-top: 0;
    }
}

.apt-slider-holder {
    position: fixed; 
    top: 146px; 
    left: 0; 
    right: 0; 
    height: 390px; 
    z-index: 5;
    @include respond-to(medium-screens) {
        position: relative;
        top: 0;
        height: auto;
    }
}

// #slider
$apt-slider-height: 520px;
.apt-slider {
  position: relative;
  @include respond-to(tablet-sm-screens) {
    margin-bottom: 20px;
  }
  .apt-slider-layer-holder {
    height: $apt-slider-height;
    background: #f5f5f5;  
    overflow: hidden;
    position: relative;

    @include respond-to(tablet-sm-screens) { height: 320px; }
    @media (max-width: 520px) and (min-width: 320px) { height: 270px; }
    @media (max-width: 400px) { height: 150px !important; }

    .apt-slider-layer {
        display: none;
        text-align: center;
        height: $apt-slider-height;
        @include background-size (cover);
        background-repeat: no-repeat;

        [data-picture] {
            .slider-image  { 
                display: block;
                @include absolute(0,0,0,0);
                background-repeat: no-repeat;
                @include background-size (100%); 
            }
            [data-src-lrg] {
                display: none;
                @media (min-width: $wide-screens) { display: block; }
            }
            [data-src-std] {
                display: block;
                @media (max-width: $medium-screens) { display: none; }
            }
            [data-src-sm] {
                display: none;
                @media (max-width: $medium-screens) { display: block; }
            }
            [data-src-xs] {
                display: none;
                @include respond-to(tablet-sm-screens) { display: block; }
            }
        }

        @include respond-to(tablet-sm-screens) { height: 320px; }
        @media (max-width: 520px) and (min-width: 320px) { height: 270px; }
        @media (max-width: 400px) { height: 150px !important; }


        h2 {
            padding-top: 95px;
            padding-bottom: 35px;
            @include single-transition(all, .2s, ease);
            @include respond-to(tablet-sm-screens) {
                font-size: 20px;
                padding-top: 20px;
                padding-bottom: 10px;
            }

            margin: 0;
            line-height: 100%;
            color: #fff;
            font-size: 35px;
            font-family: $font-family-mus;
            font-weight: 400;
        }
    }  
  }
  .slider-bullets {
    margin-top: 20px;
    text-align: center;
    @include absolute(auto,0,-60px,0);
    @include single-transition(all, .6s, ease);
    &.is-active {
        bottom: -30px;
    }
    span {
      display: inline-block;
      @include border-radius(100%);
      background: #ccc;
      &:hover {
        background: #e8af3c;
      }
      width: 10px;
      height: 10px;
      position: relative;
      cursor: pointer;
      & + span {
        margin-left: 20px;
      }

      @include single-transition(all, .3s, ease);
      background-position: -10px -10px;

      &.is-active {
        background: #333;
        background-position: 0 0;
        &:before {
          display: none;
          content: "";
          position: absolute;
          @include border-radius(100%);
          background: #fff;
          border: 3px solid #e8af3c;
             width: 12px;
           height: 12px;
            top: -4px;
            left: -4px;
        }
      }
    }
  }
}

.shop-by-cats {
    float: left;
    position: relative;
    @extend %clearfix;
    font-family: $font-family-roboto;
    font-weight: $font-weight-normal;
    font-size: $font-size-global;
    &,
    a { color: #999; }
    .caret {
        border-top: 5px solid #999;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }
    &.open {
        .dropdown-toggle {
            &:before {
                top: -3px;
                content: "";
                display: block;
                margin-top: -2px;
                position: relative;
                border-top: 2px solid $color-brand;
            }
        }
    }

    .dropdown-menu {
        width: 645px;
        padding: 30px;
        margin-top: 25px;
        border-color: #dfdede;
        @include border-radius(0);
        &:before {
            content: "";
            background: url('../images/aptsprite.png') no-repeat -7px -96px;
            width: 20px;
            height: 11px;
            position: absolute;
            left: 17px;
            top: -11px;
        }
    }
    .inner-cat-col {
        width: 140px;
        padding-right: 20px;
        float: left;        
        .heading-cat {
            font-size: $font-size-global + 2; // 16
            font-weight: $font-weight-normal;
            color: #666;
            border-bottom: 1px solid #efeeee;
            margin-top: 0;
            padding-top: 0;
            a {
                color: inherit;
            &:hover {
                    background: transparent;
                    color: $color-brand-primary;
                }
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                a {
                    color: #999;
                    padding: 3px 0;
                    &:hover {
                        background: transparent;
                        color: $color-brand-primary;
                    }
                }
            }
        }
    }
}


.sm-section-collapse {
    @include respond-to(tablet-sm-screens) {
        display: none;
        &.is-active { display: block; }
    }
}


// #carousel
.m-carousel {
    padding: 0 10px;
    position: relative;

    .mc-thumbnails {
        height: 52px;
        overflow: hidden;
        position: relative;
    }
    
    .control {
        button {
            position: absolute;
            top: 34px;
            margin-top: -10px;
            cursor: pointer;
            width: 10px;
            height: 20px;
            text-align: center;
            background-color: rgba(0, 0, 0, .5);
            border: 0;
            color: #fff;
            z-index: 1;
            &.prev { left: 0;  }
            &.next { right: 0; }
        }
    }
  
    ul {
        list-style: none;
        position: absolute;
        left: 0;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            &,
            .widget &  { padding: 3px; }
            position: relative;
            overflow: hidden;
            border: 1px solid #dfdede;
            width: 50px;
            height: 44px;
            float: left;
            text-align: center;
            line-height: 50px;
            & + li {
                margin-left: -1px;
            }
          img {
            width: auto\9;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
            border: 0;
            -ms-interpolation-mode: bicubic;
            }
          
        }
    }

    // #vertical
    &[data-carousel="vertical"] {
    .mc-thumbnails {
        height: 307px;
        width: 52px;
        float: right;
    }
    
    .control {
        button {
            top: auto;
            right: 10px;
            &.prev { top: 0;  }
            &.next { bottom: 0; }
        }
    }
  
    ul {
        li {
            margin: 0;
            padding: 0;
            float: none;
            display: block;
            width: 50px;
            height: 50px;
            
            & + li {
                margin-top: -1px;
            }
        }
    }
    }
}

// accordion
.apt-accordion {
  color: #333333;
  font-size: $font-size-base + 1; // 13
  font-weight: $font-weight-light;
  font-family: $font-family-roboto;
  
  &,
  &:before,
  &:after,
  *,
  *:before, 
  *:after {
        @include box-sizing(border-box);
 }
  
  &,
  .panel-heading,
  .accordion-panel { position: relative; }
  
  .accordion-panel {
    margin: 0 0 10px 0;
    
    .panel-heading {
      padding: 10px;
      font-size: $font-size-global;
      cursor: pointer;
      font-weight: $font-weight-normal;
      margin: 0;
      line-height: 100%;
      background-color: #F9F9F9;
      @include border-radius(1px);
      .notifier {
        @include absolute($top: 10px, $right: 10px);
        padding: 3px;
        font: bold 11px/100% arial, sans-serif;
        text-align: center;
        color: #fff;
        min-width: 18px;
        background-color: #E2A731;
        @include border-radius(2px);
        &:before {
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          @include absolute($top: 50%, $right: 100%);
          pointer-events: none;
          border-color: rgba(136, 183, 213, 0);
          border-right-color: #E2A731;
          border-width: 4px;
          margin-top: -4px;
        }
      }
    }
    .accordion-collapse {
    margin: 0;
    display: none;
    }
    &.is-active {
      .accordion-collapse {
        display: block;
      }
    }
  }
  
  a {
    display: block;
    text-decoration: none;
    &,
    &:hover { color: inherit; }
  }
  
  .accordion-list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      padding: 10px 10px 10px 40px;
      & + li {
        border-top: 1px solid #f2f2f2;
      }
      &:before {
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        @include absolute($top: 50%, $left: 20px);
        pointer-events: none;
        border-color: rgba(153, 153, 153, 0);
        border-left-color: #999999;
        border-width: 4px;
        margin-top: -4px;
      }
    }
  }  
}

.sm-tb-collapse {
    cursor: pointer;
}

.pagination {
    &.pagination-custom {
        li {
            margin-right: 5px;
            display: inline-block;
            a {
                border: 1px solid #DFDEDE;
                @include border-radius(2px !important);
                color: #666666;
                font-size: 12px;
                padding: 5px 10.5px;
                font-family: $font-family-roboto;
                &:hover {
                    color: #666666;
                    border-color: #DFDEDE;
                    background-color: #F0F0F0;
                }
                &.active {
                    color: #fff;
                    background-color: #666666;
                    border-color: #666666;
                }
            }
        }
    }
}