<div class="main-container push-header">
    <div class="main-row">
        <?php echo $this->partial('static_sidebar.phtml', array('current_controller' => 'how_it_works')); ?>

        <div  class="aptcol-sm-9 main apt-blog" break-col="md">
            <?php echo str_replace('&nbsp;', '<br>', $this->content); ?>
        </div>
    </div>
</div>