  
<!-- container-fluid -->
<div class="container-fluid" id="container"> 

    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>

    <!-- mainContent -->
    <div class="mainContent" id="messages"> 

		<!-- user-actions -->
		<div id="user-actions">
			<h2>Order: #<?php echo $this->item->getOrderId(); ?></h2>
			
			<?php /*
			<div class="alert alert-success"> <i></i> Order status has been changed to "Closed". <a href="#">Cancel </a>
				<button type="button" class="close" data-dismiss="alert">x</button>
			</div>
			 */ ?>
		</div>
		<!--/ user-actions -->
		<div class="clear"></div>

        <table id="transc-his">
			<tr>
				<td class="transc-his"><img style="width:158px;max-height: 158px;" src="<?php echo $this->item->getProduct()->getMainImageUrl(); ?>" alt="item-1" /></td>
				<td>
					<h3><a href="#"><?php echo $this->item->getProduct()->getTitle(); ?></a></h3>
					<ul>
						<li>
							<span class="labl">
								<strong>Seller:</strong>
							</span>
							<span class="descripo">
								<a href="#">
									<?php echo $this->item->getProduct()->getSeller()->getFullName(); ?>
								</a>
							</span>
						</li>
						
						<li> 
							<span class="descripo">
								<p class="gry">101 Main Street, Highland, CA 92346</p>
							</span>
						</li>
						
						<li> <span class="descripo"><p class="email-address gry"><i></i> example@</p></span></li>
						
						<li> 
							<span class="descripo"><p class="mobile-number gry"><i></i> 34567788 </p></span>
							<div class="clearfix"></div>
						</li>
						
						<li> 
							<span class="labl gry">Price:</span> 
							<span class="descripo"><p><strong><?php echo $this->currency($this->item->getProduct()->getPrice()); ?></strong></p></span>
						</li>
						
						<li> <span class="labl gry">Delivery:</span> <span class="descripo"><p><i class="deliv"></i> <strong>Pick up by customer</strong></p></span></li>
						
						<li> <span class="labl gry">Status:</span> <span class="descripo"><p class="status recived">Completed</p></span></li>
					</ul>
				</td>
				<td>
					<h3><a href="#"></a></h3>
					<ul>
						<li> <span class="labl"><strong>Buyer:</strong></span> <span class="descripo"><a href="#">Diesel Living</a></span></li>
						<li> <span class="descripo"><p class="gry">101 Main Street, Highland, CA 92346</p></span></li>
						<li> <span class="descripo"><p class="email-address gry"><i></i> example@</p></span></li>
						<li> <span class="descripo"><p class="mobile-number gry"><i></i> 34567788 </p></span></li>
					</ul>
				</td>
			</tr>
        </table>
    </div>
    <!--/ mainContent -->
    <div class="clear"></div>
</div>
<!--/ container-fluid -->
<div class="clear"></div>