<div class="container-fluid" id="container">
    
    <div class="mainContent">
        <table class="table table-bordered">
            <tr class="success"><th>ID</th><th>Email</th><th>Role</th><th>Action</th></tr>
                <?php foreach($this->admins as $admin): ?>   
                <tr>
                    <td><?php echo $admin["id"] ?></td>
                    <td><?php echo $admin["email"] ?></td>
                    <td><?php echo $admin["name"] ?></td>
                    <td>
                        <a class="btn btn-warning" href="<?php echo "/admin/manager-admins/edit-admin/id/".$admin["id"] ?>">Edit</a>
                        <a class="btn btn-danger" href="<?php echo "/admin/manager-admins/delete-admin/id/".$admin["id"] ?>">delete</a>
                    </td>
                </tr>               
            <?php endforeach; ?>
        </table>
        <a class="btn btn-primary" href="/admin/manager-admins/add-admin/">Add Admin</a>
    </div>
    <?php echo $this->partial('sidebar.phtml', 'admin', $this); ?>
</div>
