<form method="get" name="search-order" id="search-order" >
          <!-- search my items -->
          <div class="input-append" id="filter-my-items">
            
              <!--<input type="text"  id="filter-items" name="search_text" value="<?php //if ($_GET) echo $_GET['search_text']; ?>" />-->
              <!--<input type="hidden" name="search_status" id="search_status" value="<?php //if ($_GET) echo $_GET['search_status']; ?>" />-->
              <!--<input type="submit" style='display: none;'>-->
            <?php echo $this->element->search_text; ?>
            <?php echo $this->element->search_status; ?>
            <?php echo $this->element->search; ?>
            <i class="icon-search"></i>
            <!-- items-to-filter -->
            <div class="items-to-filter">
              <div id="wrapitems">
                <div id="scrollitems"></div>
              </div>
              <div id="mysales-items">
                <ul>
                  <li><a href="#">Brand 1</a></li>
                </ul>
              </div>
            </div>
            <!--/ items-to-filter --> 
            
          </div>
          <!--/ search my items -->
        <!--</form>-->
<div class="btn-group" id="purchase-history">
            <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment">
                    <?php if (isset($_GET['search_status'])) {
                       if  ($_GET['search_status'] == '') echo 'All Order Statuses';
                       if  ($_GET['search_status'] == 0) echo 'In progress';
                       if  ($_GET['search_status'] == 1) echo 'Completed';    
                    } else {
                        echo 'All Order Statuses';
                    } ?></span> <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="javascript:submitSearchForm('')">All order statuses</a></li>
              <li><a href="javascript:submitSearchForm('0')">In progress</a></li>
              <li><a href="javascript:submitSearchForm('1')">Completed</a></li>
            </ul>
          </div>


</form>

<script type="text/javascript">

function submitSearchForm(status){

    
    document.getElementById('search_status').value = status;
    document.forms["search-order"].submit();
}
</script>