<!DOCTYPE html>
<html>
<head>
<title>aptdeco - user my sales transaction history</title> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="aptdeco">
<meta name="author" content="aptdeco">
<!-- css -->
<link href="css/core.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<!--/ css -->

<!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<!-- wrap -->
<div id="wrap"> 
<!--   header 
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container-fluid"> 
         collapse icon  
        <a class="btn btn-navbar" id="get-mobile-menu" data-toggle="collapse" data-target=".nav-collapse"> 
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> 
        / collapse icon  
        
        <a class="brand" href="#"> <img src="images/new-logo.png" alt="AptDecologo" /> </a> / logo  
        
         descktop-menu 
        <div class="descktop-menu"> 
          
           nav 
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li><a class="shop" href="#">Shop</a></li>
              <li><a class="sell-ur-stuff" href="#">Sell my stuff</a></li>
              <li><a href="#">Invite & earn</a></li>
              <li><span class="sep"></span></li>
              <li><a href="#">How it works</a></li>
              <li><span class="sep"></span></li>              
              <li class="btn-group user-access"><a class="dropdown-toggle" data-toggle="dropdown"> Me <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">My dashboard</a></li>
                  <li><a href="#">Sign out</a></li>
                </ul>
              </li>
               search-bar 
              <li>
                <div class="input-append" id="search-bar">
                  <input type="text" id="searchField" name="searchField" />
                  <span class="add-on"> <i class="icon-search"></i> </span>
                  <div id="search-suggestions"> <i></i> 
                     search-suggestions 
                    <ul>
                      <li> <a href="#"><img src="images/fsearch.png" alt="Some item" /> </a>
                        <p><a href="#">Bla Station - Fatback Sofa</a></p>
                      </li>
                      <li> <a href="#"><img src="images/fsearch.png" alt="Some item" /> </a>
                        <p><a href="#">Bla Station - Fatback Sofa</a></p>
                      </li>
                    </ul>
                  </div>
                  / search-suggestions  
                </div>
                 search-bar  
                
              </li>
            </ul>
            
             shop menu 
            <div class="shop-menu"> <a href="#" id="next" class="next"><i></i></a>
              <div id="menu-container"> 
                 list-cor 
                <div class="list-cor">
                  <ul>
                    <li>
                      <h3><a href="#">Sofas</a></h3>
                    </li>
                    <li> <a herf="#">L shape sofas</a> </li>
                    <li> <a herf="#">3 seater sofas</a> </li>
                    <li> <a herf="#">2 seater sofas</a> </li>
                    <li> <a herf="#">Sofa beds</a> </li>
                  </ul>
                  <ul>
                    <li>
                      <h3><a href="#">Chairs</a></h3>
                    </li>
                    <li> <a herf="#">Armchairs</a> </li>
                    <li> <a herf="#">Accent Chairs</a> </li>
                    <li> <a herf="#">Recliners</a> </li>
                    <li> <a herf="#">Office Chaires</a> </li>
                    <li> <a herf="#">Ottomans and footstools</a> </li>
                    <li> <a herf="#">Stools</a> </li>
                    <li> <a herf="#">Benches</a> </li>
                  </ul>
                  <ul>
                    <li>
                      <h3><a href="#">Beds</a></h3>
                    </li>
                    <li> <a herf="#">King Size beds</a> </li>
                    <li> <a herf="#">Queen Size beds </a> </li>
                    <li> <a herf="#">Full Size beds</a> </li>
                    <li> <a herf="#">Twin beds</a> </li>
                    <li> <a herf="#">Bunk beds </a> </li>
                    <li> <a herf="#">Sofa beds</a> </li>
                    <li> <a herf="#">Hedboards</a> </li>
                    <li> <a herf="#">Mattresses</a> </li>
                  </ul>
                  <ul>
                    <li>
                      <h3><a href="#">Storage</a></h3>
                    </li>
                    <li> <a herf="#">Bookcases and Shelves </a> </li>
                    <li> <a herf="#">Sideboards</a> </li>
                    <li> <a herf="#">Cabinets</a> </li>
                    <li> <a herf="#">Chest and Drawers</a> </li>
                    <li> <a herf="#">Bedside tables</a> </li>
                    <li> <a herf="#">Storage tabes</a> </li>
                  </ul>
                  <ul>
                    <li>
                      <h3><a href="#">Lightings</a></h3>
                    </li>
                    <li> <a herf="#">Floor lamps</a> </li>
                    <li> <a herf="#">Desk lamps</a> </li>
                    <li> <a herf="#">Table lamps</a> </li>
                  </ul>
                  <ul>
                    <li>
                      <h3><a href="#">Outdoor</a></h3>
                    </li>
                    <li> <a herf="#">Outdoor tables and chairs</a> </li>
                    <li> <a herf="#">Outdoor Chairs</a> </li>
                  </ul>
                </div>
                // list-cor  
                 list-cor 
                <div class="list-cor">
                  <ul>
                    <li>
                      <h3><a href="#">Sofas</a></h3>
                    </li>
                    <li> <a herf="#">L shape sofas</a> </li>
                    <li> <a herf="#">3 seater sofas</a> </li>
                    <li> <a herf="#">2 seater sofas</a> </li>
                    <li> <a herf="#">Sofa beds</a> </li>
                  </ul>
                  <ul>
                    <li>
                      <h3><a href="#">Chairs</a></h3>
                    </li>
                    <li> <a herf="#">Armchairs</a> </li>
                    <li> <a herf="#">Accent Chairs</a> </li>
                    <li> <a herf="#">Recliners</a> </li>
                    <li> <a herf="#">Office Chaires</a> </li>
                    <li> <a herf="#">Ottomans and footstools</a> </li>
                    <li> <a herf="#">Stools</a> </li>
                    <li> <a herf="#">Benches</a> </li>
                  </ul>
                  <ul>
                    <li>
                      <h3><a href="#">Beds</a></h3>
                    </li>
                    <li> <a herf="#">King Size beds</a> </li>
                    <li> <a herf="#">Queen Size beds </a> </li>
                    <li> <a herf="#">Full Size beds</a> </li>
                    <li> <a herf="#">Twin beds</a> </li>
                    <li> <a herf="#">Bunk beds </a> </li>
                    <li> <a herf="#">Sofa beds</a> </li>
                    <li> <a herf="#">Hedboards</a> </li>
                    <li> <a herf="#">Mattresses</a> </li>
                  </ul>
                  <ul>
                    <li>
                      <h3><a href="#">Storage</a></h3>
                    </li>
                    <li> <a herf="#">Bookcases and Shelves </a> </li>
                    <li> <a herf="#">Sideboards</a> </li>
                    <li> <a herf="#">Cabinets</a> </li>
                    <li> <a herf="#">Chest and Drawers</a> </li>
                    <li> <a herf="#">Bedside tables</a> </li>
                    <li> <a herf="#">Storage tabes</a> </li>
                  </ul>
                  <ul>
                    <li>
                      <h3><a href="#">Lighting</a>s</h3>
                    </li>
                    <li> <a herf="#">Floor lamps</a> </li>
                    <li> <a herf="#">Desk lamps</a> </li>
                    <li> <a herf="#">Table lamps</a> </li>
                  </ul>
                  <ul>
                    <li>
                      <h3><a href="#">Outdoor</a></h3>
                    </li>
                    <li> <a herf="#">Outdoor tables and chairs</a> </li>
                    <li> <a herf="#">Outdoor Chairs</a> </li>
                  </ul>
                </div>
                // list-cor  
              </div>
              <a href="#" id="prev" class="prev"><i></i></a> </div>
            / shop menu 
            <ul class="nav">
               state 
              <li class="state">
                <p> <i class="earth"></i><span class="replTxt">New Yourk</span><a class="change" href="#"></a> </p>
                <div id="choose-a-city">
                  <input type="text" id="cities" />
                   <div class="parent" id="cityParent"> 
                  
                  <div id="scrollbar-2" class="cityParent"> 
                     custom scrollbar 
                    
                    <div class="scrollbar">
                      <div class="track">
                        <div class="thumb">
                          <div class="end"></div>
                        </div>
                      </div>
                    </div>
                    <div class="viewport">
                      <div class="overview">
                        <ul>
                          <li><a href="#">California</a></li>
                          <li><a href="#">Florida</a></li>
                          <li><a href="#">Iowa</a></li>
                          <li><a href="#">Louisiana</a></li>
                          <li><a href="#">Ohio</a></li>
                          <li><a href="#">Texas</a></li>
                          <li><a href="#">Virginia</a></li>
                          <li><a href="#">Utah</a></li>
                          <li><a href="#">Oregon</a></li>
                          <li><a href="#">New York</a></li>
                          <li><a href="#">New Mexico</a></li>
                          <li><a href="#">New Jersey</a></li>
                          <li><a href="#">Georgia</a></li>
                          <li><a href="#">Arizona</a></li>
                          <li><a href="#">Alaska</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              / state 
            </ul>
          </div>
          /nav  
          
        </div>
        / descktop-menu  
        
         mobile-menu 
        <div class="mobile-menu"> 
          
           mobile search 
          <div class="input-append" id="mobile-search-bar">
            <input type="text" id="mobile-searchField" name="mobile-searchField">
            <span class="add-on"> <i class="icon-search"></i> </span> </div>
          / mobile search  
          
           mobile-secondary-menu 
          <nav id="mobile-secondary-menu">
            <ul>
              <li><a href="#">sofas</a></li>
              <li><a href="#">chairs</a></li>
              <li><a href="#">tables</a></li>
              <li><a href="#">beds</a></li>
              <li><a href="#">storage</a></li>
              <li><a href="#">lighting</a></li>
              <li><a class="current" href="#">accessories</a></li>
              <li><a href="#">outdoor</a></li>
              <li><a href="#">brands</a></li>
            </ul>
          </nav>
          / mobile-secondary-menu 
          <div class="clear"></div>
           state 
          <div class="state">
            <p> <i class="earth"></i> <span class="mob-replace">New Yourk</span> <a class="change" id="mobile-change" href="#"></a> </p>
            <input type="text" id="mobile-cities" />
            
             filter-my-city 
            <div id="filter-my-city">
              <input type="text" id="mobile-cities" />
              <div id="scrollbar-3" class="cityParent locations-to-filter"> 
                 custom scrollbar 
                
                <div class="scrollbar">
                  <div class="track">
                    <div class="thumb">
                      <div class="end"></div>
                    </div>
                  </div>
                </div>
                <div class="viewport">
                  <div class="overview"  id="mycities-states">
                    <ul>
                      <li><a href="#">California</a></li>
                      <li><a href="#">Florida</a></li>
                      <li><a href="#">Iowa</a></li>
                      <li><a href="#">Louisiana</a></li>
                      <li><a href="#">Ohio</a></li>
                      <li><a href="#">Texas</a></li>
                      <li><a href="#">Virginia</a></li>
                      <li><a href="#">Utah</a></li>
                      <li><a href="#">Oregon</a></li>
                      <li><a href="#">New York</a></li>
                      <li><a href="#">New Mexico</a></li>
                      <li><a href="#">New Jersey</a></li>
                      <li><a href="#">Georgia</a></li>
                      <li><a href="#">Arizona</a></li>
                      <li><a href="#">Alaska</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            / filter my items  
            
          </div>
          / state  
          
           mobile-user-menu 
          <nav id="mobile-user-menu">
            <ul>
              <li><a href="#">Invite & earn</a></li>
              <li><a href="#">How it works</a></li>
              <li><a href="#">Shop</a></li>
              <li><a href="#">Shop</a></li>
              <li><a href="#">Sell your stuff</a></li>
              <li><a href="#">My cart</a></li>
              <li><a href="#">Sign in</a></li>
            </ul>
          </nav>
          / mobile-user-menu  
          
        </div>
        / mobile-menu  
      </div>
    </div>
  </div>-->
  <!--/ header -->
<!--  <div class="clearfix"></div>-->
  <!-- secondary-menu -->
<!--  <div class="container-fluid visible-desktop">
    <nav id="secondary-menu" class="floatedSide">
      <div class="container-fluid">
        <ul>
          <li><a href="#">sofas</a></li>
          <li><a class="current" href="#">chairs</a></li>
          <li><a href="#">tables</a></li>
          <li><a href="#">beds</a></li>
          <li><a href="#">storage</a></li>
          <li><a href="#">lighting</a></li>
          <li><a href="#">accessories</a></li>
          <li><a href="#">outdoor</a></li>
          <li><a href="#">brands</a></li>
          <li class="wishlist"><a href="#"> <i></i> 1 </a>
          <li class="cart"><span></span> <a href="#"> <i></i> 1 </a> </li>
          </li>
        </ul>
      </div>
    </nav>
  </div>-->
  <!--/ secondary-menu -->
  
  <div class="clearfix"></div>
  
  <!-- container-fluid -->
  <div class="container-fluid" id="container"> 
    
    <!-- sidebar -->
    <aside id="sidebar-user">
      <div id="accordion"> 
        <!--    <h2> 
    <i class="activeg"></i> 
    <a href="#"> 
    <small class="inbox"></small> Inbox 
    </a>
    <a href="#" class="counting"> <i class="arr"></i> 11 </a>
  </h2> -->
        
        <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/order/history'); ?>"> <small class="purchase"></small> Transaction history </a> <a href="#" class="counting"> <i class="arr"></i> <?php echo $this->ordersCount->getCount(); ?> </a> </h2>
        <h2> <small class="sales"></small> Products <a href="#" class="counting"> <i class="arr"></i>  <?php echo $this->itemsCount->getCount(); ?> </a> </h2>
        <div class="content">
          <h5>My items for sale </h5>
          <ul>
            <li><a href="#">+ Add new product</a></li>
            <li><a href="#">Orders</a></li>
          </ul>
        </div>
        <h2><small class="account"></small> Users </a></h2>
        <div class="content">
          <ul>
            <li><a href="#">Profile</a> </li>
            <li><a href="#">Transaction History</a></li>
            <li><a href="#">Referrals</a> </li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Payout preference</a></li>
          </ul>
        </div>
      </div>
    </aside>
    <!--/ sidebar --> 
    
    <!-- mainContent -->
    <div class="mainContent" id="messages"> 
      
      <!-- user-actions -->
      <div id="user-actions">
        <h2>Transaction History</h2>
        <?php $messages = $this->messages; ?>
        <?php foreach($messages->getMessages('success') as $successMessage):?>
        <div class="alert alert-success"><i></i><?php echo $successMessage; ?> <!--<a href="#">Cancel </a>-->
          <button type="button" class="close" data-dismiss="alert">x</button>
        </div>
        <?php endforeach;?>
        <!-- msg-filter -->
        <div id="msg-filter"> 
            <?php echo $this->form; ?>
<!--            <form method="get" name="search-order" id="search-order" >
           search my items 
          <div class="input-append" id="filter-my-items">
            <input type="text"  id="filter-items" name="search_text" value="<?php if ($_GET) echo $_GET['search_text']; ?>" />
            <input type="hidden" name="search_status" id="search_status" value="<?php if ($_GET) echo $_GET['search_status']; ?>" />
            <input type="submit" style='display: none;'>
            <i class="icon-search"></i> 
             items-to-filter 
            <div class="items-to-filter">
              <div id="wrapitems">
                <div id="scrollitems"></div>
              </div>
              <div id="mysales-items">
                <ul>
                  <li><a href="#">Brand 1</a></li>
                </ul>
              </div>
            </div>
            / items-to-filter  
            
          </div>
          / search my items 
        </form>
               
                 

        
          
          <div class="btn-group" id="purchase-history">
            <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment">All Order Statuses</span> <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="javascript:submitSearchForm('')">All order statuses</a></li>
              <li><a href="javascript:submitSearchForm('0')">In progress</a></li>
              <li><a href="javascript:submitSearchForm('1')">Completed</a></li>
            </ul>
          </div>
        </div>-->
        <!--/ msg-filter -->
        
        
        
        

        <div class="clearfix"></div>
        <div class="btn-group mark-as">
          <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment">Mark status as ...</span> <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="javascript:submitFormWithValue('inprogress')">In Progress</a></li>
            <li><a href="javascript:submitFormWithValue('completed')">Completed</a>
          </ul>
        </div>
        <!--<div class="btn-group mark-as">
          <button class="btn dropdown-toggle" data-toggle="dropdown"> <span class="replacment">Mark payment type as ...</span> <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Statuses</a></li>
            <li><a href="#">All messages</a></li>
            <li><a href="#">Unread</a></li>
          </ul>
      </div> -->       </div>

      <!--/ user-actions -->
      <div class="clear"></div>
      
      <!-- inbox -->


<script type="text/javascript">
function submitFormWithValue(val){
    document.forms["mark-form"].status.value = val;
    document.forms["mark-form"].submit();
}

/*function submitSearchForm(status){

    document.getElementById('search_status').value = status;
    document.forms["search-order"].submit();
}*/
</script>


<?php if ($this->paginator->count() != 0): ?>
      
      <form id="mark-form" name="mark-form" method="post">
        <input type="hidden" name="status" value="" />
      <div id="inbox" class="super-table">
        <table>
          <!-- table header -->
          <tr>
            <th class="boxes"> <div id="checkall">
                <div id="setsel" class="check-box">
                  <input type="checkbox" checked="checked">
                </div>
              </div>
            </th>
            <th class="ordr-numb">Order #</th>
            <th class="prod-price">Price</th>
            <th>Order Date</th>
            <th>Delivery Method</th>
            <th>Order Status</th>
          </tr>
          <!--/ table header -->
          
          
          <?php foreach($this->paginator as $order):?>
          <tr>
            <td class="boxes"><div class="check-box">
                <input type="checkbox" name="order_list[]" value="<?php echo $order['id']; ?>"/>
              </div></td>
            <td class="ordr-numb">
                <?php echo "<a href='" . $this->url(
                array('action' => 'view',
                    'order_id' => $order['id']
                )) . "'>#" . $order['id'] ."</a>"; ?>
            </td>
            <td class="prod-price">
                <?php echo $this->currency($order['total']); ?>
            </td>
            <td class="ordr-date">
                <?php echo date('d F Y', $order['created_at']); ?>
            </td>
            <td class="ordr-date">
                <?php echo $order['shipping_method_id']; ?>
            </td>
            <td class="msg-date">
                <?php if ($order['status']=='Completed'): ?>
                <p class="status recived">
                <?php else: ?>
                <p class="status in-progress">
                <?php endif; ?>
                    <?php echo $order['status']; ?>
                </p>
            </td>
          </tr>
        <?php  endforeach; ?>
         
        </table>
           
    
          
        <div class="clear"></div>
            
        <?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml'); 
    else: 
        echo 'No results'; 
    endif;?>
      </div>
      </form>
      <!--/ inbox --> 
      
      
    </div>
    <!--/ mainContent -->
    
    <div class="clear"></div>
  </div>
  <!--/ container-fluid -->
  <div class="clear"></div>
  <div id="push"></div>
  <!-- keep the footer at the bottom --> 
</div>
<!--/ wrap -->

<div class="totop"><a href="#top">Back to top</a></div>

<!-- footer -->
<!--<footer id="footer">
  <div class="container-fluid">
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">How it works</a></li>
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Return $ Refunds</a></li>
      <li><a href="#">Terms @ Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Blog</a></li>
      <li> <a href="#" class="face-book" target="_blank"></a> <a href="#" class="go-ogle"   target="_blank"></a> <a href="#" class="like-us"   target="_blank"></a> </li>
      <li class="pull-right">
        <p> Looking something specific? <a href="#">Sign up</a> for ann alert! <i></i></p>
      </li>
    </ul>
  </div>
</footer>-->
<!--/ footer --> <!-- js --> 
<script src="js/jquery-1.8.3.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/custom.js"></script> 
<script src="js/bootstrap-fileupload.min.js"></script> 
<script src="js/jcarousellite.js"></script> 
<script src="js/zoom.js"></script> 
<script src="js/maskedinput.min.js"></script> 
<script src="js/jQuery.dPassword.js"></script> 
<script src="js/jquery.tinyscrollbar.min.js"></script> 
<!--/ js -->
</body>
</html>

            