<br><br><br><br>
<table border="1">
    <tr>
        <th>Product #</th>
        <th>Image</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Seller</th>
        <th>Buyer</th>
    </tr>
    <?php foreach ($this->paginator as $product): ?>
<tr>
   <td>
    <?php echo '#' . $product['product_id'] . $product['product_url'];  ?>
       </td>
       <td>
    <?php if ($product['path']):   
        echo $product['path'];
    else:
        echo 'empty_url';  
    endif; ?></td>

    <?php //echo "<img src='" . $product['path'] . "'><br>"; ?>
    <td>
    <?php  echo $product['title'];  ?>
    </td>
    <td>
    <?php echo $product['category_title']; ?>
    </td>
    <td>
    <?php //echo 'Created at ' . $product->getCreatedAt()) . '<br>'; ?>
    <?php echo $this->currency($product['price']); ?>
    </td>
<td>
    <?php echo "<a href='" . $this->url(
        array('module' => 'items',
            'controller' => 'index', 
            'action' => 'index',
            'user_id' => $product['seller_id']
        )) . "'>" . $product['seller_full_name'] . "</a><br>"; ?>      
</td>
<td>
    <?php echo "<a href='" . $this->url(
        array('module' => 'items',
            'controller' => 'index', 
            'action' => 'index',
            'user_id' => $product['buyer_id']
        )) . "'>" . $product['buyer_full_name'] . "</a><br>";  ?>
            </td>
<tr>
    
       <?php  endforeach; ?>
    </table>
<?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml'); ?>