<!DOCTYPE html>
<html>
<head>
<title>aptdeco - one user purchases</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="aptdeco">
<meta name="author" content="aptdeco">
<!-- css -->
<link href="css/core.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<!--/ css -->

<!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<!-- wrap -->
<div id="wrap">
<!-- header -->
<!--<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid"> 
       collapse icon  
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
      <a class="btn btn-navbar" id="get-mobile-menu" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> 
      / collapse icon  
      
      <a class="brand" href="#"> <img src="images/new-logo.png" alt="AptDecologo" /> </a> / logo  
      
       descktop-menu 
      <div class="descktop-menu"> 
        
         nav 
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li><a class="shop" href="#">Shop</a></li>
            <li><a class="sell-ur-stuff" href="#">Sell my stuff</a></li>
            <li><a href="#">Invite & earn</a></li>
            <li><span class="sep"></span></li>
            <li><a href="#">How it works</a></li>
            <li><span class="sep"></span></li>              <li class="btn-group user-access"><a class="dropdown-toggle" data-toggle="dropdown"> Me <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">My dashboard</a></li>
                  <li><a href="#">Sign out</a></li>
                </ul>
              </li>
               search-bar 
            <li>
              <div class="input-append" id="search-bar">
                <input type="text" id="searchField" name="searchField" />
                <span class="add-on"> <i class="icon-search"></i> </span>
                <div id="search-suggestions"> <i></i> 
                   search-suggestions 
                  <ul>
                    <li> <a href="#"><img src="images/fsearch.png" alt="Some item" /> </a>
                      <p><a href="#">Bla Station - Fatback Sofa</a></p>
                    </li>
                    <li> <a href="#"><img src="images/fsearch.png" alt="Some item" /> </a>
                      <p><a href="#">Bla Station - Fatback Sofa</a></p>
                    </li>
                  </ul>
                </div>
                / search-suggestions  
              </div>
               search-bar  
              
            </li>
          </ul>
          
           shop menu 
          <div class="shop-menu"> <a href="#" id="next" class="next"><i></i></a>
            <div id="menu-container"> 
               list-cor 
              <div class="list-cor">
                <ul>
                  <li>
                    <h3>Sofas</h3>
                  </li>
                  <li> <a herf="#">L shape sofas</a> </li>
                  <li> <a herf="#">3 seater sofas</a> </li>
                  <li> <a herf="#">2 seater sofas</a> </li>
                  <li> <a herf="#">Sofa beds</a> </li>
                </ul>
                <ul>
                  <li>
                    <h3>Chairs</h3>
                  </li>
                  <li> <a herf="#">Armchairs</a> </li>
                  <li> <a herf="#">Accent Chairs</a> </li>
                  <li> <a herf="#">Recliners</a> </li>
                  <li> <a herf="#">Office Chaires</a> </li>
                  <li> <a herf="#">Ottomans and footstools</a> </li>
                  <li> <a herf="#">Stools</a> </li>
                  <li> <a herf="#">Benches</a> </li>
                </ul>
                <ul>
                  <li>
                    <h3>Beds</h3>
                  </li>
                  <li> <a herf="#">King Size beds</a> </li>
                  <li> <a herf="#">Queen Size beds </a> </li>
                  <li> <a herf="#">Full Size beds</a> </li>
                  <li> <a herf="#">Twin beds</a> </li>
                  <li> <a herf="#">Bunk beds </a> </li>
                  <li> <a herf="#">Sofa beds</a> </li>
                  <li> <a herf="#">Hedboards</a> </li>
                  <li> <a herf="#">Mattresses</a> </li>
                </ul>
                <ul>
                  <li>
                    <h3>Storage</h3>
                  </li>
                  <li> <a herf="#">Bookcases and Shelves </a> </li>
                  <li> <a herf="#">Sideboards</a> </li>
                  <li> <a herf="#">Cabinets</a> </li>
                  <li> <a herf="#">Chest and Drawers</a> </li>
                  <li> <a herf="#">Bedside tables</a> </li>
                  <li> <a herf="#">Storage tabes</a> </li>
                </ul>
                <ul>
                  <li>
                    <h3>Lightings</h3>
                  </li>
                  <li> <a herf="#">Floor lamps</a> </li>
                  <li> <a herf="#">Desk lamps</a> </li>
                  <li> <a herf="#">Table lamps</a> </li>
                </ul>
                <ul>
                  <li>
                    <h3>Outdoor</h3>
                  </li>
                  <li> <a herf="#">Outdoor tables and chairs</a> </li>
                  <li> <a herf="#">Outdoor Chairs</a> </li>
                </ul>
              </div>
              // list-cor  
               list-cor 
              <div class="list-cor">
                <ul>
                  <li>
                    <h3>Sofas</h3>
                  </li>
                  <li> <a herf="#">L shape sofas</a> </li>
                  <li> <a herf="#">3 seater sofas</a> </li>
                  <li> <a herf="#">2 seater sofas</a> </li>
                  <li> <a herf="#">Sofa beds</a> </li>
                </ul>
                <ul>
                  <li>
                    <h3>Chairs</h3>
                  </li>
                  <li> <a herf="#">Armchairs</a> </li>
                  <li> <a herf="#">Accent Chairs</a> </li>
                  <li> <a herf="#">Recliners</a> </li>
                  <li> <a herf="#">Office Chaires</a> </li>
                  <li> <a herf="#">Ottomans and footstools</a> </li>
                  <li> <a herf="#">Stools</a> </li>
                  <li> <a herf="#">Benches</a> </li>
                </ul>
                <ul>
                  <li>
                    <h3>Beds</h3>
                  </li>
                  <li> <a herf="#">King Size beds</a> </li>
                  <li> <a herf="#">Queen Size beds </a> </li>
                  <li> <a herf="#">Full Size beds</a> </li>
                  <li> <a herf="#">Twin beds</a> </li>
                  <li> <a herf="#">Bunk beds </a> </li>
                  <li> <a herf="#">Sofa beds</a> </li>
                  <li> <a herf="#">Hedboards</a> </li>
                  <li> <a herf="#">Mattresses</a> </li>
                </ul>
                <ul>
                  <li>
                    <h3>Storage</h3>
                  </li>
                  <li> <a herf="#">Bookcases and Shelves </a> </li>
                  <li> <a herf="#">Sideboards</a> </li>
                  <li> <a herf="#">Cabinets</a> </li>
                  <li> <a herf="#">Chest and Drawers</a> </li>
                  <li> <a herf="#">Bedside tables</a> </li>
                  <li> <a herf="#">Storage tabes</a> </li>
                </ul>
                <ul>
                  <li>
                    <h3>Lightings</h3>
                  </li>
                  <li> <a herf="#">Floor lamps</a> </li>
                  <li> <a herf="#">Desk lamps</a> </li>
                  <li> <a herf="#">Table lamps</a> </li>
                </ul>
                <ul>
                  <li>
                    <h3>Outdoor</h3>
                  </li>
                  <li> <a herf="#">Outdoor tables and chairs</a> </li>
                  <li> <a herf="#">Outdoor Chairs</a> </li>
                </ul>
              </div>
              // list-cor  
            </div>
            <a href="#" id="prev" class="prev"><i></i></a> </div>
          / shop menu 
          <ul class="nav">
             state 
            <li class="state">
              <p> <i class="earth"></i><span class="replTxt">New Yourk</span><a class="change" href="#"></a> </p>
              <div id="choose-a-city">
              <input type="text" id="cities" />
              <div class="parent" id="cityParent">
              <div class="scrollbar"></div>
              <div class="scrollable">
              <ul>
                <li><a href="#">California</a></li>
                <li><a href="#">Florida</a></li>
                <li><a href="#">Iowa</a></li>
                <li><a href="#">Louisiana</a></li>
                <li><a href="#">Ohio</a></li>
                <li><a href="#">Texas</a></li>
                <li><a href="#">Virginia</a></li>
                <li><a href="#">Utah</a></li>
                <li><a href="#">Oregon</a></li>
                <li><a href="#">New York</a></li>
                <li><a href="#">New Mexico</a></li>
                <li><a href="#">New Jersey</a></li>
                <li><a href="#">Georgia</a></li>
                <li><a href="#">Arizona</a></li>
                <li><a href="#">Alaska</a></li>
              </ul>
              <div>
              <div> </div>
            </li>
            / state 
          </ul>
        </div>
        /nav  
        
      </div>
      / descktop-menu  
      
       mobile-menu 
      <div class="mobile-menu"> 
        
         mobile search 
        <div class="input-append" id="mobile-search-bar">
          <input type="text" id="mobile-searchField" name="mobile-searchField">
          <span class="add-on"> <i class="icon-search"></i> </span> </div>
        / mobile search  
        
         mobile-secondary-menu 
        <nav id="mobile-secondary-menu">
          <ul>
            <li><a href="#">sofas</a></li>
            <li><a href="#">chairs</a></li>
            <li><a href="#">tables</a></li>
            <li><a href="#">beds</a></li>
            <li><a href="#">storage</a></li>
            <li><a href="#">lighting</a></li>
            <li><a class="current" href="#">accessories</a></li>
            <li><a href="#">outdoor</a></li>
            <li><a href="#">brands</a></li>
          </ul>
        </nav>
        / mobile-secondary-menu 
        <div class="clear"></div>
         state 
        <div class="state">
          <p> <i class="earth"></i> New Yourk <a class="change" href="#"></a> </p>
        </div>
        / state  
        
         mobile-user-menu 
        <nav id="mobile-user-menu">
          <ul>
            <li><a href="#">Invite & earn</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Sell your stuff</a></li>
            <li><a href="#">My cart</a></li>
            <li><a href="#">Sign in</a></li>
          </ul>
        </nav>
        / mobile-user-menu  
        
      </div>
      / mobile-menu  
    </div>
  </div>
</div>
/ header 
<div class="clearfix"></div>
 secondary-menu 
<div class="container-fluid">
  <nav id="secondary-menu">
    <ul>
      <li><a href="#">sofas</a> </li>
      <li><a class="current" href="#">chairs</a> </li>
      <li><a href="#">tables</a> </li>
      <li><a href="#">beds</a> </li>
      <li><a href="#">storage</a> </li>
      <li><a href="#">lighting</a> </li>
      <li><a href="#">accessories</a> </li>
      <li><a href="#">outdoor</a> </li>
      <li><a href="#">brands</a> </li>
      <li class="wishlist"><a href="#"> <i></i> 1 </a>
      <li class="cart"><span></span> <a href="#"> <i></i> 1 </a> </li>
      </li>
    </ul>
  </nav>
   search-bar 
  <div class="input-append pull-right" id="search-bar">
    <input type="text" id="searchField" name="searchField" />
    <span class="add-on"><i class="icon-search"></i></span> </div>
  / search-bar  
</div>
/ secondary-menu -->

<div class="clearfix"></div>

<!-- container-fluid -->
<div class="container-fluid" id="container"> 
  
  <!-- sidebar -->
  <aside id="sidebar-user">
    <div id="accordion">
      <h2> <a href="<?php echo Ikantam_Url::getUrl('admin/order/history'); ?>"> <small class="purchase"></small> Transaction history </a> <a href="#" class="counting"> <i class="arr"></i> <?php echo $this->ordersCount->getCount(); ?> </a> </h2>
      <h2> <small class="sales"></small> Products <a href="#" class="counting"> <i class="arr"></i> <?php echo $this->itemsCount->getCount(); ?> </a> </h2>
      <div class="content">
        <h5>My items for sale </h5>
        <ul>
          <li><a href="#">+ Add new product</a></li>
          <li><a href="#">Orders</a></li>
        </ul>
      </div>
      <h2><small class="account"></small> Users </a></h2>
      <div class="content">
        <ul>
          <li><a href="#">Profile</a> </li>
          <li><a href="#">Transaction History</a></li>
          <li><a href="#">Referrals</a> </li>
          <li><a href="#">Notifications</a></li>
          <li><a href="#">Payout preference</a></li>
        </ul>
      </div>
    </div>
  </aside>
  <!--/ sidebar --> 
  
  <!-- mainContent -->
  <div class="mainContent" id="messages"> 
    
    <!-- user-actions -->
    <div id="user-actions"> 
      <!-- <h2>Users</h2> --> 
      <!--  account-block -->
      <div class="account-block one-user-sales"> 
        
        <!-- basic-account-info -->
        <div class="basic-account-info"> 
          
          <!-- profile-image -->
          <div class="profile-image"> <img src="images/profile-image.png" alt="User image" /> 
            <!-- <a href="#changeImage" data-toggle="modal" >Change image</a>  --> 
            
            <!-- verify your phone modal -->
            <div id="changeImage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h3>Change your photo</h3>
              <div class="fileupload fileupload-new" data-provides="fileupload"> <span class="btn btn-file"> <span class="fileupload-new">Upload file</span> <span class="fileupload-exists">Change</span>
                <input type="file" />
                </span> <span class="fileupload-preview"></span> </div>
            </div>
            <!--/ verify your phone modal --> 
            
          </div>
          <!--/ profile-image --> 
          
          <!-- account-info -->
          <div class="account-info">
              <?php $user = $this->user;?>
            <!-- def-account-info -->
            <div class="def-account-info">
              <h3><?php echo $user->getFullName(); ?></h3>
              <p><?php $address = $user->getPrimaryAddress();?>
                  <?php if ($address): ?>
                    <?php echo $address->getCountryCode() ;?><br>
                    <?php echo $address->getCity() ;?><br>
                    <?php echo $address->getState() ;?><br>
                    <?php echo $address->getAddressLine1() ;?><br>
                    <?php echo $address->getAddressLine2() ;?><br>
                    <?php echo $address->getPostCode() ;?><br>
                <?php endif; ?>
              </p>
              
              <!-- social-blocks -->
              <div class="social-blocks">
                <ul>
                  <li> <a href="#vphoneModal" data-toggle="modal" class="verify-by-phone"> <span><i></i></span> Verified by Phone </a> <i class="success-veriation"></i> </li>
                  <li> <a href="#" class="verify-by-fb"> <span><i></i></span> Verified via Facebook </a> <i class="success-veriation"></i> </li>
                  <li> <a href="#" class="verify-by-linkin"> <span><i></i></span> Connect via Linkedin </a> <i class="not-verified"></i> </li>
                </ul>
              </div>
              <!--/ social-blocks --> 
            </div>
            <!--/ def-account-info -->
            <div class="clear"></div>
            <!-- edit-veriations -->
            <div class="edit-veriations">
              <h3>verify your identity</h3>
              <p> Build your reputation,and validate your identity in a few easy steps by verifying your phone number and connecting your profile to popular social networks. </p>
              
              <!-- social-blocks -->
              <div class="social-blocks">
                <ul>
                  <li> <a href="#vphoneModal" data-toggle="modal" class="verify-by-phone"> <span><i></i></span> Verified by Phone </a> <i class="success-veriation"></i> </li>
                  <li> <a href="#" class="verify-by-fb"> <span><i></i></span> Verified via Facebook </a> <i class="success-veriation"></i> </li>
                  <li> <a href="#" class="verify-by-linkin"> <span><i></i></span> Connect via Linkedin </a> <i class="not-verified"></i> </li>
                </ul>
              </div>
              <!--/ social-blocks --> 
              
            </div>
            <!--/ edit-veriations --> 
            
          </div>
          <!-- basic-account-info --> 
        </div>
        <!--/ account-block -->
        
        <div class="clear"></div>
        
        <!-- birthday block -->
        <div class="account-block">
          <div class="control-group birthday-field">
            <label class="control-label" for="birthday">Birthday:</label>
            <div class="controls">
              <p class="def-bd-field"> <?php if ($user->getDateOfBirth()) { echo $user->getDateOfBirth(); } //date('d F Y', $user->getDateOfBirth());?> </p>
            </div>
          </div>
        </div>
        <!--/ birthday block -->
        
        <div class="clear"></div>
        
        <!-- email block -->
        <div class="account-block"> 
          <!-- <a href="#" class="edit-user-profile" id="editEmailInfo">Edit</a> -->
          <div class="control-group email-fields">
            <label class="control-label" for="e-mail">E-mail:</label>
            <div class="controls">
              <p class="def-email-field">CHECK!!!email@mail.com</p>
            </div>
          </div>
        </div>
        <!--/ email block -->
        
        <div class="clear"></div>
        
        <!-- phone number block -->
        <div class="account-block"> 
          <!-- <a href="#" class="edit-user-profile" id="editPhoneInfo">Edit</a> -->
          <div class="control-group phone-fields">
            <label class="control-label" for="phone-nuumber">Phone Number:</label>
            <div class="controls">
              <p class="def-phone-field"><?php if ($user->getPrimaryPhone()) { echo $user->getPrimaryPhone()->getPhone(); } ?></p>
            </div>
          </div>
        </div>
        <!--/ phone number block --> 
        
        <!-- account details block -->
        <div class="account-block lastCh"> 
          <!-- <a href="#" class="edit-user-profile" id="editAccountDetails">Edit</a> -->
          <div class="control-group phone-fields">
            <label class="control-label" for="e-mail">Account Details:</label>
            <div class="controls">
              <p class="def-account-field"></p>
            </div>
          </div>
        </div>
        <!--/ account details block --> 
      </div>
      <!--/ account-info --> 
      
      <!-- user-sales-nav -->
      <nav id="user-sales-nav">
        <ul>
          <li> <span></span> <a href="<?php echo $this->url(array('action' => 'sales')); ?>">Sales</a> </li>
          <li class="active-user"> <span></span> <a href="<?php echo $this->url(array('action' => 'purchase')); ?>">Purchases</a> </li>
        </ul>
      </nav>
      <!--/ user-sales-nav -->
      
      <div class="clear"></div>
      
      <!-- inbox -->
      <div id="inbox" class="one-user-table">
          <?php if ($this->paginator->count() !=0): ?>
        <table>
          <!-- table header -->
          <tr>
            <th class="use-rname"></th>
            <th class="prod-name">Product Name</th>
            <th class="ordr-date">Category</th>
            <th class="prod-price">Price</th>
            <th>Seller</th>
          </tr>
          <!--/ table header -->
          <?php foreach ($this->paginator as $product):?>
          
          <tr>
            <td class="thmb-sales"><a href="#"> <img src="<?php if ($product['path']):   
                echo $product['path'];
            else:
                echo 'images/item-1.png';
                //echo 'empty_url';  
            endif; ?>" alt="slide" /> </a>
            </td>
            <td class="prod-name"><a href="<?php echo $product['product_url']; ?>"> <?php echo $product['title']; ?> </a></td>
            <td class="ordr-date"> <?php echo $product['category_title']; ?> </td>
            <td class="prod-price"> <?php echo $this->currency($product['price']); ?> </td>
            <td class="msg-date"> <?php echo $product['view_profile_link'];?> </td>
          </tr>
          <?php  endforeach; ?>
          <!--<tr>
            <td class="thmb-sales"><a href="#"> <img src="images/slide-1.png" alt="slide-1" /> </a></td>
            <td class="prod-name"><a href="#">Bla Station - Fatback Sofa</a></td>
            <td class="ordr-date">Sofa</td>
            <td class="prod-price">$150</td>
            <td class="msg-date"><a href="#">Miu Mau</a></td>
          </tr>-->

        </table>
        <div class="clear"></div>
        <!--<div class="pagination pagination-right">
          <ul>
            <li class="old-msgs"><a href="#"><i></i></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="new-msgs"><a href="#"><i></i></a></li>
          </ul>
        </div>-->
        
        <?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml'); 
else:
    echo 'No results';
endif; ?>
      </div>
      <!--/ inbox --> 
      
    </div>
    <!--/ mainContent -->
    
    <div class="clear"></div>
  </div>
  <!--/ container-fluid -->
  <div class="clear"></div>
  <div id="push"></div>
  <!-- keep the footer at the bottom --> 
</div>
<!--/ wrap -->

<div class="totop"><a href="#top">Back to top</a></div>

<!-- footer -->
<!--<footer id="footer">
  <div class="container-fluid">
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">How it works</a></li>
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Return $ Refunds</a></li>
      <li><a href="#">Terms @ Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Blog</a></li>
      <li> <a href="#" class="face-book" target="_blank"></a> <a href="#" class="go-ogle"   target="_blank"></a> <a href="#" class="like-us"   target="_blank"></a> </li>
      <li class="pull-right">
        <p> Looking something specific? <a href="#">Sign up</a> for ann alert! <i></i></p>
      </li>
    </ul>
  </div>
</footer>-->
<!--/ footer --> <!-- js --> 
<script src="js/jquery-1.8.3.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/custom.js"></script> 
<script src="js/bootstrap-fileupload.min.js"></script> 
<script src="js/jcarousellite.js"></script> 
<script src="js/zoom.js"></script> 
<script src="js/maskedinput.min.js"></script> 
<script src="js/jQuery.dPassword.js"></script> 
<script src="js/jquery.tinyscrollbar.min.js"></script> 
<!--/ js -->
</body>
</html>