<div class="main-container push-header">
    <div class="main-row">

        <?php echo $this->partial('blog/sidebar.phtml', 'default', array('categories' => $this->categories, 'current_controller' => 'blog', 'slug' => $this->slug)); ?>

        <div  class="aptcol-sm-9 main apt-blog" break-col="md">
            <h2 class="apt-title page clearfix">
                <a href="#show-sidebar" class="show-mid apt-btn pull-left menu-mid"><i class="ico-bars top-4"></i></a> 
                Blog
            </h2>

            <?php echo $this->partial('blog/items.phtml', 'default', $this); ?>

            <?php echo $this->partial('blog/pagination.phtml', 'default', $this); ?>
        </div>
    </div>
</div>