<div class="main-container push-header">
    <div class="main-row">

        <?php echo $this->partial('blog/sidebar.phtml', 'default', array('categories' => $this->categories, 'current_controller' => '', 'slug' => '')); ?>

        <div  class="aptcol-sm-9 main apt-blog" break-col="md">
            <h2 class="apt-title page clearfix">
                <a href="#show-sidebar" class="show-mid apt-btn pull-left menu-mid"><i class="ico-bars top-4"></i></a>
                <?php echo $this->escape($this->post['post_title']); ?>
            </h2>
            <div class="content-block">
                <div class="mceContentBody">
                    <p>
                        <?php echo nl2br($this->post['post_content']) ?>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
