<?php if ($this->totalPages > 1) : ?>
    <div class="posts-paginations">
        <?php if ($this->page > 1) : ?>
            <a rel="nofollow" href="<?php echo Ikantam_Url::getUrl('blog/category/' . $this->slug, array('page' => $this->page - 1)); ?>">&larr; newer posts</a>
        <?php endif; ?>

        <?php if (($this->page > 1) && ($this->page < $this->totalPages)) : ?>
            <span></span>
        <?php endif; ?>

        <?php if ($this->page < $this->totalPages) : ?>
            <a rel="nofollow" href="<?php echo Ikantam_Url::getUrl('blog/category/' . $this->slug, array('page' => $this->page + 1)); ?>">older posts &rarr;</a>
        <?php endif; ?>
    </div>
<?php endif; ?>