<?php $curCon = isset($this->current_controller) ? $this->current_controller : '' ?>

<aside id="show-sidebar" class="aptcol-sm-3 main-sidebar hide-mid" data-keep="true">
    <a href="#show-sidebar" class="show-mid apt-btn menu-mid"><i class="ico-bars"></i></a>

    <div class="apt-sidebar static-sidebar">
        <div class="static-menu">
            <ul>
                <li>
                    <a href="<?php echo Ikantam_Url::getUrl('how-it-works/index'); ?>">How it works</a>
                </li>

                <li>
                    <a href="<?php echo Ikantam_Url::getUrl('about/index'); ?>">About us</a>
                </li>

                <li>
                    <a href="<?php echo Ikantam_Url::getUrl('faq/index'); ?>">FAQ</a>
                </li>

                <li<?php if ($curCon == 'blog'): ?> class="active"<?php endif; ?>>
                    <a href="<?php echo Ikantam_Url::getUrl('blog/index'); ?>">Blog</a>
                </li>

                <li>
                    <a href="<?php echo Ikantam_Url::getUrl('jobs/index'); ?>">Jobs</a>
                </li>              
            </ul>
        </div>

        <div class="sm-block">
            <a href="<?php echo Ikantam_Url::getUrl('returns/index'); ?>">Return &amp; Refunds</a>
            <a href="<?php echo Ikantam_Url::getUrl('terms/index'); ?>">Terms &amp; Conditions</a>
            <a href="<?php echo Ikantam_Url::getUrl('privacy/index'); ?>">Privacy Policy</a>
        </div>

        <div class="cats-menu">
            <h3><strong>Categories</strong></h3>
            <ul>
                <?php foreach ($this->categories as $_category): ?>
                    <li class="<?php echo $this->slug == $_category['slug'] ? 'is-active' : '' ?>">
                        <a href="<?php echo $this->getUrl('blog/category/' . $_category['slug']) ?>"><?php echo $_category['name'] ?></a>
                        <span class="total-posts">(<?php echo $_category['count'] ?>)</span>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
</aside>