<?php $postUrl  = Ikantam_Url::getUrl('blog/' . $this->post['post_name']); ?>

<?php $imageUrl = ''; ?>
<?php $html     = new DOMDocument(); ?>
<?php @$html->loadHTML($this->post['post_content']); ?>

<?php foreach ($html->getElementsByTagName('img') as $img) : ?>
    <?php $src = $img->getAttribute('src'); ?>
    <?php if (!empty($src)) : ?>
        <?php $imageUrl = $src; ?>
        <?php break; ?>
    <?php endif; ?>
<?php endforeach ?>

<?php $twitterUrl   = 'https://twitter.com/share?url=' . urlencode($postUrl); ?>
<?php $facebookUrl  = 'https://www.facebook.com/sharer/sharer.php?u=' . urlencode($postUrl); ?>
<?php $googleUrl    = 'https://plus.google.com/share?url=' . urlencode($postUrl); ?>
<?php $pinterestUrl = 'http://www.pinterest.com/pin/create/button/?url=' . urlencode($postUrl) . '&media=' . urlencode($imageUrl); ?>

<ul class="inline-list social-share clearfix">
    <li><a target="_blank" href="<?php echo $twitterUrl; ?>"><i class="apt-social-media"></i></a></li>
    <li><a target="_blank" href="<?php echo $facebookUrl; ?>"><i class="apt-social-media fb"></i></a></li>
    <li><a target="_blank" href="<?php echo $googleUrl; ?>"><i class="apt-social-media gp"></i></a></li>
    <?php if (!empty($imageUrl)) : ?>
        <li>
            <a data-pin-do="buttonPin" data-pin-config="above" target="_blank" href="<?php echo $pinterestUrl; ?>"><i class="apt-social-media pt"></i></a>
        </li>
    <?php endif; ?>
</ul>